@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model CustomTemplateViewModel;
@{
    //Layout = string.Concat( "~/Areas/Core/Views/Shared/Themes/",Model.Portal.Theme.ToString(),"/_Layout.cshtml");
    Layout = null;
}
 
<div class="pad-15">
    <div id="formio-container">
    </div>
</div>





