@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model bool
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}

<div class="p-5">
    @if (Model)
    {
        <h3 class="text-success">E Sign completed successfully.</h3>
    }
    else
    {
        <h3 class="text-danger">E Sign failed. Please try again</h3>
    }
</div>
