@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model PageViewModel;
@{
    Layout = string.Concat("~/Areas/Core/Views/Shared/Themes/", Model.Portal.Theme.ToString(), "/", Model.Layout, ".cshtml");
}
<style>
    .accordion-button {
        color: white;
        margin-top: 0px;
        padding: 0px !important;
    }

    .accordion-text {
        padding-left: 5px;
        vertical-align: text-bottom;
        text-transform: uppercase;
    }
</style>
@if (Model.Portal.EnableBreadcrumb)
{
    <div class="row p-3 pl-4" id="cms-breadscrumb">
        <div class="col-11">
            <span><a href="javascript://void(0);" onclick="return OnBreadcrumbClick('@ViewBag.Portal.LandingPage', null,'@ViewBag.PageType',null,null,null,'Reload')"><i class="far fa-home pr-1"></i>@SharedResource["Home"]</a></span>
            <span id="bc">
            </span>
        </div>
        <div class="col-1" style="text-align:right" id="divtooltip">
            <span id="tooltip" class="key-button wider test"><i class="fad fa-question-circle" style="color:red;font-size:20px;"></i></span>

        </div>
    </div>

}
@if (Model.Portal.EnableAccordianMenu)
{
    <div id="layout-am">
    </div>
}
<div id="cms-content">
</div>

<script>
    function OnBreadcrumbClick(url, id, pageType, source, dataAction, recordId, loadType, container) {
        if (loadType == 'Reload') {
            window.location.href = url;
        }
        else if (loadType == 'PartialView') {
            //window.location.href = url;
            LoadPartailView(url, container);
        }
        else {
            LoadPageById(id, pageType, source, dataAction, recordId);
        }
        return false;
    }
</script>
