@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model NoteTemplateViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<script>
    $(document).ready(function () {
        var formio = document.getElementById('formio');
        var ui =  @Html.Raw(Model.Json);
        var dataJ =  @Html.Raw(Model.DataJson);
        alert();
     Formio.createForm(formio, ui).then(function (form) {
            form.submission = { data: dataJ };
        });
   });
</script>
<div id="formio">
    123

</div>
