@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DocumentController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
	ViewData["Title"] = "Dashboard";
	Layout = null;
}

<style>
	.btn-primary {
		background-color: #006bb4;
		border-color: #006bb4;
		color: #fff;
		position: relative;
		top: 0;
		transition: top ease 0.3s;
	}

		.btn-primary:hover {
			background-color: #0060a2;
			top: -2px;
		}

			.btn-primary:hover .button-text {
				text-decoration: underline;
			}

	.button-text {
		margin-left: 5px;
		font-size: medium;
	}

	.m-top-5 {
		margin-top: 5px;
	}
	.m-top-10 {
		margin-top: 10px;
	}
	.m-top-20 {
		margin-top: 20px;
	}
	.m-top-30 {
		margin-top: 30px;
	}

	.box {
		box-shadow: 0px 1px 22px -12px #607d8b;
		background-color: #fff;
		padding: 25px 35px 25px 30px;
	}

	.box {
		min-height:400px;
		max-height:400px;
	}	
	/*.belowHead-main .col-md-8 {
		padding-right: 5px;		
	}

	.belowHead-main .col-md-4 {		
		padding-left: 5px;
		padding-right: 5px;
	}*/
	.belowHead-nav h3{
		font-weight: 500;
	}

	.belowHead-main h5 {
		font-weight: 400;
	}

	.k-listview-content{
		overflow:hidden;
		
	}
	.k-listview{
		border: none;
	}
	.hr{
		border-top: 3px solid highlight;
	}
	.text_span{
		font-size:13px;
		font-weight: 500;
		color: #a79f9f;
	}

	.light-gray {
		color: lightgray;
	}

	.light-highlight {
		color: Highlight;
		font-size:1.5em;
	}
	.list_item{
		line-height: 50px;
	}
</style>





<div class="control-section" style="margin:10px">
	<div class="belowHead-nav">
		<div class="row">
			<div class="col-md-6">
				<div class="L-block">
					<h3><b>Dashboard</b></h3>
				</div>
			</div>
			<div class="col-md-6">
				<div class="R-block">
					<div class="pull-right">
						<button type='button' class='btn btn-primary shadow' onclick='OnCreateDocument();' style="float:right;">
							<span class="button-body">
								<span class="fa fa-plus-circle"></span>
								<span class="button-text">Create Document</span>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row m-top-5">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-2">						
						<i class="fal fa-album-collection light-gray" style="color: #f8f9fa;border: 1px solid rgb(238 127 242); border-radius: 50%;padding: 14px 14px 14px 14px;background: rgb(238 127 242);font-size: 27px;"></i>
					</div>
					<div class="col-md-10 m-top-5">
						<div class="row">
							<div class="col-md-12">
								<span style="font-weight: 600;color: lightgray;">Document Type</span>
							</div>
							<div class="col-md-12">
								<span><b>@ViewBag.DocumentTypeCount types</b></span>
							</div>
						</div>
					</div>
				</div>


			</div>
			@*<div class="col-md-2">
				<div class="row">
					<div class="col-md-2">
						<i class="fal fa-file-alt fa-2x m-top-5 light-gray"></i>
					</div>
					<div class="col-md-10" style="margin-left: -10px;">
						<div class="row">
							<div class="col-md-12">
								<span>Units</span>
							</div>
							<div class="col-md-12">
								<span><b>4 teams</b></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-2">
						<i class="fal fa-file-alt fa-2x m-top-5 light-gray"></i>
					</div>
					<div class="col-md-10" style="margin-left: -10px;">
						<div class="row">
							<div class="col-md-12">
								<span>Team</span>
							</div>
							<div class="col-md-12">
								<span><b>4 members</b></span>
							</div>
						</div>
					</div>
				</div>
			</div>*@
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-2">						
						<i class="fal fa-file-alt light-gray" style="color: #f8f9fa;border: 1px solid rgb(0, 227, 150); border-radius: 50%;padding: 14px 18px 14px 18px;background: rgb(0, 227, 150);font-size: 27px;"></i>
					</div>
					<div class="col-md-10 m-top-5">
						<div class="row">
							<div class="col-md-12">
								<span style="font-weight: 600;color: lightgray;">Documents</span>
							</div>
							<div class="col-md-12">
								<span><b>@ViewBag.DocumentCount files</b></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="belowHead-main m-top-30">		
		<div class="row">
			<div class="col-md-8">
				<div class="box">		
					<h5>PENDING DOCUMENTS</h5>
					<hr class="hr" />
					<div id="PendingDocuments" style="width: 100%; height: 300px;overflow:hidden" class="ag-theme-material"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<h5>DOCUMENT SUMMARY</h5>
					<hr class="hr" />
					<div id="DocumentSummary"></div>
				</div>
			</div>
		</div>
		<div class="row m-top-20">
			<div class="col-md-4">
				<div class="box">
					<h5>RECENT DOCUMENTS</h5>
					<hr class="hr" style="margin-bottom:40px;" />
					<div id="RecentDocuments"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<h5>RECENT ACTIVITIES</h5>
					<hr class="hr" style="margin-bottom:40px;" />
					<div id="RecentActivities"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<h5>ANALYSIS</h5>
					<input id="Filter" style="width: 35%;top: 15px;position: absolute;right: 25px;" />
					<hr class="hr" />
					<div id="Analysis"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		debugger;
		loadFilterDll();
		loadRecentDocuments();
		loadRecentActivities();
		getDataGridStack();
		donutchart();
		analysischart();
	});
	var dataSourceRecentDocuments = new kendo.data.DataSource({
		transport: {
			read: {
				url: "/Dms/Document/GetRecentDocuments",
			},
		},
	});
	var dataSourceRecentActivities = new kendo.data.DataSource({
		transport: {
			read: {
				url: "/Dms/Document/GetRecentActivities",
			},
		},
	});
	function loadRecentDocuments(){	
		$("#RecentDocuments").kendoListView({
			dataSource: dataSourceRecentDocuments,
			autoBind: true,
			tagName: "div",
			template: kendo.template($("#template_recentdocuments").html())
		});
	}
	function loadRecentActivities() {
		$("#RecentActivities").kendoListView({
			dataSource: dataSourceRecentActivities,
			autoBind: true,
			tagName: "div",
			template: kendo.template($("#template_recentactivities").html())
		});
	}
	function loadFilterDll(){
		$("#Filter").kendoDropDownList({
			dataTextField: "Name",
			dataValueField: "Id",
			value: "0",
			// change: formType,
			dataSource: [
				{ Name: "Document Type", Id: "0" }
			],
		});
	}
	function donutchart() {
		$.ajax({
			type: "GET",
			//url: "/Cms/BusinessAnalytics/GetChartDataByItemNameWithParams?itemName=Document Summary",
			url: "/Dms/Document/GetAllDocumentSummary",
			success: function (ds) {				
				if (ds != "" && ds != null) {					
					var count = [];
					var cat = [];
					ds.forEach((index) => {
						cat.push(index["Name"]);
						count.push(parseInt(index["Count"]));
					});
					var options = {
						series: count,
						chart: {
							type: 'donut',
						},
						labels: cat,
						//colors: ['#01cc6e', '#e12436', '#0dcaf0'],
						//theme: {
						//	mode: skin == "dark" ? "dark" : "light",							
						//},
						responsive: [{
							breakpoint: 480,
							options: {
								chart: {
									width: 350
								},
								legend: {
									position: 'bottom'
								}
							}
						}]
					};
					document.getElementById("DocumentSummary").innerHTML = "";
					if (ds.length > 0) {
					var chart = new ApexCharts(document.querySelector("#DocumentSummary"), options);
						chart.render();
					}
					//eval(response);
				}
			},
			error: function (response) {
				alert("error");
			},
		});		
	}
	function analysischart() {
		if ($("#Filter").val()=="0"){
			$.ajax({
				type: "GET",				
				url: "/Dms/Document/GetAllDocumentAnalysis",
				success: function (ds) {					
					if (ds != "" && ds != null) {
						var cat = [];
						var name = [];
						var ser = [];
						ds.forEach((index) => {

							cat.push(index["Code"]);
							name.push(index["Name"]);
						});
						var uniqueCat = cat.filter(function (itm, i, cat) {
							return i == cat.indexOf(itm);
						});

						var uniqueStatus = name.filter(function (itm, i, name) {
							return i == name.indexOf(itm);
						});

						uniqueStatus.forEach(function (item) {
							var count = [];
							ds.forEach((index) => {
								if (item == index["Name"]) {
									count.push(index["Count"]);
								}
							});
							var arr = { name: item, data: count };
							ser.push(arr);
						});

						var options = {
							chart: {
								type: "bar",
								height: "300",
								stacked: true,
								//stackType: '100%',
								events: {
									click: function (chart, w, e) {
										OnSeriesClick(chart, w, e);
									}
								}
							},
							//colors: ['#00E396', '#FD6A6A', '#03A9F4', '#4CAF50', '#FA4443'],
							dataLabels: {
								enabled: false
							},
							stroke: {
								show: true,
								width: 1,
								colors: ["#fff"]
							},
							fill: {
								opacity: 1
							},
							//theme: {
							//	mode: skin == "dark" ? "dark" : "light",
								
							
							//},
							plotOptions: {
								bar: {
									distributed: false,
									horizontal: false



								}
							},

							series: ser,
							xaxis: {
								categories: uniqueCat,
								labels: { show: true, align: "left" }
							},
							yaxis: {
								//labels: {
								//formatter: function (value) {
								//return  value;
								//},
								//minHeight:100
								//}
							},
							tooltip: {
								y: {
									formatter: function (val) {
										return val /*+ " %"*/
									}
								}
							},
							legend: { show: true, position: "bottom" },
							labels: {
								style: {
									fontSize: "12px"
								}
							}
						}				
						document.getElementById("Analysis").innerHTML = "";
						if (ds.length > 0) {
							var chart = new ApexCharts(document.querySelector("#Analysis"), options);
							chart.render();
						}						
					}
				},
				error: function (response) {
					alert("error");
				},
			});
			
		}
		
	}
	function pendingDocumentchart() {
		$.ajax({
			type: "GET",
			url: "/Cms/BusinessAnalytics/GetChartDataByItemNameWithParams?itemName=Pending Documents",
			success: function (response) {
				if (response != "" && response != null) {
					eval(response);
				}
			},
			error: function (response) {
				alert("error");
			},
		});
	}
	var columnDefs = [
		//{
		//	field: "DocumentNo",
		//	//maxWidth: 100,
		//	headerName: 'Document No',

		//},
		{
			field: "DocumentName",
			headerName: 'Name',
		},		
		{
			field: "DocumentType",
			headerName: 'Type',
		},
		{
			field: "WorkflowStatus",
			headerName: 'Status',
		},
		{
			field: "OwnerName",
			headerName: 'Owner',
		},
		{
			field: "DueDateDisplay",
			headerName: 'Due Date',
			//cellRenderer: params => {
			//	return params.data.DueDate.tostring("dd MMM yyyy");
   //         }
		},
		{
            field: "View",
            headerName: "",           
            cellRenderer: params => {
                return "<span  onclick='viewWorkflow(\""+params.data.WorkflowId+"\",\""+params.data.WorkflowTemplateCode+"\")' style='color:highlight;cursor: pointer'>Review</span>";
            }
        }
	];
	function getDataGridStack() {
		document.getElementById("PendingDocuments").innerHTML = "";
		gridConfig(
			"PendingDocuments",
			"/Dms/Document/GetTopPendingDocuments",
			columnDefs,
			false,
			true,
			true,
			true,
			1,
			false,
			4);
	}
	function viewWorkflow(ServiceId, workflowTemplateCode) {		
		var portalId = $('#GlobalPortalId').val();		
		var url = '/Cms/Page?lo=Popup&popup=true&cbm=RefreshAllParentNode&source=View&dataAction=View&templateCodes=' + workflowTemplateCode + '&portalId=' + portalId + '&recordId=' + ServiceId;
		var win = GetMainWindow();
		win.iframeOpenUrl = url;
		win.OpenWindow({ Title: 'ViewWorkflow', Width: 1200, Height: 600 });
		return false;
	}
	 function OnCreateDocument() {
        var win = GetMainWindow();
		win.iframeOpenUrl = '@Url.Action("FileExplorerLeft", "Document", new { @area="Dms"})';
        win.OpenWindow({ Title: 'Select Folder', Width: 450, Height: 750, Position: 'Right'});
        return false;
    }
	function RefreshAllParentNode(activeKey) { 
       window.location.reload();
    }
</script>

<script type="text/x-kendo-tmpl" id="template_recentdocuments">	
	<div class="row list_item">
					<div class="col-md-1">
						#if(FileExtension != null && FileExtension == ".pdf")
						{#
							<i class="fal fa-file-pdf m-top-10" style="color:red;font-size:1.5em;"></i>
						#} 
						else if(FileExtension != null && (FileExtension == ".xls" || FileExtension == ".xlsx"))
						{#
							<i class="fal fa-file-excel m-top-10" style="color:green;font-size:1.5em;"></i>
						#} 
						else if(FileExtension != null && (FileExtension == ".csv"))
						{#
							<i class="fal fa-file-csv m-top-10" style="color:green;font-size:1.5em;"></i>
						#} 
						else if(FileExtension != null && (FileExtension == ".ppt"))
						{#
							<i class="fal fa-file-powerpoint m-top-10" style="color:green;font-size:1.5em;"></i>
						#} 
						else if(FileExtension != null && (FileExtension == ".txt"))
						{#
							<i class="fal fa-file m-top-10" style="color:green;font-size:1.5em;"></i>
						#} 
						else if(FileExtension != null && (FileExtension == ".doc"))
						{#
							<i class="fal fa-file-word m-top-10" style="color:green;font-size:1.5em;"></i>
						#}
						else if(FileExtension != null && (FileExtension == ".mp4"))
						{#
							<i class="fal fa-file-video m-top-10" style="color:green;font-size:1.5em;"></i>
						#}
						else if(FileExtension != null && (FileExtension == ".mp3"))
						{#
							<i class="fal fa-file-music m-top-10" style="color:green;font-size:1.5em;"></i>
						#}
						else if(FileExtension != null && (FileExtension == ".jpg" || FileExtension == ".jpeg"|| FileExtension == ".png"|| FileExtension == ".gif"))
						{#
							<i class="fal fa-file-image m-top-10" style="color:green;font-size:1.5em;"></i>
						#}
						else
						{#
							<i class="fal fa-file-alt m-top-10 light-highlight"></i>
						#}#
						
					</div>
					<div class="col-md-6" style="margin-left: -10px;">
						<div class="row" style=line-height:20px;>
							<div class="col-md-12">
								<span>#if(FileName != null && FileName != ""){# #=FileName# #} else{# #=DocumentName# #}#</span>
							</div>
							<div class="col-md-12">
								<span class="text_span">#=Size#</span>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<span class="text_span">#=CreatedDateDisplay#</span>
					</div>
	</div>
</script>

<script type="text/x-kendo-tmpl" id="template_recentactivities">

	<div class="row list_item">
					<div class="col-md-2">
						#if(WorkflowStatus != null && WorkflowStatus == "Completed")
						{#
							<i class="fal fa-check-circle m-top-10" style="color: \#19f819;font-size: 1.5em;font-weight: 500;"></i>
						#}
						else if(WorkflowStatus != null && (WorkflowStatus == "In Progress" || WorkflowStatus == "Overdue"))
						{#
							<i class="fal fa-exclamation-circle m-top-10" style="color: \#ffbd05;font-size: 1.5em;font-weight: 500;"></i>
						#}
						else if(WorkflowStatus != null && (WorkflowStatus == "Canceled" || WorkflowStatus == "Rejected"))
						{#
							<i class="fal fa-times-circle m-top-10" style="color: \#ffbd05;font-size: 1.5em;font-weight: 500;"></i>
						#}#
						
						
					</div>
					<div class="col-md-10" style="margin-left: -40px;">
						<div class="row" style=line-height:20px;>
							<div class="col-md-12">
								<span>#if(FileName != null && FileName != ""){# #=FileName# #} else{# #=DocumentName# #}#</span>
							</div>
							<div class="col-md-12">
								<span class="text_span">#=WorkflowStatus#</span>
							</div>
						</div>
					</div>					
	</div>
</script>







