@using Synergy.App.ViewModel;

@{
    ViewData["Title"] = "Resumable Upload";
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}

<script>
    function OnClickUpload() {
            var url = '/dms/document/PopupResumableUpload';
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Popup Resumable Upload', Width: 1000, Height: 800 });
    }
</script>
<div>
    <a href="#" onclick="OnClickUpload();">Click to Resumable Upload</a>
</div>
<style>
    .progress {
        height: 32px;
    }

    a.btn {
        margin-bottom: 2px;
    }
    .progtext {
        height: 50px;
    }
</style>
@*<script src="./lib/jquery/dist/jquery.js"></script>
<script src="./lib/jquery/dist/jquery.min.js"></script>*@

<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
@*<script src="./js/tus/tus.min.js"></script>*@
<script src="../../js/tus/tus.js"></script>
<script src="../../js/tus/demo.js"></script>

@*<link href="./js/tus/app.progress.css" rel="stylesheet" media="screen">*@

<div class="container">
    <h4>@ViewData["Title"]</h4>
    <h1>tus-js-client demo - File Upload</h1>

    <p>
        This demo shows the basic functionality of the tus protocol. You can select a file using the controls below and start/pause the upload as you wish.
    </p>

    <p>
        For a prettier demo please go to the
        <a href="http://tus.io/demo.html">tus.io</a> website.
        This demo is just here to aid developers.
    </p>

    <p>
        A demo where a video is recorded from your webcam while being simultaneously uploaded, can be found <a href="./video.html">here</a>.
    </p>

    <div class="alert alert-warining hidden" id="support-alert">
        <b>Warning!</b> Your browser does not seem to support the features necessary to run tus-js-client. The buttons below may work but probably will fail silently.
    </div>

    <br>

    <table>
        <tr>
            <td>
                <label for="endpoint">
                    Upload endpoint:
                </label>
            </td>
            <td>
                <input type="text" id="endpoint" name="endpoint" value="https://tusd.tusdemo.net/files/">
            </td>
        </tr>
        <tr>
            <td>
                <label for="chunksize">
                    Chunk size (bytes):
                </label>
            </td>
            <td>
                <input type="number" id="chunksize" name="chunksize" value="1000">
            </td>
        </tr>
        <tr>
            <td>
                <label for="paralleluploads">
                    Parallel upload requests:
                </label>
            </td>
            <td>
                <input type="number" id="paralleluploads" name="paralleluploads" value="1">
            </td>
        </tr>
    </table>

    <br>

    <input type="file">

    <br>
    <br>

    <div class="row">
        <div class="col-8">
            <div class="progress progress-striped progress-success">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
        <div class="col-4">
            <button class="btn stop" id="toggle-btn">start upload</button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="progtext"></div>
        </div>
        <div class="col-4">

        </div>
    </div>
    <hr>
    <h3>Uploads</h3>
    <p id="upload-list">
        Succesful uploads will be listed here. Try one!
    </p>

</div>