@using CMS.UI.ViewModel
@using CMS.Common
@using Newtonsoft.Json;
@model ItemsViewModel

@{
    ViewData["Title"] = "Manage Item";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div class="row" style="margin:10px;margin-bottom:60px;">
    <form asp-controller="InventoryMaster" asp-action="ManageItem" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="card pad-10" style="padding-top:0px;">
            <div class="row col-12" style="padding:10px;">
                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Name<span class="required">*</span></label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <input type="text" asp-for="ItemName" id="ItemName" class="form-control" required />
                </div>

                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Specification</label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <textarea id="ItemSpecification" asp-for="ItemSpecification" class="form-control" style="width:100%!important"></textarea>
                </div>

                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Prefix</label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <input type="text" asp-for="ItemPrefix" id="ItemPrefix" class="form-control" />
                </div>

                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Unit<span class="required">*</span></label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <input id="ItemUnit" asp-for="ItemUnit" class="form-control" required />
                </div>

                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Type<span class="required">*</span></label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <input id="ItemType" asp-for="ItemType" class="form-control" required />
                </div>

                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Category<span class="required">*</span></label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <input id="ItemCategory" asp-for="ItemCategory" class="form-control" required />
                </div>

                <div class="col-3" style="padding-bottom:10px;">
                    <label>Item Sub Category<span class="required">*</span></label>
                </div>
                <div class="col-9" style="padding-bottom:10px;">
                    <input id="ItemSubCategory" asp-for="ItemSubCategory" class="form-control" required />
                </div>
                @if (Model.IsOpenItem)
                {
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Opening Quantity</label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <input type="text" asp-for="InventoryQuantity" id="InventoryQuantity" class="form-control" />
                    </div>

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Minimum Stock Quantity</label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <input type="text" asp-for="MinStockQuantity" id="MinStockQuantity" class="form-control" />
                    </div>

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Maximum Stock Quantity</label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <input type="text" asp-for="MaxStockQuantity" id="MaxStockQuantity" class="form-control" />
                    </div>
                }
            </div>
        </div>

        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Save" style="margin:5px;" onclick="OnSubmit()" />
            <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav()" />
        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.NoteId)
        @Html.HiddenFor(x => x.IsOpenItem)
    </form>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#ItemUnit").kendoDropDownList({
            optionLabel: "--All--",
            dataTextField: "FullName",
            dataValueField: "Id",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryMaster/GetItemUnitList",
                    }
                }
            }
        });

        $("#ItemType").kendoDropDownList({
            optionLabel: "--All--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=IMS_ITEM_TYPE",
                    }
                }
            }
        });

        $("#ItemCategory").kendoDropDownList({
            optionLabel: "--All--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            cascadeFrom: "ItemType",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: "/IMS/InventoryMaster/GetItemCategoryListByItemType",
                        data: filterItemCategory,
                    }
                }
            }
        });

        $("#ItemSubCategory").kendoDropDownList({
            optionLabel: "--All--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            cascadeFrom: "ItemCategory",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: "/IMS/InventoryMaster/GetItemSubCategoryListByItemCategory",
                        data: filterItemSubCategory,
                    }
                }
            }
        });
        if ('@Model.IsOpenItem'=='True') {
            IsItemOpen();
        }
    });

    function filterItemCategory() {
        var itemtype = $("#ItemType").val();
        return {
            itemtypeId: itemtype,
        }
    }

    function filterItemSubCategory() {
        var itemcategory = $("#ItemCategory").val();
        return {
            itemCategoryId: itemcategory,
        }
    }

    function closeNav() {
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "OnAfterNoteCreate" });
        return false;
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            closeNav();
        }
        else {
            alert(res)
            showError(res.error);
        }
    };
    function OnSubmit(e) {
        var name = $("#ItemName").val();
        var itemunit = $("#ItemUnit").data("kendoDropDownList").value();
        var itemtype = $("#ItemType").data("kendoDropDownList").value();
        var itemcategory = $("#ItemCategory").data("kendoDropDownList").value();
        var itemsubcategory = $("#ItemSubCategory").data("kendoDropDownList").value();

        if (name == null || name == '' || name == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Name is required");
            e.preventDefault();
            return false;
        }
        if (itemunit == null || itemunit == '' || itemunit == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Unit is required");
            e.preventDefault();
            return false;
        }
        if (itemtype == null || itemtype == '' || itemtype == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Type is required");
            e.preventDefault();
            return false;
        }
        if (itemcategory == null || itemcategory == '' || itemcategory == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Category is required");
            e.preventDefault();
            return false;
        }
        if (itemsubcategory == null || itemsubcategory == '' || itemsubcategory == undefined) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Sub Category is required");
            e.preventDefault();
            return false;
        }
    }
    function IsItemOpen() {
        document.getElementById("ItemName").readOnly = true;
        document.getElementById("ItemSpecification").readOnly = true;
        document.getElementById("ItemPrefix").readOnly = true;
        $("#ItemUnit").data("kendoDropDownList").readonly();
        $("#ItemType").data("kendoDropDownList").readonly();
        $("#ItemCategory").data("kendoDropDownList").readonly();
        $("#ItemSubCategory").data("kendoDropDownList").readonly();
    }
</script>