
@using CMS.UI.ViewModel
@using CMS.Common
@inject CMS.Common.IUserContext _userContext
@{
    ViewData["Title"] = "Worker Pool";
    // Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
    Layout = null;
}

@model ApplicationViewModel

<script type="text/javascript">
    $(document).ready(function () {

    });


</script>


<div class="row" style="margin-left:15px;">
    <iframe id="iframeData" width="100%" height="750px;" style="border:none;" src="http://95.111.235.64:3000/"></iframe>
</div>