
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>about-us</title>
   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

@*     <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
*@ 
 <link href="~/Themes/VisionPioneer/Contact-Form-Clean.css" rel="stylesheet">
<link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    @*<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand nav-width" href="#">
                <div><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-vp.png"></div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">About Us</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Assesment</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ContactUs</a></li>
                </ul>
                <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">Languages</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: #81b445;">Request Call Back</a></span>
            </div>
        </div>
    </nav>*@
    <section class="banner-image" style="background-image: url('../../../../Themes/VisionPioneer/img/about-us-1.jpg');" >
        <div >
            <div class="container" style="padding-top: 25em; padding-bottom: 10em ;">
                <h1 class="text-white" style="font-size: 70px;">About Us</h1>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom">
        <div class="container padding-top-bottom">
            <div class="row padding-top-50">
                <div class="col-md-12 col-lg-6 col-sm-12">
                    <img class="img-fluid w-100" src="~/Themes/VisionPioneer/img/asset-1wwr.png">
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12 floating-div">
                    <h1 style="color:black">Who we are?</h1>
                    <p style="color:black">A Saudi national company, providing consultancy and management solutions with local content by localization of global solutions and implement it in line with the local working environment.

                       <br> <br>Our diverse team of consultants cater to all sectors (Small, Medium & Large) and industries. We have several years of experience serving customers across the Kingdom.
                        
                        <br><br>We are offering the best business practices, templates, toolkits & frameworks to improve chances of success of your organization by leveraging on our knowledge and expertise.</p>
                        <br><br>
                </div>

            </div>
        </div>
    </section>
    <section class="padding-top-bottom bg-image " style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('assets/img/shutterstock_315031985.jpg');" >
        <h1 class="text-center padding-top-bottom text-white">Why Vision Pioneer?<br></h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center"><i class="fas fa-hands" style="font-size: 45px; color: #81b445;"></i>
                    <p class="text-white">Comprehensive management advisory services and solutions.<br><br></p>
                </div>
                <div class="col-md-4 text-center"><i class="fas fa-users" style="font-size: 45px; color: #81b445;"></i>
                    <p class="text-white">A team with a variety of professional experience in the public and private sectors in providing management advisory services.<br><br></p>
                </div>
                <div class="col-md-4 text-center"><i class="fas fa-chart-line" style="font-size: 45px; color: #81b445;"></i>
                    <p class="text-white">Strategic partnership with clients to provide value added services &amp; solutions while maximizing sustainable returns on their investments and businesses.<br><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center"><i class="fas fa-user-check" style="font-size: 45px; color: #81b445;"></i>
                    <p class="text-white">Global expertise and practices through a wide base of projects implemented locally and internationally by the team inside and outside the Kingdom.<br><br></p>
                </div>
                <div class="col-md-4 text-center"><i class="fas fa-user-tie" style="font-size: 45px; color: #81b445;"></i>
                    <p class="text-white">We provide services and solutions that combine global expertise with our deep local knowledge, helping our clients solve the toughest challenges they face to achieve sustainable competitive advantage in business.<br><br></p>
                </div>
                <div class="col-md-4 text-center"><i class="fas fa-handshake" style="font-size: 45px; color: #81b445;"></i>
                    <p class="text-white">We have global and local partnerships and alliances to provide integrated solutions and services.<br><br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom">
        <div class="container">
            <h1 class="text-center">Our Strategic Goals</h1>
            <p class="text-center"><br>Vision pioneers aspire to provide services as per international standards in professional manner, with confidence and transparency.</p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4  mb-10">
                    <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                        <p class="text-white text-center">Develop strategic plans and operational business plans for clients.</p>                     
                    </div>
                </div>
                <div class="col-md-4  mb-10">
                    <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                        <p class="text-white text-center">Develop innovative and integrated solutions for the clients.</p>
                    </div>
                </div>
                <div class="col-md-4  mb-10">
                    <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                        <p class="text-white text-center">Provide quality and value-added services and solutions to clients for business sustainability.</p>
                    </div>
                </div>
                
            </div>    
            <div class="row padding-top-bottom">
                <div class="col-md-4  mb-10">
                    <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                        <p class="text-white text-center">Provide local content for services & solutions suited to the Saudi Market.</p>                     
                    </div>
                </div>
                <div class="col-md-4  mb-10">
                    <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                        <p class="text-white text-center">Source, Assess and Select most suitable candidates to exceed client expectations.</p>
                    </div>
                </div>
                <div class="col-md-4  mb-10">
                    <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                        <p class="text-white text-center">Guide Institutional development to enhance clients' strength, competitive advantage and market image.</p>
                    </div>
                </div>
                
            </div>                    
        </div><br>
    </section>
    <section class="padding-top-bottom">
        <div class="container">
            <h1 class="text-center">Vision Pioneers Team</h1>
            <p class="text-center"><br>We have a global and local team of consultants with a proven track record and extensive experience in their respective fields.
                Our team is equipped with local knowledge and expertise combined with global experience to deliver value added services to customers.</p>
            <p class="text-center">Our consultants in each project are selected on the basis of suitable skills and competencies.</p>
        </div>
    </section>
   
    @*<section class="footer padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Services</strong><br></h3>
                    <p class="text-white">Complete Talent Acquistion</p>
                    <p class="text-white">Organizational Trnasformation</p>
                    <p class="text-white">Human Resource Consultancy</p>
                    <p class="text-white">Developing Strategies</p>
                    <p class="text-white">Technology Services</p>
                    <p class="text-white">Corporate Alignment &amp; Branding</p>
                    <p class="text-white">Web and Content Designing</p>
                    <p class="text-white">Other Services</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Company</strong><br></h3>
                    <p class="text-white">About Us&nbsp;</p>
                    <p class="text-white">Contact Us</p>
                    <p class="text-white">Company Profile</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 text-center"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">Request Call Back</button></div>
            </div>
            <div class="row"><div class="col-md-12 text-white"><hr></div>
                <div class="col">
                    <p class="text-white">©&nbsp;2022&nbsp;Vision Pioneers<br></p>
                    <p class="text-white">This website is designed &amp; commissioned by Vision Pioneers.<br></p>
                </div>
            </div>
        </div>
    </section>*@
   @* <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>*@
</body>

</html>