@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@model TagCategoryViewModel
@{
    ViewBag.Title = "Note";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";

}
<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().DropDownTree()
                        .Name("dropdowntree")
                        .DataTextField("Name")
                        .DataValueField("id")
                         .Checkboxes(e => e.CheckChildren(true)
                         .Template("# if (item.level() > 0) { #" +
                        "<input type='checkbox' #= item.checked ? 'checked' : '' #>" +
                    "# } #")
                         )
                          .Placeholder("Select Tags...")
                        //.CheckAll(true)
                        .HtmlAttributes(new { style = "width: 100%" })
                        .Events(e => e.Select("OnCategorySelect"))
        .DataSource(dataSource => dataSource
            .Read(read => read
                .Action("ReadTagCategoriesWithTag", "TagCategory", new { area = "PortalAdmin", TemplateId = Model.TemplateId })
            )
        )

        )
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" onclick="onAdd()">Add</button>
    </div>
</div>

<script>

    function OnCategorySelect(e) {
        var parentnodes = e.sender.dataItem(e.node).parent();
        for (var i = 0; i < parentnodes.length; i++) {
            if (parentnodes[i].Name == e.sender.dataItem(e.node).Name) {
                e.preventDefault();
            }
        }
        //if (e.sender.dataItem(e.node).hasChildren) {
        //    e.preventDefault()
        //}
    }

    function onAdd() {
        var val = $("#dropdowntree").data("kendoDropDownTree").value();
        if (val == "")
        {
            kendo.alert("Please selet at leat one tag");
        }
        else
        {
             
        var data =
        {
            NtsType: '@Model.NtsType',
            NtsId: '@Model.NtsId',
            Tags: val.join(","),
            DataAction: '@Model.DataAction'
        }
        $.ajax({
            url: "/PortalAdmin/TagCategory/AddTag",
                dataType: "json",
            type: "POST",
            data: data,
                success: function (data) {

                    if (data.success) {

                        var win = GetMainWindow();
                        win.CloseWindow({ MethodName: "Refresh" });
                    }
                    else
                    {
                        kendo.alert(data.error);
                    }
                },
            error: function (err) {
                kendo.alert(err.error);
                   // alert('error');
                }
            });
        }


    }

</script>


