@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@model EGovCommunityHallViewModel
@{
    ViewData["Title"] = "Community Hall List";
    Layout = null;

}
<style>

    .product {
        float: left;
        position: relative;
        width: 340px;
        min-height: 300px;
        margin: 0 5px 30px;
    }

    .listbox {
        padding: 5px;
        border: solid;
        border-color: lightgray;
        border-width: 2px;
    }

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger */
        font: inherit;
    }

    .k-listview-content {
        overflow: hidden;
        margin-left: 35px;
        margin-right: 30px;
    }

    .k-listview {
        border-style: none;
        margin-left: 100px;
        margin-right: 70px;
        border-left-width: 40px;
        border-right-width: 20px;
    }

    .center {
        height: 250px;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    .card-body {
        min-height: 300px;
    }
</style>

<script>


                var dataSource;
        function getCommunityHallData() {

            document.getElementById("listView").innerHTML = "";

               dataSource = new kendo.data.DataSource({
                transport: {
                      read: {
                          url: "/EGov/EGovernment/ReadCommunityHallData",
                        dataType: "json"
                    }
                },
            });

            $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html()),
                selectable: '@ListViewSelectionMode.Single',
            });
    }
     function onBook() {

         var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("BookCommunityHall", "EGovernment", new { @area="EGov"})';
         win.OpenWindow({ Title: 'Book Community Hall', Width: 600, Height: 550});
        return false;
    }
    $(document).ready(function () {


            getCommunityHallData();

        });

           $('#search-term').on('keyup', function () {
            var search = $.trim($(this).val());
            if (search != "")
                dataSource.filter({ field: "CommunityHallName", operator: "contains", value: search });
            else
                dataSource.filter({});

            return;
           });
     function onBack()
    {
        window.location.href = "/portal/EGovCustomer/Services";
    }
</script>


<div style="padding-top:20px">
    <div class="row" style="background-color: white;">
        <div class="col-12 align-center k-text-align-center">
            <h4 style="color: #007bff; text-align: center; padding-top: 20px">
                Welcome to Jammu Smart City Limited Online Community Hall Booking System.
            </h4>
        </div>
        <div class="col-10 offset-1">
            <p>
                &nbsp;&nbsp;&nbsp;JCL provides facilities of community hall on rent basis to all the citizens of Jammu and adjacent areas for organising marriage, party or other social functions.
                JCl Portal is  user friendly and robust online system to help citizens for booking of Community Hall and Redressal of community hall booking grievances.
            </p>
            <p style="margin-top:5px">
                Note: In case of failure of booking and amount has been deducted, Refund will be initiated automatically. Incase refund is not made within stipulated period please Contact Chief revenue Officer of Jammu municipal corporation on following numbers:
            </p>
        </div>
    </div>
    <div class="row" style="margin-left:130px;">
        <div class="col-6">
            <input type="button" onclick="onBook()" class="btn btn-primary" value="Book Community Hall" />
            <input type="button" value="Return To Home Page" onclick="onBack()" class="btn btn-link" />
        </div>
        <div class="col-4" style="float:right;">
            <div class="form-outline">
                <input type="search" id="search-term" class="form-control" placeholder="Search" aria-label="Search" />
            </div>
        </div>
    </div>
    <div class="row k-listview" id="listView"></div>
    <script type="text/x-kendo-tmpl" id="template">

                                   <div class="card bg-light mb-3 product" style="width: 20rem;height:500px">
                 <div class="card-header">#:CommunityHallName#</div>
                 <div class="card-body">
                    @*#if(PhotoId != null)
                                                    {#
        <img class="center" src="/cms/Document/GetImageMongo?id=#=PhotoId#"
                                               onerror='OnImgError(this);' />
                                                     #}
                                                    else {#*@
                                                                   <img class="center" src="/Cms/document/GetApplicationDocument?documentCode=COMMUNITY_HALL"
                                        onerror='OnImgError(this);' />
                                                        @*#}#*@

                                               <hr/>
                   <h5 class="card-title">
                       <i class="fa fa-indian-rupee-sign"></i>
                       #:ChargesLeviedPerDay#</h5>
                   <p class="card-text">#:WardName#.</p>
                 </div>
               </div>

    </script>


</div>







