@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<script>
    $(document).ready(function () {

        var columnDefs = [
            {
                headerName: "Subject",
                field: "BannerContent",
                width: 500,
            },
            {
                headerName: "View",
                field: "FileId",
                width: 150,
                cellRenderer: params => {
                    if (params.value != null) {
                        return "<a href='/cms/Document/GetFileMongo?fileId=" + params.value + "' target='_blank'>View</a>"
                    } else {
                        return "View";
                    }
                }

            }
        ];

        function GetOrdersData() {
            document.getElementById("kgridOrders").innerHTML = "";
            var Url = "/EGov/EGovernment/ReadEGovSSCOrdersData";
            gridConfig(
                "kgridOrders",
                Url,
                columnDefs,
                false,
                true,
                true,
                true,
                1,
                true,
                10);
        }
        GetOrdersData();
    });


</script>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Orders</h4>
    </div>
    <br />
    <div class="container col-12">
        <div id="kgridOrders" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
    </div>
</div>