@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Administrative Ward Officers";
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<script type="text/javascript">

    var columnDefs = [
        {
            headerName: "Ward No",
            field: "WardNo",
        },
        //{
        //    headerName: "Administrative Ward No. & Name",
        //    field: "WardName",
        //},

        //{
        //    headerName: "Electoral Ward No. & Name (Assembly Constituency No.& Name)",
        //    field: "ElectoralWardName",
        //},

        //{
        //    headerName: "Assembly Constituency No.& Name",
        //    field: "ConstituencyName",
        //},
        {
            headerName: "Location",
            field: "Location",
        },
        //{
        //    headerName: "Longitude",
        //    field: "Longitude",
        //},
        //{
        //    headerName: "Latitude",
        //    field: "Latitude",
        //},
        {
            headerName: "Name of the Ward Officer",
            field: "OffficerName",
        },
        {
            headerName: "Cell No",
            field: "Mobile",
        },

    ];

    $(function () {

        getAdminWardData();

    });

    function getAdminWardData() {
        document.getElementById("kgrdAdminWardGrid").innerHTML = "";
        gridConfig(
            "kgrdAdminWardGrid",
            "/EGov/EGovernment/GetAdministrativeWards",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

</script>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>@ViewData["Title"]</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="About Us" style="width:100%;height:350px;">*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:7px;" id="gridDiv">
                <div id="kgrdAdminWardGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>	