@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model List<EGOVBannerViewModel>

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }

    td {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
</style>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Housing For All Committee</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="About Us" style="width:100%;height:350px;">*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u></u></h5>
                <table>
                    <tr>
                        <td width="30%"><b>Name of Committee</b></td>
                        <td colspan="2"><b>Housing For All Committee</b></td>
                    </tr>
                    <tr>
                        <td><b>Constituted under</b></td>
                        <td colspan="2"><b>Section-40 of J&K Municipal Corporation Act, 2000.</b></td>
                    </tr>
                    <tr>
                        <td rowspan="@(Model.Count+1)" style="vertical-align:top;"><b>Name of Hon’ble Members</b></td>
                        <td><b>Name</b></td>
                        <td><b>Designation</b></td>
                    </tr>
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Designation</td>
                            </tr>
                        }
                    }

                    <tr>
                        <td style="vertical-align:top;"><b>Functions of Committee</b></td>
                        <td colspan="2">
                            <p>
                                The Housing for All Committee shall perform functions related to
                                monitoring and review of progress under the Prime Minister
                                Awas Yojana.
                            </p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>	