@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>About Us</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smcaboutus.jpg" alt="About Us" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right:30px;">
                <h5 style="text-align:left;"><u>History</u></h5>
                <p style="text-align: justify;">
                    The History of Municipal Administration in the Jammu and Kashmir State goes back to the second half of the Nineteenth Century when the Kashmir valley gained attention of the western world for its beauty in Nature and abject poverty of its people. As a matter of fact the Srinagar City became star attraction for reasons of its location, physical setting and the water ways. The living conditions of the inhabitants of Srinagar City were not as good as other states of India and a need grew up to create a body of law and rules on Municipal Administration in the State and for introduction of the local self-government. The history of the S.M.C dates back to 1886 when the Monarchy established a department to look after the civic affairs of the Srinagar City and Jammu City as Municipal Committees under J&K Municipal Act No. 16 of 1886.
                </p>
                <p style="text-align: justify;">
                    The Srinagar Municipal Committee functioned as a State Department with all its members nominated (05 official and 11 unofficial) by the Government and its functions included all civil construction projects , Health and Hygiene management, water works and firefighting within the limits.
                </p>
                <p style="text-align: justify;">
                    In 1901, the city had a population of 1.23 lakhs and spread over an area of 20.80 square kilometers. Till 1911, the municipal limits consisted of about 2 miles along with banks of the river Jhelum, which was extended to more than 3 miles. In 1913, a new Act introduced the elected element in the constitution of the local bodies of Srinagar and Jammu.
                </p>
                <p style="text-align: justify;">
                    First President of the Municipal Committee was Mr. Anand Kaul Baamzi. The population growth of the City recorded at 1.18 lakhs in 1891, 1.22 lakhs in 1901, 1.24 lakhs in 1911, 1.39 lakhs in 1921, by 1923, the municipal limits extended again to include Zoonimar, BatamalooBagh-i-Nand Singh, Sonawar, Bonamsar, Rathapora. In 1922, the civic works of SMC included construction/repair of Roads, bunds, improvement of drains in different parts of the city, construction of metal Roads. The SMC during this period constructed Hari Singh High Street partly at government expenses and partly at its own expenses. SMC also constructed foot paths on Roads in civil lines, widened Roads, and build gardens for Baladari. At the instance of the SMC, the Government constructed a sewer from SariaBalla to Chattabal known as "Green's Sewer" passing through old Gandhi Park. SMC also for the first time introduced street lighting run on electricity replacing the kerosene oil lamps.
                </p>
                <p style="text-align: justify;">
                    By 1941, the city extended further to include Soura in North, Chattabal Veer in West and Sonawar Bagh in East and Rambagh in South. The population of the city recorded at 1.73 in 1931 and 2.07 lakhs in 1941 and the Committee consisted upon 18 members, 2/3rd members elected and 1/3rd nominated. By 1941, SMC staff consisted upon a paid President , a Secretary , a Revenue Officer, a Health Officer , and a Municipal Engineer assisted by a large staff of executive employees comprising of supervising and subordinate services of conservancy , Health and Engineering, Besides Ministerial Staff connected with maintenance of records, compilation of accounts and other clerical work.
                </p>
                <p style="text-align: justify;">
                    In the post-independence era, the constitutional recognition was given to the process of developing and democratizing local self-government institution in J&K State under Article 16 of the J&K State Constitution. In the year 1956, the Srinagar Municipal Committee was converted into Srinagar Municipal Council and governed under J&K Municipal Act Savmat 2008. The Jammu and Kashmir pioneered the concept of structural reforms in the Municipal Sector and constituted the First Finance Commission in 1987, much before the enactment of the Constitution of India (74th Amendment) Act, 1992, it has considerably and woefully lagged behind in implementing these reforms. As a result the Municipality in State continues to function without elected bodies and remained unchanged as Municipality. The 74th Amendment Act to the Constitution of India opened new vistas to the widening domain and functions of the local self-Government institutions.
                </p>
                <p style="text-align: justify;">
                    The J&K legislature passed a legislation known as J&K Municipal Corporation Act-2000 incorporating all the functions and duties enshrined in the 74th Amendment Act. In February 2003, the Srinagar Municipality upgraded into Srinagar Municipal Corporation vide Government SRO No: 46 on 18th February 2003 and the post of Administrator, Municipality re-designated as Commissioner, SMC. In February 2005, the State Government conducted municipal elections as per the delimitation made under SRO 291 for 68 electoral wards and the newly elected body emerged. These elections as usual conducted on party basis. The first Mayor and Deputy Mayor, along with Councilors took the oath of office at S.K.I.C.C. on 2/3/2005 in a big gala of gathering which was attended to by the Chief Minister, Cabinet Ministers, Members of Legislature and senior government officers.
                </p>
                <p style="text-align: justify;">
                    In the year 2016 jurisdiction of Srinagar Municipal Corporation limits were further extended and reshaped vide SRO 72; Dated: 02.03.2016 in pursuance of which 73 municipal wards were created followed by addition of one more ward namely Baagh-i-Mahtaab vide SRO 219; dated 29.06.2016, with the result 74 Municipal Wards came into existence and stretched over 227.34 sqkm within the boundaries as detailed here under, for 11.27 lakhs city population (Male = 5.81 lakhs; Female = 5.46 lakhs) as per Census 2011 inclusive of 6,66,191 voters as per recent elections 2018:
                </p>
                <p style="text-align: justify;">
                    <table>
                        <tr>
                            <td width="15%">From North</td>
                            <td width="10%">upto</td>
                            <td width="35%">Pandach-Nagbal.</td>
                        </tr>
                        <tr>
                            <td>From North-East</td>
                            <td>upto</td>
                            <td>Harwan Bridge.</td>
                        </tr>
                        <tr>
                            <td>From East</td>
                            <td>upto</td>
                            <td>Zawoora-Zaafraan Colony.</td>
                        </tr>
                        <tr>
                            <td>From South-East</td>
                            <td>upto</td>
                            <td>Mahjoor Nagar-Natipora.</td>
                        </tr>
                        <tr>
                            <td>From South</td>
                            <td>upto</td>
                            <td>Baagh-i-Mahtaab</td>
                        </tr>
                        <tr>
                            <td>From South-West</td>
                            <td>upto</td>
                            <td>Hamdaaniyah Colony.</td>
                        </tr>
                        <tr>
                            <td>From West</td>
                            <td>upto</td>
                            <td>Sozieth-Lawaypora.</td>
                        </tr>
                        <tr>
                            <td>From North-West</td>
                            <td>upto</td>
                            <td>Mujgund-Abdullahpora</td>
                        </tr>
                    </table>

                </p>
                <p style="text-align: justify;">
                    The Municipal sector envisages classification of the following three:-<br>
                    Municipal Committee for a small town,<br>
                    Municipal Council for a medium town and;<br>
                    Municipal Corporation for the capital cities.<br>
                </p>
                <p style="text-align: justify;">
                    Any Municipality is eligible to be declared as a Corporation provided the population thereof exceeds four lakhs. In the case of Municipal Councils and Committees no population criteria has been fixed. No Cantonment or part of cantonment forms a part of any Municipal Committee, Council or Corporation. The duration of Municipal Corporation, in case it is not dissolved on account of incompetence to perform, or persistent default in the performance of lawful duties imposed on it or exceeding and abusing its powers, it is five years. Constitution of India (74th Amendment) Act, 1992, The Constitution (74th) Amendment Act, 1992 (CAA) has strengthen the municipal institutions throughout the country. The Act provides a constitutional form to the structure and mandate of municipalities to enable them to function as an effective democratic institution of local self-government. Twelfth Schedule not only provides the conventional civic functions in the list of eighteen functions like water supply, sanitation; but also has added the development functions such as planning for social development, social justice and urban poverty alleviation programs in the list of municipal functions. The list of eighteen functions is as under:
                </p>
                <p style="text-align: justify;">
                    1.  Urban Planning including Town Planning.<br>
                    2.  Regulation of Land-use and Construction of Buildings.<br>
                    3.  Planning for Economic and Social Development.<br>
                    4.  Roads and Bridges.<br>
                    5.  Water Supply for Domestic, Industrial and Commercial Purposes.<br>
                    6.  Public Health, Sanitation Conservancy and Solid Waste Management.<br>
                    7.  Fire & Emergency Services.<br>
                    8.  Urban Forestry, Protection of the Environment and Promotion of Ecological aspects.<br>
                    9.  Safeguarding the Interests of Weaker Sections of Society, including the handicapped and mentally retarded.<br>
                    10. Slum Improvement and up-gradation.<br>
                    11. Urban Poverty Alleviation.<br>
                    12. Provision of Urban Amenities and Facilities such as Parks, Gardens, Playgrounds.<br>
                    13. Promotion of Cultural, Educational and Aesthetic aspects.<br>
                    14. Burials and Burial Grounds; Cremations, Cremation Grounds; and Electric Crematoriums.<br>
                    15. Cattle Pounds; Prevention of Cruelty to Animals.<br>
                    16. Vital Statistics including Registration of Births and Deaths.<br>
                    17. Public Amenities including Street Lighting, Parking Lots, Bus Stops and Public Conveniences.<br>
                    18. Regulation of Slaughter Houses and Tanneries.<br>
                </p>
                <p style="text-align: justify;">
                    Compared to other Municipalities/ Corporations of the country, the Srinagar Municipal Corporation has been assigned only a few of the traditional functions by the State Government since its establishment in the year 1886. The Srinagar Municipality has been earlier assigned a number of functions but with the passage of time, these have been withdrawn by the State Government. By virtue of Government Order No: 1536- GD of 1981 Dated: 19-06-1981, the City Sewerage and Drainage Department was transferred from SMC to UEED and vide Government Order No: PW-87 of 1981 Dated: 12-02-1981; all city Roads of Srinagar City were transferred to Public Works Department. Similarly, in the year 1988 vide Government Order No: 780-GD of 1988 Dated: 25-05-1988 the Government has transferred street lighting function to Power Development Department and vide Government Order No: 55-HUD/LSG of 1988 Dated: 04-03-1988 transferred all the Municipal parks and gardens to the Parks and Gardens Department.
                </p>
                <p style="text-align: justify;">
                    The J&K Municipal Corporation Act, 2000 enumerate a wide range of functions that are to be discharged by the Corporation which are in consonance with twelfth Schedule and the Constitution (74th) Amendment Act, 1992 (CAA). As per the Cabinet Decision No: 917 held on 30-05-2005 under the chairmanship of then Chief Minister it has been decided that following functions along with allied Departments will be transferred to the Srinagar Municipal Corporations:
                </p>
                <p style="text-align: justify;">
                    1.  Sewerage and Drainage.<br>
                    2.  Water Works.<br>
                    3.  Street Lighting.<br>
                    4.  City Roads.<br>
                    5.  Gardens and Parks.<br>
                </p>
                <p style="text-align: justify;">
                    But except Drainage Circle no other function or Department has been transferred to the Srinagar Municipal Corporation. The Srinagar Municipal Corporation has to discharge multifarious duties and functions to provide basic civic facilities to the citizens of Srinagar City and to the floating population. The Corporation is trying its best by utilizing its available resources, both men and machinery, to provide at least basic minimum civic amenities/facilities, if not what the Corporation is generally supposed to provide.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h5 style="text-align:left;"><u>Brief Details</u></h5>
                <table>
                    <tr>
                        <td style="width:100px;"><p>ESTD:</p></td>
                        <td><p>1886</p></td>
                    </tr>
                    <tr>
                        <td><p>ADDRESS</p></td>
                        <td>
                            <p>
                                Srinagar Muncipal Corporation
                                Sheikh-Ul-Aalam Road,Karan Nagar,Srinagar
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><p>SERVICE</p></td>
                        <td>
                            <p>
                                Sanitation<br>
                                Town Planning<br>
                                Revenue<br>
                                Brith and Death<br>
                                Development<br>
                                Grievances
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>