@using Synergy.App.ViewModel
@*@using Kendo.Mvc.UI*@
@using Synergy.App.Common

@model EGovLandingPageViewModel

@{
    ViewBag.Title = "Home";
    Layout = null;
}

<head>
    @*other head stuff...*@
    <link href="~/css/flickity.css" rel="stylesheet" />
    <script src="~/js/flickity.pkgd.min.js"></script>
    @*<link rel="stylesheet" href="~/Content/flickity.css" media="screen">*@
    @*<script src="~/Scripts/flickity.pkgd.min.js"></script>*@
</head>

<style>
    /*Styles.css*/

    .hero-banner {
        /*background-image: url("../../assets/img/hero-banner.png");*/
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        /*clear: both;*/
        margin: 0 0 26px 0;
    }

    .title-aboutus {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 20px 0;
    }

    .gen-text {
        font-family: poppins;
        font-size: 16px;
        color: #353535;
        text-align: justify;
        line-height: 32px;
        padding: 0 20px 0 0;
    }

    .about-text {
        width: 50%;
        /*float: left;*/
    }

    .but-bg {
        background-color: #E8E5DE;
        height: 32px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .read-more {
        float: right;
        padding: 4px 20px;
        margin: 0;
    }

    .about-img {
        width: 50%;
        float: left;
    }

    .mid-body {
        width: 90%;
        margin: 0 auto;
        padding: 2px;
        clear: both;
    }

    .services {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        clear: both;
    }

    .service-block {
        padding: 10px;
        height: auto;
        float: left;
    }

    .service-caption {
        display: block;
        clear: both;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .Title-PG {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0 6px 0;
        display: block;
        clear: both;
        font-family: poppins;
        font-size: 18px;
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 20px 0;
    }

    .gal-img-block {
        width: 100%;
        height: auto;
        padding: 14px;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
        box-shadow: 1px 4px #bababa;
        margin: 0 0 12px 0;
    }

    .gal-img-caption {
        margin: 0 auto;
        text-align: center;
        padding: 4px;
        width: 100%;
        display: block;
        font-family: poppins;
        font-size: 14px;
    }

    .gallery-img {
        clear: both;
        padding: 0;
        margin: 10px 0 2px 0;
        text-align: center;
    }

    .PG-block {
        width: 90%;
        display: block;
        clear: both;
        margin: 60px auto;
    }

    .map {
        border-radius: 20px;
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }

    .footer-container {
        padding: 0;
        margin: 0 auto;
        background-color: #643126;
        width: 100%;
        color: #fff;
    }

    .footer-body {
        margin: 0 auto;
        background-color: #643126;
        font-size: 16px;
        color: #ffffff;
        width: 90%;
    }

    .copyright {
        text-align: center;
        background-color: #350E05;
        color: #ffffff;
        clear: both;
        margin: 0;
    }

    .footer-block-1 {
        width: 100%;
        padding: 10px 0 0 10px;
        margin: 10px auto;
        float: left;
    }

    .footer-block-2 {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }

    .footer-menu-1 {
        width: 50%;
        float: left;
        padding: 10px;
        margin: 10px auto 0;
        line-height: 30px;
    }

    .footer-menu-2 {
        width: 50%;
        float: left;
        padding: 10px;
        margin: 10px auto 0;
        line-height: 30px;
    }

    .social-icon {
        padding: 0;
        margin: 0 0 10px;
        float: left;
        height: 40px;
        width: 50px;
    }

    .copyright-text {
        padding: 16px 0 0 0;
        margin: 0;
        text-align: center;
        line-height: 16px;
    }

    .divider-line {
        border-top: 1px solid #ffffff;
    }

    .aboutus-body {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        height: auto;
    }

    .footer {
        width: 90%;
        margin: 0 auto;
    }

    .hero-banner {
        width: 100%;
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        margin: 0;
        height: auto;
    }

    .no-horz-bar {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    /*Navigation-with-Button.css*/
    .navigation-clean-button {
        background: #fff;
        padding-top: .75rem;
        padding-bottom: .75rem;
        color: #333;
        border-radius: 0;
        box-shadow: none;
        border: none;
        margin-bottom: 0;
    }

    @@media (min-width:768px) {
        .navigation-clean-button {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .navigation-clean-button .navbar-brand {
        font-weight: bold;
        color: inherit;
    }

        .navigation-clean-button .navbar-brand:hover {
            color: #222;
        }

    .navigation-clean-button .navbar-toggler {
        border-color: #ddd;
    }

        .navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
            background: none;
        }

    .navigation-clean-button .navbar-toggler {
        color: #888;
    }

    .navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
        border-top-color: #ddd;
    }

    .navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
        background: none;
        box-shadow: none;
    }

    .navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
        color: #8f8f8f;
        box-shadow: none;
        background: none;
        pointer-events: none;
    }

    .navigation-clean-button.navbar .navbar-nav .nav-link {
        padding-left: 18px;
        padding-right: 18px;
    }

    .navigation-clean-button.navbar-light .navbar-nav .nav-link {
        color: #465765;
    }

        .navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
            color: #37434d !important;
            background-color: transparent;
        }

    .navigation-clean-button .navbar-nav > li > .dropdown-menu {
        margin-top: -5px;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        background-color: #fff;
        border-radius: 2px;
    }

    .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
        line-height: 2;
        font-size: 14px;
        color: #37434d;
    }

        .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
            background: #eee;
            color: inherit;
        }

    .navigation-clean-button .actions .login {
        margin-right: 1rem;
        text-decoration: none;
        color: #465765;
    }

    .navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
        background: #56c6c6;
        border-radius: 20px;
        font-size: inherit;
        color: #fff;
        box-shadow: none;
        border: none;
        text-shadow: none;
        padding: .5rem 1rem;
        transition: background-color 0.25s;
        font-size: inherit;
    }

        .navigation-clean-button .navbar-text .action-button:hover {
            background: #66d7d7;
        }

    .img-fluid1 {
        /*border: 1px;
        border-color: lightgray;
        border-style: solid;*/
        width: 150px;
        height: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        /*        border-radius: 15px;
        box-shadow: lightgray;
        box-shadow: 2px 2px lightgrey;*/
    }

    .img-container {
        border: 1px;
        border-color: lightgray;
        border-style: solid;
        width: 220px;
        height: 150px;
        border-radius: 15px;
        box-shadow: lightgray;
        box-shadow: 2px 2px lightgrey;
        text-align: center;
        margin-bottom: 65px;
    }

    /*scrolling images*/

    #MainPost {
        padding: 5px 5px;
        margin-bottom: -1px;
        width: 100%;
        /*height: 78vh;*/
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }

    .group .input {
        margin-bottom: 25px;
        width: 100%;
        color: black;
        display: block;
        border: 1px;
        padding: 15px 20px;
        border-radius: 50px;
        background: rgba(142, 139, 139, 0.1);
    }

    .sectionbox2 {
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 100px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.24), 0px 0px 4px 0px rgba(0,0,0,0.19);
        /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    }

    pre {
        margin: 20px 0;
        padding: 20px;
        background: #fafafa;
    }

    .round {
        border-radius: 50%;
    }

    .gallery-cell {
        width: 100%;
        /*min-height: 230px;*/
        height: 250px;
        margin-right: 10px;
        cursor: pointer;
        background: Transparent;
        counter-increment: gallery-cell;
        border-radius: 10px;
    }

        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

    .flickity-prev-next-button {
        width: 50px;
        height: 50px;
        background: transparent;
    }
        /* arrow color */
        .flickity-prev-next-button .arrow {
            fill: gray;
        }

        .flickity-prev-next-button.no-svg {
            color: white;
        }

        .flickity-prev-next-button:hover {
            background: transparent;
        }
        /* hide disabled button */
        .flickity-prev-next-button:disabled {
            display: none;
        }

    /* position dots in gallery */
    .flickity-page-dots {
        bottom: 10px;
    }
        /* white circles */
        .flickity-page-dots .dot {
            width: 12px;
            height: 12px;
            opacity: 1;
            background: transparent;
            border: 2px solid white;
        }

            .flickity-page-dots .dot.is-selected {
                background: white;
            }

    .gallery-cell img {
        /*        max-width: 100%;
        max-height: 100%;*/
        /*width: 94%;*/
        height: 200px;
    }

    .gallery-cell p {
        /*        max-width: 100%;
        max-height: 100%;*/
        text-align: center;
        vertical-align: middle;
        /* text-align: justify; */
        font-weight: 600;
        color: #ffff;
        width: 94%;
        height: 50px;
        /*background-color: #a9a9a9c2;*/
        /* margin: 0; */
        /* padding-left: 20px; */
        /* margin-left: 15px; */
        margin: 283px 45px 0px 45px;
        position: absolute;
    }

    #banimg {
        /* width: 100%;*/
        min-height: 280px;
    }

    .breadcrumb {
        display: none;
    }

    .top-header {
        box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.24), 0px 17px 50px 0px rgba(0,0,0,0.19);
    }

    .fontstyle {
        font-size: 14px;
        color: #4b4f56;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    .profilemenustyle {
        font-size: 20px;
        color: #4b4f56;
        display: block;
        margin-top: 8px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftmenustyle {
        font-size: 12px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .leftsubmenustyle {
        font-size: 12px;
        color: #4b4f56;
        margin-bottom: 5px;
        font-weight: normal;
        margin-top: 5px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .submenustyle {
        font-size: 11px;
        color: darkgoldenrod;
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtext.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .iconwothtextsub {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

        .iconwothtextsub.img {
            margin: 10px;
            padding: 10px;
            transition: margin 200ms;
        }

    .sectionbox {
        margin-bottom: 30px;
        border-radius: 5px;
        color: #333333;
        background: #fff;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        min-height: 100px;
    }

    #AnnouncementPost {
        width: 100%;
        height: 75vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #DocumentPost {
        width: 100%;
        height: 45vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #LeftPanel {
        height: 78vh;
        overflow: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #F90;
        background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }

    /*    @@media (min-width: 800px) {
        body {
            background: #ebe9e7;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: hidden;
        }
    }*/

    /*    @@media(max-width: 800px) {
        body {
            background: #ebe9e7;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 96%;
            background-repeat: no-repeat;
            padding-top: 10px;
            overflow: auto;
        }
    }*/
    .btn-projects {
        /*float: right;*/
        padding: 15px 40px;
        margin: 0;
    }

    .titlealign {
        text-align: center;
    }

    .mobapp {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .lightBorder {
        margin: 20px;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        border-color: #d3d3d34f;
    }

    .vertical-row {
        Float: left;
        height: 500px;
        width: 1px; /* edit this if you want */
        background-color: #d3d3d34f;
    }

    .card-header {
        color: white;
        background-color: #004466;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        /* background-color: rgba(0, 0, 0, 0.03); */
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card {
        height: 100%;
    }

    .title-aboutus {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 20px 0 0;
        text-align: center;
    }

    .img-about-srinagar {
        width: 600px;
        height: 300px;
        border: 10px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #bababa;
    }

    .but-bg {
        background-color: #E8E5DE;
        height: 32px;
        border-radius: 20px;
    }

    .read-more {
        float: right;
        padding: 4px 20px;
        margin: 0;
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    .border {
        border: 1px solid #dee2e6 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    }

   /* .img-project-stats {
        width: 200px;
        height: 200px;
        border: 10px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #bababa;
    }*/

    .img-project-stats1 {
        width: 400px;
        height: 400px;
        border: 10px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px #bababa;
    }

    .Main-Title-2 {
        text-align: center;
        margin: 0 auto;
        display: block;
        clear: both;
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        color: #B45248;
        padding: 40px 0 12px;
    }

    .text-desc {
        font-size: 18px;
        text-align: center;
        color: #003366;
        font-weight: 600;
        line-height: 40px;
    }

    .service-name {
        display: block;
        clear: both;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .sub-head {
        text-align: center;
        font-weight: 500;
        margin: 0 auto;
        clear: both;
        font-size: 20px;
        display: block;
        color: #606060;
    }

    .Proj-Titles {
        text-align: center;
        margin: 0 auto;
        display: block;
        clear: both;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        color: #B45248;
        padding: 40px 0 20px;
    }



    .Logo-Block {
        width: 99%;
        display: block;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        min-height: 300px;
        max-height: 300px;
        margin: 23px;
    }

    .flickity-prev-next-button.previous {
        left: 10px;
        top: 90px;
    }

    .flickity-prev-next-button.next {
        right: 10px;
        top: 90px;
    }

    .Last-Block {
        width: 99%;
        display: block;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        /* min-height: 300px; */
        /* max-height: 300px; */
        margin: 23px;
    }
    .service-img {
        width: 300px;
        height: 164px;
        padding: 0;
        margin: 0;
        border-radius: 8px;
        box-shadow: 0 0 10px 2px #bababa;
        border: 4px solid #fff;
    }
    .hero-banner {
        background-image: url(../../images/EGOV/Jammu/JSC-hero-banner.png);
        width: auto;
        height: 330px;
        background-repeat: no-repeat;
        clear: both;
        margin: 0;
        background-position: 0;
    }
    .about-text {
        width: 100%;
    }
    .Main-Title {
        text-align: center;
        margin: 0 auto;
        display: block;
        clear: both;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        color: #b45248;
        padding: 40px 0 0;
    }
    .text-desc {
        font-size: 18px;
        text-align: center;
        color: #036;
        font-weight: 500;
        line-height: 40px;
    }

    element.style {
    }

    .img-project-stats {
        width: 400px;
        height: 220px;
        border: 10px solid #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px 2px #bababa;
    }
    .img-project-stats1 {
        width: 450px;
        height: 220px;
        border: 10px solid #fff;
        border-radius: 20px;
        box-shadow: 0 0 10px 2px #bababa;
    }
    .Logo-img {
        width: auto;
        height: auto;
    }
    .Logo-Block {
        width: 100%;
        height:30px;
        display: block;
        clear: both;
        border: 1px solid #cecece;
        border-radius: 12px;
        margin: 0 auto 20px;
    }
    .Projects-Block {
        width: 90%;
        display: block;
        clear: both;
        margin: 30px auto 0;
    }
    .Official-Block {
        width: 90%;
        display: block;
        clear: both;
        margin: 0 auto;
    }

    element.style {
    }

    .service-block {
        padding: 11px;
        height: auto;
        float: left;
    }
    .list li {
        list-style: disc !important;
    }

    .footer-menu1, .footer-menu2 {
        padding: 10px;
        margin: 10px auto;
        line-height: 30px;
        color: #fff;
    }

    .footer-container {
        padding: 0;
        margin: 0 auto;
        background-color: #643126;
        width: 100%;
    }
    .footer-body {
        margin: 0 auto;
        background-color: #643126;
        font-size: 16px;
        color: #fff;
        width: 90%;
    }
    .text-desc {
        font-size: 18px;
        text-align: center;
        color: #036;
        font-weight: 600;
        line-height: 40px;
    }
    .sub-head {
        text-align: center;
        font-weight: 500;
        margin: 0 auto;
        clear: both;
        font-size: 20px;
        display: block;
        color: #606060;
    }
    .service-name {
        display: block;
        clear: both;
        padding: 0;
        margin: 0;
        text-align: center;
        color: #036;
        font-weight: 500;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('.main-gallery').flickity({
            // options
            cellAlign: 'left',
            contain: true,
            autoPlay: 3000,
            pauseAutoPlayOnHover: false,
            wrapAround: true

        });

        onProjectCompleted();
    });

    function onProjectCompleted() {
        $("#divProjectCompleted").show();
        $("#divProjectOnGoing").hide();
        $("#divProjectUpComing").hide();
    }
    function onProjectOnGoing() {
        $("#divProjectCompleted").hide();
        $("#divProjectOnGoing").show();
        $("#divProjectUpComing").hide();
    }
    function onProjectUpComing() {
        $("#divProjectCompleted").hide();
        $("#divProjectOnGoing").hide();
        $("#divProjectUpComing").show();
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Jammu-Smart-City-home-page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body>
    @*<div class="aboveNav-URLs">
        <div class="row">
            <div class="col">
            &nbsp; <a class="cus-url" href="#">Know your Corporator</a> / <a class="cus-url" href="#">Know your Ward</a> / <a class="cus-url" href="#">Know your Ward Officers / Contact Us </a>
            </div>
            <div class="col">
            <i class="fa fa-phone"></i>&nbsp;14420/18001807038/+91-194-2474499/0194-2470465 <i class="fa fa-envelope"></i>&nbsp;<a class="cus-url" href="#">commissioner-smc@jk.gov.in</a>
                </div>
            </div>
        </div>*@
    <div id="main-wrap">
        <div class="logo-social-icons">
            <div class="row">
                <div class="col-sm-7 col-md-7 col-lg-8 col-xl-8 col-xxl-8">
                    <img src="~/images/EGOV/Jammu/Jammu-logo.jpg">
                </div>
                <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="S-icon-block"></div>
                    @*<div class="User-login">
                    <button class="btn btn-primary but-login" type="button">Login</button>
                    <button class="btn btn-dark btn-sm" type="button">Register</button>
                        </div>*@
                </div>
            </div>
        </div>
        @*<div class="hero-banner">
        </div>*@
        <img src="~/images/EGOV/Jammu/JSC-hero-banner.png" style="width:1700px;height:330px">
        <!--<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
                <a class="navbar-brand" href="#"></a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>-->
                @*<div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SMC</a>
                    </li><li class="nav-item">
                    <a class="nav-link" href="#">Council</a></li>
                <li class="nav-item"><a class="nav-link" href="#">News &amp; Information</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Success Stories</a></li>
                <li class="nav-item"><a class="nav-link" href="#">IT &amp; SS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quick Links</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li></ul>
                </div>*@
            <!--</div>
        </nav>-->
    </div>
  
    <div class="mid-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="text-center"><label class="form-label Main-Title">About Jammu Smart City</label></div>
            </div>
        </div><hr/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="float-start about-text" style="text-align: left;">
                    <img class="img-about-srinagar img-fluid" src="~/images/EGOV/Jammu/about-jammu.jpg">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="float-start about-text" style="text-align: left;">
                    <p class="gen-text">The smart city mission of the Government of India seeks to address the issue of urbanization through the transformation of selected cities. The intent is to create sustainable cities that can provide a good quality life to its citizens. Jammu has been amongst the 20 lighthouse cities with a dramatically different approach which is driven by ‘Redevelopment’ rather than ‘Retrofitting’.<br></p>
                    <div class="but-bg">
                        <button class="btn btn-secondary btn-sm active border rounded-pill shadow-sm read-more" type="submit">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="row">
            <div class="col">
                <label class="form-label Main-Title">Services Offered<br></label>
                <label class="form-label sub-head">All services under one roof with hassle-free process<br></label>
            </div>
        </div>
        @*<div class="row">*@
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/Sanitation.jpg">
                <label class="form-label service-name">Sanitation Services<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/Public%20Grievance.jpg">
                <label class="form-label service-name">Public Grievances<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/community%20hall.jpg">
                <label class="form-label service-name">Community Hall<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/electricity.jpg">
                <label class="form-label service-name">Electricity<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/Public%20Grievance.jpg">
                <label class="form-label service-name">E-Billing<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/water-services.jpg">
                <label class="form-label service-name">Water Services<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/poultry%20waste.jpg">
                <label class="form-label service-name">Poultry Waste Services<br></label>
            </div>
            <div class="service-block">
                <img class="service-img" src="~/images/EGOV/Jammu/trade%20tax.jpg">
                <label class="form-label service-name">Trade Tax<br></label>
            </div>
        </div>
    @*</div>*@
    <br/>
    @*<div class="row">*@
        <div class="Projects-Block">
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-xxl-4">
                    <h1 class="Proj-Titles">Completed Projects</h1>
                    <img class="img-project-stats1 img-fluid" src="~/images/EGOV/Jammu/brainstorm-meeting.jpg">
                    <p class="text-desc">Description text about Completed Projects.&nbsp;</p>
                </div>
                <div class="col-lg-4 col-xl-4 col-xxl-4">
                    <h1 class="Proj-Titles">In Progress Projects</h1>
                    <img class="img-project-stats1 img-fluid" src="~/images/EGOV/Jammu/top-view-businessmen-working-company-strategy-analyzing-management-paperwork.jpg">
                    <p class="text-desc">Description text about In Progress Projects.</p>
                </div>
                <div class="col-lg-4 col-xl-4 col-xxl-4">
                    <h1 class="Proj-Titles">Up Coming Projects</h1>
                    <img class="img-project-stats1 img-fluid" src="~/images/EGOV/Jammu/economic-information-with-executives-negotiating-background.jpg">
                    <p class="text-desc">Description text about Up Coming Projects.</p>
                </div>
            </div>
        </div>
    @*</div>*@
    <div class="Official-Block">
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-xxl-12">
                <label class="col-form-label Main-Title-2">Gallery<br></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 col-xxl-3">
                <img class="img-project-stats img-fluid" src="~/images/EGOV/Jammu/gal-img-1.jpg">
                <p class="text-desc">Jammu Gallery</p>
            </div>
            <div class="col-lg-3 col-xl-3 col-xxl-3">
                <img class="img-project-stats img-fluid" src="~/images/EGOV/Jammu/gal-img-2.jpg">
                <p class="text-desc">Jammu Gallery<br></p>
            </div>
            <div class="col-lg-3 col-xl-3 col-xxl-3">
                <img class="img-project-stats img-fluid" src="~/images/EGOV/Jammu/gal-img-3.jpg">
                <p class="text-desc">Jammu Gallery<br></p>
            </div>
            <div class="col-lg-3 col-xl-3 col-xxl-3">
                <img class="img-project-stats img-fluid" src="~/images/EGOV/Jammu/gal-img-4.jpg">
                <p class="text-desc">Jammu Gallery<br></p>
            </div>
        </div>
    </div>
    @*<div class="Last-Block" style="text-align: center;">
            <marquee direction="left">



                @foreach (var item in Model.OtherWebsites)
                {
                    <a href="@item.UrlLink" target="_blank" title="@item.BannerContent">
                        <img src="/cms/Document/GetImageMongo?id=@item.BannerImageId" width="200" height="200" alt="Natural" />
                    </a>

                }
            </marquee>
        </div>*@
    @*<div class="Logo-Block">
        <div class="row">*@
    <div class="Last-Block" style="text-align: center;">
        <marquee direction="left">
            <div class="row">
                <div class="col-lg-2 col-xl-2 col-xxl-2">
                    <img class="Logo-img img-fluid" src="~/images/EGOV/Jammu/india-gov.png">
                </div>
                <div class="col-lg-2 col-xl-2 col-xxl-2">
                    <img class="Logo-img img-fluid" src="~/images/EGOV/Jammu/incredible-india.png">
                </div>
                <div class="col-lg-2 col-xl-2 col-xxl-2">
                    <img class="Logo-img img-fluid" src="~/images/EGOV/Jammu/mygov.png">
                </div>
                <div class="col-lg-2 col-xl-2 col-xxl-2">
                    <img class="Logo-img img-fluid" src="~/images/EGOV/Jammu/goidirectory.png">
                </div>
                <div class="col-lg-2 col-xl-2 col-xxl-2">
                    <img class="Logo-img img-fluid" src="~/images/EGOV/Jammu/digital-india.png">
                </div>
                <div class="col-lg-2 col-xl-2 col-xxl-2">
                    <img class="Logo-img img-fluid" src="~/images/EGOV/Jammu/e-gazette.png">
                </div>
            </div>
        </marquee>
    </div>
  
    <div class="footer-container">
        <div class="footer-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3"><p class="footer-menu1"><strong>Jammu Smart City Limited</strong><br>Bahu Plaza Park, North Block, 4th Floor, Trikuta Nagar, Jammu<br></p><p class="footer-menu1"><strong>For any queries</strong><br>Email: ceo@jammusmartcity.in<br>Contact No: +91 1122334499<br></p></div><div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-menu1">
                        <b>Employee Corner</b>
                        <ul class="list">
                            <li>GP Fund Schedule</li>
                            <li>Property Statement</li>
                            <li>Employee Information</li>
                        </ul>
                    </div>
                </div><div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-menu2">
                        <b>Downloads</b>
                        <ul class="list">
                            <li>News Letters</li>
                            <li>Acts and Bye-laws</li>
                            <li>Downloads</li>
                            <li>Maps</li>
                        </ul>

                    </div>
                </div><div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-menu2">
                        <b>Quick Access</b>
                        <ul class="list">
                            <li>Right to Information</li>
                            <li>Registered Architects/Structural Engineers/Draughtsmen</li>
                            <li>Trade Registration Forms</li>
                            <li>Architect/ Draughtsman License</li>
                        </ul>



                    </div>
                </div>
            </div>
        </div>@*<div class="copyright"><p class="copyright-text">© 2010 - 2022 SynergySolutions. All rights reserved.<br></p></div>*@
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>