
@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@model EGovCorporationWardViewModel
@{
    ViewData["Title"] = "Know Your Corporator";
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
   // Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;

}
<style>
    .kgrdPDMS {
        width: 100% !important;
    }
</style>
<script type="text/javascript">


        var columnDefs = [       
        {
                headerName: "WardNo",
                field: "WardNo",
        },
        {
            headerName: "WardName",
            field: "WardName",
        },
        {
            headerName: "Name of Councillor",
            field: "CouncillorName",
        },
        {
            headerName: "Address",
            field: "Address",
        },
        {
            headerName: "Phone No.",
            field: "Phone",
            
        },
        
        {
            headerName: "Photo",
            field: "PhotoId",
            cellRenderer: params => {

                return "<img width='30' height='30' style='border-radius:20px'  src='/Cms/document/getimagemongo?id=" + params.data.PhotoId + "'/>";

            }
        },
       
    ];

    $(function () {

        getCorporatorData("","","","","");

    });

    function getCorporatorData(wardno, wardName, councillorName, address, phone) {
        document.getElementById("kgrdCorporatorGrid").innerHTML = "";
        gridConfig(
            "kgrdCorporatorGrid",
            "/EGov/EGovernment/GetCorporatorList?wardNo=" + wardno + "&wardName=" + wardName + "&councillorName=" + councillorName + "&address=" + address + "&phone=" + phone,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function onSearch() {
        var wardno = $("#wardNo").val();
        var wardName = $("#wardName").val();
        var councillorName = $("#councillorName").val();
        var address = $("#address").val();
        var phone = $("#phone").val();
        getCorporatorData(wardno, wardName, councillorName, address, phone);
    }

    function onReset() {
        
        getCorporatorData("", "", "", "", "");
    }

</script>

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" href="#search" style="background-color: #2D9FCA;color:#FFFFFF">
       "Filter"  <span id="filtertext"></span>
    </div>
    <div class="panel-collapse collapse" id="search">
        <div id="filter" role="group" style="width:100%;color:#FFFFFF;background: #17a2b8;padding: 5px;">
            <div class="row" style="padding-top:10px;">


                <div class="col-3">
                    Ward No. <br />
                    <input id="wardNo" class="hr-x-large search-control" />
                </div>
                <div class="col-3">
                    Ward Name <br />
                    <input id="wardName" class="hr-x-large search-control" />
                </div>
                <div class="col-3">
                    Councillor Name <br />
                    <input id="councillorName" class="hr-x-large search-control" />
                </div>
                <div class="col-3">
                    Address <br />
                    <input id="address" class="hr-x-large search-control" />
                </div>
                <div class="col-3">
                    Phone <br />
                    <input id="phone" class="hr-x-large search-control" />
                </div>
            </div>
           
            <div class="row">
                <div class=" col-md-12">
                    <br />
                    <button class="btn btn-warning" onclick="onSearch()">"Search"</button>
                    <button class="btn btn-danger" onclick="onReset()">"Reset"</button>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding:10px;margin-top:20px;">

        <div class="col-md-12" style="margin-top:7px;" id="gridDiv">
            
            <div id="kgrdCorporatorGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

          
        </div>
</div>

