@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Right To Information";
    Layout = null;

}
<style>
 
</style>
<script type='text/javascript'>
    function onOpen() {
        url = '/cms/Document/GetFileMongo?fileId=@ViewBag.FileId';
        window.open(url, '_blank');
        return false;
    }
</script>
<div class="row">
    <div class="col-12">
        <img class="img-fluid" style="width:100%" src="~/images/EGOV/RTIsrinagar.jpg">
    </div>
    <div class="col-12">
        <h5>RTI Links</h5>
        <ul>
            <li class="footer-menuli"><a class="text-black text-i" href="https://rti.gov.in/" style="font-size:18px;font-weight:400">Right To Information</a></li>
            <li class="footer-menuli"><a class="text-black text-i" href="#" onclick="onOpen()" style="font-size: 18px; font-weight: 400">RTI Act</a></li>
           
        </ul>
    </div>
</div>
