@using Kendo.Mvc.UI;
@using CMS.UI.ViewModel;
@using CMS.Common;
@model IList<CMS.UI.ViewModel.EmailViewModel>
@{
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<style>
</style>
<script>

</script>

@(Html.Kendo().TabStrip()
                .Name("tabstrip")
                        .Items(tabstrip =>
                        {
                        var i = 1;
                        foreach (var tab in Model)    // I don't want to iterate through items like this
                        {
                            var idname = "email" + i;
                            if (i == 1)
                            {

                                tabstrip.Add().Text(tab.To).Selected(true).Content(@<text>
                           <iframe src="/tas/talentassessment/ViewEmail?emailId=@tab.Id&slotId=@tab.ReferenceId" id=@idname style="width:100%;height:95vh;"></iframe>
                            </text>);
                            }
                            else
                            {
                                tabstrip.Add().Text(tab.To).Content(@<text>
                           <iframe src="/tas/talentassessment/ViewEmail?emailId=@tab.Id&slotId=@tab.ReferenceId" id=@idname style="width:100%;height:95vh;"></iframe>
                            </text>);
                                }
                                i++;

                            }

                        })
//.Events(events => events.Select("onSelectTabs")).SelectedIndex(0)
)
@if (Model.Count == 0)
{
    <div style="text-align:center">
        <h4 class="required">
            No Email Found !
        </h4>
    </div>
}


