@*@using Kendo.Mvc.UI;*@
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .master-tree .k-in {
        width: 100% !important;
    }
</style>
<div id="master">

    @*@(Html.Kendo().TreeView()
        .Name("mastertreeview").HtmlAttributes(new { @class = "master-tree" })
          //.Events(e => e.Select("OnSelect"))
        .DataTextField("Name")
         .TemplateId("template")
        .DataSource(dataSource => dataSource
            .Read(read => read
                .Action("BreMasterTreeData", "Bre", new { ruleId=ViewBag.ruleId})
            )
        )
    )*@

    <div id="mastertreeview"></div>
</div>

<script id="template" type="text/kendo-ui-template">
    <i class="#:item.IconCss# tree-icon"></i>
    <span style="width:30%">#: item.Name #</span>
    <span data-id="#:item.id#" data-parentid="#:item.ParentId#" data-type="#:item.ItemType#" class="master-menu"><i class="fa fa-ellipsis-h"></i></span>

</script>

<script>
    $(document).ready(function () {
        getMasterTree();
    });

    function getMasterTree() {
        $("#mastertreeview").fancytree({
            
            source: $.ajax({
                url: "/Bre/BreMasterFancyTreeData",
                dataType: "json"
            }),
            lazyLoad: function (event, data) {
                var node = data.node;
                // Issue an Ajax request to load child nodes
                data.result = {
                    url: "/Bre/BreMasterFancyTreeData",
                    data: { ruleId; '@ViewBag.ruleId', id: node.key }
                }
            },            
            renderNode: function (event, data) {
                // Optionally tweak data.node.span
                var node = data.node;
                node.renderTitle();
                var $nodeSpan = $(node.span);
                if (!$nodeSpan.data('rendered')) {
                    var menuItem = $('<span data-id="'+ node.key +'"data-parentid="' + node.ParentId + '" data-type="' + node.ItemType +'" class="master-menu"><i class="fa fa-ellipsis-h"></i></span>');
                    $nodeSpan.append(menuItem);                   
                                        
                    // span rendered
                    $nodeSpan.data('rendered', true);
                }
            },
            //dblclick: function (event, data) {
            //    var node = data.node;
            //},
            //contextMenu: {
            //    menu: function (data) {
            //        
            //        return {
            //        }
            //    },
            //    actions: function (node, action, options) {
            //    }
            //}
        });
    }
    
    function RefreshTreelist() {
      //  
       // alert("test");
        $("#mastertreeview").data("kendoTreeView").dataSource.read();
    }
    function OnSelect(e) {
        e.preventDefault();
    }

    $(function () {

        $.contextMenu({
            selector: '.master-menu',
            trigger: 'left',
            build: function ($trigger, e) {
                var parentId = $trigger.data('id');
                var parentType = $trigger.data('type');
                var selectParentId = $trigger.data('parentid');
                switch (parentType) {
                    case "Root":
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'add':
                                       
                                          var win = GetMainWindow();
                                            win.iframeOpenUrl = '/Bre/Bre/AddBreMasterMetaData?ruleId=@ViewBag.ruleId&templateId=@ViewBag.templateId&parentId=' + parentId;
                                        win.OpenWindow({ Title: 'Add Master Meta Data', Width: 1000, Height: 600 });
                                    default:
                                }

                            },
                            items: {
                                "add": { name: "Add Master Data", icon: "fas fa-plus" },
                            }
                        };
                    case "Property":
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'remove':
                                       var flag = confirm('Do you really want to delete (This might get Deleted from Rule Data Alse)');
                                        if (flag) {
                                            $.ajax({

                                                type: 'GET',
                                                url: '/Bre/bre/DeleteMasterColumnData?id=' + parentId,
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                                success: function (response) {
                                                    ShowNotification("Deleted Successfully", "success");
                                                    $("#mastertreeview").data("kendoTreeView").dataSource.read();
                                                },
                                                error: function (error) {
                                                    ShowNotification("Please Try Again", "error");
                                                }
                                            });
                                        }
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "remove": { name: "Remove Item", icon: "fas fa-trash" },
                            }
                        };
                    case "Object":
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        
                                          var win = GetMainWindow();
                                           win.iframeOpenUrl = '/Bre/Bre/AddBreMasterMetaData?ruleId=@ViewBag.ruleId&templateId=@ViewBag.templateId&parentId=' + parentId + '&id=' + parentId;
                                        win.OpenWindow({ Title: 'Edit Master Meta Data', Width: 1000, Height: 600 });
                                        break;
                                    case 'remove':
                                        var flag = confirm('Do you really want to delete (This might get Deleted from Rule Data Alse)');
                                        if (flag) {
                                            $.ajax({

                                                type: 'GET',
                                                url: '/Bre/bre/DeleteMasterTableData?bussinessRuleId=@ViewBag.ruleId&id=' + parentId,
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                                success: function (response) {
                                                    ShowNotification("Deleted Successfully", "success");
                                                    $("#mastertreeview").data("kendoTreeView").dataSource.read();
                                                },
                                                error: function (error) {
                                                    ShowNotification("Please Try Again", "error");
                                                }
                                            });
                                        }
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "edit": { name: "Edit Item", icon: "fas fa-edit" },
                                "remove": { name: "Remove Item", icon: "fas fa-trash" },

                            }
                        };
                    default:
                        return {
                            callback: function (key, options) {
                                alert(parentId);
                                alert(parentType);
                            },
                            items: {

                            }
                        };
                }


            }
        });
    });


    //});
</script>