@*@using Kendo.Mvc.UI*@

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    //  Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.BreMasterMetadataViewModel
    <style>
        .input-tree .k-in {
            width: 60% !important;
        }
    </style>
    <script>
      var expandedItem = null;
        function onExpand(e) {
            expandedItem = this.dataItem(e.node);
        }
        @*function AddData() {
           //
            if (expandedItem == null) {
                return { templateId:'@ViewBag.templateId' };
            }
            else {
                console.log(expandedItem);
                var i = expandedItem.Id;
                return { templateId: '@ViewBag.templateId', id: i  };
            }
        }*@

        function AddData(data) {
           //
            if (expandedItem == null) {
                return { templateId:'@ViewBag.templateId' };
            }
            else {
                console.log(expandedItem);
                var i = data.key;
                return { templateId: '@ViewBag.templateId', id: i  };
            }
        }

   
    function OnSelect(e) {
        e.preventDefault();
    }
    </script>
    <div style="padding-left:20px;">

        @*@(Html.Kendo().TreeView()
        .Name("inputtreeview").HtmlAttributes(new { @class = "treeview input-tree" })
        .DataTextField("Name")
        .Events(e => e.Expand("onExpand").Select("OnSelect"))
        .TemplateId("treeview-template1")
        .DataSource(dataSource => dataSource
            .Read(read => read
                 .Action("BreInputData", "Bre").Data("AddData")
            )
        )
    )*@

        <div id="inputtreeview"></div>

        <script id="treeview-template1" type="text/kendo-ui-template">
            <i class="#:item.IconCss# tree-icon"></i>
            # if (item.IsCollection=='True') { #
            <i class="fa fas fa-brackets tree-icon"></i>
            # }#
            <span style="width:100%">#: item.Name #</span>
            <span data-id="#:item.id#" data-type="#:item.Type#" data-parentid="#:item.ParentId#" @*class="tree-menu input-menu"*@>@*<i class="fa fa-ellipsis-h"></i>*@</span>

        </script>
    </div>



    <script>

        $(document).ready(function () {
            getInputTree();
        });


    //$(function () {
    //    $.contextMenu({
    //        selector: '.tree-menu1',
    //        trigger: 'left',
    //        items: {
    //            "add": {
    //                name: "Add", callback: function (itemKey, opt, e) {
    //                    // console.log($(this).data('id'));
    //                  
    //                }
    //            },
    //            "cut": { name: "Cut", icon: "cut" },
    //            "copy": { name: "Copy", icon: "copy" },
    //            "paste": { name: "Paste", icon: "paste" },
    //            "delete": { name: "Delete", icon: "delete" },
    //            "sep1": "---------",
    //            "quit": { name: "Quit" }
    //        }
    //    });
    //});


        $(function () {

         $.contextMenu({

            selector: '.input-menu',
            trigger: 'left',
            build: function ($trigger, e) {
                var parentId = $trigger.data('id');
                var parentType = $trigger.data('type');
                var selectParentId = $trigger.data('parentid');
                alert(selectParentId);

                switch (parentType) {
                    case "Root":
                        return {
                            callback: function (key, options) {

                                switch (key) {
                                    case 'add':
                                       
                                         var win = GetMainWindow();
        win.iframeOpenUrl ='/Bre/Bre/ManageBusinessRuleInputData?ruleId=@ViewBag.ruleId&parentId=' + parentId;
        win.OpenWindow({ Title: 'Add', Width: 450, Height: 400 });
        return false;
                                    default:
                                }

                            },
                            items: {
                                "add": { name: "Add Item", icon: "fas fa-home" },

                            }
                        };
                    case "Property":
                        return {
                            callback: function (key, options) {

                                switch (key) {
                                    case 'edit':
                                      
                                        var win = GetMainWindow();
        win.iframeOpenUrl = '/Bre/Bre/ManageBusinessRuleInputData?ruleId=@ViewBag.ruleId&parentId=' + selectParentId + "&id=" + parentId;
                                        win.OpenWindow({ Title: 'Edit', Width: 450, Height: 400 });
        return false;
                                        break;
                                    case 'remove':
                                        $.ajax({

                                            type: 'GET',
                                            url: '/bre/bre/DeleteInputData',
                                            contentType: 'application/json; charset=utf-8',
                                            data: { id: parentId },
                                            dataType: 'json',
                                            success: function (response) { alert("deleted") },
                                            error: function (error) {
                                                alert("error")
                                            }
                                        });
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "edit": { name: "Edit Item", icon: "fas fa-home" },
                                "remove": { name: "Remove Item", icon: "fas fa-home" },

                            }
                        };
                    case "Object":
                        return {

                            callback: function (key, options) {
                                switch (key) {
                                    case 'add':
                                       
                                          var win = GetMainWindow();
        win.iframeOpenUrl ='/Bre/Bre/ManageBusinessRuleInputData?ruleId=@ViewBag.ruleId&parentId=' + parentId;
        win.OpenWindow({ Title: 'Add', Width: 450, Height: 400 });
                                        break;
                                    case 'edit':
                                       
                                        var win = GetMainWindow();
        win.iframeOpenUrl = '/Bre/Bre/ManageBusinessRuleInputData?ruleId=@ViewBag.ruleId&parentId=' + selectParentId + "&id=" + parentId;
                                        win.OpenWindow({ Title: 'Edit', Width: 450, Height: 400 });
        return false;
                                        break;
                                    case 'remove':
                                        var flag = confirm('Do you really want to delete');
                                        if (flag) {
                                            $.ajax({

                                                type: 'GET',
                                                url: '/bre/bre/DeleteInputData?bussinessRuleId=@ViewBag.ruleId&id=' + parentId,
                                                contentType: 'application/json; charset=utf-8',
                                                data: {
                                                    @*id: parentId,
                                                    bussinessRuleId:@ViewBag.ruleId*@},
                                                dataType: 'json',
                                                success: function (response) { alert("deleted")},
                                                error: function (error) {
                                                    alert("error")
                                                }
                                            });
                                        }
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "add": { name: "Add Item", icon: "fas fa-home" },
                                "edit": { name: "Edit Item", icon: "fas fa-home" },
                                "remove": { name: "Remove Item", icon: "fas fa-home" },

                            }
                        };
                    default:
                        return {
                            callback: function (key, options) {
                                alert(parentId);
                                alert(parentType);
                            },
                            items: {

                            }
                        };
                }


            }
        });
    });

    function ondel(){

    }

    function getInputTree() {
        $("#inputtreeview").fancytree({

            source: $.ajax({
                url: "/Bre/BreInputFancyTreeData",
                dataType: "json"
            }),
            lazyLoad: function (event, data) {
                var node = data.node;
                // Issue an Ajax request to load child nodes
                data.result = {
                    url: "/Bre/BreInputFancyTreeData",
                    data: AddData(node)
                }
            },
            renderNode: function (event, data) {
                // Optionally tweak data.node.span
                var node = data.node;
                node.renderTitle();                
            },
            expand: function (event, data) {
                expandedItem = data.node.expanded;
            },
            //contextMenu: {
            //    menu: function (data) {
            //        
            //        return {
            //        }
            //    },
            //    actions: function (node, action, options) {
            //    }
            //}
        });
    }
    </script>