
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>services</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   
</head>

<body>
   @* <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand nav-width" href="#">
                <div><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/logo-vp.png"></div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">About Us</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Assessment</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ContactUs</a></li>
                </ul>
                <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">Languages</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: #81b445;">Request Call Back</a></span>
            </div>
        </div>
    </nav>*@
    <section class="banner-image" style="background-image: url('../../../../Themes/VisionPioneer/img/service-slider.jpg');" >
        <div >
            <div class="container" style="padding-top: 25em; padding-bottom: 10em ;">
                <h1 class="text-white" style="font-size: 70px;font-style:italic">Services</h1>
            </div>
        </div>
    </section>
    <div id="complete-talent-acquisition">
        <section class="padding-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Complete Talent Acquisition<br></h1>
                        <p><br>Provide end to end Talent Acquisition Solution including but not limited to Advertising, Sourcing, Screening, Assessing, Interviewing, Selection and onboarding support.<br><br>Ensure right external talents are inducted in the company and right internal talents are promoted in timely manner.<br><br></p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Advanced research in the strongest databases by a professional team of researchers specialized in caring for all the advanced cadres of different works</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Conduct interviews in an integrated manner, with the aim of conducting advanced and appropriate classification and nomination processes for each job.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Periodic performance monitoring where we conduct accurate and fair assessments on an ongoing basis.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Providing post-employment support services.</div></div>
                    </div>
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-2cta.png"></div>
                </div>
            </div>
        </section>
    </div>
    <div id="organizational-transformation">
        <section class="padding-top-bottom alternate-dark">
            <div class="container">
                <div class="row">
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-2ot.png"></div>
                    <div class="col-md-6">
                        <h1>Organizational Transformation<br></h1>
                        <p><br>Develop the organizational transformation roadmap, including operating model, organizational structure, job analysis, process analysis, change management as well as provide policies, procedures, job descriptions and standard operating procedures.</p>
                        <p>Restructure and develop the company's capabilities, resources and systems to maximize efficiency while addressing both internal and external challenges.</p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Design the appropriate organizational structure for the nature of the company's work and adapt it to trends.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Performance management and development of key performance indicators.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Building the operational model of the organizational structure.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Review and develop business manuals of policies and procedures.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Building job descriptions supporting institutional success.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Benchmarking based on best practices and international standards.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Restructuring by evaluating the company's internal and external environment and developing business methods to ensure effective and efficient performance.</div></div>
                    </div>
                </div>



            </div>
        </section>
    </div>
    <div id="human-resource-consultancy">
        <section class="padding-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Human Resource Consultancy<br></h1>
                        <p><br>Evaluation and improvement of Human Resources and their management systems to align vision of the Company with its human capital needs.<br><br>Recommend appropriate strategies to identify and develop talent competencies to maximize return on investment in human capital.</p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Specialized consultancy in the field of human resources.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Preparing strategic directions for human resources management.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Review organizational structure and task guides.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Design job description cards based on the mural system.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Human resources planning.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Identify the training needs of employees.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Develop training and career development plans.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Prepare an evaluation of the performance of workers based on the merit system.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Develop incentive structures, salaries and regulations.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Developing human resources management policies and procedures.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Advice from highly specialized experts in the field of organization design.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Providing advanced and deep knowledge in human resources management.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>To provide the best strategies to meet the most important challenges of working in different sectors and professions.</div></div>
                    </div>
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/Asset_1HRC.png"></div>
                </div>



            </div>
        </section>
    </div>
    <div id="developing-strategies">
        <section class="padding-top-bottom alternate-dark">
            <div class="container">
                <div class="row">
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-1ds.png"></div>
                    <div class="col-md-6">
                        <h1>Developing Strategies<br></h1>
                        <p><br>Help companies prepare strategic plans to work in line with strategic objectives identified based on understanding of current situation.<br><br>Guide them to effectively utilize their potential and resources to achieve their objectives efficiently and effectively to create sustainable competitive advantage.</p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Strategic plans in the short, medium and long term.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Design vision, mission and values.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Designing strategic directions.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Balanced scorecard design.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>The development and implementation of modern and sophisticated plans to suit the needs of the customer and companies as per their internal and external environment.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Helping senior management in companies and organizations to develop and implement growth & development strategies that quickly improve efficiency and performance.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>To provide high quality strategies that takes into account the company's objectives of development, growth and financial sustainability as well as profitability.</div></div>
                    </div>
                </div>



            </div>
        </section>
    </div>
    <div id="technology-services">
        <section class="padding-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Technology Services<br></h1>
                        <p><br>Vision Pioneers work with its partners to provide the best technology services to ensure improved operational efficiency through innovative business solutions.<br><br>Provide Development, Implementation and Support for various cutting edge integrated technology solutions to enhance business intelligence, decision making and business capabilities.</p>
                        <p>Our offerings are listed below but not limited to following services: -</p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Business Process automation</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Business analytics</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>ERP (Enterprise Resource Planning)</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>CRM (Customer Relationship Management</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Customer support desk</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Corporate help desk for employees</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Technology infrastructure management services</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Outsourcing IT services</div></div>
                    </div>
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-1ts.png"></div>
                </div>


            </div>
        </section>
    </div>
    <div id="corporate-alignment-branding">
        <section class="padding-top-bottom alternate-dark">
            <div class="container">
                <div class="row">
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-3cab.png"></div>
                    <div class="col-md-6">
                        <h1>Corporate Alignment &amp; Branding<br></h1>
                        <p><br>Vision Pioneers can help you in aligning all the objectives to the company vision and create unified branding for all organizational assets:</p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Review all strategies, policies and procedures and align them to corporate vision.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Develop Internal framework for aligning objectives to strategies</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Establish unique corporate identity.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Create branding guidelines such as logo, typography, color schemes, visual guidelines etc.</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Create document templates such as letterheads, envelopes, posters etc.</div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="web-content-designing">
        <section class="padding-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Web Designing and Content Creation<br></h1>
                        <p><br>We provide complete, cost effective and cutting edge web designing packages to take your business online in short time such as:</p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Layout design, wireframes and mockups</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Creating themes and styles as per your branding guidelines</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Converting mockups into web page</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Creating tailored content for all web pages</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Web hosting, domain and storage services</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Providing content management solution to maintain website</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Implement eCommerce capabilities</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Integrate website with enterprise software for providing live data</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Search engine optimization for digital marketing</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Website monitoring and support services</div></div>
                    </div>
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-1wcd.png"></div>
                </div>

            </div>
        </section>
    </div>
    <div id="other-services">
        <section class="padding-top-bottom alternate-dark">
            <div class="container">
                <div class="row">
                    <div class="col"><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/asset-2os.png"></div>
                    <div class="col-md-6">
                        <h1>Other Services<br></h1>
                        <p>Institutional excellence assessment and process improvements services as per best practices using advanced tools and techniques.<br></p>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Market research and studies</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Comprehensive quality certificates and ISO preparation</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Implementing and evaluating organizational maturity as per EFQM excellence framework</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Value stream analysis</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Productivity improvement</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Six sigma analysis</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Work and method study</div></div>
                        <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div><div>Business Process Re-engineering</div></div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    @*<section class="footer padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Services</strong><br></h3>
                    <p class="text-white">Complete Talent Acquistion</p>
                    <p class="text-white">Organizational Transformation</p>
                    <p class="text-white">Human Resource Consultancy</p>
                    <p class="text-white">Developing Strategies</p>
                    <p class="text-white">Technology Services</p>
                    <p class="text-white">Corporate Alignment &amp; Branding</p>
                    <p class="text-white">Web and Content Designing</p>
                    <p class="text-white">Other Services</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Company</strong><br></h3>
                    <p class="text-white">About Us&nbsp;</p>
                    <p class="text-white">Contact Us</p>
                    <p class="text-white">Company Profile</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 text-center"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">Request Call Back</button></div>
            </div>
            <div class="row"><div class="col-md-12 text-white"><hr></div>
                <div class="col">
                    <p class="text-white">©&nbsp;2022&nbsp;Vision Pioneers<br></p>
                    <p class="text-white">This website is designed &amp; commissioned by Vision Pioneers.<br></p>
                </div>
            </div>
        </div>
    </section>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>