@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@model ItemShelfViewModel
@{
    //ViewData["Title"] = ViewBag.PageName;
    Layout = null;
}

<script>
    $(document).ready(function () {

        getContactPersonGridListData();
        $.contextMenu({
            selector: '#tree-menuItems',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                var status = $trigger.data('status');

                switch (0) {
                    case 0:

                        return {
                            callback: function (key, options) {
                                switch (key) {

                                    case 'del':
                                        EditContact(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "del": { name: "Delete", icon: "fas fa-edit" },
                            }
                        };
                }
            }
        });
    });

    function OnSearch(e) {
        getItemsListData();
    }

    function AddCategory(e) {
        @*var portalId = $('#GlobalPortalId').val();
        var win = GetMainWindow();
          var udfs = encodeURIComponent('VendorId=@Model.VendorId');
        win.iframeOpenUrl = '/Cms/Page?lo=Popup&cbm=OnAfterNoteCreate&source=Create&dataAction=Create&templateCodes=IMS_VENDOR_CATEGORY_MAPPING&portalId=' + portalId + '&udfs=' + udfs;
        win.OpenWindow({ Title: 'Add Category', Width: 1000, Height: 700 });*@
        var win = GetMainWindow();
        win.iframeOpenUrl ="/Ims/InventoryManagement/ShelfCategoryMapping?itemshelfId=@Model.ShelfId"
        win.OpenWindow({ Title: 'Add Category', Width: 1000, Height: 700 });
        return false;
    }


    function OnAfterNoteCreate(note) {
        getContactPersonGridListData();
    }
    var columnDefs1 = [
        {
            field: "Id",
            headerName: "Select",
            cellRenderer: params => {
                return "<input type='checkbox' class='checkcontact' data-id='" + params.value + "'/>"
            }
        },
        {
            field: "ItemCategoryName",
            headerName: "Category Name"
        },
        {
            field: "ShelfNo",
            headerName: "Shelf No"
        },

        //{
        //    headerName: "Actions",
        //    field: "NoteId",
        //    cellRenderer: params => {
        //            return "<div class='btn-group grid-menu' id='tree-menuItems' data-idvalue='" + params.data.Id + "' data-status=\"" + params.data.NoteStatusCode + "\" ><i class='fas fa-ellipsis-v'></i></div>"
        //       }
        //}
    ];

    function getContactPersonGridListData() {
        document.getElementById("ItemShelfCategoryGrid").innerHTML = "";
        /*?Customer = " + $("#Customer").data("kendoDropDownList").value() + " & ProposalSource=" + $("#ProposalSource").data("kendoDropDownList").value() + " & WorkFlowStatus=$('input[WorkFlowStatus]:checked').val()" + " & FromDate=" + $("#FromDate").val() + " & ToDate=" + $("#ToDate").val(),*/
        gridConfig(
            "ItemShelfCategoryGrid",
            "/IMS/InventoryMaster/ReadItemShelfCategoryData?itemshelfId=@Model.ShelfId",
            columnDefs1,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    function onDelete()
    {
        ShowLoader($('#shelfCat'));
        var allVals = [];
        $("input[class='checkcontact']:checked").each(function () {
            allVals.push($(this).attr("data-id"));
        });
        //alert(allVals.join(", "));
        //return;
        $.ajax({
            url: "/Ims/InventoryMaster/DeleteItemShelfCategories?ids=" + allVals.join(", "),
            cache: false,
            success: function (html) {
                HideLoader($('#shelfCat'));
                ShowNotification("Deleted Successfully");
                getContactPersonGridListData();
            }
        });
    }
</script>

<div id="shelfCat">
    <div class="row col-12" style="text-align:center">
        <div style="width: 100%;" class="p-3">
            <fieldset class="fieldset">
                <legend class="fs-legend">Item Shelf Category</legend>
                <span style="text-align:center" class=" col-12">
                    <strong>Shelf No:</strong> @Model.ShelfNo
                </span>

     

        <div class="row col-12">

            <div class="col-12" style="text-align:right;">
                <input type="button" class="btn btn-warning" value="Add Category" style="margin: 5px;color: white" onclick="AddCategory()" />
                <input type="button" class="btn btn-primary" value="Back" style="margin:5px;color:white" onclick="onBack()" />
                <input type="button" class="btn btn-danger" value="Delete" style="margin:5px;color:white" onclick="onDelete()" />
            </div>

        </div>
        </fieldset>
    </div>
        </div>

   
        <fieldset class="fieldset">
            <legend class="fs-legend">Category List</legend>
           
                <div id="ItemShelfCategoryGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
         
           </fieldset>


</div>