@{ 
    ViewData["Title"] = "Upload Data";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;


@model DataUploadViewModel
<div>
    <p>
        @ViewBag.Err
    </p>



</div>
