@using CMS.UI.ViewModel;
@using CMS.Common;

@model CustomTemplateViewModel;
@{
    //Layout = string.Concat( "~/Views/Shared/Themes/",Model.Portal.Theme.ToString(),"/_Layout.cshtml");
    Layout = null;
}
 
<div class="pad-15">
    <div id="formio-container">
    </div>
</div>





