@using CMS.UI.ViewModel;
@using CMS.Common;
@model RecTaskViewModel
@{
    ViewBag.Title = "All Services";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    //Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/cms/Task/ReadServiceDataInProgress",
                    dataType: "json"
                }
            },
        });

        $("#kgrdTask").kendoListView({
            dataSource: dataSource,
            dataBound: OnDataBoundPending,
            template: kendo.template($("#templateTask").html())
        });

        var dataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/cms/Task/ReadServiceDataOverdue",
                    dataType: "json"
                }
            },
        });

        $("#kgrdTaskOverDue").kendoListView({
            dataSource: dataSource1,
            dataBound: OnDataBoundOverdue,
            template: kendo.template($("#templateTaskOverdue").html())
        });


        //$(function () {
        //    $.ajax({
        //        url: "/nts/ntshome/DashboardCount?moduleName=Dms",
        //        dataType: "json",
        //        type: "GET",
        //        contentType: 'application/json; charset=utf-8', //define a contentType of your request
        //        cache: false,
        //        success: function (data) {
        //            if (data.Data != null) {
        //                $('#inprogress-task').html(data.Data.T_AssignPending);
        //                $('#overdue-task').html(data.Data.T_AssignOverdue);
        //                $('#shared-active-task').html(data.Data.T_ShareWithOverdue + data.Data.T_ShareWithPending);//Inprogess/overdue
        //            }
        //        }
        //    })
        //});
    });

    function FilterGridPending() {
        var search = {
            TaskStatus: "IN_PROGRESS",//IN_PROGRESS
            Mode: $("#Mode").val(),
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }

    function FilterGridOverDue() {
        var search = {
            TaskStatus: "OVER_DUE",
            Mode: $("#Mode").val(),
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }

    function FilterGridShared() {
        var search = {
            TaskStatus: "",
            Mode: 'SHARE_TO',
            ModuleName: "Dms",
            Text: $("#Text").val(),
        };
        return search;
    }


    function OnDataBoundPending(arg) {

        document.getElementById('kgrdTask').style.border = 'none';
        var data = $("#kgrdTask").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-pending').show();
        } else {
            $('#no-data-pending').hide();
        }
    }

    function OnDataBoundOverdue(arg) {
        document.getElementById('kgrdTaskOverDue').style.border = 'none';
        var data = $("#kgrdTaskOverDue").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-overdue').show();
        } else {
            $('#no-data-overdue').hide();
        }
    }
    var isFiltered = false;

    function OpenNote(id) {

          var win = GetMainWindow();
        win.iframeOpenUrl = '/nts/note/NoteCard?NoteId=' + id;
        win.OpenWindow({ Title: 'Document', Width: 1200, Height: 650 });
         return false;
    }
    function OpenService(taskId) {

        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("Service", "Task", new { @area= "Cms" })?taskId=' + taskId +'&isPopUp=true' ;
        win.OpenWindow({ Title: 'View Service', Width: 1200, Height: 950 });
        return false;
    }
    function IframePostbackScript() {
        $("#kgrdTask").data("kendoListView").dataSource.read();
        $("#kgrdTaskOverDue").data("kendoListView").dataSource.read();
        //$("#kgrdTaskShared").data("kendoListView").dataSource.read();
    }

    $("#mysearch").keyup(function () {

        var val = $('#mysearch').val();

        var listView = $("#kgrdTask").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },

            ]
        });

        var listView1 = $("#kgrdTaskOverDue").data("kendoListView");
        listView1.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "AvatarName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "GetTaskOwner",
                    operator: "contains",
                    value: val
                },
                {
                    field: "AssigneeDisplayName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskStatusName",
                    operator: "contains",
                    value: val
                }
            ]
        });


        var listView2 = $("#kgrdTaskShared").data("kendoListView");
        listView2.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Subject",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskNo",
                    operator: "contains",
                    value: val
                },
                {
                    field: "AvatarName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "GetTaskOwner",
                    operator: "contains",
                    value: val
                },
                {
                    field: "AssigneeDisplayName",
                    operator: "contains",
                    value: val
                },
                {
                    field: "TaskStatusName",
                    operator: "contains",
                    value: val
                }
            ]
        });

    });
    function CloseShare() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>

<script type="text/x-kendo-tmpl" id="templateTask">
    <div @*class="item-hover"*@>
        <div class="row" style="padding:3px" id="step-template-#=Id#">
            <div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
               <h1>#=TaskOwnerFirstLetter#</h1>
            </div>
            <div class="col-xs-3 col-sm-3" style="    margin-top: 15px;">
                @*<span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>*@
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">Requested By</span>
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeUserName#</span>
            </div>
            <div class="col-xs-2 col-sm-2 item-hover" style="margin-top: 15px;display:flex" onclick="OpenService('#:Id#');" title="click to open Task">
                <span style="font-size:1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>


            <div class="col-xs-1 col-sm-2" style="    margin-top: 15px;">
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:orange; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
            <div class="col-xs-2 col-sm-2" style="    margin-top: 15px;">
                <div style="font-size: 1em; text-align:end; color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>


<script type="text/x-kendo-tmpl" id="templateTaskOverdue">
    <div class="item-hover">
        <div class="row" style="padding:3px" id="step-template-#=Id#">
            <div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
    margin-left: 40px;">
                   <h1>#=TaskOwnerFirstLetter#</h1>

            </div>
            <div class="col-xs-3 col-sm-3" style="    margin-top: 15px;">
                @*<span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From">#=OwnerUserName#</span>*@
                <span class="fromcolor" style="font-size: 1em; color:gray; display: inline-block;">Requested By</span>
                <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned To">#=AssigneeUserName#</span>
            </div>
            <div class="col-xs-2 col-sm-2" style="margin-top: 15px; display:flex" onclick="OpenService(#:Id#);" title="click to open Task">
                <span style="font-size: 1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>

            <div class="col-xs-1 col-sm-2" style="    margin-top: 15px;">
                <span style=" color:white;font-size:1em;border-radius:10px;margin-bottom:5px ;padding:5px;background-color:red; text-align:center;white-space:nowrap;">#=TaskNo#</span>
            </div>
            <div class="col-xs-2 col-sm-2" style="    margin-top: 15px;">
                <div style="font-size: 1em; text-align:end; color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
        <div id="step-edit-div-#=Id#"></div>
        <hr style="margin-bottom: 1px !important;">

    </div>
</script>

<style>
    /* The hero image */
    .head-image {
        object-fit: fill;
    }

    /* Place text in the middle of the image */
    .head-text {
        text-align: left;
        position: absolute;
        top: 28%;
        color: white;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .main {
        margin-top: 1%;
        text-align: right;
    }

    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .task-card {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 1%;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 98%;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eee;
        min-height: 160px;
    }

    .sub-div {
        overflow-y: scroll;
        height: 260px;
        overflow-x: hidden;
    }

    .card-heading {
        margin-left: 1%;
        font-weight: bold;
        margin-top: 12px;
    }

    .item-hover:hover {
        background-color: #d3d3d340;
        cursor: pointer !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .k-dropdown:hover {
        transform: none !important;
    }

    .k-select:hover {
        transform: none !important;
    }

    .k-input:hover {
        transform: none !important;
    }

    .k-state-hover :hover {
        transform: none !important;
    }

    span:hover {
        transform: none !important;
    }

    .k-link:hover {
        transform: none !important;
    }

    h6:hover {
        transform: none !important;
    }

    .form-control:hover {
        transform: none !important;
    }

    input:hover {
        transform: none !important;
    }
</style>


<div class="main">
    <div class="col-sm-6 form-group" style="text-align:left;top:-20px;">
        @* <h3>Pending Tasks  assigned  to @HttpContext.Current.Session[Constant.SessionVariable.UserName]</h3>*@
    </div>
    <!-- Actual search box -->
    <div class="col-sm-6 form-group has-search pull-right">
        <span class="fa fa-search form-control-feedback"></span>
        <input id="mysearch" type="text" class="form-control" placeholder="Search by task subject, description or number">
    </div>

</div>

<div class="task-card">
    <div style="background-color:#efefef!important">
        <div class="row">
            <div style="float: left; margin-left: 30px; margin-top: 8px;">
                <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

            </div>
            <div style="margin-left:30px;">
                <h5 class="card-heading" style="color:black">In Progress Services &nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>

            </div>



        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: orange;">
    <div class="sub-div">
        @*@(Html.Kendo().ListView<TaskViewModel>
                ().Name("kgrdTask")
                .TagName("div")
                .ClientTemplateId("templateTask")
                .AutoBind(true)
                .DataSource(
                dataSource => dataSource
                .PageSize(20)
                .Events(events => events.Error("OnError"))
                .Read(read => read.Action("ReadTaskData", "Task", new { Area = "nts" }).Data("FilterGridPending"))
                .Model(model => model.Id(p => p.Id))
                ).Events(events => events
                .DataBound("OnDataBoundPending"))
            )*@

        @*@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("kgrdTask")
            .TagName("div")
            .ClientTemplateId("templateTask")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadServiceDataInProgress", "Task", new { Area = "cms" }))
                )
               .Events(events => events
            .DataBound("OnDataBoundPending"))
        )*@

        <div id="kgrdTask"></div>

        @Html.HiddenFor(x => x.Id)
        <div id="no-data-pending" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>

<div class="task-card">
    <div style="background-color:#efefef!important">
        <div class="row">
            <div style="float: left; margin-left: 30px; margin-top: 8px;">
                <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

            </div>
            <div style="margin-left:30px;">
                <h5 class="card-heading" style="color:black;">Overdue Services &nbsp; <span class="label label-danger" id="overdue-task"></span></h5>

            </div>


        </div>
    </div>
    <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: red;">
    <div class="sub-div">
        @*@(Html.Kendo().ListView<TaskViewModel>
          ().Name("kgrdTaskOverDue")
          .TagName("div")
          .ClientTemplateId("templateTaskOverdue")
          .AutoBind(true)
          .DataSource(
          dataSource => dataSource
          .PageSize(20)
          .Events(events => events.Error("OnError"))
          .Read(read => read.Action("ReadTaskData", "Task", new { Area = "nts" }).Data("FilterGridOverDue"))
          .Model(model => model.Id(p => p.Id))
          ).Events(events => events
          .DataBound("OnDataBoundOverdue"))
        )*@

        @*@(Html.Kendo().ListView<RecTaskViewModel>()
            .Name("kgrdTaskOverDue")
            .TagName("div")
            .ClientTemplateId("templateTaskOverdue")
            .DataSource(dataSource => dataSource
                    .Ajax()
            .Read(read => read.Action("ReadServiceDataOverdue", "Task", new { Area = "cms" }))
                )
               .Events(events => events
            .DataBound("OnDataBoundOverdue"))
        )*@

        <div id="kgrdTaskOverDue"></div>
        @Html.HiddenFor(x => x.Id)
        <div id="no-data-overdue" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

    </div>
</div>



