@using Kendo.Mvc.UI;
@using CMS.UI.ViewModel
@*@model ProgramDashboardViewModel*@
@{
    ViewBag.Title = "Project Reports";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
   

    #listView, #listViewApp {
        /* padding: 10px 5px; */
        margin-bottom: 10px;
        /*min-height: 510px;*/
        font: inherit;
        background: transparent;
        border: none;
    }

    .card {
        min-height: 300px;
    }

    .box-org1 {
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #f3580075;
        background: linear-gradient(60deg,#fc917f,#fc917f);
        background: #fc917f;
        border-radius: .5rem;
        padding-left: 10px;
        color: white;
    }

    .product {
        float: left;
        position: relative;
        width: 200px;
        min-height: 100px;
        margin: 0 5px;
        background-color: #ceced2;
        margin-bottom: 15px;
        box-shadow: inset 19px 20px 20px 0px rgba(158, 149, 149, 0.18), 0 7px 10px -5px rgba(225, 232, 226, 0.4);
        border-radius: 5px;
        background: url(../../Images/background2.png);
    }

        .product img {
            width: 110px;
            height: 110px;
            background-color: transparent;
        }

        .product h3 {
            margin: 0;
            padding: 5px;
            /*max-width: 96px;*/
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: bold;
            color: #751e1e;
        }

        .product:hover {
            box-shadow: inset -2px 4px 20px 20px rgba(90, 82, 82, 0.18), -3px 2px 11px 4px rgba(18, 29, 20, 0.4);
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .box-red, .box-blue, .box-brown, .box-green, .box-org, .box-org1 {
        padding-top: 3px;
    }

    .card-header {
        height: 100px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 7px;
        color: #FFF;
        /* border-top-left-radius: 5px;
            border-top-right-radius: 5px;*/
    }

    .card-detail {
        padding-left: 15px;
    }

    .no-gutter > [class*='col-'] {
        padding-right: 0;
        padding-left: 15px;
    }

    /*.card-detail {
            height: 85px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;
        }*/

    .report-card {
        padding: 20px;
    }

    .icon {
        height: inherit;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        text-align: center;
        padding-top: 15px;
    }

    .icon-img {
        margin-left: -15px;
        background-color: transparent;
    }

    .img {
        margin-left: -15px;
        padding-top: 5px;
        background-color:transparent;
    }


    .icon:before {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 12px;
        height: 100px;
        border-left: 10px solid;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }

    .skew1 {
        color: #ACABAB;
    }

    .skew2 {
        color: #BDB76B;
    }

    .skew3 {
        color: #51D1E1;
    }

    .skew4 {
        color: #E6AC00;
    }

    .skew5 {
        color: #A3A3C2;
    }

    .skew6 {
        color: #F1A38E;
    }

    .skew7 {
        color: #CD7D66;
    }

    .skew8 {
        color: #99DEA8;
    }

    .skew9 {
        color: #A899DE;
    }

    .skew10 {
        color: #7FC2D6;
    }

    .tooltiptext {
        visibility: hidden;
        width: 250px;
        border-radius: 6px;
        padding: 5px;
        text-align: left;
        font-size: 12px;
        background-color: #2b2929;
        color: #fff;
        /*Position the tooltip */
        position: absolute;
        z-index: 1;
        right: 100%;
        top: 100%;
    }

    .info1:hover .tooltiptext {
        visibility: visible;
    }

    .info2:hover .tooltiptext {
        visibility: visible;
    }

    .info3:hover +.tooltiptext {
        visibility: visible;
    }

    .info4:hover +.tooltiptext {
        visibility: visible;
    }

    .info5:hover .tooltiptext {
        visibility: visible;
    }

    .info6:hover .tooltiptext {
        visibility: visible;
    }

    .info7:hover .tooltiptext {
        visibility: visible;
    }

    .info8:hover .tooltiptext {
        visibility: visible;
    }

    .info9:hover .tooltiptext {
        visibility: visible;
    }

    .info10:hover .tooltiptext {
        visibility: visible;
    }
    .card1 {
        padding-left: 10px;
    }
    .hide {
        visibility: hidden;
        width: 250px;
        border-radius: 6px;
        padding: 5px;
        text-align: left;
        font-size: 12px;
        background-color: #2b2929;
        color: #fff;
        /*Position the tooltip */
       position: absolute;
        z-index: 1;
        right: 50%;
        top: 50%;
    }

    .myDIV:hover + .hide {
        display: block;
        color: white;
        background-color:black;
        Visibility: visible;
    }
    
</style>
<div style=""><img style="width:100%; height:100px" src="~/images/Project Report.png" /></div>

<div class="">


    <div class="row card1">
        @*<div class="col-xs-12 no-gutter" style="font-size: 20px; color: dimgray; font-weight: bold; text-align: left">
            <div>@ViewBag.Title</div>
        </div>*@
    </div>

    <div class="row card1" >
        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/CreatedVsResolvedTaskReport','Created vs. Resolved Tasks Report')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #606060;">
                        <div class="col-sm-4 icon skew1" style="background-color: #ACABAB">
                            <img class="img" src="~/images/CreatedVsResolved.png">
                        </div>
                        <div class="col-sm-8 card-detail"  )">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5 >Created vs. Resolved Tasks</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                
                                    @*<span class="tooltiptext"></span>*@
                                
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">Created tasks versus resolved tasks over a specified period to check progress of your backlog.</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #ceced2;">
                            Created tasks versus resolved tasks over a specified period to check progress of your backlog.
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/PieChartReport','Pie Chart Report')" >
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #9E9947;">
                        <div class="col-sm-4 icon skew2" style="background-color: #BDB76B;">
                            <img class="img" src="~/images/PieChart.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px" >
                                <h5>Pie Chart Report</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">

                              
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">Pie chart of tasks for a project grouped by specific field as needed. Handy overview of your task spread over status, assignee, type etc.</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #9e9947;">
                               Pie chart of tasks for a project grouped by specific field as needed. Handy overview of your task spread over status, assignee, type etc.
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/AverageAgeReport','Average Age Report')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #21B1C4">
                        <div class="col-sm-4 icon skew3" style="background-color: #51D1E1">
                            <img class="img" src="~/images/AverageReport.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Average Age Report</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info3">
                                    <span class="tooltiptext">
                                        Project wise average age of all open tasks at a glance to keep your backlog in control.
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide"> Project wise average age of all open tasks at a glance to keep your backlog in control.</div>

                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #21b1c4;">
                            Project wise average age of all open tasks at a glance to keep your backlog in control.
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row card1">
        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/ResolutionTimeReport','Resolution Time Report')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #CC9900;">
                        <div class="col-sm-4 icon skew4" style="background-color: #E6AC00">
                            <img class="img" src="~/images/Resolution.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Resolution Time Report</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info4">
                                    <span class="tooltiptext">
                                        Time taken to resolve tasks of a project. Clear indication of how close or far is your planned vs actual closure date.
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">Time taken to resolve tasks of a project. Clear indication of how close or far is your planned vs actual closure date.</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #cc9900;">
                                Time taken to resolve tasks of a project. Clear indication of how close or far is your planned vs actual closure date.
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/ResourceAllocationReport','Resource Allocation Report')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #8585AD;">
                        <div class="col-sm-4 icon skew5" style="background-color: #A3A3C2;">
                            <img class="img" src="~/images/Resource.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Resource Allocation Report</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info5">
                                    <span class="tooltiptext">
                                        Resource allocation report is a one-stop window to find details of resource(s) allocated to projects and tasks and generate spent hour reports for certain period of time.
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">Resource allocation report is a one-stop window to find details of resource(s) allocated to projects and tasks and generate spent hour reports for certain period of time.</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #8585ad;">
                            Resource allocation report is a one-stop window to find details of resource(s)
                                allocated to projects and tasks and generate spent hour reports for certain period of time.
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/TimeSinceTasksReport','Time Since Tasks Report')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #EB7E60
">
                        <div class="col-sm-4 icon skew6" style="background-color: #F1A38E">
                            <img class="img" src="~/images/TimeSince.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Time Since Tasks Report</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info6">
                                    <span class="tooltiptext">
                                        Track task trends based on no of tasks created, worked upon, completed over specific period(s).
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">  Track task trends based on no of tasks created, worked upon, completed over specific period(s).</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #eb7e60;">
                            Track task trends based on no of tasks created, worked upon, completed over specific period(s).
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row card1">
        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/PendingTasksReport','Pending Tasks')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #AD2700;">
                        <div class="col-sm-4 icon skew7" style="background-color: #CD7D66">
                            <img class="img" src="~/images/PendingTask.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Pending Tasks</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info7">
                                    <span class="tooltiptext">
                                        A report to show the overall remaining estimated time vs actual time spent so far for all pending tasks against each resource.
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide"> A report to show the overall remaining estimated time vs actual time spent so far for all pending tasks against each resource.</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #ad2700;">
                           A report to show the overall remaining estimated time vs actual time spent
                           so far for all pending tasks against each resource.
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/ResourceUtilizationReport','Resource Utilization')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #4CC567;">
                        <div class="col-sm-4 icon skew8" style="background-color: #99DEA8">
                            <img class="img" src="~/images/ResourceUtilization.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Resource Utilization</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info8">
                                    <span class="tooltiptext">
                                        A comprehensive report to show your team's utilization w.r.t time, project, status, task type and Actual vs Estd. Intelligent filters with custom period to focus easily on what you want to!
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide"> A comprehensive report to show your team's utilization w.r.t time, project, status, task type and Actual vs Estd. Intelligent filters with custom period to focus easily on what you want to!</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #4cc567;">
                            A comprehensive report to show your team's utilization w.r.t time, project,
                            status, task type and Actual vs Estd. Intelligent filters with custom period to focus easily on what you want to!
                        </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pmt/ProjectReport/WeeklyUsageReport','Weekly Usage')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #7D66CD;">
                        <div class="col-sm-4 icon skew9" style="background-color: #A899DE">
                            <img class="img" src="~/images/WeeklyUsage.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Weekly Usage</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info9">
                                    <span class="tooltiptext">
                                        A quick glance of your week's progress and performance w.r.t to the previous week. # of tasks created/closed, spent hours, project status and a summary report.
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">  A quick glance of your week's progress and performance w.r.t to the previous week. # of tasks created/closed, spent hours, project status and a summary report.</div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #7d66cd;">
                                A quick glance of your week's progress and performance
                                 w.r.t to the previous week. # of tasks created/closed, spent hours, project status and a summary report.
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row card1">
        <div class="col-md-4 no-gutter report-card">
            <div style="cursor:pointer;height:95px;" onclick="OpenReportPopup1('/pjm/ProjectReport/HourSpentReport','Hour Spent Report')">
                <div class="ui-item">
                    <div class="col-xs-12 row no-gutter card-header" style="background-color: #4CAAC5;">
                        <div class="col-sm-4 icon skew10" style="background-color: #7FC2D6">
                            <img class="img" src="~/images/HourSpent.png" />
                        </div>
                        <div class="col-sm-8 card-detail">
                            <div class="row" style="padding:20px 0px 0px 20px">
                                <h5>Hour Spent Report</h5>
                            </div>
                            <div class="row" style="float:right;padding-right:30px">
                                @*<i class="fa fa-info-circle info10">
                                    <span class="tooltiptext">
                                        Quickly see the Burn-down chart for your time and effort spent,
                                        Time spent by Task Types and detailed count of hours spent,
                                        tasks closed and tasks replied by All resources of the chosen project.
                                    </span>
                                </i>*@
                                <div class="myDIV"><i class="fa fa-info-circle"></i></div>
                                <div class="hide">
                                    Quickly see the Burn-down chart for your time and effort spent,
                                    Time spent by Task Types and detailed count of hours spent,
                                    tasks closed and tasks replied by All resources of the chosen project.
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-12 no-gutter card-detail" style="background-color: #4caac5;">
                            Quickly see the Burn-down chart for your time and effort spent,
                            Time spent by Task Types and detailed count of hours spent,
                            tasks closed and tasks replied by All resources of the chosen project.
                        </div>*@
                </div>
            </div>
        </div>

    </div>

</div>

<script>

        function OnCreate() {
            // iframeOpenUrl = "/pmt/pmthome/task?serviceId=" + id + "&status=" + status;
           
            var url = "/nts/service/manage?layoutMode=Iframe&templateMasterCode=JOB_REQUEST";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Create Job Request', Width: 1600, Height: 850 });
            return false;
        }
        function OnCreateReplace() {
           
            var url = "/hrs/positionchart?chartMode=Select&rs=Recruitment";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Create Job Request', Width: 1600, Height: 850 });
            return false;
        }
        function CloseProject(refresh) {
            var win = GetMainWindow();
            win.CloseWindow();
            return false;
            if (refresh)
                $("#listView").data("kendoListView").dataSource.read();
        }
        function Close() {
            var win = GetMainWindow();
            win.CloseWindow();
            return false;

        }
        function OpenReportPopup(url, title) {
            // window.location.href = "/pmt/projectmanagement/index?pmtId="+id;
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: title, Width: 1200, Height: 650 });
            return false;
        }
    function OpenReportPopup1(url, title) {
       // return false;
           // window.location.href = url;
        LoadPartailView1(url, 'cms-content');
        
        }

        function IframePostbackScript(res, type) {
            var win = GetMainWindow();
            win.CloseWindow();
            return false;
            $("#listView").data("kendoListView").dataSource.read();
        }

        function OnServiceReq(mode, status, title) {

            iframeOpenUrl = "/rec/rechome/service?mode=" + mode + "&serviceStatus=" + status;
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.setOptions({
                width: 1200,
                height: 600,
                title: title
            });
            wnd.center().open();

            
        }

        function OnTask(mode, status, title) {
            iframeOpenUrl = "/rec/rechome/task?mode=" + mode + "&taskStatus=" + status;
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.setOptions({
                width: 1200,
                height: 600,
                title: title
            });
            wnd.center().open();

            
        }

        function onDataBound(e) {
            // kendoConsole.log("Data bound");
        }
        $(function () {
            $(document).bind("kendo:skinChange", updateTheme);
        });
        function updateTheme() {
            $("#chart").getKendoChart().setOptions({ theme: kendoTheme });
        }
        $(function () {
            var interval = 30 * 1000;
            var refresh = function () {
                $.ajax({
                    url: "/general/notification/UnReadNotificationCount?moduleName=Rec",
                    contentType: "application/json",
                    cache: false,
                    success: function (result) {
                        if (eval(result.UnReadCount) >= 0) {
                            $('#spsnotificount').html(result.UnReadCount);
                        }
                        setTimeout(function () {
                            refresh();
                        }, interval);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        //alert(errorThrown);
                    }
                });
            };
            refresh();

        });

</script>


