@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DocumentController> Resource
@{
    ViewData["Title"] = "Reset Document Tags";
    //Layout = null;
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div class="control-section">
    <div class="sample-container">
        <br />

        <input type="button" class="btn btn-primary" value="Update Count" id="submitBtn" onclick="OnResetTagsForDocuments();" />
    </div>
</div>

<script>
    function OnResetTagsForDocuments() {
        ShowLoader($('.control-section'));
        $.ajax({
                         url: '@Url.Action("ResetTagsForDocuments", "Document", new { @area="DMS"})',
                        type: 'GET',
                        data: {},
                        dataType: 'json',
                            success: function (result) {
                            if (result) {
                                kendo.alert("Reset Successfully.");
                                HideLoader($('.control-section'));
                            }
                            else {
                                kendo.alert("Reset Failed !");
                                HideLoader($('.control-section'));
                            }
                    },
                    error: function (ert) {

                    }
                });
    }
</script>





