@inject Synergy.App.Common.IUserContext _userContext
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using System.Web;
@{

    Layout = ViewBag.Layout;
}

<div class='p-3'>
    <h3 class='text-danger font-weight-bold'>Multiple portal access not allowed in same session</h3>
    <h6 class='text-danger'>The portal '@ViewBag.PortalDisplayName' is already opened in current session. You cannot open another portal in the same session. But you can use 'Switch Portal' option under profile menu to launch any portal for which you have permission to access</h6>
    <a href="/portal/@_userContext.PortalName">Click here to launch '@ViewBag.PortalDisplayName'</a>
</div>