@{
    ViewData["Title"] = "CCTV Monitor View";
    Layout = null;
}

<div style="text-align:center">
    @*<video width="950" height="500" controls autoplay>
            <source src="~/images/sampleV.mp4" type="video/mp4" />
        </video>*@

    @*<video  width="950" height="500" controls="controls">
            <source src="youtu.be/jjlBnrzSGjc" type="video/mp4"/>
        </video>*@
    <video width="950" height="500" controls>        
        <source src="~/images/VideoSample.mp4" type="video/mp4" />        
    </video>
</div>
