@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "API Connection";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<div id="map" style="height:500px"></div>    

<script>
    $(document).ready(function () {
        
        var locations = @Html.Raw(Json.Serialize(ViewBag.MarkersCamera1));
        var markersCluster = L.markerClusterGroup();
        var markerArray = [];
        var myFGMarker = L.FeatureGroup;
        for (var i = 0; i < locations.length; i++) {
            if (locations[i]["Latitude"] != null && locations[i]["Latitude"] != "" && locations[i]["Longitude"] != null && locations[i]["Longitude"] != "") {
                marker = new L.marker([locations[i]["Latitude"], locations[i]["Longitude"]])
                    .bindPopup(locations[i]["PoliceStation"]);
                marker.on('mouseover', function (e) {
                    this.closePopup();
                });
                markerArray.push(marker);
                markersCluster.addLayer(marker);
                //myFGMarker.addLayer(marker);
            }
        }
        var layergroup = L.layerGroup(markerArray);
        var map = L.map("map", {
            center: [26.8467, 80.9462],
            zoom: 7,
            maxZoom: 16,
            layers: [markersCluster]
        });
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "© OpenStreetMap contributors"
        }).addTo(map);                        map.locate({ setView: true, maxZoom: 16 });        map.fitBounds(markersCluster.getBounds());

        
        //map.fitBounds(markerArray.getBounds());
    });
</script>
