@model Synergy.App.ViewModel.DashboardItemMasterViewModel
@using Syncfusion.EJ2;
@{
    ViewData["Title"] = "DrillDown Report";
    //Layout = null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<style>
   
</style>

<div id="builder">
    <div id="@Model.ChartKey"></div>
</div>

<script>
@Html.Raw(Model.chartMetadata);
</script>
@Html.EJS().ScriptManager()





