@model Synergy.App.ViewModel.DashboardItemMasterViewModel
@{
    ViewData["Title"] = "Report";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
}
<style>
    canvas {
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        border-radius: 4px;
    }

    h4 {
        font-size: larger;
        color: black;
        font-weight: bold;
        text-align: center;
    }
</style>



<div id="@Model.ChartKey"></div>
<div id="temp">
    <script>
         @Html.Raw(Model.chartMetadata);
    </script>
</div>







