@model Synergy.App.ViewModel.SchedulerSyncViewModel
@using Synergy.App.ViewModel;
@{
    ViewData["Title"] = "Logstash";
    Layout = null;
    //Layout = "/Views/Shared/_Reference.cshtml";
}
<style>
</style>
<div class="row col-12 pad-10">
    <form asp-controller="BusinessAnalytics" asp-action="ManageLogstash" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="col-12">
            <label for="logstashContent">Logstash Content</label>
        </div>
        <br />
        <div class="col-12">
            <div class="page-wrapper box-content">
                <textarea class="html-logstash-content" asp-for="logstashContent" id="logstashContent"></textarea>
            </div>
        </div>
        <div class="cms-footer">
            <input type="submit" class="btn btn-primary" value="Save" onclick="SaveData()" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#logstashContent").val('@ViewBag.FileConetent');
        $('.html-logstash-content').richText();

    });
   var onAjaxSuccess = function (res) {
        if (res.success) {            
            ShowNotification("Saved Successfully", "success");
        }
        else {
            showError(res.error);
        }
        HideLoader($('#template-content'));
    };
</script>










