@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Widget Dashboard";
    Layout = null;
    
}

<div class="pad-10">
    <iframe id="iframeChart" src="/cms/BusinessAnalytics/WidgetDashboard" onload="onMyFrameLoad(this)"  height="900" width="100%"></iframe>
</div>

<script>
    ShowLoader($('#main-content'));
    function onMyFrameLoad() {
        HideLoader($('#main-content'));
    };
</script>