@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Business Diagram";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/joint.js/rapid.css" rel="stylesheet" />
    <link href="~/lib/joint.js/config/style.css" rel="stylesheet" />
    <link href="~/lib/joint.js/config/theme-picker.css" rel="stylesheet" />

    <!-- theme-specific application CSS  -->
    <link href="~/lib/joint.js/config/style.dark.css" rel="stylesheet" />
    <link href="~/lib/joint.js/config/style.material.css" rel="stylesheet" />
    <link href="~/lib/joint.js/config/style.modern.css" rel="stylesheet" />

</head>
<body>
    <div id="app">
        <div class="app-header">
            <div class="app-title">
                <h1>Business Diagram</h1>
            </div>
            <div class="toolbar-container"></div>
        </div>
        <div class="app-body">
            <div class="stencil-container"></div>
            <div class="paper-container"></div>
            <div class="inspector-container"></div>
            <div class="navigator-container"></div>
        </div>
    </div>

    <!-- Rappid/JointJS dependencies: -->
    <script src="~/lib/joint.js/jquery.js"></script>
    <script src="~/lib/joint.js/lodash.js"></script>
    <script src="~/lib/joint.js/backbone.js"></script>
    <script src="~/lib/joint.js/graphlib.core.js"></script>
    <script src="~/lib/joint.js/dagre.js"></script>

    <script src="~/lib/joint.js/rapid.js"></script>

    <!-- Application files:  -->
    <script src="~/lib/joint.js/config/halo.js"></script>
    <script src="~/lib/joint.js/config/selection.js"></script>
    <script src="~/lib/joint.js/config/inspector.js"></script>
    <script src="~/lib/joint.js/config/stencil.js"></script>
    <script src="~/lib/joint.js/config/toolbar.js"></script>
    <script src="~/lib/joint.js/config/sample-graphs.js"></script>
    <script src="~/lib/joint.js/config/main.js"></script>
    <script src="~/lib/joint.js/config/theme-picker.js"></script>
    <script src="~/lib/joint.js/config/joint.shapes.app.js"></script>
    <script src="~/lib/joint.js/config/navigator.js"></script>

    <script>
        joint.setTheme('modern');
        app = new App.MainView({ el: '#app' });
        themePicker = new App.ThemePicker({ mainView: app });
        themePicker.render().$el.appendTo(document.body);
        window.addEventListener('load', function () {
            app.graph.fromJSON(JSON.parse(App.config.sampleGraphs.emergencyProcedure));
        });
    </script>

    <!-- Local file warning: -->
    <div id="message-fs" style="display: none;">
        <p>The application was open locally using the file protocol. It is recommended to access it trough a <b>Web server</b>.</p>
        <p>Please see <a href="README.md">instructions</a>.</p>
    </div>
    <script>
        (function () {
            var fs = (document.location.protocol === 'file:');
            var ff = (navigator.userAgent.toLowerCase().indexOf('firefox') !== -1);
            if (fs && !ff) {
                (new joint.ui.Dialog({
                    width: 300,
                    type: 'alert',
                    title: 'Local File',
                    content: $('#message-fs').show()
                })).open();
            }
        })();
    </script>
</body>
</html>