@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DMSReportController> Resource
@using Synergy.App.Common;
@{
    ViewBag.Title = "Document Serach Result";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    em {
        background-color: yellow;
    }
</style>
<script>

    $(document).ready(function () {
        getDataP();
    });
    var columnDefs = [

      
        {
            headerName: "Name", field: "NoteSubject",            
            cellRenderer: params => {
                
                var foldertype = "";
                if (params.data.FolderType == "Folder" && params.data.TemplateCode == "WORKSPACE_GENERAL") {
                    foldertype= '<span class="fromcolor" style="font-size: 1em; display: inline-block; " title="Name"><i class="fas fa-folder" style="color: DeepSkyBlue; margin-right: 10px;"></i></span>'

                }
                else if (params.data.FolderType == "Folder" && params.data.TemplateCode == "GENERAL_FOLDER") {
                    foldertype = '<span class="fromcolor" style="font-size: 1em; display: inline-block; " title="Name"><i class="fas fa-folder" style="color: Gold; margin-right: 10px;"></i></span>'

                }
                else {
                    foldertype = '<span class="fromcolor" style="font-size: 1em; display: inline-block; " title="Name"><i class="fas fa-file-alt" style="color: grey; margin-right: 10px;"></i></span>'

                }
                  
                  var p = document.createElement('p');
                    p.innerHTML = foldertype + params.value;
                  return p;
              }
        },
        //{
        //    headerName: "Description", field: "NoteDescription",
        //    cellRenderer: params => {
        //        var p = document.createElement('p');
        //        p.innerHTML = params.value;
        //        return p;
        //    }
        //  },
          {
              headerName: "Note No", field: "NoteNo", 
              cellRenderer: params => {
                  var p = document.createElement('p');
                  p.innerHTML = params.value;
                  return p;
              }
          },
          {
              headerName: "File Name", field: "FileName",
              cellRenderer: params => {
                  var p = document.createElement('p');
                  p.innerHTML = params.value;
                  return p;
              }
          },
        {
            headerName: "File Extension", field: "FileExtension",
            cellRenderer: params => {
                var p = document.createElement('p');
                p.innerHTML = params.value;
                return p;
            }
        },
        {
            headerName: "File Extracted Text", field: "FileExtractedText",
            cellRenderer: params => {
                var p = document.createElement('p');
                p.innerHTML = params.value;
                return p;
            }
        },
          {
              headerName: "Actions",
              field: "Id",
              cellRenderer: params => {

                  return "<i class='fal fa-directions' style='pointer:curser'  title='Go to Location' onclick='gotoFileManager(\"" + params.value + "\")'></i>"



              }
          },
    ];
    function getDataP() {
        document.getElementById("DocumentSearchResultGrid").innerHTML = "";
       gridConfig(
           "DocumentSearchResultGrid",
           "/dms/document/ReadDocumentSearchResult?serachstr=@ViewBag.SearchStr&parentId=@ViewBag.ParentId",
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }
    function gotoFileManager(id) {        
        var win = GetMainWindow();
        win.CloseWindow();
        var portalId = win.$('#GlobalPortalId').val();
        var customurl = encodeURIComponent('id=' + id);
        var url = '/Cms/Page?pageName=FileExplorer&portalId=' + portalId + '&customUrl=' + customurl;
        //var url = '/Cms/Page?pageName=FileExplorer&portalId=' + portalId + '&customUrl=' + customurl;
        win.LoadCmsPartialView(url, 'Custom');

    }
</script>


<div id="appWrapper">
    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div id="DocumentSearchResultGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>
