@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@model ProgramDashboardViewModel

@{
    ViewBag.Title = "";
    Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}

<script type="text/javascript" src="~/lib/joint.js/lodash.js"></script>
<script type="text/javascript" src="~/lib/joint.js/backbone.js"></script>
<script type="text/javascript" src="~/lib/joint.js/joint.js"></script>
<script type="text/javascript" src="~/lib/joint.js/config/selection.js"></script>
<script type="text/javascript" src="~/lib/joint.js/dagre.js"></script>
<script type="text/javascript" src="~/lib/joint.js/graphlib.core.js"></script>
<script type="text/javascript" src="~/lib/joint.js/config/halo.js"></script>

<input id="templateId" hidden="hidden" type="text" value='@ViewBag.TempId' />
<input id="lo" hidden="hidden" type="text" value='@ViewBag.lo' />

<div class="" id="dcontent">
    <div class="row">
        <div class="row" style=" margin-left: 16px; margin-top: 8px; margin-bottom: 11px;">
            <div class="column" style="margin-left:5px;">
                <label for="sx">Zoom</label>
                <input id="sx" type="range" value="1.00" step="0.1" min="0.1" max="1.5" autocomplete="off" />
            </div>

            <div class="column" style="margin-left:5px;">
                <label for="width">Width</label>
                <input id="width" type="range" value="3000" step="500" min="3000" max="30000" autocomplete="off" />
            </div>

            <div class="column" style="margin-left:5px;">
                <label for="height">height</label> <input id="height" type="range" value="2000" step="500" min="2000" max="200000" autocomplete="off" />
            </div>

            <div class="column" style="margin-left:5px;margin-top: 5px;">
                <button title="Adjust Layout" class="btn btn-primary" onclick="graphLayout()"><span style="font-size:20px" class="fad fa-project-diagram "></span></button>
            </div>
            <div class="column" style="margin-left:5px;margin-top: 5px;">
                <button title="Refresh Diagram" class="btn btn-primary" onclick="onRefreshDiagram()"><span style="font-size:20px" class="fad fa-sync "></span></button>
            </div>

            @*<div class="column" style="margin-left:5px;margin-top: 5px;">
                <button title="Save Diagram" class="btn btn-primary" onclick="manageBusiness()"><span style="font-size:20px" class="fad fa-save"></span></button>
            </div>*@
        </div>
        <span id="businessTitleLabel"></span>
        <div style=" height: 600px; overflow-x: scroll; overflow-y: scroll;">  <div id="paper"></div></div>
    </div>
</div>

<div class="menu" style="background-color:#f2e9e4;width:200px">
    <ul id="menulist" class="menu-options" style="padding: 0;">
        <li class="menu-option">Back</li>
        <li class="menu-option">Reload</li>
        <li class="menu-option">Save</li>
        <li class="menu-option">Save As</li>
        <li class="menu-option">Inspect</li>
    </ul>
</div>

<style>
    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .menu .menu-options .menu-option {
        padding: 0;
        font-weight: 500;
        z-index: 1;
        font-size: 14px;
        padding: 10px 40px 10px 20px;
        cursor: pointer;
        border-bottom: solid;
        border-color: lightgrey;
    }

    .center {
        text-align: center;
    }

    .menu {
        width: 120px;
        z-index: 1;
        box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
        position: fixed;
        display: none;
        transition: 0.2s display ease-in;
    }

        .menu .menu-options {
            list-style: none;
            padding: 10px 0;
            z-index: 1;
            margin: unset;
        }

            .menu .menu-options .menu-option {
                font-weight: 500;
                z-index: 1;
                font-size: 14px;
                padding: 10px 40px 10px 20px;
                cursor: pointer;
                border-bottom: solid;
                border-color: lightgrey;
            }

                .menu .menu-options .menu-option:hover {
                    background: rgba(0, 0, 0, 0.2);
                }

    button {
        background: grey;
        border: none;
    }

        button .next {
            color: green;
        }

        button[disabled=false]:hover .next {
            color: red;
            animation: move 0.5s;
            animation-iteration-count: 2;
        }

    @@keyframes move {
        from {
            transform: translate(0%);
        }

        50% {
            transform: translate(-40%);
        }

        to {
            transform: transform(0%);
        }
    }

    #paper {
        background: #ffffff;
    }

    #stencil {
        background: #ece2e3;
    }

    hr {
        margin-bottom: 0px;
    }

    input, label {
        display: block;
    }

    .accordion {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
        padding-left: 25px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: 0.4s;
        font-weight: bold;
        width: 100%;
    }

    .accordion2 {
        background-color: #17a2b8;
        color: white;
        cursor: pointer;
        padding-left: 25px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 17px;
        transition: 0.4s;
        font-weight: bold;
        width: 100%;
    }

        .active, .accordion2:hover {
            background-color: #17a2b8;
        }


    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .diagram-tree-menu {
        padding: 4px;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        line-height: 19px;
        margin-left: 10px;
        font-size: medium;
        padding-left: 5px;
        visibility: hidden;
        cursor: pointer;
    }


        .diagram-tree-menu:hover {
            background-color: silver;
        }

    .treeview .k-state-hover:hover .diagram-tree-menu {
        visibility: visible;
    }

    .k-in {
        width: 100%
    }
</style>
<script src="~/js/CMS/dmsDiagram.js"></script>
