@*@using Syncfusion.EJ2.Navigations*@
@using Synergy.App.ViewModel;
@using Synergy.App.Common
@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}


<style>
    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
</style>

<div class="row-12" style="padding:40px;">
    <div class="col-12">

        @{
            await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel
            {
                CallbackMethod = "onFileUploadSuccess",
                PostUrl = string.Concat("/Cms/Template/ImportTemplateData?templateId=", ViewBag.TemplateId),
                Property = "importLov",
            });
        }
        <input type="hidden" id="importLov" />
    </div>

    @*<div class="col-12 pad-b-10">
        <div class="col-12" style="padding-top: 15px;">

        </div>
    </div>*@

    <input type="hidden" name="TemplateId" id="TemplateId" value="@ViewBag.TemplateId" />


    <div class="col-sm-12">
        @*<button type="submit" class="btn btn-primary">Save</button>*@
        <button type="button" class="btn btn-secondary" style="float:right;" onclick="closePopup()">Close</button>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        console.log("upload popup");
    });
   
    function closePopup() {
        
        var win = GetMainWindow();
        win.CloseWindow({ MethodName:'GetData_kgrid'});
        return false;
    }

    function onFileUploadSuccess(e) {
        
        var responsevalue = "";
        var responsevalue1 = "";
        if (e.error.length > 0) {
            for (var i = 0; i < e.error.length; i++) {
                responsevalue += e.error[i] + "<br/>";
                //responsevalue1 += e.error[i] + "\\n";
            }
            kendo.alert(responsevalue).title("Alert!");
            //closePopup();
            //$("#iconFile").dmUploader("reset");
        }
        else {
            responsevalue = "Data Inserted Successfully";
            kendo.alert(responsevalue).title("Alert!");
            //closePopup();
        }
    }

    function onProfileDel() {
        // 
        //  $('#dlg_DeleteConfirmation').data("kendoDialog").open();


        if ($("#PhotoId").val() != '') {
           // 
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                confirmDelete();
            }, function () {

            });
        }

    }

    function confirmDelete() {
        //
        //        alert("Banner Delete");
        $(".avatar-myProfile").attr("src", "/images/profile.jpg");
        $("#PhotoId").val('');
        var logoupload = $("#files").data("kendoUpload");
        //console.log(logoupload);
        logoupload.clearFile(function (file) { return true; });
    }
     var onAjaxSuccess = function (res) {      
        if (res.success) {
         
            ShowNotification("Saved Successfully", "success");
            closeNavMyProfile();
            window.parent.location.reload();          
        }
        else {
            showError(res.error);
        }
    };
    var showError = function (error) {     
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
</script>