@{ ViewData["Title"] = "AnalyticsandBI";
    //Layout = null;
}

<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="assets/js/readmore.js"></script>



@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/analytics-bi.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Analytics and BI</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom vertical-spacing">
    <div class="container">
        <h1 class="text-center">Business Intelligence(BI) and Business Analytics(BA)</h1><br>
        <p class="text-justify">Every day, the company generates an enormous volume and diversity of data. You need ways and tools to transform your data into actionable insights in order to make better decisions, discover problems, and be profitable. All data management systems, including business intelligence (BI) and its subsets, business analytics and data analytics, are used to interpret historical and current data and provide insights. Let's start with how analytics and business Intelligence helps in business. </p>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light top-spacing">
    <br>
    <h4 class="text-center top-spacing">
        Features Of Business Intelligence and Analytics Tools
    </h4><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Connectors</h5>
                    <ul class="no-left-space">
                        <li>Data Connectors</li>
                        <li>Flexible Data Integration</li>
                        <li>Join Data Sources</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Analysis</h5>
                    <ul class="no-left-space">
                        <li>Drag & Drop</li>
                        <li>Custom Fields & Expressions</li>
                        <li>Cross Queries</li>
                        <li>Trends Analysis</li>
                        <li>AI Alerts</li>
                        <li>Predictive Analytics</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Dashboards</h5>
                    <ul class="no-left-space">
                        <li>Templates</li>
                        <li>Cross-device Accessibility</li>
                        <li>Interactive Features</li>
                        <li>Custom Design</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Reporting</h5>
                    <ul class="no-left-space">
                        <li>Sharing Options</li>
                        <li>Embedding</li>
                        <li>Client Reporting</li>
                        <li>Viewing Rights</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><br>
</section>

<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Connectors</h1>
                    <p class="text-justify white-text"><br>Companies acquire data from a variety of sources, regardless of their size. This information is typically maintained in a variety of databases, external programmes, or an infinite number of Excel sheets, making it nearly hard to merge diverse data sets and keep all sources up to date.</p>
                </div>

            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/analyticsBI-connector.jpg')"></div><img class="img-fluid no-display topic-img" src="~/Themes/SynergySolutions/img/analytics-data-warehouse.png"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-report-analytics.jpg')
    "></div><img class="img-fluid no-display topic-img" src="~/Themes/SynergySolutions/img/features-report-analytics.jpg">
            </div>
            <div class="col-md-6">
                <h1>Analytics</h1>
                <p class="text-justify"><br>It's time to start making sense of your data after you've gathered it all in one place. This is when the process's analytical phase begins. You no longer need to be a data scientist to comprehend your company data, thanks to the development of current self-service BI tools. While executing complex analyses to take your data to the next level, this set of BI capabilities strives to make the analytical process user-friendly, time-efficient, and accessible.</p>
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <h1 class="white-text">Dashboards</h1>
                <p class="text-justify white-text">
                    <br>Project manager can view workload on team members and accordingly assign them to various tasks. Project manager can also see holiday, shift duty roster and planned leaves of team members to manage task allocation.
                    Team members can book time spent against each task in the system allowing them to submit time sheets to the project managers for approval.
                </p>
            </div>
            <div class="col-md-6">
                <div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/analyticsBi-dashboard.jpg')
    "></div><img class="img-fluid no-display topic-img" src="assets/img/images/analyticsBi-dashboard.jpg">
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/analyticsBI-reporting.jpg')
    "></div><img class="img-fluid no-display topic-img" src="assets/img/images/analyticsBI-reporting.jpg">
            </div>
            <div class="col-md-6">
                <h1>Reporting</h1>
                <p class="text-justify"><br>The reporting part of the data analysis process is the focus of the following section of our list of BI software capabilities. Efficient reporting aims to make the lives of businesses simpler by providing cost-effective options for creating interactive reports. Traditional reporting methods are time-consuming since they need a lot of human labour. As a result, when purchasing BI software for your business, ensure that the tool you select allows you to leave the headaches of manual reporting behind, giving you more time to study and extract actionable insights to enhance your company's performance.</p>
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">

    <div class="container">
        <h1 class="text-center text-white top-spacing">How BI and Analytics helps Businesses</h1><br>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-2"><i class="fa fa-bar-chart-o" style="transform: scale(3);margin-top: 18px;  margin-left: 40px; color:white"></i></div>
                    <div class="col-10">
                        <p class="text-white margin-left-20">Analytics and visualization solutions provide better insight and present the information in a more intuitive format, making it easier to evaluate.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-2"><i class="fa fa-gears" style="transform: scale(3);margin-top: 18px; margin-left: 40px; color:white"></i></div>
                    <div class="col-10">
                        <p class="text-white margin-left-20">Data Integration from multiple data sources.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-2"><i class="fa fa-pie-chart" style="transform: scale(3);margin-top: 18px; margin-left: 40px; color:white"></i></div>
                    <div class="col-10">
                        <p class="text-white margin-left-20">Historical data (events) analysis to forecast/observe seasonal patterns.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-2"><i class="fa fa-thumbs-up" style="transform: scale(3);margin-top: 18px; margin-left: 40px; color:white"></i></div>
                    <div class="col-10">
                        <p class="text-white margin-left-20">Data Integration from multiple data sources.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <h1 class="text-center bottom-spacing">Benefits of BI and Analytics Tools</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Fast and accurate reporting</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Valuable business insights</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Competitive analysis</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Better data quality</div>
            </div>
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Increased customer satisfaction</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Identifying market trends</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Increased operational efficiency</div>
            </div>
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Improved, accurate decisions</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Increased revenue</div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Lower margins</div>
            </div>
        </div>
    </div><br>
</section>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Card-Carousel.js"></script>
