@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;
@model MenuGroupViewModel
@{
    ViewData["Title"] = "Contact Us";
    Layout = null;
}

    <link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="assets/js/readmore.js"></script>

    @*<section class="Top-header"></section>*@

    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/contactus.png');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero-banner-title">Contact Us</h1><br>
                    <h6 class="hero-banner-subtitle">Our team is happy to answer your questions. Fill out the form and we will be in touch as soon as possible</h6>
                </div>
            </div>
        </div>
    </section>
   
    <section class="padding-top-bottom alternate-stripe-light top-spacing">
        <br>
       
        <div class="container">
            <div class="row">
                <div class="col-md-4 top-padding-20">
                    <div class="background-white border-left-modified box-padding div-shadow">
                        <h5 class="text-blue"><i class="fa fa-phone" aria-hidden="true"></i> Call Us :</h5>
                        <p><a href="tel:+971559532382">+971-559532382</a></p>
                    </div>
                </div>
                <div class="col-md-4 top-padding-20">
                    <div class="background-white border-left-modified box-padding div-shadow">
                        <h5 class="text-blue"><i class="fa fa-envelope" aria-hidden="true"></i> Email Us :</h5>
                        <p><a href="mailto:info@extranet.ae">info@extranet.ae</a> <br>  <a href="mailto:info@xtranetindia.com">info@xtranetindia.com</a></p>

                    </div>
                </div>
                <div class="col-md-4 top-padding-20">
                    <div class="background-white border-left-modified box-padding div-shadow">
                        <h5 class="text-blue"><i class="fa fa-map-marker" aria-hidden="true"></i> Locate Us :</h5>
                        <p>
                            Ground floor, C2, Al Kazim building
                            Garhoud, Dubai, UAE,
                            PO Box 121738
                        </p>
                    </div>
                </div>
            </div>
            @*@if (ViewBag.Portal == "SynergySolutionsIndia")
            {
                <div class="row">
                    <div class="col-md-4 top-padding-20">
                        <div class="background-white border-left-modified box-padding div-shadow">
                            <h5 class="text-blue"><i class="fa fa-building-o" aria-hidden="true"></i> Corporate Office :</h5>
                            <p>Z-24, Zone-1, Maharana Pratap Nagar Bhopal - 462011 M.P. , India</p>
                        </div>
                    </div>
                    <div class="col-md-4 top-padding-20">
                        <div class="background-white border-left-modified box-padding div-shadow">
                            <h5 class="text-blue"><i class="fa fa-address-book" aria-hidden="true"></i> Contact Information :</h5>
                            <p>Telephone : <a href="tel:+91 (0755) 422-9295">+91 (0755) 422-9295</a> | <a href="tel:+91 (0755) 422-3295">+91 (0755) 422-3295</a> <br> General Information : <a href="mailto:info@xtranetindia.com">info@xtranetindia.com</a> <br> Career Opportunities : <a href="mailto:hrm@xtranetindia.com">hrm@xtranetindia.com</a> <br>Sales Inquiries : <a href="mailto:sales@xtranetindia.com">sales@xtranetindia.com</a></p>

                        </div>
                    </div>
                    <div class="col-md-4 top-padding-20">
                        <div class="background-white div-shadow"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/contact-us-square.jpg"></div>
                    </div>
                </div>
            }*@
            </div><br>
    </section>

    <section class="padding-top-bottom">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/contact-us-keys.jpg')"></div><img class="img-fluid no-display topic-img" src="assets/img/contact/contact-us-keys.jpg">
                   
                </div>
                <div class="col-md-6">
                    <div class="col-md-12" id="column-wrap-id-1603714141021">
                        <div id="column-id-1603714141021" class="sppb-column">
                            <div class="sppb-column-addons">
                                <div id="sppb-addon-wrapper-1603713658453" class="sppb-addon-wrapper">
                                    <div id="sppb-addon-1603713658453" class="clearfix sppb-positioned-addon" data-rowid="1603705697890" data-colid="1603714141021">
                                        <div class="sppb-addon sppb-addon-form-builder">
                                            <div class="sppb-addon-content">
                                              
                                                <form id="form-right-blue" asp-controller="SynergySolutions" asp-action="SendContactUsEmail"
                                                      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                                      data-ajax="true" data-ajax-method="POST"
                                                      style="background: #00395e;" class="sppb-addon-form-builder-form">

                                                    <div id="form-area" style="border-radius: 0px;">
                                                        <div class="sppb-form-group sppb-form-builder">
                                                            <label for="sppb-form-builder-field-0">
                                                                Name
                                                                <span class="sppb-field-required"> *</span>
                                                            </label>
                                                            <input type="text" id="sppb-form-builder-field-0" name="FirstName" class="sppb-form-control" placeholder="Name" required>
                                                            <span class="sppb-form-builder-required">Please fill the required field.</span>
                                                        </div>
                                                        <div class="sppb-form-group sppb-form-builder">
                                                            <label for="sppb-form-builder-field-1">
                                                                Email
                                                                <span class="sppb-field-required"> *</span>
                                                            </label>
                                                            <input type="Email" id="sppb-form-builder-field-1" name="Email" class="sppb-form-control" placeholder="Email" required>
                                                            <span class="sppb-form-builder-required">Please fill the required field.</span>
                                                        </div>
                                                        <div class="sppb-form-group sppb-form-builder">
                                                            <label for="sppb-form-builder-field-2">
                                                                Phone
                                                                <span class="sppb-field-required"> *</span>
                                                            </label>
                                                            <input type="text" id="sppb-form-builder-field-2" name="ContactNumber" class="sppb-form-control" placeholder="Phone" required>
                                                            <span class="sppb-form-builder-required">Please fill the required field.</span>
                                                        </div>
                                                        <div class="sppb-form-group sppb-form-builder">
                                                            <label for="sppb-form-builder-field-3">
                                                                Subject
                                                                <span class="sppb-field-required"> *</span>
                                                            </label>
                                                            <input type="text" id="sppb-form-builder-field-3" name="Subject" class="sppb-form-control" placeholder="Subject" required>
                                                            <span class="sppb-form-builder-required">Please fill the required field.</span>
                                                        </div>
                                                        <div class="sppb-form-group sppb-form-builder">
                                                            <label for="sppb-form-builder-field-9">Message<span class="sppb-field-required"> *</span></label>
                                                            <textarea name="Message" id="sppb-form-builder-field-9" class="sppb-form-control not-resize" placeholder="Message" required></textarea>
                                                            <span class="sppb-form-builder-required">Please fill the required field.</span>
                                                        </div>
                                                        @*<div class="sppb-form-builder-btn sppb-text-left ">
                                                            <button type="submit" id="btn-1603713658453" class="sppb-btn sppb-btn-custom sppb-btn-rounded" aria-label="Send">
                                                                <i class="fa" aria-hidden="true"></i>Send
                                                            </button>
                                                        </div>*@
                                                        <div class="row form-inputs text-center">
                                                            <div class="col"><button type="submit" class="btn btn-primary"  id="btn-1603713658453"  style="background: white;padding: 6px 50px;"><span class="text-blue">SEND</span></button></div>
                                                        </div>
                                                        <div style="display:none;margin-top:10px;" class="sppb-ajax-contact-status"></div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div><br>
</section>

    <section class="padding-top-bottom alternate-stripe-dark">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <p class="white-text">Request for free consultation</p>
                    <h1 class="white-text">Call Us Anytime. We'll Get Back To You As Soon As Possible</h1><br><br>
                    <p class="white-text"><i class="fa fa-phone" aria-hidden="true"></i> Hot line 24/7</p>
                    <h4 class="text-justify white-text"><a href="tel:+971559532382">+971-559532382</a></h4>
                </div>
                <div class="col-md-6"><div class="img-fluid"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3608.5473106990216!2d55.3359246!3d25.2521679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d1f0a3621c1%3A0xb0653605c8003a31!2sAl%20Kazim%20Building%20-%20Garhoud%20-%20Dubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1642744954709!5m2!1sen!2sin"  width="600" height="450" style="border:0; border-radius: 12px;" allowfullscreen="" loading="lazy"></iframe></div></div>
            </div>
        </div><br>
    </section>


    <script>
        let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }

    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>



    <script>
        var onAjaxSuccess = function (res) {
            debugger;
            if (res.success) {
                // showNotification("Email Sent Successfully");
                var html = '<span class="sppb-text-success">Your request has been sent successfully. Our team will contact you as soon as possible.!</span>';
                $(".sppb-ajax-contact-status").html(html);
                $(".sppb-ajax-contact-status").show();

            }
            else {
                showError1(res.error);
            }
            HideLoader($('.page-content'));
        };
        var showError1 = function (error) {
            HideLoader($('.page-content'));
            var html = '<span class="sppb-text-danger">' + error + '</span>';
            $(".sppb-ajax-contact-status").html(html);
            $(".sppb-ajax-contact-status").show();
            //alert(error);

        }
    </script>
