@{ViewData["Title"] = "EdmsArchitecture";
    //Layout = null; 
}
<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="assets/js/readmore.js"></script>

@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/edms-module-benefits.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">eDMS Modules and Benefits</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom vertical-spacing">
    <div class="container">
        <h1 class="text-center">The eDMS has two different modules of operation</h1><br>
        <div class="col-md-12"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/edms-two-module.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/edms-two-module.jpg"></div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid" src="~/Themes/SynergySolutions/img/admin-module.png"></div>
           
            <div class="col-md-6">
                <div class="content">
                    <h1>Administration Module</h1>
                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">User Management</p></div>
                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">This module is used for creating, updating, and deleting users.</p></div>
                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Folder Management</p></div>
                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">This module is used for managing folders and subfolders. Authorized users can create, update, and delete folders and subfolders.</p></div>
                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">AccessManagement This module is handy for giving different users distinct responsibilities and access privileges to different folders. This feature protects the programme from illegal access, ensuring that documents are kept securely.</p></div>
                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Departments and Work Area management</p></div>
                    <p class="text-justify">This module comes in handy when it comes to defining a user's work area. Authorized users can create, update, and delete records here.</p>
                </div>
                @*<br><button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <h1 class="white-text">Client Module</h1><br>
        <div class="row">
            <div class="col-md-6">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Document Archival</b> It provides a central repository for archiving large volumes of documents that may be shared and accessed by numerous individuals, locations, or the entire company. Rights-based archiving is used to archive various document formats and information.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Document Management</b> It offers basic library services such as check-in and check-out.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Documents Versioning</b> It keeps track of several versions of the document.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Retention Policy</b> Retention Policy Administrator can set retention policies for individual users and departments.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Documents Scanning and OCR</b> It scans the document and then uses the built-in powerful OCR engine to do dynamic OCR.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Workflow</b> Users can establish new workflows, assign users to them, and specify a set of rules for them to follow, as well as manage existing workflow systems. Here on dashboard, each user will get an alert. Email alerts are also provided outside of the DMS.</p></div>
            </div>
            <div class="col-md-6">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Documents Indexing & Processing</b> Maker-Checker scenario for document processing with centralised indexing and post branch scanning.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Annotations</b> Users can add annotations (remarks) to existing files, which are only visible to the users who are concerned.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Search Extensive</b> document and folder searches based on date, indexes, and other characteristics, as well as full text searches for picture and electronic documents.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>Check-in/Check-out</b> Users can check out required document processing work on the same and then check back in when they are finished. If the user is not accessible to check in the checked-out documents, the administrator can force the same documents to be checked in.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing text-white"></i></p><p class="text-justify text-white"><b>DashBoard</b> Each user has their own dash board. After logging into the DMS system, the user can see his dash board. There is some useful information available, such as a list of checked out papers, recently edited and downloaded documents, a user manual, and so on. This aids in quick decision-making.</p></div>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-bottom alternate-stripe-light">
    <h1 class="text-center top-spacing">eDMS Benefits</h1><br>
    <div class="container">
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Make business judgments that are timely and accurate.</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Observe all regulatory requirements</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Allows for the creation of comprehensive policies for the storage and retention of content in order to ensure compliance.</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Using the built-in retention engine, remove old documents from the DMS, reducing storage and reducing document search time</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Reduce redundant document storage across the organisation to save space and money.</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Improves client response for the extended company by coordinating content scattered across multiple platforms and information silos.</div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Reduce redundant document storage across the organisation to save space and money.</div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>With a collaborative framework, you can identify and capitalise on opportunities.</div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Management of Business Continuity.</div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Strong administration of roles and rights depending on user types.</div>
    </div>
</section>



<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Card-Carousel.js"></script>
