@{ViewData["Title"] = "EdmsArchitecture";
    //Layout = null;
}
<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<script src="assets/js/readmore.js"></script>



    @*<section class="Top-header"></section>*@

    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/edms-architecture.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero-banner-title bottom-spacing">eDMS architecture</h1><br>
                    <h6 class="hero-banner-subtitle no-display">Manage all your projects and team collaboration at one place</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/dm-edms-archi.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/dm-edms-archi.jpg"></div>
   
                <div class="col-md-6">
                    <div class="content">
                        <h1>eDMS Architecture</h1><br>
                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Robust 3 Tier technical architecture based on tried and tested design patterns is flexible to be deployed On-Premise data center, Cloud server or both in Master – Slave mode with almost no manual maintenance requirement.</p></div>
                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Backup data in real time through use of clustered / distributed databases.</p></div>
                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Developed using proven opensource technologies that is used by fortune 500.</p></div>
                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Uses Graph database technology to store file metadata in schemaless environment and NoSQL key value pair database for securely storing binary file data.</p></div>
                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">eDMS uses 256 bit SSL encryption to protect data, encrypted stored data can only be viewed by business users from front end.</p></div>
                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">eDMS allows you to capture data from many different data sources easily through flexible integration architecture.</p></div>
                    </div>
                    <br>@*<button class="btn btn-primary more" type="button"></button>*@
                </div>
            </div>
        </div><br>
    </section>



  
    <script>
    let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }</script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>
