@{ ViewData["Title"] = "Request Consultation";
    //Layout = null;
}

<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<style>
    .sppb-text-success {
        color:green!important;
    }
    .sppb-text-danger {
        color: red !important;
    }
    .sppb-ajax-contact-status .sppb-text-danger, .sppb-ajax-contact-status .sppb-text-success {
        font-weight: 700;
    }
</style>


@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/request-con.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title">Request Consultation</h1>
                <h6 class="hero-banner-subtitle">
                    Get a Free Consultation of Synergy Solution
                    and find out why Synergy Solution is right option for you !
                </h6>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <p class="text-justify">Fill out the consultation request, select the service or product that you are interested in and we will contact you as soon as possible.</p>
                <br><div class="row div-split bottom-spacing">
                    <div class="col"><img class="block-images-40" src="~/Themes/SynergySolutions/img/services-organization.jpg"></div>
                    <div class="col"><img class="block-images-40" src="~/Themes/SynergySolutions/img/services-web-design.jpg"></div>
                </div>
                <div class="row div-split bottom-spacing">
                    <div class="col"><img class="block-images-40" src="~/Themes/SynergySolutions/img/services-hr-solution.jpg"></div>
                    <div class="col"><img class="block-images-40" src="~/Themes/SynergySolutions/img/hr-collaboration.jpg"></div>
                </div>
                <div class="row div-split bottom-spacing">
                    <div class="col"><img class="block-images-40" src="~/Themes/SynergySolutions/img/ai-machine-vision.jpg"></div>
                    <div class="col"><img class="block-images-40" src="~/Themes/SynergySolutions/img/ai-breakdown-prediction.jpg"></div>
                </div>
            </div>
            <div class="col-md-6">
                <form id="myform" asp-controller="SynergySolutions" asp-action="SendEmail"
                      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST" class="sppb-addon-form-builder-form">
                    <div class="form-container">
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Name" name="FirstName" required style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;"></div>
                            <div class="col"><input type="text" placeholder="Last Name" name="LastName" required style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Email" name="Email" required style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;"></div>
                            <div class="col"><input type="text" placeholder="Contact Number" name="ContactNumber" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col">


                                <select name="ProductIntrested" id="sppb-form-builder-field-4" required style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;">
                                    <option value="" class="dropdown-item">Product Interested</option>
                                    <option value="Business Process Automation" class="dropdown-item">Business Process Automation</option>
                                    <option value="Document Management" class="dropdown-item">Document Management</option>
                                    <option value="Project Management" class="dropdown-item">Project Management</option>
                                    <option value="Integrated Intelligence Portal" class="dropdown-item">Integrated Intelligence Portal</option>
                                    <option value="EGovernance" class="dropdown-item">E-Governance</option>
                                    <option value="Analytics and BI" class="dropdown-item">Analytics and BI</option>
                                    <option value="HR Solution" class="dropdown-item">HR Solution</option>
                                </select>

                            </div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col">
                                <select class="sppb-form-control" name="NumberOfEmployees" required id="sppb-form-builder-field-5" required style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;">
                                    <option value="">Number of Employees</option>
                                    <option value="10 - 20" class="dropdown-item">10 - 20 </option>
                                    <option value="20 - 50" class="dropdown-item">20 - 50 </option>
                                    <option value="50 - 100" class="dropdown-item">50 - 100 </option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Company Name" name="CompanyName" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;" required></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Job Title" name="JobTitle" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;" required></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Country" name="Country" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;" required></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col" style="width: 100%;"><textarea style="width: 100%;color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: none;border-bottom: 1px solid white;" placeholder="Message" name="Message"></textarea></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><button class="btn btn-primary" type="submit" style="background: #11b675;padding: 6px 20px;">Request Consultation</button></div>
                        </div>
                    </div>
                    <div style="display:none;margin-top:10px;" class="sppb-ajax-contact-status"></div>
                </form>
                
            </div>
        </div>
    </div>
   
</section>



<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }
    var onAjaxSuccess = function (res) {

        if (res.success) {
            // showNotification("Email Sent Successfully");
            var html = '<span class="sppb-text-success" class="color:white;">Your consultation request has been sent successfully. Our team will contact you as soon as possible</span>';
            $(".sppb-ajax-contact-status").html(html);
            $(".sppb-ajax-contact-status").show();
            $("#myform")[0].reset();
        }
        else {
            showError1(res.error);
        }
        HideLoader($('.page-content'));
    };
    var showError1 = function (error) {
        HideLoader($('.page-content'));
        var html = '<span class="sppb-text-danger">' + error + '</span>';
        $(".sppb-ajax-contact-status").html(html);
        $(".sppb-ajax-contact-status").show();
        //alert(error);

    }
</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>