@{ ViewData["Title"] = "Services";
    //Layout = null;
}

<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">



            @*<section class="Top-header"></section>*@
                        
                                    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/Services.jpg');">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h1 class="hero-banner-title bottom-spacing">Services</h1><br>
                                                    <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                                <section class="padding-top-bottom alternate-stripe-light">
                                                    <div class="container vertical-spacing">
                                                        <div class="row">
                                                            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-talent-acq.jpg"></div>
                                                            <div class="col-md-6">
                                                                <div class="content">
                                                                    <h1>Complete Talent Acquisition</h1>
                                                                    <p class="text-justify"><br>Provide a full range of talent acquisition services, including but not limited to advertising, sourcing, screening, assessing, interviewing, selection, and onboarding.</p>
                                                                    <p class="text-justify">Ensure that the proper external talent is brought in and that the right internal talent is promoted in a timely manner.</p>
                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">A professional team of researchers specialising in caring for all the sophisticated cadres of various works conducts advanced research in the most powerful databases.</p></div>
                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Conduct integrated interviews with the goal of undertaking advanced and appropriate classification and nomination processes for each post.</p></div>
                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Periodic performance monitoring is a continuous process in which we undertake accurate and fair assessments.</p></div>
                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Providing post-employment assistance.</p></div>
                                                                </div>
                                                                <br>
                                                                @*<button class="btn btn-primary more" type="button"></button>*@
                                                            </div>
                                                        </div>
                                                    </div><br>
                                                </section>
                                                            <section class="padding-top-bottom alternate-stripe-dark">
                                                                <div class="container vertical-spacing">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="content">
                                                                                <h1 class="white-text">Organizational Transformation</h1>
                                                                                <p class="text-justify white-text"><br>Develop an organisational transformation blueprint, which includes policies, procedures, job descriptions, and standard operating procedures, as well as an operating model, organisational structure, job analysis, process analysis, and change management.</p>
                                                                                <p class="text-justify white-text">Restructure and expand the company's capabilities, resources, and processes in order to increase efficiency while dealing with both internal and external issues.</p>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Design and modify an organisational structure that is suited for the nature of the company's work.</div>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Management of performance and the formulation of key performance indicators.</div>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Creating the organisational structure's operational model.</div>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Review and develop policy and procedure manuals for the company.</div>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Creating job descriptions that help the institution succeed.</div>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Benchmarking based on industry standards and best practises.</div>
                                                                                <div class="bullet-points white-text"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text"></p>Restructuring entails assessing the company's internal and external environments and implementing business techniques to ensure efficient and effective operation.</div>
                                                                            </div>
                                                                            <br>
                                                                            @*<button class="btn btn-primary more" type="button"></button>*@
                                                                        </div>
                                                                        <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-organization.jpg"></div>
                                                                    </div>
                                                                </div><br>
                                                            </section>
                                                                        <section class="padding-top-bottom alternate-stripe-light">
                                                                            <div class="container vertical-spacing">
                                                                                <div class="row">
                                                                                    <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-strategy.jpg"></div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="content">
                                                                                            <h1>Developing Strategies</h1>
                                                                                            <p class="text-justify"><br>Assist businesses in developing strategic plans that are aligned with strategic objectives defined through a detailed analysis of the current situation.</p>
                                                                                            <p class="text-justify">Assist them in maximising their potential and resources to achieve their goals in a cost-effective and efficient manner, resulting in a long-term competitive edge.</p>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Short, medium, and long-term strategic plans.</p></div>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Create a vision, purpose, and values statement.</p></div>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Developing strategic plans.</p></div>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Design of a balanced scorecard.</p></div>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">The creation and implementation of smart and modern plans to meet the needs of customers and businesses in their internal and external environments.</p></div>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Assisting company and organisation senior management in developing and implementing growth and development plans that improve efficiency and performance.</p></div>
                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">To establish and implement high-quality plans that include the company's development, growth, and financial sustainability goals, as well as profitability.</p></div>
                                                                                        </div>
                                                                                        <br>
                                                                                        @*<button class="btn btn-primary more" type="button"></button>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div><br>
                                                                        </section>
                                                                                    <section class="padding-top-bottom alternate-stripe-dark">
                                                                                        <div class="container vertical-spacing">
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <div class="content">
                                                                                                        <h1 class="white-text">Human Resource Consultancy</h1>
                                                                                                        <p class="text-justify white-text"><br>Human Resources and their management processes are being evaluated and improved in order to fit the company's vision with its manpower requirements.</p>
                                                                                                        <p class="text-justify white-text">Recommend appropriate approaches for identifying and developing talent skills in order to maximise the return on manpower investment.</p>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Human resources consulting firm with a specialised focus</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Developing strategic human resource management directions.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Examine the organization's structure and task manuals.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Create job description cards using the mural system as a guide.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Planning for human resources.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Determine the employees' training requirements.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Make strategies for your training and career advancement.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Prepare a merit-based review of the performance of the employees.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Create incentive systems, pay scales, and rules.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Creating rules and procedures for human resource management.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Expert advice in the field of organisational design from highly trained experts.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Providing extensive and in-depth human resource management information.</p></div>
                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">To give the most effective ways for dealing with the most pressing difficulties faced by workers in various industries and professions.</p></div>
                                                                                                    </div>
                                                                                                    <br>
                                                                                                    @*<button class="btn btn-primary more" type="button"></button>*@
                                                                                                </div>
                                                                                                <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-hr-solution.jpg"></div>
                                                                                            </div>
                                                                                        </div><br>
                                                                                    </section>
                                                                                                <section class="padding-top-bottom alternate-stripe-light">
                                                                                                    <div class="container vertical-spacing">
                                                                                                        <div class="row">
                                                                                                            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-tech-services.jpg"></div>
                                                                                                            <div class="col-md-6">
                                                                                                                <div class="content">
                                                                                                                    <h1>Technology Services</h1>
                                                                                                                    <p class="text-justify"><br>Vision Pioneers collaborates with its partners to provide the best technology services and innovative business solutions to ensure enhanced operational efficiency.</p>
                                                                                                                    <p class="text-justify">Develop, implement, and support a variety of cutting-edge integrated technology solutions to improve corporate analytics, decision-making, and operational capabilities..</p>
                                                                                                                    <p class="text-justify">Our services includes:</p>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Business Process automation</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">ERP (Enterprise Resource Planning)</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">CRM (Customer Relationship Management)</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Customer support desk</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Corporate help desk for employees</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Technology infrastructure management services</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Outsourcing IT services</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Artificial Intelligenge</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">UI Builders</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Analytics and BI</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Machine Learning</p></div>
                                                                                                                    <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">E-Governance</p></div>
                                                                                                                </div>
                                                                                                                <br>
                                                                                                                @*<button class="btn btn-primary more" type="button"></button>*@
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div><br>
                                                                                                </section>
                                                                                                            <section class="padding-top-bottom alternate-stripe-dark">
                                                                                                                <div class="container vertical-spacing">
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-md-6">
                                                                                                                            <div class="content">
                                                                                                                                <h1 class="white-text">Corporate Alignment & Branding</h1>
                                                                                                                                <p class="text-justify white-text"><br>Vision Pioneers can assist you with connecting all of your objectives with your company's vision and creating unified branding for all of your assets:</p>
                                                                                                                                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Review all plans, policies, and procedures to ensure they are in line with the company's vision.</p></div>
                                                                                                                                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Establish an internal structure for aligning goals and strategies.</p></div>
                                                                                                                                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Establish an unique corporate identity.</p></div>
                                                                                                                                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Create branding guidelines, including logos, typography, colour schemes, and visual guidelines, among other things.</p></div>
                                                                                                                                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Create document templates for letterheads, envelopes, and posters, among other things.</p></div>
                                                                                                                            </div>
                                                                                                                            <br>
                                                                                                                            @*<button class="btn btn-primary more" type="button"></button>*@
                                                                                                                        </div>
                                                                                                                        <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-corporate-alignment.jpg"></div>
                                                                                                                    </div>
                                                                                                                </div><br>
                                                                                                            </section>
                                                                                                                        <section class="padding-top-bottom alternate-stripe-light">
                                                                                                                            <div class="container vertical-spacing">
                                                                                                                                <div class="row">
                                                                                                                                    <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-web-design.jpg"></div>
                                                                                                                                    <div class="col-md-6">
                                                                                                                                        <div class="content">
                                                                                                                                            <h1>Web Designing and Content Creation</h1>
                                                                                                                                            <p class="text-justify"><br>We offer complete, cost-effective, and cutting-edge web design solutions, including layout design, wireframes, and mockups, to help you get your business online in no time.</p>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Developing themes and styles in accordance with your branding standards.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Creating web pages from mockups.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Customizing content for all web pages.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Web hosting, domain and storage services.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Providing content management solution to maintain website.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Implement eCommerce features.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Integrate website with enterprise software for providing live data.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">For digital marketing, search engine optimization is essential.</p></div>
                                                                                                                                            <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Monitoring and support services for websites</p></div>
                                                                                                                                        </div>
                                                                                                                                        <br>
                                                                                                                                        @*<button class="btn btn-primary more" type="button"></button>*@
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div><br>
                                                                                                                        </section>
                                                                                                                                    <section class="padding-top-bottom alternate-stripe-dark">
                                                                                                                                        <div class="container vertical-spacing">
                                                                                                                                            <div class="row">
                                                                                                                                                <div class="col-md-6">
                                                                                                                                                    <div class="content">
                                                                                                                                                        <h1 class="white-text">Other Services</h1>
                                                                                                                                                        <p class="text-justify white-text"><br>Institutional excellence assessment and process improvements services as per best practices using advanced tools and techniques.</p>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Market research and studies.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Comprehensive quality certificates and ISO preparation.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Implementing and evaluating organizational maturity as per EFQM excellence framework.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Value stream analysis.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Productivity improvement.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Six sigma analysis.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Work and method study.</p></div>
                                                                                                                                                        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Business Process Re-engineering.</p></div>
                                                                                                                                                    </div>
                                                                                                                                                    <br>
                                                                                                                                                    @*<button class="btn btn-primary more" type="button"></button>*@
                                                                                                                                                </div>
                                                                                                                                                <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/services-other-services.jpg"></div>
                                                                                                                                            </div>
                                                                                                                                        </div><br>
                                                                                                                                    </section>

                                                                                                                                                <script>
                                                                                                                                                    let more = document.querySelectorAll('.more')
                                                                                                                                                    for (let i = 0; i < more.length; i++) {
                                                                                                                                                        more[i].addEventListener('click', function () {
                                                                                                                                                            more[i].parentNode.classList.toggle('active')
                                                                                                                                                        })
                                                                                                                                                    }</script>
 <script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
