@inject IStringLocalizer<CMS.UI.Web.Areas.PJM.Controllers.ProjectController> Resource
@{
    ViewBag.Title = "ProjectNotAssigned";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<br />
<br />
<br />

<div style="text-align:center">
    <span class="fal fa-file-chart-line" style="color:grey;font-size:90px;text-align:center;background-color: azure;
    border-radius: 84px;
"></span>
</div>
<br />
<br />
<br />
<div style="font-size:35px;color:grey;text-align:center">@Resource["ProjectNotAssigned"]</div>
