@*@model CMS.UI.Web.Controllers.HomeModel
 


<div class="container">
    <div class="reports">
        @foreach (var item in Model.ReportsList.Select((value, i) => new { value, i }))
        {
<a href="/home/fastreport/@item.i">@item.value</a>}
    </div>
    <div class="webreport">
        @await Model.WebReport.Render()
    </div>
</div>*@
