
<!DOCTYPE html>
<html lang="ar-aa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>طلب معاودة الاتصال</title>
   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>
  <div dir="rtl">
   @* <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand nav-width" href="#">
                <div><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-vp.png"></div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">تبديل التنقل</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">مسكن</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">خدمات</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">معلومات عنا</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">البند الأول</a><a class="dropdown-item" href="#">العنصر الثاني</a><a class="dropdown-item" href="#">البند الثالث</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">تقدير</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">حياة مهنية</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">اتصل بنا</a></li>
                </ul>
                <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">اللغات</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">البند الأول</a><a class="dropdown-item" href="#">العنصر الثاني</a><a class="dropdown-item" href="#">البند الثالث</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: #81b445;">طلب معاودة الاتصال</a></span>
            </div>
        </div>
    </nav>*@
    <section style="background-image: url('../../../../Themes/VisionPioneer/img/request-call-3.jpg');" class="banner-image">
        <div >
            <div class="container" style="padding-top: 30em; padding-bottom: 10em ;">
                <h1 class="text-white" style="font-size: 60px;">تواصلوا معنا</h1>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom">
        <div class="container" style="text-align:right;"
>
          
            <div class="row">
                <div class="col-md-6 vertical-center"><br>
                    <h1>إتصلوا بنا في أي وقت</h1>
                    <p>أوقات العمل: من الأحد إلى الخميس من الساعة 9 صباحاً وحتى الساعة 5 مساءً</p>
                    <p style="font-size: 36px; color: #81b445;">+966-0114903855</p>
                </div>
                <div class="col-md-6">
                    <div class="form-container"><br>
                        <div class="row form-inputs top-spacing">
                            <div class="col"><input type="text" placeholder="الإسم" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="البريد الإلكتروني" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div> 
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="الهاتف" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="الموضوع" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col" style="width: 100%;"><textarea style="width: 100%;color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: none;border-bottom: 1px solid white;" placeholder="الرسالة"></textarea></div>
                        </div>
                        <div class="row form-inputs ">
                            <div class="col"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">إرسال</button></div>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </section>
  
    @*<section class="footer padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>خدمات</strong><br></h3>
                    <p class="text-white">اكتساب المواهب الكامل</p>
                    <p class="text-white">التحول التنظيمي</p>
                    <p class="text-white">استشارات الموارد البشرية</p>
                    <p class="text-white">تطوير الاستراتيجيات</p>
                    <p class="text-white">خدمات التكنولوجيا</p>
                    <p class="text-white">محاذاة الشركات والعلامات التجارية</p>
                    <p class="text-white">تصميم المواقع والمحتوى</p>
                    <p class="text-white">خدمات أخرى</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>شركة</strong><br></h3>
                    <p class="text-white">About Us&nbsp;</p>
                    <p class="text-white">اتصل بنا</p>
                    <p class="text-white">ملف الشركة</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 text-center"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">طلب معاودة الاتصال</button></div>
            </div>
            <div class="row"><div class="col-md-12 text-white"><hr></div>
                <div class="col">
                    <p class="text-white">©&nbsp;2022&nbsp;Vision Pioneers<br></p>
                    <p class="text-white">This website is designed &amp; commissioned by Vision Pioneers.<br></p>
                </div>
            </div>
        </div>
    </section>*@
 </div>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>