@inject IStringLocalizer<CMS.UI.Web.Areas.CHR.Controllers.HRDirectController> Resource
@using Kendo.Mvc.UI;
@using CMS.UI.ViewModel;
@using CMS.Common;
@model CompetencyFeedbackDetailsViewModel
@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}



<script>
    $(document).ready(function () {

        $("#Userid").kendoDropDownList({
            optionLabel: "All",
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.Userid",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/CHR/HRCore/GetReporteePersonList",
                        data: FilterByPositionId
                    }
                }
            }
        });

    });


    function OnService() {



            var portalId = $('#GlobalPortalId').val();
            var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=Competency_Feedback&portalId=' + portalId /*+ '&prms=' + prms*/;
         //var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&templateCodes=PMS_REVIEW_TASK&portalId=' + portalId + '&prms=' + prms;


            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: "Feed Back", Width: 1200, Height: 600 });
            return false;

    }

   function FilterByPositionId() {
        return {
            UserId: '@ViewBag.PosId',
        };
    }

    function customPlaceholder(draggedItem) {
        return draggedItem
            .clone()
            .addClass("custom-placeholder")
            .removeClass("k-ghost");
    }
    function FilterBy() {
        return {
            deviceId: 'b111e8dc-40cd-4f64-868c-552c6dbbdf03',
            searchParam: null
        };
    }
</script>



<style>


    .h5 {
        color: red !important;
    }

    #example .demo-section {
        max-width: none;
        width: 980px;
        margin-left: 32px;
    }

    #example .k-listbox {
        width: 400px;
        height: 500px;
    }

        #example .k-listbox:first-child {
          
            margin-right: 1px;
            margin-left: 12px;
        }

    .k-ghost {
        display: none !important;
    }

    .custom-placeholder {
        opacity: 0.4;
    }

    #example .k-item {
        line-height: 1em;
    }

    /* Material Theme padding adjustment*/

    .k-material #example .k-item,
    .k-material #example .k-item.k-state-hover,
    .k-materialblack #example .k-item,
    .k-materialblack #examplel .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px ;
    }

    #example .k-item > span:first-child,
    .k-item.k-drag-clue > span:first-child {
        -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        margin: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #example h3,
    .k-item.k-drag-clue h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #example p {
        margin-left: 17px;
        padding: 0;
        font-size: .8em;
    }
</style>



<div class="appWrapper">
  
    
    <div class="hr-pad-top-10">

        
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:5%">
            <div class="col-8" style="background-color:#fff">
                <div class="col-md-6 label-div">

                    Subordinate
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @*@(Html.Kendo().DropDownListFor(x => x.Userid)
                                            .OptionLabel("All")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                //read.Action("GetPersonListByOrganization", "Person", new { area = "Hrs" }).Data("FilterByOrg");
                                                                read.Action("GetReporteePersonList", "HRCore", new { area = "CHR" }).Data("FilterByPositionId");
                                                            });
                                                        })
                                                        .DataTextField("Name")
                                                            .DataValueField("Id")

                                                        .Filter(FilterType.Contains)
                                                        .HtmlAttributes(new { @class = "hr-x-large" }))*@
                        <input asp-for="Userid" id="Userid" class="hr-x-large" />

                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">

                            <h4>Competency 1</h4>

                            <div class="progress" style="height:50px">
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%; background-color:lightgreen;color:black">
                                    60% <br />
                                    Positive
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:40%;color:black;">
                                    40%<br />
                                    Critical
                                </div>

                            </div>
                        </div>


                        <div id="example">
                            <div class="col-4">
                                @(Html.Kendo().ListBox()
                            .Name("exclude")
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .TemplateId("customer-item-template")

                            .Draggable(draggable => draggable.Placeholder("customPlaceholder"))

                            .DataSource(source => source
                            .Read(read => read.Action("GetExcludePersonList", "RegisterUserInDevice", new { area = "Clk" }).Data("FilterBy"))
                        )
                  )
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                @*@Html.Kendo().Button().Name("btnSearch").Events(e => e.Click("OnService")).Content("Feed Back").HtmlAttributes(new { @class = "k-primary" })*@
            <button type="submit" id="btnSearch" class="btn btn-primary" onclick="OnService();">Feed Back</button>
                <br />
            </div>
            
    </div>
    </div>


</div>
<script id="customer-item-template" type="text/x-kendo-template">

     #if (data.PhotoName!=null){#
     <span class="k-state-default" style="background-image: url('/Cms/document/getimagemongo?id=#:data.PhotoName#');height:50px;width:50px;"></span>
    #
    }
    else {#
    <span class="k-state-default" style="background-image: url('/images/profile.jpg');height:50px;width:50px;"></span>
    #}
    #



    <span class="k-state-default">
        <h3 style="color: black">#: data.DisplayName #</h3>
        <p>
            #if (data.JobName!=null) {#  #: data.JobName  # <br/>#  } #
            #if (data.OrganizationName!=null) {#  #: data.OrganizationName # <br/># } #
            #if (data.RegisteredDevices!=null) {#  #: data.RegisteredDevices #<br/># } #
        </p>
    </span>
</script>
<script type="text/javascript">







    function OnPrint(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "/nts/service/DownloadServiceRequest?serviceId=" + dataItem.ServiceId;
        return false;
    }

</script>
