@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Assessment";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

</head>

<body>
    <section style="background-image: url('../../../../Themes/VisionPioneer/img/asset-2assessment.jpg');" class="banner-image">
        <div>
            <div class="container" style="padding-top:25em; padding-bottom: 10em ;">
                @*<h1 class="text-white" style="font-size: 48px; ">التقييم</h1>*@
            </div>
        </div>
    </section>
    <div dir="rtl" style="text-align:right;">
        <section class="padding-top-bottom">
            <div class="container">
                <h1>اختبار التقييم للمرشحين</h1>
                <div class="horizontal-line"><div class="col-md-12"><hr></div></div>
                <p>إذا كنت مرشحًا تمت دعوتك لإجراء أحد التقييمات ، فيرجى <span style="background-color: #f0a954; padding: 5px 10px; font-size: 18px; border-radius: 4px;"><a href="https://assessment.visionpioneers.com"> النقر هنا  </a></span> لإعادة توجيهك إلى موقع التقييم.</p>
                <div >
                    <br>
                    <h1>التقييم - الاختيار العلمي وأداة التطوير</h1>
                    <div class="horizontal-line"><div class="col-md-12"><hr></div></div>
                    <div class="row">
                        <div class="col-md-6">

                            <p><br>لقد أنشأنا منصة تقييم عبر الإنترنت لتقييم مدى ملاءمة المرشح للوظائف المستهدفة بناءً على أربعة معايير: -</p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحليل الملف الشخصي (PPA)</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">القياس النفسي ونسبة الذكاء</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;"> الكفاءات السلوكية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">الكفاءات التقنية</div></div>

                            <br><p>سوف نقترح تقييمات مناسبة لكل وظيفة. تستند التقييمات إلى منهجية علمية ويمكن الاعتماد عليها في توقع نجاح المرشحين في الأدوار الوظيفية المستقبلية.</p>
                                <p>يمكن استخدام هذه التقييمات لتوفير البيانات لاتخاذ القرارات المتعلقة بتوظيف المرشحين الخارجيين والداخليين. تعتبر مخرجات التقييمات مفيدة أيضًا في تحديد مدى ملاءمة المرشح للوظائف المستقبلية التي تم إنشاؤها بسبب إعادة الهيكلة أو مشاريع التحول.</p>
                                <p>تساعد التقييمات في تحديد الفجوات المحتملة في كفاءة المرشحين لكل مستوى كفاءة. وبالتالي ، يمكن إنشاء مسارات التعلم للمرشحين بناءً على نتائج التقييم.</p>
                        </div>
                        <div class="col-md-6"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-2cta.png"></div>
                    </div>

                    
                </div>
                </div>
        </section>

        <section class="padding-top-bottom background-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-white">
                            التقييمات القياسية والمخصصة
                        </h1>
                        <div class="row horizontal-line"><div class="col-md-12"><hr style="height:1px;border-width:0;color:whote;background-color:white"></div></div>

                        <p class="text-white">
                            لقد أنشأنا مكتبة للتقييمات لمختلف الوظائف في جميع وظائف الدعم عبر جميع المجالات.
                        </p>
                        <p class="text-white">نحن قادرون أيضًا على توفير تقييمات مخصصة بناءً على متطلباتك. لدينا شبكة واسعة من الخبراء المتخصصين من مختلف الوظائف والمجالات لمساعدتنا في إعداد اختبارات تقييم موثوقة مصممة خصيصًا للوظائف في مؤسستك.</p>
                        <p class="text-white">يجب توفير توصيف وظيفي مفصل لإنشاء تقييمات موثوقة. في حال احتجت إلى مساعدة في تحليل الوظائف وإنشاء توصيف وظيفي ، يسعدنا أن نقدم خدماتنا لمساعدتك فيها أيضًا. يمكننا تطوير توصيفات وظيفية مهنية واستخدامها لإنشاء تقييمات مناسبة للمرشحين.</p>
                    </div>
                    <div class="col"><img class="img-fluid" src="~/Themes/VisionPioneer/img/assessment-image.png"></div>
                </div>

            </div>
        </section>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>