@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Services";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

</head>


<body>
    <div dir="rtl">
        <section style="background-image: url('../../../../Themes/VisionPioneer/img/service-slider.jpg');" class="banner-image">
            <div>
                <div class="container" style="padding-top: 25em; padding-bottom: 10em ;">
                    <h1 class="text-white" style="font-size:70px;font-style:italic">الخدمات</h1>
                </div>
            </div>
        </section>
        <div id="complete-talent-acquisition">
            <section class="padding-top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="text-align:right">
                            <h1>اكتساب المواهب المتكامل<br></h1>
                            <p><br>توفير حل لاكتساب المواهب من البداية إلى النهاية بما في ذلك على سبيل المثال لا الحصر الإعلان والتوريد والفحص والتقييم والمقابلات والاختيار والدعم في فترة التسكين.<br><br>ضمان توظيف المواهب الخارجية المناسبة في الشركة وترقية المواهب الداخلية المناسبة في الوقت المناسب.<br><br></p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">بحث متقدم في أقوى قواعد البيانات من قبل فريق محترف من الباحثين المتخصصين في رعاية جميع الكوادر المتقدمة من الأعمال المختلفة.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إجراء المقابلات بطريقة متكاملة ، بهدف إجراء عمليات تصنيف وترشيح متقدمة ومناسبة لكل وظيفة.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مراقبة دورية للأداء حيث نجري تقييمات دقيقة وعادلة على أساس مستمر.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تقديم خدمات دعم ما بعد التوظيف.</div></div>
                        </div>
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-2cta.png"></div>
                    </div>
                </div>
            </section>
        </div>
        <div id="organizational-transformation">
            <section class="padding-top-bottom alternate-dark">
                <div class="container">
                    <div class="row">
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-2ot.png"></div>
                        <div class="col-md-6" style="text-align:right">
                            <h1>التحول المؤسسي<br></h1>
                            <p>
                                <br>تطوير خارطة طريق للتحول المؤسسي، بما في ذلك نموذج التشغيل ، والهيكل التنظيمي ، وتحليل الوظيفة ، وتحليل العمليات ، وإدارة التغيير ، وكذلك توفير السياسات والإجراءات وتوصيف الوظائف وإجراءات التشغيل القياسية.
                            </p>
                            <p>إعادة هيكلة وتطوير قدرات الشركة ومواردها وأنظمتها لتحقيق أقصى قدر من الكفاءة مع معالجة التحديات الداخلية والخارجية.</p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تصميم الهيكل التنظيمي المناسب لطبيعة عمل الشركة وتكييفه مع الاتجاهات.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إدارة الأداء وتطوير مؤشرات الأداء الرئيسية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">بناء النموذج التشغيلي للهيكل التنظيمي.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مراجعة وتطوير كتيبات الأعمال الخاصة بالسياسات والإجراءات.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">بناء توصيف وظيفي يدعم النجاح المؤسسي.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">قياس الأداء على أساس أفضل الممارسات والمعايير الدولية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إعادة الهيكلة من خلال تقييم البيئة الداخلية والخارجية للشركة وتطوير أساليب العمل لضمان الأداء الفعال والكفء.</div></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>
        <div id="human-resource-consultancy">
            <section class="padding-top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="text-align:right">
                            <h1>استشارات الموارد البشرية<br></h1>
                            <p>
                                <br>تقييم وتحسين الموارد البشرية وأنظمتها الإدارية لمواءمة رؤية الشركة مع احتياجات رأس المال البشري.
                                <br><br>التوصية بالاستراتيجيات المناسبة لتحديد وتطوير كفاءات المواهب لتعظيم عائد الاستثمار في رأس المال البشري.
                            </p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">الاستشارات المتخصصة في مجال الموارد البشرية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مراجعة الهيكل التنظيمي وأدلة المهام.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تصميم توصيف الوظائف.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إعداد التوجهات الاستراتيجية لإدارة الموارد البشرية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تخطيط الموارد البشرية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحديد الاحتياجات التدريبية للموظفين.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تطوير خطط التدريب والتطوير الوظيفي.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إعداد تقييم لأداء العاملين على أساس نظام الجدارة.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تطوير هياكل الحوافز والرواتب واللوائح.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تطوير سياسات وإجراءات إدارة الموارد البشرية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">نصائح من خبراء متخصصين في مجال تصميم المؤسسات.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">توفير المعرفة المتقدمة والعميقة في إدارة الموارد البشرية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تقديم أفضل الإستراتيجيات لمواجهة أهم تحديات العمل في مختلف القطاعات والمهن.</div></div>
                        </div>
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/Asset_1HRC.png"></div>
                    </div>



                </div>
            </section>
        </div>
        <div id="developing-strategies">
            <section class="padding-top-bottom alternate-dark">
                <div class="container">
                    <div class="row">
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-1ds.png"></div>
                        <div class="col-md-6" style="text-align:right">
                            <h1>تطوير الاستراتيجيات<br></h1>
                            <p><br>مساعدة الشركات على إعداد خطط إستراتيجية للعمل بما يتماشى مع الأهداف الإستراتيجية المحددة بناءً على فهم الوضع الحالي.<br><br>تقديم التوجيهات للاستفادة الفعالة من إمكانياتكم ومواردكم لتحقيق أهدافكم بكفاءة وفعالية لخلق ميزة تنافسية مستدامة.</p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">الخطط الإستراتيجية على المدى القصير والمتوسط والطويل.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تصميم الرؤية والرسالة والقيم.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تصميم الاتجاهات الاستراتيجية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تصميم بطاقة الأداء المتوازن.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">وضع وتنفيذ خطط حديثة ومتطورة تتناسب مع احتياجات المتعاملين والشركات حسب بيئتهم الداخلية والخارجية.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مساعدة الإدارة العليا في الشركات والمؤسسات على تطوير وتنفيذ استراتيجيات النمو والتنمية التي تعمل على سرعة تحسين الكفاءة والأداء.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">توفير استراتيجيات عالية الجودة تأخذ بعين الاعتبار أهداف الشركة في التنمية والنمو والاستدامة المالية وكذلك الربحية.</div></div>
                        </div>
                    </div>



                </div>
            </section>
        </div>
        <div id="technology-services">
            <section class="padding-top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="text-align:right">
                            <h1>الخدمات التقنية<br></h1>
                            <p>
                                <br>تعمل شركة روّاد الرؤية مع شركائها لتقديم أفضل الخدمات التقنية لضمان تحسين الكفاءة التشغيلية من خلال حلول الأعمال المبتكرة.<br><br>توفير التطوير والتنفيذ والدعم لمختلف الحلول التقنية المتكاملة المتطورة لتعزيز ذكاء الأعمال وصنع القرار وقدرات الأعمال.
                            </p>
                            <p>عروضنا مدرجة أدناه ولكن لا تقتصر على الخدمات التالية: -</p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">أتمتة عمليات الأعمال</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحليل الأعمال</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تخطيط موارد المؤسسات (ERP)</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إدارة علاقات العملاء (CRM)</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مكتب دعم العملاء</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مكتب مساعدة مؤسسي للموظفين</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">خدمات إدارة البنية التحتية التكنولوجية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">الاستعانة بمصادر خارجية لخدمات تكنولوجيا المعلومات</div></div>
                        </div>
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-1ts.png"></div>
                    </div>


                </div>
            </section>
        </div>
        <div id="corporate-alignment-branding">
            <section class="padding-top-bottom alternate-dark">
                <div class="container">
                    <div class="row">
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-3cab.png"></div>
                        <div class="col-md-6" style="text-align:right">
                            <h1>
                                المواءمة المؤسسية والعلامات التجارية<br>
                            </h1>
                            <p><br>يمكن أن تساعدك روّاد الرؤية في مواءمة جميع الأهداف مع رؤية الشركة وإنشاء علامة تجارية موحدة لجميع الأصول التنظيمية:</p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مراجعة جميع الاستراتيجيات والسياسات والإجراءات ومواءمتها مع رؤية الشركة. </div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;"> تطوير إطار داخلي لمواءمة الأهداف مع الاستراتيجيات.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;"> إنشاء هوية فريدة للشركة.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;"> القيام بإنشاء إرشادات للعلامة التجارية مثل الشعار والطباعة وأنظمة الألوان والإرشادات المرئية وما إلى ذلك.</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">القيام بإنشاء قوالب مستندات مثل الأوراق المروسة والأظرف والملصقات وما إلى ذلك. </div></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="web-content-designing">
            <section class="padding-top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="text-align:right">
                            <h1>تصميم المواقع الإلكترونية وإنشاء المحتوى<br></h1>
                            <p><br> نحن نقدم حزم تصميم مواقع إلكترونية كاملة وفعالة من حيث التكلفة ومتطورة لنقل عملك عبر الإنترنت في وقت قصير مثل:</p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تصميم النسق والإطارات السلكية والنماذج بالأحجام الطبيعية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إنشاء سمات وأنماط وفقًا لإرشادات علامتك التجارية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحويل النماذج إلى صفحة إلكترونية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إنشاء محتوى مخصص لجميع صفحات الموقع الإلكتروني</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">خدمات استضافة المواقع الإلكترونية والمجال والتخزين</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">توفير حل إدارة المحتوى لصيانة المواقع الإلكترونية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تنفيذ إمكانيات التجارة الإلكترونية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">دمج الموقع الإلكتروني مع برامج المؤسسة لتوفير البيانات الحية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحسين محرك البحث للتسويق الرقمي</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">مراقبة الموقع الإلكتروني وخدمات الدعم</div></div>
                        </div>
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-1wcd.png"></div>
                    </div>

                </div>
            </section>
        </div>
        <div id="other-services">
            <section class="padding-top-bottom alternate-dark">
                <div class="container">
                    <div class="row">
                        <div class="col"><img class="img-fluid k-centered" src="~/Themes/VisionPioneer/img/asset-2os.png"></div>
                        <div class="col-md-6" style="text-align:right">
                            <h1>خدمات أخرى<br></h1>
                            <p>تقييم التميز المؤسسي وخدمات تحسين العمليات وفقًا لأفضل الممارسات باستخدام الأدوات والتقنيات المتقدمة.<br></p>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">أبحاث ودراسات السوق</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">شهادات الجودة الشاملة وإعداد ISO</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تنفيذ وتقييم النضج المؤسسي وفقًا لإطار التميز المؤسسي EFQM</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحليل تدفق القيمة</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحسين الإنتاجية</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">تحليل ستة سيجما (Six Sigma)</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">دراسة طريقة العمل</div></div>
                            <div class="flex"><div style="margin-right: 20px; font-size: 16px;"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div style="margin-right: 20px;">إعادة هندسة العمليات التجارية</div></div>

                        </div>
                    </div>
                </div>
            </section>
            </div>
            @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
        </div>
</body>