@*@using Syncfusion.EJ2.Navigations*@

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model Synergy.App.ViewModel.ChangePassowrdViewModel
<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:40px;">
        <div class="col-sm-12 pad-b-10">
            <div class="form-label-group">
                <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" type="password" autocomplete="off" required="required" />
                <label for="currpassword">Current Password</label>
            </div>
        </div>
        <div class="col-sm-12 pad-b-10">
            <div class="form-label-group">
                <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" required="required" autocomplete="off">
                <label for="newpassword">New Password</label>
            </div>
        </div>
        <div class="col-sm-12 pad-b-10">
            <div class="form-label-group">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required="required" autocomplete="off">
                <label for="confpassword">Confirm Password</label>
            </div>
        </div>

        <input type="hidden" asp-for="UserId" />
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Change Password</button>
            <button type="button" class="btn btn-light" onclick="closeNavChangePassword()">Close</button>
        </div>
    </div>
</form>

<script type="text/javascript">
   $(document).ready(function () {
       if ('@ViewBag.Success' == "True") {
           alert('Password changed successfully');
            closeNavChangePassword();

        }
    });
    function closeNavChangePassword() {
      
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>

