@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model UserGroupViewModel
@{
    ViewData["Title"] = "User Group";
    Layout = null;
}

<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(StatusEnum)))';
    var statusObj = JSON.parse(status);

    var columnDefs = [
        {
            field: "Name",
        },
        { field: "Description" },
        //{ field: "Prefix" },
        //{
        //    field: "Status",
        //    cellRenderer: params => {
        //        return statusObj[params.value]; //only for enum
        //    }
        //},
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuBinUserGroup' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\" ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {

        getDataUserGroup();

        //$.contextMenu('update');
        //$('.context-menu-list').trigger('contextmenu:refresh');

        $.contextMenu({
            selector: '#tree-menuBinUserGroup',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');

                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        onEdit(id);
                                        break;

                                    case 'delete':
                                        OnDelete(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit", icon: "fas fa-edit" },
                                "delete": { name: "Delete", icon: "fas fa-trash" },


                            }
                        };


                }
            }
        });


    });

    function onEdit(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl =  '@Url.Action("EditUserGroup", "UserGroup", new { @area="Cms"})?Id=' + id;
        win.OpenWindow({ Title: 'Manage User Group', Width: 450, Height: 550 });
        return false;
    }

    function OnDelete(id) {
        var flag = confirm('Do you really want to delete the User Group?');

        if (flag) {
            $.ajax({
                url:'@Url.Action("DeleteUserGroup", "UserGroup", new { @area="Cms"})?Id=' + id,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    
                    if (result.success) {
                        getDataUserGroup();
                        kendo.alert("User Group Deleted Successfully.");
                    } else {
                        getDataUserGroup();
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    getDataUserGroup();
                }
            });
            return false;
        }
    }

   function getDataUserGroup() {
       document.getElementById("myGridUserGroup").innerHTML = "";
       gridConfig(
           "myGridUserGroup",
           "/cms/userGroup/ReadData",
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

</script>

<div>
    <h4>@ViewBag.Title</h4>

    <hr />


    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateUserGroup();'><i class='fa fas fa-plus'></i>&nbsp;Create User Group</button>
            <br /><br />
            <div id="myGridUserGroup" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>



