@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Create Kanban Board";
    Layout = "/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<script>

  $(document).ready(function () {
      $("#kanbanBoardName").val('@ViewBag.Name');
    });
    function OnCreateBoard() {
        var name = $("#kanbanBoardName").val();
        if (name != null || name != "") {
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "addBoard", Prms: { name } });
        }
        else {
            alert("Please Enter Name !");
        }

    }
    function OnEditBoard() {       
        var name = $("#kanbanBoardName").val();
        var id = '@ViewBag.Id';
        if (name != null || name != "") {
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "editBoard", Prms: { name,id } });
        }
        else {
            alert("Please Enter Name !");
        }

    }
</script>

<div class="container">   
    <div class="row">
        <div class="row col-12 pad-10">
            <div class="col-3">
                <label>Name<span class="required" style="color:red;">*</span></label>
            </div>
            <div class="col-9">
                <input type="text" id="kanbanBoardName" class="form-control" style="width:80%" />
            </div>
        </div>
        <div class="cms-footer">
            @if (ViewBag.Name == null || ViewBag.Name == "")
            {
                <input type="button" class="btn btn-primary" value="Create Board" onclick="OnCreateBoard()" />

            }
            else
            {
                <input type="button" class="btn btn-primary" value="Edit Board" onclick="OnEditBoard()" />
            }
        </div>
    </div>
</div>












