@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Join Workboard";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model WorkBoardViewModel
<style>
    .msg {
        margin-top: 20px;
        font-size: 30px;
        text-align: center;
        color: red;
    }
</style>
<script>
     function openWorkBoard(id) {
        @*window.location.href = '@Url.Action("JKanBan", "Workboard", new { @area="Cms"})?id=' + id + '&dataAction=@DataActionEnum.Edit';*@
        alert(id);
        var portalId ='8edc86b3-9934-46e3-95de-d76c816404b4'; /*$('#GlobalPortalId').val();*/
         alert(portalId);   //8edc86b3-9934-46e3-95de-d76c816404b4
        var workboardId = id;
        var customurl = encodeURIComponent('id=' + workboardId);
        var url = '/Cms/Page?pageName=ManageWorkBoard&portalId=' + portalId + '&customUrl=' + customurl;
        alert(url);
        window.location.href=url;
    }
    
     $(document).ready(function () {
         
        var workboardId='@Model.WorkboardId';
        if(workboardId != '')
        {
            alert(workboardId);
            openWorkBoard(workboardId);
        }
    });

</script>
@*IsNullOrEmpty*@

@if (Model.WorkboardId.IsNullOrEmpty())

{
    <div class="msg">
        <h3>@Model.Message</h3>

    </div>

}
else
{


    <div class="msg" id="mssg">
        <h3>Redirecting To WorkBoard. Please Wait...</h3>


    </div>


}


@*onclick="OnRedirect()*@