@using CMS.Data.Model
@using CMS.UI.ViewModel
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Manpower Requirement Summary";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model CMS.UI.ViewModel.ManpowerRecruitmentSummaryVersionViewModel
<style>
    .k-grid table {
        margin-left: 10px;
    }
    .k-grid thead {
        background-color: #DAEDFF;
    }
</style>

<div class="row" style="padding:30px">
    @(Html.Kendo().Grid<ManpowerRecruitmentSummaryVersionViewModel>
            ().Name("kgrdManpowerRequirementSummaryVersion").Width(1000).Height(600)
            .Columns(col =>
            {
                col.Bound(c => c.JobTitle).Width(250).Title("Job Title");
                col.Bound(c => c.OrganizationName).Width(250).Title("Organization Unit");
                col.Bound(c => c.VersionNo).Width(150);
                col.Bound(c => c.Requirement).Width(150);
                col.Bound(c => c.Seperation).Width(150);
                col.Bound(c => c.Available).Width(150);
                col.Bound(c => c.Planning).Width(150).Title("Sub Contract");
                col.Bound(c => c.Transfer).Width(150);
                col.Bound(c => c.Balance).Width(150);
                col.Bound(x => x.CreatedByName).Width(150).Title("Created By");
                col.Bound(x => x.CreatedDate).Width(150).Format("{0:dd MMM yyyy}");

            })
            .Resizable(resizable => resizable.Columns(true))
            .Scrollable(scrollable => scrollable.Enabled(true))
            .Sortable(srt => srt.Enabled(true))
            .Selectable(select => select.Enabled(true))
            .Filterable(f => f.Extra(false)
                .Operators(o => o.ForString(s => s.Clear()
                .Contains("Contains")
            //.IsEqualTo("Is equal to")
            )))
            .AutoBind(true)
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .DataSource(
            dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("ReadManpowerRequirementSummaryVersionData", "ManpowerRequirementSummary",new{id=Model.ManpowerRecruitmentSummaryId}))
            .Model(model => model.Id(p => p.Id))
            )
            .HtmlAttributes(new { @style = "font-size: 12px"})
)

</div>

