@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Portal";
    Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext


<style>
    .k-tabstrip-wrapper {
        height:100%;
    }
    .form-label-group {
        position: relative;
        margin-bottom: 0px;
    }

    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }
    /*    k-colorpicker {
        width: 100px;
    }

    .k-colorpicker .k-selected-color {
            width: 100px;
    }*/

</style>
<script type="text/javascript">
    function OpenCreateVariablepopup()
    {
        LoadPartailView('@Url.Action("CreateVariable", "ProcessDesign", new { @area = "Cms"})?ProcessDesignId=@ViewBag.ProcessDesignId', $('#Workflowtab'));
       
    }






    $(document).ready(function () {
        $(document).on('mouseenter', '.divbutton', function () {
            $(this).find(":button").show();
        }).on('mouseleave', '.divbutton', function () {
            $(this).find(":button").hide();
        });
    });

    function closeNavPortal() {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }



    var onAjaxSuccess = function (res) {

    };





</script>
<style>
    .pd-var {
        font-size: small;
        border: 1px solid #007bff;
        border-left: 8px solid #007bff;
        padding: 3px;
        border-radius: 3px;
    }

    .pd-var-icon {
        font-size: small;
        background-color: #007bff;
        color: #fff;
        border-bottom-color: #007bff;
        border-top-color: #007bff;
        border-left-color: #007bff;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 6px;
        padding-left: 6px;
    }

    .pd-var-text {
        
    }
</style>
<div class="pad-15" >
 
</div>
