@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "BLS Home";
    Layout = null;
}

<style>
    .visaProcessPanel {
        border-top: solid 7px #bf8f2c;
        font-family: Verdana;
        padding-bottom: 10px;
        position: relative;
        margin-top: 0px;
    }

    .title {
        background: #333;
        color: #fff;
        padding: 5px 10px;
        font-size: 20px;
        float: none;
        margin: 0px auto 1px;
        width: 45%;
        text-align: center;
        position: relative;
        line-height: 24px;
    }

        .title:before {
            content: "";
            position: absolute;
            top: 0px;
            left: -20px;
            border-style: solid;
            border-width: 34px 0px 0px 20px;
            border-color: #333 #333 transparent transparent;
        }

        .title:after {
            content: "";
            position: absolute;
            top: 0px;
            right: -20px;
            border-style: solid;
            border-width: 34px 20px 0px 0px;
            border-color: #333 transparent transparent #333;
        }

    .fontweightNone {
        font-weight: normal;
    }
    .visaWelcomeBox {
        padding: 10px 20px 120px;
        color: #fff;
        font-size: 12px;
        line-height: 17px;
        margin: 0 auto;
        display: table;
        float: none;
        width: 100%;
        background: #00305d;
        text-align: center;
    }
    .stepBox {
        width: 90%;
        margin-top: -90px;
    }
    .container1 {
        /*margin: 0 auto;*/
        float: none;
        display: flex;
        margin-left: 45px;
    }
    .visaProcessItemBox {
        border: solid 10px #fff;
        box-sizing: border-box;
        width: 26.33%;
        padding: 32px 5px 32px;
        color: #fff;
        background: #96000f;
        margin: 0px 3.5%;
        border-radius: 25px;
        box-shadow: 0px 0px 1px #000;
        position: relative;
    }
    .visaProcessItemBox:hover {
       /* border: solid 10px #fff;
        box-sizing: border-box;
        width: 26.33%;
        padding: 32px 5px 32px;*/
        color: #fff;
        background: #828587;
        /*margin: 0px 3.5%;
        border-radius: 25px;
        box-shadow: 0px 0px 1px #000;
        position: relative;*/
        text-decoration:none !important;
    }
    .step {
        background: #bf8f2c;
        border-radius: 100%;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        line-height: 50px;
        text-align: center;
        width: 60px;
        height: 60px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        position: absolute;
        top: -35px;
    }
    .bannerSection {
        height: 250px;
        background: url(../images/bls/spain-bg.jpg) center -70px/940px auto scroll no-repeat #fff;
        /*margin-top: 107px;*/
    }
    .wrap {
        width: 940px;
        margin: 0px auto;
        display: table;
        float: none;
    }
    img{
        margin:0 auto;
    }
    .paddingTop {
        padding-top: 10px;
    }
    .alignCenter {
        text-align: center !important;
    }
    h4 {
        font-size: 15px;
    }
    h2 {
        font-size: 24px;
    }

    .popup {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        width: 650px;
        border-radius: 10px;
        height: 440px;
        background: #fff;
        margin: auto;
        z-index: 1001;        
    }

    .popupBG {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: 1000;
        font-family: Arial;
    }

    .popupCloseIcon {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: block;
        background: #f00;
        border-radius: 100%;
        color: #fff;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }

    .paddingInBoxExtra {
        padding: 20px;
        box-sizing: border-box;
    }
    .alignJustify {
        text-align: justify !important;
    }
    .marginBottom {
        margin-bottom: 10px;
    }
    .overFlowScroll {
        height: 150px;
        overflow-y: scroll;
    }
    .points {
        width: 100%;
    }
    .points ul li {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    line-height: 20px;
    }

    .alignCenter {
        text-align: center !important;
    }
    .red {
        color: #f00;
    }
    p {
        line-height: 20px;
        margin: 0px 0px 15px 0px;
        padding: 0px;
        width: 100%;
        text-align: justify;
    }
    .points ul {
        list-style: outside;
        width: 98%;
        margin: 0px 0px 15px 2%;
    }
    .alignJustify {
        text-align: justify !important;
    }

    .liststyle {
        list-style: disc;
    }

    ul {
        
        padding: 0px;
        float: left;
        box-sizing: border-box;
    }

    
</style>

<script>

    $(document).ready(function () {

        $("#IDBodyPanel").show();
        $(".popupBG").show();
        
    });	

    $(".popupCloseIcon").click(function () {
        $(".popupBG").hide();
        $("#IDBodyPanel").hide();

    });

</script>


<div>
    <section class="row bannerSection">
        <div class="wrap posRelative">
        </div>
    </section>

    <div class="row-12">
        <article class="row visaProcessPanel">
            <div class="wrap">
                <h3 class="title fontweightNone">VISA APPLICATION PROCESS</h3>

                <div class="visaWelcomeBox">
                    Welcome to the website of the Spain Visa Application Centre. This website provides information on how to apply for a Schengen visa to travel to Spain as your main country of destination. The guidelines listed on this site are to help you to prepare your documents as accurately as possible. This will reduce the chances of your application being delayed or rejected due to incomplete or faulty submission of documents.
                </div>

                <div class="container1 stepBox">
                    <a class="visaProcessItemBox" href="#">
                        <div class="step">Step 1</div>
                        <div class="row"><img src="~/images/BLS/visaProcess1.png" width="50" height="50" title="" alt=""></div>
                        <h4 class="row-12 alignCenter paddingTop fontweightNone">Know Your Visa Type</h4>
                    </a>
                    <a class="visaProcessItemBox" href="#">
                        <div class="step">Step 2</div>
                        <div class="row"><img src="~/images/BLS/visaProcess2.png" width="50" height="50" title="" alt=""></div>
                        <h4 class="row-12 alignCenter paddingTop fontweightNone">Book your appointment</h4>
                    </a>
                    <a class="visaProcessItemBox" href="#">
                        <div class="step">Step 3</div>
                        <div class="row"><img src="~/images/BLS/visaProcess3.png" width="50" height="50" title="" alt=""></div>
                        <h4 class="row-12 alignCenter paddingTop fontweightNone">Visit our centre</h4>
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="popup " id="IDBodyPanel" style="display: none;">
    <div class="popupCloseIcon">X</div>
    <div class="row-12 paddingInBoxExtra alignJustify overFlowScroll paddingInBox points" style="height:420px;">

        <h2 class="row marginBottom">DO NOT FALL FOR FRAUD<strong></strong> AND BEWARE OF SCAM</h2>
        <p class="font12"><strong>BLS International advises its visa applicants to be cautious/ vigilant on the following:</strong></p>
        <ul>
            <li class="liststyle">Our staff never asks visa applicants for any payments either in cash or any other mode for scheduling of appointment(s), expediting visa application process, earlier appointment or influence in the decision making</li>
            <li class="liststyle">We don’t recommend any form of payment directly to personal bank accounts</li>
            <li class="liststyle">The appointments can be scheduled through BLS website only and kindly refer the website for the authorised service charge to be paid to BLS. </li>
            <li class="liststyle">Always request for receipt for the optional value-added services availed at our centre</li>
            <li class="liststyle">Decision on visa application is taken only by competent authorities and BLS has no role or influence on such matters</li>
        </ul>
        <p>If you receive any such request (either in writing or verbally), please immediately report by filling the <a href="pdf/Complaint-Form.docm" class="blue floatNone" target="_blank">Complaint form</a> or send the email at <a href="mailto:antifraud@blsinternational.com" class="blue floatNone" target="_blank">antifraud@blsinternational.com</a></p>

        <p>BLS International will not be liable or responsible for any loss, damage, expenses or inconvenience on account of these unauthorized activities.</p>

        <h2 class="row-12 alignCenter marginBottom" style="width:100%">Website Disclaimer</h2>

        <p><strong><a href="pdf/SCHENGEN-Requisitos-17-05-2022-actualizado.pdf" class="floatNone blue" target="_blank">Schengen visa terms updates due to the Melilla border opening.</a></strong></p>

        <p>For Tetuan passports collection: We inform our respectful Applicant’s that no one of your behalf can collect your passport even procuration is not acceptable.</p>

        <!--<p><strong>We regret to inform you that the website is down for maintenance and upgrades. We apologise for the inconvenience. We will update you as soon as possible. </strong></p>-->

        <p>
            <strong>Only Debit or Credit card under the name of the applicant will be accepted. We will not accept namesless cash cards</strong><br>
            <strong>سيتم قبول بطاقة الخصم أو الائتمان فقط التي تحمل اسم مقدم الطلب. لن نقبل البطاقات النقدية بدون أسماء</strong>
        </p>

        <p>
            <strong>
                If an applicant at the time of making an appointment gives false information such as name, passport number, e-mail and telephone number,
                they will not be allowed to enter the visa center.<br>
                The applicant's data at the time of making the appointment must be the same when the applicant submits the application and correspond to the Schengen visa form
            </strong>
        </p>

        <p>
            <strong>
                نحيطكم علما انه من قدم في وقت تحديد الموعد معلومات مزيفة مثل الاسم ورقم جواز السفر والبريد الإلكتروني ورقم الهاتف. لن يُسمح له بدخول مركز التاشيرات <br>
                يجب أن تكون بيانات مقدم الطلب في وقت تحديد الموعد هي نفسها عندما يقدم مقدم الطلب الطلب ومطابقة نموذج تأشيرة شنغن
            </strong>
        </p>

        <p class="red"><strong>All family reunification appointments from March 2 are canceled for technical reasons. We regret the inconvenience caused. Appointment slots at the Casablanca consulate will soon be open</strong></p>

        <p>Les quatre derniers chiffres de votre carte de crédit seront vérifiés à la réception de notre centre, S'ils ne correspondent pas à la carte utilisée lors de la prise de rendez-vous, vous ne serez pas autorisés à soumettre vos documents.</p>

        <p>
            Now door step appointments made even more easier with newer locations. BLS is pleased to announce door step delivery in Laayoune, Oujda and Marrakech.<br>
            Applicants can also collect their passport from the local Aramex office in these locations
        </p>
        <p><strong>We are pleased to announce to our applicants, that Visas for Ceuta are not available for Obvious reasons.</strong></p>

        <p class="red"><strong>All applicants are encouraged to activate debit card options for online payment. This can be done by a request to your respective bank account.</strong></p>

        <p class="red"><strong>All applicants are encouraged to activate debit card options for online payment. This can be done by a request to your respective bank account.</strong></p>

        <p><strong>For more information on Online payment <a href="faq.php" class="floatNone blue" target="_blank">click here</a> for the FAQ</strong></p>

        <p>
            <strong>
                BLS is launching an online payment process for customers to make an appointment and pay directly using their debit and credit card. We will also be including new online wallet payment as well. Customers do not need to have a Barid Bank account, any bank account valid in Morocco will be eligible to use this service. Debit or Credit cards issued outside of Morocco will not be able to use this service.<br>
                We will be providing further details soon.
            </strong>
        </p>

        <p>
            For your attention,<br>
            Our BLS Rabat Center will be closed on December 24 and 31 for the end of year celebrations<br>
            Happy Holidays to all.
        </p>

        <p>Any false or erroneous information issued in these premises concerning the visa history of the person submitting a file will be subject to the measures that the Consulate General of Spain must apply regarding this situation, which in any case could imply the immediate refusal of the request and the indication of the said situation in the applicant's file.</p>

        <p><strong>From tomorrow The vaccination pass is an obligation to access in our Visa application centers.</strong></p>

        <p><strong>Tetoune <br>If an applicant provides fake email and phone data at the time of making an appointment, the application will not be allowed to be submitted at the Visa centre</strong></p>

        <p>
            <strong>Before coming to our offices, please consult the list of public holidays on the link below :</strong><br>
            <a href="https://blsspainmorocco.com/english/public_holidays.php" class="blue floatNone" target="_blank">https://blsspainmorocco.com/english/public_holidays.php</a>
        </p>

        <p>Dear Customers, We inform you that the list of documents required for the Visa Application Center in Nador has been updated. <u>PLEASE CONSULT</u>: REQUIRED DOCUMENTS.</p>

        <p>
            <strong>Courier service</strong><br>
            You do not need come again to Rabat to collect your passport<br>
            Now you can receive your passport in an agency of our leading partner in the courier service in these two cities below<br>
            <strong>Aramex FES:</strong> Residence Ahl Fès, Boulevard Mohamed VI, Fès<br>
            <strong>Aramex Meknes:</strong> commune rurale ait oulal lotissement marjane, Meknès
        </p>

        <p>
            <strong>We are restarting the Visa Center in Tetouane. We are happy to welcome our customers again for the Tetouane jurisdiction.</strong><br>
            <strong>The Address</strong> is Floor 2, Avenue AbdelKhalak Torres Imeuble 311, Tétouan<br>
            <strong>Office hours </strong>from 8:00 a.m. to 4:00 p.m.
        </p>

        <p><strong>Dear applicants,</strong></p>
        <p><strong>We would like to inform you that the Spanish Visa Center in Nador will receive visa applications under the conditions below:</strong></p>
        <p><strong>- Have had a Spanish visa (issued by the SPANISH CONSULATE IN NADOR) of 6 months or more during the past 3 years.</strong></p>
        <p><strong>- Have had a Spanish visa (issued by the SPANISH CONSULATE IN NADOR) of 2 years or more during the last 5 years.</strong></p>

        <p>
            <strong>Dear applicants,</strong><br>
            From <span class="blue floatNone">06/24/2021</span>, our visa application center in Rabat will open to the public for the filing of Schengen visas.
        </p>

        <p>*Before confirming the appointment, you must verify your information "FAMILY NAME, FIRST NAME, PASSPORT NUMBER, DATE OF BIRTH" as well as consular Jurisdiction.</p>

        <p>
            Due to current mobility restrictions, entry to Spain is only permitted in specific cases. Here is the link where you can view these exceptions: <br>
            <a href="https://boe.es/boe/dias/2020/07/18/pdfs/BOE-A-2020-8099.pdf" class="blue floatNone" target="_blank">https://boe.es/boe/dias/2020/07/18/pdfs/BOE-A-2020-8099.pdf</a>
        </p>

        <p>
            <strong>
                Cher Demandeur,<br>
                Nous tenons à vous informer que le centre de visas d’Espagne à Casablanca reprend la réception des demandes <span class="red floatNone">de visas Schengen</span> dans les conditions ci-dessous: <br>
                - <span class="red floatNone">Seuls</span> les demandeurs qui ont eu <span class="red floatNone">un minimum d'un</span> visa Schengen de 6 mois ou plus, ou <span class="red floatNone">DEUX</span> visas Schengen de 3 mois  <span class="red floatNone">peuvent postuler</span><br>
                - Et cela au cours des 2 dernières années.<br>
                - Les demandes qui ne respectent pas les critères mentionnés ne seront pas acceptées.
            </strong>
        </p>

        <p>Nous vous informons que nous commencerons à reprogrammer les rendez-vous de l'année 2020 en envoyant un email.  La reprogrammation respectera la hiérarchie des délais, de mars à fin octobre.  Les demandeurs sont priés de ne pas se rendre au centre de demande de visa à moins qu'ils ne reçoivent le nouveau rendez-vous par e-mail.</p>

        <p>The Tangier visa centre is opening on April 22. For important update <a href="news.php" class="blue floatNone"><strong>click here</strong></a></p>

        <p>
            Dear Applicant,<br>
            You can apply for Visa for Nador as we are starting on April 5 2021.<br>
            Applicant who have had a 2 year d’Espagne visa in the last 5 years can apply
        </p>

        <p>
            You can now access our link below to book an appointment.<br>
            Official Website: Spain Visa (blsspainmorocco.com)<br>
            <br>
            <strong>Important Notice:</strong><br>
            The visas issued can only be used after the borders have reopened.<br>
            We inform you that you can apply for a visa 6 months before the date of your trip.
        </p>

        <div class="row-12 points red">
            <p>
                Important Announcement<br>
                Dear Applicants<br>
                We would like to inform all applicants that BLS Visa Application centre in the following locations will be moving to a new facility.<br>
                We will be sharing detailed information on the address and maps of the location to make it more convenient.<br>
                The new locations will be applicable for all 6 visa centres
            </p>
            <ul>
                <li class="liststyle">Casablanca</li>
                <li class="liststyle">Rabat</li>
                <li class="liststyle">Tangier</li>
                <li class="liststyle">Tetouane</li>
                <li class="liststyle">Agadir</li>
                <li class="liststyle">Nador</li>
            </ul>
            <p>We will also begin rescheduling prepaid appointments that applicants could not submit at the centre. An email will be sent out to all applicants when they were registered with us at the time of making the appointment</p>
        </div>

        <!--<p><strong>Travel Insurance is mandatory for travel to Spain. <a target="_blank" class="blue floatNone" href="https://bls.schengen.europ-assistance.com/en?ipc=blsmorocco&amp;utm_source=blsmorocco&amp;utm_medium=affiliates">click here</a> to get your travel insurance.</strong></p>-->

        <p class="red">
            Following measures established to combat the spread of Coronavirus, the BLS center will be closed until further notice.<br>
            Applicants with an already confirmed appointment must keep the receipt<br>
            BLS will contact you to reschedule it.<br>
            Thank you for your understanding.
        </p>
        <p>
            <strong>Importance Notice</strong><br>
            As of 2nd February’ 2020<br>
            The deadline for submitting a visa application is extended to 6 months instead of 3 months. In case of Seafarers they may be presented with a maximum advance of 9 months.<br>
            Visa application form has been changed.<br>
            Visa Fee increases from February 2nd<br>
            Above 12 years : 80 Euros<br>
            6 to 11 years: 40 Euros<br>
            Children under 6 years: Free of charge
        </p>

        <p><strong>Children below the age of 6 are no longer needed to make an appointment</strong></p>

        <p><strong>"<a href="mobile-biometric.php" class="blue floatNone">Click here</a> to submit your visa application at your home / office."</strong></p>

        <p class="red"><strong>We have launched a new registration process to make an appointment. Please register first to make an appointment</strong></p>

        <p class="red">
            Any applicant, who has booked an appointment before the date of 10 June 2019, has a confirmation of appointment letter.<br>
            He does not need to go to Barid Cash to make payment. He only needs to go to BLS Center on the day of his or her appointment.
        </p>

        <p>For the List of All Barid Bank Branches <a href="pdf/List-of-Barid-Branches.pdf" target="_blank" class="blue floatNone">Click here</a>.</p>

        <p class="red"><strong>Mandatory prepayment of service fees from June 10th 2019 <a href="prepayment.php" class="blue floatNone">Click here</a></strong></p>

        <p class="red"><strong>الدفع المسبق الإلزامي لرسوم الخدمة إبتداءا  من 10 يونيو 2019 <a href="prepayment-arabic.php" class="blue floatNone">انقر هنا</a></strong></p>

        <p>
            <strong>New Update</strong><br>
            For Information regarding Nador Appointments Please <a href="new-update.php" target="_blank" class="blue floatNone">Click Here</a>
        </p>

        <p><strong>BLS Employee must provide receipt for all the services availed and paid at BLS Spain Visa Application Centre. Please write to <a href="mailto: feedback.na@blsinternational.net" class="blue floatNone"> feedback.na@blsinternational.net</a> if you have not received receipt for any payments made in the Spain Visa Application Centre.</strong></p>

        <p><strong>Appointment, checklist and application form are available free of cost at Spain Visa Application Centre. You can also download the forms from <a href="https://blsspainmorocco.com" class="blue floatNone">https://blsspainmorocco.com</a></strong></p>

        <p>BLS Spain Visa Application Centre does not provide any other services apart from reception and processing of Spanish visa applications as authorised by Ministry of Foreign Affairs, Spain.</p>

        <p style="line-height:24px;">
            <strong>Visa Fee is Exempted for family members of EU Citizens</strong><br>
            <strong>Application form can be filled in Spanish or French</strong>
        </p>
    </div>
</div>

<div class="popupBG"></div>


