@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject IStringLocalizer<Synergy.App.BLS.Areas.Controllers.BLSApplicationController> Resource
@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Microsoft.Extensions.Configuration;

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "Fill Visa Application";
    Layout = null;
}

<style>

    .pwd-tgap {
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
    }
</style>

<script>

    var onAjaxSuccess = function (res) {
        debugger;
        if (res.success) {
            HideLoader($('#cms-content'));
            var data = res.model;
            //var portalId = $('#GlobalPortalId').val();
            //var url = "";
            //if (data.ApplicationId == null) {
            //    var udfs = encodeURIComponent('AppointmentId=' + data.AppointmentId + '&Surname=' + data.SurName + '&FirstName=' + data.GivenName + '&ApplicantsEmailId=' + data.ApplicantEmail + '&DateOfBirth=' + data.DateOfBirth + '&ApplicationStatusId=' + data.ApplicationStatusId + '&TelephoneNo=' + data.CurrentContactNumber);
            //    var roudfs = encodeURIComponent('AppointmentId=true');

            //    url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&pageType=Service&source=Create&dataAction=Create&templateCodes=BLS_VISA_SCHENGEN&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;
            //}
            //else {
            //    url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&pageType=Service&source=Edit&dataAction=Edit&templateCodes=BLS_VISA_SCHENGEN&portalId=' + portalId + '&recordId=' + data.ApplicationServiceId ;
            //}

            var url = '/bls/blsapplication/FillVisaApplicationList?serviceId=' + data.ServiceId;
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Fill Visa Application', Width: 1000, Height: 700 });
            return false;
        }
        else {
            $('#dntCaptchaRefreshButton')[0].click();
            HideLoader($('#cms-content'));
            showError(res.error);
        }
    };

    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

    function OnAfterServiceCreate() {
        window.location.href = window.location.href;
    }

    function onAjaxBegin() {
        ShowLoader($('#cms-content'));
    }

</script>
<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:400px;margin:auto;">
                <h5 class="text-center">Fill Visa Application</h5>
                <hr />
                <form asp-controller="BLSApplication" asp-action="ManageVisaApplication" class="form-horizontal"
                      id="cancelForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST">

                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label for="ServiceNo" class="form-label required">
                           @Resource["AppointmentNo"] 
                        </label>
                        <div>
                            <input asp-for="ServiceNo" type="text" class="form-control" style="width:100%" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ApplicantEmail" class="form-label required">
                           @Resource["Email"] 
                        </label>
                        <div>
                            <input asp-for="ApplicantEmail" type="text" class="form-control" style="width:100%" required/>
                        </div>
                    </div>
                    <div class="text-center">
                        <dnt-captcha asp-captcha-generator-max="999999"
                                     asp-captcha-generator-min="111111"
                                     asp-captcha-generator-language="English"
                                     asp-captcha-generator-display-mode="ShowDigits"
                                     asp-use-relative-urls="true"
                                     asp-show-refresh-button="true"
                                     asp-placeholder=""
                                     asp-font-name="Tahoma"
                                     asp-font-size="20"
                                     asp-fore-color="#222222"
                                     asp-back-color="#ccc"
                                     asp-text-box-class="form-control"
                                     asp-text-box-template="<div class='form-group'><label class='form-label required text-left d-block' for='captcha'>Captcha</label>{0}</div>"
                                     asp-validation-message-class="text-danger"
                                     asp-validation-error-message="Please enter captcha"
                                     asp-refresh-button-class="fas fa-redo btn-sm"
                                     asp-use-noise="false" />
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">@Resource["Submit"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


