@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model BLSVisaAppointmentViewModel

@{
    ViewData["Title"] = "Appointment Details";
    Layout = null;
}

<script>
    const webcamElement = document.getElementById('webcam');

    const canvasElement = document.getElementById('canvas');

    const snapSoundElement = document.getElementById('snapSound');
    const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);


    function onRequestVerificationCode() {
        var mail = 'devendranet.synergy@gmail.com';
        var code = '9955446600';
        $.ajax({
            type: "GET",
            url: "/BLS/BLSApplication/BLSRequestVerificationCode?email=" + mail + "&verificationCode=" + code,
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    alert("Virification Code send on email.");
                }
            }
        });
    }
    function OnScanQrCode() {
        $('#camdiv').show();
        webcam.start()
            .then(result => {
                cameraStarted();
            })
            .catch(err => {
                displayError();
            });
    }
    function TakePhoto() {
        debugger;
        let picture = webcam.snap();
        var file = dataURLtoFile(picture, 'snap.png');
        webcam.stop();
        /*CaptureImageAndVideo();*/
        ScanFile(file);

    }
    function ScanFile(file) {

        var data = new FormData();
        data.append('file', file);

        $.ajax({
            url: "/home/ReadQrCode",
            type: 'POST',
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    console.log(data);
                    $("#QRCode").val(data.data);
                    var myqr = data.data.split("=");
                    $("#QRCodeId").val(myqr[1]);
                    
                    /*var d = $("#QRCode").val();*/
                    /*alert(d);*/
                    /*var d1 = $("#QRCodeId").val();*/
                    /*alert(d1);*/
                    alert("QRCode scan successfully.");
                    CaptureImageAndVideo();

                    /*window.location.href = data.data;*/
                }
                else {
                    showError(data.data);
                }
            },
            error: function () {
            }
        });

    }
    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, { type: mime });
    }
    function onAjaxSuccessReadAppointment(res) {
        if (res.success) {
            var customUrl = encodeURIComponent('serviceId=' + res.serviceId);
            var url = "/portal/BLSEmployee?pageName=AppointmentDetails&customUrl=" + customUrl;
            window.location.href = url;
        }
        else {
            showError(res.error);
        }
    }

    function CaptureImageAndVideo() {
        var win = GetMainWindow();
        win.iframeOpenUrl = "/cms/CaptureImageAndVideo?cbm=OnAfterCaptureImage&type=@CaptureType.Image";
        win.OpenWindow({Title: 'Capture', Width: 650, Height: 550,  });
    }

    function OnAfterCaptureImage(obj) {
        /*alert(obj.fileId);*/
        $("#ImageId").val(obj.fileId);
        OnGetQRCodeData();
    }
    function OnGetQRCodeData() {
        var qrid = $("#QRCodeId").val();
        $.ajax({
            url: "/Home/GetQRCodeData?qrcodeId="+qrid,
            type: 'GET',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    console.log(data);
                    $("#ServiceId").val(data.data.ReferenceTypeId);
                    /*var d = $("#ServiceId").val();*/
                    /*alert(d);*/
                    OnUpdateApplicantImage();
                }
                else {
                    showError(data.data);
                }
            },
            error: function () {
            }
        });
    }
    function OnUpdateApplicantImage() {
        var serid = $("#ServiceId").val();
        var imgid = $("#ImageId").val();
        $.ajax({
            url: "/Bls/BLSApplication/BLSUpdateAppointmentImage?serviceId="+serid+"&fileId="+imgid,
            type: 'GET',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    alert("Image updated");
                    var loca = $("#QRCode").val();
                    window.location.href = loca;
                }
                else {
                    showError(data.error);
                }
            },
            error: function () {
            }
        });
    }
</script>
<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:500px;margin:auto;">
                <h5 class="text-center">Read Appointment</h5>
                <hr />
                <form asp-controller="BLSApplication" asp-action="ReadAppointment" class="form-horizontal"
                      id="readForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccessReadAppointment"
                      data-ajax="true" data-ajax-method="POST">

                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group pt-3 pb-3">
                        <div>
                            <input asp-for="ServiceNo" type="text" class="form-control form-control-lg" style="width:100%" placeholder="Appointment No" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="onFormSave(event)">Open Appointment</button>
                        </div>
                    </div>
                    <h3 class="text-center text-muted pt-3">OR</h3>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="OnScanQrCode()">Scan QR Code</button>
                        </div>
                    </div>


                    <div class="card card-fluid" id="camdiv" style="display:none;">
                        <!-- .card-header -->
                        <div class="card-header">
                            <!-- .nav-tabs -->
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#home">Scan QR Code</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile">Browse QR Code</a>
                                </li>

                            </ul><!-- /.nav-tabs -->
                        </div><!-- /.card-header -->
                        <!-- .card-body -->
                        <div class="card-body">
                            <!-- .tab-content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active show text-center" id="home">
                                    <video id="webcam" autoplay playsinline style="width: 100%; height: 100%;"></video>
                                    <canvas id="canvas" class="d-none"></canvas>
                                    <div class="flash"></div>
                                    <audio id="snapSound" src="audio/snap.wav" preload="auto"></audio>
                                    <a href="javascript:TakePhoto();" class="tile bg-primary tile-circle tile-lg" title="Take Snap"><span class="fa fa-camera"></span></a>
                                </div>
                                <div class="tab-pane fade" id="profile">

                                </div>
                            </div><!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    @Html.HiddenFor(x=>x.ImageId)
                    @Html.HiddenFor(x=>x.QRCodeId)
                    @Html.HiddenFor(x=>x.QRCode)
                    @Html.HiddenFor(x=>x.ServiceId)
                </form>
            </div>
        </div>
    </div>
</div>
