@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}

@model SurveyScheduleViewModel
<script>
   
   
   
    
</script>
<div class="row">
    <h4 style="padding:15px;">Survey Result Details</h4>
    <div class="col-12">
        @*<input type="button" class="btn btn-warning" value="Add Item" style="margin:5px;color:white" onclick="AddItem()" />*@
        @*<div id="ItemGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>*@
        @(Html.Kendo().Grid<SurveyQuestionViewModel>
    ().Name("kgrdSurveySchedule")
    .Columns(col =>
    {
        col.Bound(c=> c.QuestionName).Title("Question");
        col.Bound(c => c.AnswerName).Title("Answer");
        col.Bound(c => c.AnswerComment).Title("Comment");




    })
    //.ToolBar(toolbar =>
    //{
    //    toolbar.Custom().Text("Create New Assessment").Name("btnAdd").IconClass("fa fas fa-plus").HtmlAttributes(new { @class = "k-primary", href = "javascript:OnCreateAssessment();" });
    //})
    //.Events(e => e.DataBound("onDataBound"))
    .Scrollable(x => x.Enabled(true))
    .Sortable(srt => srt.Enabled(true))
    .Selectable(select => select.Enabled(false))
    .Filterable(f => f.Extra(false)
    .Operators(o => o.ForString(s => s.Clear()
    .Contains("Contains")
    .IsEqualTo("Is equal to")
    )))
    .Resizable(resize => resize.Columns(true))
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .AutoBind(true)
    .DataSource(
    dataSource => dataSource
    .Ajax()
    .PageSize(100)
    .Read(read => read.Action("ReadSurveyResultDetails", "SurveySchedule", new { Area="TAS", id = Model.Id }))
    .Model(model => model.Id("QuestionId")))
    )
    </div>
</div>

