@inject Synergy.App.Common.IUserContext _userContext
@using Synergy.App.Common
@using Synergy.App.ViewModel;
@{
    ViewData["Title"] = "My Profile - Overview";
    Layout = null;// "~/Areas/Core/Views/User/UserProfile.cshtml";
}
@model Synergy.App.ViewModel.UserViewModel

<style>
    .k-listview {
        background-color:unset;
        color:inherit !important;
    }

    .k-listview-content{
        overflow:hidden;
    }

</style>
<script>

    var curTeamId = "@ViewBag.TeamId";

    $(document).ready(function () {

        //team
        var dataSourceP = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PortalAdmin/Team/GetTeamWithUsersByPortalId?portalId=@Model.PortalId&userId=@Model.Id",
                    dataType: "json",
                }
            },
        });

        $("#teamslistView").kendoListView({
            dataSource: dataSourceP,
            template: kendo.template($("#teamtemplate").html())
        });
        $("#teamslistView").children('.k-listview-content').addClass("row m-1");
        $("#teamslistView").children('.k-listview-content').removeClass("k-listview-content");

        //members
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/PortalAdmin/Team/GetTeamMemberListWithTeamOwner",
                    data: FilterListView,
                    dataType: "json",
                }
            },
        });

        $("#teammemlistView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#teammemtemplate").html())
        });

    });
    
    function OnPhotoError(obj) {
        obj.onerror = null;
        obj.src = '/images/teams.jpg';
    }

    function OnProfilePhotoError(obj) {
        obj.onerror = null;
        obj.src = '/images/profile.jpg';
    }

    function FilterListView() {
        return search = {
            teamId : curTeamId
        };
    }

    function TeamMembers(tId) { 
        curTeamId = tId;
        $("#teammemlistView").data("kendoListView").dataSource.read(FilterListView());
        $("#membersModal").modal(); 
    }

    $("#srchmember").keyup(function () {
        var val = $('#srchmember').val();

        var listView = $("#teammemlistView").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "Name",
                    operator: "contains",
                    value: val
                },
                {
                    field: "JobTitle",
                    operator: "contains",
                    value: val
                },
            ]
        });

    });


</script>

<script id="teamtemplate" type="text/kendo-ui-template">
    <div class="masonry-item col-lg-6">
        <div class="card card-fluid">
            <div class="card-body">
                <div class="media align-items-center mb-3">
                    <a class="user-avatar user-avatar-lg mr-3"><img src="/cms/Document/GetImageMongo?id=#:LogoId# " onerror='OnPhotoError(this);' alt="" ></a>
                    <div class="media-body">
                        <h3 class="card-title">
                            <a>#:Name#</a>
                        </h3>
                        <h6 class="card-subtitle text-muted"> #:TeamOwnerName# </h6>
                    </div>
                </div>
                <p>#if(Description!=null){#:Description#}#  </p>
                <hr>
                <ul class="list-icons mb-3">
                    <li>
                        <span class="list-icon"><span class="fa fa-flag text-muted"></span></span> Since #:TeamCreatedDate#
                    </li>
                </ul>

                <div class="avatar-group">
                    # for (var i = 0; i < Users.length; i++) { #
                        <div class="user-avatar" data-toggle="tooltip" title="#:Users[i].UserName#">
                            <img src="/cms/Document/GetImageMongo?id=#:Users[i].PhotoId#" onerror='OnProfilePhotoError(this);' alt="">
                        </div>
                    #}#
                    #if(UsersCount > 0) {# <a href="javascript:TeamMembers('#:Id#')" class="tile tile-circle">+#:UsersCount#</a> #}#
                </div>
            </div>

        </div>
    </div>
</script>

<script id="teammemtemplate" type="text/kendo-ui-template">
    <div class="list-group-item">
         <!-- .list-group-item-figure -->
                            <div class="list-group-item-figure">
                                <a href="" class="user-avatar"><img src="/cms/Document/GetImageMongo?id=#:PhotoId#" onerror='OnProfilePhotoError(this);' ></a>
                            </div><!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <div class="list-group-item-body">
                                <h4 class="list-group-item-title">
                                    <a href="">#:Name#</a>
                                </h4>
                                <p class="list-group-item-text"> #:JobTitle# </p>
                            </div><!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            #if('@Model.IsSystemAdmin' == 'True' || IsTeamOwner)
                            {#
                            <div class="list-group-item-figure dropdown">
                                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Remove</button>
                                </div>
                            </div>
                            #}#

    </div>

</script>

<div class="page-section">
    <!-- .masonry-layout -->
    <div class="masonry-layout">
        <div id="teamslistView" class="row no-border" style="width:100%;"></div>

        <!-- .masonry-item -->
        <!--<div class="masonry-item col-lg-6">-->
        <!-- .card -->
        <!--<div class="card card-fluid">-->
        <!-- .card-body -->
        <!--<div class="card-body">-->
        <!-- team avatar -->
        <!--<div class="media align-items-center mb-3">
            <a href="page-team.html" class="user-avatar user-avatar-lg mr-3"><img src="assets/images/avatars/team4.jpg" alt=""></a>
            <div class="media-body">
                <h3 class="card-title">
                    <a href="page-team.html">Creative Division</a>
                </h3>
                <h6 class="card-subtitle text-muted"> Event Planner </h6>
            </div><a href="page-conversations.html" class="btn btn-icon btn-light" data-toggle="tooltip" title="Chat with teams"><i class="oi oi-chat"></i></a>
        </div>-->
        <!-- /.media -->
        <!--<p> We make stunning and cool responsive web and app design which suitable for any project purpose for your business. </p>--><!-- /team avatar -->
        <!--<hr>-->
        <!-- team rating -->
        <!--<p class="rating rating-sm">
            <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="far fa-star text-yellow"></i>
        </p>-->
        <!-- /team rating -->
        <!-- team details -->
        <!--<ul class="list-icons mb-3">
            <li>
                <span class="list-icon"><span class="fa fa-map-marker text-muted"></span></span> London
            </li>
            <li>
                <span class="list-icon"><span class="fa fa-flag text-muted"></span></span> Since Oct 10, 2013
            </li>
        </ul>-->
        <!-- /team details -->
        <!-- team members -->
        <!--<div class="avatar-group">
            <a href="#" class="user-avatar" data-toggle="tooltip" title="Andrew Kim"><img src="assets/images/avatars/uifaces6.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Bryan Morgan"><img src="assets/images/avatars/uifaces7.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Larry Robinson"><img src="assets/images/avatars/uifaces8.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Beverly Simpson"><img src="assets/images/avatars/uifaces9.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Robinson"><img src="assets/images/avatars/uifaces10.jpg" alt=""></a> <a href="#" class="tile tile-circle" data-toggle="modal" data-target="#membersModal">+23</a>
        </div>-->
        <!-- /team members -->
        <!--</div>--><!-- /.card-body -->
        <!-- .card-footer -->
        <!--<div class="card-footer">
            <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>135</strong> <span class="d-block">Projects</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>6</strong> <span class="d-block">On Going</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>35</strong> <span class="d-block">Tasks</span></a>
        </div>-->
        <!-- /.card-footer -->
        <!--</div>--><!-- /.card -->
        <!--</div>--><!-- /.masonry-item -->
        <!-- .masonry-item -->
        <!--<div class="masonry-item col-lg-6">-->
        <!-- .card -->
        <!--<div class="card card-fluid">-->
        <!-- .card-body -->
        <!--<div class="card-body">-->
        <!-- team avatar -->
        <!--<div class="media align-items-center mb-3">
            <a href="page-team.html" class="user-avatar user-avatar-lg mr-3"><img src="assets/images/avatars/bootstrap.svg" alt=""></a>
            <div class="media-body">
                <h3 class="card-title">
                    <a href="page-team.html">Bootstrap</a>
                </h3>
                <h6 class="card-subtitle text-muted"> Design Team </h6>
            </div><a href="page-conversations.html" class="btn btn-icon btn-light" data-toggle="tooltip" title="Chat with teams"><i class="oi oi-chat"></i></a>
        </div>-->
        <!-- /.media -->
        <!--<p> We make stunning and cool responsive web and app design which suitable for any project purpose for your business. </p>--><!-- /team avatar -->
        <!--<hr>-->
        <!-- team rating -->
        <!--<p class="rating rating-sm">
            <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="far fa-star text-yellow"></i>
        </p>-->
        <!-- /team rating -->
        <!-- team details -->
        <!--<ul class="list-icons mb-3">
            <li>
                <span class="list-icon"><span class="fa fa-map-marker text-muted"></span></span> London
            </li>
            <li>
                <span class="list-icon"><span class="fa fa-flag text-muted"></span></span> Since Oct 10, 2013
            </li>
        </ul>-->
        <!-- /team details -->
        <!-- team members -->
        <!--<div class="avatar-group">
            <a href="#" class="user-avatar" data-toggle="tooltip" title="Andrew Kim"><img src="assets/images/avatars/uifaces6.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Bryan Morgan"><img src="assets/images/avatars/uifaces7.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Larry Robinson"><img src="assets/images/avatars/uifaces8.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Beverly Simpson"><img src="assets/images/avatars/uifaces9.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Robinson"><img src="assets/images/avatars/uifaces10.jpg" alt=""></a> <a href="#" class="tile tile-circle" data-toggle="modal" data-target="#membersModal">+23</a>
        </div>-->
        <!-- /team members -->
        <!--</div>--><!-- /.card-body -->
        <!-- .card-footer -->
        <!--<div class="card-footer">
            <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>135</strong> <span class="d-block">Projects</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>6</strong> <span class="d-block">On Going</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>35</strong> <span class="d-block">Tasks</span></a>
        </div>-->
        <!-- /.card-footer -->
        <!--</div>--><!-- /.card -->
        <!--</div>--><!-- /.masonry-item -->
        <!-- .masonry-item -->
        <!--<div class="masonry-item col-lg-6">-->
        <!-- .card -->
        <!--<div class="card card-fluid">-->
        <!-- .card-body -->
        <!--<div class="card-body">-->
        <!-- team avatar -->
        <!--<div class="media align-items-center mb-3">
            <a href="page-team.html" class="user-avatar user-avatar-lg mr-3"><img src="assets/images/avatars/sketch.svg" alt=""></a>
            <div class="media-body">
                <h3 class="card-title">
                    <a href="page-team.html">Sketch</a>
                </h3>
                <h6 class="card-subtitle text-muted"> Creative Agency </h6>
            </div><a href="page-conversations.html" class="btn btn-icon btn-light" data-toggle="tooltip" title="Chat with teams"><i class="oi oi-chat"></i></a>
        </div>-->
        <!-- /.media -->
        <!--<p> We make stunning and cool responsive web and app design which suitable for any project purpose for your business. </p>--><!-- /team avatar -->
        <!--<hr>-->
        <!-- team rating -->
        <!--<p class="rating rating-sm">
            <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="far fa-star text-yellow"></i>
        </p>-->
        <!-- /team rating -->
        <!-- team details -->
        <!--<ul class="list-icons mb-3">
            <li>
                <span class="list-icon"><span class="fa fa-map-marker text-muted"></span></span> London
            </li>
            <li>
                <span class="list-icon"><span class="fa fa-flag text-muted"></span></span> Since Oct 10, 2013
            </li>
        </ul>-->
        <!-- /team details -->
        <!-- team members -->
        <!--<div class="avatar-group">
            <a href="#" class="user-avatar" data-toggle="tooltip" title="Andrew Kim"><img src="assets/images/avatars/uifaces6.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Bryan Morgan"><img src="assets/images/avatars/uifaces7.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Larry Robinson"><img src="assets/images/avatars/uifaces8.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Beverly Simpson"><img src="assets/images/avatars/uifaces9.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Robinson"><img src="assets/images/avatars/uifaces10.jpg" alt=""></a> <a href="#" class="tile tile-circle" data-toggle="modal" data-target="#membersModal">+23</a>
        </div>-->
        <!-- /team members -->
        <!--</div>--><!-- /.card-body -->
        <!-- .card-footer -->
        <!--<div class="card-footer">
            <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>135</strong> <span class="d-block">Projects</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>6</strong> <span class="d-block">On Going</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>35</strong> <span class="d-block">Tasks</span></a>
        </div>-->
        <!-- /.card-footer -->
        <!--</div>--><!-- /.card -->
        <!--</div>--><!-- /.masonry-item -->
        <!-- .masonry-item -->
        <!--<div class="masonry-item col-lg-6">-->
        <!-- .card -->
        <!--<div class="card card-fluid">-->
        <!-- .card-body -->
        <!--<div class="card-body">-->
        <!-- team avatar -->
        <!--<div class="media align-items-center mb-3">
            <a href="page-team.html" class="tile tile-circle tile-lg bg-teal mr-3">GD</a>
            <div class="media-body">
                <h3 class="card-title text-truncate">
                    <a href="page-team.html">Good Deck</a>
                </h3>
                <h6 class="card-subtitle text-muted"> Software Developer </h6>
            </div><a href="page-conversations.html" class="btn btn-icon btn-light" data-toggle="tooltip" title="Chat with teams"><i class="oi oi-chat"></i></a>
        </div>-->
        <!-- /.media -->
        <!--<p> We make stunning and cool responsive web and app design which suitable for any project purpose for your business. </p>--><!-- /team avatar -->
        <!--<hr>-->
        <!-- team rating -->
        <!--<p class="rating rating-sm">
            <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
        </p>-->
        <!-- /team rating -->
        <!-- team details -->
        <!--<ul class="list-icons mb-3">
            <li>
                <span class="list-icon"><span class="fa fa-map-marker text-muted"></span></span> Jakarta
            </li>
            <li>
                <span class="list-icon"><span class="fa fa-flag text-muted"></span></span> Since May 21, 2016
            </li>
        </ul>-->
        <!-- /team details -->
        <!-- team members -->
        <!--<div class="avatar-group">
            <a href="#" class="user-avatar" data-toggle="tooltip" title="Andrew Kim"><img src="assets/images/avatars/uifaces16.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Bryan Morgan"><img src="assets/images/avatars/uifaces17.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Larry Robinson"><img src="assets/images/avatars/uifaces18.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Beverly Simpson"><img src="assets/images/avatars/uifaces19.jpg" alt=""></a> <a href="#" class="user-avatar" data-toggle="tooltip" title="Robinson"><img src="assets/images/avatars/uifaces20.jpg" alt=""></a> <a href="#" class="tile tile-circle" data-toggle="modal" data-target="#membersModal">+16</a>
        </div>-->
        <!-- /team members -->
        <!--</div>--><!-- /.card-body -->
        <!-- .card-footer -->
        <!--<div class="card-footer">
            <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>63</strong> <span class="d-block">Projects</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>11</strong> <span class="d-block">On Going</span></a> <a href="#" class="card-footer-item card-footer-item-bordered text-muted"><strong>65</strong> <span class="d-block">Tasks</span></a>
        </div>-->
        <!-- /.card-footer -->
        <!--</div>--><!-- /.card -->
        <!--</div>--><!-- /.masonry-item -->
    </div><!-- /.masonry-layout -->
    <!-- Modal Members List -->
    <!-- .modal -->
    <div class="modal fade" id="membersModal" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- .modal-dialog -->
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <!-- .modal-content -->
            <div class="modal-content">
                <!-- .modal-header -->
                <div class="modal-header">
                    <!-- .input-group -->
                    <div class="input-group has-clearable">
                        <button type="button" class="close" aria-label="Close"><i class="fa fa-times-circle"></i></button>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div><input type="text" id="srchmember" class="form-control" placeholder="Search Members">
                    </div><!-- /.input-group -->
                </div><!-- /.modal-header -->
                <!-- .modal-body -->
                <div class="modal-body px-0">
                    <!-- .list-group -->
                    <div class="list-group list-group-flush">
                        <!-- .list-group-item -->

                        <div id="teammemlistView" class="row-12 no-border" style="width:100%;"></div>

                        <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                                <a href="" class="user-avatar"><img src="assets/images/avatars/uifaces5.jpg" ></a>
                            </div>--><!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                                <h4 class="list-group-item-title">
                                    <a href="#">Craig Hansen</a>
                                </h4>
                                <p class="list-group-item-text"> Software Developer </p>
                            </div>--><!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Remove</button>                    
                                </div>
                            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces9.jpg" alt="Jane Barnes"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Jane Barnes</a>
                </h4>
                <p class="list-group-item-text"> Social Worker </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces4.jpg" alt="Nicole Barnett"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Nicole Barnett</a>
                </h4>
                <p class="list-group-item-text"> Marketing Manager </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces6.jpg" alt="Michael Ward"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Michael Ward</a>
                </h4>
                <p class="list-group-item-text"> Lawyer </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces8.jpg" alt="Juan Fuller"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Juan Fuller</a>
                </h4>
                <p class="list-group-item-text"> Budget analyst </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces7.jpg" alt="Julia Silva"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Julia Silva</a>
                </h4>
                <p class="list-group-item-text"> Photographer </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces10.jpg" alt="Joe Hanson"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Joe Hanson</a>
                </h4>
                <p class="list-group-item-text"> Logistician </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces11.jpg" alt="Brenda Griffin"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Brenda Griffin</a>
                </h4>
                <p class="list-group-item-text"> Medical Assistant </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces12.jpg" alt="Ryan Jimenez"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Ryan Jimenez</a>
                </h4>
                <p class="list-group-item-text"> Photographer </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                            <!-- .list-group-item -->
                            <!--<div class="list-group-item">-->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure">
                <a href="#" class="user-avatar"><img src="assets/images/avatars/uifaces13.jpg" alt="Bryan Hayes"></a>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!-- .list-group-item-body -->
                            <!--<div class="list-group-item-body">
                <h4 class="list-group-item-title">
                    <a href="#">Bryan Hayes</a>
                </h4>
                <p class="list-group-item-text"> Computer Systems Analyst </p>
            </div>-->
                            <!-- /.list-group-item-body -->
                            <!-- .list-group-item-figure -->
                            <!--<div class="list-group-item-figure dropdown">
                <button class="btn btn-sm btn-icon btn-light" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-arrow mr-n1"></div><button type="button" class="dropdown-item">Message</button> <button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                    <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                </div>
            </div>-->
                            <!-- /.list-group-item-figure -->
                            <!--</div>--><!-- /.list-group-item -->
                        <!--</div>-->   <!-- /.list-group -->
                    </div><!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div> <!-- .modal-footer-->
                    @Html.HiddenFor(x=>x.IsTeamOwner)
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- /Modal Members List -->
        <!-- spinner -->
        @*<div class="p-3 text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>*@<!-- /spinner -->
    </div>
</div>
