@inject Synergy.App.Common.IUserContext _userContext
@using Synergy.App.Common
@using Synergy.App.ViewModel;
@{
    ViewData["Title"] = "My Profile - Overview";
    Layout = null;// "~/Areas/Core/Views/User/UserProfile.cshtml";
}
@model Synergy.App.ViewModel.UserViewModel 

<script>
    var onAjaxSuccess = function (res) {

        if (res.success) {
            ShowNotification("Saved Successfully", "success");            
            //window.location.reload();
        }
        else {
            ShowNotification("Saved Successfully", "error"); 
        }
    };

    $(document).ready(function () {
        $("#input01").kendoUpload({
            async: {
                saveUrl: "/Cms/Document/SaveFile",
                autoUpload: true
            },
            success: onFileUploadSuccess,
        });
    });

    function onFileUploadSuccess(e) {
        debugger;
        if (e.response.success) {
            
            $("#avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
            $("#PhotoId").val(e.response.fileId);
        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function uploadFile(e) {
        debugger;
        var f = e.target.files;
        var blobFile = $('#profilephoto').files;
        var formData = new FormData();
        formData.append("file", f);

        $.ajax({
            url: "/Cms/Document/SaveFile",
            type: "POST",
            data: f,
            processData: false,
            contentType: false,
            success: function (response) {
                // .. do something
                if (response.success) {
                    $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + response.fileId);
                    $("#PhotoId").val(response.fileId);
                }
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage); // Optional
            }
        });
    }

    $("#fileupload-avatar").on('change', function () {
       debugger;
    //    //var img = $(this).val();
    //    //$.ajax({
    //    //    url: "/Cms/Document/SaveFile?file=" + $(this).val(),
    //    //    type: "POST",
    //    //    contentType: "application/json",
    //    //    dataType: "JSON",
    //    //    success: function (response) {
    //    //        debugger;
    //    //        $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + response.fileId);
    //    //        $("#PhotoId").val(e.response.fileId);
    //    //        // window.parent.document.getElementById("profileImg").setAttribute("src", "/user/profilephoto?id=" + e.response.fileId);
    //    //    }
    //    //});

        $("#iconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs 
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $.ajax({
                    url: "/user/ChangeUserProfilePhoto?photoId=" + data.fileId,
                    type: "GET",
                    contentType: "application/json",
                    dataType: "JSON",
                    success: function (response) {
                        $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                        $("#PhotoId").val(data.fileId);
                        // window.parent.document.getElementById("profileImg").setAttribute("src", "/user/profilephoto?id=" + e.response.fileId);
                    }
                });

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    });

    function OnPhotoError(obj) {
        obj.onerror = null;
        obj.src = '/images/profile.jpg';
    }

    function onProfilePhotoUploadSuccess(e) {
        //
        if (e.success) {
            // alert(e.response.fileId);
            //console.log(e);
            // set file id to hdden fileid proprty
            $.ajax({
                url: "/user/ChangeUserProfilePhoto?photoId=" + e.fileId,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {
                    //
                    $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + e.fileId);
                    $("#PhotoId").val(e.fileId);
                }
            });

        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }
</script>

<div class="page-section">
    <!-- grid row -->
    <div class="row">
        <!-- grid column -->
        <div class="col-lg-4">
            <!-- .card -->
            <div class="card card-fluid">
                <h6 class="card-header"> Your Details </h6><!-- .nav -->
                <nav class="nav nav-tabs flex-column border-0">
                    <a href="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    @*<a href="" class="nav-link">Account</a>
                    <a href="" class="nav-link">Billing</a>*@
                    <a href="#preferences" data-toggle="tab" class="nav-link">Preferences</a>
                </nav><!-- /.nav -->
            </div><!-- /.card -->
        </div><!-- /grid column -->
        <!-- grid column -->
        <div class="col-lg-8 tab-content">
            <div class="tab-pane active" id="profile">
                <!-- .card -->
                <div class="card card-fluid">
                    <h6 class="card-header"> Public Profile </h6><!-- .card-body -->
                    <div class="card-body">
                        <!-- .media -->
                        <div class="media mb-3">
                            <!-- avatar -->
                            @*<div class="user-avatar user-avatar-xl fileinput-button">
                                <div class="fileinput-button-label"> Change photo </div>
                                    <img id="avatar-myProfile" src="/cms/Document/GetImageMongo?id=@Model.PhotoId" onerror="OnPhotoError(this);">
                                    <input type="file" name="avatar" id="profilephoto" onchange="uploadFile(event);">
                                </div>*@
                            <!-- /avatar -->
                            <!-- .media-body -->
                            <div class="media-body pl-3">
                                <h3 class="card-title"> @Model.Name </h3>
                                @*<h6 class="card-subtitle text-muted"> Click the current avatar to change your photo. </h6>*@
                                @*<p class="card-text">
                                        <small>JPG, GIF or PNG 400x400, &lt; 2 MB.</small>
                                    </p>*@
                                <!-- The avatar upload progress bar -->
                                <div id="progress-avatar" class="progress progress-xs fade">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div><!-- /avatar upload progress bar -->
                            </div><!-- /.media-body -->
                        </div><!-- /.media -->
                        <!-- form -->
                        <div class="col-12" style="padding-bottom: 20px;">
                            @{
                                await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.PhotoId), Value = Model.PhotoId, CallbackMethod = "onProfilePhotoUploadSuccess" });
                            }
                        </div>
                        <form asp-controller="User" asp-action="MyProfile" method="post" class="form-horizontal"
                              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                              data-ajax="true" data-ajax-method="POST">
                            <!-- form row -->
                            <!--<div class="form-row">-->
                            <!-- form column -->
                            @*<label for="input01" class="col-md-3">Cover image</label>*@
                            @*<div class="col-md-9 mb-3">
                                <div class="custom-file">
                                    <input type="file"  id="input01" multiple>
                                </div><small class="text-muted">Upload a new profile image</small>
                                </div>*@
                            <!-- /form column -->
                            <!--</div>--><!-- /form row -->
                            <!-- form row -->
                            <div class="form-row">
                                <!-- form column -->
                                <label for="input02" class="col-md-3">Name</label> <!-- /form column -->
                                <!-- form column -->
                                <div class="col-md-9 mb-3">
                                    <input type="text" asp-for="Name" class="form-control" id="input02">
                                </div><!-- /form column -->
                            </div><!-- /form row -->
                            <!-- form row -->
                            <div class="form-row">
                                <!-- form column -->
                                <label for="input03" class="col-md-3">Job Title</label> <!-- /form column -->
                                <!-- form column -->
                                <div class="col-md-9 mb-3">
                                    <input type="text" asp-for="JobTitle" class="form-control" id="input03">
                                </div><!-- /form column -->
                            </div><!-- /form row -->
                            <!-- form row -->
                            <!--<div class="form-row">-->
                            <!-- form column -->
                            <!--<label for="input04" class="col-md-3">Available for hire?</label>--> <!-- /form column -->
                            <!-- form column -->
                            <!--<div class="col-md-9 mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="input04" checked> <label class="custom-control-label" for="input04">Yes, hire me</label>
                                </div>
                            </div>-->
                            <!-- /form column -->
                            <!--</div>--><!-- /form row -->
                            <hr>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="PhotoId" />
                            <input type="hidden" asp-for="Email" />
                            <!-- .form-actions -->
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary ml-auto">Update Profile</button>
                            </div><!-- /.form-actions -->
                        </form><!-- /form -->
                    </div><!-- /.card-body -->
                </div><!-- /.card -->
                <!-- .card -->
                <!--<div class="card card-fluid">
                <h6 class="card-header"> Social Networks </h6>-->
                <!-- form -->
                <!--<form method="post">-->
                <!-- .list-group -->
                <!--<div class="list-group list-group-flush mt-3 mb-0">-->
                <!-- .list-group-item -->
                <!--<div class="list-group-item">-->
                <!-- .list-group-item-figure -->
                <!--<div class="list-group-item-figure">
                    <div class="tile tile-md bg-twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>-->
                <!-- /.list-group-item-figure -->
                <!-- .list-group-item-body -->
                <!--<div class="list-group-item-body">
                    <input type="text" class="form-control" id="twitter" placeholder="Twitter Username" value="stilearningTwit">
                </div>-->
                <!-- /.list-group-item-body -->
                <!--</div>--><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <!--<div class="list-group-item">-->
                <!-- .list-group-item-figure -->
                <!--<div class="list-group-item-figure">
                    <div class="tile tile-md bg-facebook">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </div>-->
                <!-- /.list-group-item-figure -->
                <!-- .list-group-item-body -->
                <!--<div class="list-group-item-body">
                    <input type="text" class="form-control" id="facebook" placeholder="Facebook Username">
                </div>-->
                <!-- /.list-group-item-body -->
                <!--</div>--><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <!--<div class="list-group-item">-->
                <!-- .list-group-item-figure -->
                <!--<div class="list-group-item-figure">
                    <div class="tile tile-md bg-linkedin">
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>-->
                <!-- /.list-group-item-figure -->
                <!-- .list-group-item-body -->
                <!--<div class="list-group-item-body">
                    <input type="text" class="form-control" id="linkedin" placeholder="Linkedin Username">
                </div>-->
                <!-- /.list-group-item-body -->
                <!--</div>--><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <!--<div class="list-group-item">-->
                <!-- .list-group-item-figure -->
                <!--<div class="list-group-item-figure">
                    <div class="tile tile-md bg-dribbble">
                        <i class="fab fa-dribbble"></i>
                    </div>
                </div>-->
                <!-- /.list-group-item-figure -->
                <!-- .list-group-item-body -->
                <!--<div class="list-group-item-body">
                    <input type="text" class="form-control" id="dribbble" placeholder="Dribbble Username">
                </div>-->
                <!-- /.list-group-item-body -->
                <!--</div>--><!-- /.list-group-item -->
                <!-- .list-group-item -->
                <!--<div class="list-group-item">-->
                <!-- .list-group-item-figure -->
                <!--<div class="list-group-item-figure">
                    <div class="tile tile-md bg-github">
                        <i class="fab fa-github"></i>
                    </div>
                </div>-->
                <!-- /.list-group-item-figure -->
                <!-- .list-group-item-body -->
                <!--<div class="list-group-item-body">
                    <input type="text" class="form-control" id="github" placeholder="Github Username">
                </div>-->
                <!-- /.list-group-item-body -->
                <!--</div>--><!-- /.list-group-item -->
                <!--</div>--><!-- /.list-group -->
                <!-- .card-body -->
                <!--<div class="card-body">
                <hr>-->
                <!-- .form-actions -->
                <!--<div class="form-actions">
                    <button type="submit" class="btn btn-primary ml-auto">Update Socials</button>
                </div>-->
                <!-- /.form-actions -->
                <!--</div>--><!-- /.card-body -->
                <!--</form>--><!-- /form -->
                <!--</div>--><!-- /.card -->
            </div><!-- /grid column -->

            <div id="preferences" class="tab-pane fade">
                <div class="card card-fluid">
                    <h6 class="card-header"> Preferences </h6><!-- .list-group -->
                    <div class="card-body">
                        <div class="list-group list-group-flush">

                            <form asp-controller="User" asp-action="MyPreferences" method="post" class="form-horizontal"
                                  data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                  data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                  data-ajax="true" data-ajax-method="POST">
                                <!-- .list-group-item -->

                                <div class="list-group-header"> Notifications </div><!-- .list-group-item -->
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    Enable Regular Email
                                    <!-- .switcher -->
                                    <label class="switcher-control switcher-control-success"><input type="checkbox"  class="switcher-input" asp-for="EnableRegularEmail"> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                                </div><!-- /.list-group-item -->
                                <!-- .list-group-item -->
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    Enable Summary Email
                                    <!-- .switcher -->
                                    <label class="switcher-control switcher-control-success"><input type="checkbox"  class="switcher-input" asp-for="EnableSummaryEmail"> <span class="switcher-indicator"></span></label> <!-- /.switcher -->
                                </div><!-- /.list-group-item -->
                                <!-- .list-group-item -->
                                <!-- .form-actions -->
                                <hr>
                                <input type="hidden" asp-for="Id" />

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary ml-auto">Update Preferences</button>
                                </div><!-- /.form-actions -->
                            </form>

                        </div><!-- /.list-group -->
                    </div>

                </div><!-- /.card -->
            </div>



        </div><!-- /grid row -->
    </div>
</div>
