@{
    ViewData["Title"] = "Success";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model SuccessViewModel
<div class="row">
    <div class="col-12">
        <div class="alert alert-success alert-dismissible">
            <i class="fa fas fa-check"></i>
            @Model.Message
        </div>
    </div>
    @if (Model.EnableCreateNewButton)
    {
        <div class="col-12" style="padding-bottom:5px;">
            <button class="btn btn-primary btn-block btn-lg"  formaction="~/bre/bremastermetadata" >@Model.CreateNewButtonText</button>
        </div>
    }
    <div class="col-12">
        <button class="btn btn-light btn-block btn-lg" onclick="CloseIframeModal('@Model.EnableReloadParent')">Close</button>
    </div>
</div>
