@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Kendo.Mvc.UI;
@{
    ViewData["Title"] = "Employee Directory";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}


<script>
    $(function () {

        getEmployeeDirectory();
    });

    var columnDefs = [
        {
            field: "PersonNo",
            headerName: "Employee No"
        },
        {
            field: "PersonFullName",
            headerName: "Employee Full Name"
        },
        {
            field: "JobName",
            headerName: "Job Title"
        },
        {
            field: "DepartmentName",
            headerName: "Department"
        },

        {
            field: "Email",
            headerName: "Email"
        },

        {
            field: "Mobile",
            headerName: "Mobile"
        },

    ];





    function getEmployeeDirectory() {
        document.getElementById("empdirgrid").innerHTML = "";
        gridConfig(
            "empdirgrid",
            "/chr/HRDirect/GetEmployeeDirectory",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

</script>

<div class="row">
    <div class="col-12">
        <div id="empdirgrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>
</div>

