@keyframes loadingStart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.global-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
}

.global-overlay-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

    .global-overlay-loader::before,
    .global-overlay-loader::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        content: "";
        box-sizing: inherit;
        border-radius: 50%;
        border-style: solid;
        border-color: #606060;
        border-top-color: transparent;
        border-bottom-color: transparent;
        background-color: transparent;
        border-width: 2px;
        font-size: 4em;
    }




    .global-overlay-loader::before {
        margin-top: -.5em;
        margin-left: -.5em;
        width: 1em;
        height: 1em;
        -webkit-animation: loading-animation .7s linear infinite;
        animation: loading-animation .7s linear infinite;
    }


    .global-overlay-loader::after {
        margin-top: -.25em;
        margin-left: -.25em;
        width: .5em;
        height: .5em;
        animation: loading-animation reverse 1.4s linear infinite;
    }

@-webkit-keyframes loading-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}






.pd-var {
    font-size: small;
    border: 1px solid #007bff;
    border-left: 8px solid #007bff;
    padding: 3px;
    border-radius: 3px;
}

.pd-var {
    font-size: small;
    border: 1px solid #007bff;
    border-left: 8px solid #007bff;
    padding: 3px;
    border-radius: 3px;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none
}

.rounded-circle {
    border-radius: 50% !important
}


.img-profile {
    height: 2.3rem;
    width: 2.3rem;
}

.topbar-divider {
    width: 0;
    border-right: 1px solid gray;
    height: calc(4.375rem - 1.5rem);
    margin: auto 1rem
}

.cursor-pointer {
    cursor: pointer;
}

.required {
    color: red;
}

.topbar {
    height: 4.375rem
}

#overlay {
    position: fixed;
    background: rgba(0,0,0,.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    width: 100%;
    height: 100%;
    z-index: 99;
    right: 100%;
    top: 0;
    /*  transition: right .5s ease;*/
}

.overlay {
    right: 0 !important;
    /* transition: right .5s ease !important;*/
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #fff; /* Black*/
    border-left: 1px solid silver;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
        color: gray;
        border: none;
        text-decoration: none;
    }

        .sidenav .closebtn:hover {
            color: red;
        }


.fadeMe {
    opacity: 0.5 !important;
    background: #000 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 10 !important;
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    pointer-events: none !important;
}

.c-green {
    color: green;
}

.c-red {
    color: red;
}

.c-blue {
    color: blue;
}

.new-row-item {
    cursor: pointer;
    border: 4px solid #dcdcdc;
    border-collapse: collapse;
}

    .new-row-item:hover {
        border-color: #17a2b8;
    }

.new-row-cell {
    cursor: pointer;
    border: 4px solid #fff;
    background-color: #dcdcdc;
    height: 16px;
    border-collapse: collapse;
}

.modal-header {
    color: #353535 !important;
    background-color: #fff !important;
}

.modal-body {
    color: #353535;
    background-color: #fff;
}

.modal-title {
    color: #353535;
    background-color: #fff;
}

.page-component {
    cursor: move;
    border: 1px dashed gray;
    border-radius: 3px;
    margin-bottom: 10px;
}

/*.component-title,.page-title {
    padding-left: 3px;
}*/

.drag-text {
    font-size: small;
}

.pad-15 {
    padding: 15px;
}

.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

.pad-l-30 {
    padding-left: 30px;
}

.cms-footer {
    position: fixed;
    left: 0;
    bottom: 38px;
    padding: 10px;
    padding-right: 20px;
    width: 100%;
    background-color: #F8F8F8 !important;
    color: white;
    text-align: right;
    z-index: 1;
}

.cms-slidebar-footer {
    /*    position: fixed;
    left: 0;
    bottom: 0;*/
    padding: 10px;
    width: 100%;
    /*background-color: #F8F8F8 !important;*/
    color: white;
    text-align: right;
}

.cms-group {
    margin-bottom: 25px;
}

.cms-delete-box {
    position: relative;
    width: 30px;
    float: right;
}

.cms-settings-box {
    position: relative;
    width: 30px;
    float: right;
}

.cursor-p {
    cursor: pointer;
}

.cms-delete {
    cursor: pointer;
}

.cms-delete-confirm-box {
    position: absolute;
    left: -50px;
    top: 0px;
    padding-left: 3px;
    padding-right: 3px;
    width: 50px;
    display: none;
}

.cms-delete-yes {
    cursor: pointer;
    color: green;
}

.content-editable:empty:before {
    content: attr(data-placeholder);
}

.cms-delete-no {
    color: red;
    cursor: pointer;
}

.cms-new-group {
    border-style: dotted;
    text-align: center;
    border-width: 2px;
}

/* .cms-new-group:hover, */
.cms-new-property:hover {
    background-color: #edf0f7 !important;
}

.cms-new-property-container {
    padding-top: 10px;
}

.cms-new-property {
    border-style: dashed;
    border-width: 2px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    height: 50px;
}

    .cms-new-property:hover {
        background-color: #F8F8F8;
    }

.group-header, .page-header {
    color: #fff;
}


.cms-component {
    /*  border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
    margin-bottom: 10px;
}

.content-editable {
}

.nav-active {
    border-bottom: 5px solid #DAA520 !important;
    color: #DAA520 !important;
}

.top-nav .nav-link {
    border-bottom: 0px solid #23282D;
    border-top: 0px solid #23282D;
    /* height: 60px !important;*/
}

.cms-property-icon {
    /*padding-top:5px;*/
    vertical-align: middle;
}

.pad-l-t-15 {
    padding-left: 15px;
    padding-top: 15px;
}

.pad-b-15 {
    padding-bottom: 15px;
}

.pad-b-10 {
    padding-bottom: 10px;
}

.pad-t-b-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-t-b-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-t-b-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-t-15 {
    padding-top: 15px;
}

.loading {
    position: relative;
    pointer-events: none;
}

.tree-menu {
    padding: 4px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 19px;
    margin-left: 10px;
    font-size: medium;
    padding-left: 5px;
    visibility: hidden;
    cursor: pointer;
}

.grid-menu {
    padding: 4px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 19px;
    font-size: medium;
    cursor: pointer;
    padding-left: 10px;
}


    .tree-menu:hover, .grid-menu:hover {
        background-color: silver;
    }

.treeview .k-state-hover:hover .tree-menu {
    visibility: visible;
}

.loading .loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: loadingStart 3s 300ms linear 1 both;
    -moz-animation: loadingStart 3s 300ms linear 1 both;
    -o-animation: loadingStart 3s 300ms linear 1 both;
    animation: loadingStart 3s 300ms linear 1 both;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.loading .loading-text {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    content: "123";
}

    .loading .loading-text:after {
        content: "";
    }

.loading .loading-spinner {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -3.9375rem auto 0;
    color: #1a1d1d;
    text-align: center;
}

.loading .loading-icon {
    vertical-align: middle;
}

    .loading .loading-icon:before {
        vertical-align: middle;
        content: "";
        font-family: "demo";
    }

.action-icon {
    padding-left: 6px !important;
    padding-right: 6px !important;
    border-radius: 50% !important;
}

.upload-image-div {
    width: 84px;
    height: 84px;
}

.upload-image-preview {
    width: 84px;
    height: 84px;
}

.user-menu-item {
    margin-top: 6px;
    color: #f0f0f0;
    border: 1px solid #005580;
    border-radius: 20px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

    .user-menu-item:hover {
        background-color: #005580;
    }

        .user-menu-item:hover .user-menu-icon {
            display: inline-block !important;
        }

.user-menu-icon {
    float: right;
    margin-top: 3px;
}

.notification-div {
    background-color: #fff;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    border: 1px solid var(--pbc);
    cursor: pointer;
}
