@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model TaskIndexPageTemplateViewModel
@{
    ViewBag.Title = "All Tasks";
    // Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
<div class="row pad-15">
    <div id="jsGrid"></div>
</div>
<script>
    var columnDefs = [
        {
            field: "Id",
            headerName: "Select",
            cellRenderer: params => {
                return "<input type='checkbox' class='checkcontact' data-id='" + params.value + "'/>"


            }
        },
                            {
                                headerName: "Actions",
                                field: "Id",
                                cellRenderer: params => {

                                        return "<div class='btn-group grid-menu' id='tree-menuBinTableData' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\"><i class='fas fa-ellipsis-v'></i></div>"


                                }
                            },
                            @if(Model.SelectedTableRows.IsNotNull() && Model.SelectedTableRows.Count()>0 )
             {
                  @foreach (var item in ViewBag.SelectedTableRows)
                            {
                                @:{ field: '@item.ColumnName', headerName: '@item.HeaderName' },
                            }
             }
                        ];
                        $(function () {
                            GetData_kgrid();
                            @*$.contextMenu({
                                selector: '#tree-menuBinTableData',
                                trigger: 'left',
                                build: function ($trigger, e) {


                                    var id = $trigger.data('idvalue');
                                    switch (0) {
                                        case 0:
                                            return {
                                                callback: function (key, options) {
                                                    switch (key) {

                                                        case 'edit':
                                                            OnEdit(id);
                                                            break;

                                                        case 'delete':
                                                            OnDelete(id);
                                                            break;

                                                        default:
                                                    }
                                                },
                                                items: {
                                                    @if (Model.EnableEditButton)
                                                    {
                                                        @:"edit": { name: "Edit", icon: "fas fa-edit" },
                                                    }
                                                    @if (Model.EnableEditButton)
                                                    {
                                                        @:"delete": { name: "Delete", icon: "fas fa-trash" },
                                                    }
                                                }
                                            };


                                    }
                                }
                            });*@
                        });

                        function GetData_kgrid() {
                            document.getElementById("jsGrid").innerHTML = "";
                            var p = 'indexPageTemplateId=@Model.Id' ;
                            gridConfig(
                                "jsGrid",
                                "",
                                columnDefs,
                                false,
                                true,
                                true,
                                true,
                                1,
                                true,
                                10);
                        }
</script>