@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model TaskIndexPageTemplateViewModel
@{
    ViewBag.Title = "All Tasks";
     Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    //Layout = null;
}
<div class="row pad-15">
    <div id="jsGrid"></div>
</div>
<script>
    $("#jsGrid").jsGrid({
        width: "100%",
        height: "600px",

        inserting: false,
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,
        pageSize: 14,
        pageButtonCount: 5,
        deleteConfirm: "Do you really want to delete client?",

        //data: clients,
        controller: {
            loadData: function (filter) {
                @*return $.ajax({
                    type: "GET",
                    url: "/cms/Template/ReadNoteTableProperties?templateId=@Model.TemplateId&indexPageTemplateId=@Model.Id",
                    data: filter,
                    dataType: "json"
                });*@
            },

            updateItem: function (item) {

            },

        },
        onItemEditing: function (e) {
            if (e.grid._container.find(".jsgrid-edit-row")[0] != undefined) {
                //
                e.grid.updateItem();
            }
        },
        fields: [
             @if(Model.SelectedRows.IsNotNull() && Model.SelectedRows.Count()>0 )
             {
                  @foreach (var item in Model.SelectedRows)
                            {
                                @:{ name: '@item.ColumnName', title: '@item.ColumnHeaderName' },
                            }
             }


           // { type: "control" }

        ]
    });
</script>