@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Add Page Template";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div class="row" style="margin:15px;margin-bottom:60px;">

    <div class="row col-12 pad-10">
        <div class="col-3">
            Page <span class="required">*</span>
        </div>
        <div class="col-9">
            <input id="PageId"  style="width:100%"/>
        </div>
    </div>
    <div class="cms-slidebar-footer">
        <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
        <input type="button" class="btn btn-primary" value="Ok" onclick="MapBookPages()" />
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#PageId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/cms/Template/GetTemplatesIdNameListByType" ,
                        data: { type: 2 },
                        dataType: "json"
                    }
                },
            },
            autoBind: false,
            optionLabel: "Select Page...",


            filter: '@FilterType.Contains',
        }).data("kendoDropDownList");


    });
    function closeNavMemberGroup() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function MapBookPages() {            
        var compid = '@ViewBag.CompId';
        var win = GetMainWindow();
        var parent = win.GetParentWindow();
        parent.editor.getComponents().models.find(x => x.cid == compid).attributes.attributes.pageid = $("#PageId").val();        
        win.CloseWindow();
        return false;
    }



</script>