@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    ViewData["Title"] = "Alert";    
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div class="row" style="padding:10px;">    
        <div class="col-12">
            <h4>@ViewBag.Msg</h4>
            <hr />
        </div>    
</div>

                       
           









