@using CMS.UI.ViewModel;
@using CMS.Common;
@model TwitterViewModel
@{
    ViewData["Title"] = "Elastic DB";    
    Layout = null;
}



<style>
    .cms-footer {
        position: unset !important;
        background-color: unset !important;
    }   
</style>
<script>


    $(document).ready(function () {        
        
        $("#CreateDate").kendoDateTimePicker({value:'@Model.CreateDate'});     

    });   
    var onAjaxSuccess = function (res) {       
        if (res.success) {    
            
            ShowNotification("Saved Successfully", "success");            
            
        }
        else {
            showError(res.error);
        }
        HideLoader($('#template-content'));
    };

   
   

    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }   
   
</script>


<div class="row  pad-10 no-gutters">
    <div class="container card-header" style="padding:10px;">
        

                <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

                    <form asp-controller="BusinessAnalytics" asp-action="ManageElasticDb" class="form-horizontal"
                          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                          data-ajax="true" data-ajax-method="POST">
                        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>



                        <div class="row" style="padding:10px;">
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="hashtags">Hashtag</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="hashtags" type="text" class="form-control" placeholder="Hashtag" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="text">Tweet<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="text" type="text" class="form-control" placeholder="Tweet" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="location">Location<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="location" type="text" class="form-control" placeholder="Location" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row col-12 pad-10">
                                <div class="col-3">
                                    <label for="CreateDate">Date<span class="required" style="color:red;">*</span></label>
                                </div>
                                <div class="col-9">
                                    @*@Html.Kendo().DateTimePickerFor(x => x.CreateDate).HtmlAttributes(new { @style = "width:275px" })*@@*.Format("{0:dd MMM yyyy HH:mm}")*@
                                    <input asp-for="CreateDate" id="CreateDate" style="width:275px" />
                                </div>
                            </div>
                        </div>

                        <div class="cms-footer">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>

                        @*@Html.HiddenFor(x => x.pagename)*@
                      

                    </form>
                </div>
           

    </div>
</div>









