@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    ViewBag.Title = "Synergy Schema Metadata";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model SynergySchemaViewModel

<script type="text/javascript">
    $(document).ready(function () {

    });
    var onAjaxSuccess = function (res) {        
        if (res.success) {            
            ShowNotification("Updated Successfully", "success");
        }
        else {
            ShowNotification("Updated Failed", "danger");
        }
         HideLoader($('#template-content'));
         var win = GetMainWindow();
         win.CloseWindow();
    };
</script>



<div id="divSynergySchema">
    <div class="container">
        <form asp-controller="BusinessAnalytics" asp-action="UpdateSynergySchemaMetadata" class="form-horizontal"
              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-12">
                    <label class="col-form-label"><b>Metadata</b><span class="required">*</span><br></label>
                </div>
                <div class="col-12">
                    @(Html.Kendo().TextAreaFor(x=>x.Metadata).Rows(12).HtmlAttributes(new { @style = "width:100%;border-color:#ced4da" }))
                </div>
            </div>
            <div class="cms-footer">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.NoteId)
        </form>
    </div>
</div>
