@media (max-width: 400px){
.cart1{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
}

}
@media (max-width: 400px){
    .cartpage{
        flex-direction: column;
        width: 100%;
        height: auto;
        
    }
}
