.theme-color-green {
  background-color: #1FC7C3;
}

.theme-color-gray {
    background-color: #2C3639;
}

.app-main > #cms-content > img{
    padding-top:0px !important;
}

.font-16 {
    font-size: 16px;
}

.medium {
  font-weight: 500;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 /* background-image: url('../../assets/img/background-image.jpg');*/
}

.main-heading {
  font-size: 28px;
  font-weight: 500;
}

.font-poppins {
  font-family: POPPINS;
}

.font-roboto {
  font-family: roboto;
}

.max-width-100 {
  max-width: 100%;
}

.border-theme-green {
  border: 1px solid #1FC7C3;
}

.border-radius-6 {
  border-radius: 6px;
}

.horizontal-divider {
  border: 1px solid white;
}

