@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;

@model ApplicationViewModel;

@{
    ViewBag.Title = "";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<style>   
    

</style>

<script type="text/javascript">
      
    var onAjaxSuccess = function (res) {
        if (res.success) {
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "Refresh" });
            win.parent.ShowNotification("Comments Updated Successfully","success");
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html(result.error);
            return false;
        }
    };

    function ClosePopup() {        
        var win = GetMainWindow();
        win.CloseWindow();
    }
</script>

<div class="row-12" style="margin-left:15px;">

    <form asp-controller="CandidateShortList" asp-action="ManageApplicationComment" method="post" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="padding:10px;">
                          
            <div class="col-12">Comments<span style="color:red;">&nbsp;*</span></div>
            <div class="row col-12 pad-15" style="padding-left: 26px;">
                <textarea asp-for="ShortlistByHMComment" class="form-control" rows="5" required="required"></textarea>
            </div>

            <div class="col-12">
                <input type="submit" class="btn btn-primary" @*onclick="AddApplicationComment();"*@ value="Save" style="float:right"  />
                <button type="button" class="btn btn-light" onclick="ClosePopup();" style="float:right">Close</button>
            </div>

        </div>
        @Html.HiddenFor(x => x.ApplicationId)        
    </form>
</div>

