
* {
    margin: 0;
    padding: 0;
}

.tree {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.root-li {
    padding-bottom: 50px;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    display: flex;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

.tree li {
    float: left;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    white-space: nowrap;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}


    .tree li::before, .tree li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid silver;
        width: 50%;
        height: 20px;
    }

    .tree li::after {
        right: auto;
        left: 50%;
        border-left: 1px solid silver;
    }


    .tree li:only-child {
        padding-top: 20px;
    }

        .tree li:only-child::after {
            display: none;
        }

        .tree li:only-child::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid silver;
            width: 0;
            height: 20px;
        }

.root-li::before {
    display: none !important;
}

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid silver;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}


.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid silver;
    width: 0;
    height: 20px;
}


.tree li a {
    border: 1px solid #ccc;
    width: 250px;
    height: 220px;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: 0;
}

.org-node {
    border: none;
    width: 201px;
    height: 38px;
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    /*  transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;*/
    outline: 0;
}



.chartImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.chartText {
    padding: 3px;
    line-height: 18px;
}

.chart-div-image {
    text-align: center;
    align-content: center;
}

.org-node-1 {
    color: #f2f2f2;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    background: -moz-linear-gradient(top, #043b62 0%, #0984dc 100%);
    background: -webkit-linear-gradient(top, #043b62 0%, #0984dc 100%);
    background: -o-linear-gradient(top, #043b62 0%, #0984dc 100%);
    background: linear-gradient(to bottom, #043b62 0%, #0984dc 100%);
}

    .org-node-1 .hr-org-expand, .org-node-1 .hr-org-collapse {
        color: #f2f2f2;
        background-color: #0984dc;
        border-color: #0984dc;
    }

    .org-node-1 .borderTop {
        border-color: #0767ab;
    }

.org-node-2 {
    color: #e6e6e6;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    background: -moz-linear-gradient(top, #004d00 0%, #009900 100%);
    background: -webkit-linear-gradient(top, #004d00 0%, #009900 100%);
    background: -o-linear-gradient(top, #004d00 0%, #009900 100%);
    background: linear-gradient(to bottom, #004d00 0%, #009900 100%);
}

    .org-node-2 .hr-org-expand, .org-node-2 .hr-org-collapse {
        color: #e6e6e6;
        background-color: #009900;
        border-color: #009900;
    }

    .org-node-2 .borderTop {
        border-color: #009900;
    }

.org-node-3 {
    color: #fff;
    background-color: #f5f5f5;
    /*    -webkit-box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    box-shadow: 0px 0px 10px 1px rgba(192,192,192,1);
    background: -moz-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #e0e0e0 100%);*/
}

    .org-node-3 .hr-org-expand, .org-node-3 .hr-org-collapse {
        color: #e6e6e6;
        background-color: #a6a6a6;
        border-color: #a6a6a6;
    }

    .org-node-3 .borderTop {
        border-color: #808080;
    }



.hr-org-menu {
    font-size: 20px;
    cursor: pointer;
}

.hr-org-expand, .hr-org-collapse {
    position: absolute;
    top: 245px;
    left: calc(50% - 7px);
    border: 1px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 12px;
    padding-left: 1px;
    width: 15px;
    line-height: 12px;
    z-index: 2;
    cursor: pointer;
}

.hr-context-menu {
    display: none;
    position: absolute;
    z-index: 100;
}


.hr-org-expand:after {
    content: "+";
}

.hr-org-collapse:after {
    content: "-";
}

.hr-dhc {
    color: gray;
    position: absolute;
    top: 241px;
    left: calc(50% + 15px);
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.blink {
    height: 220px;
    z-index: 200;
    border-radius: 5px;
    background-color: #E5C063 !important;
}

    .blink div {
        background-color: #E5C063 !important;
        border-color: #E5C063 !important;
    }



.chartImage {
    height: 80px;
    width: 80px;
    border-radius: 45px;
    margin-bottom: 5px;
}
.comp-start,.comp-true{
    background-color:green;
}
.comp-stop,.comp-false {
    background-color: red;
}
.comp-email, .comp-step-task, .comp-process-design, .comp-decision-script, .comp-execution-script {
    background-color: #007bff;
}
.comp-none {
    background-color: gray;
}
.chart-item {
    height: 38px;
    line-height: normal;
    white-space: normal;
    vertical-align: central;
}
.chart-text {
    font-size: 14px;
    color: #808080;
    line-height: normal;
    text-align: left;
    white-space: normal;
    margin: auto;
    padding-left: 10px !important;
    padding-top: 13px;
}
.chart-menu {
    padding-right: 5px;
    background-color: #d0d0d0;
    color: #707070;
    cursor:pointer;
    font-size:18px;
    padding-top:8px;
}
.chartText {
    font-size: 10px;

}

.borderTop {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 5px;
}

#div-as-of-date .k-picker-wrap, #div-as-of-date .k-select, #div-as-of-date .k-datepicker {
    width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none;
}

#div-as-of-date .k-i-calendar {
    display: none !important;
}
