@{
    ViewData["Title"] = "Watchlist Dashboard";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}
@using CMS.UI.ViewModel;

<style>
    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100vh; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 92% !important;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }

    .k-listview {
        background: transparent;
    }
    /*Portal End*/
    .watchlist-menu {
        background: #f8f8f7;
        border-bottom: 1px solid #9e9e9e;
        width: 100%;
        padding: 6px;
    }

    #watchlist li:hover {
        background: #808080;
        cursor: pointer;
    }

    .active {
        background: #808080;
    }
</style>
<div >
   
        <iframe id="iframeChart" height="900px" width="100%"></iframe>
</div>

<script>
    //ShowLoader($('#main-content'));
    function onMyFrameLoad() {
        HideLoader($('#main-content'));
    };
    //function refreshTreeview() {
    //    $("#documentTypeTreeView").data("kendoTreeView").dataSource.read();
    //}

    //var splitter = $('.splitter-container').height(200).split({
    //    orientation: 'vertical',
    //    limit: 10,
    //    position: '20%', // if there is no percentage it interpret it as pixels
    //    onDrag: function (event) {
    //        console.log(splitter.position());
    //    }
    //});


    $(document).ready(function () {
        
        var url = "http://178.238.236.213:5601/app/dashboards#/view/80425710-d4e6-11eb-95cc-f59531b6fdc6?embed=true&_a=(description:'Analyze%20mock%20flight%20data%20for%20ES-Air,%20Logstash%20Airways,%20Kibana%20Airlines%20and%20JetBeats',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(enhancements:(),hiddenLayers:!(),hidePanelTitles:!f,isLayerTOCOpen:!f,mapBuffer:(maxLat:23.65276,maxLon:77.48523,minLat:22.281839999999995,minLon:74.60758999999999),mapCenter:(lat:22.96773,lon:76.04641,zoom:8.51),openTOCDetails:!()),gridData:(h:15,i:'4ca8f802-d87c-49bb-bf40-b5bc8a2f7429',w:24,x:0,y:0),id:'7e72bc70-d4c0-11eb-95cc-f59531b6fdc6',panelIndex:'4ca8f802-d87c-49bb-bf40-b5bc8a2f7429',title:'Dewas%20CCTV%20Map%20View',type:map,version:'7.13.2'),(embeddableConfig:(enhancements:(),hiddenLayers:!(),hidePanelTitles:!f,isLayerTOCOpen:!f,mapBuffer:(maxLat:22.13377,maxLon:79.14618,minLat:21.94101,minLon:78.7443),mapCenter:(lat:22.0374,lon:78.94524,zoom:11.35),openTOCDetails:!()),gridData:(h:15,i:b109fab3-7952-49f4-877c-14354f09e650,w:24,x:24,y:0),id:'94937dd0-d4c2-11eb-95cc-f59531b6fdc6',panelIndex:b109fab3-7952-49f4-877c-14354f09e650,title:'Chhindwara%20CCTV%20Map%20View',type:map,version:'7.13.2'),(embeddableConfig:(enhancements:()),gridData:(h:8,i:d135ef2d-d447-4f7f-a5da-af4b2074f834,w:37,x:0,y:15),id:'79084600-d4d5-11eb-95cc-f59531b6fdc6',panelIndex:d135ef2d-d447-4f7f-a5da-af4b2074f834,type:visualization,version:'7.13.2'),(embeddableConfig:(enhancements:(),hidePanelTitles:!t),gridData:(h:8,i:'4d147c69-d3b1-4745-80dc-701c8a0d32a9',w:11,x:37,y:15),id:b85489d0-d4d6-11eb-95cc-f59531b6fdc6,panelIndex:'4d147c69-d3b1-4745-80dc-701c8a0d32a9',title:'Watchlist%20Count',type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'12b5c750-d5b2-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'12b5c750-d5b2-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-96ff0139-d423-4a8c-a7f1-7fc263983438,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('96ff0139-d423-4a8c-a7f1-7fc263983438':(columnOrder:!(ccef7721-525e-4d8e-b96f-585b394a9888,'910fe11e-b36b-49ed-9f1e-472532f2b5ac','835c4ad1-62bc-4aa3-b7cd-e75c245a4538',e00e3d3f-97c9-46e6-8856-4e87d4210658,'86e46753-8360-432d-843b-dbd0fa5805e1',b9785ace-1a0d-4dcd-a1b3-f88f4c8a4c9a,'6063d00e-4f38-4760-8ab3-f3f4e70dafcc','2e43df57-1ab1-460a-b3f4-a5861b15af9e','7d51f470-2a40-4718-856b-a1bd6e18f190'),columns:('2e43df57-1ab1-460a-b3f4-a5861b15af9e':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20disp_num.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:disp_num.keyword),'6063d00e-4f38-4760-8ab3-f3f4e70dafcc':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20dgroup.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:dgroup.keyword),'7d51f470-2a40-4718-856b-a1bd6e18f190':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),'835c4ad1-62bc-4aa3-b7cd-e75c245a4538':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20track_personnel.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:track_personnel.keyword),'86e46753-8360-432d-843b-dbd0fa5805e1':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20station.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:station.keyword),'910fe11e-b36b-49ed-9f1e-472532f2b5ac':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20unit_status.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:unit_status.keyword),b9785ace-1a0d-4dcd-a1b3-f88f4c8a4c9a:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20recovery_cdts.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:recovery_cdts.keyword),ccef7721-525e-4d8e-b96f-585b394a9888:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20unityp.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:unityp.keyword),e00e3d3f-97c9-46e6-8856-4e87d4210658:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20sub_tycod.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:sub_tycod.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(columns:!((columnId:ccef7721-525e-4d8e-b96f-585b394a9888,isTransposed:!f),(columnId:'910fe11e-b36b-49ed-9f1e-472532f2b5ac',isTransposed:!f),(columnId:'835c4ad1-62bc-4aa3-b7cd-e75c245a4538',isTransposed:!f),(columnId:e00e3d3f-97c9-46e6-8856-4e87d4210658,isTransposed:!f),(columnId:'86e46753-8360-432d-843b-dbd0fa5805e1',isTransposed:!f),(columnId:b9785ace-1a0d-4dcd-a1b3-f88f4c8a4c9a,isTransposed:!f),(columnId:'6063d00e-4f38-4760-8ab3-f3f4e70dafcc',isTransposed:!f),(columnId:'2e43df57-1ab1-460a-b3f4-a5861b15af9e',isTransposed:!f),(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',isTransposed:!f)),layerId:'96ff0139-d423-4a8c-a7f1-7fc263983438')),title:'',type:lens,visualizationType:lnsDatatable),enhancements:(),hidePanelTitles:!f),gridData:(h:10,i:'5c43ade3-b9ad-49f7-b05e-0072fa23099f',w:48,x:0,y:23),panelIndex:'5c43ade3-b9ad-49f7-b05e-0072fa23099f',title:'Dial%20100',type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-54381105-c9f8-4a9e-a7ed-eae70d6ee9eb,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('54381105-c9f8-4a9e-a7ed-eae70d6ee9eb':(columnOrder:!(b96a9873-1569-45cb-945f-d04bb812658c,'4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c'),columns:('4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),b96a9873-1569-45cb-945f-d04bb812658c:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:pagename.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(axisTitlesVisibilitySettings:(x:!t,yLeft:!t,yRight:!t),fittingFunction:None,gridlinesVisibilitySettings:(x:!t,yLeft:!t,yRight:!t),layers:!((accessors:!('4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c'),layerId:'54381105-c9f8-4a9e-a7ed-eae70d6ee9eb',position:top,seriesType:area_percentage_stacked,showGridlines:!f,splitAccessor:b96a9873-1569-45cb-945f-d04bb812658c)),legend:(isVisible:!t,position:right),preferredSeriesType:area_percentage_stacked,tickLabelsVisibilitySettings:(x:!t,yLeft:!t,yRight:!t),valueLabels:hide)),title:'',type:lens,visualizationType:lnsXY),hidePanelTitles:!f),gridData:(h:8,i:'75d41866-10f0-4593-ab2d-7acfc79e68bb',w:25,x:0,y:33),panelIndex:'75d41866-10f0-4593-ab2d-7acfc79e68bb',title:Facebook,type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-be342568-419e-404d-aeea-8632c1523f4f,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(be342568-419e-404d-aeea-8632c1523f4f:(columnOrder:!(ed42ee90-4cac-4595-976d-ecd21d4c4b9c,'7180b2a2-4ded-4992-bb5d-0a5b0ea88483'),columns:('7180b2a2-4ded-4992-bb5d-0a5b0ea88483':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),ed42ee90-4cac-4595-976d-ecd21d4c4b9c:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20hashtags.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7180b2a2-4ded-4992-bb5d-0a5b0ea88483',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:hashtags.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(ed42ee90-4cac-4595-976d-ecd21d4c4b9c),layerId:be342568-419e-404d-aeea-8632c1523f4f,legendDisplay:default,metric:'7180b2a2-4ded-4992-bb5d-0a5b0ea88483',nestedLegend:!f,numberDisplay:percent)),shape:donut)),title:'',type:lens,visualizationType:lnsPie),hidePanelTitles:!f),gridData:(h:8,i:a3357ce0-779b-4f11-9e3e-0aceb90822f1,w:23,x:25,y:33),panelIndex:a3357ce0-779b-4f11-9e3e-0aceb90822f1,title:Twitter,type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!t,title:'Main%20Dashboard',viewMode:view)&_g=(filters:!(),refreshInterval:(pause:!f,value:900000),time:(from:now-24h,to:now))&show-time-filter=true&hide-filter-bar=true";
        $("#iframeChart").attr('src', url);
    });

    function loadChart(id, text,e) {

        //ShowLoader($('.splitter-container'));
        $(".watchlist-menu").removeClass("active");
        $(e).closest("li").addClass("active");
        var keyword = text;
        keyword = keyword.replace(" ", "%22")
        var url = "http://178.238.236.213:5601/app/dashboards#/view/80425710-d4e6-11eb-95cc-f59531b6fdc6?embed=true&_a=(description:'Analyze%20mock%20flight%20data%20for%20ES-Air,%20Logstash%20Airways,%20Kibana%20Airlines%20and%20JetBeats',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(enhancements:(),hiddenLayers:!(),hidePanelTitles:!f,isLayerTOCOpen:!f,mapBuffer:(maxLat:23.65276,maxLon:77.48523,minLat:22.281839999999995,minLon:74.60758999999999),mapCenter:(lat:22.96773,lon:76.04641,zoom:8.51),openTOCDetails:!()),gridData:(h:15,i:'4ca8f802-d87c-49bb-bf40-b5bc8a2f7429',w:24,x:0,y:0),id:'7e72bc70-d4c0-11eb-95cc-f59531b6fdc6',panelIndex:'4ca8f802-d87c-49bb-bf40-b5bc8a2f7429',title:'Dewas%20CCTV%20Map%20View',type:map,version:'7.13.2'),(embeddableConfig:(enhancements:(),hiddenLayers:!(),hidePanelTitles:!f,isLayerTOCOpen:!f,mapBuffer:(maxLat:22.13377,maxLon:79.14618,minLat:21.94101,minLon:78.7443),mapCenter:(lat:22.0374,lon:78.94524,zoom:11.35),openTOCDetails:!()),gridData:(h:15,i:b109fab3-7952-49f4-877c-14354f09e650,w:24,x:24,y:0),id:'94937dd0-d4c2-11eb-95cc-f59531b6fdc6',panelIndex:b109fab3-7952-49f4-877c-14354f09e650,title:'Chhindwara%20CCTV%20Map%20View',type:map,version:'7.13.2'),(embeddableConfig:(enhancements:()),gridData:(h:8,i:d135ef2d-d447-4f7f-a5da-af4b2074f834,w:37,x:0,y:15),id:'79084600-d4d5-11eb-95cc-f59531b6fdc6',panelIndex:d135ef2d-d447-4f7f-a5da-af4b2074f834,type:visualization,version:'7.13.2'),(embeddableConfig:(enhancements:(),hidePanelTitles:!t),gridData:(h:8,i:'4d147c69-d3b1-4745-80dc-701c8a0d32a9',w:11,x:37,y:15),id:b85489d0-d4d6-11eb-95cc-f59531b6fdc6,panelIndex:'4d147c69-d3b1-4745-80dc-701c8a0d32a9',title:'Watchlist%20Count',type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'12b5c750-d5b2-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'12b5c750-d5b2-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-96ff0139-d423-4a8c-a7f1-7fc263983438,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('96ff0139-d423-4a8c-a7f1-7fc263983438':(columnOrder:!(ccef7721-525e-4d8e-b96f-585b394a9888,'910fe11e-b36b-49ed-9f1e-472532f2b5ac','835c4ad1-62bc-4aa3-b7cd-e75c245a4538',e00e3d3f-97c9-46e6-8856-4e87d4210658,'86e46753-8360-432d-843b-dbd0fa5805e1',b9785ace-1a0d-4dcd-a1b3-f88f4c8a4c9a,'6063d00e-4f38-4760-8ab3-f3f4e70dafcc','2e43df57-1ab1-460a-b3f4-a5861b15af9e','7d51f470-2a40-4718-856b-a1bd6e18f190'),columns:('2e43df57-1ab1-460a-b3f4-a5861b15af9e':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20disp_num.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:disp_num.keyword),'6063d00e-4f38-4760-8ab3-f3f4e70dafcc':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20dgroup.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:dgroup.keyword),'7d51f470-2a40-4718-856b-a1bd6e18f190':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),'835c4ad1-62bc-4aa3-b7cd-e75c245a4538':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20track_personnel.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:track_personnel.keyword),'86e46753-8360-432d-843b-dbd0fa5805e1':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20station.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:station.keyword),'910fe11e-b36b-49ed-9f1e-472532f2b5ac':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20unit_status.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:unit_status.keyword),b9785ace-1a0d-4dcd-a1b3-f88f4c8a4c9a:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20recovery_cdts.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:recovery_cdts.keyword),ccef7721-525e-4d8e-b96f-585b394a9888:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20unityp.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:unityp.keyword),e00e3d3f-97c9-46e6-8856-4e87d4210658:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20sub_tycod.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:sub_tycod.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(columns:!((columnId:ccef7721-525e-4d8e-b96f-585b394a9888,isTransposed:!f),(columnId:'910fe11e-b36b-49ed-9f1e-472532f2b5ac',isTransposed:!f),(columnId:'835c4ad1-62bc-4aa3-b7cd-e75c245a4538',isTransposed:!f),(columnId:e00e3d3f-97c9-46e6-8856-4e87d4210658,isTransposed:!f),(columnId:'86e46753-8360-432d-843b-dbd0fa5805e1',isTransposed:!f),(columnId:b9785ace-1a0d-4dcd-a1b3-f88f4c8a4c9a,isTransposed:!f),(columnId:'6063d00e-4f38-4760-8ab3-f3f4e70dafcc',isTransposed:!f),(columnId:'2e43df57-1ab1-460a-b3f4-a5861b15af9e',isTransposed:!f),(columnId:'7d51f470-2a40-4718-856b-a1bd6e18f190',isTransposed:!f)),layerId:'96ff0139-d423-4a8c-a7f1-7fc263983438')),title:'',type:lens,visualizationType:lnsDatatable),enhancements:(),hidePanelTitles:!f),gridData:(h:10,i:'5c43ade3-b9ad-49f7-b05e-0072fa23099f',w:48,x:0,y:23),panelIndex:'5c43ade3-b9ad-49f7-b05e-0072fa23099f',title:'Dial%20100',type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-54381105-c9f8-4a9e-a7ed-eae70d6ee9eb,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('54381105-c9f8-4a9e-a7ed-eae70d6ee9eb':(columnOrder:!(b96a9873-1569-45cb-945f-d04bb812658c,'4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c'),columns:('4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),b96a9873-1569-45cb-945f-d04bb812658c:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:pagename.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(axisTitlesVisibilitySettings:(x:!t,yLeft:!t,yRight:!t),fittingFunction:None,gridlinesVisibilitySettings:(x:!t,yLeft:!t,yRight:!t),layers:!((accessors:!('4c96f0b8-d5e4-4b93-913a-4cff0e62ba5c'),layerId:'54381105-c9f8-4a9e-a7ed-eae70d6ee9eb',position:top,seriesType:area_percentage_stacked,showGridlines:!f,splitAccessor:b96a9873-1569-45cb-945f-d04bb812658c)),legend:(isVisible:!t,position:right),preferredSeriesType:area_percentage_stacked,tickLabelsVisibilitySettings:(x:!t,yLeft:!t,yRight:!t),valueLabels:hide)),title:'',type:lens,visualizationType:lnsXY),hidePanelTitles:!f),gridData:(h:8,i:'75d41866-10f0-4593-ab2d-7acfc79e68bb',w:25,x:0,y:33),panelIndex:'75d41866-10f0-4593-ab2d-7acfc79e68bb',title:Facebook,type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-be342568-419e-404d-aeea-8632c1523f4f,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(be342568-419e-404d-aeea-8632c1523f4f:(columnOrder:!(ed42ee90-4cac-4595-976d-ecd21d4c4b9c,'7180b2a2-4ded-4992-bb5d-0a5b0ea88483'),columns:('7180b2a2-4ded-4992-bb5d-0a5b0ea88483':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),ed42ee90-4cac-4595-976d-ecd21d4c4b9c:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20hashtags.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'7180b2a2-4ded-4992-bb5d-0a5b0ea88483',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:hashtags.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(ed42ee90-4cac-4595-976d-ecd21d4c4b9c),layerId:be342568-419e-404d-aeea-8632c1523f4f,legendDisplay:default,metric:'7180b2a2-4ded-4992-bb5d-0a5b0ea88483',nestedLegend:!f,numberDisplay:percent)),shape:donut)),title:'',type:lens,visualizationType:lnsPie),hidePanelTitles:!f),gridData:(h:8,i:a3357ce0-779b-4f11-9e3e-0aceb90822f1,w:23,x:25,y:33),panelIndex:a3357ce0-779b-4f11-9e3e-0aceb90822f1,title:Twitter,type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!t,title:'Main%20Dashboard',viewMode:view)&_g=(filters:!(),refreshInterval:(pause:!f,value:900000),time:(from:now-24h,to:now))&show-time-filter=true&hide-filter-bar=true";
        $("#iframeChart").attr('src', url);
       // HideLoader($('.splitter-container'));
        return false;
    }







    @*$(function () {
        $.contextMenu({
            selector: '.tree-menu1',
            trigger: 'left',
            build: function ($trigger, e) {
                
                var id = $trigger.data('id');
                var keyword = $trigger.data('text');
                keyword = keyword.replace(" ", "%22")


                return {
                    callback: function (key, options) {
                        switch (key) {
                            case 'view':
                                
                                //LoadPartailView('@Url.Action("Dashboard", "BusinessAnalytics", new { @area = "Cms" })?dataAction=Create', $('#template-content'));
                                //var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:b0a4e380-cff7-11eb-bfef-c510268222c8,key:query,negate:!f,type:custom,value:'%7B%22bool%22:%7B%22must%22:%7B%22multi_match%22:%7B%22fields%22:%5B%22post_message%22,%22url%22%5D,%22fuzziness%22:%22AUTO%22,%22query%22:%22"+keyword+"%22%7D%7D%7D%7D'),query:(bool:(must:(multi_match:(fields:!(post_message,url),fuzziness:AUTO,query:"+keyword+")))))),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:()),gridData:(h:15,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:24,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:BhopalKeyword,viewMode:edit)&show-time-filter=true&hide-filter-bar=true";
                                var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:filter-index-pattern-0,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,indexRefName:filter-index-pattern-0,key:post_message,negate:!f,params:(query:'*" + keyword + "'),type:phrase),query:(match_phrase:(post_message:'*" + keyword +"')))),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:11,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:18,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',title:Facebook,type:lens,version:'7.13.2'),(embeddableConfig:(attributes:(references:!((id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:indexpattern-datasource-layer-c940f6fc-1d27-4e49-84a6-584081734b4a,type:index-pattern),(id:'86876f10-d03c-11eb-95cc-f59531b6fdc6',name:filter-index-pattern-0,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(c940f6fc-1d27-4e49-84a6-584081734b4a:(columnOrder:!(d666592e-5e26-46b9-82be-35e9124bf629,e5eec7ab-246d-4ff1-9d24-f4a391d04e23,'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9'),columns:('803781bf-7a5d-4cf7-974a-eb0e3fc5fba9':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),d666592e-5e26-46b9-82be-35e9124bf629:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20text.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:text.keyword),e5eec7ab-246d-4ff1-9d24-f4a391d04e23:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20hashtags.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:hashtags.keyword)),incompleteColumns:())))),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,indexRefName:filter-index-pattern-0,key:text,negate:!f,params:(query:'*"+keyword+"'),type:phrase),query:(match_phrase:(text:'*"+keyword+"')))),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(d666592e-5e26-46b9-82be-35e9124bf629,e5eec7ab-246d-4ff1-9d24-f4a391d04e23),layerId:c940f6fc-1d27-4e49-84a6-584081734b4a,legendDisplay:default,metric:'803781bf-7a5d-4cf7-974a-eb0e3fc5fba9',nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),hidePanelTitles:!f),gridData:(h:11,i:c0be719b-7fe9-4a04-a9c7-5b9aa53bac3a,w:14,x:18,y:0),panelIndex:c0be719b-7fe9-4a04-a9c7-5b9aa53bac3a,title:Twitter,type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:"+keyword+"Keyword,viewMode:view)&show-time-filter=true&hide-filter-bar=true";
                                //var url = "http://178.238.236.213:5601/app/dashboards#/view/ce87fdf0-cff8-11eb-bfef-c510268222c8?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:b0a4e380-cff7-11eb-bfef-c510268222c8,key:query,negate:!f,type:custom,value:'%7B%22bool%22:%7B%22must%22:%7B%22multi_match%22:%7B%22fields%22:%5B%22post_message%22,%22url%22%5D,%22fuzziness%22:%22AUTO%22,%22query%22:%22Xtranet%22Technologies%22%7D%7D%7D%7D'),query:(bool:(must:(multi_match:(fields:!(post_message,url),fuzziness:AUTO,query:Xtranet%22Technologies)))))),fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!t),panels:!((embeddableConfig:(attributes:(references:!((id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:b0a4e380-cff7-11eb-bfef-c510268222c8,name:indexpattern-datasource-layer-ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa:(columnOrder:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28,e843185d-3a4b-48d7-b250-80adeb56d407),columns:(b9665c79-6323-4eb2-bddf-d190e81d2bd3:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20post_message.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:post_message.keyword),e144f165-c2d9-4772-a737-8082f5f45a28:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20pagename.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e843185d-3a4b-48d7-b250-80adeb56d407,type:column),orderDirection:desc,otherBucket:!t,size:3),scale:ordinal,sourceField:pagename.keyword),e843185d-3a4b-48d7-b250-80adeb56d407:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(b9665c79-6323-4eb2-bddf-d190e81d2bd3,e144f165-c2d9-4772-a737-8082f5f45a28),layerId:ed71ad08-fca2-4c36-9e4e-66ee7d2ff7fa,legendDisplay:default,metric:e843185d-3a4b-48d7-b250-80adeb56d407,nestedLegend:!f,numberDisplay:percent)),shape:treemap)),title:'',type:lens,visualizationType:lnsPie),enhancements:()),gridData:(h:15,i:'3267ca1c-143b-49a8-99cc-3c1c22602a43',w:24,x:0,y:0),panelIndex:'3267ca1c-143b-49a8-99cc-3c1c22602a43',type:lens,version:'7.13.2')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:BhopalKeyword,viewMode:edit)&show-time-filter=true&hide-filter-bar=true";
                                $("#iframeChart").attr('src', url);

                                break;
                            default:
                        }
                    },
                    items: {
                        "view": { name: "View Dashboard", icon: "fas fa-chart-area" },
                    }
                };

            }


        });

    });*@

</script>

