@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    ViewData["Title"] = "Manage Heading";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<script>

  $(document).ready(function () {
      $("#gridStackHeading").val('@ViewBag.Name');
    });
    function OnSaveHeading() {
        var name = $("#gridStackHeading").val();
        var id = '@ViewBag.Id';
        if (name != null || name != "") {
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "editHeading", Prms: { name,id } });
        }
        else {
            alert("Please Enter Name !");
        }

    }   
</script>

<div class="container">   
    <div class="row">
        <div class="row col-12 pad-10">
            <div class="col-3">
                <label>Name<span class="required" style="color:red;">*</span></label>
            </div>
            <div class="col-9">
                <input type="text" id="gridStackHeading" class="form-control" style="width:80%" />
            </div>
        </div>
        <div class="cms-footer">            
            <input type="button" class="btn btn-primary" value="Save" onclick="OnSaveHeading()" />
        </div>
    </div>
</div>












