@model Synergy.App.ViewModel.IdNameViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@{
    ViewData["Title"] = "Home";
}


<style>
    .page-title {
        font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
        font-size: 40px;
        line-height: 76px;
        color: #0f254e;
        font-weight: 600;
    }

    .card-image {
        height: 120px !important;
        width: 120px !important;
        border-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
</style>
<script>
    Formio.createForm(document.getElementById('formio'), {
        components: [
            {
                type: 'textfield',
                key: 'firstName',
                label: 'First Name',
                placeholder: 'Enter your first name',
                input: true
            },
            {
                type: 'textfield',
                key: 'lastName',
                label: 'Last Name',
                placeholder: 'Enter your last name',
                input: true
            },
            {
                type: 'survey',
                key: 'questions',
                label: 'Survey',
                values: [
                    {
                        label: 'Great',
                        value: 'great'
                    },
                    {
                        label: 'Good',
                        value: 'good'
                    },
                    {
                        label: 'Poor',
                        value: 'poor'
                    }
                ],
                questions: [
                    {
                        label: 'How would you rate the Form.io platform?',
                        value: 'howWouldYouRateTheFormIoPlatform'
                    },
                    {
                        label: 'How was Customer Support?',
                        value: 'howWasCustomerSupport'
                    },
                    {
                        label: 'Overall Experience?',
                        value: 'overallExperience'
                    }
                ]
            },
            {
                type: 'button',
                action: 'submit',
                label: 'Submit',
                theme: 'primary'
            }
        ]
    }, {
        language: 'sp',
        i18n: {
            sp: {
                'First Name': 'Nombre de pila',
                 
            },
            ch: {
                'First Name': '名字',
                
            }
        }
    }
    ).then(function (form) {
        window.setLanguage = function (lang) {
            form.language = lang;
        };
    });


    function Test() {
        var s = $('#source').val();
        TranslateText(s, 'hi');
    }
</script>
<div class="panel-group p-2" id="accordion">

    <div class="panel panel-default">
        <a data-toggle="collapse" href="#collapse1"> <div class="panel-heading">  <h4 class="panel-title">Pages</h4></div></a>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="card">
                    <div class="card-header bg-secondary">Header</div>
                    <div class="card-body">
                        <div> <a href='#'>Content</a></div>
                        <div>  <a href='#'>Content</a>    </div>
                        <div> <a href='#'>Content</a> </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <a data-toggle="collapse" href="#collapse2"> <div class="panel-heading">  <h4 class="panel-title">Forms</h4></div></a>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="card">
                    <div class="card-header bg-secondary">Header</div>
                    <div class="card-body">
                        <div> <a href='#'>Content</a></div>
                        <div>  <a href='#'>Content</a>    </div>
                        <div> <a href='#'>Content</a> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="row p-5">
    <input type="text" onchange="Test();" id="source" />
    <input type="text" id="target" />
    <div class="col-12 text-center">
        <div class="col-12 page-title">Inventory Management System</div>
        <div class="col-10 offset-1">
            Manage orders. Track inventory. Oversee warehouses. One inventory management solution to run all your inventory operations.
            Create sales, manage re-order point, and keep your customers satisfied. Update your inventory quantities across all your selling channels automatically whenever a sale has been made.
        </div>
    </div>
    <div class="row col-12 pt-5">
        <div class="col-6 row text-center">
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2" src="/cms/Document/GetCategoryImageByCode?code=IMS_SALE" onerror='OnPhotoError(this);' />
                        <div> <a href="#" class="card-link">Sales</a></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-iamge" src="/cms/Document/GetCategoryImageByCode?code=IMS_PURCHASE" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link">Requisition</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-iamge" src="/cms/Document/GetCategoryImageByCode?code=IMS_PURCHASE" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link">Purchase Order</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-image" src="/cms/Document/GetPageImageByName?pageName=UnitItem" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link">Item Stock</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-image" src="/cms/Document/GetPageImageByName?pageName=Customer" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link">Customer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-image" src="/cms/Document/GetPageImageByName?pageName=Vendor_IMS" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link">Vendor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <img style="width:360px;border-radius:10px;" src="~/images/inv/inv-home.jpg" />
        </div>
    </div>
</div>


