@model Synergy.App.ViewModel.IdNameViewModel
@{
    Layout = "~/Areas/Core/Views/Shared/Themes/Recruitment/_Layout.cshtml";
}

<div class="form-section">
 
    <form asp-controller="Home" asp-action="TestDate" asp-area="" method="post" class="form-horizontal" id="serviceform"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        @*@Html.Kendo().DatePickerFor(x => x.DateTest).Format("dd/MM/yyyy").ParseFormats("yyyy/MM/dd")*@
        <input id="DateTest" asp-for="DateTest" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#DateTest").kendoDatePicker({ value: '@Model.DateTest', format:"dd/MM/yyyy" });



    });
    var onAjaxBegin = function (res) {
    }
    var onAjaxComplete = function (res) {
    }
    var onAjaxFailed = function (res) {
    }
    var onAjaxSuccess = function (res) {
    }
    $("form").on("submit", function (e) {
        var submittedDate = $("#users").data("kendoMultiSelect").value();
        alert(submittedDate);
        e.preventDefault();
        var formattedDate = kendo.toString(submittedDate, "yyyy-MM-dd");
        $("#DateTest").val(formattedDate);
        $("form").off("submit");
        $(this).submit();

    });
</script>