@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model IdNameViewModel

@{
    Layout = string.Concat("~/Areas/Core/Views/Shared/Themes/HR/_Layout.cshtml");
   // Layout = string.Concat("~/Areas/CMS/Views/Shared/_LayoutCms.cshtml");
}
<script src="~/js/ag-grid/ag-grid.js" asp-append-version="true"></script>

<div class="pad-15">
    <form asp-controller="Home" asp-action="SubmitUpdateTableMetadata" method="post" class="form-horizontal">
        <input asp-for="Name" type="text" />
        <button type="submit" class="btn btn-primary">@ViewBag.Test</button>
    </form>
    <input id="orders" style="width: 100%;" />
    <div id="kgridData" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

</div>

<script>
    var columnDefs = [
        {
            headerName: "Id",
            field: "Id",
        },
        {
            headerName: "Name",
            field: "Name",
        }
    ];
    $(document).ready(function () {
        GetPagedData();

        $("#orders").kendoDropDownList({
           // template: '<span class="order-id">#= OrderID #</span> #= ShipName #, #= ShipCountry #',
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            value:"@ViewBag.Orders",
            virtual: {
                itemHeight: 26,
                valueMapper: function (options) {
                    $.ajax({
                        url: "/Home/GetSwitchUserValueMapper",
                        type: "GET",
                        dataType: "json",
                        data: convertValues(options.value),
                        success: function (data) {
                            options.success(data);
                        }
                    })
                }
            },
            height: 260,
            dataSource: {
                type: "json",
                transport: {
                    read: function (options) {

                        console.log(options.data)
                        $.ajax({
                            url: '/Home/GetSwitchToUserVirtualData',
                                        dataType: 'json',
                                        type: 'GET',
                                        data: ConvertOptions(options.data),
                                        success: function (result) {
                                            options.success(result);
                                        }
                                    })
                                }
                            },
                //transport: {
                //    read: "/Home/GetSwitchToUserVirtualData"
                //},
                schema: {
                    model: {
                        fields: {
                            Id: { type: "string" },
                            Name: { type: "string" }
                        }
                    },
                    data: "Data",
                    total: "Total"
                },
                pageSize: 40,
                serverPaging: true,
                serverFiltering: true,

            }
        });
    });

    function GetPagedData() {
        debugger
        $("#kgridData").html('');
        pagedGridConfig(
            "kgridData",
            "/Home/GetGridData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);}
    function ConvertOptions(data) {
        
        if (data != null) {
            if (data['filter'] != null && data['filter'] != undefined && data['filter'].filters != null && data['filter'].filters != undefined && data['filter'].filters.length>0)
            {
                data['filters'] = data['filter'].filters[0].value;
            }
            return data;
        }
    }
    function convertValues(value) {
        
        var data = {};

        //value = $.isArray(value) ? value : [value];

        //for (var idx = 0; idx < value.length; idx++) {
        //    data["values[" + idx + "]"] = value[idx];
        //}
        data["value"] = value;
        return data;
    }


</script>





