@{ 
    ViewData["Title"] = "Upload Data";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@using CMS.UI.ViewModel;
@using CMS.Common;


@model DataUploadViewModel
<div>
    <p>
        @ViewBag.Err
    </p>



</div>
