@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;
@{
    Layout = null;
}
@model EGovDashboardViewModel
@inject IUserContext _userContext;

<style>

    .title-bg1 {
        background-color: #070f74;
        padding: 6px 0 2px 20px;
        margin: 0;
        font-size: 20px;
        color: #fff;
        border-radius: 12px 12px 0 0;
        height: auto;
        font-weight: 500;
    }

    .indiv-block-bg1 {
        /* background-color: #F5EBBC; */
        height: 100px;
        width: 230px;
        border-radius: 20px;
        margin-left: 20px;
        overflow: hidden !important;
        /* border: 1px solid #e66c80; */
        background-color: #cdcdcd;
    }

    .label1 {
        font-size: 20px;
    }

    .cancel-button {
        background: #eb7c63;
        order: 2;
    }

    .k-listview-content {
        height: unset !important;
        overflow-y: hidden !important;
    }

    .k-listview {
        border-style: none !important;
        height: unset !important;
    }

    #listView, #listViewPO, #listViewPU {
        padding: 10px 5px;
        margin-bottom: -1px;
        display: flex;
    }

    .card {
        float: left;
        position: relative;
        width: 290px;
        height: 236px;
        margin: 0 10px;
        padding: 0;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .footer-item {
        cursor: pointer;
        border: 1px solid;
        border-radius: 30px;
        padding: 4px;
        padding-left: 13px;
        margin-left: 10px;
    }

   /* .chartdiv {
        border: 1px solid #b7abab;  
        padding:10px;
    }*/

    .chartdiv {
        border: 1px solid #ffffff;
        padding: 10px;
        background: #fff;
        border-radius: 30px;        
        box-shadow: 10px 10px 10px #d5d1d1;
    }
</style>
<script>

    $(document).ready(function () {
                
            
            $.ajax({
                type: "GET",
                url: "/Cms/BusinessAnalytics/GetChartDataByItemNameWithParams?itemName=Projects By Location",
                success: function (response) {
                    if (response != "" && response != null) {
                        eval(response);
                    }
                },
                error: function (response) {
                    alert("error");
                },
            });        


        //chart by projects category
        var url = "/Egov/EGovernment/GetChartByProjectCategory";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;
                    debugger;
                    var chart = "#chartByCategory";
                    var options = {
                        series: [{                            
                            data: vals,  
                            name: "No Of Projects",
                        }], 
                        title: {
                            text: "Top 10 Projects By Category"
                        },
                        colors: ['#26a0fc', '#26e7a6', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        chart: {
                            type: 'bar',
                            height: 350,                             
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '15%',
                                endingShape: 'rounded',   
                                distributed: true
                            },                            
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,
                            //title: {
                            //    text: 'Scores'
                            //}                             
                        },
                        yaxis: {
                            //title: {
                            //    text: 'No Of Users'
                            //}                              
                        },
                        fill: {
                            opacity: 1,                             
                        },
                    };

                    var chart = new ApexCharts(document.querySelector(chart), options);
                    chart.render();

                }
            }
        });


        //chart by popular projects
        var url = "/Egov/EGovernment/GetChartByPopularProjects";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;
                    
                    var chart1 = "#chartByPopularProjects";
                    var options1 = {
                        series: [{
                            name: "No Of Projects",
                            data: vals,                            
                        }],
                        title: {
                            text: "Top 10 Popular Projects"
                        },
                        colors: ['#26a0fc', '#26e7a6', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '15%',
                                endingShape: 'rounded',
                                distributed: true
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,
                            //title: {
                            //    text: 'Scores'
                            //}
                        },
                        yaxis: {
                            labels: {
                                formatter: function (val) {
                                    return val.toFixed(0);
                                }
                            }
                        },
                        fill: {
                            opacity: 1
                        },                        
                    };

                    var typechart = new ApexCharts(document.querySelector(chart1), options1);
                    typechart.render();
                }
            }
        });

        //chart by project status
        var url = "/Egov/EGovernment/GetChartByProjectsStatus";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;
                    var chart = "#chartByStatus";
                    var options = {
                        series: vals,
                        title: {
                            text: "Projects By Status"
                        },
                        chart: {
                            id: chartByStatus,
                            width: 460,
                            height: 380,
                            type: 'donut',
                        },
                        legend: {
                            position: 'bottom'
                        },
                        labels: res.ItemValueLabel,
                        colors: res.ItemStatusColor,

                    };
                    var chart = new ApexCharts(document.querySelector(chart), options);
                    chart.render();
                }
            }
        });

        //chart by projects Undertaken
        var url = "/Egov/EGovernment/GetChartByProjectsUndertaken";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;

                    var chart2 = "#chartByUndertaken";
                    var options2 = {
                        series: [{
                            data: vals,
                            name: "No Of Projects",
                        }],
                        title: {
                            text: "Projects Undertaken progress"
                        },
                        colors: ['#26a0fc', '#26e7a6', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                                columnWidth: '15%',
                                endingShape: 'rounded',
                                distributed: true
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,
                            //title: {
                            //    text: 'Scores'
                            //}                             
                        },
                        yaxis: {
                            //title: {
                            //    text: 'No Of Users'
                            //}                              
                        },
                        fill: {
                            opacity: 1,
                        },
                    };

                    var undertakenchart = new ApexCharts(document.querySelector(chart2), options2);
                    undertakenchart.render();

                }
            }
        });

        //chart by location
        var url = "/Egov/EGovernment/GetChartByProjectLocation";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;
                    
                    var chart1 = "#chartByLocation";
                    var options1 = {
                        series: [{
                            name: "No Of Projects",
                            data: vals,
                        }],
                        title: {
                            text: "Projects By Location"
                        },
                        colors: ['#26a0fc', '#26e7a6', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '15%',
                                endingShape: 'rounded',
                                distributed: true
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,
                            //title: {
                            //    text: 'Scores'
                            //}
                        },
                        yaxis: {
                            labels: {
                                formatter: function (val) {
                                    return val.toFixed(0);
                                }
                            },
                        },
                        fill: {
                            opacity: 1
                        },
                    };

                    var typechart = new ApexCharts(document.querySelector(chart1), options1);
                    typechart.render();
                }
            }
        });

        //chart by categories
        var url = "/Egov/EGovernment/GetChartByProjectCategories";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    var vals = res.ItemValueSeries;

                    var chart1 = "#chartByCategories";
                    var options1 = {
                        series: [{                            
                            data: vals,
                            name: "No Of Projects",
                        }],
                        title: {
                            text: "Projects By Category"
                        },
                        colors: ['#26a0fc', '#26e7a6', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '15%',
                                endingShape: 'rounded',
                                distributed: true,                                
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: res.ItemValueLabel,                            
                        },
                        yaxis: {                            
                            labels: {
                                formatter: function (val) {
                                    return val.toFixed(0);
                                }
                            }
                        },
                        fill: {
                            opacity: 1
                        },
                    };

                    var typechart = new ApexCharts(document.querySelector(chart1), options1);
                    typechart.render();
                }
            }
        });

    });



</script>




<div class="row pad-20" style="background:#efecec;padding:10px">
    <div class="col-6 pad-10" >
        <div class="chartdiv" id="chartByCategory"></div>
    </div>
    @*<div class="col-4 pad-10" >
        <div class="chartdiv" id="chartByPopularProjects"></div>
    </div>*@
    <div class="col-6 pad-10" >
        <div class="chartdiv" id="chartByStatus" style="min-height:370px !important;"></div>
    </div>
</div>

<div class="row pad-20" style="background:#efecec;padding:10px;">
    <div class="col-6 pad-10">
        <div class="chartdiv" id="chartByUndertaken"></div>
    </div>
    <div class="col-6 pad-10">
        <div class="chartdiv" id="chartByLocation"></div>
    </div>
</div>

<div class="row pad-20" style="background:#efecec;padding:10px;">
    <div class="col-12 pad-10">
        <div class="chartdiv" id="chartByCategories"></div>
    </div>
</div>
<div class="row pad-20" style="background:#efecec;padding:10px;">
    <div class="chartdiv col-12 pad-10">
        <div style="padding: 10px; font-size: 14px; font-weight: 900; font-family: Helvetica, Arial, sans-serif;">Projects By Location</div>
        <div class="" id="ProjectsByLocation"></div>
    </div>
</div>


