@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;
@{
    Layout = null;
}
@model EGovDashboardViewModel
@inject IUserContext _userContext;

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />
    <script src="/geojson/geojsonleafletconfig.js"></script>

    <style>


        .k-listview-content {
            height: unset !important;
            overflow-y: hidden !important;
            padding-top: 10px !important;
        }

        .k-listview {
            border-style: none !important;
            height: unset !important;
        }

        .row {
            margin-right: 0px;
            margin-left: 0px;
        }

        .card {
            float: left;
            position: relative;
            width: 300px;
            height: 150px;
            margin: 0 10px;
            padding: 0;
        }

        p {
            margin-bottom: 10px !important;
        }

        .dueamount {
            color: #007bff;
            font-size: 14px;
            cursor: pointer;
        }

        .duedate {
            color: #ffc107;
            font-size: 14px;
        }

        .asset-img {
            width: 100px;
            height: 100px;
        }

        .card-text {
            font-size: 14px;
        }
    </style>
    <script>

    $(document).ready(function () {

        var dataSourceAssests = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/EGovernment/GetJSCAssetsDataByConsumer?userId=@_userContext.UserId",
                    dataType: "json"
                }
            },
        });

        $("#assetsListView").kendoListView({
            dataSource: dataSourceAssests,
            scrollable: "endless",
            template: kendo.template($("#assestTemplate").html())
        });

        var dataSourceRegisteredAssests = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/SmartCity/GetJSCRegisteredAssetsList?userId=@_userContext.UserId",
                    dataType: "json"
                }
            },
        });

        $("#registeredAssetsList").kendoListView({
            dataSource: dataSourceRegisteredAssests,
            scrollable: "endless",
            template: kendo.template($("#assestTemplate").html())
        });

        var wardDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EGov/SmartCity/GetWardList"
                }
            },
        });

        $("#WardId").kendoDropDownList({
            optionLabel: "--Select Ward--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            dataSource: wardDataSource,
        });

        //$("#AssetTypeId").kendoDropDownList({
        //    optionLabel: "--Select Asset Type--",
        //    dataTextField: "Name",
        //    dataValueField: "Id",
        //    filter: "contains",
        //    autoBind: true,
        //    dataSource: {
        //        transport: {
        //            read: {
        //                url: "/EGov/EGovernment/GetAssetTypeListForJammu"
        //            }
        //        },
        //    }
        //});

    });

    function FilterResults(flag) {
        var url = "";
        if (flag) {
            var wardId = $("#WardId").val();
            //var assetTypeId = $("#AssetTypeId").val();
            url = "/EGov/EGovernment/GetJSCAssetsDataByConsumer?userId=@_userContext.UserId&wardId=" + wardId;
        } else {
            var dropdownBox = $("#WardId").data("kendoDropDownList");
            dropdownBox.text("");
            dropdownBox.value("");

            //var dropdownBox = $("#AssetTypeId").data("kendoDropDownList");
            //dropdownBox.text("");
            //dropdownBox.value("");

            url = "/EGov/EGovernment/GetJSCAssetsDataByConsumer?userId=@_userContext.UserId";
        }
        dataSourceAssests = new kendo.data.DataSource({
            transport: {
                read: {
                    url: url,
                    dataType: "json"
                }
            },
        });

        var listView = $("#assetsListView").data("kendoListView");
        listView.setDataSource(dataSourceAssests);
    }

    //payment
    var gId, gTableId, gAmount, gAssigneeUserId;
    function OnPaymentClick(id, tableId, amount, assigneeUserId) {
        debugger;
        gId = id;
        gTableId = tableId;
        gAmount = amount;
        gAssigneeUserId = assigneeUserId;
        $('#payConfirmModal').modal('show');
    }

    function OnPaymentConfirm() {
        debugger;
        $('.payment-body').html('Please wait while we are redirecting to payment gateway...');
        OnPayment(gId, gTableId, gAmount, gAssigneeUserId);
        return false;
    }

    function OnPayment(id, tableId, amount, assigneeUserId) {
        debugger;
        ShowLoader($('#container'));
        var returnUrl = "/Portal/JammuSmartCityCustomer/MyPayments/";
        $.ajax({
            type: "POST",
            url: "/EGov/EGovernment/OnlinePayment",
            data: { 'ntsId': id, 'noteTableId': tableId, 'amount': amount, 'ntsType': '@NtsTypeEnum.Task', 'assigneeUserId': assigneeUserId, 'returnUrl': returnUrl },
            success: function (res) {

                if (res.success) {
                    if (res.requestURL === null || res.requestURL === '' || res.requestURL === undefined) {
                        HideLoader($('#container'));
                        alert('Payment gateway not found');
                        return false;
                    }
                    else {
                        window.top.location.href = res.requestURL;
                    }

                } else {
                    ShowNotification(res.error, "error");
                    HideLoader($('#container'));
                }
            },
            dataType: "json",
        });
    }

    function OnView(propId) {
        var url = '/Egov/SmartCity/JSCPropertyDetails?propertyId='+propId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Property Details", Width: 1200, Height: 600 });
        return false;
    }

    function onViewMap() {
        ($("#cardview")).hide();
        ($("#mapview")).show();
        portalId = $("#GlobalPortalId").val();

        var url = '/Cms/Page?lo=Div&pageName=AssetMapView&portalId=' + portalId;
        ////window.location.href = "/Egov/SmartCity/CitizenAssetMap";
        LoadCmsPartialView(url, 'Custom', false, "", "", "AssetMapView", null, null, $('#mapview'), null);
        //LoadCmsPartialView(url, pagetype, false, null, null, pagename, null, null, $('#pageContent'), null);

        return false;
        }

        function onViewCard() {
            ($("#cardview")).show();
            ($("#mapview")).hide();
        }

        function OnRegisterNewAsset() {
            var portalId = $("#GlobalPortalId").val();

            var win = GetMainWindow();
            win.iframeOpenUrl = "/egov/smartcity/registernewasset";
            win.OpenWindow({ Title: "Register New Asset", Width: 450, Height: 450 });
            return false;

        }

        function Refresh() {
            $("#registeredAssetsList").data("kendoListView").dataSource.read();
        }

    </script>

    <div id="appWrapper" class="wrapper">
        <div class="page">
            <div class="page-inner">
                <div class="page-section">

                    <div class="row-12 pad-10">
                        <div class="row" @*style="margin-top:20px;"*@>
                            <div class="col-6">
                                @*<h4>MY ASSETS</h4>*@
                            </div>
                            <div style="display:flex;justify-content:right;" class="col-6">
                                <a style="margin-right:10px;cursor:pointer;color:dodgerblue;text-decoration:underline" onclick="onViewCard()">
                                    <span class="fa fa-grid fa-lg" style="margin-right:10px;cursor:pointer;font-size:25px;margin-top:12px;" title="Card View"></span>
                                </a>
                                <a style="margin-right:10px;cursor:pointer;color:dodgerblue;text-decoration:underline" onclick="onViewMap()">
                                    <span class="fa-solid fa-map-location-dot" style="margin-right:10px;cursor:pointer;font-size:25px;margin-top:5px;" title="Map View"></span>
                                </a>
                                <input id="WardId" style="width:50%;margin-right:10px;" />
                                @*<input id="AssetTypeId" style="width:50%;" />*@
                                <button class="btn btn-primary mx-2" onclick="FilterResults(true)"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <button class="btn btn-secondary" onclick="FilterResults(false)"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                            </div>
                        </div>
                        <hr />
                        <div class="col-lg-12 col-md-12 col-sm-12" id="cardview">
                            <div class="row-12">
                                <div class="col-6">
                                    <h6>MY ASSETS</h6>
                                </div>
                                <hr />
                                <div id="assetsListView"></div>
                            </div>
                            <div class="row-12">
                                <div class="row" style="display:flex">
                                    <div class="col-2 pad-10"><h6>REGISTERED ASSETS</h6></div>
                                    <div class="col-2"><button class="btn btn-primary" onclick="OnRegisterNewAsset();">Register New Asset</button></div>                                                                        
                                </div>  
                                <hr />
                                <div id="registeredAssetsList"></div>
                            </div>  

                            <script type="text/x-kendo-template" id="assestTemplate">

                            <div class="card shadow mb-5 bg-white rounded" style="margin-left:15px;">
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                  <img class="card-img shadow mb-5 bg-white rounded asset-img" src="/cms/Document/GetImageMongo?id=#=gid#" alt="Card image cap" onerror="OnAssetImageError(this);" style="margin-top:25px;margin-left:-10px;">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <div class="row">
                                        <div class="col-10" style="padding-left:0px;">
                                            <h5 class="card-title">#:usg_cat_gf#</h5>
                                        </div>
                                        <div class="col-2">
                                            <i class="fa-regular fa-eye" title="View Details" onclick="OnView('#:gid#');" style="cursor:pointer;"></i>
                                        </div>
                                    </div>

                                    <p class="card-text">#if(prop_id != null){# Property Id:  #:prop_id# #}#</p>
                                    <p class="card-text">#if(own_name != null){# Owner :  #:own_name# #}#</p>
                                    <p class="card-text">#if(wrd_name != null){# Ward No: #:ward_no# @*| Gid: #:gid#*@ #}#</p>
                                    @*<p class="card-text text-muted">#if(AllotmentFromDate != null){# <i class="fa-duotone fa-calendar-days"></i> #:kendo.toString(kendo.parseDate(AllotmentFromDate), 'dd MMM yyyy')# - #:kendo.toString(kendo.parseDate(AllotmentToDate), 'dd MMM yyyy')# #}#</p>
                                    <p class="card-text text-muted"><small><i class="fa-solid fa-location-dot"></i>  #:SpecificLocation#</small>
                                    #if(TaskId != null && PaymentStatusName != "Success" && PaymentStatusName != "Error" && Amount > 0)
                                    {#
                                        <div class="row">
                                            <div class="col-6" style="padding-left:0px;"><p class="card-text dueamount" title="Click To Pay Now" onclick="OnPaymentClick('#:TaskId#','#:UdfNoteTableId#','#:Amount#','#:AssignedToUserId#');"><i class="fa-light fa-money-bill"></i>  #:Amount#</p></div>
                                            <div class="col-6" style="padding-left:0px;"><p class="card-text duedate"><i class="fa-regular fa-calendar-circle-exclamation"></i>  #:kendo.toString(kendo.parseDate(DueDate), 'dd MMM yyyy')#</p></div>
                                        </div>
                                    #}#*@
                                  </div>
                                </div>
                              </div>
                            </div>
                            </script>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" id="mapview" style="display:none;">
                            <div id="mapView"></div>
                        </div>
                    </div>

                    <div class="modal fade" id="payConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="exampleModalLabel">Ready To Pay?</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body payment-body">Are you sure you want to proceed to payment gateway to pay the amount?</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary" onclick="return OnPaymentConfirm();">Proceed To Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


