@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        width: 100%;
    }
    td{
        padding-top:8px;
        padding-bottom:8px;
    }
</style>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Who is Who</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="Who is Who" style="width:100%;height:350px;">*@
            </div>
        </div>
        <div class="row" style="overflow:auto;">
            <div class="col-12">
                
                <table style="text-align:center;">
                    <tr>
                        <td><b>S. No</b></td>
                        <td><b>NAME OF THE OFFICER</b></td>
                        <td><b>DESIGNATION</b></td>
                        <td><b>OFFICE NO</b></td>
                        <td><b>CELL NO</b> </td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>ADMINISTRATION</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Athar Aamir Khan (IAS)</td>
                        <td>Commissioner</td>
                        <td>0194-2470466</td>
                        <td>7531063391</td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td>Riyaz Ahmad Shah (KAS)</td>
                        <td>Joint Commissioner (Adm)</td>
                        <td>0194-2456593</td>
                        <td>9797018818</td>
                    </tr>
                    <tr>
                        <td>3. </td>
                        <td>Syed Abul Qasim</td>
                        <td>Joint Commissioner (Adm)</td>
                        <td>0194-2472678</td>
                        <td>9906700000</td>
                    </tr>
                    <tr>
                        <td>4. </td>
                        <td>Mudasir Hussain (KAS)</td>
                        <td>Secretary</td>
                        <td></td>
                        <td>7006966980</td>
                    </tr>
                    <tr>
                        <td>5. </td>
                        <td>Suhail Nabi Chintsaz</td>
                        <td>
                            Chief Revenue Officer/IT Head
                        </td>
                        <td></td>
                        <td>9419084962</td>
                    </tr>
                    <tr>
                        <td>6. </td>
                        <td>Abdul Rasheed Thokar</td>
                        <td>Assistant Secretary (Personnel)</td>
                        <td></td>
                        <td>7006372220</td>
                    </tr>
                    <tr>
                        <td>7. </td>
                        <td>Mohammad Husain</td>
                        <td>P.S to Commissioner</td>
                        <td></td>
                        <td>9419403192</td>
                    </tr>
                    <tr>
                        <td>8. </td>
                        <td>Hilal Ahmad Shah</td>
                        <td>Assistant Secretary(Counsel)</td>
                        <td></td>
                        <td>9596217803</td>
                    </tr>
                    <tr>
                        <td>9. </td>
                        <td>Mehraj-ud-Din Matta</td>
                        <td>Assistant Secretary(General)</td>
                        <td></td>
                        <td>7006887627</td>
                    </tr>
                    <tr>
                        <td>13. </td>
                        <td>Shahid Israr Ali</td>
                        <td>Stores Officer</td>
                        <td></td>
                        <td>9796503215</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>FINANCE</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Peerzada Ahtisham-ul-Haq</td>
                        <td>F.A/Chief Accounts Officer</td>
                        <td></td>
                        <td>9419049697</td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td>Mustafa Haroon</td>
                        <td>Assistant Accounts Officer</td>
                        <td></td>
                        <td>9419001819</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>ENGINEERING</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Rajinder Singh</td>
                        <td>Joint Commissioner (Works)</td>
                        <td>0194-2451118</td>
                        <td>6006433309</td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td>Shafat Ahmad Khan</td>
                        <td>Executive Engineer RRWD</td>
                        <td></td>
                        <td>9419066027</td>
                    </tr>
                    <tr>
                        <td>3. </td>
                        <td>Sajad Ahmad Kawoosa</td>
                        <td>Executive Engineer LRWD</td>
                        <td></td>
                        <td>9419005215</td>
                    </tr>
                    <tr>
                        <td>4. </td>
                        <td>Mushtaq Ahmad Bhat</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9419408494</td>
                    </tr>
                    <tr>
                        <td>5. </td>
                        <td>Muhammad Younis Shah</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9796968807</td>
                    </tr>
                    <tr>
                        <td>6. </td>
                        <td>Mushtaq Ahmad Nowsheri</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9858431905</td>
                    </tr>
                    <tr>
                        <td>7. </td>
                        <td>Nissar Ahmad Wangoo</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9596310675</td>
                    </tr>
                    <tr>
                        <td>8. </td>
                        <td>Tariq Ahmad Dar</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9419013848</td>
                    </tr>
                    <tr>
                        <td>9. </td>
                        <td>Firdous Akhter</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9796718742</td>
                    </tr>
                    <tr>
                        <td>10. </td>
                        <td>Altaf Ahmad Nehvi</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9419407654</td>
                    </tr>
                    <tr>
                        <td>11. </td>
                        <td>Javeed Iqbal</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>9622688639</td>
                    </tr>
                    <tr>
                        <td>12. </td>
                        <td>Showkat Ali Wani</td>
                        <td>Assistant Executive Engineer</td>
                        <td></td>
                        <td>7006285023</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>MECHANICAL & TRANSPORT</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Itrat Naseem</td>
                        <td>Executive Engineer (Mech.)</td>
                        <td>0194-2450620</td>
                        <td>9419008155</td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td>Syed Najeeb Geelani</td>
                        <td>Assistant Ex. Engineer (Mech.)</td>
                        <td></td>
                        <td>9419001023</td>
                    </tr>
                    <tr>
                        <td>3. </td>
                        <td>Shahid Israr Ali</td>
                        <td>Transport Officer</td>
                        <td></td>
                        <td>9796503215</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>ELECTRIC DEPARTMENT</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Ishtiaq Ahmad Shah (Raja)</td>
                        <td>Executive Engineer (Electric)</td>
                        <td></td>
                        <td>9419074536</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>TOWN PLANNING</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Ghulam Hassan Mir</td>
                        <td>Joint Commissioner Planning</td>
                        <td>0194-2483732</td>
                        <td>9596331233</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>ENFORCEMENT</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Suhail Nabi Chintsaz</td>
                        <td>Chief Enforcement Officer</td>
                        <td></td>
                        <td>9419084962</td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td>Mujeeb Ahmad</td>
                        <td>Enforcement Officer (North)</td>
                        <td></td>
                        <td>9797290729</td>
                    </tr>
                    <tr>
                        <td>3. </td>
                        <td>Urfaan Hussain Mir</td>
                        <td>Enforcement Officer (South)</td>
                        <td></td>
                        <td>9419013570</td>
                    </tr>
                    <tr>
                        <td>4. </td>
                        <td>Urfaan Hussain Mir</td>
                        <td>Enforcement Officer (East)</td>
                        <td></td>
                        <td>9149678557</td>
                    </tr>
                    <tr>
                        <td>5. </td>
                        <td>Qaazi Muhammad Yousf</td>
                        <td>Enforcement Officer (West)</td>
                        <td></td>
                        <td>7006285648</td>
                    </tr>
                    <tr>
                        <td>6. </td>
                        <td>Shakeel Ahmad</td>
                        <td>Anti-encroachment Officer</td>
                        <td></td>
                        <td>8825096253</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>SANITATION</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Nazir Ahmad Baba</td>
                        <td>Chief Sanitation Officer S.W.M.O</td>
                        <td></td>
                        <td>9797935000</td>
                    </tr>
                    <tr>
                        <td>2. </td>
                        <td>Mujeeb Hussain</td>
                        <td>Sanitation Officer (East/North)</td>
                        <td></td>
                        <td>9797290729</td>
                    </tr>
                    <tr>
                        <td>3. </td>
                        <td>Mohammad Yousuf Qazi</td>
                        <td>Sanitation Officer (West)</td>
                        <td></td>
                        <td>7006285648</td>
                    </tr>
                    <tr>
                        <td>4. </td>
                        <td>Bashir Ahmad Lone</td>
                        <td>Sanitation Officer (South)</td>
                        <td></td>
                        <td>9541518586</td>
                    </tr>
                    <tr>
                        <td colspan="5"><span style="text-align:center;color:red;"><b>HEALTH</b></span></td>
                    </tr>
                    <tr>
                        <td>1. </td>
                        <td>Dr. Tawheed Ahmad</td>
                        <td>Veterinary Officer/Health Officer</td>
                        <td>0194-2488469</td>
                        <td>7006450265</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>