@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Contact Us</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="About Us" style="width:100%;height:350px;">*@
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h5 style="text-align:left;"><u>Contact Info</u></h5>
                        <p>
                            <i class="fa fa-phone"></i>
                            <span style="margin-left:15px;">14420,+91-194-2474499, 2470465</span>
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            <span style="margin-left:15px;">toll Free:18001807038</span>
                        </p>
                        <p>
                            <i class="fa fa-envelope"></i>
                            <span style="margin-left:15px;">commissioner-smc@jk.gov.in</span>
                        </p>
                    </div>
                    <div class="col-12">
                        <h5 style="text-align:left;"><u>Location</u></h5>
                        <p>
                            Srinagar Municipal Corporation<br />
                            Sheikh-Ul-Aalam Road, Karan Nagar,<br />
                            Srinagar, J&K, India. 190010.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h5 style="text-align:left;"><u>Social Network Handles</u></h5>
                        <p>
                            <a href="https://twitter.com/SMC_Srinagar?t=hF_7UEAwaWhe_xDWjjxKrQ&s=08" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-twitter_2.png" />
                                <span style="margin-left:15px;">Twitter Handle of Srinagar Municipal Corporation</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://twitter.com/SMC_24x7?t=D44et-vMVBU2ntAaLvctTg&s=08" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-twitter_2.png" />
                                <span style="margin-left:15px;">Twitter Handle of SMC Help Line 24x7</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://twitter.com/SMC_Enforcement?t=zilgV9-Wgd8u8xzUs1fgnA&s=08" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-twitter_2.png" />
                                <span style="margin-left:15px;">Twitter Handle of SMC Enforcement</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://twitter.com/SMC_Sanitation?t=HPHBQi46uH3zrtO0-XU06w&s=08" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-twitter_2.png" />
                                <span style="margin-left:15px;">Twitter Handle of SMC Sanitation</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/1407498699492563" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-fb.png" />
                                <span style="margin-left:15px;">Facebook Handle of Srinagar Municipal Corporation</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://www.youtube.com/channel/UCkImxMkdf7wEMBs3zjaAEHg" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-youtube.png" />
                                <span style="margin-left:15px;">YouTube Handle of Srinagar Municipal Corporation</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://www.instagram.com/smc_srinagar/" style="text-decoration:none;" target="_blank">
                                <img class="img-fluid max-width-24" src="/images/EGOV/ico-instagram.png" />
                                <span style="margin-left:15px;">Instagram Handle of Srinagar Municipal Corporation</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

            </div>
        </div>

    </div>
</div>	