@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Achievements</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smcachievements.jpg" alt="Achievements" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u>Achievement Description</u></h5>
                <p style="text-align: justify;">
                    MAJOR ACHIEVEMENTS OF THE SRINAGAR MUNICIPAL CORPORATION
                </p>
                <p style="text-align: justify;">
                    1.  e-Governance.<br />
                    2.  Collection and Disposal of Solid Waste.<br />
                    3.  Beautification and Creation of Green Spaces.<br />
                    4.  Improvement of Drainage Network.<br />
                </p>
                <p style="text-align: justify;">
                    <b>E- GOVERNANCE:</b>
                </p>
                <p style="text-align: justify;">
                    Corporation has taken all the steps to ensure e-Governance, with the aim of enhance government ability to address the needs of the general public. The following services are being provided and brought under the domain of e-Governance and efforts are on to entail the access and delivery of government services, dissemination of information, communication in a quick and efficient manner.
                </p>
                <p style="text-align: justify;">
                    Online Building Permission Case Status.<br />
                    Online Birth & Death Certificates.<br>
                    e-Tendering.<br />
                    GeM Portal Purchase.<br />
                    Double Entry Accounting System.<br />
                    Social Media<br />
                    Complaint Monitoring Portal<br />
                    Official Website<br />
                    Biometric Based Attendance System<br />
                    Centralized Personal Information<br />
                </p>
                <p style="text-align: justify;">
                    <b>COLLECTION AND DISPOSAL OF SOLID WASTE:</b>
                </p>
                <p style="text-align: justify;">
                    The most important core function of the Corporation is to provide better and efficient sanitation. It includes Waste Collection System. The men & machinery used by the Corporation for the purpose includes sweeping and collection of waste/garbage within Municipal limits at Ward level under the overall supervision of the Ward Officer in each Administrative Ward, which comprises of the electoral wards represented by the Corporators. Each Ward Officer is assisted by the Sanitary Inspector and Supervisors for supervision of the processes. The Health Officer, Chief Sanitation Officer and Sanitation officer are supervising the overall workability and planning processes at Central level. The existing strength is not sufficient to cater the requirements for 100% collection of waste on door-to-door basis and sweeps the city Roads which consist of 174 running K.M. Main Roads and 860 running K.M. other Roads. This shortage obviously affects the overall waste collection and Road sweeping performance of the Srinagar Municipal Corporation. More than 380 metric tons of refuse and garbage are generated per day in Srinagar City. The Corporation is providing better sanitation and is trying its best to arrive at the public expectations. At present 60% of total waste generated is being collected and this is as per national standards comparing the infrastructure and manpower available with SMC for this purpose. For collection & lifting of the city waste from interiors at ward level, hand carts, etc. are being used to collect the waste and take it to the specific collection points where from it is taking to the Achan dumping site for further treatment.
                </p>
                <p style="text-align: justify;">
                    358MT of solid waste is generated in the city during winter<br />
                    450MT of solid waste is generated in the city during Summer<br />
                    60% Door to Door Collection Coverage<br />
                    90% Collection Efficiency<br />
                    30% Segregation<br />
                </p>
                <p style="text-align: justify;">
                    During the year 2016-17 mechanical segregator was installed at Achan Dumping Site due to which Corporation is in a position to Segregate 30% of the waste generated and efforts are on not only to segregate the waste but also for proper utilization of the segregated waste
                    The Corporation at presents is working hard to achieve following objectives:
                </p>
                <p style="text-align: justify;">
                    100% Door-to-Door Collection of Segregated Waste.<br />
                    Placing of Colour Coded Dustbins at different points/ places in the city to address the problem of littering.<br>
                    Minimizing the number of Primary Collection points and open Garbage Shed.<br />
                    Increasing the number of mechanized fleet of transport vehicles having separate chambers of segregated waste.<br />
                    Creation of Buffer Zone at the dumping site by planting trees.<br />
                    Mechanical segregator already installed with the capacity of 30MT/hr.<br />
                    Incinerator for chicken waste at Achan dumping site.<br />
                    Incinerator for dead animals and carcases at Galander, Pampore.<br />
                    Composting plant of 200 MT capacities for making of Compost.<br />
                </p>
                <p style="text-align: justify;">
                    <b>BEAUTIFICATION AND CREATION OF GREEN SPACES:</b>
                </p>
                <p style="text-align: justify;">
                    The Srinagar Municipal Corporation is making all efforts to ensure beautification and development/maintenance of Green Spaces. The corporation had restored/repaired 16 fountains and constructed one more opposite Mughal Darbar. As a part of beautification plan Illumination/Flower Hangings of different sites including Budshah Bridge, Lalmandi footpath bridge, Hazrat Syed Bulbulshah Shrine, Clock tower at lalchowk, and Amirakadal Bridge etc had been done. In near future the corporation is aiming to illuminate sites including Jetty of the Pokhribal. Rainawari Chowk , Khayam Chowk and River Jhelum waterfront lighting facade pathway and bridges from Amira Kadal to Safa Kadal final scoping to be determined in consultation with the irrigation and Flood Control Department
                </p>
                <p style="text-align: justify;">
                    To ensure creation/maintenance of green cover corporation had listed out all the 30 municipal parks and maintenance of these parks had already been takenup on priority, Besides two parks One at Jawahar Nagar and Nishat have been takenup for execution. Besides, Development of Green space at Alfarooq Colony Bemina under AMRUT and development of walkways are under different stages of progress.
                </p>
                <p style="text-align: justify;">
                    <b>IMPROVEMENT OF DRAINAGE NETWORK:</b>
                </p>
                <p style="text-align: justify;">
                    At present Srinagar Municipal Corporation carters 1908 kms Linear Road Length including Lanes & Bye-lanes of which 1049 kms. (55%) is covered by Surface Drains viz Shehr-e-Khaas and peripheries. 859 kms is the requirement under Storm Water Drainage Network of which 548 kms. is existing Drainage Network. During 2018 only 30 kms have been constructed through Devolution Grants and 20 kms through ongoing AMRUT Mission.<br />
                    During the last three year nearly 15% of the existing drainage network had been constructed under different Scheme viz SDPF, Devolution grants, Mission AMRUT. At present (2019), Six scheme are at different stage of work under AMRUT at an allotted cost of Rs. 56.33 Cr.<br />
                    In near future Srinagar Municipal Corporation is committed to provided better drainage/storm water drainage facility by focusing on Up gradation of all Dewatering Stations, Construction of Automation and Supervisory Control & Data Accusation (SCADA) System with Construction of Building, Procurement of High Capacity Diesel Engine Driven Auto Prime Pumping Units/ Emergency Vehicle for towing of Diesel Engine Driven Auto Prime Pumping.<br />
                </p>
            </div>
        </div>
    </div>
</div>