@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model List<EGOVBannerViewModel>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>COVID-19</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u>Covid-19 Initiatives.</u></h5>
            </div>
        </div>
        <div class="row">
            @if (Model.Count>0)
            {
                foreach (var item in Model)
                {
                    <div class="col-12">
                        <iframe src="@item.UrlLink" frameborder="0" style="width: 100%; height: 350px;"></iframe>
                    </div>
                }
            }

        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <p>
                    <h5 style="text-align:left;"><u>COVID-19</u></h5>
                </p>
                <p>
                    <h5 style="text-align:left;"><u>COVID-19 Management During 2020-21:</u></h5>
                </p>
                <p style="text-align: justify;">
                    Latest machinery Chemicals and other relevant material was purchased and procured to combat Covid-19 with the approval of the corporate body in a special session on 10th March 2020 as the corporation was not equipped to fight the pandemic.
                </p>
                <p style="text-align: justify;">
                    153 mts of waste has been collected from various designated Quarantine centers wef: 01.05.2020
                </p>
                <p style="text-align: justify;">
                    23 decontamination tunnels installed during lock down with the use of appropriate disinfectant .
                </p>
                <p style="text-align: justify;">
                    Sanitization / Sterilization continuously done in all wards  as per roaster.
                </p>
                <p style="text-align: justify;">
                    Sanitization / Sterilization done by the special contingent at the spots where positive cases are reported . Moreover,  Airport, Health institutions, banks , Mandis,  Court Complexes Hotels and all public places  are being covered as per requirement. The whole process is managed  under proper monitoring system.
                </p>
                <p style="text-align: justify;">
                    <b>Success of INCENERATOR </b>
                </p>
                <p style="text-align: justify;">
                    With the establishment of nearly 100 Quarantine centers throughout the city , the challenge before the Srinagar Municipal  Corporation was how to dispose off the potentially infectious waste generated in the quarantine centers . Prioritizing the disposal of quarantine waste, a 1000 KG capacity incinerator was conceived,  designed and was commissioned on 29-03-2020 . Right from the day, the waste generated in Quarantine  centers was collected separately through dedicated vehicles and  incinerated.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h5 style="text-align:left;"><u>Brief Details</u></h5>
                <p style="text-align: justify;">
                    +91-194-2474499, 2470465
                </p>
                <p style="text-align: justify;">
                    toll Free:18001807038
                </p>
                <p style="text-align: justify;">
                    commissioner-smc@jk.gov.in
                </p>
            </div>
        </div>
    </div>
</div>