@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Microsoft.Extensions.Configuration;
@inject Synergy.App.Common.IUserContext _userContext

@model EGovUserViewModel

@{
    ViewData["Title"] = "User Registration";
    //Layout = null;
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .pwd-tgap {
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
    }
</style>

<script>
    var onAjaxSuccess = function (res) {
        debugger;
        if (res.success) {
            HideLoader($('#cms-content'));
            console.log(res.ex);
            console.log(res.signupUrl);
            console.log(res.dataJson);
            document.getElementById("userRegistrationForm").reset();
            var win = GetMainWindow();
            win.CloseWindow({MethodName: "onSuccess"});
            return false;
        }
        else {
            HideLoader($('#cms-content'));
            ShowNotification('User Registered Failed', 'error');
            console.log(res.ex);
            console.log(res.signupUrl);
            console.log(res.dataJson);
            showError(res.error);
        }
    }

    function registerUser(e) {
        debugger;
        $("#validation-summary").html("");
        $("#validation-summary").css("display", "none");

        var name = $("#name").val();
        var email = $("#emailId").val();
        var phone = $("#contactNumber").val();
        var user = $("#userId").val();
        var pass = $("#password").val();
        var userId = $("#userId").val();
        if (name == '' || name == null) {
            $("#validation-summary").html("Please Enter Name");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        else if (email == '' || email == null) {
            $("#validation-summary").html("Please Enter Email");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        else if (phone == '' || phone == null) {
            $("#validation-summary").html("Please Enter Your Contact Number");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        else if (phone.length < 10) {
            $("#validation-summary").html("Contact Number should be of 10 digits.");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        else if (userId.length < 6) {
            $("#validation-summary").html("User Id should contain atleast 6 characters");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        else if (user == '' || user == null) {
            $("#validation-summary").html("Please enter user id");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        else if (pass == '' || pass == null) {
            $("#validation-summary").html("Please enter password");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }

        ShowLoader($('#cms-content'));
    }

    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block");
    }

    $(function () {
        $("#wardName").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Name",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=EGOV_ELECTORAL_WARD"
                    }
                }
            }
        });

        $("#gender").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Code",
            filter: "contains",
            autoBind: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetLOVIdNameList?lovType=SSC_GENDER"
                    }
                }
            }
        });

        $("#dateOfBirth").kendoDatePicker({
            format: "yyyy-MM-dd",
            /*dateInput: false*/
        });

        $('#userId').on('keypress', function (e) {
            if (e.which == 32) {
                console.log('Space Detected');
                return false;
            }
        });
    });
    
</script>

<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:400px;margin:auto;">
                <h5 class="text-center" style="color:black;">User Registration</h5>
                <hr />

                <form asp-area="EGov" asp-controller="EGovernment" asp-action="#" class="form-horizontal"
                      id="userRegistrationForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST">

                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>


                    <div class="form-group">
                        <label for="name" class="form-label required">
                            Name
                        </label>
                        <div>
                            <input asp-for="name" class="form-control" style="width:100%" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userId" class="form-label required">
                            User Id
                        </label>
                        <div>
                            <input asp-for="userId" class="form-control" minlength="6" style="width:100%;" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="houseNo" class="form-label">
                            House No.
                        </label>
                        <div>
                            <input asp-for="houseNo" class="form-control" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="street" class="form-label">
                            Street
                        </label>
                        <div>
                            <input asp-for="street" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="postOffice" class="form-label">
                            Post Office
                        </label>
                        <div>
                            <input asp-for="postOffice" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="talukZone" class="form-label">
                            Taluk Zone
                        </label>
                        <div>
                            <input asp-for="talukZone" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="areaVillage" class="form-label">
                            Area Village
                        </label>
                        <div>
                            <input asp-for="areaVillage" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="wardName" class="form-label">
                            Ward Name
                        </label>
                        <div>
                            <input asp-for="wardName" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pincode" class="form-label">
                            Pincode
                        </label>
                        <div>
                            <input asp-for="pincode" type="number" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="emailId" class="form-label required">
                            Email
                        </label>
                        <div>
                            <input asp-for="emailId" type="email" class="form-control" autocomplete="off" style="width:100%" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="form-label">
                            Gender
                        </label>
                        <div>
                            <input asp-for="gender" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bloodGroup" class="form-label">
                            Blood Group
                        </label>
                        <div>
                            <input asp-for="bloodGroup" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="aadharId" class="form-label">
                            Aadhar No.
                        </label>
                        <div>
                            <input asp-for="aadharId" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dateOfBirth" class="form-label">
                            Date of birth
                        </label>
                        <div>
                            <input asp-for="dateOfBirth" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="districtCity" class="form-label">
                            District/City
                        </label>
                        <div>
                            <input asp-for="districtCity" type="text" value="Srinagar" disabled class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="stateName" class="form-label">
                            State Name
                        </label>
                        <div>
                            <input asp-for="stateName" type="text" value="Jammu and Kashmir" disabled class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contactNumber" class="form-label required">
                            Contact Number
                        </label>
                        <div>
                            <input asp-for="contactNumber" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" class="form-control" autocomplete="off" style="width:100%" required />
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label for="ddNumber" class="form-label">
                            DD Number
                        </label>
                        <div>
                            <input asp-for="ddNumber" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="waterConsumerNumber" class="form-label">
                            Water Consumer Number
                        </label>
                        <div>
                            <input asp-for="waterConsumerNumber" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="electricityConsumerNumber" class="form-label">
                            Electricity Consumer Number
                        </label>
                        <div>
                            <input asp-for="electricityConsumerNumber" class="form-control" autocomplete="off" style="width:100%" />
                        </div>
                    </div>*@



                    <div class="form-group">
                        <label for="password" class="form-label required">
                            Password
                        </label>
                        <div>
                            <input asp-for="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" minlength="8" class="form-control" autocomplete="off" style="width:100%" required />
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" onclick="registerUser(event)">Register</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>