@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model List<EGOVBannerViewModel>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>SMC conducting Cleaness drives...</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u>SMC serves you better.</u></h5>
            </div>
        </div>
        <div class="row">
            @if(Model.Count>0){
                foreach (var item in Model)
                {
                    <div class="col-12">
                        <iframe src="@item.UrlLink" frameborder="0" style="width: 100%; height: 350px;"></iframe>
                    </div>
                }
            }
        </div>
    </div>
</div>