@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<script>
    function onDownload(id) {
        url = '/cms/Document/GetFileMongo?fileId=' + id;
        window.open(url, '_blank');
        //var win = GetMainWindow();
        //win.iframeOpenUrl = url;
        //win.OpenWindow({ Title: 'View Document', Width: 800, Height: 650 });
        return false;
    }
</script>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>SMC Jurisdiction</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smcjuris01.jpg" alt="SMC Jurisdiction" style="width:100%;height:350px;">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right:30px;">
                <h5 style="text-align:left;"><u>Description</u></h5>
                <p style="text-align: justify;">
                    In the year 2016 jurisdiction of Srinagar Municipal Corporation limits were further extended and reshaped vide SRO 72; Dated: 02.03.2016 in pursuance of which 73 municipal wards were created followed by addition of one more ward namely Baagh-i-Mahtaab vide SRO 219; dated 29.06.2016, with the result 74 Municipal Wards came into existence and stretched over 227.34 sqkm within the boundaries as detailed here under, for 11.27 lakhs city population (Male = 5.81 lakhs; Female = 5.46 lakhs) as per Census 2011 inclusive of 6,66,191 voters as per recent elections 2018:
                </p>
                <p style="text-align: justify;">
                    <table>
                        <tr>
                            <td width="30%">From North</td>
                            <td width="15%">upto</td>
                            <td width="40%">Pandach-Nagbal.</td>
                        </tr>
                        <tr>
                            <td>From North-East</td>
                            <td>upto</td>
                            <td>Harwan Bridge.</td>
                        </tr>
                        <tr>
                            <td>From East</td>
                            <td>upto</td>
                            <td>Zawoora-Zaafraan Colony.</td>
                        </tr>
                        <tr>
                            <td>From South-East</td>
                            <td>upto</td>
                            <td>Mahjoor Nagar-Natipora.</td>
                        </tr>
                        <tr>
                            <td>From South</td>
                            <td>upto</td>
                            <td>Baagh-i-Mahtaab</td>
                        </tr>
                        <tr>
                            <td>From South-West</td>
                            <td>upto</td>
                            <td>Hamdaaniyah Colony.</td>
                        </tr>
                        <tr>
                            <td>From West</td>
                            <td>upto</td>
                            <td>Sozieth-Lawaypora.</td>
                        </tr>
                        <tr>
                            <td>From North-West</td>
                            <td>upto</td>
                            <td>Mujgund-Abdullahpora</td>
                        </tr>
                    </table>
                </p>
                @if (ViewBag.SRO72 != null && ViewBag.SRO72 != "")
                {
                    <a href="#" onclick="onDownload('@ViewBag.SRO72');" style="text-decoration:none;color:inherit;"><p style="text-align:justify;"><b>SRO-72</b></p></a>
                }else{
                    <p style="text-align: justify;">
                        <b>SRO-72</b>
                    </p>
                }
                @if (ViewBag.SRO219 != null && ViewBag.SRO219 != "")
                {
                    <a href="#" onclick="onDownload('@ViewBag.SRO219');" style="text-decoration:none;color:inherit;"><p style="text-align:justify;"><b>SRO-219</b></p></a>
                }
                else
                {
                    <p style="text-align: justify;">
                        <b>SRO-219</b>
                    </p>
                }

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h5 style="text-align:left;"><u>Description</u></h5>
                <table>
                    <tr>
                        <td width="25%"><p>ESTD:</p></td>
                        <td width="60%"><p>1886</p></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;"><p>ADDRESS</p></td>
                        <td>
                            <p>
                                Srinagar Muncipal Corporation
                                Sheikh-Ul-Aalam Road,Karan Nagar,Srinagar
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;"><p>SERVICE</p></td>
                        <td>
                            <p>
                                Sanitation<br />
                                Town Planning<br />
                                Revenue<br />
                                Brith and Death<br />
                                Development<br />
                                Grievances<br />
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>