@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Social Justice Committee</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                @*<img src="~/images/EGOV/srinagarcity.jpg" alt="About Us" style="width:100%;height:350px;">*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u></u></h5>
            </div>
        </div>
    </div>
</div>	