@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model List<EGOVBannerViewModel>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Swatch Bharat Mission... take a tour</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u>SMC conducting Swatch Bharat Mission...</u></h5>
            </div>
        </div>
        <div class="row">
            @if(Model.Count>0){
                foreach (var item in Model)
                {
                    <div class="col-12">
                        <iframe src="@item.UrlLink" frameborder="0" style="width: 100%; height: 350px;"></iframe>
                    </div>
                }
            }

        </div>
        <div class="row">
            <div class="col-12">
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u>Contact Info</u></h5>
                <p>
                    <i class="fa fa-phone"></i>
                    <span style="margin-left:15px;">+91-194-2474499, 2470465</span>
                </p>
                <p>
                    <i class="fa fa-phone"></i>
                    <span style="margin-left:15px;">toll Free:18001807038</span>
                </p>
                <p>
                    <i class="fa fa-envelope"></i>
                    <span style="margin-left:15px;">commissioner-smc@jk.gov.in</span>
                </p>
            </div>
        </div>
    </div>
</div>