@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Deputy Mayor</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smcdeputymayor.jpg" alt="Deputy Mayor" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right:30px;">
                <h5 style="text-align:left;"><u>SSMC Deputy Mayor</u></h5>
                <p style="text-align: justify;">
                    By the grace of Almighty and then by the love of Srinagaritians, I Parvaiz Ahmad Qadri has been elected to serve the city as Deputy Mayor. On behalf of the Srinagar Citizens, it gives me great pleasure to welcome you to the Corporation’s website.
                </p>
                <p style="text-align: justify;">
                    We abide to work continuously to the utmost satisfaction of the people without any break, thereby helping them to live peaceful life with all the world class facilities round the clock, because I believe in peace and want to spread peace all around.
                </p>
                <p style="text-align: justify;">
                    It is appreciating that the IT Department of SMC for using all the platforms of Computer Science and technology with latest tools & techniques to meet the current digital era and the future demands of the people in general and of the citizens of Srinagar in particular in an effective and timely manner.
                </p>
                <p style="text-align: justify;">
                    Thus,our goal and aim is to provide seamless service that will look for the betterment of the people and the city. In order to safeguard our 5000 years old World’s Old and historical city which is known as the “City of Saints”(Peer-i-Vaier).We are ready to attain greater heights with full zeal and zest and will welcome suggestions from all well-wishers
                </p>

                <p style="text-align: justify;">
                    <h5>Best wishes,</h5>
                </p>
                <p style="text-align: justify;">
                    Parvaiz Ahmad Qadri,<br />
                    Deputy Mayor,<br />
                    Srinagar Municipal Corporation.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h5 style="text-align:left;"><u>Brief Details</u></h5>
                <div style="padding-bottom:20px;padding-top:10px;text-align:center;">
                    <img src="~/images/EGOV/dptymayor.jpg" alt="Srinagar Municipal Corporation." style="width:80%;border-radius:10px;" />
                </div>
                <table>
                    <tr>
                        <td width="30%"><p>POSITION</p></td>
                        <td width="60%"><p>Deputy Mayor, SMC.</p></td>
                    </tr>
                    <tr>
                        <td><p>OFFICE</p></td>
                        <td><p>Srinagar Municipal Corporation.</p></td>
                    </tr>
@*                    <tr>
                        <td style="vertical-align:top;"><p>PROFILE</p></td>
                        <td>
                            <p>
                                President: World Kashmiri Students Association.<br />
                                Alumnus of Bishop Cotton School, India.<br />
                                Alumnus of Michigan State University, USA.<br />
                            </p>
                        </td>
                    </tr>*@
                </table>

            </div>
        </div>
    </div>
</div>