@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Mayor</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smcmayor.jpg" alt="About Us" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right:30px;">
                <h5 style="text-align:left;"><u>SMC Mayor</u></h5>
                <p style="text-align: justify;">
                    Thanks to Almighty and to all those well-wishers who gave me an opportunity to serve as Mayor of Summer Capital of J&K State. It is my pleasure to work for the improvement of the civic amenities in an efficient and transparent manner and I will not leave any stone unturned to upgrade Srinagar City as City of Love and Peace surrounded by State-of-Art technological developments in eco-friendly mode.
                </p>
                <p style="text-align: justify;">
                    The mandate of the corporation is to decorate gardens; development of parks, meadows, Roads, buildings, canals &bunds; promoting best tourism avenues, improving local health & hygiene, upgrading eco-friendly environment, declaring Srinagar city as polythene free zone; uplifting weaker and economically downtrodden class; implementing fresh master plan for better town planning and creating peaceful environment within the city boundaries.
                </p>
                <p style="text-align: justify;">
                    I would to like to thank SMC Staff, supporters and volunteers for all their hard work and dedication to improve the quality of life of all the residents of city by providing best basic services from birth to death.
                </p>
                <p style="text-align: justify;">
                    I would like to thank all the elected members of the corporation and the officials for their active involvement in delivering the diverse services across the city.
                </p>
                <p style="text-align: justify;">
                    I would like to thank IT Department of SMC for developing digital window for the citizens, bridged the communication gap, put Citizens just one click away from SMC by creating digital umbrella all around the city.
                </p>
                <p style="text-align: justify;">
                    With a lot to offer to all the sects of the Srinagar city, I welcome you all with genuine suggestions in allowing us for a good governance to prevail.
                </p>
                <p style="text-align: justify;">
                    <h5>Best wishes,</h5>
                </p>
                <p style="text-align: justify;">
                    Junaid Azim Mattu,<br />
                    Mayor,<br />
                    Srinagar Municipal Corporation.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h5 style="text-align:left;"><u>Brief Details</u></h5>
                <div style="padding-bottom:20px;padding-top:10px;text-align:center;">
                    <img src="~/images/EGOV/mayor.jpg" alt="Srinagar Municipal Corporation." style="width:80%;border-radius:10px;" />
                </div>
                <table>
                    <tr>
                        <td width="30%"><p>POSITION</p></td>
                        <td width="60%"><p>Mayor, SMC.</p></td>
                    </tr>
                    <tr>
                        <td><p>OFFICE</p></td>
                        <td><p>Srinagar Municipal Corporation.</p></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;"><p>PROFILE</p></td>
                        <td><p>
                            President: World Kashmiri Students Association.<br />
                            Alumnus of Bishop Cotton School, India.<br />
                            Alumnus of Michigan State University, USA.<br />
                            </p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>