@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Srinagar City</h4>
    </div>
    <br />
    <div class="container">
            <div class="row">
                <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                    <img src="~/images/EGOV/srinagarcity.jpg" alt="Srinagar City" style="width:100%;">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <h5 style="text-align:left;"><u>Description</u></h5>
                <p style="text-align:justify;">
                    SRINAGAR, the summer capital of Jammu and Kashmir State, is geographically located in the center of the Valley of Kashmir at an altitude of 5200 feet above the Sea level 340 8' N, 740 83' E, it is famous for its picturesque sites, sweet water lakes, pleasant gardens, mountains views and tourist places. It is one of the prime tourist centers in India. It lies in the Kashmir Valley on the banks of the River Jhelum, a tributary of the Dal, Indus and Aanchar lakes. The Srinagar city is known for its natural environment, waterfronts and houseboats. It is also known for traditional Kashmiri handicrafts and dried fruits.</p>
                <p style="text-align:justify;">
                    The Mughal Emperors have fascination of the Kashmir, they built gardens, meadows, Roads, buildings, canals, bunds particularly in Srinagar. Nishat Garden, Shalimar Garden, Cheshmashi Garden, Parimahal, Fort-wall, Pather Masjid, Jamiyyah Masjid Shareef, Masjid Daarashikouh, are of Mughal era.</p>
                <p style="text-align:justify;">
                    The independent Hindu and the Buddhist rule of Srinagar lasted until the 14th century when the Kashmir valley, including the city, came under the control of the several Muslim rulers, including the Mughals. Kashmir came under Mughal rule, when it was conquered by the third Mughal Baadshah (Emperor) Akbar in 1586 CE. Akbar established Mughal rule in Srinagar and Kashmir valley. Kashmir was added to Kabul Subah in 1586, until Shah Jahan made it into a separate Kashmir Saubah(imperial top-level province) with seat in Srinagar.</p>
                <p style="text-align:justify;">
                    With the disintegration of the Mughal empire after the death of Hazrat Aurangzeb Aliahirahmah in 1707, infiltration in the valley of the Afghan tribes from Afghanistan and Hindu Dogras from the Jammu region increased, and the Afghan Durrani Empire and Dogras ruled the city for several decades.</p>
                <p style="text-align:justify;">
                    Maharaja Ranjit Singh, the Sikh ruler from the Punjab region annexed a major part of the Kashmir Valley, including Srinagar, to his kingdom in the year 1814 and the city came under the influence of the Sikhs.</p>
                <p style="text-align:justify;">
                    In 1846, the Treaty of Lahore was signed between the Sikh rulers and the British in Lahore. The treaty inter alia provided British de-facto suzerainty over the Kashmir Valley and Maharaja Gulab Singh, a Hindu Dogra from the Jammu region became a semi-independent ruler of the state of Jammu and Kashmir. Srinagar became part of his kingdom and remained until 1947 as one of several princely states in British India. The Maharajas choose ShairGarhi Palace as their main Srinagar residence.</p>
                <p style="text-align:justify;">
                    It is the northernmost city of India with over 1 million people. The city presently has a population of around 11 lakhs and spread over an area of 227Sq km. The city is located on both the sides of the Jhelum River, which is called Vyath in Kashmir. The river passes through the city and meanders through the valley, moving onward and deepening in the Dal Lake. The city is known for its nine old bridges, connecting the two parts of the city.</p>
                <p style="text-align:justify;">
                    There are a number of lakes and swamps in and around the city. These include the Dal, the Nigeen, the Aanchar, KhushaalSar, Gil Sar and Hokersar.</p>
                <p style="text-align:justify;">
                    Hokersar is a wetland situated near Srinagar. Thousands of migratory birds come to Hokersar from Siberia and other regions in the winter season. Migratory birds from Siberia and Central Asia use wetlands in Kashmir as their transitory camps between September and October and again around spring. These wetlands play a vital role in sustaining a large population of wintering, staging and breeding birds.
                    Hokersar is 14 km (8.7 mi) north of Srinagar, and is a world class wetland spread over 13.75 km2 (5.31 sq mi) including lake and marshy area. It is the most accessible and well-known of Kashmir's wetlands which include Hygam, Shalibug and Mirgund. A record number of migratory birds have visited Hokersar in recent years.</p>
                <p style="text-align:justify;">
                    Birds found in Hokersar—Migratory ducks and geese which include brahminy duck, tufted duck, gadwall, garganey, greylag goose, mallard, common merganser, northern pintail, common pochard, ferruginous pochard, red-crested pochard, ruddy shelduck, northern shoveller, common teal, and Eurasian wigeon
                    The earliest records, such as Kalhana'sRajatarangini, the name Siri-nagar (or Sri-nagara) is mentioned, which in turn is a local transformation of the Sanskrit name Sūrya-nagar, meaning "City of the Sun". The name Sri-nagar is also used in the records of the Chinese Tang Dynasty.</p>
                    <p style="text-align:justify;">
                    Alternatively, it may have drawn its name from two Sanskrit words: śrī (venerable), and nagar (city), which would make it the "City of Wealth".</p>
                <p style="text-align:justify;">
                    The Burzahom archaeological site 10 km from Srinagar has revealed the presence of Neolithic and megalithic cultures.</p>
                <p style="text-align:justify;">
                    Srinagar has a humid subtropical climate (Köppen Cfa). The valley is surrounded by the Himalayas on all sides. Winters are cool, with daytime temperature averaging to 2.5 °C (36.5 °F), and drops below freezing point at night. Moderate to heavy snowfall occurs in winter and the highway connecting Srinagar with the rest of India faces frequent blockades due to icy Roads and avalanches. Summers are warm with a July daytime average of 24.1 °C (75.4 °F). The average annual rainfall is around 720 millimeters (28 in). Spring is the wettest season while autumn is the driest. The highest temperature reliably recorded is 38.3 °C (100.9 °F) and the lowest is −20.0 °C (−4.0 °F).</p>
                <p style="text-align:justify;">
                    Srinagar is one of several places that have been called the "Venice of the East". Lakes around the city include Dal Lake – noted for its houseboats – and Nigeen Lake. Apart from Dal Lake and Nigeen Lake, Wular Lake and Manasbal Lake both lie to the north of Srinagar. Wular Lake is one of the largest fresh water lakes in Asia.</p>
                <p style="text-align:justify;">
                    Srinagar has some Mughal gardens, forming a part of those laid by the Mughal emperors across the Indian subcontinent. Those of Srinagar and its close vicinity include Cheshmashaahi (The Royal Fountains); PariMahal (The Palace of the Fairies); NishaatBagh (The Garden of Spring); Shalimar Baagh; the Naseem Bagh. The Indian government has included these gardens under "Mughal Gardens of Jammu and Kashmir" in the tentative list for sites to be included in world Heritage sites.</p>
                <p style="text-align:justify;">
                    The city is served by many highways, including National Highway 1A and National Highway 1D.</p>
                <p style="text-align:justify;">
                    Srinagar International Airport has regular domestic flights toLeh, Jammu, Chandigarh, Delhi and Mumbai and occasional international flights. An expanded terminal capable of handling both domestic and international flights was inaugurated on 14 February 2009 with Air India Express flights to Dubai. Hajj flights also operate from this airport to Saudi Arabia.</p>
                <p style="text-align:justify;">
                    Srinagar is also having a station on the 119 km (74 mi) long Banihal-Baramullaline that started in October 2009 and connects Baramulla to Srinagar, Anantnag and Qazigund. The railway track also connects to Banihal across the PirPanjal mountains through a newly constructed 11 km long Banihal tunnel, and subsequently to the Indian railway network after a few years. It takes approximately 9 minutes and 30 seconds for train to cross the tunnel. It is the longest rail tunnel in India.</p>
                <p style="text-align:justify;">
                    In December 2013, the 594m cable car allowing people to travel to the shrine of the Sufi saint Hazrat Sultaan-ul-Aarifeen Sheikh Hamzah Makhdoom Iwas unveiled. The project is run by the Jammu and Kashmir Cable Car Corporation (JKCCC), and has been envisioned for 25 years. An investment of 300 million INR was made, and it is the second cable car in Kashmir after the Gulmarg Gondola.</p>
                <p style="text-align:justify;">
                    Whilst popular since the 7th century, water transport is now mainly confined to Dal Lake, where Shikaaras (wooden boats) are used for local transport and tourism. There are efforts to revive transportation on the River Jhelum.</p>
                <p style="text-align:justify;">
                    In November 2011, the City Mayors Foundation – an advocacy think tank – announced that Srinagar was the 92nd fastest growing urban areas in the world in terms of economic growth, based on actual data from 2006 onwards and projections to 2020.</p>
                <p style="text-align:justify;">
                    &nbsp;
                    </p>
                </div>
            </div>
    </div>
</div>