@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<script>
    function onDownload(id) {
        url = '/cms/Document/GetFileMongo?fileId=' + id;
        window.open(url, '_blank');
        return false;
    }
</script>

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>City Biodiversity</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smccitybiodiversity.jpg" alt="City Biodiversity" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u></u></h5>
                @if (ViewBag.Biodiversity != null && ViewBag.Biodiversity != "")
                {
                    <a href="#" onclick="onDownload('@ViewBag.Biodiversity');" style="text-decoration:none;color:inherit;"><p><b>City Biodiversity Index (2022)</b></p></a>
                }
                else
                {
                    <p><b>City Biodiversity Index (2022)</b></p>
                }

            </div>
        </div>
    </div>
</div>