@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using Newtonsoft.Json;

@{
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-12 pb-1 pt-3">
        <h4>Department of Information Technology</h4>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top:10px;padding-bottom:25px;">
                <img src="~/images/EGOV/smcdeptit.jpeg" alt="Department of Information Technology" style="width:100%;">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 style="text-align:left;"><u>About IT Department</u></h5>
                <p style="text-align: justify;">
                    Welcome to the Department of Information Technology of Srinagar Municipal Corporation. We started our journey in the year of 2000 under the supervision of Late Farooq Ahmad Bhat (Founder of IT Department, SMC). IT Department of Srinagar Municipal Corporation is among Firstborn IT Departments of J&K State. Over the last two decades, we have grown our expertise and competence in improving civic amenities and disposal of public grievance.
                </p>
                <p style="text-align: justify;">
                    We have improved in the field of Sanitation, Solid Waste Management, Revenue Generation, and Citizen Services like issuance of Building Permission, Birth & Death Certificates, Architect/Draftsman Licenses including Community Hall Facilities etc. The sanctioned strength of Municipal Staff has reached 3110 including 1724 Sanitation Associates (Safaaiewalaas) up to June-2019. Several capacity building programs have been conducted for both Municipal Officials as well as Sanitation Associates. Beside this, our department hosts several seminars, symposiums, workshops for public awareness and cooperation.
                </p>
                <p style="text-align: justify;">
                    Our department imparted technical know-how to SMC employees, promote their problem solving skills and innovation of new technologies.The training contents are periodically updated for introducing new scientific and technological developments. We have State-of-Artfacilities to support and promote our department objectives.
                </p>
                <p style="text-align: justify;">
                    Our department has a distinguished record in administration, automation, research and trainings. IT staff (IT Personnel’s) have excellent academic credentials and expertise, they played vital role in upgrading IT infra of Corporation.
                </p>
                <p style="text-align: justify;">
                    This website provides an overview of the responsibilities of Srinagar Municipal Corporation, activities of our department, citizen rights, civic amenities, profiles of human resource, and public information related to our domain.
                </p>
                <p style="text-align: justify;">
                    We have taken a bRoad citizen-centric view of our community since we consider anyone who visits our website or community as citizen or information seeker. Our website is our digital front door and our goal is to focus on the needs of our citizen or information seeker, consequent of which, to provide ease and comfort to users,Responsive Interaction Screen has been developed to access our website from all convenient ends viz computers, tablets and mobile smart phones etc. This will ensure that all users will be able to view our site, no matter what device they are using.
                </p>
                <p style="text-align: justify;">
                    We hope that whether, Potential Visitors to the Community, Businesses Operating Community State/local government and Non-Profit agencies, Elected and Appointed Officials, Community Members and Organizations, Local and National Media, Educational Institutions, Students and Health Establishments, all will find this website much more informative.
                </p>
                <p style="text-align: justify;">
                    We hopewill go on improving as per the future requirements of our valued citizen. It will be pleasure to welcome a citizen who understands the local government setup, who will helpus to where we want to be today, and in future.
                </p>
                <p style="text-align: justify;">
                    If you have further suggestions after browsing this website, please do not hesitate to contact us. Our department looks forward to contribute in solving the technological challenges of the society with active participation from all Sections of the society. Thank you for visiting us.‌
                </p>

                <p style="text-align: justify;">
                    <h5>Best wishes,</h5>
                </p>
                <p style="text-align: justify;">
                    Suhail Nabi Chintsaz,<br />
                    IT Head,<br />
                    Srinagar Municipal Corporation.
                </p>
            </div>
        </div>
    </div>
</div>