@{
    ViewData["Title"] = "Electricity - Pay Your Bill";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .form-control {
        width: 90%;
    }

    .required {
        color: red;
    }
</style>
@*<div class="row" style="margin-left:15px;">*@
    @*<form asp-controller="Module" asp-action="Manage" method="post" class="form-horizontal" id="myForm">
        <div class="text-danger" asp-validation-summary="All"></div>*@
<div class="row" style="padding:20px;">
    <div class="col-12 pad-10">

        <input id="ConsumerCode" type="text" class="form-control" placeholder="Consumer Code" title="Special character and space not allowed in name." autocomplete="off" />

    </div>
    <div class="col-12 pad-10">
        <input id="ConfirmConsumerCode" type="text" class="form-control" placeholder="Confirm Consumer Code" title="Special character and space not allowed in name." autocomplete="off" />

    </div>
    <div class="col-12 pad-10">
        <input type="submit" class="btn btn-primary" value="Fetch Details" id="fetchBtn" />
    </div>




    <div class="col-12 pad-10">
        <input id="AmountToPay" type="text" class="form-control" placeholder="Amount to Pay" title="Special character and space not allowed in name." autocomplete="off" />

    </div>
    <div class="col-12 pad-10">
        <input id="Name" type="text" class="form-control" placeholder="Name (As on bill)" title="Special character and space not allowed in name." autocomplete="off" />

    </div>
    <div class="col-12 pad-10">
        <input id="MobileNumber" type="text" class="form-control" placeholder="Mobile Number (10 digit)" title="Special character and space not allowed in name." autocomplete="off" maxlength="10" />

    </div>
    <div class="col-12 pad-10">
        <input type="submit" class="btn btn-primary" value="Pay Now" id="paynowBtn" />
    </div>
</div>
       
    @*</form>*@
</div>