@using CMS.UI.ViewModel;
@using CMS.Common;

@model List<WorkBoardTemplateViewModel>

@{
    ViewData["Title"] = "Choose Template";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .main-content {
        margin: 30px 45px;
    }

    svg.icon {
        fill: #6d6e70;
        vertical-align: middle;
        overflow: hidden;
        width: 1em;
        height: 1em;
    }

    .title-heading {
        color: #6d6e70;
        font-weight: 700;
        font-size: 14pt;
        padding: 5px 0 0 5px;
    }

    .left {
        /*background-color: blue;
        color: white;*/
        border-right: 1px solid #d6dbe1;
    }

    .right {
        /*background-color: red;
        color: white;*/
    }

    .template-body {
        margin-top: 15px;
    }

    .search-icon svg {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 6px;
        top: 6px;
    }

    .template-categories {
        position: absolute;
        top: 50px;
        left: 5px;
        right: 5px;
        bottom: 55px;
        overflow: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .filters {
        position: relative;
        padding-bottom: 8px;
        cursor: pointer;
    }

        .filters ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .filters ul li a {
                margin-left: 15px;
                position: relative;
                color: #6d6e70;
                cursor: pointer;
                margin-left: 30px;
                text-indent: -10px;
            }

    /*.filter ul li a:hover {
        text-decoration: underline;
    }*/

    h5.filter-type {
        position: relative;
        font-weight: 700;
        line-height: 36px;
        height: 36px;
        color: #6d6e70;
        padding-left: 24px;
        font-size: 12pt;
        margin: 10px 0 0 0;
    }

    .tmpl-help {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 20px 0 0;
        height: 60px;
    }

    .btn-primary-hollow, .btn-primary-hollow:active, .btn-primary-hollow:focus, .btn-primary-hollow:visited {
        color: #28a5d4;
        background: #fff;
        border-color: #ccc;
    }

        .btn-primary-hollow:hover {
            border-color: #ccc;
            background-color: #e5f0f7;
            color: #28a5d4;
        }

    .tmpl-wrap {
        position: relative;
        min-height: 145px;
        overflow: hidden;
        border-bottom: 1px solid #d6dbe1;
        /*background-color: greenyellow;*/
        margin: 5px;
    }

    .tmpl-list {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        overflow: auto;
        padding-left: 20px;
    }

    .tmpl-wrap .tmpl-thumb {
        width: 350px;
    }

        .tmpl-wrap .tmpl-thumb .img {
            width: 90%;
            text-align: center;
        }

    .tmpl-wrap .tmpl-body {
        /*margin-left: 350px;*/
    }

    p a {
        color: #3bafda;
        text-decoration: none;
    }
    .tmpl-body p {
        display: block;
        display: -webkit-box;
        min-height: 85px;
        max-height: 95px;
        margin: 0 auto;
        line-height: 1.4;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tmpl-wrap .tmpl-footer {
        height: auto;
        min-height: 26px;
        margin: 5px 0 10px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .tmpl-wrap .tmpl-footer .tmpl-footer-left {
        display: flex;
        flex-direction: column;
    }
    .tmpl-wrap .tmpl-footer .tmpl-footer-left .checkbox-group {
        margin-top: 5px;
    }
    .tmpl-wrap .tmpl-actions {
        white-space: nowrap;
        float: right;
        width: auto;
    }
        .tmpl-wrap .tmpl-actions .btn {
            font-size: 8pt;
            padding: 4px 8px;
        }

    .filters:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker {
        width: 90%;
        margin-left: 15px;
    }
</style>

<body>
    <div class="main-content">

        <div class="titlebar">
            <span class="title-heading">Templates</span>
        </div>

        <div class="template-body" style="display: block;width: auto;min-height: 0px;max-height: none;height: auto;">
            <div class="views">

                <div class="view1">
                    <div class="row" style="height:430px">

                        <div class="left col-3">

                            <div style="position: relative;">
                                <div class="search-input">
                                    <input type="text" id="searchText" class="form-control" placeholder="Search...">
                                    <div class="search-icon" id="searchIcon" style=" cursor: pointer;"><svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.71 19.3l-4.7-4.71c-.38-.38-.89-.59-1.42-.59h-.4a6.5 6.5 0 10-.19.19v.4c0 .53.21 1.04.59 1.42l4.71 4.7a.996.996 0 101.41-1.41zM9.5 14.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path></svg></div>
                                </div>
                            </div>

                            <div class="template-categories">
                                <div class="filters">
                                    <ul>
                                        <li id="all" class="">
                                            <a href="#" onclick="showAll()">All Templates</a>
                                        </li>
                                        @*<li id="recent" class="">
                                            <a href="#">Recent</a>
                                        </li>
                                        <li id="guided" class="selected">
                                            <a href="#">Guided Templates</a>
                                        </li>*@
                                    </ul>
                                </div>

                                @foreach(var item in ViewBag.TemplateCategories)
                                {
                                    <div class="filters">
                                        <h5 class="filter-type">
                                            <a id="@item.Name">
                                                @item.Name
                                            </a>
                                        </h5>
                                    </div>
                                }

                            </div>

                            <div class="tmpl-help" hidden>
                                <a href="https://help.stormboard.com/how-do-stormboard-templates-work" target="_blank" class="btn btn-primary-hollow btn-block">How do templates work?</a>
                            </div>
                        </div>

                        <div class="right col-9">
                            <div class="tmpl-list" id="tmplList">

                                @*@Html.Partial("TemplateView");*@
                                <partial name="TemplateView" />


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        @*<form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnUrl="@returnUrl">*@
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="margin-bottom:250px;">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">Select Month and Date</h6>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="datepicker" />
                    </div>
                    <div class="modal-footer">
                        @*<button class="btn btn-secondary" type="button" data-dismiss="modal">@SharedResource["Cancel"]</button>*@
                        <button class="btn btn-primary" type="submit" onclick="onDateSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        @*</form>*@
    </div>

    </div>
</body>

<script>
    var id;
    var date;
    var name;

    $("#searchIcon").click(function () {
        var text = $("#searchText");
        var inputValue = text.val();
        var searchList = inputValue.split(" ");
        $("#tmplList").load(`TemplateView?searchWord=${searchList}`);

    });

    function closeTemplateWindow(){
        var id = this.id;
        alert(id);
    }


    $("#test button").click(function () {
        debugger;
        id = this.id;
        /*console.log(id);*/
        name = $("#"+id).data("content");
        /*console.log(name);*/

        if (name == "Monthly") {
            $('#dateModal').modal('show');

        }
        else {
            var win = GetMainWindow();
            win.CloseWindow({ MethodName: "afterSelection", Prms: { id, name, date } });
        }
        return false;
    });

    function chooseDateMonth() {

        var url = "/Cms/Workboard/SelectDateMonth";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Choose Date-Month', Width: 600, Height: 600 });
        return false;

    }

    $(".filters h5 a").click(function () {
        var id = this.id;
        /*alert(id);*/
        //$(".filters").addClass("selected");
        //$(".filters").attr("data-content", id);
        $("#tmplList").load("TemplateView?category="+id);
    });


    function showAll() {
        $("#tmplList").load("TemplateView");
    }

    var openFlag = true;

    $("#datepicker").kendoDatePicker({
        depth: "year",
        start: "year",
        animation: false,
        footer: "#: kendo.toString(data, 'm') #",
        /*format: "MM dd",*/
        format: "MMMM yyyy",
        value: new Date(),
        //open: function (e) {
        //    var dp = e.sender;
        //    var calendar = dp.dateView.calendar;

        //    if (openFlag) {
        //        calendar.setOptions({
        //            animation: false
        //        });
        //        openFlag = false;
        //        calendar.navigateUp();
        //    }


        //    if (calendar.view().name === "date") {
        //        calendar.element.find(".k-header").addClass("k-hidden");
        //    };

        //    calendar.bind("navigate", function (e) {
        //        var cal = e.sender;
        //        var view = cal.view();

        //        if (view.name === "date") {
        //            cal.element.find(".k-header").addClass("k-hidden");
        //        } else {
        //            var navFast = $(".k-nav-fast");

        //            var dsa = cal.element.find(".k-header").removeClass("k-hidden");
        //            navFast[0].innerText = navFast[0].innerText.slice(0, -5);
        //        }

        //    });
        //},
        //close: function (e) {
        //    var calendar = e.sender.dateView.calendar;

        //    calendar.unbind("navigate");
        //    calendar.element.find(".k-header").removeClass("k-hidden");
        //}
    });

    function onDateSubmit() {
        debugger;
        /*console.log($("#datepicker").val());*/
        var x = $("#datepicker").data("kendoDatePicker").value();
        date = kendo.toString(x, "yyyy-MM-dd hh:mm:ss");

        alert(date);
        $('#dateModal').modal('hide');
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "afterSelection", Prms: { id, name, date } });
        return false;
    }
</script>