@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Dummy Page";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreateWorkboard();'>Create Workboard</button>
            <button type='button' class='btn btn-primary' onclick='OnCreate();'>Add Workboard Contents</button>
            <button type='button' class='btn btn-primary' onclick='OnInviteUser();'>Workboard Invite</button>
            <button type='button' class='btn btn-primary' onclick='OnJoinWorkboard();'>Join Workboard</button>
            <button type='button' class='btn btn-primary' onclick='OnDuplicateWorkboard();'>Duplicate Workboard</button>
            <button type='button' class='btn btn-primary' onclick='OnChooseTemplate();'>Choose Template</button>
            <button type='button' class='btn btn-primary' onclick='OnWorkboardItemComments();'>Workboard Item Comments</button>
            <button type='button' class='btn btn-outline-primary' onclick='copyMoveItem();'>Copy/Move Item</button>

            <button type='button' class='btn btn-primary' onclick='openIndex();'>Index</button>
        </div>
    </div>
</div>

<script>
    function openIndex() {
        var url = "/Cms/Workboard/ManageWorkBoardIndex";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Workboard', Width: 1200, Height: 600 });
        return false;
    }

    function OnCreateWorkboard() {
        var url = "/Cms/Workboard/CreateWorkboard";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Workboard', Width: 600, Height: 600 });
        return false;

    }

    function OnChooseTemplate() {
        var url = "/Cms/Workboard/ChooseTemplate";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Select Template', Width: 1200, Height: 600 });
        return false;
    }

    function OnCreate() {
        var url = "/Cms/Workboard/AddWorkBoardContent";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Add Contents', Width: 600, Height: 600 });
        return false;

    }

    function OnInviteUser() {
        var url = "/Cms/Workboard/WorkboardInvite";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Invite User', Width: 800, Height: 600 });
        return false;

    }
    
    function OnJoinWorkboard() {
        var url = "/Cms/Workboard/JoinWorkboard";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Join Workboard', Width: 600, Height: 600 });
        return false;

    }
     function OnDuplicateWorkboard() {
        var url = "/Cms/Workboard/DuplicateWorkboard";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Duplicate Workboard', Width: 600, Height: 600 });
        return false;

    }
    function OnWorkboardItemComments() {
        var url = "/Cms/Workboard/WorkBoardItemComments?NtsNoteIdd=123";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'WorkBoard Item Comments', Width: 600, Height: 600 });
        return false;

    }

    function copyMoveItem() {
        var url = "/Cms/Workboard/CopyMoveItems";
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Copy/Move To...', Width: 600, Height: 600 });
        return false;

    }
</script>