@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    ViewData["Title"] = "Kanban Board Template";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
<script>

  $(document).ready(function () {
      $("#kanbanTemplate").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Name",
            filter: "contains",
            optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=KanbanTemplateEnum",
                    }
                }
            }
        });

    });
    function OnCreateBoard() {
        debugger;
        var temp = $("#kanbanTemplate").val();
        if (temp != null || temp != "") {
            var win = GetMainWindow();            
            win.iframeOpenUrl = '@Url.Action("JKanBan", "Workboard", new { @area="Cms"})?dataAction=@DataActionEnum.Create&kanbanTemplate='+ temp;
            win.OpenWindow({ Title: 'Manage Kanban', Width: 1000, Height: 600 });
            return false;           
        }
        else {
            alert("Please Select Template");
        }

    }
</script>

<div class="container">   
    <div class="row">
        <div class="row col-12 pad-10">
            <div class="col-3">
                <label>Kanban Board Template<span class="required" style="color:red;">*</span></label>
            </div>
            <div class="col-9">
                <input id="kanbanTemplate" class="form-control" style="width:80%" />
            </div>
        </div>
        <div class="cms-footer">           
            <input type="button" class="btn btn-primary" value="Create Board" onclick="OnCreateBoard()" />
        </div>
    </div>
</div>












