@using CMS.UI.ViewModel;
@using CMS.Common;

@model WorkspacePermissionGroupViewModel

@{
    ViewData["Title"] = "WorkspacePermissionGroup";
    Layout = null;
}
<script>
    function OnCreate() {
       var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("CreateWorkspacePermissionGroup", "DmsAdmin", new { @area="Dms"})?dataAction=Create';
        win.OpenWindow({ Title: 'Manage Workspace', Width: 450, Height: 950});
        return false;
    }
    function OnEdit(Id) {
      //  e.preventDefault();
      //  var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
          var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("EditWorkSpacePermissionGroup", "DmsAdmin", new { @area="Dms"})?id=' + Id+' &dataAction=Edit';
        win.OpenWindow({ Title: 'Manage Workspace', Width: 450, Height: 950});
        return false;
    }

     var columnLinkDefs = [
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<button type='button' class='btn btn-primary' onclick='OnEdit('" + params.data.Id + "');'><i class='fa fas fa-pencil'></i>&nbsp;Edit</button>"
            }
        },
        {
            headerName: "Name",
            field: "NoteDescription",
        },

    ];

    function getLinkData() {
        document.getElementById("LinkGrid").innerHTML = "";
       gridConfig(
           "LinkGrid",
           "/DMS/DmsAdmin/ReadDataGrid",
           columnLinkDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

</script>


<div>
    <h4>@ViewBag.Title</h4>

    <hr />

    <div class="row">
        <div class="col-12">
            <button type='button' class='btn btn-primary' onclick='OnCreate();'><i class='fa fas fa-plus'></i>&nbsp;Add Permission Group</button>
            <br /><br />
            <div id="LinkGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
        @*<div class="col-12">

            @(Html.Kendo().Grid<WorkspacePermissionGroupViewModel>
    ()
    .Name("WorkspacePermissionGroupgrid")
    .ToolBar(toolbar =>
    toolbar.ClientTemplate("<button type='button' class='btn btn-primary' onclick='OnCreate();'>Add Permission Group</button>"))

    .Columns(columns =>

    {
        columns.Command(command =>
        {
            command.Custom("Edit").Text("<i class='fa fas fa-pencil'></i>").Click("OnEdit").HtmlAttributes(new { @class = "action-icon" });
            //command.Custom("Manage").Text("<i class='fal fa-folder-open li-fal'></i>").Click("OnManage").HtmlAttributes(new { @class = "action-icon" });

        }).Title("Action").Width(100);

        columns.Bound(c => c.NoteSubject).Title("Name");
        columns.Bound(c => c.NoteDescription).Title("Description");


    })
    .Scrollable(x => x.Enabled(false))
                .Sortable(srt => srt.Enabled(true))
                .Selectable(select => select.Enabled(false))
                .Filterable(f => f.Extra(false)
                                                    .Operators(o => o.ForString(s => s.Clear()
                                                    .Contains("Contains")
                                                    .IsEqualTo("Is equal to")
                                                )))
                .Pageable(pageable => pageable
                .Refresh(true)

                .PageSizes(true)
                .ButtonCount(5))
                .AutoBind(true)
                .DataSource(
                dataSource => dataSource
                .Ajax()
                .PageSize(10)
                //.Events(events => events.Error("OnError"))
                .Read(read => read.Action("ReadData", "DmsAdmin", new { @area = "DMS"}))
                .Model(model => model.Id(p => p.Id))
                )
          )

        </div>*@
    </div>
</div>

