@using Synergy.App.ViewModel;
@using Kendo.Mvc.UI;
@using Synergy.App.Common;

@model ServiceViewModel;

@{
    ViewBag.Title = "";
    Layout = null;
}

<style>
    #inboxTreeView {
        padding-left: 25px;
        padding-bottom: 65px;
    }

    .tree-item-status {
        cursor: pointer;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 85vh !important;
        width: 100%;
        position: relative;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 85%;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
    }

    .overlay {
        right: 0 !important;
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }
    /*Portal End*/
</style>
<script>
    $(document).ready(function () {
        $(".toggle-nav").trigger("click");
    });


    var expandedItem = null;
    var serviceid = '6833196f-f96e-42d6-b76f-82a7e48ccdc7';
    function onExpand(e) {
        
        expandedItem = this.dataItem(e.node);
        console.log(expandedItem);
    }
   
    function OnSelect(e) {
        
        var item = this.dataItem(e.node);
        if (item.Type == "STATUS") {
            LoadPartailView('@Url.Action("InboxRightIndex", "Inbox", new { @area="Cms"})?templateCode=' + item.ParentId + '&statusName=' + item.StatusCodeStr, $('#inbox-content-div'));
        }

    }
        
    function AddData() {

        if (expandedItem == null) {
            return { type: null, parentId: null, userRoleId: null, serviceId:serviceid  };
        }
        else {
            return { type: expandedItem.Type, parentId: expandedItem.ParentId, userRoleId: expandedItem.UserRoleId, stageName: expandedItem.StageName, stageId: expandedItem.StageId, batchId: expandedItem.BatchId };
        }
    }

    function refreshInbox() {
        var search = { type: null, parentId: null, userRoleId: null };
        $("#inboxTreeView").data('kendoTreeView').dataSource.read(search);
    }


    $('#inboxTreeView')
        .jstree({
            'core': {
                'data': function (node, cb) {
                    if (node.id === "#") {
                        type = null;
                        parentId = null;
                        userRoleId = null;
                        serviceId = serviceid;
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/NtsService/GetDocumentTreeviewList?serviceId=" + serviceid,
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                        //cb([{ "text": "Root", "id": "1", "children": true }]);
                    }
                    else {
                        $.ajax({
                            async: true,
                            type: "GET",
                            url: "/cms/NtsService/GetDocumentTreeviewList?id=" + node.id + "&type=" + node.Type,
                            dataType: "json",
                            success: function (json) {
                                cb(json);
                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        });
                    }
                }
            }
        });


</script>


<div class="row">
    @*@(Html.Kendo().TreeView()
            .Name("inboxTreeView").HtmlAttributes( new {@class="treeview"})
            .Events(e=>e.Expand("onExpand").Select("OnSelect"))
            .DataTextField("Name")
            .TemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("GetDocumentTreeviewList", "NtsService",new { @area="Cms"}).Data("AddData")
                )
            )
        )*@


    <div id="inboxTreeView" class="demo treeview"></div>

    <script id="ct-tv-template" type="text/kendo-ui-template">
        <span style="width:100%" id="#: item.id #" class="tree-item-#:item.Type.toLowerCase()#">#: item.Name #</span>

    </script>

</div>



