@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@model NoteViewModel

@{
    ViewBag.Title = "Download File";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";

}
<style>
    h5{
        color:black;

    }
    .content {
        margin-top: -10px !important;
        padding: 0px !important;
    }

    .card {
        min-height: 300px !important;
        width: 500px !important;
    }
</style>

<script>

    function DownloadFile() {
     

        window.location.href = '/FileDownload/Download?fileId=@Model.ReferenceId&Type=@Model.ReferenceType';
            return false;
        }

</script>
<div id="appWrapper">
    <div style="background: rgba(192,192,192,0.3)!important;border-style: solid;border-color: lightgrey;height: 66px;">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="/account/login">
                    @*<img src="~/Content/Gulfar.png" height="60px" />*@
                    <img alt="" title="" style="max-height:67px;" src="/Cms/document/getimagemongo/@ViewBag.LogoId" onerror="LogoError(this);">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        @if (Model != null && Model.ReferenceId != null)
        {
            if (Model.ExpiryDate > System.DateTime.Now || Model.ExpiryDate == null)
            {
    <div class="col-md-4 card">
        <br />
        <h5>File Name : @Model.NoteSubject</h5>
        <h5>File Description : @Model.NoteDescription</h5>
        <h5>Expiry Date : @Model.ExpiryDate.ToDefaultDateFormat()</h5>
        <h5>Shared By : @Model.OwnerUserName</h5>
        <br />
        <br />
        @if (Model.ReferenceType == ReferenceTypeEnum.NTS_Note)
        {
            <a href="#" onclick="DownloadFile()" class="btn btn-primary" style="width:125px">Vew Note</a>
        }
        else if (Model.ReferenceType == ReferenceTypeEnum.NTS_Service)
        {
            <a href="#" onclick="DownloadFile()" class="btn btn-primary" style="width:125px">View Service</a>
        }
        else if (Model.ReferenceType == ReferenceTypeEnum.NTS_Task)
        {
            <a href="#" onclick="DownloadFile()" class="btn btn-primary" style="width:125px">View Task</a>
        }else {
             <a href="#" onclick="DownloadFile()" class="btn btn-primary" style="width:125px"> Download File</a>
        }

    </div>
            }
            else
            {
                <div class="col-md-4">
                    <h5 class="required" style="text-align:center">404</h5>
                    <h4 class="required" style="text-align:center">That file isn’t here anymore!</h4>
                </div>
            }

        }
        else
        {
            <div class="col-md-4">

                <h4 class="required" style="text-align:center"> No File Found. Invalid Link!</h4>
            </div>
        }

    </div>
</div>
