.navigation-clean {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.nav-width {
  width: 120px;
}

#hero-banner-heading {
}

.hero-banner-heading {
  position: absolute;
  font-size: 48px;
  top: 100px;
  left: 100px;
}

@media (min-width: 576px) {
  .hero-banner-subheading {
    font-size: 36px;
    position: absolute;
    top: 180px;
    left: 100px;
  }
}

.hero-banner-description {
  font-size: 20px;
  position: absolute;
  top: 230px;
  left: 100px;
}

.top-spacing-50 {
  margin-top: 50px;
}

.top-spacing-20 {
  margin-top: 20px;
}

.top-spacing-200 {
  margin-top: 100px;
}

.overlay-card-heading {
  font-size: 32px;
}

.bottom-spacing-20 {
  margin-bottom: 2em;
}

.section-blue {
  background-color: #027FBD;
}

.padding-top-bottom {
  padding-top: 2em;
  padding-bottom: 2em;
}

.testimonials-clean.top-spacing-50.padding-bottom {
}

.testimonials-img {
  width: 300px;
  height: 70px;
}

.subscribe {
  background-image: linear-gradient( 0deg , #7eb4d4 30%, #027FBD 100%);
}

.footer {
  background-color: #005586;
}

.overlay-background-style {
  background: rgba(32, 57, 86, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: .4s linear;
}

.alternate-dark {
  background-color: #d5ddeb;
}

.list-alignment {
  margin-left: -20px;
}

.padding-hero-banner{
  padding-top: 10em;
  padding-bottom: 35em;
}

.hero-banner-slider {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
