@{
    ViewData["Title"] = "Home Page";
    //Layout = null;// "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;

<style>
    .left {
        min-width: 350px;
        max-width: 700px;
    }

    .splitter-container {
        height: 100vh !important;
        width: 100%;
    }

    .bre-tree .k-in {
        width: 100% !important;
    }
</style>



<div class="row" style="padding-left:10px;padding-top:10px;">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a data-toggle="tab" href="#inputarea" class="nav-link active" role="tab" aria-controls="inputarea" aria-selected="true" onclick=" LoadPartailView('@Url.Action("BusinessRuleInputData", "businessrule", new { @area = "bre" ,ruleId=ViewBag.BusinessRuleId,templateId=ViewBag.TemplateId})', $('#inputarea'));"><br />INPUT DATA</a></li>
        <li class="nav-item"><a data-toggle="tab" href="#masterarea" class="nav-link " role="tab" aria-controls="masterarea" aria-selected="true" onclick=" LoadPartailView('@Url.Action("BusinessRuleMasterData", "businessrule", new { @area = "bre" ,ruleId=ViewBag.BusinessRuleId,templateId=ViewBag.TemplateId})', $('#masterarea'));"><br />MASTER DATA</a></li>
        <li class="nav-item"><a data-toggle="tab" href="#diagramarea" class="nav-link " role="tab" aria-controls="diagramarea" aria-selected="true" onclick=" LoadPartailView('@Url.Action("businessFlowDiagram", "businessRuleDiagram", new { @area = "bre" ,ruleId=ViewBag.BusinessRuleId,templateId=ViewBag.TemplateId})', $('#diagramarea'));"><br />BUSINESS RULE</a></li>
    </ul>
    @*@(Html.Kendo().TabStrip()
          .Name("tabstrip").Events(e => e.Select("onTabSelect1"))
          .Animation(animation =>
              animation.Open(effect =>
                  effect.Fade(FadeDirection.In)))
          .Items(tabstrip =>
          {
          tabstrip.Add().Text("BUSINESS RULE INPUT DATA")
              .Selected(true)
              .Content(@<text>
                        <div class="weather">
                            <p>Select business rule from left side to populate data.</p>
                        </div>
                      </text>);

          tabstrip.Add().Text("BUSINESS RULE MASTER DATA")
                  .Content(@<text>
                        <div class="weather">
                            <p>Select business rule from left side to populate data.</p>
                        </div>
                      </text>);

                  tabstrip.Add().Text("BUSINESS RULE FLOW")
                      .Content(@<text>
                        <div class="weather">
                            <p>Select business rule from left side to populate data.</p>
                        </div>
                      </text>);
              })
        )*@
<div class="tab-content" style="width:100%">
    <div id="inputarea" class="tab-pane  in active" role="tabpanel" aria-labelledby="inputarea">
        
    </div>
    <div id="masterarea" class="tab-pane" role="tabpanel" aria-labelledby="masterarea">

    </div>
    <div id="diagramarea" class="tab-pane" role="tabpanel" aria-labelledby="diagramarea">

    </div>
</div>
</div>


<script>
    $(document).ready(function () {

        LoadPartailView('@Url.Action("BusinessRuleInputData", "businessrule", new { @area = "bre" })?ruleId=@ViewBag.BusinessRuleId&templateId=@ViewBag.TemplateId', $('#inputarea'));
    });

    function ReloadTab() {


       
    }
    function SetTabControls(index, select) {
        debugger
        var tabStrip = $("#tabstrip").data("kendoTabStrip");
        if (select) {
            tabStrip.select(index);
        }
    }
    function onTabSelect1(e) {
        debugger
        SetTabControls($(e.item).index(), false);
    }
    function OnSelect(e) {
       // e.preventDefault();

        //var data = $("#treeview").data("kendoTreeView").dataItem(e.node);


        //if (data.ItemType == "BusinessRule") {

            var tabStrip1 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
            $(".k-link:contains('BUSINESS RULE INPUT DATA')").data('contentUrl', '/Bre/businessrule/BusinessRuleInputData?ruleId=@ViewBag.BusinessRuleId'  );
            tabStrip1.reload("li:eq(0)");

            var tabStrip2 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        $(".k-link:contains('BUSINESS RULE MASTER DATA')").data('contentUrl', '/Bre/businessrule/BusinessRuleMasterData?ruleId=@ViewBag.BusinessRuleId');
            tabStrip2.reload("li:eq(1)");

            var tabStrip3 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        $(".k-link:contains('BUSINESS RULE FLOW')").data('contentUrl', '/Bre/businessRuleDiagram/businessFlowDiagram?ruleId=@ViewBag.BusinessRuleId');
            tabStrip3.reload("li:eq(2)");


        //}
    }
    
    //$(function () {
    //    $.contextMenu({
    //        selector: '.tree-menu',
    //        trigger: 'left',

    //        items: {
    //            "edit": {
    //                name: "Edit", icon: "cut", callback: function (itemKey, opt, e) {
    //                    console.log($(this).data('id'));
    //                }
    //            },
    //            "cut": { name: "Cut", icon: "cut" },
    //            "copy": { name: "Copy", icon: "copy" },
    //            "paste": { name: "Paste", icon: "paste" },
    //            "delete": { name: "Delete", icon: "delete" },
    //            "sep1": "---------",
    //            "quit": { name: "Quit" }
    //        }
    //    });
    //});


    $(function () {
        $.contextMenu({
            selector: '.bre-menu',
            trigger: 'left',
            build: function ($trigger, e) {
                var parentId = $trigger.data('id');
                var parentType = $trigger.data('type');
                var selectParentId = $trigger.data('parentId');

                switch (parentType) {
                    case 'Root':
                        return {

                            callback: function (key, options) {
                                switch (key) {
                                    case 'add':
                                        // OpenIframeModal('/BusinessRule/CreateBusinessArea?parentId=' + parentId, 'Create Business Area');
                                        
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessArea?parentId=' + parentId;
                                        win.OpenWindow({ Title: 'Create Business Area', Width: 400, Height: 500 });
                                    default:
                                }

                            },
                            items: {
                                "add": { name: "Add Business Area", icon: "fas fa-chart-area" },

                            }
                        };
                    case 'BusinessArea':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                       
                                          var win = GetMainWindow();
        win.iframeOpenUrl ='/bre/BusinessRule/CreateBusinessArea?parentId=' + selectParentId + "&id=" + parentId;
                                        win.OpenWindow({ Title: 'Edit Business Area', Width: 400, Height: 500 });
                                        //OpenIframeModal('/BusinessRule/CreateBusinessArea?parentId=' + selectParentId + "&id=" + parentId, 'Edit Business Area');
                                        break;
                                    case 'addSec':
                                        
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessSection?parentId=' + parentId;
                                        win.OpenWindow({ Title: 'Create Business Section', Width: 400, Height: 500 });
                                        //OpenIframeModal('/BusinessRule/CreateBusinessSection?parentId=' + parentId, 'Create Business Section');
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "edit": { name: "Edit Business Area", icon: "fas fa-chart-area" },
                                "addSec": { name: "Add Business Section", icon: "fas fa-album-collection" },

                            }
                        };
                    case 'BusinessSection':
                        return {

                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                      
                                        // OpenIframeModal('/BusinessRule/CreateBusinessSection?parentId=' + selectParentId + "&id=" + parentId, 'Edit Business Section');
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessSection?parentId=' + selectParentId + "&id=" + parentId;
                                        win.OpenWindow({ Title: 'Edit Business Section', Width: 400, Height: 500 });
                                        break;
                                    case 'addGroup':
                                        
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessRuleGroup?parentId=' + parentId;
                                        win.OpenWindow({ Title: 'Create Business Rule Group', Width: 400, Height: 500 });
                                        // OpenIframeModal('/BusinessRule/CreateBusinessRuleGroup?parentId=' + parentId, 'Create Business Rule Group');
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "edit": { name: "Edit Business Section", icon: "fas fa-album-collection" },
                                "addGroup": { name: "Add Business Group", icon: "fas fa-ball-pile" },

                            }
                        };
                    case 'BusinessRuleGroup':
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                       
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessRuleGroup?parentId=' + selectParentId + "&id=" + parentId;
                                        win.OpenWindow({ Title: 'Edit Business Rule Group', Width: 400, Height: 500 });
                                        // OpenIframeModal('/BusinessRule/CreateBusinessRuleGroup?parentId=' + selectParentId + "&id=" + parentId, 'Edit Business Rule Group');
                                        break;
                                    case 'addRule':
                                        
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessRule?parentId=' + parentId;
                                        win.OpenWindow({ Title: 'Create Business Rule', Width: 400, Height: 500 });
                                        // OpenIframeModal('/BusinessRule/CreateBusinessRule?parentId=' + parentId, 'Create Business Rule');
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "edit": { name: "Edit Business Group", icon: "fas fa-ball-pile" },
                                "addRule": { name: "Add Business Rule", icon: "fas fa-pencil-ruler" },

                            }
                        };
                    case 'BusinessRule':
                        return {
                            callback: function (key, options) {

                                switch (key) {
                                    case 'edit':
                                       
                                        var win = GetMainWindow();
                                        win.iframeOpenUrl = '/bre/BusinessRule/CreateBusinessRule?parentId=' + selectParentId + "&id=" + parentId;
                                        win.OpenWindow({ Title: 'Edit Business Rule', Width: 400, Height: 500 });
                                        //OpenIframeModal('/BusinessRule/CreateBusinessRule?parentId=' + selectParentId + "&id=" + parentId, 'Edit Business Rule');
                                        break;
                                    case 'open':
                                        var tabStrip1 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                                        $(".k-link:contains('BUSINESS RULE INPUT DATA')").data('contentUrl', '/bre/businessrule/BusinessRuleInputData?ruleId=' + parentId);
                                        tabStrip1.reload("li:eq(0)");

                                        var tabStrip2 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                                        $(".k-link:contains('BUSINESS RULE MASTER DATA')").data('contentUrl', '/bre/businessrule/BusinessRuleMasterData?ruleId=' + parentId);
                                        tabStrip2.reload("li:eq(1)");

                                        var tabStrip3 = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                                        $(".k-link:contains('BUSINESS RULE FLOW')").data('contentUrl', '/bre/businessRuleDiagram/businessFlowDiagram?ruleId=' + parentId);
                                        tabStrip3.reload("li:eq(2)");
                                        break;
                                    default:
                                }

                            },
                            items: {
                                "edit": { name: "Edit Business Rule", icon: "fas fa-pencil-ruler" },
                                "open": { name: "Open Business Rule", icon: "fas fa-pencil-ruler" },

                            }
                        };
                    default:
                        return {
                            callback: function (key, options) {
                                alert(parentId);
                                alert(parentType);
                            },
                            items: {

                            }
                        };
                }


            }
        });
    });

</script>
