@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Drawing Board";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<link href="~/js/drawingboard/css/drawingboard.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
        integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
        integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="~/js/drawingboard/dist/drawingboard.min.js"></script>

<style>
    #datadiv {
        width: 100%;
        height: 600px;
        border: 1px solid black;
    }
</style>
<div id="datadiv">

</div>

<button onclick="saveImage()" class="btn btn-primary">Save as Image</button>

<script>

    function saveImage() {
        
        domtoimage.toBlob(document.getElementsByClassName('drawing-board-canvas')[0])
            .then(function (blob) {
                

                var data = new FormData();
                data.append('file', blob);

                $.ajax({
                    url: "/Cms/Document/SaveFile",
                    type: 'POST',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        // alert(data.fileId);
                        // closeNavMemberGroup();
                        //var win = GetMainWindow();
                        //win.CloseWindow();
                        
                        //alert(data.fileId);
                        var id = data.fileId;
                        var win = GetMainWindow();
                        win.CloseWindow({ MethodName: "closeNavDrawing", Prms: { id } });
                        //
                        //document.getElementById("createdrawingcontent").style.display = "none";
                        //document.getElementById("drawingContent").style.display = "";
                        ////$("#drawingimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);

                        //$("#LogoId").val(data.fileId);
                    },
                    error: function () {
                        //alert("not so boa!");
                    }
                });

            });
    }

    $(document).ready(function () {
        var fileId = "@ViewBag.FileId";
        var url = "";

        if (fileId != null) { url = "/cms/Document/GetImageMongo?id=" + fileId; }
        var imageboard = new DrawingBoard.Board('datadiv', {
            background: url,// "7b5858ec-e580-4cc8-80a5-492cf8f10852",
            controls: true,
            color: '#000',
            eraserColor: '#fff',
            webStorage: false,
            size: 30,
            controls: [
                'Color',
                { Size: { type: "range" } },
                { Navigation: { bakc: true, forword: true } },
                'DrawingMode',
            ],
        });

        $("#Save").click(function () {

        });
    });
</script>