@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    //ViewData["Title"] = "Portal";
    //Layout = null;
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext
@model NoteTemplateViewModel

<style>
    .cms-manageportal-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }

    .pad-5 {
        padding-top: 10px;
    }
</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <div>

    </div>
    <form asp-controller="Template" asp-action="ManageNoteScript" method="post" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
        <div class="row" style="margin-left:3px;">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a data-toggle="tab" href="#prescript" class="nav-link active" role="tab" aria-controls="prescript" aria-selected="true"><i class="fas fa-scroll" style="margin-left:15px;"></i><br />Pre Script</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#postscript" class="nav-link" aria-controls="postscript" aria-selected="false"><i class="fas fa-scroll" style="margin-left:18px;"></i><br />Post Script</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="tab-content col-12">
                <div id="prescript" class="tab-pane  in active" role="tabpanel" aria-labelledby="prescript-tab">
                    <textarea asp-for="PreScript" class="form-control" autocomplete="off" style="width:100%;height:300px;"></textarea>
                </div>
                <div id="postscript" class="tab-pane " role="tabpanel" aria-labelledby="postscript-tab">
                    <textarea asp-for="PostScript" class="form-control" autocomplete="off" style="width:100%;height:300px;"></textarea>
                </div>
            </div>
        </div>
        <div class="cms-footer">
            <div class="row" style="float:right">
                <button type="submit" class="btn btn-success" onclick="SaveData()">Save</button>
            </div>
        </div>
        @Html.HiddenFor(x => x.TemplateId)
        @Html.HiddenFor(x => x.JsonCopy)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @*if ('@ViewBag.Success' == "True") {

            //closeNavPortal();
            //var tree = window.parent.$("#contentTreeView").data("kendoTreeView");
            //tree.dataSource.read();
        }*@

    });

    function SaveData() {
        $("#JsonCopy").val(JSON.stringify(builder.instance.schema, null, 4));
        return true;
    }
     var onAjaxSuccess = function (res) {
         
        if (res.success) {
            
            ShowNotification("Saved Successfully", "success");
            var TemplateId = $("#TemplateId").val();
            LoadPartailView('@Url.Action("ManageNoteScript", "Template", new { @area = "Cms" })?templateId='+ TemplateId, $('#scriptPage'));
            
        }
        else {
            showError(res.error);
        }
    }
    var showError = function (error) {
        
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
</script>