@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Garbage Collection Status";
    Layout = null;
}

<style>
    .crd {
        margin: 10%;
        border-style: groove;
        padding: 3%;
        border-color: white;
        border-radius: 2%;
        background-color: lightblue;
    }
</style>

<div style="padding:2%">
    <h6>Garbage Collected By Ward and Collector</h6>
</div>
<div class="row" style="padding:2%">
    <div class="col">
        <label class="mb-3">Select Ward</label>
        <input id="WardId" style="width: 100%;" />
    </div>
    <div class="col">
        <label class="mb-3">Select Collector</label>
        <input id="CollectorId" style="width: 100%;" />
    </div>
</div>


<div class="row" style="padding:2%">
    <div class="col">
        <div id="noOfHouseholdCovered"></div>
    </div>
    <div class="col crd" id="data" style="display:none">
        <span>Total Property: <span id="totalNoOfProperty" style="font-weight:bold"></span></span><br />
        <span>Total No. Of Property Garbage Collected: <span id="totalNoOfPropertyGC" style="font-weight:bold"></span></span><br />
        <span>Total No. Of Property Garbage Not Collected: <span id="totalNoOfPropertyNGC" style="font-weight:bold"></span></span><br />
    </div>
</div>

<script>
    var wardId = $("#WardId").kendoDropDownList({
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataTextField: "Name",
        dataValueField: "Id",
        change: onWardChange,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: "/EGov/SmartCity/GetWardList",
            }
        }
    }).data("kendoDropDownList");

    $("#CollectorId").kendoDropDownList({
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataTextField: "Name",
        dataValueField: "Id",
        filter: "contains",
        autoBind: true,
        change: onCollectorChange,
        dataSource: {
            transport: {
                read: {
                    url: "/EGov/SmartCity/GetCollectorListByWard"
                }
            }
        }
    });

    function onWardChange() {
        var ward = $("#WardId").val();
        $("#CollectorId").kendoDropDownList({
            optionLabel: "--Select--",
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            change: onCollectorChange,
            dataSource: {
                transport: {
                    read: {
                        url: "/EGov/SmartCity/GetCollectorListByWard?wardId=" + ward
                    }
                }
            }
        });
        var url6 = "/Egov/SmartCity/GetNoOfHouseholdCovered?wardId=" + ward;
        pieChart(url6, "noOfHouseholdCovered", "No of Properties Covered in Ward No: " + ward);
    }

    function onCollectorChange() {
        var ward = $("#WardId").val();
        var collector = $("#CollectorId").val();
        var url6 = "/Egov/SmartCity/GetNoOfHouseholdCovered?wardId=" + ward + "&collectorId=" + collector;
        pieChart(url6, "noOfHouseholdCovered", "No of Properties Covered in Ward No: " + ward);
    }

    function pieChart(url, chartId, chartTitle) {
        ShowLoader($('#maindiv'));

        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                if (res) {
                    document.getElementById("data").style.display = "";
                    document.getElementById("totalNoOfProperty").innerHTML = res.TotalNoProperty;
                    document.getElementById("totalNoOfPropertyGC").innerHTML = res.TotalNoPropertyGarbageCollected;
                    document.getElementById("totalNoOfPropertyNGC").innerHTML = res.TotalNoPropertyGarbageNotCollected;
                    var vals = res.ItemValueSeries;
                    itcode = res.Code;
                    var chart = "#" + chartId;
                    var options = {
                        series: vals,
                        title: {
                            text: chartTitle
                        },
                        chart: {
                            id: chartId,
                            width: 460,
                            height: 380,
                            type: 'pie',
                        },
                        legend: {
                            position: 'bottom'
                        },
                        labels: res.ItemValueLabel,
                        colors: ['#00FF00', '#FF0000', '#f2a818', '#13b713', '#f10b0b', '#008ffb', '#f2a818'],
                        dataLabels: {
                            formatter: function (val, opts) {
                                return opts.w.config.series[opts.seriesIndex]
                            },
                        },
                    };

                    document.getElementById(chartId).innerHTML = "";
                    var chart = new ApexCharts(document.querySelector(chart), options);
                    chart.render();
                }
                HideLoader($('#maindiv'));
            }
        });
    }

</script>