@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Search Property Details";
    Layout = null;
}



<style>
    html {
       /* font-size: 14px;*/
        font-family: Arial, Helvetica, sans-serif;
    }

    .modal-content {
        width: 820px;
    }
</style>



<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="row no-gutters p-2">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h5>Search Property</h5>

                </div>
            </div>
            <div class="row pad-20">
                <div class="col-lg-4 col-md-4 col-sm-12 ">

                    <label class="form-label text-center" style="margin-left:140px;">
                        DDN No.
                    </label>
                    <div class="text-center" style="margin-left:140px;">
                        <input id="ddnNo" style="width:100%" required onchange="IsDdnNoAlreadyExistOnUserMap()" />
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 " style="margin-top:32px;">
                    <button class="btn btn-primary mx-1" onclick="onSearchReport()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-primary mx-1" onclick="onPaidDetails()">Check Paid Details</button>
                    <button class="btn btn-primary mx-1" onclick="ViewAssessmentResults()">View Assessment</button>
                    <button class="btn btn-primary mx-1" onclick="ViewProperty()">View Property</button>

                  @*  <button class="btn btn-primary mx-1" onclick="onViewPaymentDetails()">View Payment Details</button>*@

                    @*onclick="FilterResults(true)"*@
                </div>
                @*<div class="col-lg-3 col-md-3 col-sm-12 " style="margin-top:32px;">
                <button class="btn btn-primary mx-1" onclick="ViewAssessmentResults()">View Assessment</button>

            </div>*@
                @*<div class="col-lg-3 col-md-3 col-sm-12 " style="margin-top:32px;">
                <button class="btn btn-primary mx-1" onclick="OnLoadProperty()">Property Calculation</button>

            </div>*@

            </div>
            @*MyFormDiv start*@

            <div class="jumbotron" style="max-width:800px;margin:auto;" id="myFormDiv">
                <h5 class="text-center">Property Details</h5>
                <hr />

                <div class="form-group pt-3 pb-3">
                    <div>
                        <label class="form-label">
                            Owner Name:
                        </label>
                        <br />
                        <label id="owner_Name" class="form-control form-control-lg" style="width:100%">

                        </label>
                        @*<input type="text" class="form-control form-control-lg" style="width:100%" placeholder="Owner Name" id="owner_Name" readonly />*@
                    </div>
                    <br />
                    <div>
                        <label class="form-label">
                            Telephone Number:
                        </label>
                        <br />
                        <label id="telephone_Number" class="form-control form-control-lg" style="width:100%">

                        </label>
                        @*<input type="text" class="form-control form-control-lg" style="width:100%" placeholder="Telephone Number" id="telephone_Number" readonly />*@
                    </div>
                    <br />
                    <div>
                        <label class="form-label">
                            Property Type:
                        </label>
                        <br />
                        <label id="property_Name" class="form-control form-control-lg" style="width:100%">

                        </label>
                        @*<input type="text" class="form-control form-control-lg" style="width:100%" placeholder="Property Name" id="property_Name" readonly />*@
                    </div>
                    <br />


                    <div>
                        <label class="form-label">
                            Ward Number:
                        </label>
                        <br />
                        <label id="ward_Number" class="form-control form-control-lg" style="width:100%">

                        </label>
                        <input type="text" class="form-control form-control-lg" style="display:none;"  id="WardId" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        @*<button class="btn btn-primary btn-lg btn-block" onclick="SelfAssess()">Self Assessment</button>*@
                        <button class="btn btn-primary btn-lg btn-block" id="addProperty"  onclick="OnAddPropertyByUser()">Add Property</button>
                    </div>
                </div>



            </div>
            @*MyFormDiv End*@

            @*MyAssessmentDiv Start here*@
            <div class="row pad-20" id="myAssesmentDiv">
                <div id="AssessmentGrid" style="width: 100%;height:350px" class="ag-theme-alpine"></div>
            </div>
            @*MyAssessmentDiv END here*@


            @*MyViewPropertyDiv Start here*@
            <div class="row pad-20" id="myViewPropertyDiv">
                <div id="ViewPropertyGrid" style="width: 100%;height:350px" class="ag-theme-alpine"></div>
            </div>
            @*MyViewPropertyDiv END here*@


            @* Property Tax Payment History Page Start here*@

            <div class="table-responsive " style="margin-left:300px" id="paymentHistoryDiv">
                <table class="table table-bordered align center" style="width: 800px; margin-top:50px;">

                    <tbody>

                        <tr>
                            <td colspan="2" align="center" style="background-color: #ff7f50; color:white">Owner Details</td>
                        </tr>

                        <tr>
                            <td>Owner Name:</td>
                            <td><label id="ownerName"></label></td>

                        </tr>
                        <tr>
                            <td>Zone Name: </td>
                            <td><label id="zoneName"></label></td>

                        </tr>
                        <tr>
                            <td>Ward Name:</td>
                            <td> <label id="wardNumber"></label></td>

                        </tr>
                        <tr>
                            <td>Property Address</td>
                            <td><label id="propertyAddress"></label></td>

                        </tr>
                        <tr>
                            <td colspan="2" align="center" style="background-color: #ff7f50; height:40px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 p-2" id="myTaxReceiptDiv">
                <div id="kGridView" style="width: 100%;height:300px" class="ag-theme-alpine"></div>
            </div>

            @* Property Tax Payment History Page End here*@



            @*<div class="row pad-20">
            <div id="propertyGrid" style="width: 100%;height:350px" class="ag-theme-alpine"></div>
        </div>*@


        </div>
    </div>
 
</div>
@* start popup Section*@

<div class="modal fade" id="PropertyCalculationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="text-center" style="margin-top:30px;">Property Calculation</h4>
            <div class="container table-responsive">
                <table class="table table-bordered align center" style="width: 800px; margin-top:50px;">

                    <tbody>

                        <tr style="height:40px;">
                            <td scope="row" style="background-color: #ff7f50;" colspan="2"></td>
                            @* <td scope="row" style="background-color: #ff7f50;"></td>*@
                        </tr>

                        <tr>
                            <td scope="row">Owner Name: <label id="ownerName"></label></td>
                            <td>Rate of Tax: <label id="rateOfTax"></label></td>

                        </tr>
                        <tr>
                            <td scope="row">Telephone number: <label id="telephoneNumber"></label></td>
                            <td>Usage Type Rate : <label></label></td>

                        </tr>
                        <tr>
                            <td scope="row">Type of Property: <label id="typeOfProperty"></label></td>
                            <td>Occupancy Factor Rate: <label id="occupancyFactorRate"></label></td>

                        </tr>
                        <tr>
                            <td scope="row">Ward Number: <label id="wardNumber"></label></td>
                            <td>Location Factor: <label id="locationFactor"></label></td>

                        </tr>

                        <tr>
                            <td scope="row">Type of Occupancy: <label id="typeOfOccupancy"></label></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td scope="row">Building type: <label id="buildingType"></label></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td scope="row">Building Age: <label id="buildingAge"></label></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td scope="row" style="background-color: #ff7f50;color:white;">Total Property Tax</td>
                            <td style="background-color: #ff7f50; color: white;">11234</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* End popup Section*@


<script>
    $(function () {

        $("#myFormDiv").hide();
        $("#paymentHistoryDiv").hide();

        $("#myTaxReceiptDiv").hide();

        $("#ddnNo").kendoTextBox({

            placeholder: "DDN Number",
        });

        $("#propertyNo").kendoTextBox({
            placeholder: "Property Number"
        });

    });

    var columnDefsAssessment = [
        //{
        //    field: "EffectFromDate",
        //    headerName: "Effect From Date",
        //    minWidth: 150,
        //},
        //{
        //    field: "EffectToDate",
        //    headerName: "Effect To Date",
        //    minWidth: 150,
        //},
        {
            field: "DdnNo",
            headerName: "DDN Number",
            minWidth: 150,
        },
        {
            field: "WardId",
            headerName: "Ward Number",
            minWidth: 150,
        },

        {
            field: "PropertyType",
            headerName: "Property Type",
            minWidth: 150,
        },
        //{
        //    field: "RateOfTax",
        //    headerName: "Rate Of Tax",
        //    minWidth: 150,
        //},
        {
            field: "BuildingCategory",
            headerName: "Building Categroy",
            minWidth: 150,
        },
        ,
        {
            field: "BuildingType",
            headerName: "Building Type",
            minWidth: 150,
        },

        {
            field: "Occupancy",
            headerName: "Occupancy",
            minWidth: 150,
        },
        {
            field: "TotalArea",
            headerName: "Total Area",
            minWidth: 150,
        },

        //{
        //    field: "LocationDescription", 
        //    headerName: "Location Description",
        //    minWidth: 150,
        //},
       
        //{
        //    field: "LocationFarctorRate",
        //    headerName: "Location Farctor Rate",
        //    minWidth: 150,
        //},
       
    ];


    function getAssessmentDetails(url) {
        debugger;
        document.getElementById("AssessmentGrid").innerHTML = "";
        gridConfig(
            "AssessmentGrid",
            url,
            columnDefsAssessment,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }


    function ViewAssessmentResults(flag) {
        $("#myFormDiv").hide();
        $("#paymentHistoryDiv").hide();
        $("#myTaxReceiptDiv").hide();
        $("#myViewPropertyDiv").hide();
        
        var dDNNo = $("#ddnNo").val();
        newUrl = "/EGov/SmartCity/GetAssessmentDDNNo" ;

        getAssessmentDetails(newUrl);
        $("#myAssesmentDiv").show();
    }



    function onSearchReport() {
        $("#myFormDiv").hide();
        $("#paymentHistoryDiv").hide();
        $("#myTaxReceiptDiv").hide();
        $("#myAssesmentDiv").hide();
        $("#myViewPropertyDiv").hide();
        var dDNNo = $("#ddnNo").val();

        newUrl = "/EGov/SmartCity/GetParcelByDDNNo?ddnNo=" + dDNNo;

        $.ajax({
            type: 'Get',
            url: newUrl,
            dataType: "json",
            success: function (model) {
          
                $("#myFormDiv").show();
                document.getElementById('owner_Name').innerHTML = model.own_name;
                document.getElementById('telephone_Number').innerHTML = model.tel_no;
                document.getElementById('property_Name').innerHTML = model.res_stat;
                document.getElementById('ward_Number').innerHTML = model.ward_no;
                $("#WardId").val(model.ward_no);

            }
        });
    }

    var columnDefsForReceipt = [
        {
            headerName: "Year",
            field: "FinancialYear"
        },
        {
            headerName: "Receipt Number",
            field: "ReceiptNumber",
        },
        {
            headerName: "Receipt Amount",
            field: "ReceiptAmount",
        },
        {
            headerName: "Date",
            field: "Date",
            format: "{dd/MM/yyyy}",
        },

        {
            headerName: "Payment Mode",
            field: "PaymentMode",
        },

        {
            headerName: "DDN NO",

            field: "DdnNo",
        },
        {
            headerName: "Receipt",
            field: "DdnNo",
            cellRenderer: params => {
                return "<a style='cursor:pointer;color:blue;' href='javascript:onDownloadPaymentReceipt(\"" + params.data.DdnNo + "\");'><i class='fa fa-download'></i></a> ";
            }
            //cellRenderer: params => {
            //    return "<a style='cursor:pointer;color:blue;' href='javascript:onDownloadPaymentReceipt(\"" + params.data.Id + "\");'><i class='fa fa-download'></i></a> ";
            //}
        },

    ];

    function onDownloadPaymentReceipt(DdnNO) {
        debugger;
        var win = GetMainWindow();
        win.iframeOpenUrl = '/Cms/FastReport?rptName=JAMMU_PropertyReport&lo=@LayoutModeEnum.Popup&rptUrl=egov/query/GetPropertyTaxReport/' + DdnNO + '&rptUrl2=egov/query/GetPropertyTaxReportFloorData/' + DdnNO;
        //win.iframeOpenUrl = '/EGov/SmartCity/PropertyPaymentDetails?ReceiptId=' + DdnNO;
        win.OpenWindow({ Title: 'Bill Payment Report', Width: 840, Height: 700 });
        return false;
    }
    function onPaidDetails() {
        $("#myFormDiv").hide();
        $("#myAssesmentDiv").hide();
        $("#myViewPropertyDiv").hide();
        var dDNNo = $("#ddnNo").val();

        newUrl = "/EGov/SmartCity/GetParcelByDDNNo?ddnNo=" + dDNNo;

        $.ajax({
            type: 'Get',
            url: newUrl,
            dataType: "json",
            success: function (model) {
                $("#paymentHistoryDiv").show();

                document.getElementById('ownerName').innerHTML = model.own_name;
                document.getElementById('zoneName').innerHTML = model.sector;
                document.getElementById('wardNumber').innerHTML = model.ward_no;
                document.getElementById('propertyAddress').innerHTML = model.permt_add;

                var urlForReceipt = "/EGov/SmartCity/GetPropertyTaxPaymentReceiptByDDN?DDNNO=" + dDNNo;

                $("#myTaxReceiptDiv").show();
                gridConfig(
                    "kGridView",
                    urlForReceipt,
                    columnDefsForReceipt,
                    false,
                    true,
                    true,
                    true,
                    1,
                    true,
                    10
                );

            }


        });

    }


    //$.ajax({
    //    url: "/Egov/SmartCity/GetPropertyDetailsTypeWiseFinancialWiseWardWise?propertyType=" + propertyType + "&financialYear=" + financialYear + "&ward=" + ward,
    //    type: "GET",
    //    dataType: "json",
    //    success: function (result) {

    //        // var url = "/Egov/SmartCity/GetPropertyDetailsTypeWiseFinancialWiseWardWise?propertyType=" + properyType + "&financialYear=" + financialYear + "&ward=" + ward;

    //        var grid = $("#kGridView").kendoGrid({
               
    //            height: 550,
    //            groupable: false,
    //            sortable: true,
    //            resizable: true,
    //            reorderable: true,
    //            pageable: {
    //                alwaysVisible: false,
    //                pageSizes: [5, 10, 20, 100]
    //            },                        //columnMenu: true,
    //            columns: columnDefs

    //        });
    //    }
    //});


</script>
<script>

    function OnLoadProperty() {
        newUrl = "/EGov/SmartCity/GetParcelForPropertyTaxCal";
        $.ajax({
            type: 'Get',
            url: newUrl,
            dataType: "json",
            success: function (model) {
                var editmodel = $('#PropertyCalculationModal')
                editmodel.modal('show');
                //document.getElementById('ownerName').innerHTML = model.own_name;
                document.getElementById('telephoneNumber').innerHTML = model.tel_no;
                document.getElementById('typeOfProperty').innerHTML = model.res_stat;
                document.getElementById('wardNumber').innerHTML = model.ward_no;
                document.getElementById('typeOfOccupancy').innerHTML = model.occ_st_ff;
                document.getElementById('buildingType').innerHTML = model.res_stat;
                document.getElementById('buildingAge').innerHTML = model.bld_age;

            }
        });
    }
    function SelfAssess(ward, dDNNo){


       

        var portalId = $("#GlobalPortalId").val();
        var tempCode ="JSC_SELF_ASSESSMENT_FORM";
     
       
        var udfs = encodeURIComponent('DdnNo=' + dDNNo+'&WardId='+ward);
        var url = '/Cms/Page?lo=Popup&pageType=Form&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&udfs=' + udfs;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Self Assessment", Width: 1000, Height: 700 });
        return false;

       
    }

    function OnAfterServiceCreate(e) {
        debugger;
        var url = "/Egov/SmartCity/JSCPropertyTaxView?assessmentId=" + e.RecordId;
        //var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&udfs=' + udfs;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "View Property Tax Detail", Width: 1000, Height: 700 });
        return false;
        //debugger;
        //var url = "/Egov/SmartCity/JSCPropertyTaxView?assessmentId=" + e.UdfNoteTableId;
        ////var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=' + tempCode + '&portalId=' + portalId + '&udfs=' + udfs;
        //var win = GetMainWindow();
        //win.iframeOpenUrl = url;
        //win.OpenWindow({ Title: "View Property Tax Detail", Width: 1000, Height: 700 });
        //return false;
        //if (e.TemplateCode = "JSC_LODGECOMPLAINT") {
        //    window.location.href ="/portal/JammuSmartCityCustomer/MyComplaints";
        //    LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        //    return false;
        //} else {
        //    window.location.href = "/portal/JammuSmartCityCustomer/RequestList";
        //    LoadCmsPartialView(window.location.href, 'Custom', false, "", "", "");
        //    return false;
        //}
        //BackToCategory();
    }

    function OnAddPropertyByUser()
    {
        var dDNNo = $("#ddnNo").val();

        $.ajax({
            type: 'Get',
            url: "/Egov/SmartCity/AddPropertyByUser?ddnNo=" + dDNNo,
            dataType: "json",
            success: function (model) {
                alert("Property Added");
                //Location.reload();
                document.getElementById("addProperty").disabled = true;
            }
        });

    }



    var columnDefsViewProperty = [
        {
            field: "mmi_id",
            headerName: "DdnNo",
            minWidth: 150,
        },
        //{
        //    field: "own_name",
        //    headerName: "Owner",
        //    minWidth: 150,
        //},
        //{
        //    field: "tel_no",
        //    headerName: "Telephone",
        //    minWidth: 150,
        //},
        {
            field: "res_stat",
            headerName: "Type",
            minWidth: 150,
        },
        {
           field: "ward_no",
            headerName: "Ward No",
            minWidth: 150,
        },
        {
            field: "permt_add",
            headerName: "Permenent Address",
            minWidth: 150,
        },
        {
            headerName: "Self Assessment",
            field: "ward_no",
            cellRenderer: params => {
                var a = "";
                return a + "<input id='selfAssessment_" + params.data.mmi_id + "' title='View Details' type='button' class='btn btn-primary' onclick='SelfAssess(\"" + params.data.ward_no + "\",\"" + params.data.mmi_id + "\" )'  value='Self Assessment'/>";

            }
        }
        
    ];


  

    function ViewProperty() {
        $("#myFormDiv").hide();
        $("#paymentHistoryDiv").hide();
        $("#myTaxReceiptDiv").hide();
        $("#myAssesmentDiv").hide();
       // var dDNNo = $("#ddnNo").val();

        /*newUrl = "/EGov/SmartCity/GetAssessmentDDNNo?ddnNo=" + dDNNo*/
        var urlForViewProperty = "/EGov/SmartCity/GetViewPropertyByUserMap";
        var UrlForAjax = "/EGov/SmartCity/GetViewPrpertyForSelfAssessment"
        gridConfig(
            "ViewPropertyGrid",
            urlForViewProperty,
            columnDefsViewProperty,
            false,
            true,
            true,
            true,
            1,
            true,
            10
        );



        $.ajax({
            type: 'Get',
            url: UrlForAjax,
            dataType: "json",
            success: function (model) {
                //alert("ok");
                debugger;
               // $("#myViewPropertyDiv").show();
             //$("#myViewPropertyDiv").show();
                
                if (model[0].mmi_id != null) {

                    $('#selfAssessment_' + model[0].mmi_id).prop('disabled', true);

                }
                else {

                    $('#selfAssessment_' + model[0].mmi_id).prop('disabled', false);

                }
            }


        });
       
        
    }

    function IsDdnNoAlreadyExistOnUserMap()
    {
        var dDNNo = $("#ddnNo").val();

        newUrl = "/EGov/SmartCity/GetAddPropertyIsAlreadyExist?ddnNo=" + dDNNo;
        $.ajax({
            type: 'Get',
            url: newUrl,
            dataType: "json",
            success: function (res) {
                debugger;
                if (res == "true") {
                    document.getElementById("addProperty").disabled = true;
                }
                else
                {
                    document.getElementById("addProperty").disabled = false;
                }
            }
        });
    }

    ///////////####################//////////////////

    //function onViewPaymentDetails() {
    //    var ReceiptId = "";
    //    debugger;
    //    var url = "/Egov/SmartCity/PropertyPaymentDetails?ReceiptId=" + ReceiptId;
    //    var win = GetMainWindow();
    //    win.iframeOpenUrl = url;
    //    win.OpenWindow({ Title: "View Property Payment Detail", Width: 1000, Height: 700 });
    //    return false;
    //}
</script>
