@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model EGovDashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";

}
<link type="text/css" rel="stylesheet" href="~/css/cms/DashBoard.css" asp-append-version="true" />
<style>
    .summary-card {
        width: 400px;
        margin-right: 100px;
    }

    .summary-card-body {
        width: 400px;
    }

    .border-right {
        border-right: 1px solid #006699 !important;
    }

    .summary-card-header {
        width: 400px;
    }
</style>

<script type="text/javascript">

    function onClose() {
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: "RefreshComplaintGrid" })
    };

    function OpenService(serviceId, templateCode) {

        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ManageGrievanceForm?complaintId=' + serviceId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Complaint', Width: 1200, Height: 700 });
        return false;
    }

    var columnDefs = [
        {
            headerName: "Complaint No",
            field: "ServiceNo",
            cellRenderer: params => {
                var a = "";
                debugger;
                var cnt = params.data.FlagDetails.length;
                for (var i = 0; i < cnt; i++) {
                    if (params.data.FlagDetails[i].LevelJobTitle.includes("2")) {
                        a = a + '<span style="color:dodgerblue;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 2 </span>';
                    }
                    if (params.data.FlagDetails[i].LevelJobTitle.includes("3")) {
                        a = a + '<span style="color:orange;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 3 </span>';
                    }
                    if (params.data.FlagDetails[i].LevelJobTitle.includes("4")) {
                        a = a + '<span style="color:red;padding-left: 2px" class="fas fa-flag-pennant" title = "' + params.data.FlagDetails[i].OwnerUserName + '"> 4 </span>';
                    }
                }
                return a + "<input title='View Details' type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\" )' value=\"" + params.value + "\" />";

            }
        },
        {
            headerName: "Department",
            field: "Department",
        },
        {
            headerName: "Complaint Type",
            field: "GrievanceType",

        },
        {
            headerName: "Name",
            field: "Name",
        },
        {
            headerName: "Complaint Status",
            field: "GrvStatus",
            cellRenderer: params => {
                debugger;
                if (params.data.GrvStatusCode == null || params.data.GrvStatusCode == "GRV_PENDING") { return "<div style='background-color:#f7f5bc;padding-left:10px'>  Pending</div>"; }
                if (params.data.GrvStatusCode == "GRV_IN_PROGRESS") { return "<div style='background-color:#DFE9F5;padding-left:10px'>  " + params.value + "</div>"; }
                if (params.data.GrvStatusCode == "GRV_NOT_PERTAINING") { return "<div style='background-color:#FFCD91;padding-left:10px'>   " + params.value + "</div>"; }
                if (params.data.GrvStatusCode == "GRV_DISPOSED") { return "<div style='background-color:#90EE90;padding-left:10px'>   " + params.value + "</div>"; }
                else { return params.value; }
            }
        },
        {
            headerName: "Complaint Date",
            field: "CreatedDate",
            cellRenderer: params => {
                var date = new Date(params.value);
                return datefun(date);
            }
        },
    ];




    function datefun(d) {
        let h = addZero(d.getHours());
        let m = addZero(d.getMinutes());

        return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear() + " " + h + ":" + m;
    }

    function addZero(i) {
        if (i < 10) { i = "0" + i }
        return i;
    }


    $(document).ready(function () {
        $("#Mobile").kendoMaskedTextBox({
            label: "Mobile number:",
            mask: "0000000000"
        });
    });

    function getEmployeeDashboardData() {
        document.getElementById("kGridView").innerHTML = "";

        var catcodes = '@ViewBag.TemplateCode';
        var userId = $("#UserId").val();
        gridConfig(
            "kGridView",
            "/EGov/SmartCity/ReadComplaintDataWithMobileNumber?tempCodes=" + catcodes + "&userId=" + userId,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function onSearch() {
        var mobileNo = $("#Mobile").val();
        $.ajax({
            url: '@Url.Action("CheckUserExistingWithMobileNo", "SmartCity", new { @area= "EGov" })?mobileNo=' + mobileNo,
            type: 'GET',
            data: {},
            dataType: 'json',
            success: function (result) {
                $("#UserId").val(result.userId);
                getEmployeeDashboardData();

                $("#complaintDetails").show();
            },
            error: function (ert) {

            }
        });


    }

    function OnCreate() {
        var userId = $("#UserId").val();
        var mobileNo = $("#Mobile").val();
        var templatecode = '@ViewBag.TemplateCode';
        debugger;
        if (mobileNo == null || mobileNo == "") {
            alert("Please Enter Mobile No");
            return false;
        }
        if (userId == null || userId == "") {
            ShowLoader($('#divData'));
            $.ajax({
                url: '@Url.Action("CreateUserWithMobileNo", "SmartCity", new { @area= "EGov" })?mobileNo=' + mobileNo,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    HideLoader($('#divData'));
                    if (result.success) {
                        $("#UserId").val(result.userId);
                        CreateService(templatecode, result.userId);
                    }
                    else {
                        alert("Error");
                    }

                },
                error: function (ert) {
                    HideLoader($('#divData'));
                }
            });

        }
        else {
            CreateService(templatecode, userId);
        }
    }


    function CreateService(templatecode, userId) {

        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ManageGrievanceForm?ownerUserId=' + userId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'New Complaint', Width: 1200, Height: 700 });
        return false;
    }

    function RefreshComplaintGrid(msg) {
        getEmployeeDashboardData();
        myalert(msg);
    }




    function myalert(content) {
        debugger;
        $("<div></div>").kendoAlert({
            title: "Submission Confirmation",
            content: content.msg
        }).data("kendoAlert").open();
    }


</script>



<div class="row" style="padding:10px;margin-top:20px;" id="divData">
    <input type="text" id="UserId" class="form-control" hidden />
    <div class="row col-12">
        <div class="row col-8">
            <div class="col-4">
                <label style="font-size:14px;color:red">* Search for existing mobile number, else it will create new User using given Mobile No.</label>
            </div>
            <div class="col-8">

                <input  id="Mobile" style="width:100%" />

            </div>
        </div>
        <div class="col-4" style="margin-top:27px">
            <input type="button" class="btn btn-info" style="margin-right:5px" value="Search" onclick="onSearch()" />
            <button type='button' class='btn btn-info' onclick='onClose();'>&nbsp;Close</button>

        </div>
    </div>
    <div class="col-12 p-2" style="display:none" id="complaintDetails">
        <button type='button' class='btn btn-primary' onclick='OnCreate();'><i class='fa fas fa-plus'></i>&nbsp;Create Complaint </button>
        <br /><br />
        <div id="kGridView" style="width: 100%;height:400px" class="ag-theme-alpine"></div>
    </div>
</div>

