@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext;

@{
    ViewData["Title"] = "Lodge Complaint";
    Layout = null;
}
<style>

    .k-grid-header .k-header {
        position: relative;
        vertical-align: bottom;
        cursor: default;
        font-weight: 600 !important;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important;
        white-space: normal !important;
    }


    .k-header {
        position: relative;
        vertical-align: bottom;
        cursor: default;
        font-weight: 600 !important;
    }

    .k-header {
        overflow: visible !important;
        white-space: normal !important;
       
    }

    td[role="gridcell"] {
        /*white-space: nowrap;*/
    }

</style>


<script>
  

    $("#auto").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataSource: {
            severFiltering: true,
            transport: {
                read: {
                    url: "/EGov/SmartCity/GetJSCAutoListByTransferStation?transferStationId=@ViewBag.TransferStationId",
                }
            }
        }
    });

    //var presentDate = new Date();
    //$("#startDate").kendoDatePicker({
    //    format: "dd-MM-yyyy",
    //    value: "dd-MM-yyyy",
    //});

    //$("#endDate").kendoDatePicker({
    //    format: "dd-MM-yyyy",
    //    value: "dd-MM-yyyy",
    //});

    $("#startDate").kendoDatePicker({
            value: new Date(new Date().setMonth(new Date().getMonth())),
            format: "dd-MM-yyyy",
            dateInput: false
        });

        $("#startDate").attr("disabled", "disabled");


 $("#endDate").kendoDatePicker({
            value: new Date(new Date().setMonth(new Date().getMonth())),
            format: "dd-MM-yyyy",
            dateInput: false
        });

        $("#endDate").attr("disabled", "disabled");


    var columnDefs = [
        {
            headerName: "Date",
            field: "Date",
            attributes:{style:"text-align:right;"}
            //cellRenderer: params => {
            //    return "<div>" + datefun(params.value) + "</div>"
            //},
            //template: kendo.template($("#name-template").html())

        },
        {
            title: "Total No Of House Hold",
            field: "NoOfHouseHold",
            attributes:{style:"text-align:right;"}
        },
        {
            title: "Total No Of Commercial Units",
            field: "NoOfCommercial",
            attributes:{style:"text-align:right;"}
        },

        {
            title: "Work Start Time",
            field: "WorkStartTime",
            attributes:{style:"text-align:right;"}
        },
        {
            title: "Work End Time",
            field: "WorkEndTime",
            attributes:{style:"text-align:right;"}
        },
        {
            title: "Total No Of House Hold Covered",
            field: "NoOfHouseHoldCovered",
            attributes:{style:"text-align:right;"}
        },
        {
            title: "Total No Of Commercial Units Covered",
            field: "NoOfCommercialCovered",
            attributes:{style:"text-align:right;"}
        },


    ];

    var columnDefs1 = [
        {
            title: "No. Of Trips",
            field: "NoOfTrips",
            attributes:{style:"text-align:right;"}
        },
        {
            title: "Waste Collected From HHs (Kgs)",
            columns: [
                {
                    title: "Wet Waste",
                    field: "WetWaste",
            attributes:{style:"text-align:right;"}
                },
                {
                    title: "Dry Waste",
                    field: "DryWaste",
            attributes:{style:"text-align:right;"}
                },]
        },
        {
            title: "Waste Collected From Commercial units (Kgs)",
            columns: [
                {
                    title: "Wet Waste",
                    field: "WetWaste1",
            attributes:{style:"text-align:right;"}
                },
                {
                    title: "Dry Waste",
                    field: "DryWaste1",
            attributes:{style:"text-align:right;"}
                },]
        },
        {
            title: "No Of Houses From Where 70% Or Above Segregated Waste Received",
            field: "NoOfHousesFromWhere70OrAboveSegregatedWasteReceived",
            attributes:{style:"text-align:right;"}
        },
        {
            title: "Remarks",
            field: "Remarks",
        },
    ];

    function datefun(d) {
        //let h = addZero(d.getHours());
        //let m = addZero(d.getMinutes());
        d = new Date(d);
        return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
    }

    function addZero(i) {
        if (i < 10) { i = "0" + i }
        return i;
    }


    function getReportData() {
        debugger;
        var startDate = kendo.toString($("#startDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var endDate = kendo.toString($("#endDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var auto = $("#auto").val();
        if (auto == undefined || auto == null) {
            alert("Select Auto")
        } else if (startDate == undefined || startDate == null) {
            alert("Select Date")
        } else if (endDate == undefined || endDate == null) {
            alert("Select Date")
        } else {
            $.ajax({
                url: '/EGov/SmartCity/GetMSWAutoDetails?id=' + auto,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    var sumCapacity = parseInt(result.WetWasteCapacityKgs) + parseInt(result.DryWasteCapacityKgs)

                    var url = "/EGov/SmartCity/GetMSWReportDetails?transferStationId=@ViewBag.TransferStationId&autoId=" + auto + "&startDate=" + startDate + "&endDate=" + endDate;

                    var grid = $("#kGridView").kendoGrid({
                        toolbar: ["excel", "pdf"],
                        pdf: {
                              fileName: "MswReport.pdf",
                              allPages: true,
                              paperSize: "A3",
                              margin: { top: "2cm", right: "0.5cm", bottom: "1cm", left: "0.5cm" },
                              landscape: true,
                              scale: 0.8
                            },
                        excelExport: function (e) {
                            var sheet = e.workbook.sheets[0];
                            for (var i = 0; i < sheet.rows.length; i++) {
                                for (var ci = 0; ci < sheet.rows[i].cells.length; ci++) {
                                    var cell = sheet.rows[i].cells[ci];
                                    // add borders
                                    cell.borderTop = { color: "black", size: 1 };
                                    cell.borderRight = { color: "black", size: 1 };
                                    cell.borderBottom = { color: "black", size: 1 };
                                    cell.borderLeft = { color: "black", size: 1 };

                                    // change cell background
                                    cell.background = "#ffffff";
                                    cell.color = "black";
                                    if (i == 0) {
                                        cell.hAlign = "center";
                                    }
                                    if (i >= 0 && i < 5) {
                                        cell.bold = true;
                                    }
                                }
                            }
                        },
                        excel: {
                            fileName: "MSW_Report.xlsx",
                            proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                            filterable: true,
                            
                        },
                        dataSource: {
                            type: "json",
                            transport: {
                                read: url
                            },
                        },
                        height: 550,
                        groupable: false,
                        sortable: true,
                        resizable: true,
                        reorderable: true,
                        pageable: {
                            alwaysVisible: false,
                            pageSizes: [5, 10, 20, 100]
                        },                        //columnMenu: true,
                        columns: [{
                            title: "Jammu Municipal Corporation Daily MSW Collection",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center" },
                            columns: [
                                {
                                    title: "Auto Number: " + result.AutoNumber,
                                    columns: [
                                        {
                                            title: "Quantity Of  Solid Waste(As per Vehicle Capacity): " + sumCapacity.toString(),
                                            columns: columnDefs
                                        },]
                                },
                                {
                                    title: "Ward Number: " + result.WardNo,
                                    columns: [{
                                        title: "",
                                        columns: columnDefs1
                                    },]
                                }]
                        }]
                    });
                }
            });
        }
    }


</script>
<div class="p-2">
    <h4>
        Jammu Municipal Corporation Daily MSW Collection
    </h4>
</div>



<div class="row" style="padding:2%">
    <div class="col">
        <div class="form-label-group">
            <div>
                <span style="color:red">*</span> <label for="auto">Select Auto</label>
            </div>
            <input required id="auto" class="form-control" />
            <script>
            </script>
        </div>
    </div>
    <div class="col">
        <div class="form-label-group">
            <div>
                <span style="color:red">*</span> <label for="TravelDate">Select Start Date</label>
            </div>
            <input required id="startDate" class="form-control" />
        </div>
    </div>
    <div class="col">
        <div class="form-label-group">
            <div>
                <span style="color:red">*</span> <label for="TravelDate">Select End Date</label>
            </div>
            <input required id="endDate" class="form-control" />
        </div>
    </div>


    <div class="col" style="padding-top: 2%;">
        <button class="btn btn-primary" onclick="getReportData()">Show Report</button>
    </div>

</div>

<style>
    #vNo, #wNo, #solidWasteCapacity {
        font-weight: bold
    }
</style>

<div class="col-12 p-2">
    <div id="kGridView" style="width: 100%;height:500px" class="ag-theme-alpine"></div>
</div>
