
<!DOCTYPE html>
<html lang="ar-aa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>contact</title>
     <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

@*     <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
*@ 
 <link href="~/Themes/VisionPioneer/Contact-Form-Clean.css" rel="stylesheet">
<link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
</head>

<body>
<div dir="rtl">

   @* <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand nav-width" href="#">
                <div><img class="img-fluid" src="../../../../Themes/VisionPioneer/img/logo-vp.png"></div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">تبديل التنقل</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">مسكن</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">خدمات</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">معلومات عنا</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">البند الأول</a><a class="dropdown-item" href="#">العنصر الثاني</a><a class="dropdown-item" href="#">البند الثالث</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">تقدير</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">حياة مهنية</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">اتصل بنا</a></li>
                </ul>
                <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">اللغات</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">البند الأول</a><a class="dropdown-item" href="#">العنصر الثاني</a><a class="dropdown-item" href="#">البند الثالث</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: #81b445;">طلب معاودة الاتصال</a></span>
            </div>
        </div>
    </nav>*@
    <section style="background-image: url('../../../../Themes/VisionPioneer/img/contact-us-1.jpg');" class="banner-image">
        <div >
            <div class="container" style="padding-top: 25em; padding-bottom: 10em ;">
                <h1 class="text-white" style="font-size: 70px;font-style:italic">للإتصال بنا</h1>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom">
        <div class="container" dir="rtl" style="text-align:right;">
            <div class="row">
                 <div class="col-md-4 col-md-7 col-lg-7 col-sm-12"><div class="img-fluid"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3608.5473106990216!2d55.3359246!3d25.2521679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d1f0a3621c1%3A0xb0653605c8003a31!2sAl%20Kazim%20Building%20-%20Garhoud%20-%20Dubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1642744954709!5m2!1sen!2sin"  width="600" height="450" style="border:0; border-radius: 12px;" allowfullscreen="" loading="lazy"></iframe></div></div>
@*                <div class="col-md-4 col-md-7 col-lg-7 col-sm-12"><img class="w-100" src="../../../../Themes/VisionPioneer/img/asset-1wcd.png"></div>
*@                <div class="col-md-4 col-md-5 col-lg-5 col-sm-12 contact-col-right">
                    <h5 class="text-white">إبق قريباً</h5>
                    <h1 class="text-white">معلومات الإتصال</h1>
                    <div class="row padding-top-bottom">
                        <div class="col col-2"><i class="fa fa-mobile text-white" style="transform: scale(2);margin-top: 20px;margin-left: 10px; margin-right: 10px;"></i></div>
                        <div class="col col-10">
                            <h5 class="text-white">رقم الهاتف<br></h5>
                            <p class="text-white">+966-0114903855<br></p>
                        </div>
                    </div>
                    <div class="row padding-top-bottom">
                        <div class="col col-2"><i class="fa fa-location-arrow text-white" style="transform: scale(2);margin-top: 20px;margin-left: 10px; margin-right: 10px;"></i></div>
                        <div class="col col-10">
                            <h5 class="text-white">العنوان<br></h5>
                            <p class="text-white">الطابق 18، برج الفيصلية<br>طريق الملك فهد، منطقة العلية<br>صندوق بريد رقم 52995، الرياض 1152411524<br>المملكة العربية السعودية<br></p>
                        </div>
                    </div>
                    <div class="row padding-top-bottom">
                        <div class="col col-2"><i class="fa fa-envelope text-white" style="transform: scale(2);margin-top: 20px;margin-left: 10px; margin-right: 10px; font-size: 10px;"></i></div>
                        <div class="col col-10">
                            <h4 class="text-white">البريد الإلكتروني<br></h4>
                            <p class="text-white">info@visionpioneers.com<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-clean">
        <form method="post">
            <h2 class="text-center">أرائكم؟</h2>
            <h1 class="text-center contact-blue-heading">ابعثوا لنا بملاحظاتكم</h1>
            <div class="container">
                <div class="form-row padding-top-bottom">
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" name="Name" placeholder="الإسم بالكامل"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" name="Phone Number" placeholder="رقم الهاتف"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input class="form-control" type="text" name="Email" placeholder="البريد الإلكتروني"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><textarea class="form-control" name="message" placeholder="رسالتك" rows="14"></textarea></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><button class="btn btn-primary" type="submit">إرسال</button></div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    @*<section class="footer padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>خدمات</strong><br></h3>
                    <p class="text-white">اكتساب المواهب الكامل</p>
                    <p class="text-white">التحول التنظيمي</p>
                    <p class="text-white">استشارات الموارد البشرية</p>
                    <p class="text-white">تطوير الاستراتيجيات</p>
                    <p class="text-white">خدمات التكنولوجيا</p>
                    <p class="text-white">محاذاة الشركات والعلامات التجارية</p>
                    <p class="text-white">تصميم المواقع والمحتوى</p>
                    <p class="text-white">خدمات أخرى</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>شركة</strong><br></h3>
                    <p class="text-white">About Us&nbsp;</p>
                    <p class="text-white">اتصل بنا</p>
                    <p class="text-white">ملف الشركة</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 text-center"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">طلب معاودة الاتصال</button></div>
            </div>
            <div class="row"><div class="col-md-12 text-white"><hr></div>
                <div class="col">
                    <p class="text-white">©&nbsp;2022&nbsp;Vision Pioneers<br></p>
                    <p class="text-white">This website is designed &amp; commissioned by Vision Pioneers.<br></p>
                </div>
            </div>
        </div>
    </section>*@
</div>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>