@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Vision Pioneer - الصفحة الرئيسية";
    Layout = null;
}
<html lang="ar-aa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

</head>
<body>
    <div dir="rtl">
        <section id="hero-banner">
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item  hero-banner-slider padding-hero-banner" style="background-image: url('../../../../Themes/VisionPioneer/img/Slider-1.jpg'); background-repeat: no-repeat;">
                        <div class="container">
                            <h1 class="hero-banner-heading text-white">روّاد الرؤية</h1>
                            <h1 class="hero-banner-subheading text-white">شريكك الموثوق في إنشاء قصص النجاح&nbsp;</h1>
                            <p class="hero-banner-description text-white w-75"><br>من خلال جلب القدرات المفقودة لديك إلى عملك</p>
                        </div>
                    </div>
                    <div class="carousel-item active hero-banner-slider padding-hero-banner" style="background-image: url('../../../../Themes/VisionPioneer/img/service-slider.jpg'); background-repeat: no-repeat; ">
                        <div class="container">
                            <h1 class="hero-banner-subheading text-white">خدمات وحلول مصممة خصيصاً</h1>
                            <p class="hero-banner-description text-white w-75"><br>خدمات أعمال موثوقة وفعالة من حيث التكلفة وفقًا للمعايير الدولية وأفضل الممارسات والمعايير المصممة وفقًا لمتطلباتك.&nbsp;</p>
                        </div>
                    </div>
                    <div class="carousel-item hero-banner-slider padding-hero-banner" style="background-image: url('../../../../Themes/VisionPioneer/img/Slider-3.jpg'); background-repeat: no-repeat; ">
                        <div class="container">
                            <h1 class="hero-banner-subheading">من نحن؟</h1>
                            <p class="hero-banner-description w-75" style="font-weight:500">شركة وطنية سعودية تقدم حلولاً استشارية وإدارية ذات محتوى محلي من خلال توطين الحلول العالمية وتنفيذها بما يتناسب مع بيئة العمل المحلية.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0"></li>
                    <li data-target="#carousel-1" data-slide-to="1" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
            </div>
        </section>
        <section id="content">
            <div class="container top-spacing-50">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1><strong>خدمات وحلول مخصصة</strong><br></h1>
                        <p><br>.خدمات أعمال موثوقة وفعالة من حيث التكلفة وفقًا للمعايير الدولية وأفضل الممارسات والمعايير المصممة وفقًا لمتطلباتك<br><br></p>
                    </div>
                </div>
                <div class="row"  style="text-align: right;">
                    <div class="col-md-4 col-lg-8 col-sm-12 col-md-12">
                        <h1><strong>إنجح بثقة</strong><br></h1>
                        <ul>
                            <li><i class="fas fa-angle-left" style="color: deepskyblue"></i><span style="margin-right:20px">ضمان نمو ناجح وإيجابي لعملائنا من خلال تطوير شراكة طويلة الأمد معهم.</span><br></li>
                            <li><i class="fas fa-angle-left" style="color: deepskyblue"></i><span style="margin-right:20px"> بالنظر إلى بيانات المشكلة وحالة العمل ، نقوم بإنشاء خريطة طريق استراتيجية ونطور خطة مشروع خطوة بخطوة مع مراحل قابلة للقياس لتحقيق نتائج مستدامة.</span><br></li>
                            <li><i class="fas fa-angle-left" style="color: deepskyblue"></i> <span style="margin-right:20px">من خلال نهجنا المركّز نحو تحقيق الأهداف النهائية ، نبدأ في تحقيق نجاحات سريعة منذ بداية التعامل معك.</span><br></li>
                            @*<li><span style="color:deepskyblue"><strong>></strong></span>Item 4</li>*@
                        </ul>

                    </div>
                    <div class="col-md-4 text-center col-md-12 col-lg-4">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2slider-3.png">
                            <div class="card-img-overlay overlay-background-style"><button class="btn btn-primary top-spacing-200" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="top-spacing-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2cta.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">اكتساب المواهب المتكامل</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2ot.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">
                                    التحول المؤسسي
                                </h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/Asset_1HRC.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">إستشارات إدارة الموارد البشرية</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="top-spacing-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-1ds.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">
                                    إستراتيجيات التطوير
                                </h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-1ts.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">
                                    خدمات تقنية
                                </h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-3cab.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">
                                    المواءمة المؤسسية والعلامات التجارية
                                </h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="top-spacing-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-1wcd.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">تصميم المواقع الإلكترونية وإنشاء المحتوى</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card h-100">
                            <img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2os.png">
                            <div class="card-img-overlay overlay-background-style">
                                <h4 class="text-white overlay-card-heading">
                                    خدمات أخرى
                                </h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">مزيد من المعلومات</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="top-spacing-50 section-blue text-white text-center padding-top-bottom">
            <div class="container">
                <h1 class="pt-3">من نحن؟</h1>
                <p class="text-center">
                    <br>شركة وطنية سعودية تقدم حلولاً استشارية وإدارية ذات محتوى محلي من خلال توطين الحلول العالمية وتنفيذها بما يتناسب مع بيئة العمل المحلية.
                    لدينا فريق متنوع من الاستشاريين يلبي احتياجات جميع القطاعات (الصغيرة والمتوسطة والكبيرة) والصناعات. لدينا عدة سنوات من الخبرة في خدمة العملاء في جميع أنحاء المملكة.
                    نحن نقدم أفضل ممارسات الأعمال والقوالب ومجموعات الأدوات والأطر لتحسين فرص نجاح مؤسستك من خلال الاستفادة من معرفتنا وخبراتنا.<br><br>
                </p><button class="btn btn-primary" type="button" style="background: rgb(129,180,69);border-style: none;">معلومات عنا &nbsp;</button>
            </div>
        </section>
        <section class="top-spacing-50 text-center padding-top-bottom">
            <div class="container">
                <h1>شركاؤنا</h1>
                <p class="text-center">
                    <br>نحن نؤمن بإقامة شراكة طويلة الأمد مع الهيئات المعرفية لجميع القطاعات والمؤسسات المهنية لتقديم خبراتهم لعملائنا في السوق السعودية.
                    تفخر روّاد الرؤية بالشراكة مع APQC (المركز الأمريكي للإنتاجية والجودة) ، وهي السلطة العالمية الرائدة في تقديم أفضل الممارسات والعمليات وتحسينات الأداء والمعايير.
                    أقامت روّاد الرؤية شراكة إستراتيجية مع XtraNet لتوفير حلول التحول الرقمي من البداية إلى النهاية.<br><br>
                </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-apqc-edited.jpeg.png"></div>
                    <div class="col-md-6"><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-xtranetindia.png"></div>
                </div>
            </div>
        </section>
        <section class="testimonials-clean top-spacing-50 padding-bottom">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">شهادات المتعاملين</h2>
                </div>
                <div class="row people" style="text-align:right">
                    <div class="col-12 col-md-6 col-lg-4 item col-lg-12 col-md-12 col-sm-12">
                        <div class="box">
                            <p class="description"><br>استفادت MSJ للأنظمة الأمنية بشكل كبير من خلال الشراكة مع روّاد الرؤية  لخدمات الاستشارات لبرنامج التحول المؤسسي. نحن معجبون بالالتزام والمعرفة والمهنية التي أظهرها روّاد الرؤية  في تقديم أهداف البرنامج وفقًا للنطاق المتفق عليه والتكلفة والجدول الزمني والجودة.<br><br></p>
                        </div>
                        <div class="author">
                            <img class="testimonials-img" src="~/Themes/VisionPioneer/img/testimonial-avatar-msj-1.png">
                            <span class="name">المدير العام</span><br>
                            <span class="title"><a href="http://www.joomshaper.com/">MSJ للأنظمة الأمنية، الرياض ، المملكة العربية السعودية</a><br></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="subscribe padding-top-bottom top-spacing-50">
            <div class="container text-center pt-5">
                <img class="w-25" src="~/Themes/VisionPioneer/img/evelop-letter.png">
                <h1 class="mt-5">للإشتراك معنا</h1>
                <section class="newsletter-subscribe">
                    <div class="container">
                        <form class="form-inline" method="post">
                            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="البريد الإلكتروني"></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">البريد الإلكتروني</button></div>
                        </form>
                    </div>
                </section>
            </div>
        </section>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>