@*@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DocumentController> Resource*@
@inject IStringLocalizer<CMS.UI.Web.Controllers.DocumentController> Resource
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Synergy.App.ViewModel;
@using Synergy.App.Common
@{
    ViewData["Title"] = "Copy Link";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <h6>@ViewBag.URL</h6>
    </div>
</div>
