@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model PageViewModel;
@{
    Layout = string.Concat("~/Views/Shared/Themes/", Model.Portal.Theme.ToString(), "/_Layout.cshtml");
}
<div id="cms-content" style="min-height:620px;">
</div>






