@*<h1>Company Profile</h1>
    <div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
        </p>
    </div>*@
<script>
function cmpprf(){
    var tempCode = 'VP_EN_COMP_PROF_PDF';
   
        alert(tempCode);
        url = '/cms/Document/GetApplicationDocument?documentCode=' + tempCode;
        window.open(url, '_blank');
    }
    </script>
<div>
    <Button onclick="cmpprf()">test</Button>
</div>