
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Homepage</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
<link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

</head>

<body>
    @*<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand nav-width" href="#">
                <div><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-vp.png"></div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">About Us</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Assessment</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ContactUs</a></li>
                </ul>
                <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">Languages</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: #81b445;">Request Call Back</a></span>
            </div>
        </div>
    </nav>*@
    <section id="hero-banner">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
                <div class="carousel-item active hero-banner-slider padding-hero-banner" style="background-image: url('../../../../Themes/VisionPioneer/img/Slider-1.jpg');">
                    <div class="container">
                    <h1 class="hero-banner-heading text-white">Vision Pioneers</h1>
                    <h1 class="hero-banner-subheading text-white">Your trusted Partner in creating success stories&nbsp;</h1>
                    <p class="hero-banner-description text-white w-75"><br>By bringing missing pieces of capabilities to your business</p>
                    </div>
                </div>
                <div class="carousel-item hero-banner-slider padding-hero-banner" style="background-image: url('../../../../Themes/VisionPioneer/img/service-slider.jpg');">
                    <div class="container">
                    <h1 class="hero-banner-subheading text-white">Customized Services and Solutions</h1>
                    <p class="hero-banner-description text-white w-75"><br>Reliable and cost effective business services as per international standards,best practices and benchmarks tailored to your requirements.&nbsp;</p>
                    </div>
                </div>
                <div class="carousel-item hero-banner-slider padding-hero-banner" style="background-image: url('../../../../Themes/VisionPioneer/img/Slider-3.jpg');">
                    <div class="container">
                    <h1 class="hero-banner-subheading">Who we are?</h1>
                    <p class="hero-banner-description w-75" style="font-weight:500">A Saudi national company, providing consultancy and management solutions with local content by localization of global solutions and implement it inline with the local working working environment.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class=""><i class="far fa-3x fa-chevron-circle-left"> </i></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class=""><i class="far fa-3x fa-chevron-circle-right"> </i></span><span class="sr-only">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <section id="content">
        <div class="container top-spacing-50">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1><strong>Customized Services and Solutions</strong><br></h1>
                    <p><br>Reliable and cost effective business services as per international standards, best practices and benchmarks tailored to your requirements.<br><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-8 col-sm-12 col-md-12">
                    <h1><strong>Succeed with confidence</strong><br></h1>
                    <ul>
                        <li>Ensure successful, positive growth for our clients by developing long term partnership with them.<br></li>
                        <li>Looking at your problem statements and business situation, we create strategic road map and develop step by step project plan with measurable milestones to achieve sustainable results.<br></li>
                        <li>With our focused approach towards achieving end goals, we start achieving quick wins from the very beginning&nbsp; of the engagement with you.<br></li>
                        <li>Item 4</li>
                    </ul>
                </div>
                <div class="col-md-4 text-center col-md-12 col-lg-4">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2slider-3.png">
                        <div class="card-img-overlay overlay-background-style"><button class="btn btn-primary top-spacing-200" type="button" style="background: #81b445;border-style: none;">More Information</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-spacing-20">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2cta.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Complete Talent Acquistion</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2ot.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Organizational Transformation</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/Asset_1HRC.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Human Resource Consultancy</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-spacing-20">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-1ds.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Developing Strategies</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-1ts.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Technology Services</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-3cab.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Corporate Alignment &amp; Branding</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-spacing-20">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-1wcd.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Web Designing and Content Creation</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card h-100"><img class="card-img w-100 d-block h-100" src="~/Themes/VisionPioneer/img/asset-2os.png">
                        <div class="card-img-overlay overlay-background-style">
                            <h4 class="text-white overlay-card-heading">Other Services</h4><button class="btn btn-primary top-spacing-20" type="button" style="background: #81b445;border-style: none;">More Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-spacing-50 section-blue text-white text-center padding-top-bottom">
        <div class="container">
            <h1 class="pt-3">Who we are ?</h1>
            <p class="text-justify"><br>A Saudi national company, providing consultancy and management solutions with local content by localization of global solutions and implement it in line with the local working environment. Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the Kingdom. We are offering the best business practices, templates, toolkits &amp; frameworks to improve chances of success of your organization by leveraging on our knowledge and expertise.<br><br></p><button class="btn btn-primary" type="button" style="background: rgb(129,180,69);border-style: none;">About Us&nbsp;</button>
        </div>
    </section>
    <section class="top-spacing-50 text-center padding-top-bottom">
        <div class="container">
            <h1>Our Partners</h1>
            <p class="text-justify"><br>We believe in creating long term partnership with industry bodies of knowledge and professional institutions to bring their expertise to our clients in Saudi market.<br>Vision Pioneers is proud to partner with APQC(American Productivity and Quality Center), which is the leading world authority on delivering best practices, process, performance improvements and benchmarking.<br>Vision Pioneers established the strategic partnership with XtraNet to provide end to end digital transformation solutions.<br><br></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-apqc-edited.jpeg.png"></div>
                <div class="col-md-6"><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-xtranetindia.png"></div>
            </div>
        </div>
    </section>
    <section class="testimonials-clean top-spacing-50 padding-bottom">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonial</h2>
            </div>
            <div class="row people">
                <div class="col-12 col-md-6 col-lg-4 item col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <p class="description"><br>MSJ security systems benefited immensly by partnering with Vison Pioneers consultancy services for organizational transformation program. We are impressed with commitment, knowledge and professionalism shown by the Vision Pioneers in delivering program objectives as per agreed scope, cost, timeline and quality.<br><br></p>
                    </div>
                    <div class="author"><img class="testimonials-img" src="~/Themes/VisionPioneer/img/testimonial-avatar-msj-1.png">
                        <h5 class="name">General Manager</h5>
                        <p class="title"><a href="http://www.joomshaper.com/">MSJ Security Systems, Riyadh, KSA</a><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe padding-top-bottom top-spacing-50">
        <div class="container text-center pt-5"><img class="w-25" src="~/Themes/VisionPioneer/img/evelop-letter.png">
            <h1 class="mt-5">Subscribe US</h1>
            <section class="newsletter-subscribe">
                <div class="container">
                    <form class="form-inline" method="post">
                        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                        <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
                    </form>
                </div>
            </section>
        </div>
    </section>
    @*<section class="footer padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Services</strong><br></h3>
                    <p class="text-white">Complete Talent Acquistion</p>
                    <p class="text-white">Organizational Transformation</p>
                    <p class="text-white">Human Resource Consultancy</p>
                    <p class="text-white">Developing Strategies</p>
                    <p class="text-white">Technology Services</p>
                    <p class="text-white">Corporate Alignment &amp; Branding</p>
                    <p class="text-white">Web and Content Designing</p>
                    <p class="text-white">Other Services</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Company</strong><br></h3>
                    <p class="text-white">About Us&nbsp;</p>
                    <p class="text-white">Contact Us</p>
                    <p class="text-white">Company Profile</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 text-center"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">Request Call Back</button></div>
            </div>
            <div class="row"><div class="col-md-12 text-white"><hr style="height:1px;border-width:0;color:white ;background-color:white"></div>
                <div class="col">
                    <p class="text-white">©&nbsp;2022&nbsp;Vision Pioneers<br></p>
                    <p class="text-white">This website is designed &amp; commissioned by Vision Pioneers.<br></p>
                </div>
            </div>
        </div>
    </section>*@
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>