@inject Synergy.App.Common.IUserContext _userContext
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>


    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/layout.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/floating-labels.css" />
            <link rel="stylesheet" href="~/css/jquery-splitter.css" />
            <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@


    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/layout.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/floating-labels.css" />
    <link rel="stylesheet" href="~/lib/flowy/css/flowy.min.css" />
    <link rel="stylesheet" href="~/css/Rec/recruitment.css" />

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/jquery-context-menu/dist/jquery.contextMenu.min.css">
    <link href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery-splitter.css" />

    <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery-ajax-unobtrusive.js"></script>


    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/jquery.min.js"></script>
    <script src="~/js/jquery-splitter.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.aspnetmvc.min.js"></script>

    <script src="~/lib/formio/js/formio.full.js"></script>
    <script src="~/lib/flowy/js/flowy.min.js"></script>
    <script src="~/lib/flowy/js/main.js"></script>
    <script src="~/js/Rec/recruitment.js"></script>

    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.aspnetmvc.min.js"></script>

    <style>
        #content-wrapper {
            background-color: #fff !important;
        }
    </style>
    <script>
        var onAjaxBegin = function () {
            // alert("onBegin");
        };

        var onAjaxComplete = function () {

        };
        var onAjaxFailed = function (context, res) {
        };
        var showError = function (error) {
            $("#validation-summary").html(error);
            $("#validation-summary").css("display", "block")

        }
        function ShowNotification(msg, type) {
            var popupNotification = $("#popupNotification").kendoNotification({
                position: {
                    pinned: true,
                    top: 100,
                    right: 30
                }
            }).data("kendoNotification");
            popupNotification.show(msg, type);
        }

    </script>
</head>
<body class="k-content">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Iframe Window-->
    @*@(Html.Kendo().Window().Name("kiframepopupwindow")
        .Title("Window_TitlePopupWindow")
        .Visible(false)

        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")
.Actions(actions => actions.Maximize().Close())

.Width(200)
.Height(350)
.Events(e => e.Activate("OnIframeActivate").Open("OnIframeOpen").Close("OnIframeClose").Refresh("OnIframeRefresh").Deactivate("OnIframeDeactivate"))
    )
    @(Html.Kendo().Window().Name("kiframepopupwindow2")
        .Title("Window_TitlePopupWindow")
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")

        .Width(200)
.Height(350)
.Actions(actions => actions.Maximize().Close())
.Events(e => e.Activate("OnIframeActivate2").Open("OnIframeOpen2").Close("OnIframeClose2").Refresh("OnIframeRefresh2").Deactivate("OnIframeDeactivate2"))
    )*@
    
</body>
</html>