@model Synergy.App.ViewModel.LoginViewModel
@{
    Layout = Model.Layout;
}
<style>
    .login-bg1 {
        background-image: url(/images/login-bg.png);
        background-repeat: no-repeat;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
</style>
<div class="container main-bg1" style="width: 966px; ">
    @*<form asp-controller="Account" asp-action="Login" class="form-horizontal" asp-area=""
        data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
        data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
        data-ajax="true" data-ajax-method="POST">*@

    <form class="" id="loginform" asp-action="LoginAjax" asp-controller="Account" method="post" asp-area=""
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">

        <div class="login-body" style="height:400px;width:460px;background-color: #1D4993;">
            <br />
            @*<img src="~/images/login-bg.png" style="height:500px;width:467px;" />*@
            <div id="validation-summary" style="color:white" asp-validation-summary="All"></div>
            <div class="row">
                <div class="col login-bg1" style="height:450px;">
                    <br />
                    <div class="login-body-form">
                        <div class="row">
                            <div class="col email-tgap">
                                <input asp-for="Email" type="text" class="round-text-box" placeholder="Email" required="required" autofocus>
                                <div class="img-email"><img src="~/images/ico-email.png"></div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col pwd-tgap">
                                <input asp-for="Password" type="password" class="round-text-box" placeholder="Password" required="required" id="pwd">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>
                        <div class="row">
                            @* <div class="col pwd-tgap text-center"><img src="~/images/but-login.png" style="width: 366px;text-align: center;"></div>*@
                            @* <button class="btn btn- btn-lg btn-block " type="submit">Login</button>*@
                            <input class="col pwd-tgap text-center" type="image" src="~/images/but-login.png" value="Save" />
                            <input class="col pwd-tgap text-center" type="image" src="~/images/but-register.png" value="Register" onclick="return OnRegister();" />


                        </div>

                        <div class="row" style="margin-top:-21px">
                            <div class="col pwd-tgap text-center">
                                <div class="col pwd-tgap text-center "><label class="form-label forgot-pwd"><a style="color:white;font-weight: 500;" href="/account/forgotpassword?portalId=@Model.PortalId">Forgot Password?</a></label></div>

                                <div class="form-check"><input asp-for="RememberMe" class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Remember me<br></label></div>
                            </div>
                            @*<div class="col pwd-tgap text-center "><label class="form-label forgot-pwd"><a href="#" style="color:white">Forgot Password?</a></label></div>*@
                        </div>
                        <input asp-for="LoginViewName" type="hidden" />
                        <input asp-for="PortalId" type="hidden" />
                        <input asp-for="ReturnUrl" type="hidden" />
                        <input asp-for="RenderMode" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var onAjaxSuccess = function (res) {
        if (res.success) {
            LoadPartailView(res.ru, $('#cms-content'));
        }
        else {

            showError(res.error);
        }
    };
    function OnRegister() {
        var customurl = 'layout=@(Model.Layout==null?"empty":null)&returnurl=@(Model.ReturnUrl)';
        LoadPageById('', 'Custom', '', '', '', '_Layout', '1000', '800', 'Register', '', '', '', '@Model.PortalId','',null, 'Register');
       // LoadPageById('', 'Custom', '', '', '', popup, w, h, title, cbm, reload, templatecodes, portalId, container, iframe, pageName);

        return false;
    }
     var onAjaxSuccess = function (res) {
         if (res.success) {
             window.location.href = res.url;
             return false;
        }
        else {
            showError(res.error);
        }
    };
</script>

