@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;
@{
    Layout = null;
}

@model TemplateViewModel
@inject IUserContext _userContext;

<style>

    .title-bg1 {
        background-color: #070f74;
        padding: 6px 0 2px 20px;
        margin: 0;
        font-size: 20px;
        color: #fff;
        border-radius: 12px 12px 0 0;
        height: auto;
        font-weight: 500;
    }

    .indiv-block-bg1 {
        /* background-color: #F5EBBC; */
        height: 100px;
        width: 230px;
        border-radius: 20px;
        margin-left: 20px;
        overflow: hidden !important;
        /* border: 1px solid #e66c80; */
        background-color: #cdcdcd;
    }

    .label1 {
        font-size: 20px;
    }

    .cancel-button {
        background: #eb7c63;
        order: 2;
    }

    .k-listview-content {
        height: unset !important;
        overflow-y: hidden !important;
    }

    .k-listview {
        border-style: none !important;
        height: unset !important;
    }

    #listView, #listViewPO, #listViewPU {
        padding: 10px 5px;
        margin-bottom: -1px;
        display: flex;
    }

    .card {
        float: left;
        position: relative;
        width: 270px;
        height: 175px;
        margin: 0 10px;
        padding: 0;
    }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .footer-item {
        cursor: pointer;
        border: 1px solid;
        border-radius: 30px;
        padding: 4px;
        padding-left: 13px;
        margin-left: 10px;
    }

    .nts-card {
        float: left;
        position: relative;
        width: 253px;
        margin: 0 10px;
        padding: 0;
        height: 180px;
        margin-top:5px;
    }

    .card-body-margin {
        padding: 1em;
    }

    .card-border {
        border-color: var(--info);
    }

    .card-number-div {
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
    }

    .card-number-all {
        cursor: pointer;
        border-radius: 6px;
    }

        .card-number-div:hover, .card-number-all:hover {
            background-color: #f2f2f2;
        }
</style>
<script>

    $(document).ready(function () {
        
        var dataSourcePM = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/NtsTask/ReadTemplatesListWithTaskCount?templateCodes=@Model.TemplateCodes&catCodes=@Model.CategoryCodes&groupCodes=@Model.GroupCodes&showAllServicesForAdmin=@Model.ShowAllServicesForAdmin",                    
                    dataType: "json",
                }
            },            
        });

        $("#listView").kendoListView({
            dataSource: dataSourcePM,
            //height: 350,
            scrollable: "endless",
            template: kendo.template($("#template").html())
        });
        
    });  
          

    function OpenTaskList(tcode, status) {
        var url = '/cms/NtsTask/TaskListByFilters?serTempCodes=' + tcode + '&statusCodes=' + status + '&userId=@Model.UserId&portalIds=@Model.PortalId&cbm=OnRefresh';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Task List', Width: 1200, Height: 650, Position: 'Right1' });
        return false;
    }

    function OnRefresh() {
        $("#listView").data("kendoListView").dataSource.read();
    }

    $("#searchTaskListView").keyup(function () {
        var val = $('#searchTaskListView').val();
        var listView = $("#listView").data("kendoListView");
        listView.dataSource.filter({
            logic: "or",
            filters: [
                {
                    field: "DisplayName",
                    operator: "contains",
                    value: val
                },

            ]
        });
    });

</script>

<!--<script id="template" type="text/kendo-ui-template">

    <div class="card mb-3">
        <div class="card-header">#:DisplayName#</a></div>
        <div class="card-body text-secondary">
            <div class="row col-12" style="color:dodgerblue;cursor:pointer;" onclick="OpenTaskList('#:TemplateCode#','TASK_STATUS_INPROGRESS,TASK_STATUS_OVERDUE')">
                <div class="col-7">Inprogress</div>
                <div class="col-5">#:AssignedToMeInProgreessOverDueCount#</div>
            </div>
            <div class="row col-12" style="color:green;cursor:pointer;" onclick="OpenTaskList('#:TemplateCode#','TASK_STATUS_COMPLETE')">
                <div class="col-7">Completed</div>
                <div class="col-5">#:AssignedToMeCompleteCount#</div>
            </div>
            <div class="row col-12" style="color:red;cursor:pointer;" onclick="OpenTaskList('#:TemplateCode#','TASK_STATUS_REJECT,TASK_STATUS_CANCEL')">
                <div class="col-7">Rejected</div>
                <div class="col-5">#:AssignedToMeRejectCancelCloseCount#</div>
            </div>
        </div>-->
        @*<div class="card-footer text-muted" style="margin:0px;padding: 8px 0px;">
            <div class="row col-12" style="margin-left: 0px;">
                <div class="col-3 footer-item" #if(ResponseType == '1'){# style="color:green;" #}else{# style="color:grey;" #}#  onclick="OnClick('#:Id#','Like')">#:LikesCount# <i class="fa-solid fa-thumbs-up" title="Like" style="margin-left:5px;cursor:pointer;padding-top:3px;"></i></div>
                <div class="col-3 footer-item" #if(ResponseType == '2'){# style="color:red;" #}else{# style="color:grey;" #}# onclick="OnClick('#:Id#','Dislike')">#:DislikesCount# <i class="fa-solid fa-thumbs-down" title="Dislike" style="margin-left:5px;cursor:pointer;padding-top:3px;"></i></div>
                <div class="col-3 footer-item" style="color:dodgerblue;" onclick="onCommentClick('#:ServiceId#');">#:CommentsCount# <i class="fa-solid fa-message-lines" title="Comments" style="margin-left:5px;cursor:pointer;padding-top:3px;"></i></div>
            </div>
        </div>*@
    <!--</div>

</script>-->

<script id="template" type="text/kendo-ui-template">
        <div class="card nts-card mb-4">
        <div class="card-body card-body-margin">
            <div class="row ">
                <div class="col-9" style="font-size:1.5em;">
                    <span class="card-number-all p-1" onclick="OpenTaskList('#:TemplateCode#','')">
                        #:TotalCount#
                    </span>
                </div>
                <div class="col-3">
                    <i class="fa fa-list-alt pt-1" style="font-size:2em"></i>
                </div>
                <div class="col-12" style="font-size:.9em;">
                    #:DisplayName#
                </div>
            </div>
            <hr class="mt-1 mb-1" />
            <div class="row no-gutters">
                <div class="col-4 text-primary" style="text-align:center">
                    <div class="p-1 card-number-div" onclick="OpenTaskList('#:TemplateCode#','TASK_STATUS_INPROGRESS,TASK_STATUS_OVERDUE')">
                        <div class="pb-1" style="font-size:1.2em">#:AssignedToMeInProgreessOverDueCount#</div>
                        <div class="bg-primary" style="height:8px; border-radius:4px;">&nbsp;</div>
                        <div class="pt-1" style="font-size:.6em;">IN PROGRESS</div>
                    </div>
                </div>
                <div class="col-4 text-success" style="text-align:center">
                    <div class="p-1 card-number-div" onclick="OpenTaskList('#:TemplateCode#','TASK_STATUS_COMPLETE')">
                        <div class="pb-1" style="font-size:1.2em">#:AssignedToMeCompleteCount#</div>
                        <div class="bg-success" style="height:8px; border-radius:4px;">&nbsp;</div>
                        <div class="pt-1" style="font-size:.6em;">COMPLETED</div>
                    </div>
                </div>
                <div class="col-4 text-danger" style="text-align:center">
                    <div class="p-1 card-number-div" onclick="OpenTaskList('#:TemplateCode#','TASK_STATUS_REJECT,TASK_STATUS_CANCEL')">
                        <div class="pb-1" style="font-size:1.2em">#:AssignedToMeRejectCancelCloseCount#</div>
                        <div class="bg-danger" style="height:8px; border-radius:4px;">&nbsp;</div>
                        <div class="pt-1" style="font-size:.6em;">REJECTED</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</script>

<br />
<div class="row" style="padding-left:10px;">
    <div class="col-5" style="font-weight:500;font-size:22px">Task Dashboard </div>
    <div class="col-6">
        <input id="searchTaskListView" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>
</div>
<br />
<div id="listView" style="height:650px;background-color: transparent;margin-right:10px;"></div>



