@using CMS.UI.ViewModel;
@using CMS.Common;
@model IdNameViewModel

@{
    Layout = string.Concat("~/Views/Shared/_Layout.cshtml");

}


<div class="pad-15">
    <form asp-controller="Home" asp-action="SubmitUpdateTableMetadata" method="post" class="form-horizontal">
        <input asp-for="Name" type="text" />
        <button type="submit" class="btn btn-primary">@ViewBag.Test</button>
    </form>
</div>





