@{
    ViewData["Title"] = "AboutUs";
    //Layout = null;
}
<style>
    /*.card-body {
        padding: 10px !important;
          width:100px;
        font-size:16px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 3px 0 rgb(218 218 253 / 65%), 0 1px 3px 0 rgb(206 206 238 / 54%);
    }*/
</style>


<body>
    <div>

        <div class="hero-banner">
            <div class="row">
                <div class="col HB-about-us-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">About Us</h1>
                                    <p class="banner-text-sml">The Synergy Low Code Digital Transformation Platform is built as a modular tool to fit into your business environment seamlessly.<br><br>Get to know the company behind the code more closely!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h2 class="main-title-bg">Who we are?<br></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <p>We use our experience and skills to deliver the best business practices, templates, toolkits, and frameworks to help your organization succeed. Customers may use our solution to get the information they need and the context they need to make better decisions and run their operations more efficiently. We have more than 20 years of expertise serving consumers all over the world. We have also serviced in various sectors and industries (small, medium, and large).<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">&nbsp;Who we serve<br></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <p>Low-code digital transformation by Synergy is simply adaptable and may be used by all corporate sectors, including banking, healthcare, government, oil and gas, construction and infrastructure, manufacturing, real estate, hospitality (hotels and restaurants), and so on.<br></p>
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Government/Public Sector</li>
                                                            <li class="p-2">Financial Institutions/Banks</li>
                                                            <li class="p-2">Construction/Infrastructure</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Telecom/Call Centers</li>
                                                            <li class="p-2">Retail/Hospitality</li>
                                                            <li class="p-2">Oil &amp; Gas</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center max-500"><img class="img-fluid" src="../../Themes/SynergySolutions/images/About-us.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Our purpose<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                <p>Synergy low-code digital transformation is intended to assist businesses in digitalizing their day-to-day processes and reducing manual labour in an easy and cost-effective manner.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Our Culture<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                <ul class="synergyList">
                                                    <li class="p-2">We are a customer-centric firm that values both external and internal customers.<br></li>
                                                    <li class="p-2">We believe in empowering our staff and pushing them to think creatively and to take strategic risks.<br></li>
                                                    <li class="p-2">We believe in an open-door approach that allows leaders and employees to openly communicate, as well as leaders that walk the walk and provide effective direction to all employees.<br></li>
                                                    <li class="p-2">In the face of change, we are very adaptive and flexible, and we encourage our people to be imaginative. We place a high value on any suggestions made by our staff.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Benefits we provide to your business</h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">Rapid digitization and greater work collaboration to enable remote working.<br></li>
                                                    <li class="p-2">Increasing process efficiency and effectiveness through multitasking, automatic follow-ups, and KPI evaluation.<br></li>
                                                    <li class="p-2">It collects data from all base systems in one location so that swift judgments may be made.<br></li>
                                                    <li class="p-2">It provides centralized layers that are coupled with basic systems to enable for flexible and simple-to-implement operations.<br></li>
                                                    <li class="p-2">It provides tools for assigning and tracking employee tasks, which improves accountability.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <img class="img-fluid text-center rounded" src="~/synergySolutions/img/brouche1.jpeg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <img class="img-fluid text-center rounded" src="~/synergySolutions/img/brouche.jpeg">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/synergySolutions/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/synergySolutions/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/synergySolutions/js/bs-init.js" asp-append-version="true"></script>*@
</body>
@*<body>
        <div>
            <div class="hero-banner">
                <div class="row">
                    <div class="col HB-about-us-bg img-fluid">
                        <div class="text-center hero-desc-sec">
                            <div class="container">
                                <div class="row">
                                    <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                        <h1 class="inn-banner-header-text">About Us</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="use-case-poc">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2 class="main-title-bg">Who we are?<br></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <p>We provide best business practices, templates, toolkits and frameworks to help your business achieve success by using our knowledge and expertise. Our solution provides customers with not only the information they need, but also the context they need to make better decisions and manage their operations more effectively. We have 20+ years of experience for serving customers across the world. We have also served across all sectors (small, medium &amp; large) and industries.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Who we serve<br></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p>Synergy low-code digital transformation is easily adaptable and can be utilized by all business sectors, including banking, healthcare, government, oil and gas, construction and infrastructure, manufacturing, real estate, hospitality<br> (hotels and restaurants) etc.<br></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill card-no-brdr">
                                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                                            <ul class="list-unstyled">
                                                                <li class="p-2 li-bg">Government / Public Sector<br></li>
                                                                <li class="p-2 li-bg">Financial Institutions / Banks<br></li>
                                                                <li class="p-2 li-bg">Construction / Infrastructure<br></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill card-no-brdr">
                                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                                            <ul class="list-unstyled">
                                                                <li class="p-2 li-bg">Telecom / Call Centers<br></li>
                                                                <li class="p-2 li-bg">Retail / Hospitality<br></li>
                                                                <li class="p-2 li-bg">Oil &amp; Gas<br></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Our purpose<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p>Synergy low-code digital transformation is designed to help businesses digitalize their day-to-day processes and reduce manual work&nbsp;in a simple and cost-effective manner.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Our Culture<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">We are a customer-focused organization that prioritizes both external and internal customers.<br></li>
                                                        <li class="p-2">We believe in empowering our employees and encouraging them to think outside the box and take calculated risks.<br></li>
                                                        <li class="p-2">We believe in an open door policy, where leaders and employees can communicate freely, and where leaders walk the talk and provide effective guidance to all employees.<br></li>
                                                        <li class="p-2">We are highly flexible and adaptable in the face of change, and we encourage our employees to be innovative. We provide great importance to any suggestions given by our employees.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Benefits we provide to your business</h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Rapid Digitalization &amp; increased work collaboration to support remote working.<br></li>
                                                        <li class="p-2">Increasing process efficiency &amp; effectiveness by supporting multi-tasking, automatic follow ups and measurement of KPIs.<br></li>
                                                        <li class="p-2">It brings data from all base systems together in one place so that quick decisions may be made.<br></li>
                                                        <li class="p-2">It provides centralized layers that are integrated with base systems to allow flexible processes that are simple to implement.<br></li>
                                                        <li class="p-2">It offers tools for assigning and tracking work completed by employees, hence improving accountability.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>*@

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }

</script>

