@{
    ViewData["Title"] = "AnalyticsAndDashboard";
    //Layout = null;
}

<script type="text/javascript">




    function SynergyPlatformViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<style>

    .blit > li:before {
        content: "• " !important;
    }

</style>
<div>

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-analytics-dashboard-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Analytics and Dashboard</h1>
                                <p class="banner-text-sml">Analytics provides real-time information in the form of visual<br>and&nbsp;easy-to-understand dashboards.<br></p>
                                @*<div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                        <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                        <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <img class="inner-pg-img p-2 inner-pg-img-border img-fluid" src="~/synergySolutions/img/Analytics-Dashboard.png">
                                                <p>Synergy is the most powerful, secure, and versatile end-to-end analytics platform, from connectivity to collaboration.&nbsp;<br><br>With Synergy it is easy for business users to explore and manage data, as well as find and share insights with all stakeholders in real time.<br><br>Synergy eliminates the need to invest into expensive data warehousing solution and provide capability to collect data and publish data universes to fulfil all business analytics needs.<br><br>Any number of dashboards and reports can be configured and published from front end without need for technical support.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">&nbsp;Modules of Analytics and Dashboard are<br></h2>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Dashboards</h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Templates</li>
                                                    <li class="p-2 bulletlist">Custom Design</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Cross-device Accessibility</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Interactive Features</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Connectors</h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Data Connectors</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Flexible Data Integration</li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Join Data Sources</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Analysis<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Drag &amp; Drop</li>
                                                    <li class="p-2 bulletlist">Custom Fields &amp; Expressions</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Cross Queries</li>
                                                    <li class="p-2 bulletlist">Trends Analysis</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Predictive Analytics</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Report<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Sharing Options</li>
                                                    <li class="p-2 bulletlist">Viewing Rights</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Embedding</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Client Reporting</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">How Analytics and Dashboard helps your businesses<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Analytics and visualisation tools provide insight and show information in a more intuitive style, making evaluation easier.</li>
                                                    <li class="p-2 bulletlist">Data Integration from multiple data sources</li>
                                                    <li class="p-2 bulletlist">Analysis of historical data (events) to predict/observe seasonal patterns.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Benefits of Analytics and Dashboard<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist"><strong>Increased visibility: </strong><br> Great data visualization components.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Performance measurement: </strong><br> Analyze, report and share data in real time.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Better collaboration: </strong><br> Drill down capabilities to go to transaction details.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Easy access of data:</strong><br> Dashboards with role-relevant data, KPIs, charts, and graphs make it simple to use.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Efficient Reporting: </strong><br> A centralized database minimizes the time required to integrate and reconcile information.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Role-based permission:</strong><br> Customizable permissions ensures that your teams only have access to information that is relevant to your roles.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-analytics-dashboard-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Analytics and Dashboard</h1>
                                    <p class="banner-text-sml">Analytics provides real-time information in the form of visual and&nbsp;easy-to-understand dashboards.<br></p>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                            <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                            <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <img class="inner-pg-img p-2 img-fluid" src="../../Themes/SynergySolutions/images/Analytics-dashboard.jpg">
                                                    <p class="p-2">Analytics and dashboards provide a tool set for businesses to absorb, organise, identify, and analyze data to reveal actionable insights that can help improve decision-making and inform business strategy. Our analytics and dashboards are pre-built and easily customizable, making it simple to access the data you need. With the help of role-based dashboard and key performance indicators (KPIs) you can keep track of all the activities.<br></p>
                                                    <p>Our Analytics provides real-time information in the form of visual and&nbsp;easy-to-understand dashboards. We provide strong analytics without the requirement for separate data storage by storing all information in memory. Our Analytics and dashboard presents easy-to-read, graphical dashboards and data visualizations based on the information you've already collected from a wide range of sources.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Modules of Analytics and Dashboard are-<br></h2>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">Dashboards</h3>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Templates</li>
                                                        <li class="p-2">Custom Design</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Cross-device Accessibility</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Interactive Features</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">Connectors</h3>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Data Connectors</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Flexible Data Integration</li>
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Join Data Sources</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">Analysis<br></h3>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Drag &amp; Drop</li>
                                                        <li class="p-2">Custom Fields &amp; Expressions</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Cross Queries</li>
                                                        <li class="p-2">Trends Analysis</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Predictive Analytics</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">Report<br></h3>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Sharing Options</li>
                                                        <li class="p-2">Viewing Rights</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Embedding</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Client Reporting</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">How Analytics and Dashboard helps your businesses<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Analytics and visualisation tools provide insight and show information in a more intuitive style, making evaluation easier.</li>
                                                        <li class="p-2">Data Integration from multiple data sources</li>
                                                        <li class="p-2">Analysis of historical data (events) to predict/observe seasonal patterns.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="main-title-bg">Benefits of Analytics and Dashboard<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Easy access of data -</strong> <br>Dashboards with role-relevant data, KPIs, charts, and graphs make it simple to personalize your information.</li>
                                                        <li class="p-2"><strong>Efficient Reporting -&nbsp;</strong><br>A centralized database minimizes the time required to integrate and reconcile information.</li>
                                                        <li class="p-2"><strong>Increased visibility - </strong><br>Improved communication among decision-makers thanks to real-time visibility into performance across all organizations.</li>
                                                        <li class="p-2"><strong>Role-based permission&nbsp;- </strong><br>Customizable permissions ensures that your teams only have access to information that is relevant to your roles.</li>
                                                        <li class="p-2"><strong>Performance measurement&nbsp;- </strong><br>Customizable dashboards allow your company to create specific KPIs that let you track the data you need to see how you're doing across departments and in many areas.</li>
                                                        <li class="p-2"><strong>Allows for collaboration&nbsp;- </strong><br>By centralizing your data in a dashboard, you can make all of the important pieces of information available to all users, encouraging collaboration both within and across departments.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>


