@{
    ViewData["Title"] = "Case Management";
    //Layout = null;
}

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Case-Management-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Case Management Solution<br></h1>
                                <p class="banner-text-sml">Case Management Solution manages erratic information-centric work and addresses various&nbsp;<br>business challenges.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-xl-7">
                                <p class="text-justify">In the modern business landscape, organizations are constantly faced with unanticipated scenarios and circumstances, such as customers’ escalations, process exemptions, frauds, incorrectly credited payments, and rejections of legible health claims. Each case is unique and involves complex interactions between content, people, business and regulatory policies. To achieve the desired business outcomes, these cases must be approached in a balanced manner. Case management entails managing information, making decisions, and ensuring domain expertise.<br><br>If a user encounters difficulty, they can file a complaint or make a suggestion, to which an internal team will respond; this stage is known as case intake. An internal team will investigate the situation and assign it to the dedicated team. A specialized dashboard team will investigate the problem, followed by planning and implementation to resolve it. The team or manager will conduct frequent follow-ups while handling the case. The team will notify the user via notification once the issue has been resolved. Throughout the process, the user will have access to the case's progress, and if they require further assistance, they can contact the team.</p>
                            </div>
                            <div class="col-xl-5 p-2"><img class="img-fluid align-middle" src="~/Themes/SynergySolutions/images/Case%20Management-1.jpg"></div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Case management workflow system followed by Synergy -<br></h2>
                                <p><img class="img-fluid" src="~/Themes/SynergySolutions/images/Case%20management%20workflow.jpg"><br></p>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">What to Look for in an Ideal Case Management Software?<br></h2>
                                <ul class="synergyList">
                                    <li>The ability to create, manage, and distribute relevant content, information, data, and reports to all case decision makers.</li>
                                    <li>A unified case file allows you to view all case-related content that is stored in various formats and locations.</li>
                                    <li>Real-time visualization of case lifecycle.</li>
                                    <li>The ability to execute discretionary tasks in response to changing goals.</li>
                                    <li>Auto-classification tools to seamlessly store, archive, and retrieve case-related information.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">What are Different Types of Case Management addressed by Synergy?<br></h2>
                                <p>Case management can be used to meet a variety of business needs and is divided into three broad categories, such as:<br><br><strong>Investigative Case Management</strong><br>Utilize advanced analytics and audit capabilities to conduct fraud investigations across multiple organizational processes.<br><br>For example, tax, credit, and insurance fraud, legal investigations, background checks, and intellectual property protection.<br><br><strong>Service Request Management</strong><br>Include the fulfilment of a service request. Fulfilment is often a contractual obligation that specifies the expected level of service.<br><br>For example, error messages and bug tracking, insurance and healthcare claims, warranty fulfilment and telecommunications service provisioning<br><br><strong>Incident Management</strong><br>Involve incidents that can cause operational, customer-related, or statutory problems in an organization and must be resolved to avoid recurrence.<br><br>For instance, employ on boarding, claim processing, dispute resolution, HR grievances, etc.<br></p>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">How Does Synergy Solve for Your Case Management Needs?<br></h2>
                                <p><strong>Case Creation and Configuration</strong><br>Use a predefined global task library with ready-to-use discretionary tasks to easily create and configure cases. Use the library to gain access to older cases that have been used in similar contexts and use them with minor modifications. Additionally, quickly configure routing conditions, exceptions, user/group allocation, and so on.<br><br><strong>Dynamic Task Creation and Execution</strong><br>Based on changing goals and requirements, conceptualize, create, and execute discretionary tasks while leveraging the experience and expertise of case workers. Create ad hoc tasks to deal with unexpected situations during runtime.<br><br><strong>Collaborative Decision Making</strong><br>Gain access to a unified case file containing case data, tasks, documents, forms, to-do lists, and other case-related information. With real-time case sharing and collaboration, employees can make better decisions.<br><br><strong>Case Visibility and Insights</strong><br>Visualize the case lifecycle and gain insights into the performance of case and task workers in real time. Receive system-generated automated notifications when a task is started, completed, reassigned, declined, or failed, allowing you to take immediate action.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="success-stories">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 class="sec-title">Success Stories<br></h1>
                </div>
            </div>
            @*<div class="row text-center">
                    <div class="col-md-6 col-lg-3 col-xl-3 text-center">
                        <div class="ss-slide">
                            <div class="ss-logo"><img src="~/synergySolutions/img/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                            <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS).<br></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 text-center">
                        <div class="ss-slide">
                            <div class="ss-logo"><img src="~/synergySolutions/img/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>
                            <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 text-center">
                        <div class="ss-slide">
                            <div class="ss-logo"><img src="~/synergySolutions/img/logo-galfar.png"></div><label class="ss-title">Galfar</label>
                            <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 text-center">
                        <div class="ss-slide">
                            <div class="ss-logo"><img src="~/synergySolutions/img/logo-galfar.png"></div><label class="ss-title">Galfar</label>
                            <p class="ss-description">The Synergy low-code digital transformation was used to create an Electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                        </div>
                    </div>
                </div>*@
            <div id="carouselExample" class="carousel slide w-100 successC" data-bs-ride="carousel" data-bs-interval="3000">


                <div class="carousel-inner successCarousel" role="listbox">

                    <div class="carousel-item active">

                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted UP police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>

                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">The Synergy low-code digital transformation was used to create an electronic Document Management System (eDMS) for Galfar Al MISNAD.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>

                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Police department</label>
                                        <p class="ss-description">Synergy assisted the Police department in obtaining data from departments through the integrated intelligent policing system.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }

                                else

                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-srinagar-smart-city.png"></div><label class="ss-title">Srinagar Smart City</label>
                                        <p class="ss-description">Synergy assisted Srinagar Smart City with the integration of services and applications into a unified technological infrastructure.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Logo.png"></div><label class="ss-title">Indian State Police</label>
                                        <p class="ss-description">Synergy assisted the Indian state police in developing a unified system to improve the efficiency and effectiveness of policing.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/SEBI-Logo.png"></div><label class="ss-title">SEBI</label>
                                        <p class="ss-description">Synergy assisted SEBI in redesigning the application (Hindi/English) and making it more user-friendly.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/QOOT-Logo.png"></div><label class="ss-title">QOOT</label>
                                        <p class="ss-description">Synergy's low-code digital transformation assisted QOOT in developing its Human Resource Management System (HRMS)<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Cayan-Logo.png"></div><label class="ss-title">CAYAN</label>

                                        <p class="ss-description">CAYAN created its Human Resource Management System (HRMS) with the assistance of Synergy Low Code Digital Transformation. <br></p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 text-center">
                            <div class="ss-slide">
                                @if (ViewBag.Portal == "SynergySolutionsIndia")
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/SynergySolutionsIndia/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                                else
                                {
                                    <a style="cursor: pointer; color: #212529;" href="/Portal/synergysolutions/SuccessStory">
                                        <div class="ss-logo"><img class="img-fluid" src="../../Themes/SynergySolutions/images/logo-galfar.png"></div><label class="ss-title">Galfar</label>

                                        <p class="ss-description">Galfar Al MISNAD employed a solution from Synergy low code digital transformation in the form of the Recruitment assessment platform.<br></p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" style="margin-left: 7px;"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" style="margin-right: 7px;"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

