@{
    ViewData["Title"] = "Know about Company | Synergy";
    //Layout = null;
}


<style>
    .blit > li:before {
        content: "• " !important;
    }  
</style>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Company-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Company<br></h1>
                                <p class="banner-text-sml">We have over 20 years of expertise in delivering comprehensive IT solutions and <br>managed technology services to both public and private-sector organizations.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="text-muted card-subtitle main-title-bg">&nbsp;Synergy low-code digital transformation<br></h2>
                                        <p class="p-2">Synergy Low-code In response to shifting expectations, digital transformation provides a platform for streamlining complex corporate processes, managing unstructured data, and driving consumer interaction. Using low-code, businesses can design and launch complex, content-driven, and customer-engaging commercial apps. It is best suited for enterprises that need to customize modules in response to changing requirements.<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Vision<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">Become Market Leader</li>
                                                    <li class="p-2">Implement Innovative Solutions</li>
                                                    <li class="p-2">Provide Exceptional Services</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Mission<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">Continuous Improvement to Meet Customer Expectations</li>
                                                    <li class="p-2">We offer the greatest workplace in the areas we serve.</li>
                                                    <li class="p-2">To expand all over</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="text-muted card-subtitle main-title-bg">Key Customer Sectors<br></h2>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <ul class="synergyList">
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Government/Public Sector</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Financial Institutions/Banks</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Construction/Infrastructure</span><br></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-6">
                                                <ul class="synergyList">
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Telecom/Call Centers</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Retail/Hospitality</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Oil &amp; Gas</span><br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="text-muted main-title-bg">&nbsp;Our Presence<br></h2><center><img class="img-fluid text-center rounded" src="~/synergySolutions/img/Synergy-at-places.jpg"></center>
                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-Company-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Company<br></h1>
                                    <p class="banner-text-sml">We have more than 20+ years of experience in providing Integrated IT solutions and managed technology services to Public and Private sector companies.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Synergy low-code digital transformation<br></h2>
                                    <p>Synergy Low-code Digital transformation is a platform for simplifying complicated business processes, managing unstructured data, and driving consumer engagement in response to changing demands. Businesses can utilize the platform to create and launch complex, content-driven, and customer-engaging commercial apps utilizing low-code. Our platform is best suited for organizations that need to customize modules based on requirements and changing demands.<br></p>
                                </div>
                            </div>
                            <div class="text-center img-fluid text-center"><img class="img-fluid text-center rounded-sm" style="width:100%" src="../../Themes/SynergySolutions/images/Synergy-growth-journey.jpg"></div>
                            <br />
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">Vision<br></h3>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Become Market Leader</li>
                                                        <li class="p-2">Implement Innovative Solutions</li>
                                                        <li class="p-2">Provide Exceptional Services</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">Mission<br></h3>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Continual Improvement to Achieve Customer’s delight</li>
                                                        <li class="p-2">Provide best place to work within communities we serve</li>
                                                        <li class="p-2">To grow all around</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Key Customer Sectors<br></h2>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>Government/Public Sector</span></li>
                                                <li class="list-group-item"><span>Financial Institutions/Banks</span></li>
                                                <li class="list-group-item"><span>Construction/Infrastructure</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>Telecom/Call Centers</span></li>
                                                <li class="list-group-item"><span>Retail/Hospitality</span></li>
                                                <li class="list-group-item"><span>Oil &amp; Gas</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Our Presence<br></h2><img class="img-fluid text-center rounded" style="width:100%" src="../../Themes/SynergySolutions/images/Synergy-at-places.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

