@{
    ViewData["Title"] = "DataScience";
    //Layout = null;
}

<div>

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-DS-AI-ML-IOT-bg">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Data Science Solutions - AI, ML, IOT<br></h1>
                                <p class="banner-text-sml">Synergy utilizes advanced technologies to support computation of complex business logic through add on python modules.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">Synergy Digital Platform integrates all advanced applications into one solution<br></h1>
                                                <div class="row">
                                                    <div class="col-lg-6 col-xl-6"><img class="img-fluid img-roucor" src="~/synergySolutions/img/img-Artificial-intelligence-bc.png"></div>
                                                    <div class="col-lg-6 col-xl-6">
                                                        <p>Synergy utilizes advanced technologies to support computation of complex business logic through add on python modules.<br><br>Synergy Low Code Digital transformation is a software platform for simplifying complicated corporate processes, managing unstructured data, and driving consumer engagement based on changing demands. Businesses can utilise the platform to create and launch low code business apps that are complicated, content-driven, and customer engaged. Our platform is great for businesses that need to adapt modules to match their unique demands.<br></p>
                                                        <ul class="synergyList">
                                                            <li class="p-2">Computer Vision analysis<br></li>
                                                            <li class="p-2">Telemetry and Internet of Things applications<br></li>
                                                            <li class="p-2">Artificial Intelligence and Machine Learning algorithms<br></li>
                                                            <li class="p-2">Big data analysis<br></li>
                                                            <li class="p-2">Traceability &amp; Blockchain systems<br></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
   
</div>