@{ ViewData["Title"] = "Project Management";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/features.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Features</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-project-planning.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-project-planning.jpg"></div>
            <div class="col-md-6">
                <h1>Project planning and scheduling</h1>
                <p class="text-justify">
                    <br>Synergy project management solution enables project manager to create work breakdown structures with phases, categories, tasks and milestones. Predecessors and successors can be linked to all the tasks within work breakdown structure. On starting or completion of tasks, successors tasks can be started based on "start to start" or "finish to start" relationship.
                    Project manager can assign tasks to team members and setting priorities and deadlines. Adding due dates to tasks automatically sends a notification each time the scheduled completion date approaches and the activity is still incomplete.
                </p>
                <p class="hidden-text text-justify no-display">Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the world.<br></p>
                <p class="text-justify no-display">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.<br><br></p>
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <h1 class="white-text">Dashboard</h1>
                <p class="text-justify white-text">
                    <br>Key Performance Indicators (KPI), metrics and key data points can be visually tracked and analyzed to monitor the health of the project. Dashboard allows to see what is going right with the project and what needs to be improved to make informed decisions to improve the project performance.
                    There are multiple dashboards in the Synergy solution from many dimensions such as status, time, cost and resource. Program dashboard shows status of multiple projects that may be related to each other.
                </p>
                <p class="hidden-text text-justify no-display">Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the world.<br></p>
                <p class="text-justify no-display">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.<br><br></p>
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-dashboard.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-dashboard.jpg"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-task.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-task.jpg"></div>
            <div class="col-md-6">
                <h1>Task Management</h1>
                <p class="text-justify">
                    <br>Once tasks are assigned to project team members, they can monitor and execute them using various views available in the system. System notifies assignment of new task to the assignee via email as well. System also sends automatic follow up reminders to task assignee if the task is not completed by due date.
                    Team member can also create sub tasks and assign them to subordinates, allowing them to breakdown bigger tasks into manageable chunks of work.
                </p>
                <p class="hidden-text text-justify no-display">Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the world.<br></p>
                <p class="text-justify no-display">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.<br><br></p>
            </div>
        </div>
        </div>
    <br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <h1 class="white-text">Resource Management</h1>
                <p class="text-justify white-text">
                    <br>Project manager can view workload on team members and accordingly assign them to various tasks. Project manager can also see holiday, shift duty roster and planned leaves of team members to manage task allocation.
                    Team members can book time spent against each task in the system allowing them to submit time sheets to the project managers for approval.
                </p>
                <p class="hidden-text text-justify no-display">Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the world.<br></p>
                <p class="text-justify no-display">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.<br><br></p>
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-resource-management.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-resource-management.jpg"></div>
        </div>
    </div>
    <br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-report-analytics.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-report-analytics.jpg"></div>
            <div class="col-md-6">
                <h1>Reports and Analytics</h1>
                <p class="text-justify">
                    <br>Synergy provides various types of reports and analytics enabling project manager to submit project status and other detailed reports to management. Analytics also helps project manager to identify any issues and perform root cause analysis to take corrective actions.
                    Many reports can be configured in Synergy as per requirements such as user activity tracking, workload analysis, tasks status report, tasks aging report, issue resolution report etc.
                </p>
                <p class="hidden-text text-justify no-display">Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the world.<br></p>
                <p class="text-justify no-display">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.<br><br></p>
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">Email and other integrations</h1>
                <p class="text-justify white-text">
                    <br>Email integration is one of the unique features of Synergy project management solution. Project manager and team members can send and receive emails from Synergy with respect to each assigned task. Synergy can read the incoming emails and automatically create task (with email subject) that can be linked to WBS task. Any future communication via email on the same subject is automatically linked to the email task. Hence it becomes easier to keep all communications within the system reducing overload on individual email boxes.
                    Synergy can also be easily integrated with other third party tools such as issue tracking system, accounting, purchasing, payroll etc. Synergy also has other modules such as document management and business process management that can be used to support complete automation of project management activities.
                </p>
                <p class="hidden-text text-justify no-display">Our diverse team of consultants cater to all sectors (Small, Medium &amp; Large) and industries. We have several years of experience serving customers across the world.</p>
                <p class="text-justify no-display">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.</p>
            </div>
            <!--<br><button class="btn btn-primary more" type="button"></button>-->
            <!--</div>-->
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-email.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-email.jpg"></div>
        </div>
    </div>
    <br>
</section>



<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
