@*{
    ViewData["Title"] = "Financial Management Solutions | Synergy";
    //Layout = null;
}*@

<script type="text/javascript">
    $(document).ready(function () {
        $('head').append('<meta http-equiv="X-UA-Compatible" content="Synergy’s financial management manages income, expenses, and assets that company use. It also improves short terms and long terms business performance. Visit for details!" />');
    });

    

    function FinancialManagementViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Financial Management Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Financial Management DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-financial-management-solutions-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Financial Management Solutions<br></h1>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Financial Management Brochure">
                                            <a id="fmsbrochure" style="cursor: pointer; border-radius: 5px; margin-right: 10px;" onclick="FinancialManagementViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="fmsbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="float: left; display: inline-block; text-align:center;" title="Financial Management DataSheet">
                                            <a id="fmsdatasheet" style="cursor: pointer; border-radius: 5px" onclick="FinancialManagementViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="fmsdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h1 class="main-title-bg">Overview<br></h1>
                                                    <p>Financial management system manages all the financial transaction within a business and keep track of the cash flow. It manages income, expenses, and assets which company use. It improves short terms and long terms business performance. A good financial management system provides understanding how a business is performing and why it is doing well or not. You can make informed decision and strategic plans in the financial management system. It can help a business be more profitable by showing what is happening within the business around key financial issues.&nbsp;<br><br>Financial management system reduced the error in the tax and payroll calculations. It keeps all the records of expenses to help streamline audits.&nbsp;<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h2 class="text-muted card-subtitle sub-title">&nbsp;Financial management Solution Modules are <br></h2>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ol>
                                                        <li class="p-2"><strong>Profit tracking</strong>: <br>This is the primary function of the financial management. The profit tracker will help to track how the business is using financial resources and financial health. It shows majority of profits are coming from.<br></li>
                                                        <li class="p-2"><strong>Ledger Management:</strong> <br>Leger management is fundamental function of financial management. It provides records of all the financial transaction.You’ll be able to view your entries in one central location.<br></li>
                                                        <li class="p-2"><strong>Accounts Payable:</strong> <br>Account payable manages all of the funds your company owes to your vendor and customers. It integrates your payable data with your purchasing system so you can control of your cash flows. <br></li>
                                                        <li class="p-2"><strong>Account receivable: </strong><br>It allows your business to manage all of the fund's customer pay them. It tracks customer payment and manage invoices and cash.<br></li>
                                                        <li class="p-2"><strong>Fixed asset management: </strong><br>It manages all of your company’s real assets such as manufacturing equipment, computers, company car and office space. It gives your organization better visibility in terms of utilization, cost and maintenance.<br></li>
                                                        <li class="p-2"><strong>Risk Management: </strong><br>All the business leader wants to know that their organization is protected or in risk. so risk management can predict, analyze and manage risk. <br></li>
                                                        <li class="p-2"><strong>Tax Management:</strong> <br>Tax management solution manage system taxation setting and provide tax audit and tax reporting. The capabilities of your tax management depend on which system you purchase, and the system you purchase will depend on the needs of your company. <br></li>
                                                        <li class="p-2"><strong>Reporting:&nbsp;</strong><br>It shows the real time financial data. Reporting and analytics will show you where revenue is being generated and where it’s not being generated. But the dashboard can do so much more, such as display your sales, expected sales, expenses and many other financial components.<br></li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">&nbsp;Benefits of Financial Management Solutions <br></h6>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ol>
                                                        <li class="p-2"><strong>Improved productivity:</strong> <br>Productivity will immediately increase once you automate tedious and time-wasting tasks. <br></li>
                                                        <li class="p-2"><strong>Complete financial transparency:</strong> <br>The analytic dashboard provides all the financial information they need to know. <br></li>
                                                        <li class="p-2"><strong>Informed planning and budgeting: </strong><br>It allow you the predict cost and potential revenue. They can plan the budget accordingly. <br></li>
                                                        <li class="p-2"><strong>Real time financial monitoring: </strong><br>You will always know what is going on from an unknown transaction to impale transaction within your financial sector. <br></li>
                                                        <li class="p-2"><strong>Minimized human error:</strong> <br>Error can be deducted and avoided in this system such as data entry error.<br></li>
                                                        <li class="p-2"><strong>Organization financial documents:</strong> <br>The digital format stop misplacing or losing documents, and they will automatically be filed into the proper place. <br></li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-financial-management-solutions-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Financial Management Solutions<br></h1>
                                <p class="banner-text-sml">An easy way to manage your finances and track expenses.@*<br><br>Reduce tax and payroll calculation errors and keep accessible records of expenses with Synergy’s Financial Management system.*@</p>
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Financial Management Brochure">
                                        <a id="fmsbrochure" style="cursor: pointer; border-radius: 5px; margin-right: 10px;" onclick="FinancialManagementViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="fmsbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="float: left; display: inline-block; text-align:center;" title="Financial Management DataSheet">
                                        <a id="fmsdatasheet" style="cursor: pointer; border-radius: 5px" onclick="FinancialManagementViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="fmsdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">&nbsp;Overview<br></h1>
                                                <p class="p-2">A financial management system manages all the financial transactions within a business and keeps track of the cash flows. It manages the income, expenses, and assets that the company uses. It improves short-term and long-term business performance. A good financial management system provides insight into how a business is performing and why it is doing well or not. You can make informed decisions and strategic plans in the financial management system. It can help a business be more profitable by showing an understanding of What is happening internally within the business around key financial issues.<br>&nbsp;<br>The financial management system reduced the errors in the tax and payroll calculations. It keeps all the Records of expenses to help streamline audits.&nbsp;<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Financial management Solution Modules are <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12 text-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Finance.jpg"></div>
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Profit tracking</strong>: <br>This is the primary function of financial management. The profit tracker will help to track how the business is using financial resources and financial health. It shows where most profits are coming from.<br></li>
                                                    <li class="p-2"><strong>Ledger Management:</strong> <br>Ledger management is a fundamental function of financial management. It provides records of all financial transactions. You’ll be able to view your entries in one central location.<br></li>
                                                    <li class="p-2"><strong>Accounts Payable:</strong> <br>Account payable manages all the funds your company owes to your vendor and customers. It integrates your payable data with your purchasing system so you can control your cash flows. <br></li>
                                                    <li class="p-2"><strong>Account receivable: </strong><br>It allows your business to manage all the fund’s customers pay them. It tracks customer payments and manages invoices and cash.<br></li>
                                                    <li class="p-2"><strong>Fixed asset management: </strong><br>It manages all your company’s real assets, such as manufacturing equipment, computers, company cars, and office space. It gives your organization better visibility in terms of utilization, cost, and maintenance.<br></li>
                                                    <li class="p-2"><strong>Risk Management: </strong><br>All business leaders want to know that their organization is protected or at risk. so, risk management can predict, analyze, and manage risk. <br></li>
                                                    <li class="p-2"><strong>Tax Management:</strong> <br>Tax management solutions manage system taxation setting and provide tax audit and tax reporting. The capabilities of your tax management depend on which system you purchase, and the system you purchase will depend on the needs of your company. <br></li>
                                                    <li class="p-2"><strong>Reporting:&nbsp;</strong><br>It shows real-time financial data. Reporting and analytics will show you where revenue is being generated and where it’s not being generated. But the dashboard can do so much more, such as displaying your sales, expected sales, expenses, and many other financial components.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h6 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of Financial Management Solutions <br></h6>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Improved productivity:</strong> <br>Productivity will immediately increase once you automate tedious and time-wasting tasks. <br></li>
                                                    <li class="p-2"><strong>Complete financial transparency:</strong> <br>The analytic dashboard provides all the financial information they need to know. <br></li>
                                                    <li class="p-2"><strong>Informed planning and budgeting: </strong><br>It allow for predicting cost and potential revenue. They can plan the budget accordingly. <br></li>
                                                    <li class="p-2"><strong>Real time financial monitoring: </strong><br>You will always know what is going on, from an unknown transaction to an important transaction within your financial sector. <br></li>
                                                    <li class="p-2"><strong>Minimized human error:</strong> <br>Errors can be detected and avoided in this system, such as data entry errors.<br></li>
                                                    <li class="p-2"><strong>Organization financial documents:</strong> <br>The digital format stops misplacing or losing documents, and they will automatically be filled in the proper place. <br></li>
                                                    </ul>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>

</div>




