@{ ViewData["Title"] = "Project Management";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/iip.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Integrated Intelligence Portal</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-bottom">
    <div class="container vertical-spacing">
        <h1>IIP - Integrated Intelligence Portal for Police Department</h1>
        <p class="text-justify">Analytics and visualisation tools provide insight and evidence while also presenting data in a more intuitive way that makes it simpler to absorb. Major operational and investigative systems (Dial 100, CCTNS, CCTV) and data sources are integrated into the Integrated Intelligence Portal (IIP) (social media, news websites, search engines).</p>
        <div class="row">
            <div class="col-md-6">
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Integrated Data Analytics</p>
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Social Media Integration & Analytics including WhatsApp, Facebook, Instagram, Twitter, LinkedIn, YouTube</p>
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Online News Media Integration & Analytics</p>
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Text Analytics and Advance Elastic / Fuzzy Search feature</p>
            </div>
            <div class="col-md-6">
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Sentiment Analytics</p>
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Predictive Analytics</p>
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Data Integration from multiple data sources</p>
                <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Export Capability</p>
            </div>
        </div><br>
        <p class="text-justify">By integrating and analysing data from many sources and sharing it for decision-making and action, Integrated Intelligence Portals enable law enforcement organisations to confront crime more strategically, proactively, promptly, intelligently, and overall more successfully.</p>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/iip-key-sol.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/iip-key-sol.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>There are two key elements to the solution:</h1><br>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Integrated Portal Softwarewill gather information from a variety of sources, including internal (police department systems) and external (social media, news, and search engines), and display it in easy-to-understand forms for speedier analysis and decision-making.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Integrated Special Branch Portal will be created to bring together several SB portals (that are maintained separately and are not integrated) into a single platform where users can quickly browse search results and produce cross-module reports.</p></div>
                <!-- </div>  -->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>

<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="content">-->
                <h1 class="white-text">Manual To Automate IIP -Integrated Solution</h1><br>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">Integrated Intelligence Portal [IIP] will present requested information from multiple data sources in one view.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing white-text"></i></p><p class="text-justify white-text">IIP will combine information from multiple internal and external data sources which are given below:</p></div>
                <ul class="white-text">
                    <li class="p-2">Information from news websites (RSS feeds) and search engines.</li>
                    <li class="p-2">Caller and Incident Data from Dial 100/112.</li>
                    <li class="p-2">Incident footage and Vehicle details from CCTV and VDA.</li>
                    <li class="p-2">Criminal & crime records from CCTNS.</li>
                    <li class="p-2">Posts and messages in social media, blogs, articles in news websites.</li>
                </ul>
                <!--</div>
                 <br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/iip-manual-automation.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/iip-manual-automation.jpg"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/iip-benefits.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/iip-benefits.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Benefits of IIP</h1>
                <p class="text-justify"><br>IIP help law enforcement work more effectively and improve traditional policing units in operations, investigations, patrol, intelligence, and prevention of crimes.</p>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Up-to-date, comprehensive view into business on a single platform.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Quick generation of reports that span across a large dataset.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Effective management of users – manage different levels of access (Information analysts, super users, report users, occasional users) and allows for dashboard personalization.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Various types of Business Intelligence reports can be easily configured.</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify"></p>Wide variety of distribution mechanisms for information.</div>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>

