@{
    ViewData["Title"] = "Number Plate Detection";
    //Layout = null;
}

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Number-Plate-Detection-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Number Plate Detection<br></h1>
                                <p class="banner-text-sml">Synergy’s Nameplate Detection allows you to detect and recognize a car's license plate from <br>a video in real-time.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Car Parking Management<br></h2>
                                <p>It detects individual vehicles. License plate detection (LPD) allows parking garages to have automated parking management because every car is accounted for by its license plate number. Parking systems keep track of every vehicle in the facility and ensure complete governance.<br></p>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Tollbooth records<br></h2>
                                <p>Manual tollbooth management on highways is still a significant practice in some parts of the world. Often, tollbooths leverage different technologies for autonomous tollbooth management. For example, on larger freeways, LPD allows authorities to receive license plate numbers for paying tolls by mail or automatically rather than stopping and paying at a manually-run tollbooth. Hence, LPD enables efficient toll booth management, decreasing the operational time needed and thus increasing productivity.<br></p>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Control the movement of traffic<br></h2>
                                <p>It is capable of reading number plates and collecting vehicle location data, for instance, for the needs of highway agencies.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

