@{ ViewData["Title"] = "Project Management";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
@*<section class="Top-header"></section>*@
<script>
    function onExploreFeatures() {
        LoadPartailView("/SynergySolutions/SynergySolutions/ProjectManagementFeatures", $("#cms-content"));
    }
</script>
<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/project-management.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title">Project Management</h1>
                <h6 class="hero-banner-subtitle">Manage all your projects and team collaboration at one place</h6>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-bottom">
    <div class="container vertical-spacing">
        <h1 class="text-center">Project management solution with clear roles</h1>
        <p class="text-justify">Many different user roles with corresponding responsibilities and permissions can be defined based on project requirements. For instance, project administrator, project manager, team member, quality analyst, department head, and so on. Application and data permissions can be grouped into user roles, which can then be assigned to new users. This facilitates the management of user roles and responsibilities in accordance with the approved project structure. It is possible to assign different roles to the same user in the system for different projects.</p>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <h1 class="text-center">Key User Roles</h1>
        <p class="text-justify">Application and data permissions can be grouped under a user role, then user roles can be assigned to new users. This helps in easily managing roles and responsibilities of users as per approved project structure. It is possible to assign different roles to same user for different projects in the system.</p>
    </div><br>
</section>

<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">Project Manager</h1><br>
                <p class="text-justify white-text">A project manager can oversee all stages of a project's lifecycle, including initiating, planning, executing, monitoring and controlling, and closing.</p>
                <p class="text-justify white-text">All project activities, such as planning, creating a work breakdown structure, assigning/following up on tasks to users, sending/receiving emails, monitoring/reporting progress, controlling project risks, and so on, can be managed through the system.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/pm-project manager1.jpg"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/pm-team member.png"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Team Member</h1>
                <p class="text-justify"><br>Team members can manage tasks assigned to them using the system's various views. They can also create subtasks and delegate them to colleagues.</p>
                <p class="text-justify">Team members can log their time on each task, which can then be used to generate time sheets for billing and tracking. Synergy also has a time and attendance module that can be used independently or in conjunction with existing systems.</p>
                <p class="text-justify">They can also raise issues related to the project through the system for resolution.</p>
                <!--</div>
                <br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>

<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">Project Administrator</h1><br>
                <p class="text-justify white-text">Project managers can create project templates that can be used to start new projects.</p>
                <p class="text-justify white-text">They have the ability to create new projects and assign project managers and team members.</p>
                <p class="text-justify white-text">Departments, user roles, users, job titles, managers, authorization, approval hierarchies, workflows, task templates, and so on can all be defined.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/pm-project administrator.png"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/pm-other roles.png"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Other Roles</h1>
                <p class="text-justify"><br>Many roles, such as client, quality analyst, financial controller, document controller, change approvals, and so on, can be defined based on project requirements.</p>
                <p class="text-justify">In the system, user roles can be mapped to project/task templates, allowing them to execute only specific actions based on the user role permissions.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <h4 class="text-center white-text">Synergy has cool awesome and numerous features to cater to each user requirements</h4><br>
                                                                                                                                 <div class="text-center bottom-spacing">
                                                                                                                                     <button class="btn btn-primary" type="button" onclick="onExploreFeatures()">Explore Features</button>
                                                                                                                                     
                                                                                                                                 <br>
                                                                                                                                             </div>
    </div>
</section>
<section class="padding-top-bottom">
    <div class="container vertical-spacing">
        <h1 class="text-center">See how Synergy project management workflow works</h1>
        <p class="text-justify"><br>Workflows define your process and enable your team to track tasks.</p>
        <p class="text-justify">Visualize your progress, so you can see exactly what needs to get done and when. Get quick status updates on tasks and milestones, see who’s working on what, and spot potential blockers before they become problems.</p>
        <div><img class="block-images-100" src="~/Themes/SynergySolutions/img/pm-Synergy-project-management-workflow.jpeg"></div>

    </div>
</section>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }
   
</script>

<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>