@{
    ViewData["Title"] = "Project Management";
    //Layout = null;
}
 
<script type="text/javascript">

   

    

    function PrjManagementViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Project Management Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Project Management DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }

</script>


<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-PM-Solutions-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Project Management Solutions<br></h1>
                                <p class="banner-text-sml">Project Management Solutions can help you fast-track your success by following project structures and providing control over your environment.<br></p>

                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align: center; margin-right: 20px;" title="Project Management Brochure">
                                        <a id="pjbrochure" style="border-radius: 5px; margin-right: 10px;" onclick="PrjManagementViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="pjbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align: center;" title="Project Management DataSheet">
                                        <a id="pjdatasheet" style="border-radius:5px" onclick="PrjManagementViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="pjdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <h1 class="main-title-bg">&nbsp;Overview<br></h1>
                                                <p class="p-2">Synergy Project Management Solution (PMS) is designed for constant development, as with every new project, you handle a new team and a new set of stakeholders. For instance, it pays to understand how to deal with tough stakeholders since whether you work on projects or not, you will always encounter such people in your line of business. Project Management provides structure and control of the project environment so that the agreed activity will produce the right products or services to meet the customer’s expectations.&nbsp;<br><br>Synergy’s Project management solution helps every business to plan and manage the project successfully and complete its listed goals and deliverables. It involves identifying and managing risk, careful resource management, smart budgeting, and clear communication across multiple teams and stakeholders.<br></p>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center vertical-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Project-Management-1.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Project management solution modules are <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Project timeline management: </strong><br>The user can view the project timeline on the Daily, weekly and monthly basis.<br></li>
                                                    <li class="p-2"><strong>Project planning management: </strong><br>The user can plan the project on a daily, weekly and monthly basis. User also can view the project status, start date, end date, priority and project name.<br></li>
                                                    <li class="p-2"><strong>Project task management: </strong><br>The user can view filter, draft task, cancel task, complete task, overdue task and in progress task.<br></li>
                                                    <li class="p-2"><strong>Project team workload management: </strong><br>The user will be able to create the task and sub task, user can view the task details like description, predecessor, and sub task. User can also reject the task, share the task to another user and team.<br></li>
                                                    <li class="p-2"><strong>Note management: </strong><br>The user view the note, export to excel, search the note on the basis of note, description, and category level.<br></li>
                                                    <li class="p-2"><strong>Time entries management: </strong><br>The user will be able to add the time entries, user can view the list of the time entries, user can create work time of task which include start date, end date, service, task, duration and work comment.<br></li>
                                                    <li class="p-2"><strong>Project template management: </strong><br>The user can search and the project template.<br></li>
                                                    <li class="p-2"><strong>Work breakdown structure (WBS) management: </strong><br>User will be able to view the WBS tree, WBS timeline, WBS diagram. User can filter the work on the basis of the assignee, task group, start date and end date.<br></li>
                                                    <li class="p-2"><strong>Project timeline drag management: </strong><br>The user will be able to add the project and give the timeline to the particular project.&nbsp;<br></li>
                                                    <li class="p-2"><strong>Comprehensive search: </strong><br>Metadata is used to quickly locate the information.<br></li>
                                                    <li class="p-2"><strong>Security and privacy: </strong><br>PMS enterprise‐class architecture maintains the confidentiality of user and corporate data by encrypting data at motion and at rest.<br></li>
                                                    <li class="p-2"><strong>Permissions: </strong><br>Users can modify sharing permission settings through an easy‐to‐understand graphical user interface, while enterprise administrators can implement permissions throughout an organization with the administration module.<br></li>
                                                    <li class="p-2"><strong>Project reports management: </strong><br>User can view all the report related to this system like created vs resolved task, pie chart report, average age report, resolution time report, resource allocation report, time since task report, pending task report, resource utilization report, weekly usages report, hour spent report.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of Project Management Solution <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Budget Management: </strong><br>Budget is the most important item to manage the project. It helps to manage the budget from the initial requirement of the work to final delivery of the project.<br></li>
                                                    <li class="p-2"><strong>Accountability and Transparency: </strong><br>It offers the transparency between stakeholder and team; both can check the progress of the work.<br></li>
                                                    <li class="p-2"><strong>File sharing: </strong><br>It has the features to share and download files safely. <br></li>
                                                    <li class="p-2"><strong>Increased productivity: </strong><br>It helps to increase the productivity to make the right decision on the project.<br></li>
                                                    <li class="p-2"><strong>Project planning and scheduling: </strong><br>This system gives the systematic approach to project planning that enables you achieved the goals of your project.<br></li>
                                                    <li class="p-2"><strong>Monitoring timeline: </strong><br>For the specific task project has deadline, so with the help of this project management system, we can easily track the project progress.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




