@{
    ViewData["Title"] = "Service Desk";
    //Layout = null;
}


<script>
    


    function ServiceDeskViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Service Desk Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Service Desk DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>



<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Service-Desk-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Service Desk<br></h1>
                                <p class="banner-text-sml">Service desk built by Synergy<br>We are introducing an online service desk that aims to improve efficiency and productivity for employees!<br></p>

                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Service Desk Brochure">
                                        <a id="sdbrochure" style="border-radius: 5px; margin-right: 10px;" onclick="ServiceDeskViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="sdbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>
                                        
                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Service Desk DataSheet">
                                        <a id="sddatasheet" style="border-radius:5px" onclick="ServiceDeskViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="sddatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>
                                        
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">&nbsp;Overview<br></h1>
                                                <p class="p-2">Queries solved manually can take up a lot of time, which may decrease the efficiency and productivity of employees. To promptly resolve the queries and enhance the employee welfare, we have created an online service desk for which you may not be restricted to helping employees only get their queries solved with complete technical support. A service desk takes a much broader approach to IT support tasks than that of a help desk, which provides a more ad hoc approach.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Service Desk Features are <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Multi-channel support:</strong> <br>Our Service desk solutions acts as a point of contact between the end user and an agent. Whether the end user wants to report an incident, or raise a request, the service desk software, it acts as the point of contact. It is essential to have multiple points of contact with the end user making it easy for them to get in touch. This could be via phone, email, self-service portal, etc.<br></li>
                                                    <li class="p-2"><strong>Customizable Knowledge base:</strong>  <br>Repeated queries are compiled in this section, giving agents time to focus on more urgent or important issues, and providing a quicker way for the end-user to get a solution. Questions should be organized into FAQs or solution articles that are easily accessible. Filter capabilities to retrieve solutions by category, most frequently asked questions highlighted at the top, auto-suggestion solutions based on the search query, are must-have features in a service desk software.<br></li>
                                                    <li class="p-2"><strong>Automation:</strong> <br>Automation is a powerful feature in a service desk software that can drastically reduce an agent’s overhead and improve productivity. Repetitive, or routine tasks such as converting emails to tickets, auto assigning tickets can be set using automation.<br></li>
                                                    <li class="p-2"><strong>Self-service:</strong> <br>Self-service portal will let end-user to submit a new incident, raise a service request, access the knowledge base, track the status of their incident, view announcements, etc. A customized self-service portal for end-user empowers them to find information by themselves, reducing overhead for agents.<br></li>
                                                    <li class="p-2"><strong>Reporting:</strong> <br>Reporting includes pre-defined reports and custom reports. Automatic generation, scheduling, sharing, and exporting reports are related features that are essential.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Benefits of service desk <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Easy accessibility:</strong> <br>Users can access the desk anytime and anywhere with their queries for the support without any interruption<br></li>
                                                    <li class="p-2"><strong>Easier Problem Management:</strong><br>Number of problems can be managed easily as service support will be there for every specific user with specific problem.<br></li>
                                                    <li class="p-2"><strong>Faster response:</strong>  <br>Users coming up with their queries gets fast response without any delay.<br></li>
                                                    <li class="p-2"><strong>Time efficient:</strong><br>Problem solving takes less time as user does not have to waste their time in discussing with co-worker or doing research.<br></li>
                                                    <li class="p-2"><strong>Effective Workflows:</strong><br>Service desk creates faster and easier workflow within the organizations by solving problems faster.<br></li>
                                                    <li class="p-2"><strong>Boost productivity:</strong><br>Service desks are renowned for their role in helping to quickly remove and solve any snags that employees encounter.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center vertical-center"><img class="img-fluid p-3" src="../../Themes/SynergySolutions/images/Service-Desk.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




