@{
    ViewData["Title"] = "Synergy Eye";
    //Layout = null;
}


<script type="text/javascript">
   

    

    function SynergyEyeViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Eye Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Eye DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }

</script>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Synergy-Eye-bg">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Synergy Eye<br></h1>
                                <p class="banner-text-sml">Smart Vigilance Services<br>Protect yourself with our security systems offering security, safety and sanctuary.<br>Let the eye of vigilance never be closed.<br></p>
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Eye Brochure">
                                        <a id="sebrochure" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyEyeViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="sebrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;" title="Synergy Eye DataSheet">
                                        <a id="sedatasheet" style="border-radius:5px" onclick="SynergyEyeViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="sedatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <h1 class="main-title-bg">What is Synergy eye</h1>
                                                <p>A mobile surveillance application that provides a complete, robust security system that aims to detect any intruder inside the house when no one is present so that the house security is maintained even when no one is present, any suspicious motion is captured on camera and is notified to the user via email, call, or SMS.<br><br>Alarm push functions, facial recognition, live video streaming, an attendance management system, and a person detection system are all included in the program.<br><br>The app is accessible for both Android and Apple devices. SE provides a simple interface for instantly adding devices such as network IP cameras, USB cameras, video intercoms, and alarms. The software also provides additional professional functionalities for these devices.<br></p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center vertical-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Synergy-Eye.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp; Why Synergy Eye Surveillance ?<br></h2>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li class="p-2">Enhance Public Safety<br></li>
                                                    <li class="p-2">Reduce the Risks of Crime and Terrorism<br></li>
                                                    <li class="p-2">Safeguard your assets<br></li>
                                                    <li class="p-2">Preventing Fraud<br></li>
                                                    <li class="p-2">Increase Efficiency<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li class="p-2">Immediate Help and Prevention<br></li>
                                                    <li class="p-2">Attendance Tracking Software<br></li>
                                                    <li class="p-2">Detection of Intruders<br></li>
                                                    <li class="p-2">Use Live Streaming to Automate Process Surveillance<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="~/synergySolutions/img/cam%203.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="@*text-muted card-subtitle*@ main-title-bg">&nbsp;&nbsp;Synergy Eye Features<br></h2>
                                        @*<div class="row">
                                            <div class="col text-center p-3"><img class="img-fluid" src="../../Themes/SynergySolutions/images/eye.jpg"></div>
                                        </div>*@
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Smart Face Recognition Security System<br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">We want to build a smart premise that secures the gateway based on who we are using SE face recognition and IoT features.<br></li>
                                                    <li class="p-2">Identification that is precise and accurate by employing unique facial characteristics.<br></li>
                                                    <li class="p-2">Face recognition arrangement with many angles.</li>
                                                    <li class="p-2">Editing and deleting photographs is simple because of the user interface.<br></li>
                                                    <li class="p-2">Support and recommendations are available 24 hours a day, seven days a week.</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="~/synergySolutions/img/cam%201.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Live Recordings <br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">In addition to outstanding support for live security camera watching, users can use the SE Android and IOS apps to search for and playback stored surveillance video footage by using the date and time search tool.<br></li>
                                                    <li class="p-2">In the log viewer, users can search for motion detection.&nbsp;<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="~/synergySolutions/img/cam%204.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Attendance Management System <br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">A clever and dependable attendance monitoring system that automatically logs users' presence in set parameters in the database by capturing faces with the smart face recognition capability.<br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Create a unique ID for each user, and when they register for attendance, real-time photographs will be recorded that match the pre-trained dataset.</span><br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="~/synergySolutions/img/cam%202.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Live Video Feed <br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">Real-time video surveillance via a mobile application with motion detection to provide a comprehensive security solution.<br></li>
                                                    <li class="p-2">Security System with Motion Detection and Email Notification.<br></li>
                                                    <li class="p-2">There are no limits to the number of concurrent live feeds or viewers.<br></li>
                                                    <li class="p-2">Complete live stream workflow from content ingestion to global delivery.<br></li>
                                                    <li class="p-2">Control System for Live Cameras<br></li>
                                                    <li class="p-2">Dedicated, round-the-clock assistance.<br></li>
                                                    <li class="p-2">&nbsp;API</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="~/synergySolutions/img/cam%203.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Person Detection<br></h3>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">The SE Person identification technology can recognize the presence of a human face in the frame. The very powerful system detects, matches, and compares facial features with the internal photo database, triggering notice for high-level security.<br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Intrusion detection works best for monitoring exterior or access routes and reporting unwanted incursions.</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">This algorithm works day and night, with many people in front of the lens, even if the target is wearing any accessories.</span><br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; User Account Management<br></h3>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">SE User Account Management offers a simple and quick account management interface for building individual profiles and updating details with a few mouse clicks.&nbsp;<br></li>
                                                    <li class="p-2">Users can quickly register their faces in the database and tie them to their profiles using this function.<br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">From any mobile device, the user may access all of the camera's live feeds from their profile and adjust the setup of each camera.</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Admin users can delete cameras and enable or disable several features dependent on their user role.</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">The admin user can also configure numerous servers for storage.&nbsp;&nbsp;</span><br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Rules<br></h3>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">The SE Rules simplify the setup of alerts and notifications based on a person detection system in the defined premises.<br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Each camera may be subject to its own set of rules.</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Rules are also configured using the date and time.</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Admin users can delete cameras and enable or disable various functionalities based on their user role.</span><br></li>
                                                    <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">The admin user can also configure several storage servers.</span><br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       <!--<div class="hero-banner">
        <div class="row">
            <div class="col HB-Synergy-Eye-bg">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Synergy Eye<br></h1>
                                <p class="banner-text-sml">Smart Vigilance Services<br>Protect yourself with our security systems offering for security, safety and sanctuary.<br>Let the eye of vigilance never be closed.<br></p>

                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Eye Brochure">
                                        <a id="sebrochure" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyEyeViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="sebrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;" title="Synergy Eye DataSheet">
                                        <a id="sedatasheet" style="border-radius:5px" onclick="SynergyEyeViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="sedatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row ">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">What is Synergy eye</h1>
                                                <p>A mobile surveillance application that provides complete robust security system which aims at detecting any intruder inside the house when no one is present so as to maintain the house security even when it is empty, any motion which is suspicious is captured in the camera and is notified to the user via email, call or sms.<br><br>The application includes alarm push functions, face recognition, live video streaming, attendance management system and person detection system.<br><br>The application is available for both Android and IOS devices. SE offers an easy to use interface to quickly add devices, including network IP cameras, USB Camera,Video Intercom, and alarms. The app also offers extended professional functions for these devices,.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Why Synergy Eye Surveillance ?<br></h2>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li class="p-2">Improve Public Safety<br></li>
                                                    <li class="p-2">Mitigate Risks of Crime and terrorism<br></li>
                                                    <li class="p-2">Protect Assets<br></li>
                                                    <li class="p-2">Prevent Frauds<br></li>
                                                    <li class="p-2">Improve Efficiency<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li class="p-2">Instant Assistance and Prevention<br></li>
                                                    <li class="p-2">Attendance Management System<br></li>
                                                    <li class="p-2">Intruder Detection<br></li>
                                                    <li class="p-2">Automate Process Surveillance with Live Streaming<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="../../Themes/SynergySolutions/images/cam%203.png?h=08cb067476cb0c097c64174a5aa838b6"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class=" card-subtitle main-title-bg">Synergy Eye Features<br></h2>
                                        <h3 class="text-muted card-subtitle sub-title">Smart Face Recognition Security System<br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">Using SE face recognition and IoT feature, we aim to create a smart premises, which secures the gateway on the basis of who we are.&nbsp;<br></li>
                                                    <li class="p-2">Precise and Accurate identification using unique facial Characteristics.<br></li>
                                                    <li class="p-2">Multiple angle face recognition configuration setup.<br></li>
                                                    <li class="p-2">Easy user interface to edit/delete images.<br></li>
                                                    <li class="p-2">Dedicated 24/7 support and guidelines.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="../../Themes/SynergySolutions/images/cam%201.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">Live Recordings <br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">In addition to the excellent support for live security camera viewing, users can also search and playback recorded surveillance video footage using the SE Android&nbsp;and IOS app by using the date / time search function&nbsp;<br></li>
                                                    <li class="p-2">Users can search for motion detection and other types of alarm events in the log viewer.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="../../Themes/SynergySolutions/images/cam%204.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">Attendance Management System <br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">Smart and reliable attendance monitoring system to log users presence in set parameters automatically in the database by capturing faces using smart face recognition feature.<br></li>
                                                    <li class="p-2">Creation of unique ID per user and on registering attendance, real time images will be captured matching with the pre-trained dataset.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="../../Themes/SynergySolutions/images/cam%202.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">Live Video Feed <br></h3>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-8 col-xl-8">
                                                <ul class="synergyList">
                                                    <li class="p-2">Video Surveillance from Mobile application in real time with motion detection to provide a comprehensive security system.<br></li>
                                                    <li class="p-2">Motion Detection Security System with Email Notification.></li>
                                                    <li class="p-2">Unlimited live streams and live concurrent viewers.<br></li>
                                                    <li class="p-2">Full live stream workflow from content ingestion to distribution worldwide.<br></li>
                                                    <li class="p-2">Live Camera control System.<br></li>
                                                    <li class="p-2">Dedicated 24/7 support.<br></li>
                                                    <li class="p-2">API<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4"><span class="span-ss1"><img src="../../Themes/SynergySolutions/images/cam%203.png"><br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">Person Detection  <br></h3>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">SE Person detection system is able to detect the presence of a human face in the frame. With the highly advanced algorithm, detecting, matching and comparing facial features with the internal photo database and triggers notification for high end security.<br></li>
                                                    <li class="p-2">Intrusion detection is best suited for monitoring outdoor or access routes and report unauthorized intrusions.<br></li>
                                                    <li class="p-2">This detection algorithm works day and night, even with multiple people in front of the lens and also if the target is wearing any accessories.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">User Account Management <br></h3>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">SE User Account Management provides an easy and efficient account managing interface for creating personalized profile and update the details with just few clicks<br></li>
                                                    <li class="p-2">Using this feature Users can easily register their face in the database and map it with their profile. <br></li>
                                                    <li class="p-2">User can view all the camera live feed from their profile from any mobile device and edit the configuration of each camera. The detection algorithm works day and night, even with ma<br></li>
                                                    <li class="p-2">Admin users can delete the cameras and also enable./disable many functionalities based on the user role.<br></li>
                                                    <li class="p-2">Admin user can also set up different multiple server for storage. <br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">Rules<br></h3>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">SE Rules facilitates setting alerts and notifications based on person detection system in the specified premises. <br></li>
                                                    <li class="p-2">Customized rules can be set for each cameras. <br></li>
                                                    <li class="p-2">Rules are also configured on the basis of date and time.<br></li>
                                                    <li class="p-2">Admin users can delete the cameras and also enable./disable many functionalities based on the user role.<br></li>
                                                    <li class="p-2">Admin user can also set up different multiple server for storage. <br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
    @* <div class="card">
            <div class="card-body text-justify">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 usecase-text-block">
                        <h3 class="text-muted sub-title"><strong>Benefits of Human Capital Management Solution</strong><br></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <ul class="synergyList">
                            <li class="p-2"><strong>Seamlessly manage your workforce</strong><br>From compensation and payroll to time tracking, benefits, and more, Synergy’s HCM helps you take care of your workforce.<br></li>
                            <li class="p-2"><strong>Keep everyone smiling</strong><br>Give every employee a unique experience and quickly answer common HR questions with a self-service module.&nbsp;<br></li>
                            <li class="p-2"><strong>Plan and analyze like never before</strong><br>Plan your future workforce, uncover talent gaps, and get a complete view of your people.<br></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
    <!--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>




