@{
    ViewData["Title"] = "Synergy Connector";
    //Layout = null;
}

<script type="text/javascript">




    function SynergyPlatformViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Api-connector-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">API Connector<br></h1>
                                <p class="banner-text-sml">Synergy offers the best API connector for Google Sheets!<br><br>Synergy offers the easy-to-use API Connector add-on for Google Sheets. It is a powerful, easy-to-use tool for sourcing data from any API directly into a Google Sheets spreadsheet.<br></p>
                                @*<div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                        <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                        <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">&nbsp;Synergy API Connector offers:<br></h1>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10"><img class="img-fluid" src="~/synergySolutions/img/img-API-Connector.png"></div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                        <ul class="synergyList">
                                                            <li class="p-2"><strong>Pull API data to Google Sheets:</strong><br>APIs are used by thousands of websites to enable access to their platforms. The Google Sheets API Connector allows you to pull data from these APIs right into your Google Sheets worksheet without having to write any code.<br></li>
                                                            <li class="p-2"><strong>Combine all your metrics:</strong><br>View and manage data from numerous sources in a single location. There is no need for manual exports, specialized scripts, or a costly data warehouse.<br></li>
                                                            <li class="p-2"><strong>Schedule API requests:</strong><br>Make your data pulls more automated. Set triggers to retrieve data from APIs at hourly, daily, weekly, or monthly intervals, or utilize the API Connector function to update data even more quickly.<br></li>
                                                            <li class="p-2"><strong>Use cell values in requests:</strong><br>Spreadsheet cells can be converted into variables to create variables. By basing request URLs on the columns in your spreadsheet, you may get dynamic, code-like capabilities.<br></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                    <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of API Connector: <br></h3>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-xl-12">
                                            <ul class="synergyList"> 
                                                <li class="p-2"><strong>Eliminate Barriers: </strong><br>Eliminate any barriers to using the services by having an open API that can be incorporated into your application and customized as per your needs<br></li>
                                                <li class="p-2"><strong>Promote Innovation: </strong><br>Focus on UX and create an application that provides the most value to the end-users. By making the API available for customization to customers, partners, and vendors, the API can be used in ways never imagined before and open up entirely new industries ready to be served.<br></li>
                                                <li class="p-2"><strong>Streamline Operations: </strong><br>In addition to customers, internal end-users, suppliers, and partners should all be considered. With Synergy’s API Connector, one can easily automate requests and responses among multiple parties. <br>Providing open API access is a valuable way to establish and maintain long-term, profitable business relationships.<br></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-Api-connector-bg">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">API Connector<br></h1>
                                    <p class="banner-text-sml">Synergy offers best API Connector for Google Sheets!<br><br>Synergy offers the easy to use API Connector add-on for Google Sheets. It is a powerful, easy-to-use tool for pulling data from any API directly into a Google Sheets spreadsheet.<br></p>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                            <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                            <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h1 class="main-title-bg">Synergy API Connector offer<br></h1>
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Pull API data to Google Sheets</strong><br>APIs are used by thousands of websites to enable access to their platforms. API Connector allows you to pull data from these APIs right into your Google Sheets worksheet without having to write any code.<br></li>
                                                        <li class="p-2"><strong>Combine all your metrics</strong><br>View and manage data from numerous sources in a single location. There is no need for manual exports, specialized scripts, or a costly data warehouse.<br></li>
                                                        <li class="p-2"><strong>Schedule API requests</strong><br>Make your data pulls more automated. Set triggers to retrieve data from APIs at hourly, daily, weekly, or monthly intervals, or utilise the API Connector function to update data even more quickly.<br></li>
                                                        <li class="p-2"><strong>Use cell values in requests</strong><br>Variables may be created by converting spreadsheet cells into variables. By basing request URLs on the columns in your spreadsheet, you may get dynamic, code-like capabilities.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<style>
    .blit > li:before {
        content: "• " !important;
    }
</style>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

