div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  /*background-size: cover;*/
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  background-repeat: no-repeat;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/Certifications.png');
  min-height: 490px;
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/Platform-components.png');
  min-height: 490px;
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/Certifications.png');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: #048f83!important;
  border-color: #048f83!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.business-issue-card {
  /*height: 100%;*/
  background-color: #eff4fa;
}

.business-issue-heading {
  font-size: 24px;
  color: #1257AA;
  margin-bottom: 10px;
}

.business-issue-img {
  width: 100px;
  height: auto;
  float: right;
}

.solution-card {
  background-image: url('../../assets/img/bg-solution-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.solution-heading {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.result-row {
  margin-bottom: 20px;
  background-image: url('../../assets/img/bg-results-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.result-card {
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.w-98 {
  width: 98%;
  margin-left: 1%;
}

