@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}

<style>
    .radio-inline {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }
    .text-center {
        text-align: center;
    }
    .csc-heading-desc {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 600;
        text-align:center;
    }
    .csc-input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        display:table-cell;
        vertical-align:middle;
    }
    .csc-input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .csc-input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 400px;
        margin-bottom: 0;
    }
</style>
<script>

    var columnDefsTrack = [
        {
            field: "ApplicationServiceName",
            headerName: "सेवा का नाम / Service Name",
            minWidth: 150,
        },
        {
            field: "ApplicationReferenceNumber",
            headerName: "आवेदन सन्दर्भ क्रमांक / Application Reference No",
            minWidth: 150,
        },
        {
            field: "ApplicantName",
            headerName: "आवेदक का नाम / Applicant Name",
            minWidth: 150,
        },
        {
            field: "DateOfApplication",
            headerName: "आवेदन तारीख / Application Date",
            minWidth: 150,
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        {
            field: "DeliveryDateOfService",
            headerName: "नियत तिथि / Delivery Date",
            minWidth: 150,
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        {
            field: "IssueDate",
            headerName: "करवाई की तारीख / Issue Date",
            minWidth: 150,
            cellRenderer: (data) => {
                if (data.value!=null) {
                    var d = new Date(data.value);
                    return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
                }

            }
        },
        {
            field: "ServiceStatus",
            headerName: "स्थिति / Status",
            minWidth: 150,
        },
        {
            field: "Remarks",
            headerName: "कारण / Remarks",
            minWidth: 150,
        },
        {
            field: "Acknowledgement",
            headerName: "पावती / Acknowledgement",
            minWidth: 150,
            cellRenderer: params => {
                debugger;
                if (params.value == true) {
                    return "<a href='#' onclick='onDownloadAcknowledgement(\"" + params.data.ServiceId + "\",\"" + params.data.ServiceTemplateCode + "\")'><i class='fa fa-download' title='पावती / Acknowledgement'></i></a>";
                }
            }
        },
        {
            field: "ProvisionalCertificate",
            headerName: "अस्थायी प्रमाण-पत्र / Provisional Certificate",
            minWidth: 150,
            cellRenderer: params => {
                debugger;
                if (params.value == true) {
                    return "<a href='#' onclick='onDownloadProvisional(\"" + params.data.ServiceId + "\")'><i class='fa fa-download' title='अस्थायी प्रमाण-पत्र / Provisional Certificate'></i></a>";
                }
            }
        },
        {
            field: "Certificate",
            headerName: "प्रमाण-पत्र / Certificate",
            minWidth: 150,
            cellRenderer: params => {
                debugger;
                if (params.data.CertificateFileId!=null) {
                    return "<a href='#' onclick='onDownloadCertificateDirect(\"" + params.data.CertificateFileId + "\")'><i class='fa fa-download' title='प्रमाण-पत्र / Certificate'></i></a>";
                }else if (params.value == true) {
                    return "<a href='#' onclick='onDownloadCertificate(\"" + params.data.ServiceId + "\",\"" + params.data.ServiceTemplateCode + "\")'><i class='fa fa-download' title='प्रमाण-पत्र / Certificate'></i></a>";
                }
            }
        }
        //,
        //{
        //    field: "RequestedDate",
        //    headerName: "Requested Date",
        //    cellRenderer: (data) => {
        //        var d = new Date(data.value);
        //        return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
        //    }
        //}
    ];
    function GetTrackApplicationData() {
        var appno = $("#ApplicationReferenceNumber").val();
        document.getElementById("kgrdTrackApplication").innerHTML = "";
        gridConfig(
            "kgrdTrackApplication",
            "/CSC/CommonService/ReadTrackApplicationData?appNumber="+appno,
            columnDefsTrack,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    function onSearch() {
        //alert("Search");
        GetTrackApplicationData();
    }
    function onBack() {
        //alert("Back");
    }
    function onReset() {
        //alert("Reset");
        $("#ApplicationReferenceNumber").val('');
        GetTrackApplicationData();
    }
    function onDownloadAcknowledgement(serviceId, tempCode) {
        debugger;
        //alert("DownloadAcknowledgement");
        if (tempCode == "OBC_CERTIFICATE") {
            var win = GetMainWindow();
		    win.iframeOpenUrl = '/Cms/FastReport?rptName=CSC_FinalAcknowledgement_English&lo=@LayoutModeEnum.Popup&rptUrl=Csc/query/GetCSCAcknowledgementEnglishReport?serviceId='+serviceId;
            win.OpenWindow({ Title: 'Acknowledgement', Width: 700, Height: 800 });
            return false;
        } else if (tempCode == "CSC_MARRIAGE_CERTIFICATE") {
            var win = GetMainWindow();
            win.iframeOpenUrl = '/Cms/FastReport?rptName=CSC_FinalAcknowledgementMarriage_English&lo=@LayoutModeEnum.Popup&rptUrl=Csc/query/GetCSCAcknowledgementMarriageEnglishReport?serviceId='+serviceId;
            win.OpenWindow({ Title: 'Acknowledgement', Width: 700, Height: 800 });
            return false;
        }
		return false;
    }
    function onDownloadProvisional(serviceId) {
        //alert("Download Provisional Certificate");
        var win = GetMainWindow();
		win.iframeOpenUrl = '/Cms/FastReport?rptName=CSC_OBCCertificateTemp&lo=@LayoutModeEnum.Popup&rptUrl=Csc/query/GetCSCOBCCertificateTempReport?serviceId='+serviceId;
        win.OpenWindow({ Title: 'Provisional Certificate', Width: 700, Height: 800 });
		return false;
    }
    function onDownloadCertificate(serviceId,tempCode) {
        //alert("Download Certificate");
        //debugger;
        if (tempCode =="OBC_CERTIFICATE") {
        var win = GetMainWindow();
		win.iframeOpenUrl = '/Cms/FastReport?rptName=CSC_OBCCertificate&lo=@LayoutModeEnum.Popup&rptUrl=Csc/query/GetCSCOBCCertificateReport?serviceId='+serviceId;
        win.OpenWindow({ Title: 'Certificate', Width: 700, Height: 800 });
		return false;
        }
        if (tempCode == "CSC_MARRIAGE_CERTIFICATE") {
        var win = GetMainWindow();
		win.iframeOpenUrl = '/Cms/FastReport?rptName=CSC_MarriageCertificate&lo=@LayoutModeEnum.Popup&rptUrl=Csc/query/GetCSCMarriageCertificateReport?serviceId='+serviceId;
        win.OpenWindow({ Title: 'Certificate', Width: 700, Height: 800 });
		return false;
        }
        return false;
    }
    function onDownloadCertificateDirect(fileId) {
        debugger;
        url = '/cms/Document/GetFileMongo?fileId=' + fileId;
        window.open(url, '_blank');
        return false;
    }
</script>
<div>
    <div class="row pad-10">
        <div class="col-12">
            <h3 class="csc-heading-desc">आवेदन की स्थिति / Track Application</h3>
        </div>
    </div>
    @*<div class="row pad-10 text-center">
        <div class="col-12">
            <label class="radio-inline">
                <input type="radio" id="edistrict" name="type" value="edistrict" checked="checked" onclick="getEdistrictDiv()" />
                <b><em>e</em>District</b>
            </label>
            <label class="radio-inline">
                <input type="radio" id="choice" name="type" value="choice" onclick="getChoiceDiv()">
                <b>CHO<em><i>i</i></em>CE</b>
            </label>
        </div>
    </div>*@
    <div class="row pad-10">
        <div class="col-12">
            <div class="csc-input-group" style="margin-left:35%;">
                <span class="csc-input-group-addon">
                    <i class="fa fa-pen-to-square" title=" आवेदक संदर्भ क्रमांक / Application Reference Number"></i>
                </span>
                <input  type="text" id="ApplicationReferenceNumber" placeholder="आवेदक संदर्भ क्रमांक / Application Reference Number" class="form-control">
            </div>
        </div>
        <div class="col-12">

        </div>
    </div>
    <div class="row pad-10 text-center">
        <div class="col-12">
            <b>निर्देश/Note : कृपया ऊपर दिए गए मानदंडो में से एक अवश्य निर्दिष्ट करें / Please Specify one of the above Criteria</b>
        </div>
    </div>
    <div class="row pad-10 text-center">
        <div class="col-12">
            <button type="button" class="btn btn-info" title="खोजे /Search" onclick="onSearch();"><i class="fa fa-magnifying-glass" title="खोजे /Search"></i></button>
            @*<button type="button" class="btn btn-info" title="पीछे /Back" onclick="onBack();"><i class="fa fa-angle-left" title="पीछे /Back"></i></button>*@
            <button type="button" class="btn btn-info" title="फिर से /Reset" onclick="onReset();"><i class="fa fa-arrows-rotate" title="फिर से /Reset"></i></button>
        </div>
    </div>
    <div class="row pad-10">
        <div id="kgrdTrackApplication" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
    </div>
</div>