@inject IStringLocalizer<CMS.UI.Web.Areas.LMS.Controllers.LearningController> Resource
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model LearningPlanViewModel
@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout =  null;
}





<script type="text/javascript">

    function OnCreate() {     
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterTaskCreate&source=Create&dataAction=Create&templateCodes=LEARNING_PLAN&portalId=' + portalId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Create Learning Plan', Width: 1200, Height: 600 });
        return false;
    }

</script>

<script>
    var columnDefs = [
      
        {
            field: "CompetencyName",
            
        },
           {
               field: "CourseName",
              
           },

        {
            field: "LearningStartDate",
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
        {
            field: "LearningEndDate",
            cellRenderer: params => {

                var date = new Date(params.value);
                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            }
        },
        {
            field: "OwnerUserName",

        },
    ];

    $(function () {

        getData();
    });

    function getData() {
        document.getElementById("grid").innerHTML = "";
        gridConfig(
            "grid",
            "/lms/Learning/ReadData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>
<div class="appWrapper">
   
    <div class="hr-pad-top-10">
        <button type='button' class='btn btn-primary' onclick='OnCreate();'><i class='fa fas fa-plus'></i>&nbsp;Create</button>
        <br /><br />
        <div id="grid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        @*@(Html.Kendo().Grid<LearningPlanViewModel>().Name("grid")
              .ToolBar(toolbar =>
        {
            toolbar.Custom().Text("Create").Name("btnAdd").IconClass("fa fas fa-plus").HtmlAttributes(new { @class = "k-primary", href = "javascript:OnCreate();" });
        })
        .Columns(col =>
        {
            col.Bound(c => c.CompetencyName);
            col.Bound(c => c.CourseName);
            col.Bound(c => c.LearningStartDate).Format("{0:dd MMM yyyy}");
            col.Bound(c => c.LearningEndDate).Format("{0:dd MMM yyyy}");
            col.Bound(c => c.OwnerUserName);

        })
        .Scrollable(x => x.Enabled(false))
        .Sortable(srt => srt.Enabled(true))
        .Selectable(select => select.Enabled(false))
        .Filterable(f => f.Extra(false)
        .Operators(o => o.ForString(s => s.Clear()
        .Contains("Contains")
        .IsEqualTo("Is equal to")
        )))
        .Pageable(pageable => pageable
        .Refresh(true)

        .PageSizes(true)
        .ButtonCount(5))
        .AutoBind(true)
        .DataSource(
        dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .Read(read => read.Action("ReadData", "Learning", new { @area= "lms" }))
        .Model(model => model.Id(p => p.Id))
        )
        )*@





    </div>


</div>


