@using CMS.UI.ViewModel;

@{
    ViewData["Title"] = "Table & View Page";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}


<div class="row pad-20">
    <div class="col-12">
        @*<h3>@ViewBag.Title</h3>*@
    </div>
    <div class="col-12" style="text-align: center;">
        @*@(Html.Kendo().RadioButton().Name("rdoTableView").Label("Table")) &nbsp;&nbsp;
        @(Html.Kendo().RadioButton().Name("rdoTableView").Label("View"))*@

        <section class="section-preview">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="Table" name="rdoTableView" value="1">
                <label class="custom-control-label" for="Table">Table</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="View" name="rdoTableView" value="2">
                <label class="custom-control-label" for="View">View</label>
            </div>
        </section>
    </div>
    <div class="col-12">
        &nbsp;&nbsp;
    </div>
    <div class="col-12" style="text-align: center;">
        <div>
            <button type="button" class="btn btn-light" onclick="Cancel();">Cancel</button>
            @*<button type="submit" class="btn btn-success">Save</button>*@
            <button type="submit" class="btn btn-success" onclick="Save(event);">Save</button>
        </div>
    </div>
    @*<div id="tableview-content" class="col-12">

        </div>*@
</div>

<script type="text/javascript">
        $(document).ready(function () {

            @*var rGrp = $("input[name=rdoTableView]");
            rGrp.click(function () {
                //
                var checkedRadio = rGrp.filter(":checked");
                if (checkedRadio.prevObject[0].checked) {
                    //alert("Table");
                    LoadPartailView('@Url.Action("ManageTable", "TableMetadata", new { @area="Cms"})', $('#tableview-content'));
                }
                if (checkedRadio.prevObject[1].checked) {
                    //alert("View");
                    LoadPartailView('@Url.Action("ManageView", "TableMetadata", new { @area="Cms"})', $('#tableview-content'));
                }
            });*@
        });

    function Cancel() {
       
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
        //window.parent.CloseIframeModal();
    }
    function Save() {
        
        //var rGrp = $("input[name=rdoTableView]");
        //var checkedRadio = rGrp.filter(":checked");
        //if (checkedRadio.prevObject[0].checked) {
        //    //alert("Table");
        //    //Cancel();           
        //    var win = GetMainWindow();
        //    win.CloseWindow();
        //    return false;
        //    //window.parent.location.href = "/Cms/TableMetadata/ManageTable1";
        //    window.parent.location.href = "/Cms/TableMetadata/CreateTable";
        //}
        //if (checkedRadio.prevObject[1].checked) {
        //    //alert("View");            
        //    var win = GetMainWindow();
        //    win.CloseWindow();
        //    return false;
        //    window.parent.location.href = "/Cms/TableMetadata/ManageView";
        //}       

        var rGrp = $('input[name=rdoTableView]:checked').val();

        if (rGrp == 1) {
            var win = GetMainWindow();
            win.CloseWindow();
            return false;            
            window.parent.location.href = "/Cms/TableMetadata/CreateTable";
        }
        else if (rGrp == 2) {
            var win = GetMainWindow();
            win.CloseWindow();
            return false;
            window.parent.location.href = "/Cms/TableMetadata/ManageView";
        }

         //Cancel();
    }
</script>