@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Manage Candidate References";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model CandidateReferencesViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }
    .cms-managecandedu-footer {
        /*        position: absolute;*/
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

    <form asp-controller="CandidateProfile" asp-action="ManageCandRefer" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px"></div>
        <div class="row" style="padding:10px;">

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="SequenceOrder" type="number" min="0" step="any" class="form-control" placeholder="Sl No" autocomplete="off" style="width:80%;" required="required" />
                    <label for="SequenceOrder">Sl No <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Name">Name <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Position" type="text" class="form-control" placeholder="Position" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Position">Position <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Company" type="text" class="form-control" placeholder="Company" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Company">Company <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Phone" type="number" class="form-control" placeholder="Phone" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Phone">Phone <span class="required">*</span></label>
                </div>
            </div>
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" autocomplete="off" style="width:80%;" required="required" />
                    <label for="Email">Email <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-15">
                &nbsp;
            </div>

            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-light" value="Close" onclick="closeNavMemberGroup()" />
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.CandidateProfileId)
        
    </form>
</div>

<script type="text/javascript">
   $(document).ready(function () {
        if ('@ViewBag.Success' == "True") {
           // window.parent.parent.$("#kgrdCandrefer").data("kendoGrid").dataSource.read();
            closeNavMemberGroup();
        }

    });

    function closeNavMemberGroup() {
        //window.parent.CloseIframePopup();
        var win = GetMainWindow();
        win.CloseWindow({ MethodName: 'RefreshCREF' });
        return false;
    }


</script>

