.hero-banner {
  /*background-image: url("hero-banner.png");*/
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  /*clear: both;*/
  margin: 0 0 26px 0;
}

.title-aboutus {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  color: #B45248;
  padding: 20px 0;
}

.gen-text {
  font-family: poppins;
  font-size: 16px;
  color: #353535;
  text-align: justify;
  line-height: 32px;
  padding: 0 20px 0 0;
}

.about-text {
  width: 50%;
  /*float: left;*/
}

.but-bg {
  background-color: #E8E5DE;
  height: 32px;
  border-radius: 20px;
}

.read-more {
  float: right;
  padding: 4px 20px;
  margin: 0;
}

.about-img {
  width: 50%;
  float: left;
}

.mid-body {
  width: 90%;
  margin: 0 auto;
  padding: 2px;
  clear: both;
}

.services {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  clear: both;
}

.service-block {
  padding: 10px;
  height: auto;
  float: left;
}

.service-caption {
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  text-align: center;
}

.Title-PG {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 6px 0;
  display: block;
  clear: both;
  font-family: poppins;
  font-size: 18px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  color: #B45248;
  padding: 20px 0;
}

.gal-img-block {
  width: 100%;
  height: auto;
  padding: 14px;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  box-shadow: 1px 4px #bababa;
  margin: 0 0 12px 0;
}

.gal-img-caption {
  margin: 0 auto;
  text-align: center;
  padding: 4px;
  width: 100%;
  display: block;
  font-family: poppins;
  font-size: 14px;
}

.gallery-img {
  clear: both;
  padding: 0;
  margin: 10px 0 2px 0;
  text-align: center;
}

.PG-block {
  width: 90%;
  display: block;
  clear: both;
  margin: 60px auto;
}

.map {
  border-radius: 20px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.footer-container {
  padding: 0;
  margin: 0 auto;
  background-color: #643126;
  width: 100%;
  color: #fff;
}

.footer-body {
  margin: 0 auto;
  background-color: #643126;
  font-size: 16px;
  color: #ffffff;
  width: 90%;
}

.copyright {
  text-align: center;
  background-color: #350E05;
  color: #ffffff;
  clear: both;
  margin: 0;
}

.footer-block-1 {
  width: 100%;
  padding: 10px 0 0 10px;
  margin: 10px auto;
  float: left;
}

.footer-block-2 {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.footer-menu-1 {
  width: 50%;
  float: left;
  padding: 10px;
  margin: 10px auto 0;
  line-height: 30px;
}

.footer-menu-2 {
  width: 50%;
  float: left;
  padding: 10px;
  margin: 10px auto 0;
  line-height: 30px;
}

.social-icon {
  padding: 0;
  margin: 0 0 10px;
  float: left;
  height: 40px;
  width: 50px;
}

.copyright-text {
  padding: 16px 0 0 0;
  margin: 0;
  text-align: center;
  line-height: 16px;
}

.divider-line {
  border-top: 1px solid #ffffff;
}

.aboutus-body {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  height: auto;
}

.footer {
  width: 90%;
  margin: 0 auto;
}

.DB-Container-box {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  height: auto;
}

.no-horz-bar {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.third-level-menu-bg {
  background-color: #ffffff;
  height: 120px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #dadada;
}

.indiv-block-bg {
    /*background-color: #F5EBBC;*/
    height: 150px;
    /*width: 280px;*/
    width: 275px;
    border-radius: 20px;
    margin-left: 20px;
    overflow: hidden !important;
    border: 1px solid #e66c80;
    background-color: #FFF;
}

.L-block {
  width: 130px;
  padding: 0;
  float: left;
  margin: 0;
}

.R-block {
  width: 55%;
  float: left;
  padding: 0px 15px ;
  margin: 0 auto;
  /*text-align: center;*/
}

.service-name {
  clear: both;
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
}

.service-title-2 {
  font-size: 14px;
  font-family: poppins;
  font-weight: 500;
  margin: 18px 0;
  text-align: left;
  /*float: right;*/
  padding-top:25px;
}

.amount {
  font-size: 25px;
  font-family: poppins;
  font-weight: 600;
  white-space: nowrap;
  margin: 12px 0;
  /*border-bottom: 4px solid #353535;*/
}

.title-bg {
  background-color: #E66C80;
  padding: 6px 0 2px 20px;
  margin: 0;
  font-size: 16px;
  color: #fff;
  border-radius: 12px 12px 0 0;
  height: auto;
  font-weight: 500;
}

.bill-date {
  width: 100%;
  display: block;
  padding: 2px;
  margin: 0;
}

.due-date {
  width: 100%;
  display: block;
  padding: 2px;
  margin: 0;
}

.status {
  width: 100%;
  display: block;
  padding: 4px;
}

.service-img {
  padding: 10px;
  margin: 0 auto;
}

.sub-lable {
  font-size: 14px;
  font-weight: 600;
  color: #37434d;
  white-space: nowrap;
}

.field-value {
  font-size: 16px;
  font-weight: 600;
  color: #0e0d0d;
}

.dates-block {
  width: 100%;
  padding: 2px;
  margin: 10px;
}

.tempicon{
    height:130px;
    width:130px;
}

.circle {
    width: 130px;
    height: 130px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
    text-align: center;
    border: 10px solid gray;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}

.card {
  /*  min-width: 350px;*/
    max-height: 100%;
   /*  float: left;
   margin-left: 25px;*/
    margin-top: 25px;
    border: none !important;
}

.card-header {
    background-color: #fff !important;
    border-bottom: none !important;
}

.card-body {
    border: 1px solid #dcd8d8;
    border-radius: 6px;
   /* padding: 0px !important;*/
    max-height: 255px;
}

.card-body-col {
    background-color: #178c92;
    color: #fff;
    border-radius: 0px 6px 6px 0px;
}

.k-listview {
    border-style: none !important;
}

.scrollbtn {
    background-color: #4E4D4D;
    color: white;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    border-radius: 2px;
}

.quickaccess {
    height: 150px;
    width: 300px;
    cursor: pointer;
}

.box {
    margin-top: 10px;
    /*float: left;*/
    flex-direction: unset;
}

.tempheader {
    margin-right: -15px;
    margin-left: -15px;
}

.sercount {
    margin-right: 0px !important;
    margin-left: 0px !important;
    cursor: pointer;
}
.moreser {
    text-align: center;
    height: 100%;
    color: #0093c9;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 6px;
}
.service-title-3 {
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    margin: 18px 0;
    text-align: left;
    /*float: right;*/
    padding-top: 40px;
    font-size: 20px;
    cursor: pointer;
}
.listheading {
    font-weight:500;
    margin-left:30px;
}