@inject Synergy.App.Common.IUserContext _userContext
@*@using Kendo.Mvc.UI*@
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}

@section topStyle{
    <style>
        #content-wrapper {
            background-color: #fff !important;
        }
    </style>
}
@section topScript{
    <script type="text/javascript">
        var iframeOpenUrl = "";
        function OnLogout() {
            document.getElementById("logout").submit();
        }
        function OpenChangePassowrd() {
            OpenIframeModal('/account/changepassword', 'Change Password', 350, 700);
        }
        function OpenBreResultViewDetails() {
            OpenIframeModal('/bre/BreResultViewDetails', 'View Details', 450, 700);
        }
    function OpenMyProfile() {
            var myId = '@_userContext.UserId';
            console.log(myId);
            var url = 'user/myprofile?id=' + myId;
            OpenIframeModal(url, 'My Profile', 450, 800);
        }
        function OpenIframeModal(url, title, width, height) {

            ShowLoader($('.modal-body'));
            var iframe = document.createElement('iframe');
            iframe.setAttribute('url', '');
            iframe.setAttribute('frameborder', '0');
            iframe.setAttribute('scrolling', 'no');
            //iframe.setAttribute('width', width);
            //iframe.setAttribute('height', height);
            iframe.onload = function () {
                var h = iframe.contentWindow.document.body.scrollHeight;
                var w = iframe.contentWindow.document.body.scrollWidth;
                iframe.style.height = h + 'px';
                iframe.style.width = w + 'px';
                var mw = eval(w + 30);
                if (width > mw) {
                    mw = width;
                }
                if (height > h) {
                    h = height;
                }
                $('.modal-dialog').css({
                    width: mw + 'px', //probably not needed
                    height: h + 'px', //probably not needed
                    'max-height': '90%'
                });
                HideLoader($('.modal-body'));
            };
            iframe.src = url;
            document.getElementById('iframeDiv').innerHTML = '';
            document.getElementById('iframeDiv').appendChild(iframe);
            //$('#modalIframe').attr('src', '');
            $('#iframeModal').modal({ show: true });
            $('#iframeModal').on('shown.bs.modal', function () {

                $('#modalIframe').attr('src', url);

            })
        };

        function CloseIframeModal(reloadParent) {
            $('#iframeModal').modal('hide');
            if (reloadParent) {
                //window.location.href = window.location.href;
            }
        }
        function ShowLoader(target) {
            target.loadingOverlay();
        }
        function HideLoader(target) {
            target.loadingOverlay('remove');
        }

        function ToggleLoader(target) {
            if (target.hasClass('loading')) {
                target.loadingOverlay('remove');
                //target.loadingOverlay('remove', {
                //    iconClass: 'fa fa-spinner fa-spin'
                //});
            } else {
                target.loadingOverlay();
                //target.loadingOverlay({
                //    iconClass: 'fa fa-spinner fa-spin'
                //});

            };
        }

        function OpenIframePopup(w, h, t) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });

            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });
        }
        function CloseIframePopup() {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function GetW(w) {
            return $(window).width() > w ? w : $(window).width() - 80;
        }
        function GetH(h) {
            return $(window).height() > h ? h : $(window).height() - 80;
        }
        function OnIframeActivate(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen(e) {
            kendo.ui.progress(e.sender.element, true);
        }

        function OnIframeClose(e) {
            try {
                var pop1 = window.parent.GetIframePopup();
                pop1.PopupClose();
                var url = window.location.href;
                if (url.includes('&documentId')) {
                    window.location.href = url.split('&documentId')[0];
                }
            } catch (x) {

            }
        }
        function OnIframeRefresh(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate(e) {
            var wnd = $("#kiframepopupwindow").data("kendoWindow");
            wnd.content("");
        }

        function OnIframeClose2(e) {
            try {
                var pop2 = window.parent.GetIframePopup();
                pop2.PopupClose2();
            } catch (x) {

            }
        }
        function OpenIframePopup2(w, h, t) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.setOptions({
                width: GetW(w),
                height: GetH(h),
                title: t
            });
            wnd.center().open();
            wnd.wrapper.find('.k-window-titlebar').css({
                'background-color': 'transparent',
                'border-bottom-style': 'none',
                'color': 'rgb(193, 151, 42)'
            });

        }
        function CloseIframePopup2() {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            if (wnd != null) {
                wnd.close();
            }
            return false;
        }
        function OnIframeActivate2(e) {
            e.preventDefault();
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            ActiveWindow = this;
            wnd.refresh({
                url: iframeOpenUrl,
                cache: false,
                type: "GET"
            });
        }
        function OnIframeOpen2(e) {
            kendo.ui.progress(e.sender.element, true);
        }
        function OnIframeRefresh2(e) {
            kendo.ui.progress(e.sender.element, false);
        }
        function OnIframeDeactivate2(e) {
            var wnd = $("#kiframepopupwindow2").data("kendoWindow");
            wnd.content("");
        }
        function GetIframePopup2() {
            var windowElement = $("#kiframepopupwindow2");
            var iframeDomElement = windowElement.children("iframe")[0];
            var iframeWindowObject = iframeDomElement.contentWindow;
            return iframeWindowObject;
        }
        function LoadPartailView(url, container) {
            ShowLoader(container);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    container.html("");
                    container.html(data);
                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }



        function LoadPartailViewWithData(url, container, model) {
            ShowLoader(container);
            $.ajax({
                url: url,
                type: 'POST',
                async: true,
                cache: false,
                contentType: 'application/json; charset=utf-8',
                dataType: "html",
                data: JSON.stringify(model),
                success: function (data) {
                    container.html("");
                    container.html(data);
                    HideLoader(container);
                },
                error: function (errData) {
                    container.html(errData);
                    HideLoader(container);
                }
            });
        }
    </script>
}
<div>
    @RenderBody()

    <form method="post" action="~/Identity/Account/LogOut" id="logout" style="display:none;">
        <button type="submit" class="nav-link btn btn-link">Log out</button>
    </form>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal" onclick="OnLogout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Iframe Modal-->

    <div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="iframeModalLabel">Title</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loading-overlay">
                        <p class="loading-spinner">
                            <span class="loading-icon fa fa-spinner fa-spin fa-2x"></span>
                            <span class="loading-text"></span>
                        </p>
                    </div>
                    <div id="iframeDiv"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- Iframe Window-->
    @*@(Html.Kendo().Window().Name("kiframepopupwindow")
        .Title("Window_TitlePopupWindow")
        .Visible(false)

        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")
.Actions(actions => actions.Maximize().Close())

.Width(200)
.Height(350)
.Events(e => e.Activate("OnIframeActivate").Open("OnIframeOpen").Close("OnIframeClose").Refresh("OnIframeRefresh").Deactivate("OnIframeDeactivate"))
    )
    @(Html.Kendo().Window().Name("kiframepopupwindow2")
        .Title("Window_TitlePopupWindow")
        .Visible(false)
        .Modal(true)
        .Iframe(true)
        //.ContentSettings(x => x.Cache(false))
        .Draggable(true)
        .Content("")

        .Width(200)
.Height(350)
.Actions(actions => actions.Maximize().Close())
.Events(e => e.Activate("OnIframeActivate2").Open("OnIframeOpen2").Close("OnIframeClose2").Refresh("OnIframeRefresh2").Deactivate("OnIframeDeactivate2"))
    )*@

</div>
