@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model UserViewModel
@{
    ViewData["Title"] = "User";
    //Layout = null;
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .avatar-myProfile {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .drp-user {
        width: 400px;
    }
</style>
 



<div>
    <form asp-controller="User" asp-action="UserDropdown" asp-area="Cms">
        <div class="col-12">


            @await Html.PartialAsync("~/Areas/CMS/Views/User/_UserDropdown.cshtml", new Tuple<string, string, string>(Model.Id, nameof(Model.Id), null))
            @await Html.PartialAsync("~/Areas/CMS/Views/User/_UserDropdown.cshtml", new Tuple<string, string, string>(Model.LastName, nameof(Model.LastName), null))


            @*.Events(events => events.Filtering(
                    @<text>
                        function(e) {
                           var filterValue = e.filter != undefined ? e.filter.value : "";
                                e.preventDefault();

                              this.dataSource.filter({
                                logic: "or",
                                filters: [
                                  {
                                    field: "Name",
                                    operator: "contains",
                                    value: filterValue
                                  },
                                  {
                                    field: "Email",
                                    operator: "contains",
                                    value: filterValue
                                  }
                                ]
                              });
                        }
                        </text>
                        ))

        )*@
        </div>
        <button type="submit" value="Test">Test</button>
    </form>


</div>
