@{ViewData["Title"] = "DocumentManagement";
    //Layout = null;
}

<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<script src="assets/js/readmore.js"></script>
<script>
    function onExploreFeatures() {
        LoadPartailView("/SynergySolutions/SynergySolutions/DMSFeatures", $("#cms-content"));
    }
    function onEdmsModulesandBenefits() {
        LoadPartailView("/SynergySolutions/SynergySolutions/EdmsModuleBenefits", $("#cms-content"));
    }
    function onEdmsArchitecture() {
        LoadPartailView("/SynergySolutions/SynergySolutions/EdmsArchitecture", $("#cms-content"));
    }
</script>


@*<section class="Top-header"></section>*@
<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/document-management.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Document Management</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom vertical-spacing">
    <div class="container">
        <h1 class="text-center">Overview</h1><br>
        <p class="text-justify">In today's world of information technology, it's all about efficiently accessing and managing data while conserving time and space. According to a famous research, 98 percent of documents in any business are saved and archived for future reference after their current utility has expired. The storage of these records necessitates large areas, squandering precious space. Documents in storage are also at risk of being damaged, misplaced, or misfiled. Retrieving old papers is time-consuming and resource-intensive at times, necessitating more labour just to keep them up to date.</p>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/dm-synergy-doc.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/dm-synergy-doc.jpg"></div>
            <div class="col-md-6">

                <h1>Synergy Document Management System</h1>
                <p class="text-justify">You can manage both paper and electronic documents and files in one system. Electronic documents can be easily retrieved for rapid reference. We combine a series of modules that provide a new degree of information control and help you handle your data effectively, depending on your needs. Comprehensive Document Management Solution developed on the Synergy Company Process Management Platform to meet all of your business needs.</p>

            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">

                <h1 class="white-text">Electronic Document Management System</h1>
                <p class="text-justify white-text"><br>Workflow is a software system for tracking and storing electronic and/or paper documents. Storage, versioning, metadata, security, indexing, and retrieval are all features of document management systems. eDMS facilitate effective knowledge and information sharing, which is critical for any business. Its content management technology aids enterprises in managing and disseminating information more quickly and effectively.</p>

            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/dm-e-doc-manage.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/dm-e-doc-manage.jpg"></div>

        </div>
    </div><br>
</section>

<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/dm-client-admin.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/dm-client-admin.jpg"></div>

            <div class="col-md-6">

                <h6>eDMS provide effective knowledge and information sharing that is vital to any organization. It’s Content management solution help businesses manage and distribute information faster and more efficiently.</h6>
                <br><h1>The eDMS have two different modules of operation</h1>
                <p class="text-justify">Administration Module</p>
                <p class="text-justify">Client Module</p>
                <button class="btn btn-primary" type="button" style="background: #0e5fb1;padding: 12px 30px;" onclick="onEdmsModulesandBenefits()">Read More</button>

            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">eDMS Architecture</h1>
                    <p class="text-justify white-text"><br>Synergy eDMS architecture is built in such a way that it helps to find out easy way to solve issues.</p>
                    <p class="text-justify white-text">Our architecture is very flexible and up to date.</p>
                    <button class="btn btn-primary" type="button" style="background: #0e5fb1;padding: 12px 30px;" onclick="onEdmsArchitecture()">Read More</button>
                </div>

            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/dm-edms-archi.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/dm-edms-archi.jpg"></div>

        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <h1 class="text-center top-spacing">eDMS - Why Choose us?</h1><br>
    <div class="container">
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">We are high-quality solution providers who enables business users, developers, and designers to create and deliver engaging user experiences. Synergy EDMS is an end-to-end architecture for delivering Rich Internet Applications (RIAs), content, and communications across a variety of platforms and devices.</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Synergy EDMS is built to be simple to deploy and maintain in a standards-based enterprise architecture.</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Our solution is built with open source frameworks and technologies, which saves a lot of money over proprietary licences and makes it simple to deploy and maintain.</p></div>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Synergy EDMS with workflow manages documents by storing, organising, indexing, and filing them electronically. At the touch of a button, they can be retrieved whenever needed</p></div>
        <ul>
            <li>Unstructured data in the form of documents in your company can be accessed and stored in a structured format by users.</li>
            <li>The user can download any document to his desktop and operate with it, which eliminates the need for paper documents.</li>
            <li>It's a robust document archiving solution that provides document security, faster access, and significant cost savings.</li>
        </ul>
        <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Our system will allow you to handle both paper and electronic papers and data in one place. Electronic documents can be easily retrieved for rapid reference. We combine a series of modules that provide a new degree of information control and help you handle your data effectively, depending on your needs.</p></div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <br />
    <div class="text-center bottom-spacing">
        <button class="btn btn-primary" type="button" onclick="onExploreFeatures()">Explore DMS Features</button>

        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Transformation Overview</h5>
                    <p>Understand the trend toward digitization</p>
                </div>
            </div>
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Automate Common Processes</h5>
                    <p>Liberate work teams from manual tasks to drive innovation.</p>
                </div>
            </div>
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Go Paperless</h5>
                    <p>Take the ﬁrst step toward digitization.</p>
                </div>
            </div>
        </div>
        <div class="row bottom-spacing">
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Keep the team organized</h5>
                    <p>Manage creative projects with tools made for visual content. Start a project to manage creative assets, feedback, decisions and approvals in one place.</p>
                </div>
            </div>
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Securely Work With Your Documents Anywhere</h5>
                    <p>Protected with an encrypted connection allows you to work anywhere on a desktop or the mobile app.</p>
                </div>
            </div>
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Share Documents Instantly, Worry-free</h5>
                    <p>Rather than sending docs through email attachments, bring recipients into a secure environment for them to download files.</p>
                </div>
            </div>
        </div>
    </div><br>
</section>
<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Card-Carousel.js"></script>
