@{ ViewData["Title"] = "Project Management";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/e-governance.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">E-Governance</h1>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom vertical-spacing">
    <div class="container">
        <h1 class="text-center">E-Governance Service</h1><br>
        <p class="text-justify">E-governance refers to the use of information technology and communication for the purpose of governance. Information can be distributed to the public in a transparent manner using e-governance. Synergy provides IT infrastructure services as well as non-IT services for municipalities, smart city projects, planning, designing, and implementing IT infrastructure for its clients. We utilises our extensive industry and technical experience to assist customers in getting the most out of their IT investments. The firm accomplishes this by delivering a cost-effective, dependable, and cutting-edge IT infrastructure management platform.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Citizen Services:</p></div>
                <ul>
                    <li>Public Grievances</li>
                    <li>Sanitation Services</li>
                    <li>Community hall booking</li>
                </ul>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">User Characteristics for Integrated Portal</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Constraints assumptions & Dependencies</p></div>
            </div>
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Functionalities of software as per services</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">User Interface Requirements for Integrated Portal</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Network Architecture</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">API Requirements</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Specifications & Data requirement</p></div>
            </div>
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Safety & Security Requirement</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">User Documentation- Operation, Execution & Maintenance Requirement</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Performance Index</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Non-Functional Requirement</p></div>
            </div>
        </div>
</section>
<section>
    <div class="container"><h4 class="text-center">Our Motto is to provide the integrated application portal for both the website and mobile users considering the following strategies</h4></div>
    <br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/egov-citizen-services.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/egov-citizen-services.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Citizen Services</h1><br>
                <p class="text-justify">Citizen Portal software aimed to be developed as a part of the Smart City Mission. → Recording information and automate the approval, registration, billing process for the city Municipal Corporation. → To provide services to the citizens online e.g., online tax payment, online grievance registration, bin booking, waste clearance, new water and sewerage connection, Existing water and Sewerage connection issues. → The software would provide a holistic view of the processes provided by the Municipal Corporation to the citizens.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">GIS Mobile Application</h1>
                <p class="text-justify white-text"><br>Recording information and automate the approval, registration, billing process for the city Municipal Corporation. → To provide services to the citizens online e.g., online tax payment, online grievance registration, bin booking, waste clearance, new water and sewerage connection, Existing water and Sewerage connection issues. → The software would provide a holistic view of the processes provided by the Municipal Corporation to the citizens.</p>
                <!--</div>
                <br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/egov-mobile.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/egov-mobile.jpg"></div>
        </div>
    </div><br>
</section>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
