@{ ViewData["Title"] = "UI Builder";
    //Layout = null; 
}

<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">


    @*<section class="Top-header"></section>*@
    
    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/ui-builder.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero-banner-title bottom-spacing">Synergy UI Builder</h1><br>
                    <h6 class="hero-banner-subtitle no-display"></h6>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-top-bottom vertical-spacing">
        <div class="container">
            <h1 class="text-center">Overview</h1>
            <p class="text-justify">UI Builder is a no-code, drag-and-drop interface for building the frontend of your app or website. You can design for all platforms, whether your application is intended for mobile, web, or both. Using a single builder, you can create workspace and portal pages and customise them. Provide customers and employees with engaging, personalised experiences.</p>
            <div class="row">
                <div class="col-md-4 top-padding-20">
                    <div class="background-white border-left-modified box-padding div-shadow">
                        <h5 class="text-blue">Transformation Overview</h5>
                        <p>Understand the trend toward digitization</p>
                    </div>
                </div>
                <div class="col-md-4 top-padding-20">
                    <div class="background-white border-left-modified box-padding div-shadow">
                        <h5 class="text-blue">Automate Common Processes</h5>
                        <p>Liberate work teams from manual tasks to drive innovation.</p>
                    </div>
                </div>
                <div class="col-md-4 top-padding-20">
                    <div class="background-white border-left-modified box-padding div-shadow">
                        <h5 class="text-blue">Go Paperless</h5>
                        <p>Take the ﬁrst step toward digitization.</p>
                    </div>
                </div>
            </div>
        </div>
        </div><br>
    </section>

    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="content">-->
                    <h1>Features of UI Builder</h1><br>
                    <p><b>A single, simple builder</b> With a Synergy user interface and a variety of context-aware components, you'll be up and running in no time.</p>
                    <p><b>Advanced Themes and styles</b> Match page design to the styles and standards of your organisation.</p>
                    <p><b>Domain segregation</b> In multitenant environments, you can create, edit, and keep data private.</p>
                    <p><b>Ready-made components</b> Create your own web components or use over 100 out-of-the-box web components to get started quickly.</p>
                    <!--</div>
                    <br><button class="btn btn-primary more" type="button"></button>-->
                </div>
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-uibuilder.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-uibuilder.jpg"></div>
            </div>
        </div><br>
    </section>

   
    <script>
    let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }</script>
    <script src="~/Themes/SynergySolutions/synergysolutions.js"></script>