@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations

@using Synergy.App.ViewModel
@using Synergy.App.Business
@{
    ViewData["Title"] = "Add Company";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model Synergy.App.ViewModel.CompanyViewModel

@{
   // var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("/Company/Save") };
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = "https://ej2.syncfusion.com/services/api/uploadbox/Save", RemoveUrl = "https://ej2.syncfusion.com/services/api/uploadbox/Remove" };

}

<form asp-controller="Company" asp-action="AddCompany" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:10px;">
        <div class="col-sm-12">

            <div class="row" style="margin-bottom:10px !important;">
                <div style="width: 80px !important;">
                    @if (Model.LogoFileId != null)
                    {
                        <img class="logoimg" src="/company/companylogo?id=@Model.LogoFileId" onerror='OnPhotoError(this);' />
                    }
                    else
                    {
                        <img class="logoimg" style="background-color:gray;" src="/img/logo.png" />
                    }

                </div>
                <div style="width: 200px !important; margin-left: 15px !important;">
                    <ejs-uploader id="uploadFiles" autoUpload="false" asyncSettings="@asyncSettings" success="onUploadSuccess" failure="onUploadFailure" allowedExtensions=".jpg" maxFileSize=2048000 multiple="false">

                    </ejs-uploader>
                </div>
            </div>

            <div class="form-label-group">
                <input asp-for="Name" class="form-control" placeholder="Company Name" type="text" autocomplete="off" required="required" />
                <label for="compname">Company Name</label>
            </div>
            <div class="form-label-group">
                <input type="text" asp-for="Code" class="form-control" placeholder="Code" required="required" autocomplete="off">
                <label for="code">Company Code</label>
            </div>
            <div class="form-label-group">
                <input type="text" asp-for="Address" class="form-control" placeholder="Address" required="required" autocomplete="off">
                <label for="address">Address</label>
            </div>
            <div class="form-label-group">
                <input type="text" asp-for="Phone" class="form-control" placeholder="Phone" required="required" autocomplete="off">
                <label for="phone">Phone</label>
            </div>
            <div class="form-label-group">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email" required="required" autocomplete="off">
                <label for="email">Email</label>
            </div>
            <div class="form-label-group">
                <input type="text" asp-for="Fax" class="form-control" placeholder="Fax" required="required" autocomplete="off">
                <label for="fax">Fax</label>
            </div>
            <div class="form-label-group">
                <input type="text" asp-for="ContactPerson" class="form-control" placeholder="Contact Person" required="required" autocomplete="off">
                <label for="contactperson">Contact Person</label>
            </div>

            <div class="form-label-group">
                <input type="text" asp-for="ContactPersonEmail" class="form-control" placeholder="Contact Person Email" required="required" autocomplete="off">
                <label for="contactpersonemail">Contact Person Email</label>
            </div>

            <div class="form-label-group">
                <input type="text" asp-for="ContactPersonMobile" class="form-control" placeholder="Contact Person Mobile" required="required" autocomplete="off">
                <label for="contactpersonmobile">Contact Person Mobile</label>
            </div>


            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            123
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-light" onclick="CloseIframeModal();">Close</button>
        </div>
    </div>
</form>

<style>
    .logoimg {
        height: 55px;
        width: 55px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }
</style>

<script type="text/javascript">
    function onUploadSuccess(args) {
        if (args.operation === 'upload') {
            alert('image upload success');
        } else if (args.operation === 'remove') {
            alert('image upload success');
        }

        console.log(args);

    }
    function onUploadFailure(args) {
        alert('image upload failed');
        console.log(args);
    }

    @*function onChange(args) {
         for(var file in args.file) {
            var doc = _documentBusiness.Create(new DocumentViewModel { Name = file.FileInfo.Name, Length = file.Stream.Length, Extension = file.FileInfo.Type, Content = file.Stream.ToArray() });
            @Model.LogoFileId = doc.Item.Id;
        }

    }*@
</script>

