@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = Convert.ToString(ViewData["Layout"]);
}

<style>
    body {
        font-family: 'Varela Round', sans-serif;
    }

    .modal-login {
        color: #636363;
        width: 400px;
    }

        .modal-login .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .modal-login .modal-header {
            border-bottom: none;
            position: relative;
            justify-content: center;
        }

        .modal-login h4 {
            text-align: center;
            font-size: 26px;
        }

        .modal-login .form-group {
            position: relative;
        }

        .modal-login i {
            position: absolute;
            left: 150px;
            top: 20px;
            font-size: 28px;
        }

        .modal-login p {
            position: absolute;
            left: 300px;
            top: 20px;
            font-size: 18px;
            cursor: pointer;
        }


        .modal-login .form-control {
            padding-left: 40px;
        }

        .modal-login .password {
            padding-right: 35px;
        }

        .modal-login .form-control:focus {
            border-color: #00ce81;
        }

        .modal-login .form-control, .modal-login .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-login .hint-text {
            text-align: center;
            padding-top: 10px;
        }

        .modal-login .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .modal-login .btn, .modal-login .btn:active {
            border: none;
            line-height: normal;
        }



        .modal-login .modal-footer {
            background: #ecf0f1;
            border-color: #dee4e7;
            text-align: center;
            margin: 0 -20px -20px;
            border-radius: 5px;
            font-size: 13px;
            justify-content: center;
        }

            .modal-login .modal-footer a {
                color: #999;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

    .modal-title {
        justify-content: center;
    }
</style>
<script type="text/javascript">
    window.onload = function (e) {
        $('#myModal').modal({ backdrop: 'static', keyboard: false });
    }
    function ShowHidePassword() {
        var x = document.getElementById("pwd");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Synergy.App.Common.ApplicationConstant.AppName</h4>
            </div>
            <div class="modal-body">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <i class="fa fa-user"></i>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" type="text" required="required" />
                        @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <input asp-for="Input.Password" placeholder="Password" class="form-control password" type="password" required="required" id="pwd" />
                        @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                        <p class="fa fa-eye" onmousedown="ShowHidePassword()" onmouseup="ShowHidePassword();"></p>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block btn-lg btn-login" value="Login">
                    </div>
                    <input type="hidden" asp-for="Input.Layout" value="@ViewData["Layout"]" />
                    <input type="hidden" asp-for="Input.PortalId" value="@ViewData["Layout"]" />
                </form>
            </div>
            <div class="modal-footer">
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
            </div>
        </div>
    </div>
</div>