@inject IStringLocalizer<CMS.UI.Web.Areas.DMS.Controllers.DocumentController> Resource
@{
    ViewData["Title"] = "Update Folder Count";    
    Layout = null;
}

<div class="control-section">
    <div class="sample-container">
        <br />

        <input type="button" class="btn btn-primary" value="Update Count" id="submitBtn" onclick="OnUpdateFolderCount();" />
    </div>
</div>

<script>
    function OnUpdateFolderCount() {
        ShowLoader($('.control-section'));
        $.ajax({
                         url: '@Url.Action("UpdateFolderCount", "Document", new { @area="DMS"})',
                        type: 'GET',
                        data: {},
                        dataType: 'json',
                            success: function (result) {
                            if (result) {
                                kendo.alert("Updated Successfully.");
                                HideLoader($('.control-section'));
                            }
                            else {
                                kendo.alert("update Failed !");
                                HideLoader($('.control-section'));
                            }
                    },
                    error: function (ert) {

                    }
                });
    }
</script>





