@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Portal";
    //Layout = null;    
}

@model ResourceLanguageViewModel




<form asp-controller="Template" asp-action="LanguageUpdate" asp-area="Cms" method="post" class="form-parse-date  form-horizontal" id="frmTaskTimeEntry"
      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
      data-ajax="true" data-ajax-method="POST">
    <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>
    <div class="p-3">
        <div id="div-add-time">
            <button type="button" id="addTimeEntry" class="btn btn-primary" onclick="onShowtimeEntry()">Add Language</button>
        </div>
        <div class="row  div-time-entry ml-0 mr-0" id="timeEntryDiv" style="display:none;">
            <div class="form-group col-4">
                <label class="col-form-label">
                   Code
                </label>
                <div>


                    <input asp-for="Code" class="form-control"  required/>

                </div>
            </div>
            <div class="form-group col-4">
                <label class="col-form-label">
                    English
                </label>
                <div>
                    <input asp-for="English" class="form-control" />

                </div>
            </div>
            <div class="form-group  col-sm-4">
                <label class="col-form-label">
                    Arabic
                </label>
                <div>

                    <input asp-for="Arabic"  style="width:100%" class="form-control" />
                </div>
            </div>
            <div class="form-group  col-sm-4">
                <label class="col-form-label">
                   Hindi
                </label>
                <div>

                    <input asp-for="Hindi" style="width:100%" class="form-control" />
                </div>
            </div>

            


            
            <div class="form-group col-12" style="text-align: right;">
                <input type="submit" class="btn btn-primary" value="Save" />
                <button type="button" class="btn btn-light" onclick="onHidetimeEntry()">Cancel</button>
            </div>
            @Html.HiddenFor(x => x.TemplateId)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DataAction)
        </div>

        <div class="pt-3">
           
            <div id="jsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
           
        </div>
    </div>
</form>

@*<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
   
        <div class="row">
            <div class="pad-15 no-gutters" style="width: 100%;">
                <div id="jsGrid"></div>
            </div>
        </div>

        
   
</div>*@

<script>
   
    var onAjaxSuccess = function (res) {
        //debugger
        //if (res.success) {
          
            ShowNotification("Saved Successfully", "success");
            var entityGrid = $("#jsGrid").data("JSGrid");
            entityGrid.render();
            $("#frmTaskTimeEntry")[0].reset();
            onHidetimeEntry();
       // }
       // else {
           // ResetDate();
            showError(res.error);
       // }
    };
    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "600px",

        inserting: false,
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,
        pageSize: 10,
        pageButtonCount: 5,
        deleteConfirm: "Do you really want to delete client?",
        controller: {
            loadData: function (filter) {
                return $.ajax({
                    type: "GET",
                    url: "/cms/Template/GetLanguage?templateId=@Model.TemplateId",
                    data: filter,
                    dataType: "json"
                });
            },
     
            updateItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "/cms/Template/LanguageUpdate",
                    data: item,
                    dataType: "json",
                    success: function (result) {
                        alert("Success", "updated successfully");
                    },
                    error: function (err) {
                        alert(err, "Error updating");
                    }
                });
            },
            
        },

        fields: [

            { name: "Code", type: "text", width: 180, validate: "required" },
            { name: "English", type: "text", width: 200 },
            { name: "Arabic", type: "text", width: 200 },
            { name: "Hindi", type: "text", width: 200 },
            { type: "control" }

        ]
    });
    function onShowtimeEntry() {
        $("#addTimeEntry").hide('slow');
        $("#timeEntryDiv").show('slow');

      
    }
    function onHidetimeEntry() {

        $("#addTimeEntry").show('slow');
        $("#timeEntryDiv").hide('slow');
    }
</script>
