@model Synergy.App.ViewModel.DashboardItemMasterViewModel
@*@using Syncfusion.EJ2;*@
@{
    ViewData["Title"] = "DrillDown Report";
    //Layout = null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
   .ag-theme-balham .ag-header-cell-text{
       color: #000 !important;
   }

    .ag-theme-balham .ag-root-wrapper-body.ag-layout-normal {
        min-height: inherit !important;
    }

</style>

<div id="builder">
    <div id="@Model.ChartKey"></div>
</div>

<script>
@Html.Raw(Model.chartMetadata);
</script>
 





