@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Sync Data";
    Layout = null;

}

<script>
    function OnCctvDataSync() {
            $.ajax({
                url: '@Url.Action("PushCCTVCameraData", "BusinessAnalytics", new { @area="Cms"})',
                    type: 'GET',
                    success: function (result) {
                        if (result) {
                            kendo.alert("Data Sync Successfully.");
                        }
                        else {
                            kendo.alert("Data Sync Failed.");
                        }

                    },
                    error: function (ert) {

                        kendo.alert("Data Sync Failed.");
                    }
                });
        }
</script>
<div class="container-body">    
    <input type="button" class="btn btn-primary" name="syncCctvData" onclick="OnCctvDataSync()" value="Sync Cctv Data" />
</div>


