
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Youtube Comment";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div id="youtube_comment" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>
</div>

<script>
    var columnDefs = [

        {
            field: "View",
            headerName: "View",
            minWidth: 50,
            maxWidth: 100,
            cellRenderer: params => {
                return "<span class='k-icon k-i-youtube-box k-color-danger k-icon-md' onclick='onYoutubeView(\"" + params.data.videoId + "\")'>";
            },

        },
        {
            field: "textDisplay",
            headerName: 'Text Display',
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.textDisplay + " </div>";
            }
        },
        {
            field: "textOriginal",
            headerName: 'Text Original',
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.textOriginal + " </div>";
            }

        },
        {
            field: "authorDisplayName",
            headerName: 'Author Display Name',
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.authorDisplayName + " </div>";
            }
        },



        {
            field: "publishedAt",
            headerName: 'Published Date',
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.publishedAt + " </div>";
            }
        },
        {
            field: "updatedAt",
            headerName: 'Updated Date',
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.updatedAt + " </div>";
            }
        },


    ];
    function onYoutubeView(id) {
        var url = "https://www.youtube.com/watch?v=" + id;
        window.open(
            url, "_blank");
    }
    $(function () {
        document.getElementById("youtube_comment").innerHTML = "";
        var url = "/cms/BusinessAnalytics/ReadYoutubeCommentDataByVideoId?videoId=@ViewBag.VideoId";
        gridConfig(
            "youtube_comment",
            url,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);

    });


</script>