@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Template";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model SynergyTemplateViewModel
<script type='text/javascript'>
    var builder;
    var templateId;
    window.onload = function () {
        

        $.ajax({
            type: "GET",
            url: "/Cms/Template/GetTemplateJsonForm?templateId=@Model.TemplateId",
            success: function (response) {

                if (response != "" && response != null) {
                    var obj = JSON.parse(response);

                    //builder = new Formio.FormBuilder(document.getElementById("builder"), obj);
                    Formio.createForm(document.getElementById('formio'), obj).then(function (form) {
                        // Defaults are provided as follows.

                        // Register for the submit event to get the completed submission.
                        form.on('submit', function (submission) {
                            alert(JSON.stringify(submission.data));
                        });

                        // Everytime the form changes, this will fire.
                        //form.on('change', function (changed) {
                        //    console.log('Form was changed', changed);
                        //});
                    });
                }
                

            },
            error: function (response) {
                alert("error");
            },
        });





        //builder.instance.ready.then(onReady);
    }

    //var onBuild = function (build) {
    //    jsonElement.innerHTML = '';
    //    jsonElement.appendChild(document.createTextNode(JSON.stringify(builder.instance.schema, null, 4)));
    //};

    //var onReady = function () {
    //    var jsonElement = document.getElementById('json');
    //    builder.instance.on('change', onBuild);
    //};

    //var setDisplay = function (display) {
    //    builder.setDisplay(display).then(onReady);
    //};

    function OnSave() {
        //alert(JSON.stringify(builder.schema, null, 4));
        //return false;
        $("#JsonForm").val(JSON.stringify(builder.instance.schema, null, 4));
        return true;
        //$.ajax({
        //    type: "POST",
        //    url: "/Cms/Template/ManageForm",
        //    data: { data: JSON.stringify(builder.instance.schema, null, 4), templateId: templateId },
        //    dataType: "json",
        //    success: function (response) {

        //    },
        //    error: function (response) {
        //        alert("error");
        //    },
        //});
    }
</script>
<div style="width:98%;">

    
    <div class="row" style="padding-left:30px;">
        <div id="formio" style="width:98%;"></div>
    </div>
</div>
@*<body>
    <div class="row">
        <input type="button" class="btn btn-primary" value="Save Form" onclick="OnSave()" />
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="builder"></div>
        </div>

    </div>
</body>*@