@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Home";
}


<div id="textblog" class="ddLinks">
    <font size="4" face="Helvetica" color="maroon">
        <marquee width="100%" behavior="scroll" scrollamount="3">!! Investors are advised to mention Mobile Numbers while filing the complaint on SCORES for faster resolution of complaints !!</marquee>
    </font>
    <font size="2" face="Helvetica">
        <marquee width="100%" behavior="scroll" scrollamount="8" onmouseover="this.stop();" onmouseout="this.start();">
            <a class="plain" target="_blank" href="https://pledge.cvc.nic.in/">
                PARTICIPATE IN FIGHT AGAINST CORRUPTION - TAKE ONLINE INTEGRITY PLEDGE
            </a>
        </marquee>
    </font>
    <font size="2" face="Helvetica" color="red">
        <!--  <marquee width="100%" behavior="scroll" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();">
        <a  class="plain" target="_blank" href="http://cvc.gov.in/sites/default/files/BRICS2019-Poster%20Contest-%20Circular%20complete.pdf">
        Together Against Corruption-Online Poster and Video Competition (01.06.2019 to 30.09.2019)</a></marquee>
        </font>-->
        <marquee width="100%" behavior="scroll" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();">
            March 31, 2021 is the last date for re-lodging transfer requests of physical shares. Please re-lodge your physical share certificates with all documents and due procedure, for transfer before that date
        </marquee>
    </font>

    <h2>
        Welcome
    </h2>
    <p>
        There will be occasions when you have a complaint against a listed company/ intermediary
        registered with <a class="plain" href="http://www.sebi.gov.in/">SEBI</a>. In the
        event of such complaint you should first approach the concerned company/ intermediary
        against whom you have a complaint. However, you may not be satisfied with their
        response. Therefore, you should know whom you should turn to, to get your complaint
        redressed.
    </p>
    <p>
        <a class="plain" href="http://www.sebi.gov.in/">SEBI</a> takes up complaints related
        to issue and transfer of securities and non-payment of dividend with listed companies.
        In addition, <a class="plain" href="http://www.sebi.gov.in/">SEBI</a> also takes
        up complaints against the various intermediaries registered with it and related
        issues.
    </p>
    <p>
        <a class="plain" href="Default.aspx">SCORES</a> facilitates you to lodge your complaint
        online with <a class="plain" href="http://www.sebi.gov.in/">SEBI</a> and subsequently
        view its status.
    </p>
    <br>
    <h2>
        Disclaimer
    </h2>
    <p>
        While all efforts have been taken to make this web site as authentic as possible,
        please refer to the print versions, notified Gazette copies of Acts/Rules/Regulations
        for authentic version or for use before <a class="plain" href="http://www.sebi.gov.in/">
            SEBI
        </a> or any other authority. <a class="plain" href="http://www.sebi.gov.in/">SEBI</a>
        will not be responsible for any loss to any person/entity caused by any short-coming,
        defect or inaccuracy inadvertently or otherwise crept in the <a class="plain" href="http://www.sebi.gov.in/">
            SEBI's web site
        </a>.
    </p>
    <p>
        Any discrepancy may be brought to the notice of <a class="plain" href="http://www.sebi.gov.in/">
            SEBI
        </a> at sebi[at]sebi[dot]gov[dot]in
    </p>
    <p>
        Any discrepancy may be brought to the notice of <a class="plain" href="http://www.sebi.gov.in/">
            SEBI
        </a> at sebi[at]sebi[dot]gov[dot]in
    </p>
</div>

