@using CMS.UI.ViewModel;
@using CMS.Common;
@model RecTaskViewModel
@{
    ViewBag.Title = "Bulk Task Approve";
    Layout = ViewBag.Layout;// "/Views/Shared/_PopupLayout.cshtml";
}
<style>
    .template-banner {
         height:100px;
        width: 100%;
    }
</style>
<script>
    $(document).ready(function () {
        ShowLoader($('.task-card'));
    });
    function load() {
        HideLoader($('.task-card'));

    }
    var showError = function (error) {
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

    function CallBackBulkTaskAction() {
        var frame = $('iframe');
    /*var framedoc = frame[0].document || frame[0].contentWindow.document;*/
        var fd = frame[0];
        console.log(fd);
        fd.contentWindow.IframePostbackScript();
    }
</script>
@if (Model.BannerId != null)
{
<div>
   
    <img class="template-banner" style="height:100px;@Model.BannerStyle" src="/cms/Document/GetImageMongo?id=@Model.BannerId" />
</div>
}

<div class="task-card">
   
    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
    <iframe src="/cms/task/TaskListPartial?code=@Model.TemplateCode&status=@Model.TaskStatusCode&batch=@Model.BatchId&disableBulk=@ViewBag.IsDisableBulk" id="bulktask" width="100%" height="900" onload="load();"></iframe>

</div>
