
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Manage Reimbursement Item";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model ReimbursementRequestViewModel;


<style>
    .cms-footer {
        position: unset !important;
        background-color: unset !important;
    }
</style>
<script>

    var win = GetMainWindow();

    $(document).ready(function () {

        $("#ItemDate").data("kendoDatePicker").readonly(false);


    });

    var onAjaxSuccess = function (res) {
        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            $("#Id").val(res.id);
            closeNavMember();
            win.refreshGridview();
        }
        else {
            ShowErrors(res.error);
        }
        HideLoader($('#template-content'));
    };
    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    function ShowErrors(err) {
        $("#validation-summary").removeClass("validation-summary-valid");
        $("#validation-summary").addClass("validation-summary-errors");
        var msg = ExtractError(err);
        $("#validation-summary ul").html(msg);
    }
    function closeNavMember() {
        //var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
    function ExtractError(err, exludeLi) {
        var msg = "";
        $.each(err, function (key, value) {

            $.each(value, function (key1, value1) {
                $.each(value1, function (key2, value2) {
                    if (exludeLi) {
                        msg += value2 + "\n";
                    }
                    else {
                        msg += "<li>" + value2 + "</li>";
                    }

                });

            });
        });
        return msg;
    }


</script>


<div class="row  pad-10 no-gutters">
    <div @*class="container card-header"*@ style="padding:10px;">



        <form asp-controller="BusinessAnalytics" asp-action="ManageRssFeed" asp-area="CHR" class="form-horizontal"
              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">

            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>



            <div class="row" style="padding:10px;">
                <div class="row col-12 pad-10">
                    <div class="col-3">
                        <label for="ItemDate">Item Date<span class="required" style="color:red;">*</span></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="ItemDate" class="hr-x-medium" />
                    </div>
                </div>
                <div class="row col-12 pad-10">
                    <div class="col-3">
                        <label for="NoteDescription">Description<span class="required" style="color:red;">*</span></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="ItemDescription" type="text" class="form-control" placeholder="Description" autocomplete="off" />
                    </div>
                </div>
                <div class="row col-12 pad-10">
                    <div class="col-3">
                        <label for="Amount">Amount<span class="required" style="color:red;">*</span></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Amount" type="number" class="form-control" placeholder="Feed Name" autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="cms-footer">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>

            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ReimbursementRequestId)

        </form>
    </div>
</div>