@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model NoteTemplateViewModel;

@{
    ViewData["Title"] = "NtsEmailPage";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<script>
    $(document).ready(function () {

        var json = $('#Json').val();
        var datajson = $('#DataJson').val();
        FillFormIo(json, datajson);



    });


    function FillFormIo(json, datajson) {
        var formio = $('#formio-container').html();
        if (formio != undefined) {
            var formio = document.getElementById('formio-container');
            LoadFormIo({ uiJson: json, dataJson: datajson }, formio);
        }
    }
</script>

<!-- .app-main -->
<!-- .wrapper -->
<div class="wrapper">
    <!-- .page -->
    <div class="page">
        <!-- .page-inner -->
        <div class="page-inner">
            <!-- .page-title-bar -->
            <!-- .page-section -->
            <div class="page-section">
                <!-- .card -->
                <div class="card">

                    <div id="formio-container" class="col-12"></div>


                </div><!-- /.card -->

            </div><!-- /.page-section -->
        </div><!-- /.page-inner -->
    </div><!-- /.page -->
</div><!-- /.wrapper -->
@Html.HiddenFor(x => x.Json)
@Html.HiddenFor(x => x.DataJson)

