@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "QR Code";
    Layout = null;
}
@inject Synergy.App.Common.IUserContext _userContext
@model QRCodeDataViewModel;

<style>
    #loadertext {
        position: absolute;
        top: 62%;
        left: 45%;
        margin-top: -50px;
        margin-left: -50px;
    }
</style>

<script>


    //$(window).on('load', function () {
    //     //wait for page load PLUS two seconds.
    //});

    function removeLoader() {
        $("#QRCode").fadeOut(500, function () {
            // fadeOut complete. Remove the loading div
            $("#QRCode").remove(); //makes page more lightweight
        });

    }

    $(document).ready(function () {
        setTimeout(removeLoader, 5000);
        window.location.href = "@Model.QrCodeUrl";
    });


</script>


<div class="row-12" id="QRCode" style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    <div class="loader"></div>
    <div id="loadertext">Please wait, while we redirecting to the page...</div>
</div>



