@using Syncfusion.EJ2.Navigations

@{
    ViewData["Title"] = "Change Password";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model CMS.UI.ViewModel.ChangePassowrdViewModel
<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:40px;">
        <div class="col-sm-12 pad-b-10">
            <div class="form-label-group">
                <input id="CurrentPasswordPlain" class="form-control" placeholder="Current Password" type="password" autocomplete="off" required="required" />
                <input asp-for="CurrentPassword" type="hidden">
                <label for="currpassword">Current Password</label>
            </div>
        </div>
        <div class="col-sm-12 pad-b-10">
            <div class="form-label-group">
                <input type="password" id="NewPasswordPlain" class="form-control" placeholder="New Password" required="required" autocomplete="off">
                <input asp-for="NewPassword" type="hidden">
                <label for="newpassword">New Password</label>
            </div>
        </div>
        <div class="col-sm-12 pad-b-10">
            <div class="form-label-group">
                <input type="password" id="ConfirmPasswordPlain" class="form-control" placeholder="Confirm Password" required="required" autocomplete="off">
                <input asp-for="ConfirmPassword" type="hidden">
                <label for="confpassword">Confirm Password</label>
            </div>
        </div>

        <input type="hidden" asp-for="UserId" />
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" onclick="return EncryptPassword();">Change Password</button>
            <button type="button" class="btn btn-light" onclick="closeNavChangePassword()">Close</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    function EncryptPassword() {

        var key = CryptoJS.enc.Utf8.parse('8080808080808080');
        var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

        var ecp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#CurrentPasswordPlain').val()), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
        $('#CurrentPassword').val(ecp);
        var enp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#NewPasswordPlain').val()), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
        $('#NewPassword').val(enp);
        var cnp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#ConfirmPasswordPlain').val()), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
        $('#ConfirmPassword').val(cnp);
        return true;
    }
   $(document).ready(function () {
       if ('@ViewBag.Success' == "True") {
           window.parent.ShowNotification('Password changed successfully',"success");
           closeNavChangePassword();
        }
    });
    function closeNavChangePassword() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }
</script>

