@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    ViewData["Title"] = "TogetherJs";
    Layout = "/Views/Shared/_Reference.cshtml";

}


<button onclick="TogetherJS(this); return false;" class="btn btn-primary">Start TogetherJS</button>

@*<button id="start-togetherjs" class="btn btn-primary">Collaborate</button>*@
@*<script>
        TogetherJSConfig_hubBase = "https://collaborate.aitalkx.com:8081";
        TogetherJSConfig_autoStart = true;
        TogetherJSConfig_dontShowClicks = true;
        TogetherJSConfig_cloneClicks = true;
    </script>*@

<style>
    .default {
        background: #2A92BF;
        color: #fff;
    }

    .day_1 {
        background: #2A92BF;
        color: #fff;
    }

    .day_2 {
        background: #F4CE46;
        color: #fff;
    }

    .day_3 {
        background: #00B961;
        color: #fff;
    }

    .day_4 {
        background: #2A92BF;
        color: #fff;
    }

    .day_5 {
        background: #F4CE46;
        color: #fff;
    }

    .day_6 {
        background: #00B961;
        color: #fff;
    }

    .day_7 {
        background: #2A92BF;
        color: #fff;
    }

    .day_8 {
        background: #F4CE46;
        color: #fff;
    }

    .day_9 {
        background: #00B961;
        color: #fff;
    }

    .day_10 {
        background: #2A92BF;
        color: #fff;
    }

    .day_11 {
        background: #F4CE46;
        color: #fff;
    }

    .day_12 {
        background: #00B961;
        color: #fff;
    }

    .day_13 {
        background: #2A92BF;
        color: #fff;
    }

    .day_14 {
        background: #F4CE46;
        color: #fff;
    }

    .day_15 {
        background: #00B961;
        color: #fff;
    }

    .day_16 {
        background: #2A92BF;
        color: #fff;
    }

    .day_17 {
        background: #F4CE46;
        color: #fff;
    }

    .day_18 {
        background: #00B961;
        color: #fff;
    }

    .day_19 {
        background: #2A92BF;
        color: #fff;
    }

    .day_20 {
        background: #F4CE46;
        color: #fff;
    }

    .day_21 {
        background: #00B961;
        color: #fff;
    }

    .day_22 {
        background: #2A92BF;
        color: #fff;
    }

    .day_23 {
        background: #F4CE46;
        color: #fff;
    }

    .day_24 {
        background: #00B961;
        color: #fff;
    }

    .day_25 {
        background: #2A92BF;
        color: #fff;
    }

    .day_26 {
        background: #F4CE46;
        color: #fff;
    }

    .day_27 {
        background: #00B961;
        color: #fff;
    }

    .day_28 {
        background: #2A92BF;
        color: #fff;
    }

    .day_29 {
        background: #F4CE46;
        color: #fff;
    }

    .day_30 {
        background: #00B961;
        color: #fff;
    }

    .day_31 {
        background: #00B961;
        color: #fff;
    }

    .custom-button {
        right: 0;
        position: absolute;
        margin-top: -5px;
        color: white;
        font-size: 15px;
    }

    .custom-item-button {
        right: 10px;
        position: absolute;
        margin-top: -7px;
        color: black;
        font-size: 14px;
    }

    .kanban-item {
        background: unset;
        padding: 0;
    }

    .kanban-note {
        background: #fff6d4;
        color: black;
        padding: 10px;
        font-weight: 300;
        font-size: 15px;
        border-radius: 5px;
    }

    .kanban-task {
        background: #ccc;
        color: black;
        padding: 10px;
        font-weight: 300;
        font-size: 15px;
        border-radius: 5px;
    }

    .kanban-index {
        background: #ccc;
        color: black;
        padding: 10px;
        font-weight: 300;
        font-size: 15px;
        border-radius: 5px;
        min-height: 100px;
    }

    .kanban-draw {
        background: #f8f9fa;
        color: black;
        padding: 10px;
        font-weight: 300;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid gray;
        min-height: 100px;
    }

    .board-add-custom-button {
        right: 35px;
        position: absolute;
        top: 22px;
        cursor: pointer;
    }

    .board-close-custom-button {
        right: 10px;
        position: absolute;
        top: 22px;
        cursor: pointer;
    }

    .item-custom-button {
        right: 25px;
        position: absolute;
        margin-top: -10px;
        cursor: pointer;
    }

    .droptarget {
        float: left;
        width: 150px;
        height: 100px;
        border: 1px solid #aaaaaa;
    }

    .kanban-index li {
        list-style: inside !important;
    }
</style>
<hr />
<button onclick="ondrag1()" class="btn btn-primary">Darg</button>
<button onclick="ondrop1()" class="btn btn-primary">Drop</button>

<div id="demo1" style="overflow:scroll;height:540px"></div>
<script>

    kanban3 = new jKanban({
        element: '#demo1',
        gutter: '2px',
        widthBoard: '200px',
        responsivePercentage: false,
        dragItems: true,
        boards: [
            {
                'id': '_todo',
                'title': 'To Do',
                'class': 'day_1',
                'item': [
                    {
                        'id': '_mytask',
                        'title': 'My Task Test',
                    },
                    {
                        'id': '_buymil',
                        'title': 'Buy Milk',
                    }
                ]
            },
            {
                'id': '_working',
                'title': 'Working',
                'class': 'day_2',
                'item': [
                    {
                        'id': '_dosome',
                        'title': 'Do Something!',
                    },
                    {
                        'title': 'Run?',
                    }
                ]
            },
            {
                'id': '_done',
                'title': 'Done',
                'class': 'day_3',
                'item': [
                    {
                        'id': '_allrt',
                        'title': 'All right',
                    },
                    {
                        'id': '_ok',
                        'title': 'Ok!',
                    }
                ]
            }
        ],
        dragBoards: true,
        dragEl: function (el, source) { },
        dragendEl: function (el) { },
        dropEl: function (el, target, source, sibling) {
            debugger;
            var sb = sibling == null ? null : sibling.dataset.eid;
            TogetherJS.emit("visibilityItemChange", el.dataset.eid, sb , target.parentElement.dataset.id, true);

        },
        dragBoard: function (el, source) { },                   
        dragendBoard: function (el) {
            debugger;
            var sb = el.nextSibling==null ? null :el.nextSibling.dataset.id;
            TogetherJS.emit("visibilityBoardChange", el.dataset.id, sb, true);
        },   

    })


    $(document).ready(function () {

    });

    function fireTogetherJSVisibilityItem(element, sibling, target, isVisible) {
        debugger;
        TogetherJS.send({ type: "visibilityItemChange", isVisible: isVisible, element: element, sibling: sibling, target: target });
    }
    function fireTogetherJSVisibilityBoard(element, sibling, isVisible) {
        debugger;
        TogetherJS.send({ type: "visibilityBoardChange", isVisible: isVisible, element: element, sibling: sibling });
    }
    
    TogetherJS.hub.on("visibilityItemChange", function (msg) {
        debugger;   
        var board = $("[data-id='" + msg.target + "']")[0].children[1];
        var element = $("[data-eid='" + msg.element + "']")[0];
        if (msg.sibling == null) {
            board.append(element);
        }
        else {
            var sibling = $("[data-eid='" + msg.sibling + "']")[0];
            board.insertBefore(element, sibling);
        }        
        //var el = $("[data-eid='" + msg.element+"']")[0];
        //var elm = el;
        //el.remove();
        //var source = $("[data-id='" + msg.source+"']")[0];
        //var target = $("[data-id='" + msg.target+"']")[0];
        //kanban3.addElement(
        //    msg.target,
        //    {
        //        'eid': elm.dataset.eid,
        //        'title': elm.innerText
        //    }
        //);  
    });
    TogetherJS.hub.on("visibilityBoardChange", function (msg) {
        debugger;
        var container = $('.kanban-container')[0];
        var boardelement = $("[data-id='" + msg.element + "']")[0];
        if (msg.sibling == null) {
            container.appendChild(boardelement);
        }
        else {
            var sibling = $("[data-id='" + msg.sibling + "']")[0];
            container.insertBefore(boardelement, sibling);
        }
    });

</script>










