@{ ViewData["Title"] = "Project Management";
    //Layout = null;
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/hr-solution.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Human Resources Solution</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom vertical-spacing">
    <div class="container">
        <h1 class="text-center">Overview</h1><br>
        <p class="text-justify">HR & Payroll System is created by the most experienced HR and IT professionals. It is a user-friendly, unrivalled, extraordinary, and one-of-a-kind application with remarkable features. Our HR & Payroll System is a comprehensive solution to all Human Resource needs, all integrated into one, to meet the management's requirements. It is a browser-based application that does not require installation on every system in the organisation; it is simple to use and does not require any special training. We have a cloud based architecture that can be accessible from anywhere, anytime.</p>
        <p class="text-justify">The suite of modules includes following:</p>
        <div class="row">
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Core HR & Self Services</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Manpower & Organization Design</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">HR Analyzer & Scheduler</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Workforce Planning Solution</p></div>
            </div>
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Time & Attendance</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Talent Management</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Talent Acquisition</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Talent Assessments</p></div>
            </div>
            <div class="col-md-4">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Compensation & Benefits</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Performance & Rewards</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Learning Management Solution</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Internal Social Collaboration</p></div>
            </div>
        </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-core-hr.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1>Core HR & Self Services</h1><br>
                    <p class="text-justify">Manage Master Employee Data, organization structure, multiple approval hierarchies, all hire to retire events management for employees.</p>
                    <p class="text-justify">Leaves management– Annual Leave for permanent and outsource staff, Sick Leave, Authorized Leave without pay, Compensatory leave application, Compassionate leave, Edda leave, Exam leave, Exceptional Leave, Hajj Leave, Leave Adjustment, Marriage Leave, Maternity Leave, Leave settlement.</p>
                    <p class="text-justify">HR requests such as Job commencement, ticket request, employee ID application, Loan request, Over Time request, Return from leave, Employee transfer, business trip request, expense approval, business card request, Vacancy request, Salary increase request, probation period evaluation, disciplinary action, Corrective Action, grievance, resignation, retirement, clearance, exit interview, Medical Insurance, Confidentiality agreement, Employment application, employee file checklist, visa renewal, visa cancellation/transfer, service letters, Employee transfers, medical claim reimbursement, medical insurance new addition/cancellation, job title change, lost employee id card, accommodation, transportation etc.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Manpower & Organization Designs</h1>
                    <p class="text-justify white-text"><br>Management of Organizations, Positions, Grade, Job, Location, Person, hierarchies etc. Employee new hire details, dependent details, assignment details, export manpower details to excel/pdf, advanced search, “as on date” feature etc. Manpower planning, budgeting and control. Process analysis, activity Analysis, Job analysis, Job design, online job descriptions, job grading. Policy approvals and distribution.</p>
                </div>
                <br>@*<button class="btn btn-primary more" type="button"></button>*@
            </div>
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-manpower.jpg"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <!--<div class="content">-->
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-schedular.jpg"></div>
            <div class="col-md-6">
                <h1>HR Analyzer & Scheduler</h1><br>
                <p class="text-justify">HR Analyzer allows expert employees to generate a variety of reports by combining data from various sources such as employee details, dependent details, contract details, assignment details, user and role details, and salary information.</p>
                <p class="text-justify">Hierarchy analyzers are used to generate reports on position hierarchy, organisational hierarchy, and leave approval hierarchy.</p>
                <p class="text-justify">Worklist Analyzer generates reports on all service / task requests and their status by department and individual. As a result, it offers complete visibility into the performance of business processes and individuals.</p>
                <p class="text-justify">All analyzer reports can be saved, shared with others, and scheduled to be emailed.</p>
                <p class="text-justify">The scheduler monitors the organization's data on an hourly basis and generates alerts based on business rules and data changes. Reports can be sent via email on a daily, weekly, or monthly basis, or on an as-needed basis.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Head count summary</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Head count movement summary</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Headcount by nationality and length of service</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Employee contract end date</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Employee vacation details</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Vacation details by department</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Employee annual leave balance</p></div>
            </div>
            <div class="col-md-6">
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Employee sick leave summary & details</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Employee dependent details</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Payroll trend report and monthly report by Restaurant & Brand</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Employee bank details report, Daily employee attendance report</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Login sessions summary & details report</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Vacation details by department</p></div>
                <div class="bullet-points"><p><i class="fa fa-check-circle-o bullet-right-spacing"></i></p><p class="text-justify">Succession planning report</p></div>
            </div>
            <!-- </div>
             <br><button class="btn btn-primary more" type="button"></button>-->
        </div>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">Workforce Planning Solution</h1>
                <p class="text-justify white-text"><br>Intelligent shift planning based on rules, with time exception approval workflows. It is very simple to keep a weekly roster in the system and track attendance. Integrated with employee absences and leaves. Through the use of a mobile app, it is possible to reduce overtime and improve shift visibility among employees.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><img class="block-images-100" src="~/Themes/SynergySolutions/img/hr-workforce.jpg"></div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-time-attendance.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1>Time & Attendance</h1><br>
                    <p class="text-justify">Attendance tracking via biometric devices is handled by a clock server. Employees are only registered once in any device and can clock in from any location. The system monitors the health of all biometric devices on an hourly basis and sends alerts to the IT support team if any communication failures occur. Mobile app with geofencing feature for tracking attendance based on location.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-task-management.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Talent Management</h1><br>
                    <p class="text-justify white-text">Competency framework (competency library – Core, behavioural, and technical) for jobs and job families, with competencies linked to selection, development, and performance. Assessment of competencies for success planning and career development.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-talent-acq.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1>Talent Acquisition</h1><br>
                    <p class="text-justify">Career portal, job posting, sourcing, registering candidate applications, pre-screening questions, shortlisting, candidate communication, schedulingassessment, scheduling interviews, offer management, pre-joiningchecklist, joining checklist, induction, probation period tracking, probationextension, employment confirmation or termination.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-assesment.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Talent Assessments</h1><br>
                    <p class="text-justify white-text">Upload all types of assessments for use in selection, evaluation, and training. Assessment administration and report generation are both done online.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-compensation.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1>Compensation & Benefits</h1><br>
                    <p class="text-justify">Centralized the creation of grade-specific salary and benefit plans for self and dependents. Flexible salary elements calculated daily for easy pro rata calculations, retro calculation capabilities, payroll approval through system, pay slip generation, post transactions to financial system, reports and analytics Settlements for the end of service.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-rewards.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Performance & Rewards</h1><br>
                    <p class="text-justify white-text">Balanced scorecards are linked to departmental and individual objectives. Goal setting by employee and line manager at the start of the year, mid-year review, end-of-year ratings, and distribution of rewards based on ratings.</p>
                    <p class="text-justify white-text">Following reviews, performance improvement plans can be developed and tracked on a regular basis using the system. Training interventions can be linked to a training plan.</p>
                    <p class="text-justify white-text">If synergy worklists are used to assign tasks on a daily basis, task ratings can be used as objective evidence for a performance management system.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-learning.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1>Learning Management Solution</h1><br>
                    <p class="text-justify">Performance management-related trainings, training needs analysis, learning paths, classroom training, online self-learning, and integration with third-party training providers Online learning via mobile app, with offline mode support.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/hr-collaboration.jpg"></div>
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Internal Social Collaboration</h1><br>
                    <p class="text-justify white-text">Home page, department page (intranet), and company page with social media features (such as wall posts, like, share, comment).</p>
                    <p class="text-justify white-text">All user guides and training videos can be posted on relevant pages as well as in a centralised help library.</p>
                    <p class="text-justify white-text">Announcements and the distribution of documents/policies at the departmental or corporate level. Employee of the Month, Quarterly Newsletter Employee recognition, employee events, a suggestion scheme, awards, an employee engagement survey, and so on.</p>
                    <p class="text-justify white-text">For faster communication, the mobile app includes the ability to record voice, video, and photos.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
        </div>
    </div>
</section>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
