@{ ViewData["Title"] = "Project Management";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/internal-social-media.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Internal Social Media</h1><br>
                <h6 class="hero-banner-subtitle no-display">Manage all your projects and team collaboration at one place</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-internal-social-media.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-internal-social-media.jpg"></div>
            <div class="col-md-6">
                <!--  <div class="content">-->
                <h1>Internal Social Media</h1><br>
                <p class="text-justify">Most of the employees use social media messengers such as whatsapp for work purposes, however they also get distracted by friends/family members messages.It is important that employees communicate with colleagues through official applications to avoid distractions as well as maintain data security.Also social media tools lack capability to communicate as per work contexts. Information on social media cannot be arranged by projects or subjects leading to burying information into a large pile and difficult to search and respond.</p>
                <!--   </div> -->
                <!--  <br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>




<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
