@{ ViewData["Title"] = "Project Management";
    //Layout = null;
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
@*<section class="Top-header"></section>*@

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/project-management-features.jpg'); ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Project Management Features</h1><br>
                <h6 class="hero-banner-subtitle no-display">Manage all your projects and team collaboration at one place</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-project-planning.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-project-planning.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Project planning and scheduling</h1><br>
                <p class="text-justify">Synergy project management software allows project managers to create work breakdown structures that include phases, categories, tasks, and milestones. All tasks within the work breakdown structure can have predecessors and successors. Following the completion or start of a task, successor tasks can be initiated based on a "start to start" or "finish to start" relationship.</p>
                <p class="text-justify">The project manager can delegate tasks to team members as well as set priorities and deadlines. When due dates are added to tasks, a notification is automatically sent whenever the scheduled completion date approaches and the activity is still incomplete.</p>
                <!--</div>
                    <br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>


<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">Dashboard</h1><br>
                <p class="text-justify white-text">To monitor the progress of the project, Key Performance Indicators (KPI), metrics, and key data points can be clearly tracked and analysed. The dashboard enables you to see what is going well with the project and what needs to be improved so that you can make informed decisions to improve project performance.</p>
                <p class="text-justify white-text">The Synergy solution includes multiple dashboards for various dimensions such as status, time, cost, and resource. The programme dashboard displays the status of multiple projects that may be related to one another.</p>
                <!-- </div>-->
                <!-- <br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-dashboard.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-dashboard.jpg"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-task.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-task.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Task Management</h1><br>
                <p class="text-justify">Once tasks are assigned to project team members, they can monitor and execute them using the system's various views. The system also sends an email to the assignee when a new task is assigned. If a task is not completed by the due date, the system sends an automatic follow-up reminder to the task assignee.</p>
                <p class="text-justify">Members of the team can also create subtasks and assign them to coworkers, allowing them to divide larger tasks into manageable chunks of work.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1 class="white-text">Resource Management</h1><br>
                <p class="text-justify white-text">The project manager can view the workload of team members and assign them to various tasks as needed. To manage task allocation, the project manager can also view team members' vacation, shift duty rosters, and planned leaves.</p>
                <p class="text-justify white-text">Team members can log time spent on each task in the system and submit time sheets for approval to project managers.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-resource-management.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-resource-management.jpg"></div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-report-analytics.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-report-analytics.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Reports and Analytics</h1><br>
                <p class="text-justify">Synergy offers a variety of reports and analytics that allow project managers to submit project status and other detailed reports to management. Analytics also assists project managers in identifying issues and conducting root cause analysis in order to take corrective action.</p>
                <p class="text-justify">Many reports, such as user activity tracking, workload analysis, tasks status report, issue resolution report, and so on, can be configured in Synergy to meet specific needs.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-dark">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1 class="white-text">Email and other integrations</h1><br>
                    <p class="text-justify white-text">One of the unique features of the Synergy project management solution is Email Integration. Synergy emails can be sent and received by the project manager and team members in relation to each assigned task. Synergy can read incoming emails and create tasks (with email subject) that can be linked to WBS tasks automatically. Any subsequent email communication on the same subject is automatically linked to the email task. As a result, it is easier to keep all communications within the system, reducing the burden on individual email boxes..</p>
                    <p class="text-justify white-text">Synergy can also be easily integrated with third-party tools such as issue tracking, accounting, purchasing, and payroll, and more. Other modules, such as document management and business process management, low code automation, IIP, UI Builder, e-governance and more are available in Synergy and can be used to support complete automation of project management activities.</p>
                </div>
                <br>
                @*<button class="btn btn-primary more" type="button"></button>*@
            </div>
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/features-email.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/features-email.jpg"></div>
        </div>
    </div><br>
</section>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }

</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>