@inject Synergy.App.Common.IUserContext _userContext
@{
    Layout = "~/Areas/Core/Views/Shared/Themes/CareerPortal/_BaseLayout.cshtml";
}

@section bg
{
    <div class="context-dark">
        <!-- Modern Breadcrumbs-->
        <section>
            <div class="parallax-container breadcrumb-modern bg-gray-darkest" data-parallax-img="~/Themes/CareerPortal/img/crpfTest2.jpg">
                <div class="material-parallax parallax"><img src="~/Themes/CareerPortal/img/crpfTest2.jpg" alt="" style="display: block; transform: translate3d(-50%, 342px, 0px);"></div>
                <div class="parallax-content">
                    <div class="bg-overlay-gray-darkest">
                        <div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-155 section-lg-bottom-66">
                            <h4 class="text-bold veil reveal-md-block text-center">
                                @RenderSection("title", required: false)
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
@RenderBody()
