@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}



<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .avatar-mysign {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .bold {
        font: bold
    }
</style>

    <div style="width: 100%;" class="p-3">
        
        
        <fieldset class="fieldset">
            <legend class="fs-legend">Items List</legend>
            <div id="ItemsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </fieldset>
    </div>




    <script>
    var columnDefs = [
        {
            field: "ItemName",
            headerName: "Item Name"
        },


        {
            field: "ItemQuantity",
            headerName: "Quantity",

        },
        {
            field: "ClosingQuantity",
            headerName: "Available Stock",

        },


    ];

        $(function () {
            getItemsData();
        });
    function getItemsData() {
        document.getElementById("ItemsGrid").innerHTML = "";
        gridConfig(
            "ItemsGrid",
            "/IMS/InventoryManagement/ReadCRPFItemsList?serviceId=@ViewBag.ServiceId",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    </script>


