@{
    ViewData["Title"] = "Invoice Details";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true" onclick="onInvoiceDetailsList()"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />INVOICE DETAILS</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>From Date</label>
                                </div>
                                <input id="FromDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>To Date</label>
                                </div>
                                <input id="ToDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    &nbsp;
                                </div>
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Search" onclick="OnSearch()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Reset" onclick="OnReset()" />
                                <input type="button" id="btnPrint" class="btn btn-primary btn-control" style="color:white" value="Print" onclick="OnPrint()" />
                                <input type="button" id="btnDownload" class="btn btn-primary btn-control" style="color:white" value="Download" onclick="OnDownload()" />
                                @*<button class="btn btn-warning" onclick="AddVendor()"><i class="fas fa-plus"></i> Add Vendor</button>*@
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset" id="itemFieldSet" style="display:none;">
                        <legend class="fs-legend">Invoice Details List</legend>
                        <div id="InvoiceDetailsListGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="categoryPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        document.getElementById("btnPrint").disabled = true;
        document.getElementById("btnDownload").disabled = true;

        var d = new Date();
        d.setDate(d.getDate() - 6);
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });

    });


    function onInvoiceDetailsList() {

    }
    var columnDefs = [
        {
            headerName: "Sr No.",
            field: "SNo",
        },
        {
            headerName: "Customer Name",
            field: "VendorName"
        },
        {
            headerName: "GST No",
            field: "VendorGSTNo"
        },
        {
            headerName: "Invoice No",
            field: "InvoiceNo",
        },
        {
            headerName: "Invoice Date",
            field: "InvoiceDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth()+1) + "." + d.getFullYear();
            }
        },
        {
            headerName: "Invoice Amount",
            field: "InvoiceAmount",
        },
        {
            headerName: "SGST Amount",
            field: "SGSTAmount",
        },
        {
            headerName: "CGST Amount",
            field: "CGSTAmount",
        },
        {
            headerName: "IGST Amount",
            field: "IGSTAmount",
        }

    ];

    $(function () {
        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        GetInvoiceDetailsListGrid(sd,ed);
    });

    function GetInvoiceDetailsListGrid(fromdate,todate) {
        document.getElementById("InvoiceDetailsListGrid").innerHTML = "";
        gridConfig(
            "InvoiceDetailsListGrid",
            "/Ims/InventoryManagement/ReadInvoiceDetailsData?fromDate=" + fromdate + "&toDate=" + todate,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function OnSearch() {
        //alert("Search");
        //if ($("#WarehouseId").val() == "") {
        //    $(".text-danger").removeClass("validation-summary-valid");
        //    $(".text-danger").addClass("validation-summary-errors");
        //    $(".text-danger").html("Warehouse field is required");
        //    return false;
        //}
        //else {
        //    $(".text-danger").removeClass("validation-summary-errors");
        //    $(".text-danger").addClass("validation-summary-valid");
        //    $(".text-danger").html("");
        //}
        $("#itemFieldSet").show();

        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');

        GetInvoiceDetailsListGrid(sd,ed);

    }
    function OnReset() {
        //alert("Reset");
        var d = new Date();
        d.setDate(d.getDate() - 2);
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });

        $("#itemFieldSet").hide();
        document.getElementById("btnPrint").disabled = true;
        document.getElementById("btnDownload").disabled = true;
    }
    function OnPrint() {
        alert("Print");
    }
    function OnDownload() {
        alert("Download");
    }
</script>