@{
    ViewData["Title"] = "Delivery Note";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    .jsgrid-header-scrollbar {
        /*  width: 1032px !important;*/
    }

    .jsgrid-grid-body {
        /* width: 1032px;*/
    }

    .random {
        position: absolute !important;
        height: auto !important;
        width: 1000.37px !important;
        padding: 10px !important;
    }
</style>
<script src="~/js/IMS/InventoryManagement/InvoiceScheduleIndex.js" asp-append-version="true"></script>
<div class="tab-content" style="border: 1px solid silver;border-top:none;">
    <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
        <div style="width: 100%;" class="p-3">
            <fieldset class="fieldset">
                <legend class="fs-legend">Search Criteria</legend>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row form-horizontal">
                    <div class="col-4 form-group">
                        <div class="col-form-label required">
                            <label>Customer Name</label>
                        </div>
                        <input type="text" id="CustomerId" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            &nbsp;
                        </div>
                        <input type="button" class="btn btn-primary btn-control" value="Get" style="color:white" onclick="OnSearch()" />
                        <button class="btn btn-warning" onclick="ScheduleInvoice()"><i class="fas fa-plus"></i> Invoice Schedule</button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fs-legend">Pending Invoice List</legend>
                <div id="InvoiceGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </fieldset>
        </div>
    </div>
</div>
@*<div class="row  pad-10 no-gutters page-content">
    
             
    <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

        <legend>Search Criteria</legend>
        <div class="card ">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row col-12" style="padding:5px;">
                <div class="col-2" style="padding-bottom:10px;">
                    <label>Customer Name<span class="required">*</span></label>
                </div>
                <div class="col-6" style="padding-bottom:10px;">
                    <input type="text" id="CustomerId" class="form-control" />
                </div>
                <div class="col-4" style="text-align:right;">
                    <input type="button" class="btn btn-primary" value="Get" style="margin:5px;" onclick="OnSearch()" />
                    <button class="btn btn-warning" style="margin:5px;color:white" onclick="ScheduleInvoice()"><i class="fas fa-plus"></i> Invoice Schedule</button>
                </div>
            </div>

        </div>
        <legend>Pending Invoice List</legend>
        <div class="row">

            <div class="col-12">
                <div id="InvoiceGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

            </div>
        </div>
    </div>
            
           
     
    
</div>*@
