@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model RequisitionViewModel

<script src="~/js/IMS/InventoryManagement/ManageRequisition.js"></script>

<div style="width: 100%;" class="p-3">

    <form asp-controller="InventoryManagement" asp-action="ManageRequisition" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>
        <fieldset class="fieldset">
            <legend class="fs-legend">Requisition Information</legend>
            <div class="row">
                <div class="col-3 form-group">
                    <div class="col-form-label ">
                        <label>Requisition Date</label>
                    </div>
                    <input type="text" asp-for="RequisitionDate" id="RequisitionDate" class="form-control" required />
                </div>
                <div class="col-3 form-group">
                    <div class="col-form-label ">
                        <label>Item Head</label>
                    </div>
                    <input type="text" asp-for="ItemHead" id="ItemHead" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <div class="col-form-label">
                        <label>Customer</label>
                    </div>
                    <input type="text" asp-for="Customer" id="Customer" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <div class="col-form-label">
                        <label>Proposal Code</label>
                    </div>
                    <input type="text" asp-for="ProposalCode" id="ProposalCode" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <div class="col-form-label">
                        <label>Requisition Particular</label>
                    </div>
                    <input type="text" asp-for="RequisitionParticular" id="RequisitionParticular" class="form-control" />
                </div>
            </div>
        </fieldset>
     
            <div class="row pad-10" style="float:right;">
                <input type="submit" class="btn btn-primary" value="Save" style="margin:5px;" onclick="OnSubmit()" />
                <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav1()" />
            </div>

            @Html.HiddenFor(x => x.DataAction)
            @Html.HiddenFor(x => x.ServiceId)
    </form>
</div>



