@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@model SerialNoViewModel
@{
    //ViewData["Title"] = ViewBag.PageName;
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .gridtitle {
        font-size: 16px;
        font-weight: bold;
        color: #484545;
    }
</style>
<script>
    $(document).ready(function () {



        //Terms & Conditions Grid
        $("#SerialNoGrid").jsGrid({
            width: "100%",
            inserting: false,
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 14,
            pageButtonCount: 5,
            controller: {
                loadData: function (filter) {

                    return $.ajax({
                        type: "GET",
                        url: "/IMS/InventoryManagement/GetSerialNos?referenceId=@ViewBag.ReferenceId&referenceHeaderId=@ViewBag.ReferenceHeaderId",
                        data: filter,
                        dataType: "json"
                    });

                },

                updateItem: function (item) {
                    /*debugger;*/
                },
                //deleteItem: function (item) {
                //    onDeleteItem(item.NoteId);
                //}
            },
            onItemEditing: function (e) {
                if (e.grid._container.find(".jsgrid-edit-row")[0] != undefined) {
                    //
                    e.grid.updateItem();
                }
            },
            fields: [
                {
                    name: "Select",
                    type: "checkbox",
                    editing: true
                },
                {
                    name: "SerialNo",
                    title: "SerialNo",
                    type: "text",
                    editing: true
                },
                {
                    name: "Specification",
                    title: "Item Specification",
                    type: "text",
                    editing: true
                },

            ]
        });
    });
    //End document.ready function

    //PoTerms&Conditions Grid


    function onSave(e) {

        var selectedDataItems = [];

        var termsGrid = $("#SerialNoGrid").data("JSGrid");

        if (termsGrid._editingRow != null) {
            termsGrid.updateItem();
        }

        for (var i = 0; i < termsGrid.data.length; i++) {

            if (termsGrid.data[i].Select == true) {
                selectedDataItems.push(termsGrid.data[i]);
            }
        }


        if (selectedDataItems.length == 0) {
            kendo.alert('Please select atleast one item from the list');
            e.preventDefault();
            return false;
        }
        else {
            ShowLoader($("#cms-content"));
        }
        $.ajax({
            url: "/Ims/InventoryManagement/SaveSerialNo",
            type: "POST",
            data: { SerialNosData: JSON.stringify(selectedDataItems) },
            dataType: "Json",
            success: function (result) {
                if (result.success) {
                    ShowNotification("Saved successfully");
                    AVIClose();
                }
            }
        })
            .done(function () {
                ShowLoader($("#cms-content"));
            });

    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            getPOTCData();
            ShowNotification("Terms & Conditions Added Successfully", "success");
            HideLoader($("#tandc"));
        }
        else {
            ShowNotification(res.errormsg, "error");
            HideLoader($("#tandc"));
        }
    };


    function AVIClose() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }


</script>

<div style="width: 100%;" class="p-3">
    <fieldset class="fieldset">
        <legend class="fs-legend">Item Serial Number List</legend>

        @*<button type="button" class="btn btn-primary" onclick="OnNewTC();" style="float:right;">Add New T&C</button>*@


 
            <div id="SerialNoGrid" style="width: 100%;height:260px" class="ag-theme-alpine"></div>
   
    </fieldset>
   
        <div class="col-12" style="padding-top:10px;">
            <button class="btn btn-primary" style="margin:5px;color:white;float:right;" onclick="onSave(event);">Save</button>
            <button class="btn btn-danger" style="margin:5px;color:white;float:right;" onclick="AVIClose();">Close</button>
        </div>
  
</div>

