@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "PO Requisition Items";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model RequisitionViewModel

<style>
    .label-div {
        font-weight: bold;
        color: #383737;
    }
</style>
<script>

    $(document).ready(function () {
        getRequisitionItemsData();

    });

    var columnDefs = [
        {
            field: "ItemName",
            headerName: "Item Name",
        },
        {
            field: "ItemQuantity",
            headerName: "Current Quantity",
        },
        {
            field: "RequiredQuantity",
            headerName: "Required Quantity",
        },
        {
            field: "PurchaseRate",
            headerName: "Sale Rate",
        },
        {
            field: "Amount",
            headerName: "Item Rate",
        },
        {
            field: "ApprovedQuantity",
            headerName: "Approved Quantity",
        },
    ];

    function getRequisitionItemsData() {
        document.getElementById("ItemsGrid").innerHTML = "";

        gridConfig(
            "ItemsGrid",
            "/IMS/InventoryManagement/ReadRequisitionItemsData?requisitionId="+'@Model.RequisitionId',
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>

<div style="width: 100%;" class="p-3">
    <fieldset class="fieldset">
        <legend class="fs-legend">Requisition</legend>


        <div class="row col-12" style="padding:10px;">

            <div class="col-2" style="padding-bottom:10px;">
                <label class="label-div">Item Head</label>
            </div>
            <div class="col-4" style="padding-bottom:10px;">
                :&nbsp;@Html.DisplayFor(x => x.ItemHead)
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <label class="label-div">Requisition Code</label>
            </div>
            <div class="col-4" style="padding-bottom:10px;">
                :&nbsp;@Html.DisplayFor(x => x.ServiceNo)
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <label class="label-div">Requisition Date</label>
            </div>
            <div class="col-4" style="padding-bottom:10px;">
                :&nbsp;@Html.DisplayFor(x => x.RequisitionDate)
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <label class="label-div">Requisition Value</label>
            </div>
            <div class="col-4" style="padding-bottom:10px;">
                :&nbsp;@Html.DisplayFor(x => x.RequisitionValue)
            </div>
            <div class="col-2" style="padding-bottom:10px;">
                <label class="label-div">Particular</label>
            </div>
            <div class="col-4" style="padding-bottom:10px;">
                :&nbsp;@Html.DisplayFor(x => x.RequisitionParticular)
            </div>

        </div>

    </fieldset>

    <fieldset class="fieldset">
        <legend class="fs-legend">Items List</legend>
        <div id="ItemsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        <div class="col-12">
            <button class="btn btn-secondary" onclick="OnClose();">Close</button>
        </div>
    </fieldset>

</div>


