@{
    ViewData["Title"] = "Purchase Invoice";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    .jsgrid-header-scrollbar {
        /*  width: 1032px !important;*/
    }

    .jsgrid-grid-body {
        /* width: 1032px;*/
    }

    .random {
        position: absolute !important;
        height: auto !important;
        width: 1000.37px !important;
        padding: 10px !important;
    }
</style>
@*<script src="~/js/IMS/InventoryManagement/DeliveryNoteIndex.js" asp-append-version="true"></script>*@
<div class="tab-content" style="border: 1px solid silver;border-top:none;">
    <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
        <div style="width: 100%;" class="p-3">
            <fieldset class="fieldset">
                <legend class="fs-legend">Search Criteria</legend>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row">
                    <div class="col-4 form-group">
                        <div class="col-form-label required">
                            <label>Item Type</label>
                        </div>
                        <input type="text" id="ItemtypeId" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>Vendor</label>
                        </div>
                        <input type="text" id="VendorId" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>From Date</label>
                        </div>
                        <input type="text" id="PIFromDate" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>To Date</label>
                        </div>
                        <input type="text" id="PIToDate" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            &nbsp;
                        </div>
                        <input type="button" class="btn btn-primary btn-control" value="Search" style="color:white" onclick="OnPISearch()" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fs-legend">Select Purchase Order</legend>
                <div class="row">
                    <div class="col-8 form-group">
                        <div class="col-form-label">
                            &nbsp;
                        </div>
                        <input type="text" id="PIpurchaseOrderId" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            &nbsp;
                        </div>
                        <button class="btn btn-primary" onclick="PIPurchaseInvoice();"><i class="fa fa-plus"></i> Purchase Invoice</button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fs-legend">Vendor Invoice List</legend>
                <div id="PIVendorInvoiceGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </fieldset>
        </div>
    </div>

    <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
    </div>

</div>


<script>
    $(function () {
        // Item Type Drpdown
        $("#ItemtypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=IMS_ITEM_TYPE",
                    }
                }
            }
        });

        // Vendor Drpdown
        $("#VendorId").kendoDropDownList({
            dataTextField: "VendorName",
            dataValueField: "Id",
            optionLabel: "--All--",

            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetVendorsList",
                    }
                }
            }
        });

        // From and To Date
        var d = new Date();
        d.setDate(d.getDate() - 6);

        $("#PIFromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });

        $("#PIToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });


        $("#PIpurchaseOrderId").kendoDropDownList({
            dataTextField: "ServiceNo",
            dataValueField: "Id",
            optionLabel: "--All--",
            change: onChange,
            filter: "contains",
            autoBind: false,
            enable: false,
        });

    });

    function onChange() {
        var poId = $("#PIpurchaseOrderId").val();
        getPIVendorInvoiceList(poId);
    }

    function OnPISearch() {
        // Purchase Order Details params -> ItemHead, Vendor, From, To
        var itemTypeId = $("#ItemtypeId").val();
        var vendorId = $("#VendorId").val();
        //var PIFromDate = $("#PIFromDate").val();
        //var PIToDate = $("#PIToDate").val();
        var PIFromDate = kendo.toString($("#PIFromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        var PIToDate = kendo.toString($("#PIToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/IMS/InventoryManagement/ReadPOData?ItemHead=" + itemTypeId + "&Vendor=" + vendorId + "&From=" + PIFromDate + "&To=" + PIToDate,
                    dataType: "json"
                }
            },
        });

        var dropdownlist = $("#PIpurchaseOrderId").data("kendoDropDownList");
        dropdownlist.enable(true);
        dropdownlist.setDataSource(dataSource);
        dropdownlist.dataSource.read();
    }

    function PIPurchaseInvoice() {
        debugger;
        var poid = $("#PIpurchaseOrderId").data("kendoDropDownList").value();
        if (poid == "") {
            ShowNotification("Please Provide PO", "error");
        }
        else {
            var url = "/IMS/InventoryManagement/AddPurchaseInvoice?poId=" + poid;
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Purchase Invoice', Width: 1350, Height: 600 });
            return false;
        }
    }

    var PIcolumndefs = [
        {
            // goods_receipt table
            headerName: "Invoice No.",
            field: "InvoiceNo",

        },
        {
            // ims_po_item table
            headerName: "Invoice Amount",
            field: "InvoiceAmount",
        },
        {
            // created by from user table
            headerName: "Added By",
            field: "CreatedBy",
        },
        {
            // created date from user table
            headerName: "Added On",
            field: "CreatedDate",
        }
    ];

    function getPIVendorInvoiceList(poId) {
        document.getElementById("PIVendorInvoiceGrid").innerHTML = "";
        gridConfig(
            "PIVendorInvoiceGrid",
            "/IMS/InventoryManagement/GetPOInvoiceList?poId="+poId,
            PIcolumndefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10
        );
    }

    function refreshPOInvoiceGrid(Prms) {
        debugger;
        getPIVendorInvoiceList(Prms);
    }

    function OnPurchaseInvoiceReport(purchaseInvoiceId) {
        var portalId = $("#GlobalPortalId").val();
        var url = '/Cms/FastReport?rptName=IMS_PurchaseInvoice&lo=@LayoutModeEnum.Popup&portalId=' + portalId + '&rptUrl=ims/query/GetPurchaseInvoiceDetails?purchaseInvoiceId=' + purchaseInvoiceId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Purchase Invoice Report', Width: 800, Height: 700 });
    }

</script>