@{
    ViewData["Title"] = "Requisition Status/Detail";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    .label {
        padding-top: 5px !important;
    }
</style>

<script>


    $(document).ready(function () {

        $("#StorageTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=IMS_ITEM_TYPE",
                    }
                }
            }
        });

        $("#CustomerId").kendoDropDownList({
            dataTextField: "CustomerName",
            dataValueField: "Id",
            optionLabel: "--All--",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCustomerList",
                    }
                }
            }
        });

        $("#StatusId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=LOV_SERVICE_STATUS",
                    }
                }
            }
        });

        //var ven = $("#VendorId").data("kendoDropDownList");

        var d = new Date();
        d.setDate(d.getDate() - 6);
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });

    });


    var columnDefs1 = [
        {
            headerName: "Sr No.",
            field: "SNo"
        },
        {
            headerName: "Req No",
            field: "ServiceNo"
        },
        {
            headerName: "Req Date",
            field: "RequisitionDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        {
            headerName: "Req Type",
            //field: "ItemHeadName"
        },
        {
            headerName: "Customer",
            field: "CustomerName"
        },
        {
            headerName: "Order Value",
            field: "RequisitionValue"
        },
        {
            headerName: "Req Detail",
            field: "RequisitionParticular"
        },
        {
            headerName: "Storage Type",
            field: "ItemHeadName"
        },
        {
            field: "RequisitionStatus",
            headerName: "Req Status"
        },
    ];

    function getReqStatusDetailData() {
        document.getElementById("RequisitionGrid").innerHTML = "";
        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        gridConfig(
            "RequisitionGrid",
            "/IMS/InventoryManagement/ReadRequisitionByStatusData?cusId=" + $("#CustomerId").data("kendoDropDownList").value() + "&typeId=" + $("#StorageTypeId").data("kendoDropDownList").value() + "&statusId=" + $("#StatusId").data("kendoDropDownList").value() + "&From=" + sd + "&To=" + ed,
            columnDefs1,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function OnSearch() {
        document.getElementById("rsdGrid").style.display = "block";
        getReqStatusDetailData();
    }

    function OnReset() {
        document.getElementById("rsdGrid").style.display = "none";
    }

</script>

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a data-toggle="tab" href="#reqStatus" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />REQUISITION STATUS</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#reqDetail" class="nav-link" role="tab" aria-controls="draft" aria-selected="false" onclick=" LoadPartailView('@Url.Action("RequisitionDetailReport", "InventoryManagement")', $('#reqDetail'));"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />REQUISITION DETAIL</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="reqStatus" class="tab-pane in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>From Date</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="FromDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>To Date</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="ToDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Storage Type</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="StorageTypeId" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Customer</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="CustomerId" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Status</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="StatusId" class="form-control" />
                            </div>

                            <div class="col-4 form-group" style="text-align:right;margin-bottom:0px;">
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Search" onclick="OnSearch()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Reset" onclick="OnReset()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Print" onclick="OnPrint()" disabled />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Download" onclick="OnDownload()" disabled />
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div id="rsdGrid" class="p-3" style="display:none;margin-top:-30px;">
                    <fieldset class="fieldset">
                        <div id="RequisitionGrid" style="width:100%;max-height:550px;height:auto" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="reqDetail" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">

            </div>
        </div>
    </div>
</div>

