@{
    ViewData["Title"] = "Requisition Status/Detail";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    .label {
        padding-top: 5px !important;
    }
</style>

<script>

    $(document).ready(function () {

        $("#RDStorageTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=IMS_ITEM_TYPE",
                    }
                }
            }
        });

        $("#RDCustomerId").kendoDropDownList({
            dataTextField: "CustomerName",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCustomerList",
                    }
                }
            }
        });

        $("#RDStatusId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=LOV_SERVICE_STATUS",
                    }
                }
            }
        });

        //var ven = $("#VendorId").data("kendoDropDownList");

        var d = new Date();
        d.setDate(d.getDate() - 2);
        $("#RDFromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#RDToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });

    });


    var columnDefs = [
        {
            headerName: "Sr No",
            field: "SNo"
        },
        {
            headerName: "Req No",
            field: "ServiceNo"
        },
        {
            headerName: "Req Date",
            field: "RequisitionDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        {
            headerName: "Req Type",
            //field: "RequsitionType"
        },
        {
            headerName: "Customer",
            field: "CustomerName"
        },
        {
            headerName: "Item Name",
            field: "ItemName"
        },
        {
            headerName: "Req Qty",
            field: "RequisitionQuantity"            
        },
        {
            headerName: "Approved Qty",
            field: "ApprovedQuantity"            
        },
        {
            headerName: "Storage Type",
            field: "ItemHeadName"
        },
        {
            field: "RequisitionStatus",
            headerName: "Req Status"
        },
    ];

    function getReqDetailData() {
        document.getElementById("RequisitionDetailGrid").innerHTML = "";
        var sd = kendo.toString($("#RDFromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var ed = kendo.toString($("#RDToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        gridConfig(
            "RequisitionDetailGrid",
            "/IMS/InventoryManagement/ReadRequisitionByDetailsData?cusId=" + $("#RDCustomerId").data("kendoDropDownList").value() + "&typeId=" + $("#RDStorageTypeId").data("kendoDropDownList").value() + "&statusId=" + $("#RDStatusId").data("kendoDropDownList").value() + "&From=" + sd + "&To=" + ed,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function OnRDSearch() {
        document.getElementById("rdGrid").style.display = "block";
        getReqDetailData();
    }

    function OnRDReset() {
        document.getElementById("rdGrid").style.display = "none";
    }

</script>

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">        
        
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>From Date</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="RDFromDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>To Date</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="RDToDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Storage Type</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="RDStorageTypeId" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Customer</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="RDCustomerId" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Status</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="RDStatusId" class="form-control" />
                            </div>

                            <div class="col-4 form-group" style="text-align:right;margin-bottom:0px;">
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Search" onclick="OnRDSearch()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Reset" onclick="OnRDReset()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Print" onclick="OnRDPrint()" disabled />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Download" onclick="OnRDDownload()" disabled />
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div id="rdGrid" class="p-3" style="display:none;margin-top:-30px;">
                    <fieldset class="fieldset">
                        <div id="RequisitionDetailGrid" style="width:100%;max-height:550px;height:auto" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            
    </div>
</div>

