@{
    ViewData["Title"] = "Settings";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<script src="~/js/IMS/InventoryManagement/RequisitionIndex.js" asp-append-version="true"></script>
<div class="row  pad-10 no-gutters page-content">
    <div class="container card-header" style="padding:10px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />REQUISITION</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("IssueRequisitionIndex", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />ISSUE ITEM</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("DeliveryNoteIndex", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />DELIVERY</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("InvoiceScheduledIndex", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />INVOICE SCHEDULE</a></li>


        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row form-horizontal">
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Requisition Status</label>
                                </div>
                                <input type="text" id="RequisitionStatus" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Requisition From Date</label>
                                </div>
                                <input type="text" id="RequisitionFromDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Requisition To Date</label>
                                </div>
                                <input type="text" id="RequisitionToDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Item Type  </label>
                                </div>
                                <input type="text" id="ItemHead" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Customer</label>
                                </div>
                                <input type="text" id="Customer" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    &nbsp;
                                </div>
                                <input type="button" class="btn btn-primary btn-control" value="Get" style="color:white" onclick="OnSearch1()" />
                                <button class="btn btn-warning" onclick="AddRequisition()"><i class="fas fa-plus"></i> New Requisition</button>
                                <button class="btn btn-primary btn-control" style="display:none;color:white" onclick="AddPORequest()" id="poRequest">PO Request</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Requisitions Order(s)</legend>
                        <div id="RequisitionsOrderGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>

        </div>
    </div>
</div>
