@{
    ViewData["Title"] = "Settings";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;


@*<script src="~/js/IMS/InventoryManagement/IssueRequisitionIndex.js" asp-append-version="true"></script>*@
<div style="width: 100%;" class="p-3">
    <fieldset class="fieldset">
        <legend class="fs-legend">Issued Items</legend>
        

            <div class="col-12">
                <div id="RequisitionIssuedItemsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </div>
       
        </fieldset>
</div>





<script>
    $("#RequisitionIssuedItemsGrid").jsGrid({
        width: "100%",
        height: "auto",
        //data: response,
        autoload: true,
        controller: {
            loadData: function (filter) {

                return $.ajax({
                    type: "GET",
                    url: "/IMS/InventoryManagement/ReadIssuedItems?serviceId=@ViewBag.RequisitionIssueId&issueType=@ViewBag.IssueType",
                    data: filter,
                    dataType: "json"
                });
            },

            //deleteItem: function (item) {
            //    onDeleteItem(item.NoteId);
            //}
        },
        fields: [


            {
                name: "ItemName",
                title: "Item Name",
                type: "text",

            },
            //{
            //    name: "ItemSpecification",
            //    title: "Item Specification",
            //    type: "text",

            //},
            {
                name: "IssuedQuantity",
                title: "IssuedQuantity",
                type: "text",

            },
        ]
    })
</script>
