@{
    ViewData["Title"] = "Delivery Note";
  
}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    .jsgrid-header-scrollbar {
      /*  width: 1032px !important;*/
    }
    .jsgrid-grid-body {
       /* width: 1032px;*/
    }
    .random {
        position: absolute !important;
        height: auto !important;
        width: 1000.37px !important;
        padding: 10px !important;
    }
</style>
<script src="~/js/IMS/InventoryManagement/DeliveryNoteIndex.js" asp-append-version="true"></script>
<div class="tab-content" style="border: 1px solid silver;border-top:none;">
    <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
        <div style="width: 100%;" class="p-3">
            <fieldset class="fieldset">
                <legend class="fs-legend">Search Criteria</legend>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row form-horizontal">
                    <div class="col-4 form-group">
                        <div class="col-form-label required">
                            <label>Item Type</label>
                        </div>
                        <input type="text" id="ItemHead1" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>From Date</label>
                        </div>
                        <input type="text" id="FromDate" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>To Date</label>
                        </div>
                        <input type="text" id="ToDate" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            &nbsp;
                        </div>
                        <input type="button" class="btn btn-primary btn-control" value="Get" style="color:white" onclick="OnSearch()" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <div class="col-12 form-group">
                    <div class="row col-12">
                        <label>Select Requisition No </label><input type="text" id="RequisitionId" class="form-control" />
                    </div>
                </div>
            </fieldset>
                <fieldset class="fieldset">
                    <legend class="fs-legend">Delivery Notes</legend>
                    <div id="DeliveryNoteGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                </fieldset>
        </div>
    </div>
</div>
@*<div class="row  pad-10 no-gutters page-content">
    
             
    <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

        <legend>Search Criteria</legend>
        <div class="card ">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row col-12" style="padding:5px;">
                <div class="col-1" style="padding-bottom:10px;">
                    <label>Item Type<span class="required">*</span></label>
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <input type="text" id="ItemHead1" class="form-control" />
                </div>

                <div class="col-1" style="padding-bottom:10px;">
                    <label>From Date</label>
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <input type="text" id="FromDate" class="form-control" />
                </div>
                <div class="col-1" style="padding-bottom:10px;">
                    <label>To Date</label>
                </div>
                <div class="col-2" style="padding-bottom:10px;">
                    <input type="text" id="ToDate" class="form-control" />
                </div>


                <div class="col-3" style="text-align:right;">
                    <input type="button" class="btn btn-primary" value="Get" style="margin:5px;" onclick="OnSearch()" />

                </div>
            </div>

        </div>
      
           
            <div class="card pad-10" style="padding-top:0px;display:none;" id="ItemsArea">
                <div class="row col-12">
                    <label>Item Name </label><input type="text" id="RequisitionId" class="form-control" />
                </div>
            </div>
                <div class="card pad-10" style="padding:10px;display:none;" id="GridArea">

                    <legend>Delivery Notes</legend>
                   

                        <div class="col-12">
                            <div id="DeliveryNoteGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                        </div>
                    <
                </div>
            
        
     
    </div>
            
           
     
    
</div>*@
