@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;
@*@using Kendo.Mvc.UI*@

@{
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    ViewData["Title"] = "Delivery Challan Details";

}



<div class="row  pad-10 no-gutters">
    <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
        <div class="text-danger"></div>
        <div style="width: 100%;" class="p-3">
            <fieldset class="fieldset">



                <legend class="fs-legend"> Accknowledgement</legend>
                <div class="row" >
                    <div class="col-1" style="padding-bottom:10px;">
                        <label>File<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        @*<input type="text" asp-for="InvoiceFile" class="form-control" required />*@
                        <div id="DocFile" class="dm-uploader">
                            <h6 class=" text-muted">Drag &amp; drop files here</h6>

                            <div class="btn btn-primary btn-block ">
                                <span>Open the file Browser</span>
                                <input type="file" title='Click to add Files' />
                            </div>
                        </div>
                    </div>
                </div>
               
<input type="hidden" value="@ViewBag.FileId" name="FileId" id="FileId"/>


            </fieldset>
            <br />
           
        <fieldset class="fieldset">
            <legend class="fs-legend">Attachments</legend>
            @if (ViewBag.FileId != null)
            {

                <a href="#" onclick="Preview('@ViewBag.FileId')">View Accknowledgement</a><br />
            }
           
        </fieldset>
                    <br />
                    <div style="float:right">
                        <button class="btn btn-primary" style="margin:5px;color:white;" onclick="uploadFile();">Upload</button>
                        <button class="btn btn-danger" style="margin:5px;color:white;" onclick="AVIClose();">Close</button>
                    </div>
            


        </div>
    </div>
    </div>

<script>
    $(function () {


        uploadDocFile();

    });
    function uploadDocFile() {
        $("#DocFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            // extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $("#FileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }
   
    function AVIClose() {
        var win = GetMainWindow();
        win.CloseWindow();

        return false;
    }
    function uploadFile() {
        if ($("#FileId").val() == "") {
            kendo.alert("please upload file");
        }
        else {
            ShowLoader($("#cms-content"));
            $.ajax({
            url: '/Ims/InventoryManagement/UpdateDeliveryNoteAcknowledgement',
            type: 'POST',
                data: {
                    deliveryNoteId: '@ViewBag.DeliveryNoteId',
                    fileId: $("#FileId").val()
                },
            dataType: 'json',
            success: function (result) {
                HideLoader($("#cms-content"));
                if (result.success) {

                    kendo.alert("uploaded Successfully.");
                    AVIClose();
                } else {

                    kendo.alert(result.errors);
                }

            },
                error: function (ert) {
                    HideLoader($("#cms-content"));
                kendo.alert("Please Upload again");
                
            }
        });
        }
    }
    function Preview(id) {

        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("PreviewAttachment", "Cms", new { @area = "" })?ntsType=NTS_Service&Id=' + id + '&canEdit=false';
        win.OpenWindow({ Title: 'Preview ttachment', Width: 1000, Height: 700 });
        return false;
    }

</script>
