@{
    ViewData["Title"] = "Home";
}
 
<style>
    .page-title {
        font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
        font-size: 40px;
        line-height: 76px;
        color: #0f254e;
        font-weight: 600;
    }

    .card-image {
        height: 120px !important;
        width: 120px !important;
        border-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
</style>
<div class="row p-4">
    <div class="col-12 text-center">
        <div class="col-12 page-title">Inventory Management System</div>
        <div class="col-10 offset-1" style="text-align:left;">
            Manage orders. Track inventory. Oversee warehouses. One inventory management solution to run all your inventory operations.
            Create sales, manage re-order point, and keep your customers satisfied. Update your inventory quantities across all your selling channels automatically whenever a sale has been made.
        </div>
    </div>
    <div class="row col-12 pt-5">
        <div class="col-6 row text-center">
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2" src="/cms/Document/GetCategoryImageByCode?code=IMS_SALE" onerror='OnPhotoError(this);' />
                        <div> <a href="#" class="card-link" onclick="LoadPage('DirectSales');">Sales</a></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-iamge" src="/cms/Document/GetCategoryImageByCode?code=IMS_PURCHASE" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link" onclick="LoadPage('Requisition');">Requisition</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-iamge" src="/cms/Document/GetCategoryImageByCode?code=IMS_PURCHASE" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link" onclick="LoadPage('PurcahseOrder');">Purchase Order</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-image" src="/cms/Document/GetPageImageByName?pageName=UnitItem" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link" onclick="LoadPage('ItemStock');">Item Stock</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-image" src="/cms/Document/GetPageImageByName?pageName=Customer" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link" onclick="LoadPage('Customer');">Customer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="card-body">
                        <img class="pb-2 card-image" src="/cms/Document/GetPageImageByName?pageName=Vendor_IMS" onerror='OnPhotoError(this);' />
                        <div>
                            <a href="#" class="card-link" onclick="LoadPage('Vendor');">Vendor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <img style="width:360px;border-radius:10px;" src="/images/inv/inv-home.jpg" />
        </div>
    </div>
</div>

<script>
    function LoadPage(type)
    {
        var url = "";
        var portalId = "";
        if (window.parent == "" || window.parent == undefined) {
            portalId = $("#GlobalPortalId").val();
        }
        else {
            portalId = window.parent.$("#GlobalPortalId").val();
        }
        if (type == 'Requisition')
        {
          
            url = '/Cms/Page?lo=Div&pageType=Custom&source=Main&dataAction=None&templateCodes=IMS_RequisitionPage&portalId=' + portalId +'&pageName=Requisition' ;
            LoadCmsPartialView(url, 'Custom', false, 1000, 600, );
        }
        else if (type == 'DirectSales') {
            url = '/Cms/Page?lo=Div&pageType=Custom&source=Main&dataAction=None&templateCodes=DirectSales&portalId=' + portalId + '&pageName=DirectSales';
            LoadCmsPartialView(url, 'Custom', false, 1000, 600,);
        }
        else if (type == 'Customer') {
            url = '/Cms/Page?lo=Div&pageType=Custom&source=Main&dataAction=None&templateCodes=IMS_Customer_Master&portalId=' + portalId + '&pageName=Customer';
            LoadCmsPartialView(url, 'Custom', false, 1000, 600,);
        }
        else if (type == 'Vendor') {
            url = '/Cms/Page?lo=Div&pageType=Custom&source=Main&dataAction=None&templateCodes=IMS_Vendor_Master&portalId=' + portalId + '&pageName=Vendor_IMS';
            LoadCmsPartialView(url, 'Custom', false, 1000, 600,);
        }
        else if (type == 'PurcahseOrder') {
            url = '/Cms/Page?lo=Div&pageType=Custom&source=Main&dataAction=None&templateCodes=IMS_PurchaseOrderStatus&portalId=' + portalId + '&pageName=VendorPO';
            LoadCmsPartialView(url, 'Custom', false, 1000, 600,);
        }
        else
        {
            url = '/Cms/Page?lo=Div&pageType=Custom&source=Main&dataAction=None&templateCodes=UnitItem&portalId=' + portalId + '&pageName=UnitItem';
            LoadCmsPartialView(url, 'Custom', false, 1000, 600,);
        }
    }
</script>