@{
    ViewData["Title"] = "Settings";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    .jsgrid-header-scrollbar {
        width: 100% !important;
    }

    .jsgrid-grid-body {
        width: 100%;
    }

    .random {
        position: absolute !important;
        height: auto !important;
        width: 1000.37px !important;
        padding: 10px !important;
    }
</style>

<script src="~/js/IMS/InventoryManagement/IssueRequisitionIndex.js" asp-append-version="true"></script>
<div class="tab-content" style="border: 1px solid silver;border-top:none;">
    <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
        <div style="width: 100%;" class="p-3">
            <fieldset class="fieldset">
                <legend class="fs-legend">Search Criteria</legend>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row form-horizontal">
                    <div class="col-4 form-group">
                        <div class="col-form-label required">
                            <label>Item Type</label>
                        </div>
                        <input type="text" id="ItemHead1" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label required">
                            <label>Warehouse</label>
                        </div>
                        <input type="text" id="WarehouseId" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>From Date</label>
                        </div>
                        <input type="text" id="FromDate" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>To Date</label>
                        </div>
                        <input type="text" id="ToDate" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            <label>Customer</label>
                        </div>
                        <input type="text" id="Customer" class="form-control" />
                    </div>
                    <div class="col-4 form-group">
                        <div class="col-form-label">
                            &nbsp;
                        </div>
                        <input type="button" class="btn btn-primary btn-control" value="Get" style="color:white" onclick="OnSearch2()" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fs-legend">Requisitions Order(s)</legend>
                <div id="RequisitionsIssueGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
            </fieldset>
        </div>
    </div>
</div>


