@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Stock Transfer";

}


<script>
    $(document).ready(function () {  

        var d = new Date();
        d.setDate(d.getDate() - 6);
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });

        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });

    });

    var columnDefs = [
        {
            headerName: "Transfer No.",
            field: "ServiceNo",
        },
        { field: "ChallanNo", },
        { field: "FromWareHouse", headerName:"Transfer From"},
        { field: "ToWareHouse", headerName:"Transfer To" },
        //{ field: "ItemName" },
        //{ headerName: "Requested Quantity" ,field: "TransferQuantity" },
        //{ field: "TransferredQuantity" },
        //{ field: "ReceivedQuantity" },
        { field: "TransferredBy" },
        {
            field: "TransferDate",
            headerName: "Transferred Date",
            cellRenderer: (data) => {
                debugger;
                if (data.value != null && data.value != "") {
                    var d = new Date(data.value);
                    return d.getDate() + "." + d.getMonth() + "." + d.getFullYear();
                }
            }
        }, 
        { field: "WorkflowStatus", headerName: "Workflow Status" },
        {
            headerName: "Actions",
            field: "ServiceId",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuitemtansfer' data-serid='" + params.value + "' data-status='" + params.data.ServiceStatusCode + "' data-stid='" + params.data.UdfNoteTableId + "' data-grsc='" + params.data.GoodsReceiptServiceStatusCode + "' data-allissued='" + params.data.AllIssued + "'  data-riid='" + params.data.RequisitionIssueId + "' data-grid='" + params.data.GoodsReceiptId + "' data-grsid='" + params.data.GoodsReceiptServiceId + "' data-warehouseid='" + params.data.FromWarehouseId + "' data-towhid='" + params.data.ToWarehouseId + "'><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    function GetItemTransferredList() {
        document.getElementById("ItemTransferredGrid").innerHTML = "";
        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        gridConfig(
            "ItemTransferredGrid",
            "/Ims/InventoryManagement/ReadItemTransferList?From=" + sd + "&To=" + ed + "&challanNo="+$('#ChallanNo').val(),
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    $(function () {

        GetItemTransferredList();
        $.contextMenu({
            selector: '#tree-menuitemtansfer',
            trigger: 'left',
            build: function ($trigger, e) {

                var serId = $trigger.data('serid');
                var serStatus = $trigger.data('status'); 
                var stId = $trigger.data('stid');                
                //var risc = $trigger.data('risc');
                var grsc = $trigger.data('grsc');
                var riId = $trigger.data('riid');
                var grId = $trigger.data('grid');
                var grsId = $trigger.data('grsid');
                var allIssued = $trigger.data('allissued');

                var fwarehouseid = $trigger.data('warehouseid');
                var twarehouseid = $trigger.data('towhid');
                switch (0) {
                    case 0:
                        var Items;
                        debugger;
                        if (serStatus == "SERVICE_STATUS_DRAFT") {
                            Items = {
                                "items": { name: "Items", icon: "fa-regular fa-cart-circle-plus" },
                                "submit": { name: "Submit Transfer", icon: "fa-regular fa-arrow-right-to-bracket" },
                            };
                        }
                        else if (serStatus == "SERVICE_STATUS_COMPLETE" && allIssued == false /*&& risc == "SERVICE_STATUS_DRAFT"*/) {
                            Items = {
                                "items": { name: "Items", icon: "fa-regular fa-cart-circle-plus" },
                                "issue": { name: "Manage Issue", icon: "fa-regular fa-arrow-right-to-bracket"},
                            };
                        }
                        else if (serStatus == "SERVICE_STATUS_COMPLETE" && allIssued == true && grsc == null/*&& risc == "SERVICE_STATUS_COMPLETE" && grsc == "SERVICE_STATUS_DRAFT"*/) {
                            Items = {
                                "items": { name: "Items", icon: "fa-regular fa-cart-circle-plus" },                                
                                "receipt": { name: "Manage Receipt", icon: "fa-regular fa-arrow-right-to-bracket" },                                
                            };
                        }
                        else if (serStatus == "SERVICE_STATUS_COMPLETE" && allIssued == true  && grsc == "SERVICE_STATUS_DRAFT") {
                            Items = {
                                "items": { name: "Items", icon: "fa-regular fa-cart-circle-plus" }, 
                                "receipt": { name: "Manage Receipt", icon: "fa-regular fa-arrow-right-to-bracket" }, 
                                "submitreceipt": { name: "Submit Receipt", icon: "fa-regular fa-arrow-right-to-bracket" },
                            };
                        }
                        else if (serStatus == "SERVICE_STATUS_COMPLETE" && grsc == "SERVICE_STATUS_COMPLETE" /* && risc == "SERVICE_STATUS_COMPLETE" */) {
                            Items = {
                                "items": { name: "Items", icon: "fa-regular fa-cart-circle-plus" },
                                //"issue": { name: "Manage Issue", icon: "fa-regular fa-arrow-right-to-bracket" },
                                "receipt": { name: "View Receipt", icon: "fa-regular fa-arrow-right-to-bracket" },
                            };
                        }
                        else 
                        {
                            Items = {
                                "items": { name: "Items", icon: "fa-regular fa-cart-circle-plus" },                                
                            };
                        }

                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'items':
                                        OnViewItems(serId, serStatus);
                                        break;
                                    case 'submit':
                                        OnSubmit(serId,stId);
                                        break;  
                                    case 'issue':
                                        OnIssue(stId, serStatus, fwarehouseid);
                                        break;
                                    case 'receipt':
                                        OnReceipt(grsId, stId, grsc, twarehouseid);
                                        break;  
                                    case 'submitreceipt':
                                        OnSubmitReceipt(grsId);
                                        break;
                                    default:
                                }
                            },
                            items: Items
                        };
                }
            }
        });

    });

    function OnSubmit(serId,stId) {

        $.ajax({
            url: '/IMS/InventoryManagement/CheckStocTransferItemsExist?stockTransferId=' + stId,
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (result) {

                if (result.success) {
                    kendo.confirm("Do you really want to Submit?").then(function () {
                        ShowLoader($("#draft"));
                        $.ajax({
                            url: '/IMS/InventoryManagement/SubmitStockTransfer?serId=' + serId,
                            type: 'POST',
                            data: {},
                            dataType: 'json',
                            success: function (result) {

                                if (result.success) {
                                    GetItemTransferredList();
                                    HideLoader($("#draft"));
                                    kendo.alert("Submitted Successfully.");
                                } else {
                                    GetItemTransferredList();
                                    HideLoader($("#draft"));
                                    var err = result.errors.BinderCountError.errors[0];
                                    kendo.alert(err);
                                }
                            },
                            error: function (ert) {
                                HideLoader($("#draft"));
                                GetItemTransferredList();
                            }
                        });

                    }, function () {

                    });

                } else {
                    kendo.alert("Please Add atleast one item for stock transfer");
                }
            },
            error: function (ert) {
                GetItemTransferredList();
            }
        });
    }
    
    function OnNewItem() {
        var url = '/Ims/InventoryManagement/NewItemTransfer';
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Stock Transfer Items", Width: 1200, Height: 650 });
    } 

    function OnViewItems(serid, serStatus) {
        var url = '/Ims/InventoryManagement/NewItemTransfer?serId=' + serid + '&serstatus=' + serStatus;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Stock Transfer Items", Width: 1200, Height: 650 });
    }

    function OnIssue(stId, scode, fwarehouseid) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '/IMS/InventoryManagement/RequisitionIssueItems?requisitionId=' + stId + '&warehouseId=' + fwarehouseid + '&issuetype=1';
        win.OpenWindow({ Title: 'Issue Item For Stock Transfer', Width: 1200, Height: 800 });
        return false;
   

    }

    function OnReceipt(grsId, stId, grscode, twarehouseid) {
        var url = '/Ims/InventoryManagement/ManageStockTransferReceiveItem?grSerId=' + grsId + '&stId=' + stId + '&receiptStatus=' + grscode + '&toWarehouseId=' + twarehouseid;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Stock Transfer Receive Items", Width: 1200, Height: 650 });
    }

    function OnSubmitReceipt(grSerId) {
        kendo.confirm("Do you really want to Submit?").then(function () {
            ShowLoader($("#draft"));
            $.ajax({
                url: '/IMS/InventoryManagement/SubmitStockTransferReceipt?serId=' + grSerId,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {
                        GetItemTransferredList();
                        HideLoader($("#draft"));
                        ShowNotifiation("Stock Transfer Receipt Submitted Successfully","success");
                    } else {
                        GetItemTransferredList();
                        HideLoader($("#draft"));
                        var err = result.errors.BinderCountError.errors[0];
                        kendo.alert(err);
                    }
                },
                error: function (ert) {
                    HideLoader($("#draft"));
                    GetItemTransferredList();
                }
            });

        }, function () {

        });
    }

    function OnAfterUpdate() {
        GetItemTransferredList();
    }

    function OnSearch() {
        GetItemTransferredList();
    }  

</script>

        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>From Date</label>
                                </div>
                                <input type="text" id="FromDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>To Date</label>
                                </div>
                                <input type="text" id="ToDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Challan No</label>
                                </div>
                                <input type="text" id="ChallanNo" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    &nbsp;
                                </div>
                                <input type="button" class="btn btn-primary btn-control" value="Get"  onclick="OnSearch()" />
                                 <input type="button" class="btn btn-warning btn-control" value="New Item Transfer"  onclick="OnNewItem();" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Transfer Item List</legend>
                        <div id="ItemTransferredGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>

        </div>
@*<div class="row pad-10 no-gutters page-content">
    <div class="container card-header" style="padding:10px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />ITEM TRANSFER</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ReceivePOItems", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />RECEIVE ITEM</a></li>
            
            
        </ul>
        <div class="tab-content">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

                <div style="padding-top:10px;width: 100%;">

                    <legend>Search Criteria</legend>
                    <div class="card ">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row col-12" style="padding:5px;">

                            <div class="col-1" style="padding-bottom:10px;">
                                <label>From Date</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="FromDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>To Date</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="ToDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Challan No</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="ChallanNo" class="form-control" />
                            </div>
                            <div class="col-3" style="text-align:right;">
                                <input type="button" class="btn btn-primary" value="Get" style="margin:5px;" onclick="OnSearch();" />
                                <input type="button" class="btn btn-warning" value="New Item Transfer" style="margin:5px;" onclick="OnNewItem();" />
                            </div>
                            
                        </div>

                    </div>

                    <br />
                    <legend>Transfer Item List</legend>
                    <div class="row">
                        
                        <div class="col-12">
                            <div id="ItemTransferredGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">

            </div>

        </div>
    </div>
</div>*@
