@{
    ViewData["Title"] = "Item History";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true" onclick="onItemHistoryList()"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />ITEM HISTORY</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>From Date</label>
                                </div>
                                <input id="FromDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>To Date</label>
                                </div>
                                <input id="ToDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Warehouse</label>
                                </div>
                                <input id="WarehouseId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Item Type</label>
                                </div>
                                <input id="ItemTypeId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Item Category</label>
                                </div>
                                <input id="ItemCategoryId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Item Subcategory</label>
                                </div>
                                <input id="ItemSubCategoryId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Item Name</label>
                                </div>
                                <input id="ItemId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    &nbsp;
                                </div>
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Search" onclick="OnSearch()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Reset" onclick="OnReset()" />
                                <input type="button" id="btnPrint" class="btn btn-primary btn-control" style="color:white" value="Print" onclick="OnPrint()" />
                                <input type="button" id="btnDownload" class="btn btn-primary btn-control" style="color:white" value="Download" onclick="OnDownload()" />
                                @*<button class="btn btn-warning" onclick="AddVendor()"><i class="fas fa-plus"></i> Add Vendor</button>*@
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset" id="itemFieldSet" style="display:none;">
                        <legend class="fs-legend">Item History List</legend>
                        <div class="row">
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Storage Type</label>
                                </div>
                                <span id="storageTypeText">Storage Type</span>
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Item Name</label>
                                </div>
                                <span id="itemNameText">Item Name</span>
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Current Quantity</label>
                                </div>
                                <span id="currentQuantityText">0.0</span>
                            </div>
                        </div>
                        <div id="ItemListGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        document.getElementById("btnPrint").disabled = true;
        document.getElementById("btnDownload").disabled = true;

        var d = new Date();
        d.setDate(d.getDate() - 6);
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });

        $("#WarehouseId").kendoDropDownList({
            dataTextField: "WarehouseName",
            dataValueField: "Id",
            optionLabel: "--Select--",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetWarehouseList",
                    }
                }
            }
        });

    });

    $("#ItemTypeId").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        optionLabel: "--Select--",
        change : OnChangeItemType,
        dataSource: {
            transport: {
                read: {
                    url: "/Cms/LOV/GetListOfValueList?type=IMS_ITEM_TYPE",
                }
            }
        }
    });

    $("#ItemCategoryId").kendoDropDownList({
        optionLabel: "--Select--",
        dataTextField: "Name",
        dataValueField: "Id",
        filter: "contains",
        change: OnChangeItemCategory,
        dataBound: OnChangeItemCategory,
        dataSource: {
            transport: {
                read: {
                    url: "/IMS/InventoryMaster/GetItemCategoryListByItemType",
                    data: fiterDataItemCategory
                }
            }
        }
    });

    $("#ItemSubCategoryId").kendoDropDownList({
        optionLabel: "--Select--",
        dataTextField: "Name",
        dataValueField: "Id",
        filter: "contains",
        change: OnChangeItemSubCategory,
        dataBound: OnChangeItemSubCategory,
        dataSource: {
            transport: {
                read: {
                    url: "/IMS/InventoryMaster/GetItemSubCategoryListByItemCategory",
                    data: fiterDataItemSubCategory
                }
            }
        }
    });

    $("#ItemId").kendoDropDownList({
        optionLabel: "--Select--",
        dataTextField: "Name",
        dataValueField: "Id",
        filter: "contains",
        dataSource: {
            transport: {
                read: {
                    url: "/IMS/InventoryMaster/GetItemListByItemSubCategory",
                    data: fiterDataItem
                }
            }
        }
    });

    function OnChangeItemType(e) {
        //debugger;
        $("#ItemCategoryId").data("kendoDropDownList").dataSource.read();
    }

    function OnChangeItemCategory(e) {
        $("#ItemSubCategoryId").data("kendoDropDownList").dataSource.read();
    }
    function OnChangeItemSubCategory(e) {
        $("#ItemId").data("kendoDropDownList").dataSource.read();
    }


    function fiterDataItemCategory() {
        var search = {
            itemTypeId: $("#ItemTypeId").data("kendoDropDownList").value(),
        };
        return search;
    }

    function fiterDataItemSubCategory() {
        var search = {
            itemCategoryId: $("#ItemCategoryId").data("kendoDropDownList").value(),
        };
        return search;
    }

    function fiterDataItem() {
        var search = {
            itemSubCategoryId : $("#ItemSubCategoryId").data("kendoDropDownList").value(),
        };
        return search;
    }

    function onItemHistoryList() {

    }
    var columnDefs = [
        {
            headerName: "Sr No.",
            field: "SNo",
        },
        {
            headerName: "Transaction Date",
            field: "TransactionDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        {
            headerName: "Item Description",
            field: "ItemName"
        },
        {
            headerName: "Quantity",
            field: "ItemQuantity",
            cellRenderer: params => {
                var data1 = "";
                if (params.data.InOutType == 'ISSUE') {
                    data1 = "<span style='color:red;'>(-)</span> " + params.value ;
                }
                else if (params.data.InOutType == 'RECEIPT') {
                    data1 = "<span style='color:green;'>(+)</span> " + params.value ;
                }
                return data1;
            }
        },
        {
            headerName: "Rate",
            field: "Rate",
        },
        {
            headerName: "Amount",
            field: "Amount",
        },
        {
            headerName: "Verified By",
            field: "VerifiedBy",
        },
        {
            headerName: "Verified On",
            field: "VerifiedDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        }

    ];

    $(function () {
        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        GetItemListGrid(sd,ed,"","","","","");
    });

    function GetItemListGrid(fromDate,toDate, warehouse, itemtype, category, subcategory,item) {
        document.getElementById("ItemListGrid").innerHTML = "";
        gridConfig(
            "ItemListGrid",
            "/Ims/InventoryManagement/ReadItemHistoryData?fromDate=" + fromDate + "&toDate=" + toDate + "&warehouseId=" + warehouse + "&itemTypeId=" + itemtype + "&itemCategoryId=" + category + "&itemSubCategoryId=" + subcategory + "&itemId=" + item,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function OnSearch() {
        //alert("Search");
        if ($("#WarehouseId").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Warehouse field is required");
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }

        if ($("#ItemTypeId").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Type field is required");
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }

        if ($("#ItemCategoryId").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Category field is required");
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }

        if ($("#ItemSubCategoryId").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Subcategory field is required");
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }
        if ($("#ItemId").val() == "") {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Item Name field is required");
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-errors");
            $(".text-danger").addClass("validation-summary-valid");
            $(".text-danger").html("");
        }

        $("#itemFieldSet").show();


        //$("#storageTypeText").innerHTML = "Stock 1";
        //$("#itemNameText").innerHTML = $("#ItemId").data("kendoDropDownList").text();
        //$("#currentQuantityText").innerHTML = "0.0";

        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd HH:mm:ss');

        var warehouse = $("#WarehouseId").data("kendoDropDownList").value();
        var itemtype = $("#ItemTypeId").data("kendoDropDownList").value();
        var category = $("#ItemCategoryId").data("kendoDropDownList").value();
        var subcategory = $("#ItemSubCategoryId").data("kendoDropDownList").value();
        var item = $("#ItemId").data("kendoDropDownList").value();

        GetItemListGrid(sd, ed, warehouse, itemtype, category, subcategory, item);
        GetItemHeaderDeatils(item, warehouse);
    }
    function OnReset() {
        //alert("Reset");

        var d = new Date();
        d.setDate(d.getDate() - 2);
        var sd = kendo.toString(kendo.parseDate(d), 'yyyy-MM-dd HH:mm:ss');
        $("#FromDate").data("kendoDatePicker").value(sd);
        var ed = kendo.toString(kendo.parseDate(new Date()), 'yyyy-MM-dd HH:mm:ss');
        $("#ToDate").data("kendoDatePicker").value(ed);

        $("#WarehouseId").data("kendoDropDownList").value(-1);
        $("#ItemTypeId").data("kendoDropDownList").value(-1);
        $("#ItemCategoryId").data("kendoDropDownList").value(-1);
        $("#ItemSubCategoryId").data("kendoDropDownList").value(-1);
        $("#ItemId").data("kendoDropDownList").value(-1);

        $("#itemFieldSet").hide();
        document.getElementById("btnPrint").disabled = true;
        document.getElementById("btnDownload").disabled = true;
    }
    function OnPrint() {
        alert("Print");
    }
    function OnDownload() {
        alert("Download");
    }
    function GetItemHeaderDeatils(item,warehouse) {
        $.ajax({
            url: '/Ims/InventoryMaster/GetItemDeatils?Id=' + item +'&warehouseId='+warehouse,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {
                document.getElementById("storageTypeText").innerHTML = response.ItemTypeName;
                document.getElementById("itemNameText").innerHTML = response.ItemName;
                document.getElementById("currentQuantityText").innerHTML = response.BalanceQuantity;
            }
        });

    //    document.getElementById("storageTypeText").innerHTML = "Stock 1";
    //    document.getElementById("itemNameText").innerHTML = "Stock 1";
    //    document.getElementById("currentQuantityText").innerHTML = "Stock 1";
    //    $("#storageTypeText").html("Stock 2");
    //    $("#itemNameText").html("Stock 2");
    //    $("#currentQuantityText").html("Stock 2");
    }
</script>