@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@model POTermsAndConditionsViewModel
@{
    //ViewData["Title"] = ViewBag.PageName;
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .gridtitle {
        font-size: 16px;
        font-weight: bold;
        color: #484545;
    }
</style>
<script>
    $(document).ready(function () {

        //Terms & Conditions Grid

        $("#TermsGrid").jsGrid({
            width: "100%",
            inserting: false,
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 14,
            pageButtonCount: 5,
            controller: {
                loadData: function (filter) {

                    return $.ajax({
                        type: "GET",
                        url: "/IMS/InventoryManagement/GetTermsAndConditionsList",
                        data: filter,
                        dataType: "json"
                    });
                },
                onItemEditing: function (e) {
                    debugger;
                    if (e.grid._container.find(".jsgrid-edit-row")[0] != undefined) {

                        e.grid.updateItem();
                    }
                },
                updateItem: function (item) {
                    debugger;
                },
            },
            fields: [
                { name: "Select", type: "checkbox", width: 60, },
                {
                    name: "Title",
                    title: "Title",
                    type: "text",
                    editing: true
                },
                {
                    name: "Description",
                    title: "Description",
                    type: "text",
                    editing: true
                },
            ]
        })

    });
    //End document.ready function

    //PoTerms&Conditions Grid

    var columnDefs = [
        {
            field: "TermsTitle",
            headerName: "Title"
        },
        {
            field: "TermsDescription",
            headerName: "Description"
        },
        {
            headerName: "Actions",
            field: "Id",
            width: 60,
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-poterms' data-idvalue='" + params.data.POTCID + "' data-noteid='" + params.data.NoteId + "' ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    function getPOTCData() {
        document.getElementById("POTermsGrid").innerHTML = "";
        gridConfig(
            "POTermsGrid",
            "/IMS/InventoryManagement/ReadPOTermsData?poId=@Model.POID",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }


    //context menu
    $(function () {

        getPOTCData();
        $.contextMenu({
            selector: '#tree-poterms',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');
                var noteId = $trigger.data('noteid');

                switch (0) {
                    case 0:

                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'delete':
                                        POTCDelete(noteId);
                                        break;
                                    default:
                                }
                            },
                            items: {
                                "delete": { name: "Delete", icon: "fas fa-trash" },
                            }
                        };
                }
            }
        });

    });

    function POTCDelete(noteid) {
        kendo.confirm("Are you sure that you want to proceed?").then(function () {
            ShowLoader($("#tandc"));
            $.ajax({

                url: '/Ims/InventoryManagement/DeletePOTCItem?NoteId='+noteid,
                type: "POST",
                contentType: "application/json",
                dataType: "JSON",
                success: function (res) {

                    if (res.success) {
                        HideLoader($("#tandc"));
                        ShowNotification("Deleted Successfully", "success");
                        getPOTCData();
                    }
                }
            });
        }, function () {

        });
    }


    function SaveData(e) {

        var selectedDataItems = [];

        var termsGrid = $("#TermsGrid").data("JSGrid");

        if (termsGrid._editingRow != null) {
            termsGrid.updateItem();
        }

        for (var i = 0; i < termsGrid.data.length; i++) {

            if (termsGrid.data[i].Select == true) {
                selectedDataItems.push(termsGrid.data[i]);
            }
        }
        $("#TermsList").val(JSON.stringify(selectedDataItems));

        if (selectedDataItems.length == 0) {
            kendo.alert('Please select atleast one item from the list');
            e.preventDefault();
            return false;
        }
        else {
            ShowLoader($("#tandc"));
        }
    }

    var onAjaxSuccess = function (res) {
        if (res.success) {
            getPOTCData();
            ShowNotification("Terms & Conditions Added Successfully", "success");
            HideLoader($("#tandc"));
        }
        else {
            ShowNotification(res.errormsg, "error");
            HideLoader($("#tandc"));
        }
    };


    function closeNav() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function OnNewTC() {
        debugger;
        var portalId = '@Model.PortalId';
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterNoteCreate&pageType=Note&source=Create&dataAction=Create&templateCodes=IMS_TERMS_AND_CONDITIONS&portalId=' + portalId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Add New Terms & Conditions', Width: 1000, Height: 650 });
        return false;
    }

    function OnAfterNoteCreate() {
        $("#TermsGrid").jsGrid("loadData");
    }

</script>

<div style="width: 100%;" class="p-3"  id="tandc">
    
        <form asp-controller="InventoryManagement" asp-action="ManagePOTC" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="text-danger" asp-validation-summary="All"></div>

            <fieldset class="fieldset">

                <legend class="fs-legend">Select Terms & Conditions</legend>


                <button type="button" class="btn btn-primary" onclick="OnNewTC();" style="float:right;">Add New T&C</button>



                <div id="TermsGrid" style="width: 100%;height:260px" class="ag-theme-alpine"></div>


                <div class="col-12" style="padding-top:10px;">
                    <input id="btnSave" type="submit" class="btn btn-primary" value="Save" style="margin:5px;float:right;" onclick="SaveData(event)" />
                </div>
            </fieldset>

            @Html.HiddenFor(x => x.TermsList)
            @Html.HiddenFor(x => x.POID)
        </form>
    </div>

    <fieldset class="fieldset">

        <legend class="fs-legend">PO Terms & Conditions</legend>
        <div id="POTermsGrid" style="width: 100%;min-height:100px" class="ag-theme-alpine"></div>
    </fieldset>


   

