@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Vendor PO";

}



<script>
    $(document).ready(function () {

        $("#SrchVendorId").kendoDropDownList({
          dataTextField: "VendorName",
          dataValueField: "Id",
          optionLabel: "--All--",
          filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetVendorsList",
                    }
                }
            }
        });

    $("#ItemHead").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Id",
        optionLabel: "--All--",
        dataSource: {
            transport: {
                read: {
                    url: "/Cms/LOV/GetListOfValueList?type=IMS_ITEM_TYPE",
                }
            }
        }
    });

        $("#StatusId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: "/Cms/LOV/GetListOfValueList?type=LOV_SERVICE_STATUS",
                    }
                }
            }
        });


    var d = new Date();
    d.setDate(d.getDate() - 6);
    $("#FromDate").kendoDatePicker({
        value: d,
        format: "dd.MM.yyyy"
    });
    $("#ToDate").kendoDatePicker({
        value: new Date(),
        format: "dd.MM.yyyy"
    });


   });

    var columnDefs = [
        {
            headerName: "PO No.",
            field: "PurchaseOrderNo",
        },
        { field: "VendorName", },
        {
            field: "PurchaseOrderDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth()+1) + "." + d.getFullYear();
            }
        },
        { field: "POValue" },
        { field: "POStatus", },
        { field: "PreparedBy", },
        {
            headerName: "Actions",
            field: "ServiceId",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menupo' data-serid='" + params.value + "' data-venid='" + params.data.VendorId + "' data-poid='" + params.data.POID + "' data-status='" + params.data.POStatus + "' data-requisitionIds='" + params.data.requisitionIds + "' data-statuscode='" + params.data.ServiceStatusCode+"' ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    function GetPOList() {
        document.getElementById("PurchaseOrderGrid").innerHTML = "";
        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        gridConfig(
            "PurchaseOrderGrid",
            "/Ims/InventoryManagement/ReadPOList?itemHead=" + $("#ItemHead").data("kendoDropDownList").value() + "&vendorId=" + $("#SrchVendorId").data("kendoDropDownList").value() + "&statusId=" + $("#StatusId").data("kendoDropDownList").value() + "&From=" + sd + "&To=" + ed,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    $(function () {

        GetPOList();
        $.contextMenu({
            selector: '#tree-menupo',
            trigger: 'left',
            build: function ($trigger, e) {
                debugger;
                var serId = $trigger.data('serid');
                var venId = $trigger.data('venid');
                var poId = $trigger.data('poid');
                var postatus = $trigger.data('status');
                var requisitionIds = $trigger.data('requisitionids');
                var serstcode = $trigger.data('statuscode');


                switch (0) {
                    case 0:
                        var Items;

                        if (postatus == "Draft") {
                            Items = {
                                "vendor": { name: "Vendor", icon: "fa-thin fa-people-carry-box" },
                                "items": { name: "Item(s)", icon: "fa-regular fa-cart-circle-plus" },
                                "terms": { name: "T & C*", icon: "fa-regular fa-message-exclamation" },
                                "view": { name: "Preview", icon: "fa-light fa-memo" },
                                "submit": { name: "Submit", icon: "fa-regular fa-arrow-right-to-bracket" },
                            };
                        }
                        else if (postatus == "Complete") {
                            Items = {
                                "items": { name: "Item(s)", icon: "fa-regular fa-cart-circle-plus" },
                                "poreport": { name: "PO", icon: "fas fa-file-lines" },
                                "requisition": { name: "Requisition", icon: "fa fa-hand-o-right" },
                                //"remarks": { name: "Remarks", icon: "fas fa-user-shield" },
                            };
                        }
                        else {
                            Items = {
                                //"chstatus": { name: "Change Status", icon: "fas fa-pencil" },
                                "requisition": { name: "Requisition", icon: "fa fa-hand-o-right" },
                               // "remarks": { name: "Remarks", icon: "fas fa-user-shield" },
                            };
                        }

                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'vendor':
                                        OnVendor(serId, venId, poId);
                                        break;
                                    case 'items':
                                        OnItems(poId, requisitionIds, serstcode);
                                        break;
                                    case 'terms':
                                        OnTC(poId);
                                        break;
                                    case 'view':
                                        OnPreview(poId);
                                        break;
                                    case 'submit':
                                        OnSubmit(serId, poId);
                                        break;
                                    case 'poreport':
                                        OnPOReport(poId);
                                        break;
                                    case 'requisition':
                                        OnRequisition(poId);
                                    case 'remarks':
                                        OnRemarks();
                                    default:
                                }
                            },
                            items: Items
                        };
                }
            }
        });

    });

    function OnSubmit(serId, poid) {

        $.ajax({
            url: '/IMS/InventoryManagement/CheckPOItemsExist?poId=' + poid,
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (result) {

                if (result.success) {
                    kendo.confirm("Do you really want to Submit?").then(function () {
                        ShowLoader($("#draft"));
                        $.ajax({
                            url: '/IMS/InventoryManagement/SubmitPO?serId=' + serId,
                            type: 'POST',
                            data: {},
                            dataType: 'json',
                            success: function (result) {

                                if (result.success) {
                                    GetPOList();
                                    HideLoader($("#draft"));
                                    kendo.alert("Submitted Successfully.");
                                } else {
                                    GetPOList();
                                    HideLoader($("#draft"));
                                    var err = result.errors.BinderCountError.errors[0];
                                    kendo.alert(err);
                                }
                            },
                            error: function (ert) {
                                HideLoader($("#draft"));
                                GetPOList();
                            }
                        });

                    }, function () {

                    });

                } else {
                    kendo.alert("Please Add atleast one PO Items");
                }
            },
            error: function (ert) {
                GetPOList();

            }
        });

    }

    function OnVendor(sId, vId, pId) {
        var url = '/Ims/InventoryManagement/ChangeVendorForPO?serId=' + sId + '&venId=' + vId + '&poId='+pId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Change Vendor For PO", Width: 1000, Height: 500 });
    }
    function OnItems(poId, requisitionIds,serstatusCode) {
        var url = '/Ims/InventoryManagement/POItems?poId=' + poId + '&requisitionIds=' + requisitionIds + '&statusCode=' + serstatusCode;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Line Items", Width: 1000, Height: 750 });
    }

    function OnTC(poId) {
        var url = '/Ims/InventoryManagement/POTermsAndConditions?poId=' + poId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Terms & Conditions", Width: 1200, Height: 700 });
    }

    function OnAfterUpdate() {
        GetPOList();
    }

    function OnSearch() {
        GetPOList();
    }

    function OnPOReport(poId){
        var portalId = $("#GlobalPortalId").val();
        var url = '/Cms/FastReport?rptName=IMS_PurchaseOrder&lo=@LayoutModeEnum.Popup&portalId=' + portalId + '&rptUrl=ims/query/GetPurchaseOrderDetails?purchaseOrderId=' + poId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'PO Report', Width: 800, Height: 700 });
    }

    function OnRequisition(poId) {
        var url = '/Ims/InventoryManagement/PORequisitionList?poId=' + poId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Requisition", Width: 1200, Height: 700 });
    }

    function OnRemarks() {

    }

</script>

<div class="row pad-10 no-gutters page-content">
    <div class="container card-header" style="padding:10px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />PURCHASE ORDER</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("ReceivePOItems", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />RECEIVE ITEM</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("PurchaseInvoice", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />PURCHASE INVOICE</a></li>
            
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Vendor</label>
                                </div>
                                <input type="text" id="SrchVendorId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label required">
                                    <label>Item Type</label>
                                </div>
                                <input type="text" id="ItemHead" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>PO Status</label>
                                </div>
                                <input type="text" id="StatusId" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>From Date</label>
                                </div>
                                <input type="text" id="FromDate" class="form-control" />
                            </div>
                             <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>To Date</label>
                                </div>
                                <input type="text" id="ToDate" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    &nbsp;
                                </div>
                                <input type="button" class="btn btn-primary btn-control" value="Get" style="color:white" onclick="OnSearch()" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Purchase Order(s)</legend>
                        <div id="PurchaseOrderGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>

        </div>
       @* <div class="tab-content">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

                <div style="padding-top:10px;width: 100%;">

                    <legend>Search Criteria</legend>
                    <div class="card ">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row col-12" style="padding:5px;">
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Vendor</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="SrchVendorId" class="form-control" />
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Item Type<span class="required">*</span></label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="ItemHead" class="form-control" />
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>PO Status</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="StatusId" class="form-control" />
                            </div>

                            <div class="col-2" style="padding-bottom:10px;">
                                <label>From Date</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="FromDate" class="form-control" />
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>To Date</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="ToDate" class="form-control" />
                            </div>

                            <div class="col-4" style="text-align:right;">
                                <input type="button" class="btn btn-primary" value="Get" style="margin:5px;" onclick="OnSearch();" />
                            </div>
                        </div>

                    </div>

                    <br />
                    <legend>Purchase Order(s)</legend>
                    <div class="row">
<legend>Search Criteria</legend>
                        <div class="col-12">
                            <div id="PurchaseOrderGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">

            </div>

        </div>*@
    </div>
</div>
