@{
    ViewData["Title"] = "Received From PO";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<style>
    label {
        padding-top: 5px !important;
    }
</style>

<script>
    

    $(document).ready(function () {               

        $("#VendorId").kendoDropDownList({
            dataTextField: "VendorName",
            dataValueField: "Id",
            optionLabel: "@ApplicationConstant.PlaceHolder_AllOption",
            filter: "contains",            
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetVendorsList",
                    }
                }
            }
        });             

        //var ven = $("#VendorId").data("kendoDropDownList");

        var d = new Date();
        d.setDate(d.getDate() - 2);
        $("#FromDate").kendoDatePicker({
            value: d,
            format: "dd.MM.yyyy"
        });
        $("#ToDate").kendoDatePicker({
            value: new Date(),
            format: "dd.MM.yyyy"
        });
        
    });
   

    var columnDefs = [
        {
            headerName: "Sr No",
            field: "SNo"
        },
        {
            headerName: "PO Number",
            field: "PONo"
        },
        {
            headerName: "Item Name",
            field: "ItemName"            
        },
        {
            headerName: "PO Qty",
            field: "POQuantity"
        },
        {
            headerName: "Received Qty",
            field: "ReceivedQuantity"
        },
        {
            headerName: "Received Date",
            field: "ReceiveDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },
        {
            headerName: "Challan No",
            field: "ChallonNo"            
        }, 
        {
            headerName: "Challan Date",
            field: "ChallanDate",
            cellRenderer: (data) => {
                var d = new Date(data.value);
                return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
            }
        },        
        {
            headerName: "Vendor Name",
            field: "VendorName"
        },
        {
            headerName: "Received By",
            field: "ReceivedByName"
        },
    ];

    function getReceivedFromPOData() {
        document.getElementById("ReceivedFromPOGrid").innerHTML = "";
        var sd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var ed = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        gridConfig(
            "ReceivedFromPOGrid",
            "/IMS/InventoryManagement/ReadReceivedFromPOData?venId=" + $("#VendorId").data("kendoDropDownList").value() + "&From=" + sd + "&To=" + ed,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function OnSearch() {
        document.getElementById("rfpoGrid").style.display = "block"; 
        getReceivedFromPOData();
    }

    function OnReset() { 
        document.getElementById("rfpoGrid").style.display = "none"; 
    }

</script>

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a data-toggle="tab" href="#vencat" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />RETURN TO VENDOR</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="vencat" class="tab-pane in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Criteria</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>From Date</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="FromDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>To Date</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="ToDate" class="form-control" />
                            </div>
                            <div class="col-1" style="padding-bottom:10px;">
                                <label>Vendor</label>
                            </div>
                            <div class="col-3" style="padding-bottom:10px;">
                                <input type="text" id="VendorId" class="form-control" />
                            </div>                            

                            <div class="col-12 form-group" style="text-align:right;margin-bottom:0px;">
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Search" onclick="OnSearch()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Reset" onclick="OnReset()" />
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Print" onclick="OnPrint()" disabled />
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div id="rfpoGrid" class="p-3" style="display:none;margin-top:-30px;">
                    <fieldset class="fieldset">                        
                        <div id="ReceivedFromPOGrid" style="width:100%;max-height:550px;height:auto" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>                       
            
        </div>
    </div>
</div>

