@{
    ViewData["Title"] = "Vendor List";

}
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

<div class="row pad-10 no-gutters page-content">
    <div class="container" style="padding:0px;max-width:100%">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true" onclick="onVendorList()"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />VENDOR LIST</a></li>
            <li class="nav-item" style="display:none;" id="contactTab"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" @*onclick=" LoadPartailView('@Url.Action("IssueRequisitionIndex", "InventoryManagement")', $('#detailPage'));"*@><i class="fab fa-css3" style="margin-left:3px;"></i><br />VENDOR CONTACTS</a></li>
            <li class="nav-item" style="display:none;" id="categoryTab"><a data-toggle="tab" href="#categoryPage" class="nav-link" aria-controls="categoryPage" aria-selected="false"><i class="fab fa-css3" style="margin-left:3px;"></i><br />VENDOR CATEGORY</a></li>
        </ul>
        <div class="tab-content" style="border: 1px solid silver;border-top:none;">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">
                <div style="width: 100%;" class="p-3">
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Search Vendor</legend>
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row form-horizontal">
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Country</label>
                                </div>
                                <input type="text" id="Country" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>State</label>
                                </div>
                                <input type="text" id="State" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>City</label>
                                </div>
                                <input type="text" id="City" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    <label>Name</label>
                                </div>
                                <input type="text" id="Name" class="form-control" />
                            </div>
                            <div class="col-4 form-group">
                                <div class="col-form-label">
                                    &nbsp;
                                </div>
                                <input type="button" class="btn btn-primary btn-control" style="color:white" value="Get" onclick="OnSearch()" />
                                <button class="btn btn-warning" onclick="AddVendor()"><i class="fas fa-plus"></i> Add Vendor</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fs-legend">Vendor List</legend>
                        <div id="VendorListGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                    </fieldset>
                </div>
            </div>

            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
            <div id="categoryPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         $("#Country").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
             filter: "contains",
             optionLabel: "--All--",
            change: function (e)
            {
                $("#State").data("kendoDropDownList").dataSource.read({ CountryId: $("#Country").data("kendoDropDownList").value() });
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCountryList",
                    }
                }
            }
        });

        $("#State").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            optionLabel: "--All--",

            filter: "contains",
            autoBind:false,
            change: function (e)
            {
                $("#City").data("kendoDropDownList").dataSource.read({ stateId: $("#State").data("kendoDropDownList").value()});
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetStateList",
                    }
                }
            }
        });
         $("#City").kendoDropDownList({
            dataTextField: "Name",
             dataValueField: "Id",
            optionLabel: "--All--",

             filter: "contains",
             autoBind: false,
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetCityList",
                    }
                }
            }
         });
    });

    var columnDefs = [
        {
            field: "VendorName",
        },
        { field: "GstNo" },
        { field: "Address" },
        {
            field: "CityName",

        },
        {
            headerName: "Actions",
            field: "Id",
            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='tree-menuBinVendorUser' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid='" + params.data.NoteId +"' ><i class='fas fa-ellipsis-v'></i></div>"
            }
        }
    ];

    $(function () {

        GetVendorList("","","","");
        $.contextMenu({
            selector: '#tree-menuBinVendorUser',
            trigger: 'left',
            build: function ($trigger, e) {


                var id = $trigger.data('idvalue');
                var noteId = $trigger.data('noteid');
                //var portalName = $trigger.data('portal-name');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        OnEditVendor(noteId);
                                        break;

                                    case 'contactPerson':
                                        onContactPerson(id);
                                        break;
                                    case 'vendorCategory':
                                        onVendorCategory(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Edit Vendor", icon: "fas fa-pencil" },
                                //"del": { name: "Delete", icon: "fas fa-trash" },
                                "contactPerson": { name: "Manage Contact Person", icon: "fas fa-user-shield" },
                                "vendorCategory": { name: "Manage Vendor Category", icon: "fa-thin fa-people-carry-box" },



                            }
                        };


                }
            }
        });


    });


   function GetVendorList(country,state,city,name) {
       document.getElementById("VendorListGrid").innerHTML = "";
       gridConfig(
           "VendorListGrid",
           "/Ims/InventoryManagement/ReadVendorList?countryId=" + country+"&sateId="+state+"&cityId="+city+"&name="+name,
           columnDefs,
           false,
           true,
           true,
           true,
           1,
           true,
           10);
    }

    function AddVendor()
    {
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=IMS_VENDOR&portalId=' + portalId ;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Add Vendor", Width: 1200, Height: 500 });
    }
    function OnEditVendor(noteId)
    {
        var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&cbm=OnAfterServiceCreate&source=Edit&dataAction=Edit&templateCodes=IMS_VENDOR&portalId=' + portalId+'&recordId='+noteId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Edit Vendor", Width: 1200, Height: 500 });
    }
    function OnAfterServiceCreate(note) {
        GetVendorList("", "", "", "", "");
    }
    function onContactPerson(id)
    {
        $("#contactTab").show();
        $("#categoryTab").hide();
        $('#myTabs a[href="#detailPage"]').tab('show');
        LoadPartailView('/Ims/InventoryMaster/VendorContacts?VendorId=' + id, $('#detailPage'));
    }
    function onVendorList()
    {
        $("#contactTab").hide();
        $("#categoryTab").hide();
    }
    function onVendorCategory(id)  {
        $("#contactTab").hide();
        $("#categoryTab").show();

        $('#myTabs a[href="#categoryPage"]').tab('show');
        LoadPartailView('/Ims/InventoryMaster/VendorCategory?VendorId=' + id, $('#categoryPage'));
    }
    function OnSearch()
    {
        var country = $("#Country").data("kendoDropDownList").value();
        var state = $("#State").data("kendoDropDownList").value();
        var city = $("#City").data("kendoDropDownList").value();
        GetVendorList(country, state, city, $("#Name").val());
    }
    function onBackVendor() {
        $("#contactTab").hide();
        $("#categoryTab").hide();
        $('#myTabs a[href="#draft"]').tab('show');
        }
</script>
