@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Vendor Category Mapping";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@model VendorCategoryViewModel



<div style="width: 100%;" class="p-3">
    <fieldset class="fieldset">
        <legend class="fs-legend">Vendor Category Mapping</legend>
        <input type="button" class="btn btn-primary" onclick="OnSave()" value="Save" />


<div class="row col-12">
    <input id="VendorId" class="form-control" readonly />

</div>
<div style="width: 100%;height:550px" class="ag-theme-alpine" id="categorytreeview"></div>
</fieldset>
    </div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#VendorId").kendoDropDownList({
            dataTextField: "VendorName",
            dataValueField: "Id",
			 value: "@Model.VendorId",
            dataSource: {
                transport: {
                    read: {
                        url: "/IMS/InventoryManagement/GetVendorsList",
                    }
                }
            }
        });
        getNotInCategoryData();
    });

    var columnDefs1 = [
        {
            field: "Id",
            headerName: "Select",
            cellRenderer: params => {
                return "<input type='checkbox' class='checkcontact' data-id='" + params.value + "'/>"


            }
        },
        {
            field: "ItemCategoryName",
            headerName: "Category Name"
        },



    ];
     function getNotInCategoryData() {
         document.getElementById("categorytreeview").innerHTML = "";
        /*?Customer = " + $("#Customer").data("kendoDropDownList").value() + " & ProposalSource=" + $("#ProposalSource").data("kendoDropDownList").value() + " & WorkFlowStatus=$('input[WorkFlowStatus]:checked').val()" + " & FromDate=" + $("#FromDate").val() + " & ToDate=" + $("#ToDate").val(),*/
        gridConfig(
            "categorytreeview",
            "/IMS/InventoryMaster/ReadItemCategoryNotInVendorData?VendorId=@Model.VendorId",
            columnDefs1,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
    function OnSave()
    {
        var allVals = [];
        $("input[class='checkcontact']:checked").each(function () {
            allVals.push($(this).attr("data-id"));
        });
        //alert(allVals.join(", "));
        //return;
        if (allVals.length > 0) {
            $.ajax({
                url: "/Ims/InventoryManagement/ManageVendorCategoryMapping?ids=" + allVals.join(", ") + "&vendorId=@Model.VendorId",
                cache: false,
                success: function (html) {
                    ShowNotification("Added Successfully")
                    getNotInCategoryData();
                }
            });
        }
        else
        {
            kendo.alert("Please Select the categories");
        }
    }
</script>

