@*@using Kendo.Mvc.UI*@
@model Synergy.App.ViewModel.LoginViewModel
@{
    Layout = Model.Layout;
}
<div class="row">
    <h1 class="text-danger">Access denied 123</h1>
    <p class="text-danger">You are not authorized to access this page.</p>
</div>

