@{
    ViewData["Title"] = "Assessment | Synergy";
    //Layout = null;
}

<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />

@*<script src="assets/js/readmore.js"></script>*@

<script type="text/javascript">


    function onExploreFeatures() {
        LoadPartailView("/SynergySolutions/SynergySolutions/DMSFeatures", $("#cms-content"));
    }
    function onEdmsModulesandBenefits() {
        LoadPartailView("/SynergySolutions/SynergySolutions/EdmsModuleBenefits", $("#cms-content"));
    }
    function onEdmsArchitecture() {
        LoadPartailView("/SynergySolutions/SynergySolutions/EdmsArchitecture", $("#cms-content"));
    }



    function AssessmentViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Assessment Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Assessment DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>


<div>

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Assessment-bg1 img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                @*<h1 class="display-1 banner-header-text">Assessment<br></h1>*@
                                <h1 class="inn-banner-header-text">Assessment<br></h1>
                                <p class="banner-text-sml">Introducing the Assessment Portal for Scientific Selection and Development tool to analyze candidates potential</pclass="banner-text-sml">
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor: pointer;float: left; display: inline-block; text-align: center; margin-right: 20px;" title="Assessment Brochure">
                                        <a id="assessmentbrochure" style="border-radius: 5px; margin-right: 10px;" onclick="AssessmentViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="assessmentbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align: center;" title="Assessment DataSheet">
                                        <a id="assessmentdatasheet" style="border-radius:5px" onclick="AssessmentViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="assessmentdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="platform-components">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h6 class="text-muted main-title-bg">&nbsp;Assessment Portal for Scientific Selection and Development</h6>-->
                    @*<h1 class="ass-sec-title"><span style="font-weight: normal !important;">Assessment Portal for Scientific Selection and Development</span><br></h1>*@
                <!--</div>
            </div>-->
            <div class="use-case-poc">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h6 class="text-muted main-title-bg">&nbsp;Assessment Portal for Scientific Selection and Development</h6>
                                @*<h1 class="ass-sec-title"><span style="font-weight: normal !important;">Assessment Portal for Scientific Selection and Development</span><br></h1>*@
                            </div>
                            <div class="ucpoc-bg">
                                <div class="row row-spacing">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="card usecase-bg">
                                            <div class="card-body text-justify">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-xl-12 usecase-text-block">
                                                        <h6 class="text-muted sub-title">Synergy has developed an online assessment tool to analyze candidates' potential for specified positions using the criteria listed below:</h6>
                                                        <p>Synergy has developed an online assessment tool to analyze candidates' potential for specified positions using the criteria listed below: <br></p>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                                <ul class="synergyList">
                                                                    <li class="p-2">Personal Profile Assessment (PPA)</li>
                                                                    <li class="p-2">Analyses of Psychometrics and IQ</li>
                                                                    <li class="p-2">Behavioral competencies</li>
                                                                    <li class="p-2">Technical Skills</li>
                                                                </ul>
                                                                <p>We believe in suitable evaluations of candidates for each position. Assessments are based on scientific research and are accurate in predicting individuals' performance in future work responsibilities.<br><br>These assessments may be used to offer data for both external and internal candidate recruiting decisions. The results of evaluations can also be used to determine a candidate's suitability for future positions established due tore structuring or transformation programs.<br><br>Assessments help in identifying potential gaps in applicants' performance for each competency level. As a result, learning routes for applicants may be developed depending on evaluation results.<br></p>
                                                            </div>
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center vertical-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Assessment-evaluation.jpg"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-spacing">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="card usecase-bg">
                                            <div class="card-body text-justify">
                                                <div class="row">
                                                    <div class="col usecase-text-block">
                                                        <h6 class="text-muted sub-title">Standard and customized assessments<br></h6>
                                                        @*<div class="row">
                                                            <div class="col-md-6 col-lg-6 col-xl-6">*@
                                                                <p>We have developed a library of evaluations for a wide range of employment in all support roles across sectors.<br><br>We may also create bespoke evaluations depending on your specifications. We have a large network of subject matter experts from many functions and sectors who may assist us in developing effective assessment tests for employment in your firm.<br><br>To develop credible evaluations, detailed job descriptions are essential. If you want assistance with job analysis or drafting job descriptions, we are more than pleased to assist you. We can design professional job descriptions and utilize them to produce appropriate applicant assessments.<br></p>
                                                            @*</div>
                                                            <div class="col-md-6 col-lg-6 col-xl-6 text-center"><img class="img-assessment" src="../../Themes/SynergySolutions/images/img-Assessment-1.jpg"></div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-spacing">
                                    <div class="col-md-6 col-lg-12 col-xl-12">
                                        <div class="card usecase-bg">
                                            <div class="card-body text-justify">
                                                <div class="row">
                                                    <div class="col usecase-text-block">
                                                        <h6 class="text-muted sub-title">Assessment Test for Candidates<br></h6>
                                                        <p>If you are here to take one of the examinations, please click here to be redirected to the assessment website.<br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .blit > li:before {
        content: "• " !important;
    }
</style>
