@{
    ViewData["Title"] = "Citizen Mobile Application, e-Governance Services | Synergy";
    //Layout = null;
}


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }

    function CitizenMobileViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Citizen Mobile App Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Citizen Mobile App DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>


<div>

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Mobile-App-Platform-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Citizen mobile app<br></h1>
                                <p class="banner-text-sml">Citizen Mobile Services<br>The dream comes true of a Digital India with every citizen's services at your hand!<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">&nbsp;Citizen Services in Mobile application<br></h2>
                                                <p class="p-2">Citizen services pertaining to every day needs are now available in the mobile app. It is easy to apply, review and check status and pay your bills anywhere as you go.<br></p>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <ul class="synergyList">
                                                            <li class="p-2">The Public Grievance Service</li>
                                                            <li class="p-2">New Sewerage Connection</li>
                                                            <li class="p-2">Existing Connection Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Bin booking Service</li>
                                                            <li class="p-2">Poultry Waste Clearance</li>
                                                            <li class="p-2">Construction &amp; Debris Clearance</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Septic Tank Clearance<br></li>
                                                            <li class="p-2">Community Hall Booking<br></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                        <p class="p-2">The Citizen mobile app brings all the above-mentioned services right to your doorstep.<br><br>We work to earn every citizen's trust in government, ensure transparency in the process, and maintain the commitment made to future generations. We are here to make your life easier by avoiding long lines and providing safe and secure payment options.<br><br>Employees can use infographics to analyze citizen services and improve them regularly. You can also find demographic information, and dashboards for customers and employees, and as a bonus citizen mobile app will include features such as emergency services, SOS features, and live tracking.&nbsp;<br>All the information is in one app at a glance.<br></p>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 vertical-center max-500"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Citizen-Mobile-App.jpg"></div>
                                                </div>
                                                @*<p class="p-2">The Citizen mobile app brings all the above-mentioned services right to your doorstep.<br><br>We work to earn every citizen's trust in government, ensure transparency in the process, and maintain the commitment made to future generations. We are here to make your life easier by avoiding long lines and providing safe and secure payment options.<br><br>Employees can use infographics to analyze citizen services and improve them regularly. You can also find demographic information, and dashboards for customers and employees, and as a bonus citizen mobile app will include features such as emergency services, SOS features, and live tracking.&nbsp;<br>All the information is in one app at a glance.<br></p>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Infographics <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">This feature enables employee to view the completed, pending and cancelled services on their dashboard in a graphical representation view like Pie Charts.<br></li>
                                                    <li class="p-2">These charts are interactive i.e. user can click on these charts and it will show different information based on the available data.<br></li>
                                                    <li class="p-2">The charts help employee quickly know the amount of work done in a particular period of time.<br></li>
                                                    <li class="p-2">Charts are also useful for higher officials to generate employee performance reports and take subsequent decisions based on those reports.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Employee Dashboard on Mobile <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">There is a separate mobile dashboard in the app for citizens and employees to track and view the various requests. Employees can check the status in the dashboard and complete all of the step task functionalities to complete the task assigned to them<br></li>
                                                    <li class="p-2">Employee dashboards on mobile devices enable field officers to view and update tasks while on the job.<br></li>
                                                    <li class="p-2">Employees can directly upload images from the application as proof of citizen request serviced after delivering the services<br></li>
                                                    <li class="p-2">Employee dashboards include filter options for narrowing down the results based on various conditions, allowing employees to access the request quickly.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Online Payment Services <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <p>&nbsp; Citizens can pay for various services through our portal and app using payment options such as</p>
                                                <ul class="synergyList">
                                                    <li class="p-2">Net banking<br></li>
                                                <li class="p-2">Debit Card.<br></li>
                                                <li class="p-2">Credit Card. <br></li>
                                                <li class="p-2">UPI Transactions.<br></li>
                                                <li class="p-2">Citizens will receive an OTP for each payment transaction to confirm the authenticity of the user, as well as payment confirmation notifications via SMS and email.<br></li>
                                                <li class="p-2">If a payment fails due to a technical or internet issue, the amount will be credited to the citizen within the time frame specified.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;e-Gov and Public Services Portal <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <p class="p-2">Our Citizen Services portal allows them to register and submit service requests online to the appropriate department, allowing them to get their issues or services resolved quickly and track the progress of their requests in our citizen dashboard.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of Citizen Mobile App <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">Self-registration is a simple one-step process.<br></li>
                                                    <li class="p-2">Citizens can use the public grievance tool to register concerns about various issues in their communities.<br></li>
                                                    <li class="p-2">Citizens can obtain online sanitation, water, and energy services by completing a simple application form and making payments online, and the service will be supplied promptly.<br></li>
                                                    <li class="p-2">Citizens can track the status of issues they have raised.<br></li>
                                                    <li class="p-2">A well-defined personnel hierarchy is required to respond to and answer citizen requests on time.<br></li>
                                                    <li class="p-2">Accurate accountability of staff tasks to boost deliverables and give citizens with timely resolutions.<br></li>
                                                    <li class="p-2">If requests are not fulfilled within the time frame specified, they are automatically escalated to a higher authority<br></li>
                                                    @*<li class="p-2">A GPS-enabled smartphone application can assist citizens in providing an accurate location of the requested region.<br></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="hero-banner">
        <div class="row">
            <div class="col HB-Mobile-App-Platform-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Citizen Mobile App<br></h1>
                                <p class="banner-text-sml">Citizen Mobile Services<br>The dream comes true of the Digital India of every Citizen services at your fist!<br></p>-->
    @*<div class="row" style="margin-left:15px;">
            <div class="btn-group row" style="float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Citizen Mobile App Brochure">
                <a id="cmabrochure" style="border-radius: 5px; margin-right: 10px;" onclick="CitizenMobileViewDocument('brochure')"><img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png"></a>
                <label for="cmabrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
            </div>
            <div class="btn-group row" style="float: left; display: inline-block; text-align:center;" title="Citizen Mobile App DataSheet">
                <a id="cmadatasheet" style="border-radius:5px" onclick="CitizenMobileViewDocument('dataSheet')"><img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png"></a>
                <label for="cmadatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
            </div>
        </div>*@

    <!--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row ">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">Citizen Services in Mobile application<br></h2>
                                                <p class="text-justify">Citizen services pertaining to every day needs are now available in the mobile app. It is easy to apply, review and check status and pay your bills anywhere as you go.<br></p>
                                                <div class="row">
                                                    <div class="col-md-4 col-lg-4 col-xl-4">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Public Grievance Service</li>
                                                            <li class="p-2">New Sewerage Connection</li>
                                                            <li class="p-2">Existing Connection Services</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-xl-4">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Bin booking Service</li>
                                                            <li class="p-2">Poultry Waste Clearance</li>
                                                            <li class="p-2">Construction &amp; Debris Clearance</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-lg-4 col-xl-4">
                                                        <ul class="synergyList">
                                                            <li class="p-2">Septic Tank Clearance<br></li>
                                                            <li class="p-2">Community Hall Booking<br></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="text-justify">All the above mentioned citizen services are easily to your doorstep while you are mobile without any hassle as you go. We work over to gain the trust of every citizen over government and ensure transparency towards the process and sustain/ safe guard the commitment for the future generation. We are here to make your life easier sidestepping a long queue with the safe and secure payment options.&nbsp;<br><br>Employees can derive on infographic for analysis on the citizen services for enhancement on regular basis. You can also find demographic details, dashboard for customer and employees, as an added advantage, citizen mobile app will have features like emergency services, SOS features, live track of necessary details as per the GPS locations. All details in one app on a snap.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Infographics <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">This feature enables employee to view the completed, pending and cancelled services on their dashboard in a graphical representation view like Pie Charts.<br></li>
                                                    <li class="p-2">These charts are interactive i.e. user can click on these charts and it will show different information based on the available data.<br></li>
                                                    <li class="p-2">The charts help employee quickly know the amount of work done in a particular period of time.<br></li>
                                                    <li class="p-2">Charts are also useful for higher officials to generate employee performance reports and take subsequent decisions based on those reports.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Employee Dashboard on Mobile <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">In Mobile app there were separate mobile dashboard for citizens and employees to track and view the different requests. Employees can check the status in the dashboard and perform all the step task functionalities to complete the task assigned to any particular employee.<br></li>
                                                    <li class="p-2">Employee dashboard on mobiles assists on field officers to view and update the tasks while working in the field.<br></li>
                                                    <li class="p-2">Employee can directly upload the images from the application after deliver the services as a proof of citizen request serviced. <br></li>
                                                    <li class="p-2">Employee dashboard is provided with filter options to narrow down the results based on different conditions which helps employees to access the request quickly.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Online Payment Services <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <p class="p-2"> Citizen can make payment for different services on our portal and app with different payment options available like:</p>
                                                <ul class="synergyList">
                                                    <li class="p-2">Net banking.<br></li>
                                                    <li class="p-2">Debit Card.<br></li>
                                                    <li class="p-2">Credit Card. <br></li>
                                                    <li class="p-2">UPI Transactions.<br></li>
                                                    <li class="p-2">Citizen will receive an OTP for every payment transaction to confirm the authenticity of user and also receive the notification via SMS and email for confirmation of payment.<br></li>
                                                    <li class="p-2">In case of payment failure due to any technical and internet issue, the amount will be credited to citizen within stipulated time period.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">E-Gov and Public Services Portal <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <p class="p-2">Our Citizen Services portal helps them to register and create request for services online to the designated department and get their issues or services resolved on fast track bases and track the progress of their request in our citizen dashboard.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">Benefits of Citizen Mobile App <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2">Simple one step self-registration process.<br></li>
                                                    <li class="p-2">Citizen can use public grievance feature to file complaints regarding different issues in their areas.<br></li>
                                                    <li class="p-2">Citizens can avail the online sanitation, water electricity services by filling up simple application form and make payment online and get the service delivered within short period of time. <br></li>
                                                    <li class="p-2">Citizens can track the status of raised issues.<br></li>
                                                    <li class="p-2">Well defined employee hierarchy to respond and serve the citizen requests in time.<br></li>
                                                    <li class="p-2">Accurate accountability of employee’s task to increase the deliverables and provide on time resolutions to citizens.<br></li>
                                                    <li class="p-2">Automatic escalation of issues to higher officials if requests not serviced in stipulated time period.<br></li>
                                                    <li class="p-2">GPS enabled mobile application to help citizen provide accurate location of requested area.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>




