@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@
@using CMS.UI.Web.Areas.SynergySolutions.Controllers;
@*@model MenuGroupViewModel*@

@model RequestConsultationViewModel
@{
    ViewData["Title"] = "Contact Us | Synergy";
    Layout = null;
}


<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Contact-us-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Contact Us</h1>
                                <p class="banner-text-sml">Help us get better results with your bright ideas. Contact us for input.&nbsp;<br><br><br>Synergy is an employee-friendly organization. We believe that employees are our greatest asset. We encourage our employees to provide their input and ideas to create a better environment.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        @*<div class="row row-spacing">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body text-justify"></div>
                </div>
            </div>
        </div>*@
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                <h2 class="text-muted main-title-bg">Corporate Office<br></h2>
                                                <p class="p-2"><strong>XtraNet Technologies Private Limited</strong><br>Z-24, Zone-1, Maharana Pratap Nagar Bhopal, M.P. , INDIA - 462011<br><strong>Phone :</strong>&nbsp;&nbsp;+91 (0755) 422-9295 | 422-3295<br><strong>Email&nbsp; &nbsp;:&nbsp;</strong>sales@xtranetindia.com<br></p>
                                                <p class="p-2"><strong>Extranet Technology Solutions LLC</strong><br>2303, Boulevard Plaza 2, Downtown Dubai, UAE, PO Box 121738<br><strong>Email&nbsp; &nbsp;:&nbsp;</strong>info@extranet.ae<br></p>
                                                <p class="p-2"><strong>XtraNet Technologies LLC</strong><br>8 The Green, Suite #6889, Dover, DE 19901 USA&nbsp;<br><strong>Phone :</strong> 302-401-6607<br><strong>Email&nbsp; &nbsp;:&nbsp;</strong>info@extranet.ae<br></p>
                                                <p class="p-2"><strong>XtraNet Technologies INC</strong><br>ATAC Law Corporation 308-8988<br>Fraserton Court Burnaby BC V5J 5H8. CANADA<br><strong>Email:&nbsp;</strong>info@extranet.ae<br></p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                <h2 class="text-muted main-title-bg">Branch Offices - India<br></h2>
                                                <p class="p-2"><strong>BHOPAL</strong><br>Plot No. 22, Zone-1, Maharana Pratap Nagar<br>Bhopal, M.P - 462011.<br></p>
                                                <p class="p-2"><strong>MUMBAI</strong><br>1111, The Landmark, Sector-7, Kharghar, <br>Navi Mumbai, Mumbai - 410210.<br></p>
                                                <p class="p-2"><strong>AHMEDABAD</strong><br>C-303 &amp; C-304, The First, Behind ITC Hotel, Near Keshav <br>Bag Party Plot, Vastrapur, Ahmadabad, Gujarat - 380015.<br></p>
                                                <p class="p-2"><strong>JAIPUR</strong><br>3 F-37, Plot No.- 5, Mahima Trinity Mall, Swej Farm, <br>New Sanganer Road, Sodala Jaipur - 302019.<br></p>
                                                <p class="p-2"><strong>NEW DELHI</strong><br>55, 2nd Floor, Lane-2, Westend Marg, Saidullajab, <br>Near Saket Metro Station, New Delhi&nbsp; -110030.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill"></div>
                            </div>
                        </div>
                        <!--<div class="row row-spacing">
        <div class="col">
            <section class="contact-clean">
                <form method="post">
                    <div class="text-danger"></div>
                    <h2 class="text-center main-title-bg">Contact us</h2>
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="form-group"><input required class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
                    <div class="form-group"><textarea required class="form-control" name="message" placeholder="Message" rows="5"></textarea></div>-->
                        @*<div class="form-group"><button class="btn btn-primary text-center" type="submit" style="background: #003366;">send </button></div>*@
                        <!--<div class="col text-center"><button class="btn btn-secondary btn-register" style="color:white" type="submit">Send</button></div>
                </form>
            </section>
        </div>
    </div>-->
                        <div class="row ">
                            <div class="col">
                                <!-- Start: Contact Form Clean -->
                                <section class="contact-clean">
                                    <form id="form-right-blue" asp-controller="SynergySolutions" asp-action="SendContactUsEmail"
                                          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                          data-ajax="true" data-ajax-method="POST">

                                        <div class="text-danger"></div>
                                        <h2 class="text-center main-title-bg">Contact us</h2><!-- Start: Success Example -->
                                        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div><!-- End: Success Example -->
                                        <!-- Start: Error Example -->
                                        <div class="form-group">
                                            <input required class="form-control" type="email" name="email" placeholder="Email"><!-- Start: The Error Message <small class="form-text text-danger">Please enter a correct email address.</small> End: The Error Message -->
                                        </div><!-- End: Error Example -->
                                        <div class="form-group"><textarea required class="form-control" name="message" id="Message" placeholder="Message" rows="5"></textarea></div>
                                        @*<div class="form-group"><button class="btn btn-primary text-center" type="submit" style="background: #003366;">send </button></div>*@
                                        <div class="col text-center"><button class="btn btn-secondary btn-register" style="color:white" type="submit">Send</button></div>
                                    </form>
                                </section><!-- End: Contact Form Clean -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    <script>
        let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }

    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>



    <script>
        $(".text-danger").hide();
        var onAjaxSuccess = function (res) {
            debugger;
            if (res.success) {
                // showNotification("Email Sent Successfully");
                var html = '<span class="sppb-text-success">Your request has been sent successfully. Our team will contact you as soon as possible.!</span>';
                //$(".sppb-ajax-contact-status").html(html);
                //$(".sppb-ajax-contact-status").show();
                $(".text-danger").html(html);
                $(".text-danger").show();

                $('.contact-form input').each(function () {
                    $(this).val("");
                    x = 1;
                });
                $("#Message").val("");

            }
            else {
                showError1(res.error);
            }
            HideLoader($('.page-content'));
        };
        var showError1 = function (error) {
            HideLoader($('.page-content'));
            var html = '<span class="sppb-text-danger">' + error + '</span>';
            //$(".sppb-ajax-contact-status").html(html);
            //$(".sppb-ajax-contact-status").show();
            $(".text-danger").html(html);
            $(".text-danger").show();
            //alert(error);

        }
    </script>
