@{
    ViewData["Title"] = "Content Management";
    //Layout = null;
}

<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" asp-append-version="true" />

<script type="text/javascript">


    function SynergyPlatformViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    @*<div class="hero-banner">
            <div class="row">
                <div class="col hb-content-management-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Content Management &amp; Portal&nbsp;</h1>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                            <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                            <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <p class="text-justify">A content management solution is a broad term that refers to a collection of procedures and methods for capturing, managing, and delivering material. It employs a variety of ways to assist critical information management rather than a single technology or procedure. This data may then be shared with employees, stakeholders, and customers.<br></p>
                                                    <p>Our solutions allow you to collect content from different sources, manage it in a secure centralized repository, and make it accessible. It also offers version control and an authoring workflow to ensure consistency across the company. With our content management and portal, you can develop and manage websites and website content with minimal technological overhead, allowing you to focus on creating better content. Our low code platform allows to link with third-party applications.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted card-subtitle sub-title">Features of Content Management &amp; Portal<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Content creation&nbsp;allows users to easily create and format content<br></li>
                                                        <li class="p-2">Content storage keeps all of your files in one location and in a standardized manner.<br></li>
                                                        <li class="p-2">Workflows assign permissions for managing material depending on roles such as writers, editors, and administrators.<br></li>
                                                        <li class="p-2">Content is published, organized, and distributed in real-time.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted card-subtitle sub-title">Modules of Content Management &amp; Portal<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Searching, indexing and retrieval&nbsp;-</strong>&nbsp;This functions save all data for quick access using search tools, allowing users to search by publication date, keyword, or author.</li>
                                                        <li class="p-2"><strong>Format management</strong>-<strong>&nbsp;-&nbsp;</strong>Format management allows scanned paper documents and legacy electronic documents to be converted to HTML or PDF.</li>
                                                        <li class="p-2"><strong>Revision control&nbsp;-&nbsp;</strong>These enable users to update and edit previously published content. Individual file changes can also be tracked using revision control.</li>
                                                        <li class="p-2"><strong>Publishing&nbsp;-&nbsp;</strong>With this module, users can create and change content using a template or a group of templates that have been approved by the firm.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted card-subtitle sub-title">Benefits of Content Management &amp; Portal<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Improves collaboration and sharing&nbsp;-</strong>&nbsp;It help you&nbsp;with data automation, workflow, and process management and improve communication by allowing for collaborative content sharing.<br></li>
                                                        <li class="p-2"><strong>Real-time information&nbsp;- </strong>It allows users to control, manages, and structures their content in real time.</li>
                                                        <li class="p-2"><strong>Easy integration&nbsp;-&nbsp;</strong>It allows you to easily integrate information into your website and other platforms.<br></li>
                                                        <li class="p-2"><strong>Easy access&nbsp;-&nbsp;</strong>It allows users to access website content virtually from any device that has internet availability.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="hero-banner">
        <div class="row">
            <div class="col hb-content-management-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Content Management &amp; Portal&nbsp;</h1>
                                <p class="banner-text-sml">Create, format, edit, manage, and publish content on the internet with the help of Synergy Content Management &amp; Portal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <p class="text-justify">Content management and portal solution powered by Synergy help to publish content (images, videos, documents) from various data sources through the front end as well as with the embedded powerful API framework.&nbsp;<br><br>Content management and portal open-standard modular design enable communication within and beyond business boundaries without sacrificing responsiveness or security.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted sub-title">&nbsp; Features of Content Management &amp; Portal<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-10">
                                                <ul class="ext-height synergyList">
                                                    <li>Content creation&nbsp;allows users to easily create and format content<br></li>
                                                    <li>Content storage keeps all of your files in one location and in a standardized manner.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-10">
                                                <ul class="ext-height synergyList">
                                                    <li>Workflows assign permissions for managing material depending on roles such as writers, editors, and administrators.<br></li>
                                                    <li>Content is published, organized, and distributed in real-time.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted sub-title">&nbsp; Modules of Content Management &amp; Portal<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"><img class="inner-pg-img p-2 img-fluid" src="~/synergySolutions/img/img-CMS-and-portal.png"></div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <ul class="synergyList">
                                                    <li><strong>Searching, indexing and retrieval&nbsp;-</strong>&nbsp;These functions save all data for quick access using search tools, allowing users to search by publication date, keyword, or author.</li>
                                                    <li><strong>Format management</strong>-<strong>&nbsp;-&nbsp;</strong>Format management allows scanned paper documents and legacy electronic documents to be converted to HTML or PDF.</li>
                                                    <li><strong>Revision control&nbsp;-&nbsp;</strong>These enable users to update and edit previously published content. Individual file changes can also be tracked using revision control.</li>
                                                    <li><strong>Publishing&nbsp;-&nbsp;</strong>With this module, users can create and change content using a template or a group of templates that have been approved by the firm.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted sub-title">&nbsp; Benefits of Content Management &amp; Portal<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <ul class="ext-height synergyList">
                                                    <li>Multiple portals can be easily managed from single server for multiple departments/companies<br></li>
                                                    <li>Easy to use as anyone can access content from any device<br></li>
                                                    <li>Streamlines content publishing through scheduled processes<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <ul class="ext-height synergyList">
                                                    <li>Design changes are simple and easy to implement<br></li>
                                                    <li>Helps to manage content with advanced UX<br></li>
                                                    <li>Highly customizable with low code technology<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Card-Carousel.js"></script>
