@{
    ViewData["Title"] = "Document Management Solution, low code automation | Synergy";
    //Layout = null;
}

<script type="text/javascript">
    

    function onExploreFeatures() {
        LoadPartailView("/SynergySolutions/SynergySolutions/DMSFeatures", $("#cms-content"));
    }
    function onEdmsModulesandBenefits() {
        LoadPartailView("/SynergySolutions/SynergySolutions/EdmsModuleBenefits", $("#cms-content"));
    }
    function onEdmsArchitecture() {
        LoadPartailView("/SynergySolutions/SynergySolutions/EdmsArchitecture", $("#cms-content"));
    }

    

    function DocumentManagementViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Document Management Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Document Management DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>



<div>
    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-eDMS-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">eDMS<br></h1>
                                    <p class="banner-text-sml">electronic Document Management Solution (eDMS) - Powered By Synergy<br></p>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="cursor: pointer;float: left; display: inline-block; text-align: center; margin-right: 20px;" title="Document Management Brochure">
                                            <a id="edmsbrochure" style="border-radius: 5px; margin-right: 10px;" onclick="DocumentManagementViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="edmsbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align: center;" title="Document Management DataSheet">
                                            <a id="edmsdatasheet" style="border-radius:5px" onclick="DocumentManagementViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="edmsdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h2 class="main-title-bg">Overview</h2>
                                                    <p>Synergy eDMS provides a robust, end‐to‐end architecture for delivering Rich Internet Applications (RIAs), content and communications across multiple platforms and devices. It is designed for easy deployment &amp; maintenance within standards based enterprise architecture.<br><br>eDMS is designed for easy deployment and maintenance within standards based enterprise architecture for an organization's ability to control and manage processes, data and available resources depends on its success. Our solution is developed using open source framework and technologies which is huge cost saving against proprietary licensing.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h2 class=" card-subtitle main-title-bg">Why you choose eDMS solutions<br></h2>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <p>Synergy’s eDMS handles documents by electronically storing, organizing, indexing and filing. They can be retrieved as and when required at the click of a button.<br></p>
                                                    <ul class="synergyList">
                                                        <li class="p-2">User can access unstructured data in the form of documents present in your organization and store them in a structured form.<br></li>
                                                        <li class="p-2">User can access any documents to his desktop and enables him to work with them, eliminating the need for paper‐based documents.<br></li>
                                                        <li class="p-2">It is a powerful document archival system, which ensures safety of documents and faster access to them<br></li>
                                                        <li class="p-2">It also helps in huge cost savings.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h2 class=" card-subtitle main-title-bg">How eDMS works <br></h2>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <p class="p-2">eDMS provide effective knowledge and information sharing that is vital to any organization. It’s Content management solution help businesses manage and distribute information faster and more efficiently. The process eDMS follows are -<br></p>
                                                    <ul class="synergyList">
                                                        <li class="p-2">Collaborate, Annotate and Revise Documents across the Enterprise<br></li>
                                                        <li class="p-2">Enterprise wide Workflow of Documents and Drawings<br></li>
                                                        <li class="p-2">Revision Control of Documents<br></li>
                                                        <li class="p-2">Manage Document Approval Stages<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class=" card-subtitle main-title-bg">Key defining Features <br></h6>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Document View: - Documents can be viewed in a variety of ways (Tiles view, Grid view, List view, Preview and Calendar view).<br></li>
                                                        <li class="p-2">Version Control: - Documents are automatically versioned for better security and to prevent data loss.<br></li>
                                                        <li class="p-2">Secure sharing and security: -Access documents from anywhere using a basic web browser while maintaining complete control over the hosting. Its onsite of your server.<br></li>
                                                        <li class="p-2">Smart Search: - Allows users to find information easily not just inside the document management solution but also from external data sources, even if they misspell terms.<br></li>
                                                        <li class="p-2">Workflow: - In order to manage current workflow systems, users can create new processes, assign users to them and create a set of rules for them to follow. Each user will have access to notifications through the dashboard.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class=" card-subtitle main-title-bg">eDMS Modules<br></h6>
                                            <h6 class="text-muted card-subtitle sub-title no-bg">The eDMS have two different modules of operation:<br></h6>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-xl-4">
                                                    <h1 class="sub-title">Administration Module</h1>
                                                    <ul class="synergyList">
                                                        <li class="p-2">User Management<br></li>
                                                        <li class="p-2">Folder Management<br></li>
                                                        <li class="p-2">Access Management<br></li>
                                                        <li class="p-2">Department / Work Area Management<br></li>
                                                        <li class="p-2">Document Scanning and OCR<br></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4">
                                                    <h1 class="sub-title">Client Module<br></h1>
                                                    <ul class="synergyList">
                                                        <li class="p-2">Document Archival<br></li>
                                                        <li class="p-2">Document Management<br></li>
                                                        <li class="p-2">Document Versioning<br></li>
                                                        <li class="p-2">Retention Policy<br></li>
                                                        <li class="p-2">Document Indexing &amp; Processing<br></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xl-4">
                                                    <h1 class="sub-title" style="color: #fff; background: #fff">.</h1>
                                                    <ul class="synergyList">
                                                        <li class="p-2">Workflow<br></li>
                                                        <li class="p-2">Annotations<br></li>
                                                        <li class="p-2">Enterprise Search<br></li>
                                                        <li class="p-2">Check‐in / Check‐out<br></li>
                                                        <li class="p-2">Dash Board<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h6 class="main-title-bg">Benefits of eDMS<br></h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Improves collaboration and allows users to share information with associates outside your company.<br></li>
                                                        <li class="p-2">Reduce duplicate document storage throughout the enterprise to save space and money.<br></li>
                                                        <li class="p-2">Users can be cloud-ready while still maintaining control over the data from your own servers.<br></li>
                                                        <li class="p-2">It is both robust and flexible, making it suitable for any size or type of business.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-eDMS-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">eDMS<br></h1>
                                <p class="banner-text-sml">electronic Document Management Solution (eDMS)- Powered By Synergy gives you end‐to‐end architecture for delivering content and communications across multiple platforms and devices.<br></p>
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor: pointer;float: left; display: inline-block; text-align: center; margin-right: 20px;" title="Document Management Brochure">
                                        <a id="edmsbrochure" style="border-radius: 5px; margin-right: 10px;" onclick="DocumentManagementViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="edmsbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align: center;" title="Document Management DataSheet">
                                        <a id="edmsdatasheet" style="border-radius:5px" onclick="DocumentManagementViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="edmsdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">Overview</h2>
                                                <p>Synergy eDMS provides a robust, end‐to‐end architecture for delivering Rich Internet Applications (RIAs), content, and communications across multiple platforms and devices. It is designed for easy deployment and maintenance within a standards-based enterprise architecture.<br><br>eDMS is designed for easy deployment and maintenance within a standards-based enterprise architecture for an organization's ability to control and manage processes, data, and available resources depends on its success. Our solution is developed using an open-source framework and technologies, which is a huge cost-saving against proprietary licensing.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle main-title-bg">Why you choose eDMS solutions<br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <p>Synergy’s eDMS handles documents by electronically storing, organizing, indexing and filing. They can be retrieved as and when required at the click of a button.<br></p>
                                                <ul class="synergyList">
                                                    <li class="p-2">User can access unstructured data in the form of documents present in your organization and store them in a structured form.<br></li>
                                                    <li class="p-2">User can access any documents to his desktop and enables him to work with them, eliminating the need for paper‐based documents.<br></li>
                                                    <li class="p-2">It is a powerful document archival system, which ensures safety of documents and faster access to them&nbsp;<br></li>
                                                    <li class="p-2">It also helps in huge cost savings.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle main-title-bg">&nbsp;&nbsp;How eDMS works <br></h2>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <p class="p-2">eDMS provide effective knowledge and information sharing that is vital to any organization. It’s Content management solution help businesses manage and distribute information faster and more efficiently. The process eDMS follows are -<br></p>
                                                <ul class="synergyList">
                                                    <li class="p-2">Collaborate, Annotate and Revise Documents across the Enterprise<br></li>
                                                    <li class="p-2">Enterprise wide Workflow of Documents and Drawings<br></li>
                                                    <li class="p-2">Revision Control of Documents<br></li>
                                                    <li class="p-2">Manage Document Approval Stages<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center vertical-center max-500"><img class="img-fluid" src="../../Themes/SynergySolutions/images/eDMS-1-1.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h6 class="text-muted card-subtitle main-title-bg">&nbsp;&nbsp;Key defining Features <br></h6>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Document View:  </strong><br>Documents can be viewed in a variety of ways (Tiles view, Grid view, List view, Preview and Calendar view).<br></li>
                                                    <li class="p-2"><strong>Version Control:  </strong><br>Documents are automatically versioned for better security and to prevent data loss.<br></li>
                                                    <li class="p-2"><strong>Secure sharing and security: </strong><br>Access documents from anywhere using a basic web browser while maintaining complete control over the hosting. Its onsite of your server.<br></li>
                                                    <li class="p-2"><strong>Smart Search:  </strong><br>This allows users to find information easily not just inside the document management solution but also from external data sources, even if they misspell terms.<br></li>
                                                    <li class="p-2"><strong>Workflow:  </strong><br>To manage current workflow systems, users can create new processes, assign users to them and create a set of rules for them to follow. Each user will have access to notifications through the dashboard.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xl-12 text-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/eDMS.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h6 class="text-muted card-subtitle main-title-bg">&nbsp; eDMS Modules<br></h6>
                                        <h6 class="text-muted card-subtitle sub-title no-bg">&nbsp;&nbsp;The eDMS have two different modules of operation:<br></h6>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <h1 class="sub-title">&nbsp;Administration Module</h1>
                                                <ul class="synergyList">
                                                    <li class="p-2">User Management<br></li>
                                                    <li class="p-2">Folder Management<br></li>
                                                    <li class="p-2">Access Management<br></li>
                                                    <li class="p-2">Department / Work Area Management<br></li>
                                                    <li class="p-2">Document Scanning and OCR<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <h1 class="sub-title">Client Module<br></h1>
                                                <ul class="synergyList">
                                                    <li class="p-2">Document Archival<br></li>
                                                    <li class="p-2">Document Management<br></li>
                                                    <li class="p-2">Document Versioning<br></li>
                                                    <li class="p-2">Retention Policy<br></li>
                                                    <li class="p-2">Document Indexing &amp; Processing<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <h1 class="sub-title"> &nbsp;</h1>
                                                <ul class="synergyList">
                                                    <li class="p-2">Workflow<br></li>
                                                    <li class="p-2">Annotations<br></li>
                                                    <li class="p-2">Enterprise Search<br></li>
                                                    <li class="p-2">Check‐in / Check‐out<br></li>
                                                    <li class="p-2">Dash Board<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 usecase-text-block">
                                                <h6 class="text-muted main-title-bg">&nbsp;Benefits of eDMS<br></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 usecase-text-block">
                                                <ul class="synergyList">
                                                    <li class="p-2">It improves collaboration and allows users to share information with associates outside their company.<br></li>
                                                    <li class="p-2">Reduce duplicate document storage throughout the enterprise to save space and money.<br></li>
                                                    <li class="p-2">Users can be cloud-ready while still maintaining control over the data from your own servers.<br></li>
                                                    <li class="p-2">It is both robust and flexible, making it suitable for any size or type of business.&nbsp;<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

