@{
    ViewData["Title"] = "Face Recognition";
    //Layout = null;
}


<div>
    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-Face-Recognition-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Face Recognition<br></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Face Recognition Scenario<br></h2>
                                    <p>a. Intruder detection using face recognition technology.<br>Face Recognition technology can apply on Home CCTV for video analysis in case of intruder detection.<br><br>In intruder detection all home members photos are saved in system and using face detection and recognition system we can find out if any intruder is trying to enter home and system will give alarm on that.<br><br>b. Face recognition CCTV systems can significantly accelerate operators’ efforts by enabling them to add a reference photo provided by the missing child’s parents and match it with past appearances of that face captured on video. Police can use face recognition to search video sequences (aka video analytics) of the estimated location and time the child has been declared missing.<br><br>Police officers can better figure out the child’s movements before going missing and locate where he/she was last seen. A real-time alert can trigger an alarm whenever there's a match. Police can then confirm its accuracy and do what's necessary to recover the missing children.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Face-Recognition-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Face Recognition<br></h1>
                                <p class="banner-text-sml">Synergy Eye allows you to have a secure home and work environment by keeping track of those <br>who have entered the premises through face recognition technology.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Face Recognition Scenario<br></h2>
                                <p>a. Intruder detection using face recognition technology.<br>Face Recognition technology can apply on Home CCTV for video analysis in case of intruder detection.<br><br>In intruder detection all home members photos are saved in system and using face detection and recognition system we can find out if any intruder is trying to enter home and system will give alarm on that.<br><br>b. Face recognition CCTV systems can significantly accelerate operators’ efforts by enabling them to add a reference photo provided by the missing child’s parents and match it with past appearances of that face captured on video. Police can use face recognition to search video sequences (aka video analytics) of the estimated location and time the child has been declared missing.<br><br>Police officers can better figure out the child’s movements before going missing and locate where he/she was last seen. A real-time alert can trigger an alarm whenever there's a match. Police can then confirm its accuracy and do what's necessary to recover the missing children.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

