@{
    ViewData["Title"] = "Intelligence Policing";
    //Layout = null;
}

<script>
    
    

    function IntelligencePolicingViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Intelligent Policing Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Intelligent Policing DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-Intelligent-policing-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Intelligent Policing<br></h1>
                                    <p class="banner-text-sml">Policing is an extremely complex process that makes changes to environment and affecting the three pillars of sustainable development society, economy and the environments. Artificial intelligence inpolicing helps in improving decision-making and can have a huge beneficial impact on all these aspects. We provide number of artificial intelligence tools &amp;techniques that plays an important role in improving the policing process such as decision support and optimizing techniques.<br></p>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="float: left; display: inline-block; text-align:center;margin-right: 20px;" title="IIP Brochure">
                                            <a id="ipbrochure" style="cursor: pointer;border-radius: 5px; margin-right: 10px;" onclick="IntelligencePolicingViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="ipbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer;float: left; display: inline-block; text-align: center;" title="IIP DataSheet">
                                            <a id="ipdatasheet" style="border-radius:5px" onclick="IntelligencePolicingViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="ipdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h1 class="main-title-bg">Intelligent tool for Different policing<br></h1>
                                                    <p>Our intelligence tool can rapidly synthesize Large amount of data and detect patterns. This capability is especially useful during the crisis, such as the current coronavirus pandemic or any other environmental disaster. It can also be customized for many big data sectors like pharma, banking, law enforcement agencies etc. Machine learning can generate insights in near real time, allowing policy makers to take proactive action. It is a customizable tool with efficient and useful features and work’s fine with government policy making like policy for essential law enforcement ideologies, hot spot activities, cyber threats and possibly malicious activities.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h2 class="text-muted card-subtitle sub-title">&nbsp;Features of intelligent policing <br></h2>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><b>Integrated Data Analytics -</b>&nbsp;Collect data from multiple sources and combines them into a single unified view which helps in understanding and decision making.<br></li>
                                                        <li class="p-2"><b>Predictive Analytics –</b>&nbsp; Makes prediction about future outcomes using historical data to find pattern and identify risk and opportunities<br></li>
                                                        <li class="p-2"><b>Factors Analysis –</b>&nbsp; Data related to different factors (geographical, economic, cultural in policy making is identified and sorted.<br></li>
                                                        <li class="p-2"><b>Text analytics –</b>&nbsp; collects and analyse the text data by using language identification, sentence breaking, syntax parsing etc.<br></li>
                                                        <li class="p-2"><b>Security –</b>&nbsp; saves and secure valuable data from breaching out.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h2 class="text-muted card-subtitle sub-title">&nbsp;Benefits of intelligent policing <br></h2>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><b>Process simplification -</b>&nbsp; Introducing intelligence in policing helps in simplifying the complex process by analysing and compiling the relevant data.<br></li>
                                                        <li class="p-2"><b>Better implementation -</b>&nbsp; Implementation of policing is the most difficult task. AI tools can help get processes implemented more efficiently through automation and near real-time analysis.<br></li>
                                                        <li class="p-2"><b>Smart/unbiased decision making -</b>&nbsp;AI has the potential to augment human intelligence and enable smarter decision-making. AIcan eliminate the huge costs of a wrong decision because it can practically eliminate human biases and errors. This could in turn speed up the decision-making process.<br></li>
                                                        <li class="p-2"><b>Quality evaluation -</b>&nbsp; Intelligent tools can speed up assessment of things that need to change by identifying where a policy could be falling short.<br></li>
                                                        <li class="p-2"><b>Time efficient -</b>&nbsp; Intelligent tool can analyse, gather and compile large amount of data and perform operation in short span of time, which makes it saves time.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Intelligent-policing-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Intelligence Policing<br></h1>
                                <p class="banner-text-sml">Rapidly synthesize large amounts of data and detect patterns by using our intelligent policing solution.<br></p>
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="float: left; display: inline-block; text-align:center;margin-right: 20px;" title="IIP Brochure">
                                        <a id="ipbrochure" style="cursor: pointer;border-radius: 5px; margin-right: 10px;" onclick="IntelligencePolicingViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="ipbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer;float: left; display: inline-block; text-align: center;" title="IIP DataSheet">
                                        <a id="ipdatasheet" style="border-radius:5px" onclick="IntelligencePolicingViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="ipdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">&nbsp;Overview<br></h1>
                                                <p class="p-2">Policing is an extremely complex process that makes changes to the environment and affects the three pillars of sustainable development: society, economy, and the environment. Artificial intelligence in policing helps in improving decision-making and can have a hugely beneficial impact on all these aspects. We provide several artificial intelligence tools and techniques that play an important role in improving the policy process, such as decision support and optimization techniques<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">&nbsp;Intelligent tool for Different policing<br></h1>
                                                <p class="p-2">Our intelligence tool can rapidly synthesize large amounts of data and detect patterns. This capability is especially useful during a crisis, such as the current coronavirus pandemic or any other environmental disaster. It can also be customized for many big data sectors like pharma, banking, law enforcement agencies, etc. Machine learning can generate insights in near real-time, allowing policymakers to take proactive action. It is a customizable tool with efficient and useful features, and it works well with government policymaking, like policy for essential law enforcement ideologies, hot spot activities, cyber threats, and possibly malicious activities.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Features of intelligent policing <br></h2>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Integrated Data Analytics:</strong><br>Collect data from multiple sources and combines them into a single unified view, which helps in understanding and decision making.<br></li>
                                                    <li class="p-2"><strong>Predictive Analytics: </strong><br>Makes prediction about future outcomes using historical data to find pattern and identify risk and opportunities<br></li>
                                                    <li class="p-2"><strong>Factors Analysis: </strong><br>Data related to different factors (geographical, economic and cultural) in policy making is identified and sorted.<br></li>
                                                    <li class="p-2"><strong>Text analytics: </strong><br>Collects and analyze the text data by using language identification, sentence breaking, syntax parsing etc.<br></li>
                                                    <li class="p-2"><strong>Security: </strong><br>Saves and secure valuable data from breaching out.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Intelligent-Policing.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of intelligent policing <br></h2>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Process simplification: </strong><br>Introducing intelligence into policing bits helps in simplifying the complex process by analyzing and compiling the relevant data.<br></li>
                                                    <li class="p-2"><strong>Better implementation: </strong><br>Implementation of policing is the most difficult task. Through automation and near real-time analysis, AI tools can help get processes implemented more efficiently.<br></li>
                                                    <li class="p-2"><strong>Smart/unbiased decision making: </strong><br>AI has the potential to augment human intelligence and enable smarter decision-making. AI can eliminate the huge cost of a wrong decision because it can practically eliminate human biases and errors. This could in turn speed up the decision-making process.<br></li>
                                                    <li class="p-2"><strong>Quality: </strong><br>Intelligent tools can speed up the assessment of things that need to change by identifying where a policy could be falling short.<br></li>
                                                    <li class="p-2"><strong>Time-efficient: </strong><br>The evaluation tool can analyze, gather, and compile large amounts of data and perform operations in a short period, which saves time.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 vertical-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Intelligent-Policing-1.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/synergySolutions/js/jquery.min.js"></script>
    <script src="~/synergySolutions/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/synergySolutions/js/bs-init.js"></script>*@
    
</div>




