@{
    ViewData["Title"] = "Inventory Management";
    //Layout = null;
}
<script type="text/javascript">



    function InventoryManagementViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Inventory Management Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Inventory Management DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>

    <div class="hero-banner">
        <div class="row">
            <div class="col HB-inventory-sol-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text"><span style="font-weight: normal !important;">Inventory Solution&nbsp;</span><br></h1>
                                <p class="banner-text-sml">Inventory Solutions can be integrated with all the Synergy powered solutions.</p>
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Inventory Solution Brochure">
                                        <a id="hcmsbrochure" style="cursor: pointer; border-radius: 5px; margin-right: 10px;" onclick="InventoryManagementViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="hcmsbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="float: left; display: inline-block; text-align:center;" title="Inventory Solution DataSheet">
                                        <a id="hcmsdatasheet" style="cursor: pointer; border-radius: 5px" onclick="InventoryManagementViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="hcmsdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">Inventory Solution<br></h2>
                                                <p>Inventory solutions provide a set of tools to help businesses manage their inventory processes. Our inventory solution is a powerful tool to keep your company up to date on industry standards. Users can establish online requisitions for products, and service requests, automate PO production, material receipt, issue, return, manage inter-unit stock transfers, and gain clear stock visibility with Synergy Inventory Solution.<br><br>Synergy Inventory Solution allows you to manage your inventory more efficiently, saving you both time and money.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Modules of Inventory Solution<br></h2>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Item module<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Item Definition (Asset/Stock/Consumable/Service)<br></li>
                                                    <li>Item Categorization<br></li>
                                                    <li>Item Opening Balance with verification<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Item Shelf Organizing<br></li>
                                                    <li>Item Tracking with Serial number<br></li>
                                                    <li>Received/Issue/Return<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Inter Unit Transfer<br></li>
                                                    <li>Physical Verification<br></li>
                                                    <li>Item Status-Dead Stock/Current Stock<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Requisition Module<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Add Requisition (Asset, Stock, Consumable, Service)<br></li>
                                                    <li>Configurable approval authority for requisition<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Issuance against requisition<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Tracking of requisition Status<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Vendor Module<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Company Information<br></li>
                                                    <li>Multiple Contacts detail<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Vendor category Item mapping<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Other Compliance with GST detail<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp; Purchase Module<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>PO Generation (version control)<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>PO approval Process<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Tracking of PO<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp; Customer Module<br></h2>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Company Information<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Multiple Contacts detail<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Other Compliance with GST detail<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Reports<br></h2>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Item History<br></li>
                                                    <li>Asset/Stock Report – Listing of Asset/Stock/Consumable<br></li>
                                                    <li>Invoice Details<br></li>
                                                    <li>Issue Type<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Item group Info<br></li>
                                                    <li>Item Transfer<br></li>
                                                    <li>Order Book<br></li>
                                                    <li>Order Status<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul class="synergyList">
                                                    <li>Received from PO<br></li>
                                                    <li>Requisition Status<br></li>
                                                    <li>Return to Vendor<br></li>
                                                    <li>Vendor category mapping<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle main-title-bg">&nbsp;&nbsp;Benefits of Inventory Solution<br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li><strong>User-friendly interface: -</strong><br>It includes a user-friendly interface that allows users to quickly report, search, and input data, as well as manage inventory with a single click.<br></li>
                                                    <li><strong>Boost Efficiency and Productivity: -</strong><br>It boosts efficiency and productivity by reducing time spent on routine and complex tasks.<br></li>
                                                    <li><strong>Accuracy of Sales and Purchase Orders: -</strong><br>It enables users to reserve available stock across multiple locations to satisfy customer demand.<br></li>
                                                    <li><strong>Better informed decisions: -</strong><br>It enables users to make informed decisions based on real-time information.<br></li>
                                                    <li><strong>Mobile Access:- </strong><br>Users can use the mobile app to capture precise time and expenditure data quickly and effortlessly, ensuring.<br></li>
                                                    <li><strong>Avoid running out of stock: -</strong><br>Low-Stock Alerts to get notified when products fall below your desired threshold and avoid running out of stock.<br></li>
                                                    <li><strong>Tracking in Multiple Locations: -</strong><br>It has powerful multiple location tracking models that allow monitoring inventory levels across various locations.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




