@{
    ViewData["Title"] = "Mobile Application Platform | Synergy";
    //Layout = null;
}

<style>
    .blit > li:before {
        content: "• " !important;
    }
</style>
<script type="text/javascript">
   


    function SynergyPlatformViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

@*<section class="Top-header"></section>*@

@*<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/mobile-apk.jpg');">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <h1 class="hero-banner-title bottom-spacing">Mobile App</h1><br>
    <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
    </div>
    </div>
    </section>

    <section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
    <div class="row">
    <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-mobile-apk.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-mobile-apk.jpg"></div>
    <div class="col-md-6">
    <div class="content">
    <h1>Mobile App</h1>
    <p class="text-justify">Most of the employees use social media messengers such as whatsapp for work purposes, however they also get distracted by friends/family members messages. It is important that employees communicate with colleagues through official applications to avoid distractions as well as maintain data security.Also social media tools lack capability to communicate as per work contexts. Information on social media cannot be arranged by projects or subjects leading to burying information into a large pile and difficult to search and respond.</p>
    </div>
    </div>
    </div>
    </div><br>
    </section>*@


<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Mobile-App-Platform-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Mobile App Platform<br></h1>
                                <p class="banner-text-sml">Synergy Has Innovative Mobile App Platform<br></p>

                                @*<div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                        <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                        <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        @*<div class="row row-spacing">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body text-justify">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p class="p-2">Mobile app platforms assist businesses in streamlining workflows, increasing employee productivity, improving customer experience, and ensuring quick user access to the corporate database. Our mobile app can be integrated with GIS platforms to provide mapping and location-based solutions using Synergy. Our low-code mobile app platform can help businesses move beyond standard mobile apps or transactional processes to become more collaborative and customer-centric platforms. Businesses can use our platform to design, deploy, and manage highly configurable mobile applications that run on a variety of platforms.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center vertical-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Mobile%20App.jpg"></div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <p class="p-2">Mobile app platforms assist businesses in streamlining workflows, increasing employee productivity, improving customer experience, and ensuring quick user access to the corporate database. Our mobile app can be integrated with GIS platforms to provide mapping and location-based solutions using Synergy. Our low-code mobile app platform can help businesses move beyond standard mobile apps or transactional processes to become more collaborative and customer-centric platforms. Businesses can use our platform to design, deploy, and manage highly configurable mobile applications that run on a variety of platforms.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">&nbsp;Mobile App Platform Modules are<br></h2>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Dashboard <br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Total number of task<br></li>
                                                    <li class="p-2 bulletlist">Total number of tasks assign&nbsp;<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Total number of task pendency<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Total number of tickets completed&nbsp;<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Notification <br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">New task assigned&nbsp;<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Update task<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Comment / feedback receive<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Transfer of documents <br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Within departments and external<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Real-time data<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Encrypted data from start to end&nbsp;<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Task Management<br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Task Assign<br></li>
                                                    <li class="p-2 bulletlist">Task List<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Task Permissions- view, edit and upload&nbsp;<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Time&nbsp; is taken to complete the task<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Track task <br></h3>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Date&nbsp;<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Time<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist">Subject<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of Mobile App Platform <br></h3>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul @*class="blit"*@>
                                                    <li class="p-2 bulletlist"><strong>Reduce Response Time: </strong><br>Experience quicker service delivery. Allow employees to enter data and documents into the system from anywhere.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Data Security: </strong><br>Gain access to important processes at any time and from any location while maintaining the highest standards of data security.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Better Decision Making: </strong><br>Provide real-time data so that employees can make better decisions.<br></li>
                                                    <li class="p-2 bulletlist"><strong>Increase employee productivity: </strong><br>Allow employees to get the information they need and complete tasks from any location.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
@*<style>

    ul li:before {
        content: "• " !important;
    }
</style>*@
