@{
    ViewData["Title"] = "Our-Team";
    //Layout = null;
}



<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Synergy-Team-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Our Team</h1>
                                <p class="banner-text-sml">The Synergy Low Code Digital Transformation Platform is built as a modular tool <br>to fit into your business environment seamlessly.<br><br>Get to know the people that make it all happen!<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                                                <img class="img-fluid" alt="" title="" style="border-radius:12px; width: 150px; height: 150px; margin-bottom: 2vw;" src="../../Themes/SynergySolutions/images/sukhbir.jpeg" />
                                                <h5 class="text-center Team-name">SUKHBIR SINGH KUKREJA</h5>
                                                <p><strong>(Director)&nbsp;</strong></p>
                                                <p class="text-justify">Mr. Sukhbir Singh Kukreja is the Director at Synergy Solutions.<br>&nbsp;<br>He has over two decades of expertise in the IT industry with leadership, team handling, account management, enterprise resource planning, public and private cloud solutions, network design and security, PKI &amp; eSign Solutions, Database Solutions, and many more.<br><br>He has a natural aptitude for business and is quite adept at the post he holds.<br></p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                                                <img class="img-fluid" alt="" title="" style="border-radius:12px; width: 150px; height: 150px; margin-bottom: 2vw;" src="../../Themes/SynergySolutions/images/Chandra.jpeg" />
                                                <h5 class="text-center Team-name">CHANDRA SHEKHAR GOUR<br></h5>
                                                <p><strong>(Chief Strategist &amp; Innovation Officer)&nbsp;</strong></p>
                                                <p class="text-justify">Mr. Chandra Shekhar Gour is the company's Chief Strategist &amp; Innovation Officer. He is responsible for Synergy's strategic direction and marketing emphasis.<br><br>With over two decades of experience in the IT sector and competence in a cross-functional team, he also maintains leadership, human resource management, business transformation, project management, strategy, and cultural positions.<br><br>He takes a holistic approach to new challenges, motivating them to attain desired results and positive organizational outcomes.<br></p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                                                <img class="img-fluid" alt="" title="" style="border-radius:12px; width: 150px; height: 150px; margin-bottom: 2vw;" src="../../Themes/SynergySolutions/images/user.png" />
                                                <h5 class="text-center Team-name">&nbsp;JITENDRA SINGH KUKREJA</h5>
                                                <p><strong>(CTO)&nbsp;</strong></p>
                                                <p class="text-justify">Jitendra Singh Kukreja is a result-oriented Chief Technology Officer(CTO), driven to manage strategies, mutually beneficial partnerships, and relationships with users, vendors, and service providers. A visionary leader and expert strategist with experience in leading organizations by providing expert business transformation services and cutting-edge technology solutions for multiple corporations.&nbsp;<br><br>He maintains an uncompromising focus on high-quality standards and bottom-line profit improvements. He excels at turning businesses into companies that work efficiently and competes in the broader market.<br></p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center">
                                                <img class="img-fluid" alt="" title="" style="border-radius:12px; width: 150px; height: 150px; margin-bottom: 2vw;" src="../../Themes/SynergySolutions/images/user.png" />
                                                <h5 class="text-center Team-name">JOGENDRAPAL SINGH ALAGH</h5>
                                                <p><strong>(Director-Business Support)&nbsp;</strong></p>
                                                <p class="text-justify">Mr. JP Singh is the director of business support for the company.<br><br>He makes timely projections, ensures the adequacy of cash flow resources, and oversees the formulation of all financial and business reports.<br><br>He holds expertise in data processing, document control, root cause analysis, software release management, performance optimization, and providing support and maintenance.<br><br>He has excellent finesse across multiple technologies and is always ready to take up new challenges with a positive attitude.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>
