@{
    ViewData["Title"] = "Partners";
    //Layout = null;
}
<script>
    function onPartnerRegister() {
        LoadPartailView("/SynergySolutions/SynergySolutions/PartnerRegistrationForm", $("#cms-content"));
    }
</script>
<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col hb-request-consultation-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h2 class="inn-banner-header-text">Partners</h2>
                                <p class="banner-text-sml">Synergy values its partners above all else. We strive to work closely with your business to create best custom solutions for your problems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <div class="row row-spacing">
                            <div class="col">
                                <h1 class="main-title-bg">Become a channel partner with us</h1>
                                <p>Synergy will help you realize your full potential and pursue new business opportunities. Increase your revenue by expanding your offerings and enhancing your customer base. We view our partners as an extended business for our organization, playing a crucial role in our growth and development.<br><br>As a result, we have dedicated experts in the role who are engaged in maintaining our business relationship with you and are committed to a win-win situation. We refer to them as "Partner Specialised Consultants (PSC)." They are with you to help you make the right business decisions and to provide you with tailor-made plans and schemes to meet your business requirements.<br><br>In response to your request, we have created a few "channel partner programs" that are intended to empower all sectors of the business, including large, small, startup, growing, and successful businesses. These programs allow you to sell our solutions and products. We work closely with you to achieve your business goals and support you with our world-class approach and business empowerment network. People from any business domain may engage in business solutions.</p>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col text-center">
                                <p></p><a class="btn btn-secondary btn-register" role="button" style="color:white" onclick="onPartnerRegister()">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }
</script>

