@{
    ViewData["Title"] = "Predictive Maintenance Using Machine Learning";
    //Layout = null;
}

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-PM-ML-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Predictive maintenance using machine learning<br></h1>
                                <p class="banner-text-sml">The purpose of this technology is detecting and handling deviation and failure in equipment so this technology prevents the possibility of critical failure and downtime. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Manufacturing<br></h2>
                                <p>Predictive maintenance is worth the splurge is manufacturing because in this industry large and expensive tools and equipments are used so if such equipment were to fail than entire business will suffer major losses. Using this technology we can measure any error or failure in the equipment.<br></p>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Power &amp; energy<br></h2>
                                <p>Power plants are definitely a likely candidate for predictive maintenance. It’s crucial that this type of technology functions properly 100% of the time, and predictive maintenance systems help make that target possible. In particular, the energy industry will benefit from increased asset efficiency if implementing predictive maintenance, which boosts profitability.<br></p>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">Oil and Gas Industry<br></h2>
                                <p>Oil and gas industry often lack visibility into the condition of their equipment in remote offshore places. Maintenance technicians would visit these sites based on a time interval to inspect the condition of the equipment even when it’s not necessary. With predictive maintenance, oil and gas companies can evaluate the health and performance of their equipment and only schedule maintenance when an issue that is out of the norm is detected.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }
</script>

