@{
    ViewData["Title"] = "Privacy Policy | Synergy";
    //Layout = null;
}




    
    <div>
        <div class="hero-banner">
            <div class="row">
                <div class="col img-fluid" style="background-color: black">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Privacy Policy<br></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    @*<h2 class=" main-title-bg">Bug Tracking<br></h2>*@
                                    <p>
                                        The user may visit the website without any prior intimation to XtraNet Technologies Private Limited. However, in certain circumstances, XtraNet requires the user to disclose its identity. In such situation, you may be required to reveal your true and correct identity.<br>
                                        XtraNet does not rent, sell, or share personal information about the user with any third party except to provide products or services you've requested, when we have your permission.<br />
                                        You may choose to give us personal information, such as your name and address or e-mail id that may be needed. We will make a sincere effort to respond in a timely manner to your requests.<br />
                                    </p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">Mailers<br></h2>
                                    <p>XtraNet may, send mailers to you at the address given by you. You have the option to 'opt-out' of this mailer by way of links provided at the bottom of each mailer. We respect your privacy and in the event that you choose to not receive such mailers, we will take all steps to remove you from the list.<br></p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class=" main-title-bg">AntiSpam policy<br></h2>
                                    <p>XtraNet recognizes the receipt, transmission or distribution of spam as a major concern and has taken reasonable measures, to minimize the transmission and effect of spam emails in its environment. All emails received by XtraNet, are subject to spam check. Any email identified as spam will be rejected with sufficient information to the sender.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }

        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        }

    </script>
   
