@{
    ViewData["Title"] = "Request Consultation | Synergy";
    //Layout = null;
}




<style>
    .sppb-text-success {
        color: green !important;
    }

    .sppb-text-danger {
        color: red !important;
    }

    .sppb-ajax-contact-status .sppb-text-danger, .sppb-ajax-contact-status .sppb-text-success {
        font-weight: 700;
    }

    select:invalid {
        color: #6c757d !important;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 0.55cm);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.0;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col hb-request-consultation-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h2 class="inn-banner-header-text">Request Consultation</h2>
                                <p class="banner-text-sml">Get a Free Consultation of Synergy Solution and find out why Synergy Solution is right option for you !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                        <p>Fill out the consultation request, select the service or product that you are interested in and we will contact you as soon as possible.<br></p>
                                        <div class="row">
                                            <div class="col"><img class="img-fluid" src="~/Themes/SynergySolutions/img/services-organization.jpg"></div>
                                            <div class="col"><img class="img-fluid" src="~/Themes/SynergySolutions/img/os-uibuilder.jpg"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col"><img class="img-fluid" src="~/Themes/SynergySolutions/img/services-hr-solution.jpg"></div>
                                            <div class="col"><img class="img-fluid" src="~/Themes/SynergySolutions/img/hr-collaboration.jpg"></div>
                                        </div>
                                        <div class="row mt-3 mb-3">
                                            <div class="col"><img class="img-fluid" src="~/Themes/SynergySolutions/img/ai-breakdown-prediction.jpg"></div>
                                            <div class="col"><img class="img-fluid" src="~/Themes/SynergySolutions/img/ai-machine-vision.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <!-- Start: Contact Form Basic -->
                                        <section class="position-relative">
                                            <div class="container position-relative">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <h2 class="mb-3 text-center main-title-bg">Send Enquiry</h2>

                                                        <form id="myform" asp-controller="SynergySolutions" asp-action="SendEmail"
                                                              data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                                              data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                                              data-ajax="true" data-ajax-method="POST" class="sppb-addon-form-builder-form">

                                                            <div class="text-danger"></div>
                                                            <div class="mb-3"><input required class="form-control" type="text" id="name-1" name="FullName" placeholder="Full Name"></div><!-- End: Success Example -->
                                                            @*<div class="mb-3"><input required class="form-control" type="text" id="name-2" name="LastName" placeholder="Last Name"></div>*@<!-- End: Success Example -->

                                                            <div class="mb-3"><input class="form-control" required type="email" id="email-2" name="Email" placeholder="Email"></div><!-- End: Error Example -->

                                                            <div class="mb-3"><input class="form-control" type="text" id="email-1" name="ContactNumber" placeholder="Contact Number"></div><!-- End: Error Example -->

                                                            <div class="mb-3">
                                                                @*<div class="dropdown d-flex align-content-xl-around form-control" style="padding: 0px;">
                                                                        <button class="btn btn-block dropdown-toggle text-left text-secondary d-flex d-xl-flex justify-content-between align-items-center justify-content-sm-between justify-content-md-between justify-content-lg-between justify-content-xl-between align-items-xl-center" aria-expanded="false" data-toggle="dropdown" type="button">Producted Interested</button>
                                                                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-xl-left">
                                                                            <a class="dropdown-item" href="#">First Item</a>
                                                                            <a class="dropdown-item" href="#">Second Item</a>
                                                                            <a class="dropdown-item" href="#">Third Item</a>


                                                                        </div>
                                                                    </div>*@

                                                                <select class="form-control" name="ProductIntrested" required>
                                                                    <option value="" class="dropdown-item" disabled selected>Product Interested</option>
                                                                    <option value="Business Process Automation" class="dropdown-item">Business Process Automation</option>
                                                                    <option value="Document Management" class="dropdown-item">Document Management</option>
                                                                    <option value="Project Management" class="dropdown-item">Project Management</option>
                                                                    <option value="Integrated Intelligence Portal" class="dropdown-item">Integrated Intelligence Portal</option>
                                                                    <option value="EGovernance" class="dropdown-item">E-Governance</option>
                                                                    <option value="Analytics and BI" class="dropdown-item">Analytics and BI</option>
                                                                    <option value="HR Solution" class="dropdown-item">HR Solution</option>
                                                                    <option value="Service Desk" class="dropdown-item">Service Desk</option>
                                                                    <option value="Recruitment Assessment" class="dropdown-item">Recruitment Assessment</option>
                                                                    <option value="Synergy Eye" class="dropdown-item">Synergy Eye</option>
                                                                    <option value="Finance Management" class="dropdown-item">Finance Management</option>
                                                                    <option value="Social Media Analytics" class="dropdown-item">Social Media Analytics Tool</option>
                                                                </select>

                                                            </div>

                                                            @*<div class="mb-3">
                                                                    <div class="dropdown d-flex align-content-xl-around form-control" style="padding: 0px;">
                                                                        <button class="btn btn-block dropdown-toggle text-left text-secondary d-flex d-xl-flex justify-content-between align-items-center justify-content-sm-between justify-content-md-between justify-content-lg-between justify-content-xl-between align-items-xl-center" aria-expanded="false" data-toggle="dropdown" type="button">Number of Employees</button>
                                                                        <div class="dropdown-menu dropdown-menu-left dropdown-menu-xl-left">
                                                                            <a class="dropdown-item" href="#">First Item</a>
                                                                            <a class="dropdown-item" href="#">Second Item</a>
                                                                            <a class="dropdown-item" href="#">Third Item</a>
                                                                        </div>
                                                                    </div>
                                                                </div>*@

                                                            <div class="mb-3">
                                                                <select class="form-control" name="NumberOfEmployees" required>
                                                                    <option value="" disabled selected>Number of Employees</option>
                                                                    <option value="10 - 20" class="dropdown-item">10 - 20 </option>
                                                                    <option value="20 - 50" class="dropdown-item">20 - 50 </option>
                                                                    <option value="50 - 100" class="dropdown-item">50 - 100 </option>
                                                                </select>
                                                            </div>


                                                            <div class="mb-3"><input class="form-control" type="text" id="name-3" name="CompanyName" placeholder="Company Name"></div><!-- End: Success Example -->

                                                            <div class="mb-3"><input class="form-control" type="text" id="name-4" name="JobTitle" placeholder="Job Title"></div><!-- End: Success Example -->

                                                            <div class="mb-3"><input class="form-control" type="text" id="name-5" name="Country" placeholder="Country"></div><!-- End: Success Example -->
                                                            <div class="mb-3"><textarea class="form-control" id="message-2" name="Message" rows="6" placeholder="Message" style="height: 130px;"></textarea></div>
                                                            <div class="text-left"><button class="btn btn-primary" type="submit" style="width: 100%;background: #003366;">Send </button></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </section><!-- End: Contact Form Basic -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }

    $(".text-danger").hide();

    var onAjaxSuccess = function (res) {

        if (res.success) {
            // showNotification("Email Sent Successfully");
            var html = '<span class="sppb-text-success" class="color:white;">Your consultation request has been sent successfully. Our team will contact you as soon as possible</span>';
            //$(".sppb-ajax-contact-status").html(html);
            //$(".sppb-ajax-contact-status").show();

            $(".text-danger").html(html);
            $(".text-danger").show();
            $("#myform")[0].reset();
        }
        else {
            showError1(res.error);
        }
        HideLoader($('.page-content'));
    };
    var showError1 = function (error) {
        HideLoader($('.page-content'));
        var html = '<span class="sppb-text-danger">' + error + '</span>';
        //$(".sppb-ajax-contact-status").html(html);
        //$(".sppb-ajax-contact-status").show();

        $(".text-danger").html(html);
        $(".text-danger").show();


        //alert(error);

    }
</script>
