@{
    ViewData["Title"] = "White Papers";
    //Layout = null;
}

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Resources-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="Under-construction"><br><br><img class="p-2" src="../../Themes/SynergySolutions/images/under-construction.jpg"><br><br></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc"></div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

