@{
    ViewData["Title"] = "Sales and Marketing";
    //Layout = null;
}


<script type="text/javascript">
    

    

    function SalesMarketingViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Sales & Marketing Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Sales & Marketing DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>



<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Sales-and-Marketing-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Sales and Marketing Solutions for Businesses<br></h1>
                                <p class="banner-text-sml">Get sales and marketing solutions for your business growth. With our B2B sales tools, you can target prospects<br/>more effectively & improve sales.<br></p>

                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="float: left; display: inline-block; text-align: center; margin-right: 20px;" title="Sales & Marketing Brochure">
                                        <a id="samsbrochure" style="cursor: pointer; border-radius: 5px; margin-right: 10px;" onclick="SalesMarketingViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="samsbrochure" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Sales & Marketing DataSheet">
                                        <a id="samsdatasheet" style="border-radius:5px" onclick="SalesMarketingViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="samsdatasheet" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h1 class="main-title-bg">&nbsp;Overview<br></h1>
                                                <p class="p-2">We are introducing a sales and marketing solution that aims at providing better engagement between sales and management and helping companies with marketing the various business processes. It identifies the customer for the company’s product or service, which contributes to developing the product or service. Sales and marketing both impact lead generation and revenue. Our sales and marketing solution comes with many essential features which help business in doing effective marketing and boosts sales.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Features of Sales and marketing solution modules <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Contact Management:</strong> <br>This term is the main channel for CRM , which allow users to segment their contacts into groups and organize them to cater better. This will allow gathering of quality data and boosting the marketing strategies for introducing new products.<br></li>
                                                    <li class="p-2"><strong>Sales team and customer opportunity management: </strong><br>This allows user to quantify the opportunities that sales team has with customers, which helps in getting the active customers who are likely to be converted.<br></li>
                                                    <li class="p-2"><strong>Lead management: </strong><br>Sales and marketing software can increase sales efficiency and optimize marketing campaigns through the user of this strategy. The best leads can be categorized and can be moved further. <br></li>
                                                    <li class="p-2"><strong>Sales analytics: </strong><br>Users can create better sales campaigns in the future by analyzing the hard data of past campaigns. The CRM will allow collecting the data from social media and other features.&nbsp;<br></li>
                                                    <li class="p-2"><strong>Sales data: </strong><br>The sales data can be managed after the raw data is identified, a best feature of CRM.<br></li>
                                                    <li class="p-2"><strong>Sales performance management: </strong><br>Managers can easily see what aspects of the sales team are performing well and what needs improvement. User can manage the performance of sales partners from the platform to ensure better team performance.<br></li>
                                                    <li class="p-2"><strong>Campaign management: </strong><br>Campaign management features allow users to manage their entire sales campaign through a single User interface. <br></li>
                                                    <li class="p-2"><strong>Real time alerts: </strong><br>Sales representative can engage leads more quickly and provide prompt assistance to existing clientele. It even offers trigger response features to help User identify and act on customers’ key life events and transaction patterns.<br></li>
                                                    <li class="p-2"><strong>Email Marketing: </strong><br>Emailing is one of the best ways to increase brand awareness and stay in touch with customers. However, increasing its efficiency and measurability can be a handful, especially when there are plenty of leads and customers to take care of.<br></li>
                                                    <li class="p-2"><strong>Reports and dashboards: </strong><br>Users can view statistics in high visuals, engaging perspective using customized reports and dashboards. It offers real-time data updates and a platform that can be accessed from various portals.&nbsp;This helps management to make the right decisions.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h2 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of Sales and marketing Solution <br></h2>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Better qualified leads: </strong><br>The best qualifies leads will allow the combination of the marketing and sales team, where both the parties will have communication, so that the information can flow freely from department to department and the work can be systematized. <br></li>
                                                    <li class="p-2"><strong>Improved understanding of the buyer: </strong><br>When the marketing and sales communicate with each other they will be responsible for getting the understating of the buyer more accurately else they will allow buyer requirements to disguise. <br></li>
                                                    <li class="p-2"><strong>Better data for smarter decisions: </strong><br>The sales and marketing platform enhance communication and build trust between both the teams; they’ll both be more comfortable when asking the other team to make adjustments. And after getting the better feedback it will lead to smarter decisions. <br></li>
                                                    <li class="p-2"><strong>Save time on marketing campaign: </strong><br>Communication will build the team. Rather than focusing on separate activities, implementing one shared vision can help reach desired goals and hits the targets respectively. This makes campaigns successful and targeted. <br></li>
                                                    <li class="p-2"><strong>Sales and marketing on one page: </strong><br>Working together on one page will allow both the teams to get more benefits on different criteria, exchanging their key roles and responsibilities together and mentioning them for future reference. <br></li>
                                                    <li class="p-2"><strong>Increase revenue: </strong><br>Both the teams working together will increase the efficiency of system thus generating more sales and do effective marketing, which results in increase in revenue. <br></li>
                                                    <li class="p-2"><strong>Stay ahead of the competition: </strong><br>Collaboration of both the teams will make a good pair to always stay ahead of the competition in the market.&nbsp;When the sales team communicate with the marketing team they will allow to create the valuable content to get the target audience. <br></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-xl-12 text-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Sales%20Marketing.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



