@{
    ViewData["Title"] = "Social media analytics solution| Synergy";
    //Layout = null;
}


<script>
   


    function SocialMediaViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Social Media Analytics Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Social Media Analytics DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Social-Media-Analytics-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Social Media Analytics<br></h1>
                                <p class="banner-text-sml">Social media analytics (SMA) for precise and efficient analysis<br /></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">&nbsp;Overview<br></h2>
                                                <p>SMA boosts the decision-making process as it helps in finding, collecting, and analyzing data from all the social media sites and blogs and evaluating that data for user benefits.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">&nbsp;Analytical tools for social media analysis<br></h2>
                                                <p>Our Social Media Analytics tools analyze with sentiments for the users to view and analyze data trends by track, location, and sources to detect early signals to prevent crime/unrest. Users can search for and play recorded calls and video clips, and view images.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Social Media Analytics offers <br></h3>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>WhatsApp:</strong>  Extracted data from groups and messages. Identifying and categorizing viral messages, trending patterns and keyword based analytics. Important attributes to be consider are mobile no., Display Picture and name, only for groups where members are involved.<br></li>
                                                    <li class="p-2"><strong>Twitter</strong> (#Tag trending, real-time, specific #Tags searching).<br></li>
                                                    <li class="p-2"><strong>Facebook:</strong>  Extract public data from Facebook pages based on keyword combinations. Important attributes to be considered are Contact number, political influence, communal influence, old/new profiling, family details.<br></li>
                                                    <li class="p-2"><strong>You Tube</strong> (Video &amp; channels).<br></li>
                                                    <li class="p-2"><strong>LinkedIn</strong> (Profiling).<br></li>
                                                    <li class="p-2"><strong>True caller</strong> (search option with mobile no., name and photo).<br></li>
                                                    <li class="p-2"><strong>Instagram</strong>.<br></li>
                                                    <li class="p-2"><strong>News feed analysis:</strong> Users can view and analyze data from news websites and search engines by tracks, location and sources.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center vertical-center"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Social-media-analytics.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                 <p>The SMA tool is a customizable one with different useful features that can be customized according to user requirements. Trending topics can be identified by using hashtags, searching for accessing profiles using an unverified profile filter, searching for people using a name and destination filter, and so on. Many more features to satisfy specific user needs. </p>
                                       </div>
                                        </div>
                                        <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                            <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                                <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Features of social media analytics <br></h3>
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                                        <ul class="synergyList">
                                                            <li class="p-2"><strong>Sentiment analytics:</strong><br>Can view the sentimental analytics using filters. By using keywords searching and finding of viral posts or contents can be done on all social media platform.<br></li>
                                                            <li class="p-2"><strong>Profile comparison: </strong><br>Watch list can be created by user for comparing the profile of individuals to see the common interest and tracking between them.<br></li>
                                                            <li class="p-2"><strong>Advance research : </strong><br>Searching can be done on all social media platform at one place. <br></li>
                                                            <li class="p-2"><strong>Manage videos:</strong><br>Videos sharing common content can be searched.<br></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                            <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                                <h3 class="text-muted card-subtitle sub-title">&nbsp;&nbsp;Benefits of Social Media Analysis <br></h3>
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                                        <ul class="synergyList">
                                                            <li class="p-2"><strong>Understanding audience:</strong><br>Helps in understanding the audience by gathering and analyzing data of their profiles and activities.<br></li>
                                                            <li class="p-2"><strong>Selecting best social networks: </strong><br>Selecting the best network which provides more relevant and user specific data.<br></li>
                                                            <li class="p-2"><strong>Provide social data: </strong><br>Provides data from all the social media related to product, people etc. <br></li>
                                                            <li class="p-2"><strong>Understanding competitors:</strong><br>Competitor’s products and their strategies can be better understood by getting their product reviews and information on different platform.<br></li>
                                                            <li class="p-2"><strong>Product improvement: </strong><br>Improvement of product can be done by searching for reviews on all social media platform.<br></li>
                                                            <li class="p-2"><strong>Improved target marketing:</strong><br>Improvement in target marketing is done by detecting patterns and analyzing data for end user<br></li>
                                                            <li class="p-2"><strong>Tracking of suspicious activities:</strong><br>Different filters can be used to find suspicious and malicious activities.<br></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>




