@{
    ViewData["Title"] = "Success Story, Client Feedback | Synergy";
    //Layout = null;
}
<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css">
<style>
    .business-issue-card {
        /*height: 100%;*/
        background-color: #eff4fa;
    }

    .business-issue-heading {
        font-size: 24px;
        color: #1257AA;
        margin-bottom: 10px;
    }

    .business-issue-img {
        width: 100px;
        height: auto;
        float: right;
    }

    .solution-card {
        background-image: url('../../synergySolutions/img/bg-solution-3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;
    }

    .solution-heading {
        font-size: 24px;
        color: white;
        margin-bottom: 10px;
    }

    .result-row {
        margin-bottom: 20px;
        background-image: url('../../synergySolutions/img/bg-results-2.jpg');
        
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;
    }

    .result-card {
        margin-bottom: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;
    }

    .w-98 {
        width: 98%;
        margin-left: 1%;
    }

    .logo-img {
        height: 80px;
        width: auto;
        padding: 0;
        margin: 0;
    }


    .usecase-text-block {
        /*padding: 0 12px 0 20px;*/
        float: left;
        width: 100%;
        font-size: 14px;
        margin: 0 8px 0 0;
        text-align: justify;
        line-height: 20px;
    }
</style>

@*<link rel="stylesheet" href="~/synergySolutions/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/synergySolutions/fonts/font-awesome.min.css">
<link rel="stylesheet" href="~/synergySolutions/css/best-carousel-slide-1.css">
<link rel="stylesheet" href="~/synergySolutions/css/best-carousel-slide.css">
<link rel="stylesheet" href="~/synergySolutions/css/Bold-BS4-Cards-with-Hover-Effect-50.css">
<link rel="stylesheet" href="~/synergySolutions/css/Features-Blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="~/synergySolutions/css/Navigation-with-Button.css">
<link rel="stylesheet" href="~/synergySolutions/css/styles.css">*@

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-Success-story-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Success Story<br></h1>
                                <p class="banner-text-sml">Synergy has focused its company on B2B sales and sales management, specifically bringing new technologies to market. Here are some success stories of our clients.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="usecase-bg">
                                    <div class="text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 usecase-text-block">
                                                <div role="tablist" data-toggle="tooltip" data-bss-tooltip="" id="accordion-5">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-5 .item-1" href="#accordion-5 .item-1">Case Study – SEBI</a></h5>
                                                        </div>
                                                        <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-5">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction<br></h1>
                                                                <p class="card-text p-2">The Securities and Exchange Board of India (SEBI) is the Indian government's regulator of the securities and commodity markets. The corporation is owned by the Ministry of Finance. SEBI was established by the SEBI Act, which was passed on April 12, 1992. SEBI's mission is to ensure that the Indian capital market runs smoothly and that investors may invest in a safe environment. The primary goal of SEBI was to prevent faults and support the development of India's financial markets.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <p>SEBI intends to replace the present mobile app (which is available on both Android and iOS) for raising investor awareness with a new cross-platform app. The old SEBI app had an ancient and slow user interface that was not particularly inviting. The previous UI was difficult to use and had numerous compatibility issues.<br></p>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p>SEBI created a new app with a fast user interface using Synergy low-code digital transformation. The application was completely redesigned by us, including login, registration, OTP login, and multi-language choices. The application's content is available in both Hindi and English.<br><br>This solution was created to maintain India's financial markets while maintaining transparency and providing a suitable educational platform for citizens and companies alike.<br><br>The program provides users with various dashboards to keep them up to date on the current economic and financial state.<br></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">This solution provides a fast and new user interface with multi-lingual (Hindi/English) support.&nbsp;<br></li>
                                                                            <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">It increases productivity and reduces development and customer support costs.</span><br></li>
                                                                            <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">It also increased the retention of customers.</span><br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide mt-5" data-ride="carousel" id="carousel-3">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/sebi-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/sebi-2.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-3" data-slide-to="1"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" id="accordion-10">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-10 .item-1" href="#accordion-10 .item-1">Case Study –&nbsp;Galfar Al MISNAD Process Automation www.galfarqatar.com.qa</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-10">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction &nbsp;<br></h1>
                                                                <p class="card-text pt-2 pl-2">Galfar was founded in Muscat, Oman, in 1972. Galfar Engineering and Contracting SAOG have grown to become Oman's largest construction business, with interdisciplinary activity spanning the GCC area and beyond.<br><br>Galfar Al MISNAD is a Grade A Contractor in Qatar with experience in Infrastructure, Oil &amp; Gas, Electrical &amp; Instrumentation, Building &amp; MEP, and Facility Management.<br><br>It has $1 billion in annual revenue. Galfar employs about 23,000 people in Oman alone and has over 7,000 distinct types of machinery and equipment.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <p>Previously, Galfar AL MISNAD relied heavily on several recruitment agencies for applicant recruitment, making them excessively reliant on the agencies. This also consumes time and costs a lot of money.<br></p>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1><br>

                                                                        <p>As a solution, Synergy delivered the recruitment assessment tool to Galfar Al MISNAD. Our recruitment assessment platform strives to provide a low-cost, high-productivity, and efficient hiring process. Using artificial intelligence, recruitment software supports businesses in Streamlining or partially automating the various steps of the recruiting cycle (AI). This includes sourcing, screening, interviewing, managing applicants, interacting with candidates, collaborating with internal recruiting teams, processing offers, and other duties.<br></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">This solution helps to speed up the recruitment process and Expand the database easily.<br></li>
                                                                            <li class="p-2">It also reduces administrative work.<br></li>
                                                                            <li class="p-2">Improve the hiring quality while being cost-effective.<br></li>
                                                                            <li class="p-2">This solution also safeguards sensitive data against attacks.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide" data-ride="carousel" id="carousel-8">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-hrms-ss-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-hrms-ss-2.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-dms-ss-3.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-dms-ss-2.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-8" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-8" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-8" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-8" data-slide-to="1"></li>
                                                                                <li data-target="#carousel-8" data-slide-to="2"></li>
                                                                                <li data-target="#carousel-8" data-slide-to="3"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" id="accordion-3">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-3 .item-1" href="#accordion-3 .item-1">Case Study –&nbsp;Galfar Al MISNAD eDMS www.galfarqatar.com.qa</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-3">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction &nbsp;<br></h1>
                                                                <p class="card-text pt-2 pl-2">Galfar was incorporated in 1972 in Muscat, Oman. Galfar Engineering and Contracting SAOG is now the largest construction company in Oman, with its various multidisciplinary activities spanning the GCC region and beyond.<br><br>Galfar Al MISNAD is a Grade A Contractor in Qatar with expertise in Infrastructure, Oil &amp; Gas, E &amp; I, Building &amp; MEP, and Facility Management.<br><br>It has a turnover of US $1 billion. Galfar employs over 23,000 workers in Oman alone, with more than 7,000 different kinds of plants and equipment.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <p>Galfar is the old company, spreading its operations in various fields, which holds large amounts of data in different document forms. It becomes extremely difficult to handle, manage, and access all the documents manually with full safety. Galfar needed a safe and efficient electronic system that could handle and manage its documents in one place.<br></p>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1><br>

                                                                        <p>Galfar's document management system (e-DMS) was created using the synergy of low-code digital transformation. Our solution allows them to handle both paper and electronic documents and files in one system. Documents are electronic and may be quickly retrieved for reference.<br><br>Synergy electronic Document Management System with Workflow was to track and store electronic documents as well as paper documents. Document management systems enable storage, versioning, metadata, security, indexing, and retrieval.<br><br>e-DMS enables efficient knowledge and information sharing, which is critical to the organization. Its content management system enables organizations to organize and disseminate information more quickly and efficiently.<br></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">This solution provides Reduced Storage Space with Enhanced Security.<br></li>
                                                                            <li class="p-2">It also provides Improved Regulatory Compliance and Easier Retrieval of data.<br></li>
                                                                            <li class="p-2">The solution also gives Better Collaboration and Backup.<br></li>
                                                                            <li class="p-2">This solution also provided Disaster Recovery with Increased Productivity.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide" data-ride="carousel" id="carousel-9">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-hrms-ss-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-hrms-ss-2.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-dms-ss-3.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/galfar-dms-ss-2.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-9" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-9" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-9" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-9" data-slide-to="1"></li>
                                                                                <li data-target="#carousel-9" data-slide-to="2"></li>
                                                                                <li data-target="#carousel-9" data-slide-to="3"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" data-toggle="tooltip" data-bss-tooltip="" id="accordion-6">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-6 .item-1" href="#accordion-6 .item-1">Case Study – Srinagar Smart City</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-6">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction<br></h1>
                                                                <p class="card-text p-2">The Smart City Mission envisions Srinagar as being an eco-friendly, resilient, and socioeconomically vibrant city that cherishes its natural and cultural history, thereby fostering harmony and opportunities. Srinagar Smart City strives to improve the quality of life for its residents by leveraging their natural and cultural heritage/tourism through creative, inclusive solutions.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <p>A Smart city requires the integration of services and applications into a unified technological infrastructure, a well-designed software platform providing all of the necessary infrastructures for dealing with large volumes of data, a diverse range of devices and applications, system interoperability, and other Smart City solutions.<br></p>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p>Citizen portal Web-service<br></p>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">To collect data and automate the approval, registration, and billing processes for the municipal corporation.<br></li>
                                                                            <li class="p-2">Aims to provide people with online services such as tax payment, grievance registration, bill payments, bin booking, waste clearing, sewerage connection, and new and existing connections/issues.<br></li>
                                                                            <li class="p-2">The program would provide citizens with a comprehensive picture of the Municipal Corporation's processes.<br></li>
                                                                        </ul>
                                                                        <p>Mobile Application<br></p>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">The Srinagar Smart City Mission intends to develop a GIS-integrated mobile application.<br></li>
                                                                            <li class="p-2">Designed to provide the most frequently used services by citizens, such as grievance registration, garbage clearing application, community hall booking facility, and online payment alternatives for various bills such as water bills, electricity bills, sanitation tax, and trade tax.<br></li>
                                                                            <li class="p-2">Also included for the convenience of citizens is access to SOS, locations of locally available service centers, police stations, hospitals, ATMs, public parks, and so on.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">This solution Improves citizen satisfaction.<br></li>
                                                                            <li class="p-2">It also increases transparency between citizens and the government.<br></li>
                                                                            <li class="p-2">It helps the government make better decisions for the citizens.<br></li>
                                                                            <li class="p-2">It Reduces the middleman's cost and Improves productivity &amp; efficiency hence Saving time and money.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide" data-ride="carousel" id="carousel-4">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/e-governance-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/e-governance-2.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/e-governance-3-mobile.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-4" data-slide-to="1"></li>
                                                                                <li data-target="#carousel-4" data-slide-to="2"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" id="accordion-2">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-1" href="#accordion-2 .item-1">Case Study – Cayan HRMS -&nbsp;www.cayan.net</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-2">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction<br></h1>
                                                                <p class="card-text p-2">Cayan Group is a leading regional real estate investment, development, and brokerage solutions firm headquartered in the Kingdom of Saudi Arabia with offices in both Dubai and Riyadh. It has acquired a reputation for building firms and developing projects that consistently attract international praise.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <p>CAYAN needed a system set up in the broad industry for their employees' data to be stored and maintained according to corporate specifications. A communication setup must be developed through a system that allows employees to initiate and update their daily routines and information on the same portal while also allowing the organization to monitor and work accordingly.<br></p>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p>With Synergy's low-code digital transformation, CAYAN developed its own Human Resource Management System (HRMS). After developing the HRMS portal, contact is established between the employee and the firm, which is tracked by management and leads to the company's performance in their daily requirements.<br><br>The Employee Dashboard, Document Management, Report Management, Payroll Management, Attendance Management, Leave Management, and more features are all available through the site.<br></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">Efficiency and productivity with Reduced error<br></li>
                                                                            <li class="p-2">Attendance monitoring <br></li>
                                                                            <li class="p-2">Data security<br></li>
                                                                            <li class="p-2">Provides Better employee services<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide" data-ride="carousel" id="carousel-2">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/cayan-2-hrms.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/cayan-1.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" data-toggle="tooltip" data-bss-tooltip="" id="accordion-9">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-9 .item-1" href="#accordion-9 .item-1">Case Study –&nbsp;<span style="font-style: normal !important;">Police department</span>@*(<span style="font-style: normal !important;">IIP Solutions</span>)*@</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-9">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction<br></h1>
                                                                <p class="card-text p-2">The police department is committed to providing professional law enforcement services, protecting the rights of individuals, preventing crime, and building community partnerships. Their fundamental focus is to improve the quality of life by creating a fair and safe environment.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">State police collect data from both internal and external police units (social media, news, search engines).<br></li>
                                                                            <li class="p-2">It takes time, and there is no single system.<br></li>
                                                                            <li class="p-2">Internal applications, Dial 100, and CCTV<br></li>
                                                                            <li class="p-2">Power Business Intelligence for BI reports and an entry point system for data management and storage.<br></li>
                                                                            <li class="p-2">The most essential challenges for public safety are big data, advanced analytics, and data visualization.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p><strong>Integrated Portal&nbsp; Software:&nbsp;</strong><br></p>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">Synergy's Integrated Portal Software helps to harvest data from the departments indicated below<br></li>
                                                                            <li class="p-2">Show it in a customized user interface,<br></li>
                                                                            <li class="p-2">We provide analysis in conjunction with social media and news media.<br></li>
                                                                            <li class="p-2">Data sources include Dial 100, SB Portal, ROIP, and Safe City.<br></li>
                                                                        </ul>
                                                                        <p><strong>Integrated Special branch Portal:&nbsp;</strong><br>Develop smart (big data &amp; cognitive analytics) technology solution<br></p>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">Identify potential law and order risks ahead of time.<br></li>
                                                                            <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Present all the available facts in one location so that a good decision can be made.</span><br></li>
                                                                            <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Take prompt and proactive action based on available facts.</span><br></li>
                                                                            <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">Keep an eye on events until they are rectified.</span><br></li>
                                                                        </ul>
                                                                        <p>The solution will provide the following:<br></p>
                                                                        <ul class="synergyList">
                                                                            <li>current events and incidents in near real-time.<br></li>
                                                                            <li><span style="font-weight: normal !important; font-style: normal !important;">Historical data (events) analysis to forecast/observe seasonal patterns</span><br></li>
                                                                            <li><span style="font-weight: normal !important; font-style: normal !important;">Provide situational info to help in proactive decision making</span><br></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">This solution maintains systematic records related to an incident in one place.<br></li>
                                                                            <li class="p-2">It helps in decision-making and saves time.<br></li>
                                                                            <li class="p-2">It provides real-time visibility of events/incidents. That can help monitor incidents until they are resolved.<br></li>
                                                                            <li class="p-2">It also helps to track previous crime records<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide mt-5" data-ride="carousel" id="carousel-7">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/Themes/SynergySolutions/images/iip-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/Themes/SynergySolutions/images/iip-2.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/Themes/SynergySolutions/images/iip-3.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-7" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-7" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-7" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-7" data-slide-to="1"></li>
                                                                                <li data-target="#carousel-7" data-slide-to="2"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" data-toggle="tooltip" data-bss-tooltip="" id="accordion-1">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Case Study – QOOT Project Management HRMS- www.qootco.com</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction<br></h1>
                                                                <p class="card-text p-2">Qoot is an interesting hotel investment and management firm. It is a significant operator and investor in the food and beverage sector in Europe, the Middle East, and beyond. Using high-potential brands to generate the most profitable portfolio possible. Maintaining high standards of quality, innovation, and customer satisfaction. In Saudi Arabia, QOOT employs thousands of people.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><br><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <ul class="list-unstyled">
                                                                            <li class="p-2">In this fast-paced business, QOOT demanded the safe and efficient preservation of employee data as well as the automation of the resource management process. So they can easily process employee information on the system without wasting time on paperwork. Furthermore, the software system offers an efficient approach to storing and retrieving employee data as needed.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p>QOOT created its Human Resource Management System with the support of Synergy low-code digital transformation (HRMS). This solution was created to automate the human resources process while maintaining transparency and a suitable communication channel between employees and the firm.<br><br>The program provides users with various dashboards to keep them up to speed on the company's current state.<br><br>It also includes leave management, payroll management, attendance management, manpower management, document management, and MIS reports.<br></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">It streamlined HR tasks for efficient employee management.<br></li>
                                                                            <li class="p-2">It helps monitor KPIs and attendance management for better employee services.<br></li>
                                                                            <li class="p-2"><span style="font-weight: normal !important; font-style: normal !important;">It is a cost-effective solution and eliminates errors and risks.</span><br></li>
                                                                            <li class="p-2">It provides a more efficient hiring process.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide" data-ride="carousel" id="carousel-1">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/qoot-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/qoot-2.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" data-toggle="tooltip" data-bss-tooltip="" id="accordion-8">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-8 .item-1" href="#accordion-8 .item-1">Case Study – Indian State Police@*(ICOP)*@</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-8">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Introduction<br></h1>
                                                                <p class="card-text p-2">
                                                                    @*Data from the Crime &amp; Criminal Information System (CCIS) was utilized to publish online reports and to provide online query capabilities on the NCRB website. CCIS focuses solely on crime and criminal information and does not handle other parts of police operations. CIPA covers the filing of an FIR, the investigation of the case, and the prosecution process. It keeps track of hardcore criminals, habitual offenders, and Organized Gangs.*@
                                                                    Data from the Crime & Criminal Information System (CCIS) was utilized to publish online reports and to provide online query capabilities on the NCRB website. CCIS focuses solely on crime and criminal information and does not handle other parts of police operations. CIPA covers the filing of an FIR, the investigation of the case, and the prosecution process. It keeps track of hardcore criminals, habitual offenders, and Organized Gangs.<br>
                                                                </p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">CCTNS is a unified system for improving policing efficiency and effectiveness.<br></li>
                                                                            <li class="p-2">IT-enabled tracking system for 'crime investigation and criminal detection.'<br></li>
                                                                            <li class="p-2">Provide an integrated service portal to assist individuals in areas with a high crime rate in receiving alerts about crime hot spots.<br></li>
                                                                            <li class="p-2">A simple interface for reporting any occurrence to the police department and enabling immediate and swift response with nearby available resources to assist individuals.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p><strong>Analysis Dashboard:</strong><br>The solution can be divided into two major parts:<br></p>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">Citizen Facing:- Citizens can access the different features of the app like crime alerts, view crime hot-spots areas, and view and search for the nearest police station.<br></li>
                                                                            <li class="p-2">Police Facing:- police can access the different features like searching and tracking the nearest police resources to the incident location and creating the crime report with time stamp and geo-tagging features, creating alerts, data plotting, and GIS Layers.<br></li>
                                                                        </ul>
                                                                        <p><strong>Mobile Application:&nbsp;</strong>@*<br>Crime and Criminal Tracking Networks and Systems&nbsp;*@<br></p>
                                                                        <ul class="synergyList">
                                                                            <li>Crime and Criminal Tracking Networks and Systems </li>
                                                                            <li>It integrates all the data and records of crime into a Core Application Software (CAS) relevant to FIRs and other reports filed with the police.</li>
                                                                            <li>API development as per user requirement for fetching data relevant to the query from various sources</li>
                                                                            <li>CCTNS analysis with all information retrieved from this system for quicker and more comprehensive analysis.</li>
                                                                            <li>Track record history by CCTNS.</li>
                                                                            <li>The database is MS-SQL.</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">This portal helps in monitoring incidents until they are resolved.<br></li>
                                                                            <li class="p-2">It provides real-time visibility of events and incidents and information to make better decisions.<br></li>
                                                                            <li class="p-2">It also provides faster-paced processing.<br></li>
                                                                            <li class="p-2">It helps maintain systematic records related to an incident in one place, which makes it easier to track previous criminal records and details of the person.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide mt-2" data-ride="carousel" id="carousel-6">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/Themes/SynergySolutions/images/icop-1.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-6" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-6" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-6" data-slide-to="0" class="active"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tablist" data-toggle="tooltip" data-bss-tooltip="" id="accordion-7">
                                                    <div class="card">
                                                        <div class="card-header" role="tab">
                                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-7 .item-1" href="#accordion-7 .item-1">Case Study – Alshaya Survey Management System - www.alshaya.com/en</a></h5>
                                                        </div>
                                                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-7">
                                                            <div class="card-body">
                                                                <h1 class="accor-sub-title">Client Details &nbsp;<br></h1>
                                                                <p class="card-text p-2">Alshaya Group is a dynamic family-owned large enterprise with more than 50,000 employees, established in Kuwait in 1890. With a consistent record of growth and innovation, Alshaya Group is one of the world’s leading brand franchise operators, offering an unparalleled choice of well-loved international brands to customers.<br></p>
                                                                <div class="row gx-5 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 business-issue-card p-5">
                                                                        <h1 class="business-issue-heading">Problem<br></h1><img class="business-issue-img p-2 mt-3" src="~/synergySolutions/img/question-1.png">
                                                                        <p><br></p>
                                                                        <p>ALSHAYA required to collect regular<br>feedback about employee satisfaction with HR services and policies. They used<br>Microsoft based survey tools, but all survey analytics was done manually in<br>excel.<br></p>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 solution-card p-5">
                                                                        <h1 class="solution-heading">Solution<br></h1>
                                                                        <p><br>A flexible survey tool was configured on Synergy platform in two week’s time to enable the HR to conduct many kinds of surveys.<br><br>Survey analytics were displayed online through configured dashboard and reports.<br><br>Synergy’s low code digital transformation, built Survey Management System (SMS) for ALSHAYA . It stores the customer &amp; employee feedback data to automate the management process that they can easily send and analyze survey online.<br></p>
                                                                    </div>
                                                                </div>
                                                                <div class="row gx-5 result-row mt-3 w-98">
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 result-card p-5">
                                                                        <h1 class="solution-heading">Results<br></h1><br>
                                                                        <ul class="synergyList">
                                                                            <li class="p-2">HR survey results and findings can be widely circulated quickly after survey completion<br></li>
                                                                            <li class="p-2">Synergy based survey tool removed lot of manual steps in conducting different kinds of surveys both in English<br>and Arabic.<br></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-5">
                                                                        <div class="carousel slide" data-ride="carousel" id="carousel-5">
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active"><img class="w-100 d-block" src="~/synergySolutions/img/alshaya-1.png" alt="Slide Image"></div>
                                                                                <div class="carousel-item"><img class="w-100 d-block" src="~/synergySolutions/img/alshaya-2.png" alt="Slide Image"></div>
                                                                            </div>
                                                                            <div><a class="carousel-control-prev" href="#carousel-5" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-5" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-5" data-slide-to="1"></li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

