@{
    ViewData["Title"] = "Synergy Career";
    //Layout = null;
}

<script>
    


    function UploadResume(jobType) {
        var url = "/SynergySolutions/SynergySolutions/UploadResume?jobType=" + jobType;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Upload Resume', Width: 600, Height: 600 });
        return false;
    }

    function uploadNotification() {
        ShowNotification("Resume Sent Successfully.", "success");
    }

</script>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-career-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Career</h1>
                                <p class="banner-text-sml">Interested in working with us?<br>Apply and build your career at Synergy<br><br>Synergy is an employee-friendly company. We consider our staff to be our most valuable asset. <br>We urge our employees to contribute their thoughts and ideas to make the workplace a better place.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h6 class="text-muted main-title-bg">&nbsp;Job Listings<br></h6>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h6 class="text-muted card-subtitle sub-title">Java Developer</h6>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-10">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Experience:</strong> 2 to 3 years<br></li>
                                                    <li class="p-2"><strong>Location:</strong> Navi Mumbai, Delhi NCR<br></li>
                                                    <li class="p-2"><strong>Job Description:</strong>&nbsp;<br>We are searching for a Java developer that has worked on high-performance, scalable, enterprise-grade applications.&nbsp;<br><br>You will be a member of a skilled software team working on mission-critical applications. Java developer duties and responsibilities include managing Java/Java EE application development and offering knowledge throughout the software development lifecycle, from concept to design to testing. Responsibilities of a Java developer include designing, creating, and delivering high-volume, low-latency applications for mission-critical systems.<br><br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-10 text-center d-flex align-items-center justify-content-center"><button class="btn btn-secondary" type="button" style="background: #003366;" onclick="UploadResume('Java Developer');">Upload Resume</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <h6 class="text-muted card-subtitle sub-title">Android Developer<br></h6>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-10">
                                                <ul class="synergyList">
                                                    <li class="p-2"><strong>Experience:</strong>&nbsp;3 to 5 years<br></li>
                                                    <li class="p-2"><strong>Location:</strong>&nbsp;Bhopal, Delhi<br></li>
                                                    <li class="p-2"><strong>Job Description:</strong>&nbsp;<br>Conceptualize and formulate apps that are suitable for use on all types of Android devices.&nbsp;<br>Implementing measures to safeguard users' data.&nbsp;<br><br>Ensure that the construction and presentation of your apps are congruent with the company's standards.&nbsp;<br><br>Proofread your code and correct mistakes before each app is released.&nbsp;<br><br>Collaborating with UI and UX designers, as well as software testers, to ensure that each app is presentable and in perfect working order.&nbsp;<br><br>Liaising with the marketing department to ensure consistency in our company's "voice" across the board.&nbsp;<br><br>Monitoring app reviews to detect areas for improvement. Creating app updates, including bug fixes and additional features, for release.<br></li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-10 text-center d-flex align-items-center justify-content-center"><button class="btn btn-secondary" type="button" style="background: #003366;" onclick="UploadResume('Android Developer');">Upload Resume</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                <p class="p-2">Please send your updated CV to our site if your profile does not match any of our current positions. We will contact you if an opportunity matching your profile becomes available.<br></p>
                                                <div class="text-center"><button class="btn btn-secondary" type="button" style="background: #003366;" onclick="UploadResume('General');">Upload Resume</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-career-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h1 class="inn-banner-header-text">Career</h1>
                                    <p class="banner-text-sml">Synergy is an employee friendly organization. We believe that employees are the greatest assets. We encourage our employees to provide their input and ideas to create a better environment.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class=" main-title-bg">Job Listings<br></h6>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">Java Developer</h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Experience:</strong> 2 to 3 years<br></li>
                                                        <li class="p-2"><strong>Location:</strong> Navi Mumbai, Delhi NCR<br></li>
                                                        <li class="p-2"><strong>Job Description:</strong>&nbsp;<br>We are looking for a Java Developer with experience in building high-performing, scalable, enterprise-grade applications.You will be part of a talented software team that works on mission-critical applications. Java developer roles and responsibilities include managing Java/Java EE application development while providing expertise in the full software development lifecycle, from concept and design to testing.Java developer responsibilities include designing, developing and delivering high-volume, low-latency applications for mission-critical systems.<br><br></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-10 text-center d-flex align-items-center justify-content-center"><button class="btn btn-secondary" type="button" style="background: #003366; margin-bottom: 15px;" onclick="UploadResume('Java Developer');">Upload Resume</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">Android Developer<br></h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Experience:</strong>&nbsp;3 to 5 years<br></li>
                                                        <li class="p-2"><strong>Location:</strong>&nbsp;Bhopal, Delhi<br></li>
                                                        <li class="p-2"><strong>Job Description:</strong>&nbsp;<br>Conceptualizing and formulating apps that are suitable for use on all types of Android devices.Implementing measures to safeguard users' data.Ensuring that the construction and presentation of your apps are congruent with the company's standards.Proofreading your code and correcting mistakes before each app is released.Collaborating with UI and UX Designers, as well as Software Testers, to ensure that each app is presentable and in perfect working order.Liaising with the marketing department to ensure consistency in our company's 'voice' across the board.Monitoring app reviews to detect areas for improvement.Creating app updates, including bug fixes and additional features, for release.<br><br></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-10 text-center d-flex align-items-center justify-content-center"><button class="btn btn-secondary" type="button" style="background: #003366; margin-bottom: 15px;" onclick="UploadResume('Android Developer');">Upload Resume</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-2">If your profile does not match any of our current openings, please send your updated CV to our portal. We will contact you when we have an opportunity that matches your profile.<br></p>
                                                    <div class="text-center"><button class="btn btn-secondary" type="button" style="background: #003366; margin-bottom: 15px;" onclick="UploadResume('General');">Upload Resume</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>



 
