@{
    ViewData["Title"] = "Overview";
    //Layout = null;
}


<script type="text/javascript">
    $(document).ready(function () {
        $('head').append('<meta http-equiv="X-UA-Compatible" content="The Synergy low code digital transformation platform is perfect for enterprises that want modules to be customised to match their individual specifications and changing demands." />');
    });

    

    function SynergyPlatformViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-synergy-platform-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Synergy Platform</h1>
                                <p class="banner-text-sml">Synergy work management features make it easy to allocate and manage work to geographically distributed team members remotely.</p>
                                <div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                        <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                        <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card usecase-bg">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                                    <h1 class="main-title-bg"><strong>What is Synergy?</strong><br></h1>
                                                    <p>Synergy is an agile and advanced digital transformation platform to improve process quality, optimize operational costs by automating all manual and disintegrated work, and improve management oversight to drive employee and customer engagement in an ever-changing and dynamic world.<br><br>At the same time, Synergy helps in capturing the tacit knowledge of the process and increasing work accountability, thereby reducing the risk of customer service disruption and dependency on critical resources. Hence, business resilience and continuity are substantially increased to deal with challenges such as a pandemic or high employee turnover.<br><br>Synergy seamlessly integrates with all existing systems and provides cohesive business intelligence, thus simplifying the adoption of technology for business users that helps in realizing a great return on investment in technology solutions.<br></p>
                                                </div>
                                                <div class="col-xl-6">
                                                    @*<img class="img-fluid" src="assets/img/about-Synergy.png">*@
                                                    <img class="img-fluid" src="../../Themes/SynergySolutions/images/about-Synergy.jpeg">
                                                    <h1 class="image-titles text-center"><br><br><strong>Synergy is used in different Industry Sectors to gain competitive advantage</strong><br></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card usecase-bg">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h1 class="main-title-bg"><strong>Synergy - Unique selling point</strong><br></h1>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pt-10">
                                                            <ul class="synergyList">
                                                                <li class="p-1">Futureproof Single platform approach to leverage technology across business functions – no need to worry about the latest technology developments. The latest and best technology is made available to you continuously through Synergy platform enhancements.<br></li>
                                                                <li class="p-1">One-stop shop to fulfill all automation gaps - There is no need to deal with multiple technology vendors and disintegrated business solutions.<br></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pt-10">
                                                            <ul class="synergyList">
                                                                <li class="p-1">Lightning-fast implementation and enhancements – agile delivery of new features/templates on a weekly basis.<br></li>
                                                                <li class="p-1">Template-driven approach to automating business processes by business analysts – drag and drop interface to design and roll-out automated processes by nontechnical resources. That means fewer technical overheads.<br></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card usecase-bg">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h1 class="main-title-bg"><strong>Various Synergy Modules</strong><br></h1>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pt-10">
                                                            <ul class="synergyList">
                                                                <li class="p-1">
                                                                    Business Process Management [BPM]<br>
                                                                    <ul class="synergyList">
                                                                        <li>Workflow &amp; process designer<br></li>
                                                                        <li>Automation Templates<br></li>
                                                                        <li>Security &amp; Access Control<br></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="p-1">Content Management Solution [CMS]<br></li>
                                                                <li class="p-1">Document Management Solution [DMS]<br></li>
                                                                <li class="p-1">Integrated Business Intelligence Suite [IBIS]<br></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pt-10">
                                                            <ul class="synergyList">
                                                                <li class="p-1">
                                                                    Out-of- the-box business applications such as<br>
                                                                    <ul class="synergyList">
                                                                        <li>Complete HRMS suite<br></li>
                                                                        <li>Supply chain management<br></li>
                                                                        <li>Finance &amp; procurement<br></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="p-1">Mobile app development platform [Flutter by Google]<br></li>
                                                                <li class="p-1">Data Science Module leveraging on AI, ML and IOT technologies<br></li>
                                                                <li class="p-1">API &amp; Connectors Module for easy integration<br></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card usecase-bg">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <h1 class="main-title-bg"><strong>Synergy Low Code Digital Transformation Platform</strong><br></h1>
                                                    <p>Synergy Platform is created to support the complete digitization of business processes and remove manual work simply and cost-effectively. The platform is built to work with your existing business processes and technologies to create a custom solution that is tailored to your specific requirements.<br><br>Synergy platform will bring multiple benefits to your organization, such as leveraging technology to improve customer service, process efficiency, accountability, and transparency. The platform also reduces risk through improved business continuity in the event of a disruption, such as a pandemic or high employee turnover.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted main-title-bg">&nbsp; Automate end-to-end with Synergy<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-1">Deliver capabilities to improve competitive advantage<br></li>
                                                        <li class="p-1">Fill gaps in existing applications and infrastructure.<br></li>
                                                        <li class="p-1">Leverage Data/Analytics as a Key Enabler across the Enterprise<br></li>
                                                        <li class="p-1"><span style="font-weight: normal !important; font-style: normal !important;">Simplify processes and remove complexity.</span><br></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-1"><span style="font-weight: normal !important; font-style: normal !important;">Empower people to make decisions quickly.</span><br></li>
                                                        <li class="p-1"><span style="font-weight: normal !important; font-style: normal !important;">Simplify people's changes and solutions.</span><br></li>
                                                        <li class="p-1"><span style="font-weight: normal !important; font-style: normal !important;">To create an agile and adaptive organization</span><br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row row-spacing">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="~/synergySolutions/img/traditional%20methods.jpg"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="height: auto;">
                                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                                        <p class="text-justify d-flex align-items-center justify-content-center" style="font-weight: bold;">Traditional digital tools are only 10% effective versus Low Code Platforms, which are 65% effective in achieving digital transformation.<br></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row row-spacing">
                                                <div class="col">
                                                    <h6 class="text-muted sub-title"><strong>&nbsp; &nbsp;Following are strategic benefits that can be derived from Digital transformation</strong><br><strong>&nbsp; &nbsp;approach to doing business.</strong><br></h6>
                                                </div>
                                            </div>
                                            <div class="row row-spacing">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="~/Themes/SynergySolutions/images/Advancement.png"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="~/Themes/SynergySolutions/images/Empowerment.png"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="~/Themes/SynergySolutions/images/Innovation.png"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="~/Themes/SynergySolutions/images/Performance.png"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted main-title-bg">Synergy offers several modules catering to various business solutions, like<br></h2>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">&nbsp; Business Process Management</h3>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-1">The BPM module consists of the Workflow Engine, Process Designer, Business Rule Engine, Templates, and Role-based Access Control. Activities within business processes can be assigned to individuals automatically once the process is initiated without requiring anybody to follow up manually.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">&nbsp; Content Management &amp; Portal</h3>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-1">It manages the life-cycle of information from original publication to all the way through archival and eventually disposal. We provide a unified platform, thereby reducing complexity and lowering integration costs.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">&nbsp; Analytics &amp; Dashboard<br></h3>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-1">It provides real-time visibility of performance indicators for the business functions. Prebuilt and easily customizable, these reports and analyses make it easy to get the data you need. Role-based access control to dashboards and key performance indicators (KPIs) reports helps you keep an eye on business performance.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">&nbsp; API Connector<br></h3>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-1">It is a complete, in-built, and scalable API platform that lets you create, publish, and manage APIs. This means you can exchange data with internal and external data sources easily in a secure manner. <br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h3 class="text-muted card-subtitle sub-title">&nbsp; Mobile App Platform<br></h3>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-1">It offers rapid development that allows a business to quickly build, test, and deploy mobile apps for smartphones or tablets. <br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted main-title-bg">Automate end-to-end processes with Synergy.<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Deliver capabilities to improve competitive advantage<br></li>
                                                        <li class="p-2">Fill gaps in existing applications and infrastructure.<br></li>
                                                        <li class="p-2">Leverage Data/Analytics as a Key Enabler across the Enterprise.<br></li>
                                                        <li class="p-2">Simplify processes and remove complexity.<br></li>
                                                        <li class="p-2">Empower people to make decisions quickly.<br></li>
                                                        <li class="p-2">Simplify people's changes and solutions.<br></li>
                                                        <li class="p-2">To create an agile and adaptive organization.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-spacing">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h2 class="text-muted main-title-bg">The benefits of the Synergy Platform are<br></h2>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill usecase-bg">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Data-Driven Customer Insights &amp; Growth</strong>:<br>Data is the key to unlocking customer insights. Using the Synergy platform, insights can be captured from both structured data (personal customer information) and unstructured data, to help drive business growth.<br></li>
                                                        <li class="p-2"><strong>Stronger Operations &amp; Performance Management</strong>:<br>Synergy helps in consolidating information and resources in operational processes to measure performance in real-time as well as collect feedback.<br></li>
                                                        <li class="p-2"><strong>Enhanced Collaboration &amp; Visibility</strong>:<br>Synergy is great at breaking silos among various business functions by providing information highways to build trust and increase transparency.<br></li>
                                                        <li class="p-2">Supporting Remote Work<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-synergy-platform-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h2 class="inn-banner-header-text">Synergy Platform</h2>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                            <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                            <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><label class="in-sec-desc text-left">Synergy Low Code Digital Transformation Platform</label></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card ">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <p>Synergy Platform is created to support complete digitization of business processes and remove manual work in simple and cost effective manner. It is designed to work within your existing business processes and technologies to build a custom solution that uniquely meets your needs.<br><br>Synergy will bring multiple benefits to organization, such as leveraging technology to improve customer service, process efficiency, accountability and transparency. Reducing risk by improving business continuity due to any disruption such as pandemic or high turnover of people.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="main-title-bg">Automate end-to-end with Synergy<br></h6>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Deliver capabilities to improve competitive advantage<br></li>
                                                        <li class="p-2">Fill gaps into Existing applications &amp; infrastructure<br></li>
                                                        <li class="p-2">Leverage Data/Analytics as a Key Enabler across the Enterprise<br></li>
                                                        <li class="p-2">Simplify processes &amp; remove Complexity<br></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Empower people to make decisions quickly<br></li>
                                                        <li class="p-2">Simplifies people Change &amp; solution adoption<br></li>
                                                        <li class="p-2">Create an agile &amp; adaptive organization<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="../../Themes/SynergySolutions/images/traditional%20methods.jpg"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="height: auto;">
                                                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                                        <p class="text-justify d-flex align-items-center justify-content-center" style="font-weight: bold;">Traditional digital tools are only 10% effective versus Low Code Platforms are 65% effective in achieving digital transformation.<br></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row ">
                                                <div class="col">
                                                    <h6 class="text-muted sub-title"><strong>Following are strategic benefits that can be derived from Digital transformation approach to doing business.</strong><br></h6>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Advancement.png"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Empowerment.png"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Innovation.png"></div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><img class="img-fluid" src="../../Themes/SynergySolutions/images/Performance.png"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class=" main-title-bg">&nbsp;Synergy Modules are-<br></h6>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">&nbsp; Business Process Management</h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-2">The BPM module consists of Workflow Engine, Process Designer, Business Rule Engine, Templates &amp; Role based Access Control. Activities within business processes can be assigned to individuals automatically once the process is initiated without requiring anybody to follow up manually.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">&nbsp; Content Management &amp; Portal</h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-2">It manages the life-cycle of information from original publication to all the way through archival and eventually disposal. We provide a unified platform thereby reducing complexity and lowering integration costs.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">&nbsp; Analytics &amp; Dashboard<br></h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-2">It provide real-time visibility of performance indicators for the business functions. Prebuilt and easily customizable, these reports and analyses make it easy to get the data you need. Role-based access control to dashboards and key performance indicators (KPIs) reports help you keep an eye on business performance.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">&nbsp; API Connector<br></h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-2">It is a complete, in-built and scalable API platform that lets you create, publish and manage APIs. This means you can exchange data with internal and external data sources easily in secure manner.&nbsp;<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <h6 class="text-muted card-subtitle sub-title">&nbsp; Mobile App Platform<br></h6>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <p class="p-2">It offers rapid development that allows a business to quickly build, test and deploy mobile&nbsp;apps&nbsp;for smartphones or tablets.&nbsp;<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="text-muted main-title-bg">Benefits of Synergy Platform are<br></h6>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill ">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2"><strong>Data-Driven Customer Insights &amp; Growth</strong>&nbsp;<strong>&nbsp;-&nbsp;</strong>Data is the key to unlocking customer insights. Using Synergy platform, insights can be captured from both structured data (personal customer information) and unstructured data, to help drive business growth.<br></li>
                                                        <li class="p-2"><strong>Stronger Operations &amp; Performance Management</strong>&nbsp;<strong>&nbsp;-&nbsp;</strong>Synergy helps in consolidating information and resources in operational processes to measure performance in real time as well as collect feedback.<br></li>
                                                        <li class="p-2"><strong>Enhanced Collaboration &amp; Visibility&nbsp;-&nbsp;</strong>Synergy is great in breaking silos among various business functions by providing information highways to build trust and increasing transparency.<br></li>
                                                        <li class="p-2"><strong>Supporting Remote work</strong>&nbsp;<strong>&nbsp;-&nbsp;</strong>Synergy work management features makes it easy to allocate and manage work to geographically distributed team members remotely.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
    </div>




