@{
    ViewData["Title"] = "Technology Used";
    //Layout = null;
}

<script type="text/javascript">
    


    function SynergyPlatformViewDocument(type) {
        if (type == "brochure") {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.brochureId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform Brochure', Width: 1200, Height: 600 });
            return false;
        }
        else {
            var url = "/cms/PreviewAttachment?Id=@ViewBag.dataSheetId&canEdit=false";
            var win = GetMainWindow();
            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: 'Synergy Platform DataSheet', Width: 1200, Height: 600 });
            return false;
        }
    }
</script>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-technology-used-bg img-fluid">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Technology Used</h1>
                                <p class="banner-text-sml">Synergy uses various technology stacks to create and customize the solutions offered.</p>
                                @*<div class="row" style="margin-left:15px;">
                                    <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                        <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                        </a>

                                    </div>
                                    <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                        <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                            <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                            <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                        </a>

                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card">
                                    <div class="card-body text-justify">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <p class="p-2">Synergy Low Code Digital transformation is a software application platform that is designed to simplify complex business processes, manage unstructured information, and drive customer engagement based on changing demands. Businesses can use the platform to design and launch complex, content-driven, and customer-engaging commercial apps using low code. Our platform is ideal for organizations that need to customize modules to meet their specific requirements and changing needs.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h1 class="text-muted main-title-bg">&nbsp;Synergy Architecture Diagram<br></h1>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row row-spacing">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"><img class="img-fluid text-center" src="~/synergySolutions/img/Synergy%20Architecture-2.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">&nbsp;Synergy Technology Used<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row row-spacing">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                <h6 class="text-muted sub-title">&nbsp; Application Stack</h6><img class="img-fluid" src="~/synergySolutions/img/application%20stack.jpg">
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                <h6 class="text-muted sub-title">&nbsp; Distributed Network Architecture</h6><img class="img-fluid" src="~/synergySolutions/img/distributed-network-architecture.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-muted main-title-bg">The Key Features of Synergy<br></h2>
                            </div>
                            <div class="col">
                                <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                    <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                <ul>
                                                    <li class="p-2 bulletlist">Hardware - It can be hosted in the cloud or on-premises. There are per-user and per-core licenses available.<br></li>
                                                    <li class="p-2 bulletlist">Synergy can perform automatic data backups at predetermined intervals. If necessary, backups can be simply restored on the server for rollbacks.<br></li>
                                                    <li class="p-2 bulletlist">Integration with different SSO (Single Sign-On) providers. <br></li>
                                                    <li class="p-2 bulletlist">Control of access depends on users and roles.<br></li>
                                                    <li class="p-2 bulletlist">For mobile and desktop apps, the fastest Graph QL APIs are available.<br></li>
                                                    <li class="p-2 bulletlist">The Google Flutter framework is used to construct the mobile apps (compatible with Windows, Linux, and Mac).<br></li>
                                                    <li class="p-2 bulletlist">The Electron framework is used to create this desktop program, which is accessible for various operating systems like Windows, Linux, and MAC.<br></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="hero-banner">
            <div class="row">
                <div class="col HB-technology-used-bg img-fluid">
                    <div class="text-center hero-desc-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                    <h2 class="inn-banner-header-text">Technology Used</h2>

                                    <div class="row" style="margin-left:15px;">
                                        <div class="btn-group row" style="cursor:pointer; float: left; display: inline-block; text-align:center;margin-right: 20px;" title="Synergy Platform Brochure">
                                            <a id="overviewb" style="border-radius: 5px; margin-right: 10px;" onclick="SynergyPlatformViewDocument('brochure')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewb" style="display:block; color:white; cursor: pointer">Brochure</label>
                                            </a>

                                        </div>
                                        <div class="btn-group row" style="cursor: pointer; float: left; display: inline-block; text-align:center;" title="Synergy Platform DataSheet">
                                            <a id="overviewd" style="border-radius:5px" onclick="SynergyPlatformViewDocument('dataSheet')">
                                                <img class="p-2 img-fluid" src="../../Themes/SynergySolutions/images/pdf-icon.png">
                                                <label for="overviewd" style="display:block; color:white; cursor: pointer;margin-left: 15px;">DataSheet</label>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="use-case-poc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="ucpoc-bg">
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body text-justify">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <p>Synergy Low Code Digital transformation is a software application platform which is designed to simplify complex business processes, manage unstructured information, and drive customer engagement based on changing demands. Businesses can use the platform to design&nbsp;and launch complex, content-driven&nbsp;and customer engaging commercial apps using low-code. Our platform is ideal for organizations&nbsp;that need to customise modules to meet their specific requirements and changing needs.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class=" main-title-bg">Synergy Architecture Diagram<br></h6>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row ">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10"><img class="img-fluid" src="../../Themes/SynergySolutions/images/synergy-architecture-diagram.jpg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class=" main-title-bg">Synergy Technology Used<br></h6>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row ">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                    <h6 class="text-muted sub-title">&nbsp; Application Stack</h6><img class="img-fluid" src="../../Themes/SynergySolutions/images/application%20stack.jpg">
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-10">
                                                    <h6 class="text-muted sub-title">&nbsp; Distributed Network Architecture</h6><img class="img-fluid" src="../../Themes/SynergySolutions/images/distributed-network-architecture.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <h6 class=" main-title-bg">Key Features of Synergy<br></h6>
                                </div>
                                <div class="col">
                                    <div class="card flex-grow-1 flex-shrink-1 flex-fill">
                                        <div class="card-body text-left text-sm-left text-md-left text-lg-left text-xl-left">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-10">
                                                    <ul class="synergyList">
                                                        <li class="p-2">Hardware&nbsp;-<strong>&nbsp;</strong>It can be hosted in the cloud or on-premises. There are per-user and per-core licenses available.&nbsp;<br></li>
                                                        <li class="p-2">Synergy can perform automatic data backups at predetermined intervals. If necessary, backups can be simply restored on the server.<br></li>
                                                        <li class="p-2">Integration with different SSO (Single Sign On) providers. Control of access depending on users and roles.<br></li>
                                                        <li class="p-2">For mobile and desktop apps, the fastest Graph QL APIs is available.<br></li>
                                                        <li class="p-2">The Google Flutter framework was used to construct the mobile app (compatible with Windows, Linux, and Mac).<br></li>
                                                        <li class="p-2">Electron framework was used to create this desktop programme, which is accessible for Windows, Linux, and MAC.<br></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

