@{
    ViewData["Title"] = "Terms of use | Synergy";
    //Layout = null;
}



<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col img-fluid" style="background-color: black">
                <div class="text-center hero-desc-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Terms of Use<br></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ucpoc-bg">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                @*<h2 class="text-muted main-title-bg">Bug Tracking<br></h2>*@
                                <p>
                                    The following are the terms and conditions for using the website www.xtranetindia.com. The user shall have to accept the same conditions. You are therefore requested to read them carefully before you use the services of this site.<br />
                                    <ol>
                                        <li class="p-2">The term User shall refer to the user who is browsing the site. The term XtraNet shall refer to XtraNet Technologies Private Limited. The term site refers to www.xtranetindia.com owned and monitored by XtraNet Technologies Private Limited.</li>
                                        <li class="p-2">By using the Site, you agree to follow and be bound by the following terms and conditions concerning your use of the site. XtraNet reserves the right to revise the Terms of Use at any time without any prior notice. Specific areas of the Site may have different terms of use posted. In case of a conflict between these Terms of Use and terms of use posted for a specific area of the site, the latter shall prevail for the purpose of your use of that area of the site.</li>
                                        <li class="p-2">The user may visit the website without any prior intimation to XtraNet. However, in certain circumstances, XtraNet requires the user to disclose its identity.</li>
                                        <li class="p-2">All information and material in this site are provided on an "as is" "with all faults" and "as available" basis, and are without guarantees, representations or warranties of any kind, expressed or implied, including without limitation those of merchantability and fitness for a particular purpose and non-infringement, with respect to any material, information, data or statement on the site. Furthermore, any ideas and / or information provided or gained from this site would not necessarily reflect the views of XtraNet Technologies Private Limited or its directors, officers or employees.</li>
                                        <li class="p-2">The materials and / or information available or obtained at / through this site and the contents of the site is / are not guaranteed or warranted in terms of completeness, correctness, accuracy and reliability.</li>
                                        <li class="p-2">All content present on this site is the exclusive property of XtraNet Technologies Private Limited. The text, images, graphics, video and audio used on this site belong to XtraNet. The contents of this site shall not be reproduced, copied, modified, republished, transmitted, posted, uploaded, distributed or published in any manner, in whole or in part by the recipient hereof or any other person for any purpose without the prior written approval of XtraNet.</li>
                                        <li class="p-2">The site will not be used in any way that is in any way unlawful or in any way that would harm XtraNet.</li>
                                        <li class="p-2">XtraNet shall have no responsibility for any damage to user's computer system or loss of data those results from the download of any content, materials, information from the site.</li>
                                        <li class="p-2">XtraNet may change or discontinue any aspect of its website at any time, including, its content or features. XtraNet reserves the right to change the terms and conditions applicable to use of the Site. Such changes shall be effective immediately upon notice, which shall be placed on the site.</li>
                                        <li class="p-2">While the site may be updated with changes periodically, XtraNet does not guarantee that this site reflects the latest information at all times or at any time.</li>
                                        <li class="p-2">XtraNet makes no warranty that: (a) the site will meet your requirements; (b) the site will be available on an uninterrupted, timely, secure, or error free basis; (c) the results that may be obtained from the use of the site or any services offered through the site will be accurate or reliable.</li>
                                    </ol>


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }

    window.onbeforeunload = function () {
        window.scrollTo(0, 0);
    }
</script>

