@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business
@using Newtonsoft.Json;



@model Synergy.App.ViewModel.PartnerRegistrationViewModel

<style>
    /* .card-body {
        padding: 10px !important;
        width: 100%;
        font-size: 16px;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 3px 0 rgb(218 218 253 / 65%), 0 1px 3px 0 rgb(206 206 238 / 54%);
    }*/
</style>

<div>
    <div class="hero-banner">
        <div class="row">
            <div class="col HB-about-us-bg img-fluid">
                <div class="text-center HB-white-paper">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto col-sm-12 col-md-11 col-lg-8 col-xl-7">
                                <h1 class="inn-banner-header-text">Whitepaper</h1>
                                <p class="banner-text-sml">Your Success Partner in Digital Era ‘Synergy- Low Code Digital Transformation’</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="use-case-poc">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-9">
                            <h2 class="main-title-bg">Digital is elusive in modern times!<br></h2>
                            <div class="card">
                                <div class="card-body text-justify">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <p>Digital. Digital. Digital. For the past few years, organizations have been told there is only one road to success: Digital.&nbsp;<br><br>It enables businesses to modernize legacy processes, accelerate efficient workflows, strengthen security, and increase profitability. Digital transformation being complex, often makes organizations stumble when it comes to automating processes that are complex, content-driven, and involve sophisticated, omnichannel customer interactions.<br><br>Don’t worry, Synergy can help! A platform to simplify your business's complex needs.<br><br>With the Synergy low code digital transformation platform, you can begin your digital transformation journey with confidence and in the most cost-effective manner possible.&nbsp;<br><br>Before starting your digital transformation journey with us, let us look at why we are the best choice for your business.<br><br><br><span style="font-weight: normal !important; font-style: normal !important;">So what are you waiting for? Jumpstart your Digital Transformation Journey with ‘Synergy’ digitalize your day-to-day processes and reduce manual work simply and cost-effectively. We have 20+ years of experience serving customers across the world. What’s more, we have also served across all sectors (small, medium &amp; large) and industries.</span><br><br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-3">
                            <div class="card">
                                <div class="card-body text-justify">
                                    <form id="myform" asp-controller="SynergySolutions" asp-action="SendWhitePaperEmail"
                                          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                                          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                                          data-ajax="true" data-ajax-method="POST" class="sppb-addon-form-builder-form">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <h2 class="main-title-bg">Signup to Download<br></h2>
                                                <div class="text-danger"></div>
                                                <p><input asp-for="Email" type="email" class="input-wp-mail"><br>By submitting this form, you agree to receive communication from Synergy Solutions. We provide an unsubscribe link and an opt-out mechanism in all our communications.<br></p>
                                            </div>
                                        </div>
                                        <div><input asp-for="PageId" type="text" value="@ViewBag.pageId" class="input-wp-mail" hidden></div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"><button class="btn btn-secondary btn-wp-submit" type="submit">Get Whitepaper</button></div>
                                        </div>
                                        @*@Html.HiddenFor(m => m.PageId)*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var onAjaxSuccess = function (res) {

        if (res.success) {

            var html = '<span class="sppb-text-success" class="color:white;">Email has been sent to the user successfully with the attachment</span>';
            $(".text-danger").html(html);
            $(".text-danger").show();
            $("#myform")[0].reset();
        }
        else {
            showError1(res.error);
        }
        HideLoader($('.page-content'));
    };
    var showError1 = function (error) {
        HideLoader($('.page-content'));
        var html = '<span class="sppb-text-danger">' + error + '</span>';
        $(".text-danger").html(html);
        $(".text-danger").show();
    }
</script>
