
@{ ViewData["Title"] = "Worksnaps";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">




@*<section class="Top-header"></section>*@


<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/worksnaps.jpg');
    ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">Worksnaps</h1><br>
                <h6 class="hero-banner-subtitle no-display">Manage all your projects and team collaboration at one place</h6>
            </div>
        </div>
    </div>
</section>
<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-worksnaps.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-worksnaps.jpg"></div>
            <div class="col-md-6">
                <!--<div class="content">-->
                <h1>Worksnaps</h1><br>
                <p class="text-justify">Office computers/laptops that staff use can be monitored without affecting the privacy of employees. E.g. Productivity analysis software can be installed on an employee’s laptop.The software can capture screen content of the laptop user frequently e.g. every 5 minutes and store it locally on the laptop.The software can analyze if the software is within permitted list of software, then it can analyze if any changes happened in the system between two successive screenshots such as mouse movements, number of clicks etc. After analyzing images, software will delete those images and only send the statistical information to server to reporting purposes.Hence, cyberslacking (online time wasting) can be reduced in order to improve productivity. Frequent checking of emails/messages also can be discouraged since interruptions disrupts productivity.</p>
                <!--</div>-->
                <!--<br><button class="btn btn-primary more" type="button"></button>-->
            </div>
        </div>
    </div><br>
</section>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }</script>

<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>