@*@using Syncfusion.EJ2.Navigations*@

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Core/Views/Shared/_EmptyLayout.cshtml";
}
<div style="width100%;text-align:center;">
    <h3 class="p-3" style="color:red;">Not Authorized</h3>
    <h6 style="color:red;">You are not authorized to access this page</h6>
</div>
