@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model List<RecTaskViewModel>
@{
    ViewBag.Title = "Bulk Task Approve";
    Layout = ViewBag.Layout;

}

<style>

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .iconwothtext {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .leftmenustyle {
        font-size: 14px;
        color: #4b4f56;
        margin-bottom: 6px;
        font-weight: normal;
        margin-top: 6px;
        padding-left: 5px;
        border-bottom: 1px medium rgba(255, 255, 255, .5);
    }

    .col-1 {
        flex: none !important;
    }
    /* The hero image */
    .head-image {
        object-fit: fill;
    }

    /* Place text in the middle of the image */
    .head-text {
        text-align: left;
        position: absolute;
        top: 28%;
        color: white;
    }

    .head-img {
        max-width: 100%;
        max-height: 149px;
        width: 100%;
        object-fit: none;
    }

    .main {
        margin-top: 1%;
        text-align: right;
    }

    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
        /*width: 100%;*/
    }

    .form-group {
        width: 40%;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .task-card {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 1%;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 98%;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eee;
        min-height: 160px;
    }

    .sub-div {
        overflow-y: scroll;
        height: 260px;
        overflow-x: hidden;
    }

    .card-heading {
        margin-left: 1%;
        font-weight: bold;
        margin-top: 12px;
    }

    .item-hover:hover {
        background-color: #d3d3d340;
        cursor: pointer !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .k-dropdown:hover {
        transform: none !important;
    }

    .k-select:hover {
        transform: none !important;
    }

    .k-input:hover {
        transform: none !important;
    }

    .k-state-hover :hover {
        transform: none !important;
    }

    span:hover {
        transform: none !important;
    }

    .k-link:hover {
        transform: none !important;
    }

    h6:hover {
        transform: none !important;
    }

    .form-control:hover {
        transform: none !important;
    }

    input:hover {
        transform: none !important;
    }

    .task-title {
        padding: 10px;
        background-color: #1c4893;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 0px;
        margin-right: 10px;
    }
</style>
<script type="text/javascript">
    var splitter = $('.splitter-container').height(200).split({
        orientation: 'vertical',
        limit: 10,
        position: '20%', // if there is no percentage it interpret it as pixels
        onDrag: function (event) {
            console.log(splitter.position());
        }
    });
    $(document).ready(function () {
        ShowLoader($('.task-card'));

    });
    function load() {
        HideLoader($('.task-card'));
        //introJs().setOptions({
        //    steps: [{
        //        title: 'Welcome',
        //        intro: 'This page is for bulktask approve'
        //    },
        //    {
        //        element: document.querySelector('.task-card'),
        //        intro: 'This is task card'
        //    },
        //    {
        //        element: document.querySelector('.card-heading'),
        //        intro: 'This is a task heading'
        //    },

        //    {
        //        element: '#Grid_edit',
        //        intro: 'This is to edit'
        //        },

        //        {
        //            element: '#Grid_update',
        //            intro: 'This is to update'
        //        },

        //        {
        //            element: '#Grid_cancel',
        //            intro: 'This is to cancel'
        //        },

        //  ]
        //}).start();


    }
    function onTest() {
        ///cms/task / tasklist ? code = SCHEDULE_INTERVIEW_RECRUITER

         var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("TaskList", "Task", new { @area="Cms"})?code=SCHEDULE_INTERVIEW_RECRUITER';
        win.OpenWindow({ Title: 'Test', Width: 1000, Height: 950 });
        return false;
    }

</script>
<div class="main">
    <div class="col-sm-6 form-group" style="text-align:left;top:-10px;">
        <h3>Bulk Task Approval</h3>
    </div>
    <!-- Actual search box -->
    @*<div class="col-sm-6 form-group has-search pull-right">
            <span class="fa fa-search form-control-feedback"></span>
            <input id="mysearch" type="text" class="form-control" placeholder="Search by task subject, description or number">
        </div>*@

</div>
@*<button class="btn btn-link" type="button" onclick="onTest();" >
        test
    <!--<div>
        @foreach (var task in Model)
        {-->

            <div>@task.TemplateCode</div>

            <!--<div class="task-card">
                <div style="background-color:#efefef!important">
                    <div class="row" style="height: 50px;">
                        <div class="col-md-11">
                            <div style="float: left; margin-left: 30px; margin-top: 8px;">-->
                                <i class="fad fa-calendar-alt" style="font-size: 17px; margin-top: 9px;"> </i>

                            <!--</div>
                            <div style="margin-left:30px;">
                                <h5 class="card-heading" style="color:black"> @task.Subject &nbsp;<span class="label label-warning" id="inprogress-task"></span></h5>
                            </div>
                        </div>
                        <div class="col-md-1 pull-right">

                        </div>
                    </div>
                </div>
                <hr style="margin-bottom: 1px !important;border-width: 0px;border-color: orange;">-->
                <div class="row task-title text-left">
                    </div>
            <!--<div>
                <iframe src="/cms/task/TaskList?code=@task.TemplateCode" width="100%" height="450" onload="load();"></iframe>

            </div>
            </div>

        }
    </div>-->*@

<script>
    function OnSelect(e) {
        //kendo.ui.progress($(".cms-content"), true);
        //if (e.node.childNodes.length == 1) {
        //    var tempCode = e.node.children[0].childNodes[0].childNodes[1].id;
        //    document.getElementById("iframeData").src = "/cms/task/TaskList?code="+ tempCode;
        //}

        var data = this.dataItem(e.node);

        if (data.Type === 'STATUS') {

            var url = '/cms/task/BulkTaskAction?layoutMode=Iframe&code=' + data.StageId + '&status=' + data.id + '&batch=' + data.BatchId;

            document.getElementById("iframeData").src = url;
        }
        else if (data.Type === 'HRBATCH' || data.Type === 'NotSelected') {
            var url = '/recruitment/CandidateShortlist/CandidateShortlistByHR?batchId=' + data.BatchId;
            if (data.ParentId == 'ClosedBatches') {
                url = '/recruitment/CandidateShortlist/index?batchId=' + data.BatchId + '&code=' + data.ParentId;

            }
            document.getElementById("iframeData").src = url;
        }
        else if (data.Type === 'HMBATCH') {
            var url = '/recruitment/CandidateShortlist/index?batchId=' + data.BatchId + '&code=' + data.ParentId;

            document.getElementById("iframeData").src = url;
        }
        else {
            e.preventDefault();
            return false;
        }
    }

    //function onMyFrameLoad() {
    //    kendo.ui.progress($(".cms-content"), false);
    //};
    var expandedItem = null;
    function onExpand(e) {
        expandedItem = this.dataItem(e.node);
        console.log(expandedItem);
    }
    function AddData() {
        if (expandedItem == null) {
            return { type: null, parentId: null, userRoleId: null };
        }
        else {
            return { type: expandedItem.Type, parentId: expandedItem.ParentId, userRoleId: expandedItem.UserRoleId, stageName: expandedItem.StageName, stageId: expandedItem.StageId, batchId: expandedItem.BatchId };
        }
    }
</script>

<div class="splitter-container">

    <div class="left">

        @*@(Html.Kendo().TreeView()
                .Name("contentTreeView").HtmlAttributes( new {@class="treeview", style= "background-color: #dddddd;" })
                .Events(e => e.Select("OnSelect").Expand("onExpand"))
                .DataTextField("Name")
                .TemplateId("ct-tv-template")
                .DataSource(dataSource => dataSource
                    .Read(read => read
                        .Action("GetBulkApprovalMenuItem", "Task").Data("AddData")
                    )
                )
            )*@
    </div>

    <div class="right pad-l-t-15">
        <iframe id="iframeData" width="100%" height="100%"></iframe>
    </div>

</div>

<script id="ct-tv-template" type="text/kendo-ui-template">
    <span id="#=item.id#" style="width:100%;font-size:16px;" style="cursor:pointer">
     #: item.Name #
    </span>
</script>