@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Portal";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
@inject Synergy.App.Common.IUserContext _userContext
@model FileViewModel

<style>
    .cms-manageportal-footer {
        left: 0;
        bottom: 0;
        padding: 10px;
        padding-right: 20px;
        width: 100%;
        background-color: #F8F8F8 !important;
        color: white;
        text-align: right;
    }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 75%;
    }

    .style-mylogoimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-mybannerimage {
        /*border-radius: 50%;*/
        height: 100px;
        width: 100px;
    }

    .style-image {
        width: 30%;
        float: left;
    }

    .style-upload {
        width: 70%;
        float: left;
    }

    .style-pickerleft {
        width: 50%;
        float: left;
        padding-bottom: 15px;
    }

    .pad-5 {
        padding-top: 10px;
    }
</style>


@if (Model.FileExtension == ".pdf" )
{
    <div style="padding:10px;">
        <object data='data:application/pdf;base64,@Model.ContentBase64' type='application/pdf' id='pdfview' style='width:980px;height:750px'></object>
    </div>
}

@if (Model.FileExtension == ".png" || Model.FileExtension == ".gif" || Model.FileExtension == ".jpg" || Model.FileExtension == ".jpeg")
{
    <div style="padding:10px;">
        <img src='data:@Model.ContentType;base64,@Model.ContentBase64' id='pdfview' style='width:980px;height:750px' />
    </div>
}
@if (Model.FileExtension == ".doc" || Model.FileExtension == ".docx")
{
<div style="padding:10px;">
   <p>No Preview Available. Preview available only for pdf, png, jpg, jpeg and gif</p>
    @*<object data='data:@Model.ContentType;base64,@Model.ContentBase64' type='@Model.ContentType' id='pdfview' style='width:980px;height:750px'></object>*@
</div>
}
