@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@{
    ViewBag.Title = "Topics";
    Layout = null;
}

<style>
    .k-listview{
        border-style:none !important;
    }
    h3 {
        font-weight: 500 !important;
        color: #006699 !important;
    }
    h4 {
        font-weight: 500 !important;
        color: #006699 !important;
        text-transform: uppercase;
        font-size:18px;
    }
    .card-style {
        border: 1px solid !important;
        border-color: #006699 !important;      
    }
    .vl {
        height:165px !important;
    }

</style>
<script>

    function StartAssessment(serviceId, assType, language, assstatus) {
        var title = "";
        if (language == "ARABIC") {
            title = "افعل ولا تفعل";
        }
        else {
            title = "Do's & Dont";
        }

        var win = GetMainWindow();
        var url = "/TAS/TalentAssessment/DosDontPage?serviceId=" + serviceId + "&assessmentType=" + assType + "&language=" + language + "&status="+assstatus;
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: title, Width: 1200, Height: 700 });
        return false;
    }

    function close(Prms) {
        ShowLoader($('#divmain'));
        $.ajax({
            url: '/TAS/TalentAssessment/UpdateAssessmentInProgess',
            data: {'serviceId': Prms.serviceId},
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    
                    //var win = GetMainWindow();
                    HideLoader($('#divmain'));
                    var url = "/TAS/TalentAssessment/Questions?Id=" + Prms.serviceId + "&type=" + Prms.asstype + "&LanguageCode=" + Prms.langcode + "&Status=" + Prms.assessmentStatus;
                    LoadPartailView(url, $('#cms-content'));
                } else {
                    //
                    //alert("error else");
                    HideLoader($('#divmain'));
                    ShowNotification(response.error, "error");
                }
            },
            error: function (response) {
                HideLoader($('#divmain'));
                //
                //alert("error error" + response.error);
                ShowNotification("error", "error");
                //OnError(errData);
            }
        });


    }
    //ShowLoader($('#divmain'));
    //HideLoader($('#divmain'));


    function ShowLoader(target) {
        // target.loadingOverlay();
        kendo.ui.progress(target, true);
    }
    function HideLoader(target) {
        //target.loadingOverlay('remove');
        kendo.ui.progress(target, false);
    }

    function Instruction() {      

        var win = GetMainWindow();
        var url = "/TAS/TalentAssessment/AssessmentInstruction";
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Assessment Instruction", Width: 1400, Height: 800 });
        return false;
    }
</script>


<div class="row" id="divmain" style="padding-top:10px;">

    <script type="text/x-kendo-tmpl" id="inprogressTemplate">
    <div class="product card-style">
        @*<img src="@Url.Content("~/content/web/foods/")#:Name#.jpg" alt="#:Name# image" />
        <h3>#:Name#</h3>*@
        <div class='row'>
            <div class='col-3'>
                <img src='https://assets-homepages-learning.3plearning.net/wp-content/uploads/2020/04/blog-online-assessment-strategies-distance-teachers-learners.png' />
            </div>
        <div class='col-1'>
                <div class="vl"></div>
            </div>
            <div class='col'>
                    #if(AssessmentType != null)
                    {#
                    <h4 style='color:black;margin-bottom:10px'><b>#=AssessmentType#</b></h4>
                    #}#

                <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Schedule Start Date</div>
                    <div class='col'>:&nbsp#=DisplayScheduledStartDate#</div>
                </div>

                <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Schedule End Date</div>
                    <div class='col'>:&nbsp#=DisplayScheduledEndDate#</div>
                </div>

                <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Actual Start Date</div>
                    #if(DisplayActualStartDate != null)
                    {#
                    <div class='col'>:&nbsp#=DisplayActualStartDate#</div>
                    #}
                    else
                    {#
                        <div class='col'>:&nbspN/A</div>
                    #}#
                </div>

                <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Actual End Date</div>
                    #if(DisplayActualEndDate != null)
                    {#
                    <div class='col'>:&nbsp#=DisplayActualEndDate#</div>
                    #}
                    else
                    {#
                        <div class='col'>:&nbspN/A</div>
                    #}#
                </div>

                <div class='row' style='color:grey;font-size:14px'>
                  <div class='col-5'>Assessment Url</div>
                    #if(AssessmentUrl != null)
                    {#
                    <div class='col'>:&nbsp#=AssessmentUrl#</div>
                    #}
                    else
                    {#
                        <div class='col'>:&nbspN/A</div>
                    #}#
                </div>
                <div class='row-12'>
                    #if(AssessmentStatus == null)
                    {#
                        <div class="col" style="color:red;font-size:14pxpadding-top:10px;">Assessment not yet started. Please Contact Administrator.</div>
                    #}
                    else if(IsAssessmentStopped == true)
                    {#
                     <div class="col" style="color:red;font-size:14pxpadding-top:10px;">Assessment has been stopped. Please Contact Administrator.</div>
                    #}
                    else if(AssessmentStatus == 'Draft')
                    {#
                     <button class='btn btn-primary' style='float:right' onclick="StartAssessment('#=ServiceId#','#=AssessmentType#','#=PreferredLanguageCode#','#=AssessmentStatus#')">Start</button>
                    #}
                    else if(AssessmentStatus != 'Complete')
                    {#
                        <button class='btn btn-primary' style='float:right' onclick="StartAssessment('#=ServiceId#','#=AssessmentType#','#=PreferredLanguageCode#','#=AssessmentStatus#')">Continue</button>
                    #}#
                </div>
            </div>

        </div>
    </div>
    </script>

    <script type="text/x-kendo-tmpl" id="completedTemplate">
   <div class="product card-style">
        @*<img src="@Url.Content("~/content/web/foods/")#:Name#.jpg" alt="#:Name# image" />
        <h3>#:Name#</h3>*@
        <div class='row'>
            <div class='col-3'>
                <img src='https://assets-homepages-learning.3plearning.net/wp-content/uploads/2020/04/blog-online-assessment-strategies-distance-teachers-learners.png' />
            </div>
        <div class='col-1'>
                <div class="vl"></div>
            </div>
            <div class='col'>
                <h4 style='color:black;margin-bottom:10px'><b>#=AssessmentType#</b></h4>
                <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Schedule Start Date</div>
                    <div class='col'>:&nbsp#=DisplayScheduledStartDate#</div>
                </div>

            <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Schedule End Date</div>
                    <div class='col'>:&nbsp#=DisplayScheduledEndDate#</div>
            </div>

            <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Actual Start Date</div>
                    #if(DisplayActualStartDate != null)
                    {#
                    <div class='col'>:&nbsp#=DisplayActualStartDate#</div>
                    #}
                    else
                    {#
                        <div class='col'>:&nbspN/A</div>
                    #}#
            </div>

            <div class='row' style='color:grey;font-size:14px'>
                    <div class='col-5'>Actual End Date</div>
        #if(DisplayActualEndDate != null)
                    {#
                    <div class='col'>:&nbsp#=DisplayActualEndDate#</div>
        #}
                    else
                    {#
                        <div class='col'>:&nbspN/A</div>
                    #}#
            </div>

            <div class='row' style='color:grey;font-size:14px'>
                  <div class='col-5'>Assessment Url</div>
         #if(AssessmentUrl != null)
                    {#
                    <div class='col'>:&nbsp#=AssessmentUrl#</div>
        #}
                    else
                    {#
                        <div class='col'>:&nbspN/A</div>
                    #}#
            </div>
            </div>
        </div>
    </div>
    </script>

    <div class="col">
        <h3>Scheduled Assessments</h3>
        <a href="javascript:void(0)" onclick="Instruction()" >
            Please click here to read important instructions, before taking assessments.
        </a>
        @*@(Html.Kendo().ListView<AssessmentDetailViewModel>()
            .Name("listView")
            .TagName("div")
            .ClientTemplateId("inprogressTemplate")
            //.Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("ReadAssessmentList", "TalentAssessment", new { @area="TAS", Status= "SERVICE_STATUS_INPROGRESS" }))
            //.PageSize(10)
            )            
        )*@
    </div>

    <div class="col">
        <h3>Completed Assessments</h3>
        <br />
        @*@(Html.Kendo().ListView<AssessmentDetailViewModel>()
            .Name("listView1")
            .TagName("div")
            .ClientTemplateId("completedTemplate")
            //.Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("ReadCompletedAssessmentList", "TalentAssessment", new { @area = "TAS" }))
            //.PageSize(10)
            )
        )*@
    </div>
</div>
    <style>

        .vl {
            border-left: 1px solid #c7cac7;
            height: 136px;
        }


        #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
            /* Avoid cutout if font or line is bigger */
            font: inherit;
        }

        #listView1 {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
            /* Avoid cutout if font or line is bigger */
            font: inherit;
        }


        .card-style {
            border-style: groove;
            border-radius: 10px;
            padding: 2%;
            border-color: #ebebeb;
            margin-bottom:10px !important;
        }

        .product {
            /*        float: left;
            */ position: relative;
            /*width: 111px;*/
            height: 200px;
            margin: 0 5px;
            /*padding: 0;*/
        }

            .product img {
               /* width: 110px;*/
                height: 130px;
            }

            .product h3 {
                margin: 0;
                padding: 3px 5px 0 0;
                max-width: 96px;
                overflow: hidden;
                line-height: 1.1em;
                font-size: .9em;
                font-weight: normal;
                text-transform: uppercase;
                color: #999;
            }

            .product p {
                visibility: hidden;
            }

            .product:hover p {
                visibility: visible;
                position: absolute;
                width: 110px;
                height: 110px;
                top: 0;
                margin: 0;
                padding: 0;
                line-height: 110px;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                background-color: rgba(0,0,0,0.75);
                transition: background .2s linear, color .2s linear;
                -moz-transition: background .2s linear, color .2s linear;
                -webkit-transition: background .2s linear, color .2s linear;
                -o-transition: background .2s linear, color .2s linear;
            }

        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>
