@model SurveyScheduleViewModel
@using System.Text;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewBag.Title = "CLOSE SURVEY";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<script>
    function Close() {
        @*var win = GetMainWindow();
        win.CloseWindow();
        var win = GetMainWindow();
        win.CloseWindow();
        var url = "/TAS/TalentAssessment/SurveyHome?surveyScheduleUserId=@Model.SurveyScheduleUserId";
        LoadPartailView(url, $('#cms-content'));*@
        window.top.location.href = window.top.location.href;
        var win = GetMainWindow();
        win.CloseWindow();
    }
</script>

<div class="div-center" id="surveyDiv">
    <div class="card" style="background-color:#fff;">
        <div class="card-header" style="text-align:center;">
            @if (Model.LanguageCode == "ARABIC")
            {
                <h4 class="headertitle">شكرا لك لاستكمال الاستقصاء</h4>
            }
            else
            {
                <h4 class="headertitle">Thank you for completing the survey!</h4>
            }

        </div>
        <div class="card-body">
            @Html.Raw(@Model.ClosingInstruction)
        </div>
        <div class="card-footer" style="text-align:center;">
            @if(Model.LanguageCode == "ARABIC")
            {
            <button type="button" class="btn btn-success" onclick="Close()">قريب</button>
            }else{
            <button type="button" class="btn btn-success" onclick="Close()">CLOSE</button>
            }


        </div>
    </div>
</div>
 