@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using CMS.Common;
@using CMS.UI.ViewModel
@using CMS.Business
@{
    ViewData["Title"] = "Manage";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div id="PagePopup" class="row" style="margin-left:15px;">
    <div class="row" style="padding:10px;">
        
        <div class="col-md-12 pad-10">
            <div class="form-group">
                <label for="Name">Page Name <span class="required">*</span></label>
                <input id="Name" type="text" class="form-control" placeholder="Page Name" required="required" autocomplete="off" style="width:80%" />

            </div>
        </div>        
        <div class="col-12 pad-10">
            <div class="form-group">

                <input type="checkbox" id="IsTemplate" />
                <label>Is Template</label>
            </div>
        </div>        
        <div class="cms-slidebar-footer">
            <input type="submit" class="btn btn-primary" value="Save" onclick="OnSaveAs()" />
        </div>

    </div>
</div>


<script>
    @*function OnSaveAs() {
        debugger;
        kendo.ui.progress($('#PagePopup'), true);
        var win = GetMainWindow();
        var content = window.parent.$('#iframe1').contents().find("#HtmlContent").html();
        if (content == undefined || content == null) {
            content = window.parent.$('#iframe1').contents().find("body").html();
        }
        var name = $("#Name").val();
        var isTemplate = false;
        if ($('#IsTemplate').is(":checked")) {
            isTemplate = true;
        }
        var url = "@Url.Action("ManageSynergyWebsite", "Editor", new { @area = "Cms" })";
        var model = { HtmlContent: content, Name: name, IsTemplate: isTemplate};
        $.post(url, model, function(res){
            if (res.success) {
                kendo.ui.progress($('#PagePopup'), false);
                win.CloseWindow();
                window.parent.location.reload();
            }
            else {
                kendo.ui.progress($('#PagePopup'), false);
                kendo.alert(res.error);


            }
        });
    }*@
    function OnSaveAs() {              
        kendo.ui.progress($('#PagePopup'), true);
        var win = GetMainWindow();        
        var content = JSON.stringify(window.parent.editor.getComponents()); 
        var style = JSON.stringify(window.parent.editor.getStyle());
        var name = $("#Name").val();
        var isTemplate = false;
        if ($('#IsTemplate').is(":checked")) {
            isTemplate = true;
        }
        var url = "@Url.Action("ManageSynergyWebsite", "Editor", new { @area = "Cms" })";
        var model = { HtmlContent: content, Name: name, IsTemplate: isTemplate, Style: style};
        $.post(url, model, function(res){
            if (res.success) {
                kendo.ui.progress($('#PagePopup'), false);
                win.CloseWindow();
                window.parent.location.reload();
            }
            else {
                kendo.ui.progress($('#PagePopup'), false);
                kendo.alert(res.error);


            }
        });
    }
</script>
