@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using CMS.Common;
@using CMS.UI.ViewModel
@using CMS.Business
@{
    ViewData["Title"] = "Editor";
    Layout = "/Views/Shared/_RenderLayout.cshtml";
}

<div id="HtmlContent">

</div>

