@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Portal";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@inject CMS.Common.IUserContext _userContext
@model FileViewModel


<style>
    .k-upload {
        width: 100%;
    }

    .SYN-Main-wrapper {
        width: 700px;
        height: auto;
        padding: 0;
        margin: 20px auto;
        box-shadow: 4px 4px 10px #CBD0CE;
        border-radius: 6px;
    }

    .SYN-upload-row {
        width: 96%;
        padding: 0;
        margin: 4px auto;
        background-color: #10B0ED;
        border-radius: 6px;
    }

    .SYN-ico-pdf {
        width: 96%;
        padding: 20px;
        margin: 0 auto;
    }

    .SYN-ico-action {
        padding: 26px 4px;
        margin: 4px;
        float: left;
    }

    .SYN-ico-action-eye {
        padding: 26px 4px;
        margin: 4px;
        float: left;
        color: blue;
        cursor: pointer;
    }

    .SYN-ico-action-down {
        padding: 26px 4px;
        margin: 4px;
        float: left;
        color: greenyellow;
        cursor: pointer;
    }

    .SYN-ico-action-del {
        padding: 26px 4px;
        margin: 4px;
        float: left;
        color: red;
        cursor: pointer;
    }

    .SYN-tag-field {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #939598;
    }

    .SYN-txt-field {
        padding: 0;
        margin: 0;
    }

    .SYN-row-gap {
        padding: 0;
        margin: 12px 0;
    }

    .SYN-dummy-row {
        width: 96%;
        padding: 4px;
        margin: 4px auto;
    }

    .SYN-list-box {
        width: 96%;
        padding: 0;
        margin: 4px auto;
        background-color: #ffffff;
        border-radius: 6px;
        border: 1px solid #C4C4C4;
    }

    .SYN-sub-docName {
        padding: 2px 0 2px 0;
        font-size: 14px;
    }

    .SYN-sub-white-txt {
        padding: 2px 0 2px 12px;
        font-size: 14px;
    }

    .SYN-inn-title-row {
        width: 96%;
        padding: 0;
        margin: 4px auto;
        background-color: #353535;
        border-radius: 6px;
        color: #fff;
    }

    .SYN-ico-close {
        width: 96%;
        padding: 6px;
        margin: 6px auto;
        height: auto;
    }

    .SYN-ico-expand {
        width: 96%;
        padding: 6px;
        margin: 6px auto;
        height: auto;
    }

    .SYN-inn-row {
        width: 96%;
        padding: 0;
        margin: 4px auto;
    }

    .SYN-sub-title {
        font-weight: 500;
        font-size: 14px;
    }

    .SYN-white-text {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
    }

    .SYN-main-title {
        font-weight: 500;
        font-size: 16px;
        padding: 16px 0;
    }

    .k-button {
        border-color: #353535;
        color: #fff;
        background-color: #353535;
    }

    .k-upload .k-dropzone {
        border-color: #dee2e6;
        color: #bababa;
        background-color: #10B0ED;
    }

        .k-upload .k-dropzone .k-dropzone-hint, .k-upload .k-dropzone .k-upload-status {
            color: #ffff;
        }
</style>

<div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">
    

    @Html.HiddenFor(x => x.ReferenceTypeCode)
    @Html.HiddenFor(x => x.ReferenceTypeId)
   

    <div class="SYN-Main-wrapper">
        <div class="SYN-inn-row">

        </div>
        <div class="SYN-upload-row">
            <div class="row">
                @*@(Html.Kendo().Upload().Multiple(false)
            .Name("files")
            .Async(a => a
            .Save("SaveServiceAttachment", "Cms", new { @Area="", @referenceTypeId=Model.ReferenceTypeId, @referenceTypeCode=Model.ReferenceTypeCode})
            .AutoUpload(true)
            )
                .Events(e => e.Success("onFileUploadSuccess")
                )

                .HtmlAttributes(new { @class = "hr-large" })
        )*@


                <div class="row">
                    <div class="col">
                        <div id="iconFile" class="dm-uploader">
                            <h6 class=" text-muted">Drag &amp; drop files here</h6>

                            <div class="btn btn-primary btn-block ">
                                <span>Open the file Browser</span>
                                <input type="file" title='Click to add Files' />
                            </div>
                        </div>

                    </div>
                    @*if multiple use this*@

                    @*<div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                File List
                            </div>
                            <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                                <li id="nofiles" class="text-muted text-center empty">No files uploaded.</li>
                            </ul>
                        </div>
                    </div>*@
                    @*if multiple use this*@
                </div>
            </div>
        </div>
        <div class="SYN-inn-row">
            <div class="row">
                <div class="col-auto col-xl-12"><label class="col-form-label SYN-sub-title">Attachments List</label></div>
            </div>
        </div>
        <div class="SYN-inn-title-row">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label SYN-sub-white-txt">Doc Type</label></div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"><label class="col-form-label SYN-sub-docName">Document Name</label></div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><label class="col-form-label SYN-sub-white-txt">Actions</label></div>
            </div>
        </div>
        @*@(Html.Kendo().ListView<FileViewModel>()
            .Name("AttachmentlistView")
            .TagName("div")
            .ClientTemplateId("template")
            .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GetNoteAttachmentList", "Cms",new { @Area = "", noteId = Model.ReferenceTypeId}))
                    .PageSize(21)
                )

            )*@
        <div id="AttachmentlistView"></div>
        <script type="text/x-kendo-tmpl" id="template">
            <div class="SYN-list-box">
                 <div class="row">
                     <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3">
              #if(data.FileExtension==".pdf")
            {#  <div class="SYN-ico-pdf"><img src="/images/ico-pdf.png"></div> #}
            else if(data.FileExtension==".jpg" || data.FileExtension==".jpeg" || data.FileExtension==".gif" || data.FileExtension==".png" || data.FileExtension==".PNG")
            {#  <div class="SYN-ico-pdf"><img src="/images/ico-image32.png"></div> #}
            else if(data.FileExtension==".doc" || data.FileExtension==".docx")
            {#  <div class="SYN-ico-pdf"><img src="/images/ico-word-doc.png"></div>#}
            else if(data.FileExtension==".txt")
            {#  <div class="SYN-ico-pdf"><img src="/images/ico-document.png"></div>#}
            else
            {#   <div class="SYN-ico-pdf"><img src="/images/ico-document.png"></div>#}#

                     </div>
                     <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                         <div class="row">
                             <div class="col"><label class="col-form-label SYN-txt-field SYN-row-gap">#:FileName#<br></label></div>
                         </div>
                         <div class="row">
                             <div class="col-6"><label class="col-form-label SYN-tag-field">#:CreatedDateDisplay#<br></label></div>
                             <div class="col-6"><label class="col-form-label SYN-tag-field">#:Size#<br></label></div>
                         </div>
                     </div>
                     <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

                            <div class="SYN-ico-action-eye"><i class='fal fa-eye li-fal fa-2x' title="View" onclick="ViewAttachment('#=Id#')" ></i></div>
                            <div class="SYN-ico-action-down"><i class='fal fa-download li-fal fa-2x' title="Download" onclick="onDownload('#=Id#')" ></i></div>
                            <div class="SYN-ico-action-del"><i class='fal fa-trash-alt li-fal fa-2x' title="Delete" onclick="onDeleteClick('#=Id#')"></i></div>
                    </div>
                 </div>
             </div>
        </script>


        <div class="SYN-dummy-row"></div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {


         var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/GetNoteAttachmentList?taskId=@Model.ReferenceTypeId",
                    dataType: "json"
                }
            },
        });

        $("#AttachmentlistView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });


        uploadFile();

    });

    function uploadFile() {
        $("#iconFile").dmUploader({ //
            url: '/Cms/SaveServiceAttachment?referenceTypeId=@Model.ReferenceTypeId&referenceTypeCode=@Model.ReferenceTypeCode',
            multiple: false,
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                $(".style-myiconimage").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                $("#IconFileId").val(data.fileId);

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }

    function onFileUploadSuccess(e)
    {
        if (e.response.success) {

            $("#AttachmentlistView").data("kendoListView").dataSource.read();
          FillAttachmentCount();
        }
        else {
            var msg = ExtractError(e.response.errors, true);
        }
        return true;

    }

     var onAjaxSuccess = function (res) {

        if (res.success) {

            ShowNotification("Saved Successfully", "success");

        }
        else {
            showError(res.error);
        }
    };
    var showError = function (error) {

        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    function onDownload(id) {
        url = '/cms/Document/GetFileMongo?fileId=' + id;
        window.open(url, '_blank');
        return false;
    }

      function ViewAttachment(id)
    {

           var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ViewAttachment", "Cms", new { @area=""})?fileId=' + id;
        win.OpenWindow({ Title: 'View Attachment', Width: 2000, Height: 950 });
        return false;
    }
    function onDeleteClick(fileId) {
        if (confirm('Are you sure you want to delete the selected file?')) {
            $.ajax({
                type: "POST",
                url: '/cms/DeleteAttachment',
                data: { id: fileId },
                success: function (data) {
                    $("#AttachmentlistView").data("kendoListView").dataSource.read();
                 FillAttachmentCount();
                },
                dataType: "json",
            });
        }

        return false;
    }
    function FillAttachmentCount() {
        var win = GetMainWindow().GetParentWindow();
        win.FillAttachmentCount();
    }
</script>
