@using CMS.UI.ViewModel;
@using CMS.Common;

@model PageViewModel;
@{
    Layout = ViewBag.Layout;


}
<style>
    .card-body {
        padding: 5px !important;
        text-align: center;
        font-size: 14px !important;
    }

    .card {
        margin-bottom: 60px;
        height: 120px;
    }

    .card-img-top {
        height: 120px;
    }
</style>
@{
    if (Model.Menus != null)
    {
        <div class="row no-gutters">
            @foreach (var item in Model.Menus.Where(x => x.ParentId == Model.Id))
            {
                <div class="col-md-2 d-flex justify-content-center">
                    <div class="card" style="width:120px;">
                        <img class="card-img-top" src="@Url.Action("getimagemongo","document",new { @area="Cms",id=item.IconFileId})" alt="Menu image" onerror='OnDocumentError(this);'>
                        <div class="card-body">
                            <a style="text-transform:uppercase;font-size:12px;" href= @($"javascript:LoadPageById('{item.Id}','{item.PageType.ToString()}','{CMS.Common.RequestSourceEnum.Main.ToString()}','{CMS.Common.DataActionEnum.View.ToString()}')")>@item.DisplayName</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}







