@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Bin Booking";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .pad {
        padding: 20px 20px 0px 20px;
    }

    .booknow {
        text-align: center;
    }

    .searchdiv {
        border: 1px solid grey;
        border-radius: 10px;
        margin: 15px 0px 15px 0px;
        padding-bottom: 20px;
        background: #fff;
    }

    tr:nth-child(even) {
        background-color: #fff !important;
    }

    .k-calendar .k-content .k-link {
        background-color: #87db87;
    }

    .k-calendar .k-content .k-state-disabled .k-link {
        background-color: #fb5454;
    }

    .k-textbox-container {
        width: 12.75rem;
    }
    .form-check-label{
        color:#000 !important;
    }
</style>

<script type="text/javascript">


    $(document).ready(function () {
        document.getElementById('global-overlay').style.display = "none";


    });


    function OnSubmit(evt) {
        debugger;
        var win = GetMainWindow();
        portalId = win.parent.$("#GlobalPortalId").val();

        var type = $('input[name="binBooking"]:checked').val();
        
        var conNo = $('#ConsumerNo').val();
        if (type == "Existing" && conNo != null && conNo != "") {

            $.ajax({
                url: '@Url.Action("GetExistingDetails", "EGovernment", new { @area="EGov"})?consumerNo=' + conNo + '&type=BinBooking',
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {
                        var data = result.data;

                        //var subject = 'Community Hall Booking from ' + fromdate + ' to ' + todate;
                        //var prms = encodeURIComponent('subject=' + subject);
                        var udfs = encodeURIComponent('BinBookingConsumerNo=' + data.BinBookingConsumerNo + '&ApplicantName=' + data.ApplicantName + '&ContactNumber=' + data.ContactNumber + '&WardId=' + data.WardId + '&Email=' + data.Email + '&Address=' + data.Address + '&BookingFromDate=' + data.BookingFromDate + '&BookingToDate=' + data.BookingToDate + '&BinTypeId=' + data.BinTypeId + '&BinSizeId=' + data.BinSizeId + '&NumberOfBins=' + data.NumberOfBins + '&BinClearanceCycleId=' + data.BinClearanceCycleId);
                        var roudfs = encodeURIComponent('BinBookingConsumerNo=true&ApplicantName=true&WardId=true&BinTypeId=true');
                        var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=EGOV_SANIT_BIN_EXISTING&portalId=' + portalId + '&udfs=' + udfs + '&roudfs=' + roudfs;

                        win.iframeOpenUrl = url;
                        win.OpenWindow({ Title: "Bin Booking", Width: 1200, Height: 700, Reload: true });
                        return false;
                    }
                    else {
                        document.getElementById('global-overlay').style.display = "none";
                        ShowNotification("Enter Valid Consumer No", "error");
                        evt.preventDefault();
                        return false;
                    }
                },
                error: function (ert) {
                    ShowNotification(ert, "error");
                }
            });


        }
        else if (type == "New") {

            var url = '/Cms/Page?lo=Popup&pageType=Service&cbm=OnAfterServiceCreate&source=Create&dataAction=Create&templateCodes=EGOV_SANIT_BIN&portalId=' + portalId;

            win.iframeOpenUrl = url;
            win.OpenWindow({ Title: "Solid Waste Collection request", Width: 1200, Height: 700, Reload: true });
            return false;
        }
        else {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");
            $(".text-danger").html("Enter Consumer No");            
            evt.preventDefault();
            return false;
        }

    }


    function OnAfterServiceCreate() {
        document.getElementById('global-overlay').style.display = "none";
        var win = GetMainWindow();
        win.CloseWindow();
        win.parent.ShowNotification("Booking Completed Successfully", "success");
        return false;
    }

    function onChange(myRadio) {
        debugger;
        if (myRadio.value == "Existing") {
            document.getElementById('consumerNumber').style.display = "block";
        } else {
            document.getElementById('consumerNumber').style.display = "none";
        }
    }


</script>

<div class="row-12" style="margin-left:15px;" id="existingBinBooking">

    <form asp-controller="Calendar" asp-action="ManageCalendarHoliday" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All" style="font-size:14px;"></div>

        <div class="col-12">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row searchdiv">
                        <div class="col-12" style="padding:20px;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="binBooking" id="newBinBooking" value="New" onclick="onChange(this);" checked>
                                        <label class="form-check-label" for="newBinBooking">
                                            New Solid Waste Collection Request
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="binBooking" id="existingUser" value="Existing" onclick="onChange(this);">
                                        <label class="form-check-label" for="existingUser">
                                            Existing User
                                        </label>
                                    </div>
                                </div>                             
                                
                            </div>
                            
                        </div>
                        <div class="col-12">
                            <div id="consumerNumber" style="display:none;">
                                <div >Consumer No <span class="required">*</span></div>
                                <div >
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="ConsumerNo" required="required" style="width:80%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <br />                        
                        <div class="col-12" style="text-align:center;padding:10px;">
                            <input type="submit" class="btn btn-primary" value="Next" onclick="OnSubmit(event);" />
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>

        </div>

    </form>
</div>


