@using Kendo.Mvc.UI
@model Synergy.App.ViewModel.ChangePassowrdViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = ViewBag.Layout;
}
<style>
    .login-bg1 {
        background-image: url(/images/login-bg.png);
        background-repeat: no-repeat;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
</style>
<div class="container main-bg1" style="width: 966px; ">
    <form class="" id="changePasswordFrom" asp-action="ManageChangePassword" asp-controller="Account" method="post" asp-area=""
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">

        <div class="login-body" style="height:400px;width:460px;background-color: #1D4993;">
            <br />
            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
            <div class="row">
                <div class="col login-bg1" style="height:450px;">
                    <br />
                    <div class="login-body-form">
                        <div class="row">
                            <div class="col email-tgap">
                                <input id="CurrentPasswordPlain" type="password" class="round-text-box" placeholder="Current Password" required="required" autofocus>
                                <input asp-for="CurrentPassword" type="hidden">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col pwd-tgap">
                                <input id="NewPasswordPlain" type="password" class="round-text-box" placeholder="New Password" required="required" id="pwd">
                                <input asp-for="NewPassword" type="hidden">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col pwd-tgap">
                                <input id="ConfirmPasswordPlain" type="password" class="round-text-box" placeholder="Confirm Password" required="required" id="pwd">
                                <input asp-for="ConfirmPassword" type="hidden">
                                <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                            </div>
                        </div>
                        <div class="row">
                            <input class="col pwd-tgap text-center" onclick="return EncryptPassword();" type="image" src="~/images/but-change-password.png" value="Save" />
                        </div>
                        <input asp-for="ReturnUrl" type="hidden" />
                        <input asp-for="UserId" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function EncryptPassword() {
        var key = CryptoJS.enc.Utf8.parse('8080808080808080');
        var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

        var ecp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#CurrentPasswordPlain').val()), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
        $('#CurrentPassword').val(ecp);
        var enp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#NewPasswordPlain').val()), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
        $('#NewPassword').val(enp);
        var cnp = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#ConfirmPasswordPlain').val()), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });
        $('#ConfirmPassword').val(cnp);
        return true;
    }
    var onAjaxSuccess = function (res) {
        if (res.success) {
            window.location.href = res.result.ReturnUrl;
            HideLoader($('.main-bg1'));
            return false;
        }
        else {
            showError(res.errors);
            HideLoader($('.main-bg1'));
        }
    };
    function onAjaxBegin() {
        ShowLoader($('.main-bg1'));
    }
    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
    function ShowLoader(target) {
        kendo.ui.progress(target, true);
    }
    function HideLoader(target) {
        kendo.ui.progress(target, false);
    }

</script>

