@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@{
    ViewData["Title"] = "Join Workboard";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model WorkboardJoinViewModel
<style>
    .titlebar {
        color: #6d6e70;
        font-weight: 700;
        font-size: 14pt;
        line-height: 30px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 15px;
    }

    .name-section {
        margin-left: 40px;
        margin-right: 40px;
    }

    p {
        font-family: proxima-nova,"Tikal Sans",Helvetica,Arial,sans-serif;
        color: #6d6e70;
    }

    .button-set {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>
<div class="row-12" style="margin-left:15px;">
    <form asp-area="cms" asp-controller="Workboard" asp-action="JoinWorkBoard" method="post" class="form-horizontal" id="myForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">

        <div class="text-danger" asp-validation-summary="All"></div>


        <div class="titlebar">
            <span>Join Workboard</span>
        </div>

        <div class="main-content">

            <div class="name-section">
                <p>Join an existing Storm by entering the Workboard ID and Key into the fields below.</p>
                <input asp-for="ShareId" type="text" class="form-control" placeholder="Workboard ID" title="Workboard Id Field Required" style="margin-bottom :10px" required="required" />
                <input asp-for="ShareKey" type="text" class="form-control" placeholder="Workboard Key" title="Workboard Key Field Required" style="margin-bottom :20px" required="required" />
            </div>
            <hr />
            <div class="button-pane">
                <div class="button-set">
                    <button type="submit" class="btn btn-primary">
                        <span>Join Workboard</span>
                    </button>
                    <button type="button" class="btn btn-outline-danger" onclick='CloseJoinWorkboard()' style="margin-left:25px">
                    <span>Cancel</span>
                </button>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.IsPopup)

    </form>
</div>
<script>

     function CloseJoinWorkboard() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

     var onAjaxSuccess = function (data) {

        if(data.success) {
                    
                    var workboardId=data.workboardId;
                    var win = GetMainWindow();
                     win.CloseWindow({ MethodName: "openWorkBoard", Prms:  workboardId  });

        }
         else {
               $(".text-danger").removeClass("validation-summary-valid");
               $(".text-danger").addClass("validation-summary-errors");
               $(".text-danger").html(data.error);
               return false;
         }
               return false;

    };
</script>