@inject IStringLocalizer<Synergy.App.WebUtility.Resources.Areas.Csc.Controllers.CommonServiceController> Resource
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
}

<style>
    .csc-title {
        /*border-top: 1px solid #e1e6e9;*/
        margin-top: 60px;
        margin-bottom: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
        text-transform: uppercase;
        font-weight: 600;
    }

        .csc-title:before {
            content: '';
            width: 180px;
            height: 3px;
            background: url(../images/csc-t-left.png) no-repeat center;
            margin-bottom: 10px;
            margin-right: 15px;
            display: inline-block;
        }

        .csc-title:after {
            content: '';
            width: 180px;
            height: 3px;
            background: url(../images/csc-t-right.png) no-repeat center;
            margin-bottom: 10px;
            margin-left: 15px;
            display: inline-block;
        }

    .text-center {
        text-align: center;
    }

    .csc-item {
        padding-bottom: 40px;
        text-align: center;
        /*-webkit-backface-visibility: hidden;*/
        backface-visibility: hidden;
    }

        .csc-item h3 {
            font-size: 18px;
            font-weight: 600;
        }

        .csc-item .csc-icon {
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: center;
            width: 100px;
            height: 113px;
            display: block;
        }

            .csc-item .csc-icon.first {
                background-image: url(../images/csc-first.png);
            }

            .csc-item .csc-icon.second {
                background-image: url(../images/csc-second.png);
            }

            .csc-item .csc-icon.third {
                background-image: url(../images/csc-third.png);
            }
</style>
<script>
    function onLskLogin() {
        alert("LSK");
    }
    function onGovernmentLogin() {
        alert("Government");
    }
    function onCitizenLogin() {
        alert("Citizen");
    }
</script>

<div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="csc-title">@SharedResource["Login"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3">
            <div class="csc-item">
                <a href="/Account/Login?portalId=5722e113-d647-40df-b444-27c3c9a5c691&returnUrl=%2Fportal%2FCSC" style="color:black;" title="लोक सेवा केंद्र/LSK Login">
                    <span class="csc-icon first"></span>
                    <h3>@Resource["LSK login"]</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="csc-item">
                <a href="/Account/Login?portalId=659d156b-1b21-46b6-8836-bfc9471a8d44&returnUrl=%2Fportal%2FCSCEmployee" style="color:black;" title="विभागीय उपयोगकर्ता/Government Login">
                    <span class="csc-icon second"></span>
                    <h3>@Resource["Government Login"]</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="csc-item">
                <a href="/Account/Login?portalId=5722e113-d647-40df-b444-27c3c9a5c691&returnUrl=%2Fportal%2FCSC" style="color:black;" title="नागरिक/Citizen Login">
                    <span class="csc-icon third"></span>
                    <h3>@Resource["Citizen Login"]</h3>
                </a>
            </div>
        </div>
    </div>
</div>