@using CMS.UI.ViewModel
@using CMS.Common

@{
    ViewData["Title"] = "Annex To Final Offer For Staff";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model CandidateExperienceByNatureViewModel

<style>
    @@media print {
        #printPageButton {
            display: none;
        }
        #downloadPageButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }
        @@page {
            size: auto;
            margin: 0;
        }
    }  
</style>
<script>
    function getPDF(selector) {
        
        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "AnnexureForStaff.pdf");
        });
    }
</script>

<div style="padding-left: 20px;padding-right: 20px;width: 100%;">
    <input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
    <button class="export-pdf k-button" onclick="getPDF('.container')" id="downloadPageButton">Download</button>
    <form asp-controller="CandidateProfile" asp-action="ManageCandidateExpByNature" method="post" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="All"></div>
        @*<div class="row">*@
        <div class="container">
            <div class="mt-5 page-property mb-5" style="border-width: 2px;border-radius: 6px;">
                <img class="img-fluid" src="~/images/galfar-logo-2.jpg">
                <div class="mt-5 mobile-font">
                    <p class="text-uppercase text-right paragraph-text-property" style="margin-right:5px;">Annexure-1</p>
                    <p class="text-center paragraph-text-property mt-5">To our Letter GAEC/HR/2021 dated 02 January 2020</p>
                    <p class="text-uppercase text-center paragraph-text-property mt-4">Emolument details for mr.</p>
                    <p class="text-center paragraph-text-property mt-2"></p>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px;text-align:center"><span>I)</span></div>
                                <div class="col-8">
                                    <div>
                                        <p class="d-inline-block" style="font-weight: bold;">Grade</p><span class="float-right" style="font-weight: bold;">:</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6"><input type="text" class="form-control" style="width: 95%;border-radius: 4px;border-width: 1px;border-color: #d7d6d6;"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px; text-align:center"><span>II)</span></div>
                                <div class="col-8">
                                    <div>
                                        <p class="d-inline-block"><strong>Designation</strong><br></p><span class="float-right" style="font-weight: bold;">:</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6"><input type="text" class="form-control" style="width: 95%;border-width: 1px;border-color: #d7d6d6;border-radius: 4px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px;text-align:center"><span>III)</span></div>
                                <div class="col-8">
                                    <div>
                                        <p class="d-inline-block"><strong>Basic</strong><br></p><span class="float-right" style="font-weight: bold;">:</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="d-inline-block" style="width: 100%;"><strong>QR./-Pm</strong><br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2" style="padding-right: 0px; text-align:center"><span>IV)</span></div>
                                <div class="col-8">
                                    <div>
                                        <p class="d-inline-block"><strong>Monthly Professional Allowance</strong><span class="float-right float-right-web" style="font-weight: bold;">:</span><br></p><span class="float-right float-right-mobile" style="font-weight: bold;">:</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="d-inline-block" style="width: 100%;"><strong>QR./-Pm</strong><br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span></span></div>
                                <div class="col-10">
                                    <div>
                                        <p class="d-inline-block" style="width: 100%;">Company will provide bachelor accommodation with food, laundry, water &amp; electricity.<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>V)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Medical Expenses</span></strong></p>
                                        <p class="d-inline-block">&nbsp;- As per Clause 7 of Employment Contract<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>VI)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Vehicle Transport</span></strong></p>
                                        <p class="d-inline-block">&nbsp;- Common Transport<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>VII)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-inline-block"><strong><span style="text-decoration: underline;">Gratuity</span></strong></p>
                                        <p class="d-inline-block">&nbsp;- As per the Labour Law of Qatar<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="padding-right: 0px; text-align:center"><span>VIII)</span></div>
                                <div class="col">
                                    <div>
                                        <p class="d-block"><strong><span style="text-decoration: underline;">Annual Performance Incentive</span></strong></p>
                                        <p class="d-inline-block" style="margin-right:25px;">The company wishes to reward high performers who bring visible and extra-ordinary results. To this effect , you will be assessed by the Management, and Company at its sole discretion may award you extra remuneration. This will have to precedence or right on your part.&nbsp;<br></p>
                                        <p class="d-inline-block" style="margin-right:25px;">Annual Performance incentive will be based on the performance of the Company and the individual's contribution.<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* </div> *@
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.CandidateProfileId)
        @Html.HiddenFor(x => x.IsLatest)
    </form>
</div>