@inject Synergy.App.Common.IUserContext _userContext
@*@using Kendo.Mvc.UI*@
@{

    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
<section id="main-content">
    @RenderBody()
</section>

