@using CMS.UI.ViewModel;
@using CMS.Common;


@{
    ViewData["Title"] = "Template";
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
}
<style>
    h5 {
        color:black;
    }
</style>
<div id="template">
 
    <div class="row">
        <input type="button" class="btn btn-primary" onclick="SaveData(event)" value="Save" style="float:right"/>
        <div class="col-12">

            <div id="BooksGrid"> </div>

        </div>

    </div>
   

</div>

<script>
    var selectedDataItems = [];
    //var columnDefs= [
    //    {
    //        field: "Select", headerName: "Select", checkboxSelection: true
    //    },
    //    {
    //        field: "CategoryName", headerName: "Category Name", type: "text", width: 150, editing: false
    //    },
    //    {
    //        field: "BookName", headerName: "Book Name", type: "text", width: 120, editing: false
    //    },

    //];
    $(document).ready(function () {
      
            //GetDataUser();



       $("#BooksGrid").jsGrid({
                    width: "100%",
                    height: "400px",
                    // selecting: true,
                    inserting: false,
                   editing: true,
                    sorting: true,
                    paging: true,
           autoload: true,
                    //filtering:true,
                    pageSize: 14,
                    pageButtonCount: 5,
                    deleteConfirm: "Do you really want to delete client?",
                    //data: clients,
                    controller: {
                        loadData: function (filter) {
                            return $.ajax({
                                type: "GET",
                                url: "/cms/NtsService/ReadAllBooks?serviceId=@ViewBag.BookId",
                                data: filter,
                                dataType: "json"
                            });
                        },
                        onItemEditing: function (e) {
                            debugger
                            if (e.grid._container.find(".jsgrid-edit-row")[0] != undefined) {

                                e.grid.updateItem();
                            }
                        },
                        onItemEdited: function (e) {
                            debugger

                        },
                    updateItem: function (item) {

                        },
                    },
                    fields: [
                        {
                            name: "Select", title: "Select", type: "checkbox",editing: true
                        },
                        {
                            name: "CategoryName", title: "Category Name", type: "text", width: 150, editing: false
                        },
                        {
                            name: "BookName", title: "Book Name", type: "text", width: 120, editing: false
                        },
                        {
                            type: "control",  deleteButton:false
                        },
                    ]
                });
    });

    @*function GetDataUser() {
        document.getElementById("BooksGrid").innerHTML = "";
        gridConfig(
            "BooksGrid",
            "/cms/NtsService/ReadAllBooks?serviceId=@ViewBag.BookId",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }*@
    function pushPopinArray(arr) {

        for (var i = 0; i < arr.length; i++) {
            if (arr[i].Select == true) {
                selectedDataItems.push(arr[i]);

            }

        }

    }
    function SaveData(e) {

        var selectedRows = [];
        var entityGrid = $("#BooksGrid").data("JSGrid");
        if (entityGrid._editingRow != null) {
            entityGrid.updateItem();
        }
        //entityGrid.updateItem();
        pushPopinArray(entityGrid.data);

        console.log(selectedDataItems);

       var jsondata=JSON.stringify(selectedDataItems);
        selectedRows = selectedDataItems;
        if (selectedRows.length == 0) {
            $(".text-danger").removeClass("validation-summary-valid");
            $(".text-danger").addClass("validation-summary-errors");ViewBag
            $(".text-danger").html("select at leaset one book");
            e.preventDefault();
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/cms/NtsService/ManageBookRelation",
            data:
            {
                data: jsondata,
                serviceId:"@ViewBag.BookId"
            },
            dataType: "json",
            success: function (data1) {

            }
        });
    }
</script>