@using CMS.UI.ViewModel;
@using CMS.Common;

@model Tuple<string, string, string, string>
@{
    //Layout = null;
    Layout = null;// "/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .avatar-myProfile {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .drp-user {
        width: 100%;
        max-width: 450px;
    }
</style>

<script>
$(document).ready(function () {
    $("#@Model.Item2").kendoDropDownList({
        optionLabel: "Select",
        filter: "contains",
        dataTextField: "Name",
        dataValueField: "Id",
        height: 400,
        template: kendo.template($("#drp-user-template").html()),
        value: "@Model.Item1",
        dataSource: {
            transport: {
                read: {
                    url: "/cms/User/ReadUserData",
                }
            }
        },
        filtering: function (e) {
            var filterValue = e.filter != undefined ? e.filter.value : "";
            e.preventDefault();
            this.dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "Name",
                        operator: "contains",
                        value: filterValue
                    },
                    {
                        field: "Email",
                        operator: "contains",
                        value: filterValue
                    }
                ]
            });
        }
    });
});
</script>

<div>

    <div class="col-12">
        @*@(Html.Kendo().DropDownList().Name(Model.Item2).Value(Model.Item1)
                                    .OptionLabel("select")
                                    .Filter(FilterType.Contains)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .Height(400)
                                    .TemplateId("drp-user-template")
                                    //.ValueTemplateId("drp-user-value-template")
                                    .HtmlAttributes(new { @class =$"drp-user {Model.Item4}"  })
                                    .DataSource(source =>
                                    {

                                        source.Read(read =>
                                        {
                                            read.Action("ReadUserData", "User", new { @area = "Cms" });
                                        });
                                        //source.Custom()
                                        //     .ServerFiltering(true)
                                        //    .ServerPaging(true)
                                        //    .PageSize(100)
                                        //    .Type("aspnetmvc-ajax")
                                        //    .Transport(transport =>
                                        //    {
                                        //        transport.Read("ReadUserData", "User", new { @area = "Cms" });
                                        //    })
                                        //    .Schema(schema =>
                                        //    {
                                        //        schema.Data("Data")
                                        //        .Total("Total");
                                        //    });
                                    })
                                     .Events(events => events.Filtering(
                        @<text>
                            function(e) {
                               var filterValue = e.filter != undefined ? e.filter.value : "";
                                    e.preventDefault();

                                  this.dataSource.filter({
                                    logic: "or",
                                    filters: [
                                      {
                                        field: "Name",
                                        operator: "contains",
                                        value: filterValue
                                      },
                                      {
                                        field: "Email",
                                        operator: "contains",
                                        value: filterValue
                                      }
                                    ]
                                  });
                            }
                            </text>
                            ))
                                    )*@
        <input id="@Model.Item2" class=$"drp-user {Model.Item4}" />
    </div>



</div>

<script type="text/x-kendo-tmpl" id="drp-user-template">
      <div class="row no-gutter pb-1 pt-1">
          <div class="col-2">
          #if(data.PhotoId!=null)
              {#<img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  /> #}
          else
              {#<img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />#}#
         </div>
         <div class="col-10">
            <div class="col-12">
              <span style="padding:5px;">#:Name#</span></div>
            <div class="col-12">
              #if (data.Email!=null)
                  {#<span style="padding:5px;font-size:12px;">#:Email#</span>  # } #
            </div>
         </div>
    </div>
</script>
<script type="text/x-kendo-tmpl" id="drp-user-value-template">
    <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#"  />
    #if(data.PhotoId!=null){#
            <img class="avatar-myProfile" src="/user/profilephoto?id=#:data.PhotoId#" /> #}
            else{#
            <img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />#}#
            #if (data.Name!=null) {#
            <span style="margin-left:15px;">#:Name#</span> # } #
</script>
