@media only screen and (max-width: 400px) {

   .UDDmaingridtasks {
      border: 2px solid blue;
      display: flex;
      flex-direction: column;
      
    }
   /* .UDDmaingrid {
      height: '100px';
      width: '100px';
      font-size: 50px;
      border: 2px solid red;
       /* .UDDcard1 {
      font-style: italic;
      font-weight: bold;
      display: 'flex';
      justify-content : 'center';
      align-items : 'center';
      /* margin : 5; 
   } */

}