
@media only screen and (max-width: 400px) {
  .psi_main_box {
    flex-direction: column;
  }

.psi_cards{
    height: 400px;
}

  .left_card{
    margin-bottom: 20px;
    }
 
    .box_three{
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .box_container{
        padding-bottom: 10px;
    }
}
