@media only screen and (max-width: 400px) {
.psp_info_box{
    flex-direction: column;
    float: left;
    margin-left: 5px;
}
.psp_info_typo{
    display: block;
}


.psp_main_box{
    flex-direction:column-reverse;
align-items: center;
}

.psp_paper_two{
    min-width:90vw;
    /* margin-right: 10px; */

}



.psp_btn_calendar{
    min-width:90vw;
    margin-bottom: 20px;
    /* margin-right: 10px; */
}
}