@media only screen and (max-width: 400px) {
  .user_profile_grid {
    flex-direction: column;
  }

  .user_profile_second_box {
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

.user_profile_box{
  width: 350px;
}
}
