@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;

@{
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div style="padding:8px">



    <span style="font-weight:600;font-size:20px"> Presentation</span>
    <hr />

    <div class="form-group ">
        <label class="col-form-label">
            Level
        </label>
        <div>
            @*@(Html.Kendo().DropDownList().Name("level")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetLOVIdNameList", "LOV", new { @area = "Cms", lovType = "DIAGRAM_LEVEL" });
                        });
                    })
                    //.Filter(FilterType.Contains)
                    .OptionLabel(ApplicationConstant.PlaceHolder_SelectOption)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .HtmlAttributes(new { @class = "form-control", @style = "width:100%;" })
       )*@
        </div>
    </div>
    <div class="row" style=" margin-left: 0px; margin-bottom: 10px;">
        <div class="column">
            <label class="col-form-label">
                Fill
            </label>
            <div>
                @(Html.Kendo().ColorPicker()
          .Name("nfill")
          .Value("#FFFFFF"))
            </div>
        </div>
        <div class="column" style="width:50px"></div>
        <div class="column">
            <label class="col-form-label">
                Outline
            </label>
            <div>
                @(Html.Kendo().ColorPicker()
          .Name("noutline")
          .Value("#FFFFFF") )
            </div>
        </div>
    </div>

    <div class="form-group ">
        <label class="col-form-label">
            Border Thickness
        </label>
        <div>
            <input id="borderThickness" type="range" value="1" step="1" min="1" max="30" autocomplete="off" />

        </div>
    </div>


    <div class="form-group ">
        <label class="col-form-label">
            Outline Style
        </label>
        <div>
            @*@(Html.Kendo().DropDownList()
                  .Name("noutlinestyle")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .BindTo(new List<SelectListItem>() {
                      new SelectListItem() {
                          Text = "Solid",
                          Value = "0"
                      },
                      new SelectListItem() {
                          Text = "Dotted",
                          Value = "2,5"
                      },
                      new SelectListItem() {
                          Text = "Dashed",
                          Value = "10,5"
                      }
                  })
                  .Value("0")
                  .HtmlAttributes(new { style = "width: 100%" })
    )*@
        </div>
    </div>

    <div class="row" style=" margin-left: 0px; margin-bottom: 10px;">
        <span>width </span> &nbsp; @*@(Html.Kendo().NumericTextBox().Name("nwidth").HtmlAttributes(new {  @style = "width:30%;" }))*@
        <input type="number" class="form-control" placeholder="nwidth" style="width:30%" />
        &nbsp;
        <span>height </span> &nbsp; @*@(Html.Kendo().NumericTextBox().Name("nheight").HtmlAttributes(new {  @style = "width:30%;" }))*@
    <input type="number" class="form-control" placeholder="nheight" style="width:30%" /> px

    </div>
    <span style="font-weight:600;font-size:20px"> Text</span>
    <hr />
    <div class="form-group ">
        <label class="col-form-label">
            Display Text
        </label>
        <div>
            @*@(Html.Kendo().TextBox().Value("").Name("ndisplaytext").HtmlAttributes(new {  @style = "width:100%;" }))*@
            <input type="text" class="form-control" name="ndisplaytext" style="width:100%" />

        </div>
    </div>

    <div class="row" style=" margin-left: 0px; margin-bottom: 10px;">
        <div class="column">
            <div class="form-group ">
                <label class="col-form-label">
                    Font Size: <label style="font-weight:600" id="font-size"></label>
                </label>
                <div>
                    <input id="tfontsize" onchange="changeFontSize()" type="range" value="5" step="1" min="5" max="80" autocomplete="off" />

                </div>
            </div>
        </div>
        <div class="column" style="width:30px;">
        </div>

        <div class="column">
            <div class="form-group ">
                <label class="col-form-label">
                    Text Color
                </label>
                <div>
                    @(Html.Kendo().ColorPicker()
          .Name("tcolor")
          .Value("#FFFFFF")
    )
                </div>
            </div>

        </div>

        <button class="btn btn-primary" onclick="onUpdate()">Update</button>
    </div>






</div>

<script>
    document.getElementById("font-size").innerText = document.getElementById('tfontsize').value + "px";

    function changeFontSize() {
        document.getElementById("font-size").innerText = document.getElementById('tfontsize').value + "px";
    }


    function onUpdate() {
        var obj = {
            level: $("#level").data("kendoDropDownList").value(),
            nfill: $("#nfill").data("kendoColorPicker").value(),
            noutline: $("#noutline").data("kendoColorPicker").value(),
            nborderthickness: $("#borderThickness").val(),
            noutlinestyle: $("#noutlineStyle").data("kendoDropDownList").value(),
            nwidth: $("#nwidth").value(),
            nheight: $("#nheight").value(),
            ndisplaytext: $("#ndisplayText").value(),
            tfontsize: $("#tfontsize").val(),
            tcolor: $("#tcolor").data("kendoColorPicker").value(),
        };
        window.parent.onCloseConfigureNode(obj);
    }

</script>
