@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.BusinessAnalyticsController> Resource

@{
    ViewData["Title"] = "Monitoring";
    Layout = null;
}

<div>VM Servers</div>
<div class="row">
    <div class="col">
        <div class="box">
            <span>Overview</span>
            <hr />
            <div class="row">
                <div class="col">MPPHQ-CMSUI</div>
                <div class="col">Health is yellow</div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-ELK</div>
                <div class="col">Health is green</div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-CMSDB</div>
                <div class="col">Health is green</div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-SM</div>
                <div class="col">Health is yellow</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <span>Nodes</span>
            <hr />
            <div class="row">
                <div class="col">MPPHQ-CMSUI</div>

            </div>
            <div class="row">
                <div class="col">Disk Available</div>
                <div class="col">17.65% - 41GB/234GB </div>
            </div>

            <div class="row">
                <div class="col">JVM Heap</div>
                <div class="col">46.32% - 458MB/990MB </div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-ELK</div>
            </div>
            <div class="row">
                <div class="col">Disk Available</div>
                <div class="col">17.65% - 41GB/234GB </div>
            </div>

            <div class="row">
                <div class="col">JVM Heap</div>
                <div class="col">46.32% - 458MB/990MB </div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-CMSDB</div>

            </div>
            <div class="row">
                <div class="col">Disk Available</div>
                <div class="col">17.65% - 41GB/234GB </div>
            </div>

            <div class="row">
                <div class="col">JVM Heap</div>
                <div class="col">46.32% - 458MB/990MB </div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-SM</div>

            </div>
            <div class="row">
                <div class="col">Disk Available</div>
                <div class="col">17.65% - 41GB/234GB </div>
            </div>

            <div class="row">
                <div class="col">JVM Heap</div>
                <div class="col">46.32% - 458MB/990MB </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <span>Overview</span>
            <hr />
            <div class="row">
                <div class="col">MPPHQ-CMSUI</div>
                <div class="col">4</div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-ELK</div>
                <div class="col">3</div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-CMSDB</div>
                <div class="col">2</div>
            </div>
            <div class="row">
                <div class="col">MPPHQ-SM</div>
                <div class="col">1</div>
            </div>
        </div>
    </div>
</div>


<div>API Monitoring</div>
<div class="row" >
    <div class="col">
        <div class="box">
            <span>Overview</span>
            <hr />
            <div class="row">
                <div class="col">Total API</div>
                <div class="col">15</div>
            </div>
            <div class="row">
                <div class="col">Overall Request</div>
                <div class="col">1502</div>
            </div>
            <div class="row">
                <div class="col">Max Response Time</div>
                <div class="col">250 ms</div>
            </div>
            <div class="row">
                <div class="col">Syncing Time</div>
                <div class="col">1 min</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <span>Logs</span>
            <hr />
            <div class="row">
                <div class="col">PathName</div>
                <div class="col">15</div>
            </div>
            
        </div>
    </div>
</div>

<style>
    .box {
        border-style: solid;
        border-color: lightgrey;
        padding: 2%;
        height: 314px;
    }
</style>
