@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Diagrams;
@using Syncfusion.EJ2.Navigations;
@{
    Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
}


<link href="//cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet">
<link href="//cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet">
<link href="//cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet">
<link href="//cdn.syncfusion.com/ej2/ej2-splitbuttons/styles/material.css" rel="stylesheet">
<link href="//cdn.syncfusion.com/ej2/ej2-diagrams/styles/material.css" rel="stylesheet">
<link href="//cdn.syncfusion.com/ej2/ej2-navigations/styles/fabric.css" rel="stylesheet">

<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>



<style>
    .node-style {
        color: white;
        height: 70px;
        /* text-align: center; */
        padding: -2px;
        padding-top: 5px;
        font-size: 15px;
        border-radius: 7px;
    }

    .node-style1 {
        color: white;
        height: 70px;
        /* text-align: center; */
        padding: -2px;
        padding-top: 5px;
        font-size: 15px;
        border-radius: 100px;
    }

  /*  .btn-menu:hover {
        font-size: 30px;
        cursor: pointer;
    }
*/
    .menu {
        text-align: right;
        cursor: pointer;
    }

    .avatar {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    /*.dropbtn {
        background-color: #4caf50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>



<div id="container">
    <div id="element"></div>
</div>


<script>
    var ele = document.getElementById('container');
    if (ele) {
        ele.style.visibility = "visible";
    }
</script>
<script src="~/js/MultiParent.js" type="text/javascript"></script>