@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model NoteViewModel

@{
    ViewData["Title"] = "Help Center";
    Layout = null;
}

<br />
<div style="padding-left:2%">
    <button class="btn btn-primary" onclick="newPost()">Click Here To Post</button>

    <div class="page has-sidebar has-sidebar-fluid has-sidebar-expand-lg">
        <div class="sidebar-backdrop"></div>
        <div class="page-inner p-0">
            <div class="page-section">
                <div class="container-fluid py-3">
                    <div id="listView" class="list-group list-group-media mb-3">
                    </div>
                    @*<button class="btn btn-danger btn-floated d-lg-none" type="button" data-toggle="sidebar"><i class="fa fa-th-list"></i></button>*@
                </div>
            </div>
        </div>
        <div class="page-sidebar">
            <header class="sidebar-header d-xl-none">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            <a onclick="Looper.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
                        </li>
                    </ol>
                </nav>
            </header>
            <div class="sidebar-section">
                <div id="mainList" class="list-group list-group-media mb-3" style="padding-top: 5%;">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function showUsers(id) {
        iframeOpenUrl = "/nts/note/GotoLikesUser?noteId=" + id;
        var wnd = $("#kiframepopupwindow").data("kendoWindow");
        wnd.setOptions({
            width: 400,
            height: 600,
            title: "Users Like this Note"
        });
        wnd.center().open();
    }

    function LikeNote(id) {
        $("#like-" + id).hide();
        $("#unlike-" + id).show();
        var count = $("#lcnt-" + id).html() + 1;
        $.ajax({
            type: "POST",
            url: "/cms/helpCenter/LikeDislikePost",
            data: { 'LikeOrDisLike': true, 'Id': id },
            success: function (data) {
               // $("#lcnt-" + id).html(data.LikeCount);
            },
            dataType: "json",
        });

    }

    function UnLikeNote(id) {
        $("#unlike-" + id).hide();
        $("#like-" + id).show();
        var count = $("#lcnt-" + id).html() - 1;
        $.ajax({
            type: "POST",
            url: "/cms/helpCenter/LikeDislikePost",
            data: { 'LikeOrDisLike': false, 'Id': id },
            success: function (data) {
                // $("#lcnt-" + id).html(data.LikeCount);
            },
            dataType: "json",
        });
    }

    function loadImage(e) {
        const viewer = new Viewer(document.getElementById(e.id), {
            hidden: function () {
                viewer.destroy();
            },
        });
        viewer.show();
    }


    onload();

    function onload() {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/cms/helpCenter/ReadUserGuideData",
                    dataType: "json"
                }
            },
        });


        $("#listView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html()),

        });

        $("#mainList").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#mainListTemplate").html()),

        });
    }

    function Goto(id) {
        debugger;
        $("#docfeed-" + id)[0].scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest" });
    }

    function newPost() {
        var win = GetMainWindow();
        win.iframeOpenUrl = '/cms/helpCenter/NewPost?templateMasterCode=USER_GUIDE&ownerType=Organization&sourcePost=ORG';
        win.OpenWindow({ Title: 'Help Center', Width: 450, Height: 800 });
        return false;

         @*var portalId = $('#GlobalPortalId').val();
        var url = '/Cms/Page?lo=Popup&popup=true&cbm=OnAfterService&source=Create&dataAction=Create&templateCodes=USER_GUIDE&portalId=' + portalId;

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: '@Html.Raw(SharedResource["ViewService"])', Width: 1200, Height: 700 });
        return false;*@
    }

    function OnAfterService() {

    }

    function RefreshPageBack() {
        onload();
    }

    function gototextbox(id) {
        $("#commentId-" + id).focus();

    }
</script>

<script id="template" type="text/kendo-ui-template">

    <a onclick="Goto('#:PostId#')" class="list-group-item list-group-item-action">
        <div class="list-group-item-figure rounded-left">
            <img src="/cms/document/getimagemongo?id=#:DocumentId#" alt="placeholder image">
        </div>
        <div class="list-group-item-body">
            <h4 class="list-group-item-title"> #:Message#</h4>
            <p class="list-group-item-text">  #:MenuName# </p>
        </div>
    </a>
</script>

<script id="mainListTemplate" type="text/kendo-ui-template">

    <div id="docfeed-#:data.PostId#" class="feed">
        <div class="feed-post card">
             <div class="card-header card-header-fluid">
                    <a href="" class="btn-account" role="button">
                        <div class="user-avatar user-avatar-lg">
                            <img src="/cms/document/getimagemongo?id=#:PhotoId#" alt="">
                        </div>
                        <div class="account-summary">
                            <p class="account-name"> #:Name# </p>
                            <p class="account-description"> #:Email# | #:CreatedDate# </p>
                        </div>
                    </a>
                    <div class="dropdown align-self-start ml-auto">
                        <button class="btn btn-icon btn-light text-muted" data-toggle="dropdown">
                        <i class="fa fa-fw fa-ellipsis-v"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-arrow"></div>
                            <a href="" class="dropdown-item">Get notified</a>
                            <a href="" class="dropdown-item">Mute notified</a>
                            <a href="" class="dropdown-item">Permalink</a>
                            <a href="" class="dropdown-item">Block this user</a>
                            <a href="" class="dropdown-item">Remove</a>
                        </div>
                    </div>
              </div>
      <div class="card-body">
                <p class="mb-2"> #:Message# </p><!-- .feed-attachments -->
                <div class="pswp-gallery">
                    <div class="feed-attachments">
                        <div class="attachment-item">
                            <!-- .card-figure -->
                            <div class="card-figure">
                                <!-- .card-figure -->
                                <figure class="figure">
                                    <!-- .figure-img -->
                                    <div class="figure-img">
                                        #if(MediaNewType=="VIDEO"){#
                                              <video id="videoFeeds+#:PostId#" style="width: 100%; height: 350px; background-color:black" controls>
                                                                                    <source src="#:StreamVideoPath#?fileId=#:FileId#" type="video/mp4">
                                                                                </video>
                                        #}
                                       #

                                    </div><!-- /.figure-img -->
                                </figure><!-- /.card-figure -->
                            </div><!-- /.card-figure -->
                        </div>

                    </div>
                </div><!-- /.feed-attachments -->
                <!-- .feed-summary -->
                <div class="feed-summary">
                 <a href="" onclick="" class="feed-summary-item mr-auto">6.3K likes</a>
                <a href="" class="feed-summary-item">826 comments</a>
                <a href="" class="feed-summary-item">·</a>
                <a href="" class="feed-summary-item">2.9K shares</a>
                </div><!-- .feed-summary -->
            </div>
            <!-- .card-footer -->
            <div class="card-footer">
                <div class="card-footer-item">
                    <button type="button" id="like-#:PostId#" onclick="showUsers('#:PostId#')" class="btn btn-reset text-nowrap text-muted">
                        <i  class="fa fa-fw fa-heart"></i> Like</button>
                        @*<button type="button" id="unlike-#:PostId#" onclick="showUsers('#:PostId#')" class="btn btn-reset text-nowrap text-muted">
                        <i  class="fa fa-fw fa-heart"></i> Like</button>*@
                </div>
                <div class="card-footer-item">
                    <button type="button" onclick="gototextbox('#:PostId#')" id="comme-#:PostId#" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-comment"></i> Comment</button>
                </div>
                <div class="card-footer-item">
                    <button type="button" class="btn btn-reset text-nowrap text-muted"><i class="fa fa-fw fa-share"></i> Share</button>
                </div>
            </div><!-- /.card-footer -->

    </div>
    </div>

</script>



<!--<br />
<br />
<div id="docfeed-#:data.PostId#" class="card text-dark bg-light">
    <div class="card-header"> #:SequenceOrder# </div>
    <div class="card-body">
        <h5 class="card-title"> #:NoteSubject#  </h5>
        <h6 class="card-subtitle text-muted"> #:NoteDescription# </h6>
    </div>
    <figure class="embed-responsive embed-responsive-16by9 mb-0">
        <img class="embed-responsive-item" src="/images/blog1.jpg" alt="Card image">
    </figure>
    <div class="card-body">
        <p class="card-text">
            #:NoteDescription#
            <br />-->
            @*<a  class="mention">stilearningTwit</a> .*@
            <!--<a class="hashtag">#:Name# </a> <a class="hashtag">#:Email#</a><br>
            <time datetime="2018-02-12">#:CreatedDate#</time>
        </p>
    </div>
    <div class="card-footer">
        <a class="card-footer-item card-footer-item-bordered">Likes</a>
        <a class="card-footer-item card-footer-item-bordered">Comments</a>
        <a class="card-footer-item card-footer-item-bordered">Edit</a>
        <a class="card-footer-item card-footer-item-bordered">Delete</a>
    </div>
</div>-->

