@*@using Kendo.Mvc.UI*@
@model Synergy.App.ViewModel.LoginViewModel
@using Synergy.App.Common
@{
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    .auth-form {
        margin: auto;
        width: 40%;
        border: 3px solid green;
        padding: 10px;
    }
</style>


<h2>Login Form</h2>

<form action="/action_page.php" method="post" class="auth-form">
    <div class="auth-form">

        <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        @if (Model.EnableTwoFactorAuth)
        {
            @if (Model.TwoFactorAuthType.HasValue && Model.TwoFactorAuthType.Value == TwoFactorAuthTypeEnum.OTPAndPassword)
            {
                <div class="row">
                    <div class="col pwd-tgap">
                        <input id="OtpPlain" type="password" class="round-text-box" placeholder="OTP" required="required">
                        <input asp-for="TwoFactorAuthOTP" type="hidden">
                        <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pwd-tgap">
                        Please enter the OTP you received in your registered Email
                    </div>
                </div>

                <div class="row">
                    <div class="col pwd-tgap">
                        <input id="PasswordPlain" type="password" class="round-text-box" placeholder="Password" required="required">
                        <input asp-for="Password" type="hidden">
                        <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    <div class="col pwd-tgap">
                        <input id="OtpPlain" type="password" class="round-text-box" placeholder="OTP" required="required">
                        <input asp-for="TwoFactorAuthOTP" type="hidden">
                        <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pwd-tgap">
                        Please enter the OTP you received in your registered Email
                    </div>
                </div>
            }

        }
        else
        {
            <div class="row">
                <div class="col pwd-tgap">
                    <input id="PasswordPlain" type="password" class="round-text-box" placeholder="Password" required="required">
                    <input asp-for="Password" type="hidden">
                    <div class="img-email"><img src="~/images/ico-pwd.png"></div>
                </div>
            </div>
            <div class="row">
                <div class="col pwd-tgap">
                    <dnt-captcha asp-captcha-generator-max="999999"
                                 asp-captcha-generator-min="111111"
                                 asp-captcha-generator-language="English"
                                 asp-captcha-generator-display-mode="ShowDigits"
                                 asp-use-relative-urls="true"
                                 asp-placeholder="Enter Captcha"
                                 asp-font-name="Tahoma"
                                 asp-font-size="20"
                                 asp-fore-color="#333333"
                                 asp-back-color="#ccc"
                                 asp-text-box-class="round-text-box"
                                 asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="fas fa-redo btn-sm"
                                 asp-use-noise="false" />
                </div>
            </div>
        }


        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
</form>
