@{
    ViewData["Title"] = "Settings";
  
}
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Newtonsoft.Json;

<script src="~/js/IMS/InventoryManagement/RequisitionIndex.js" asp-append-version="true"></script>
<div class="row  pad-10 no-gutters page-content">
    <div class="container card-header" style="padding:10px;max-width:100%">       
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a data-toggle="tab" href="#draft" class="nav-link active" role="tab" aria-controls="draft" aria-selected="true"><i class="far fa-file-alt" style="margin-left:15px;"></i><br />REQUISITION</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" onclick=" LoadPartailView('@Url.Action("IssueRequisitionIndex", "InventoryManagement")', $('#detailPage'));"><i class="fab fa-css3" style="margin-left:3px;"></i><br />ISSUE ITEM</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" @*onclick=" LoadPartailView('@Url.Action("ManagePage", "Template", new { @area="Cms",@templateId=Model.Id,@lo=ViewBag.LayoutMode,cbm=ViewBag.CallbackMethod})', $('#detailPage'));"*@><i class="fab fa-css3" style="margin-left:3px;"></i><br />DELIVERY</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#detailPage" class="nav-link" aria-controls="detailPage" aria-selected="false" @*onclick=" LoadPartailView('@Url.Action("ManagePage", "Template", new { @area="Cms",@templateId=Model.Id,@lo=ViewBag.LayoutMode,cbm=ViewBag.CallbackMethod})', $('#detailPage'));"*@><i class="fab fa-css3" style="margin-left:3px;"></i><br />INVOICE SCHEDULE</a></li>


        </ul>
        <div class="tab-content">
            <div id="draft" class="tab-pane  in active" role="tabpanel" aria-labelledby="design-tab">

             
                <div style="margin-top: 5px;padding-left: 20px;padding-right: 20px;width: 100%;">

                    <legend>Search Criteria</legend>
                    <div class="card ">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="row col-12" style="padding:5px;">
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Requisition Status</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="RequisitionStatus" class="form-control" />
                            </div>

                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Requisition From Date</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="RequisitionFromDate" class="form-control" />
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Requisition To Date</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="RequisitionToDate" class="form-control" />
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Item Type<span class="required">*</span></label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="ItemHead" class="form-control" />
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <label>Customer</label>
                            </div>
                            <div class="col-2" style="padding-bottom:10px;">
                                <input type="text" id="Customer" class="form-control" />
                            </div>
                            <div class="col-4" style="text-align:right;">
                                <input type="button" class="btn btn-primary" value="Get" style="margin:5px;" onclick="OnSearch()" />
                                <button class="btn btn-warning" style="margin:5px;color:white" onclick="AddRequisition()"><i class="fas fa-plus"></i> New Requisition</button>
                            </div>
                        </div>

                    </div>
                    <legend>Requisitions Order(s)</legend>
                    <div class="row">

                        <div class="col-12">
                            <div id="RequisitionsOrderGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div id="detailPage" class="tab-pane " role="tabpanel" aria-labelledby="pageCss-tab">



            </div>
           
        </div>
    </div>
</div>
