@using CMS.UI.ViewModel
@using CMS.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model IssueRequisitionViewModel


<script src="~/js/IMS/InventoryManagement/RequisitionIssue.js" asp-append-version="true"></script>
<div class="row" style="margin:10px;margin-bottom:60px;">

    <form asp-controller="InventoryManagement" asp-action="ManageRequisitionIssue" class="form-horizontal" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>

        <fieldset>
            <legend style="margin-bottom:0px;">Issue Details</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                    <div class="col-2" style="padding-bottom:10px;">
                        <label>Issue Type</label>
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <input type="text" asp-for="IssueType" id="IssueType" class="form-control" />
                    </div>
                    @*<div class="col-2" style="padding-bottom:10px;">
                        <label>Department</label>
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <input type="text" asp-for="Department" id="Department" class="form-control" />
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <label>Employee</label>
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <input type="text" asp-for="Employee" id="Employee" class="form-control" />
                    </div>*@
                    <div class="col-2" style="padding-bottom:10px;">
                        <label>Issue To</label>
                    </div>
                    <div class="col-6" style="padding-bottom:10px;">
                        <input type="text" asp-for="IssueTo" id="IssueTo" class="form-control" />
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <label>Issue On</label>
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <input type="text" asp-for="IssuedOn" id="IssuedOn" class="form-control" />
                    </div>
                    <div class="col-2" style="padding-bottom:10px;">
                        <label>Remarks</label>
                    </div>
                    <div class="col-6" style="padding-bottom:10px;">
                        <textarea asp-for="Remarks" class="form-control">Remarks</textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        &nbsp;
        &nbsp;
        <fieldset>
            <legend style="margin-bottom:0px;">Select Items To Issue</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                  <div id="itemsGrid"></div>
                </div>
            </div>
        </fieldset>
        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Add" style="margin:5px;" onclick="SaveData(event)" />
            <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav()" />
        </div>
        &nbsp;
        &nbsp;
      
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.ServiceId)
        @Html.HiddenFor(x => x.RequisitionId)
        @Html.HiddenFor(x => x.Items)
    </form>
</div>

