
@using Kendo.Mvc.UI;
<div class="col-xs row" id="addlov" style="display:none;margin-left:2px">
    <div class="col-2 btn btn-primary" style="cursor:pointer" onclick="addlistofvalue()"><i class='fa fas fa-plus'></i>Add</div>
    @*<div class="col-2 btn btn-primary" style="cursor:pointer;margin-left:2px" onclick="viewlistofvalue()"><i class='fa fas fa-plus'></i>View</div>*@
    <div class="col-4">
        @(
                    Html.Kendo().DropDownListFor(m=>m)
                        // .Name("CriteriaType123")
                        .DataTextField("Name")
                        .DataValueField("Id").AutoBind(false)
                         .OptionLabel("Select ...")
                        // .Events(e=>e.Change("onOtherChange"))
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                // read.Action("GetOtherCriteriaListOfValue", "ListOfValue").Data("LOVdata");
                                read.Action("GetOtherCriteriaListOfValue", "ListOfValue",new { @type =77});
                            });
                        })

    )
    </div>
</div>
@*@(Html.Kendo().DropDownList().BindTo((System.Collections.IEnumerable)ViewBag.JobCriterias)
    .OptionLabel("- Select  - ").DataValueField("Id")
 .Filter(FilterType.Contains)
    .DataTextField("Name").Name("CriteriaType"))*@

<script>
   // 
    $(document).ready(function () {
      //  alert($("#JobId").val());
        $("#ListOfValueTypeId").data("kendoDropDownList").dataSource.read({jobid:$("#JobId").val(),type:77});
  

    });
</script>