@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;


@model ApplicationViewModel

@{
    ViewData["Title"] = "View Candidates";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<script type="text/javascript">
    function back() {
            //window.location.href = "/recruitment/manpowerrequirementsummary/index";
            var url = "/recruitment/jobadvertisement/jobadvertisement";
            LoadPartailView(url, $('#cms-content'));
    }

    var columnDefs = [
        {
            field: "JobName",
            headerName: "Position",
            minWidth: 120,
        },
        {
            field: "OrganizationName",
            headerName: "Organization",
            minWidth: 120,
        },
        {
            field: "BatchName",
            headerName: "Batch",
            minWidth: 120,
        },
        {
            field: "ApplicationNo",
            headerName: "Application No",
            minWidth: 120,
        },
        {
            field: "ApplicationStatusCode",
            headerName: "Application Status",
            minWidth: 120,
        },
        {
            field: "FirstName",
            headerName: "First Name",
            minWidth: 120,
        },
        {
            field: "MiddleName",
            headerName: "Middle Name",
            minWidth: 120,
        },
        {
            field: "LastName",
            headerName: "Last Name",
            minWidth: 120,
        },
        {
            field: "Email",
            headerName: "Email",
            minWidth: 120,
        },
        {
            field: "TotalWorkExperience",
            headerName: "Total Work Experience",
            minWidth: 120,
        },
        {
            field: "SourceFrom",
            headerName: "Source From",
            minWidth: 120,
        },
        {
            field: "ContactPhoneHome",
            headerName: "Contact Phone Home",
            minWidth: 120,
        },
        {
            field: "ContactPhoneLocal",
            headerName: "Contact Phone Local",
            minWidth: 120,
        },
        {
            field: "Score",
            headerName: "Score",
            minWidth: 120,
        },
        {
            field: "Gender",
            headerName: "Gender",
            minWidth: 120,
        },
        {
            field: "BirthDate",
            headerName: "Birth Date",
            minWidth: 120,
            cellRenderer: (data) => {
                if (data.value != null && data.value != "") {
                    var d = new Date(data.value);
                    return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
                }
            }
        },
        {
            field: "Age",
            headerName: "Age",
            minWidth: 120,
        },
        {
            field: "BirthPlace",
            headerName: "Birth Place",
            minWidth: 120,
        },
        {
            field: "Nationality",
            headerName: "Nationality",
            minWidth: 120,
        },
        {
            field: "BloodGroup",
            headerName: "BloodGroup",
            minWidth: 120,
        },
        {
            field: "MaritalStatus",
            headerName: "MaritalStatus",
            minWidth: 120,
        },
        {
            field: "PassportNumber",
            headerName: "PassportNumber",
            minWidth: 120,
        },
        {
            field: "PassportIssueCountry",
            headerName: "Passport Issue Country",
            minWidth: 120,
        },
        {
            field: "PassportExpiryDate",
            headerName: "Passport Expiry Date",
            minWidth: 120,
            cellRenderer: (data) => {
                if (data.value != null && data.value != "") {
                    var d = new Date(data.value);
                    return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
                }
            }
        },
        {
            field: "PassportIssueCountry",
            headerName: "Passport Issue Country",
            minWidth: 120,
        },
    ];

    function GetApplicantsData() {
        debugger;
        document.getElementById("kgrdCandInterview").innerHTML = "";
        gridConfig(
            "kgrdCandInterview",
            "/Rec/RecruitmentTransaction/ReadWorkerPoolBatchData?batchid=@ViewBag.BatchId&type=@ViewBag.Type",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>

<div class="row-12" style="margin-left:15px;">
    <div class="col-sm-12 col-md-12 col-lg-12" style="padding:10px;">
        <div id="kgrdCandInterview" class="ag-theme-alpine"></div>
    </div>
</div>
