@using CMS.UI.ViewModel;
@using CMS.Common;

@{
    ViewData["Title"] = "Business Hierarchy Search";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<script>
    var status = '@Html.Raw(EnumExtension.EnumToJson(typeof(BusinessHierarchyItemTypeEnum)))';
    var statusObj = JSON.parse(status);
    console.log(statusObj);
    var data = [];
    for ( i=0; i < Object.keys(statusObj).length; i++) {
        data.push(statusObj[i]);
    }

    $(function () {
        /*getBusinessHierarchyDetails();*/

        $("#categories").kendoDropDownList({
            //dataTextField: "Name",
            //dataValueField: "id",
            optionLabel: "--- Select ---",
            /*value: 'id',*/
            filter: 'contains',
            dataSource: data
        });


    });

    function returnToPage(id) {
        /*debugger;*/
        var win = window.GetMainWindow();
        /*alert(id);*/
        win.CloseWindow({ MethodName: 'getId', Prms: id });
        return false;
    }

    var columnDefs = [
        {
            headerName: "Action",
            field: "Id",
            cellRenderer: function (params) {
                console.log(params);
                console.log(params.value);
                return `<a onclick="returnToPage('` + params.value + `')">Go To Hierarchy</a>`
            }
        },
        {
            headerName: "Reference Type",
            field: "ReferenceType",
        },
        {
            headerName: "Name",
            field: "Name",
            //cellRenderer: function (params) {
            //    console.log(params);
            //    return `<a onclick="returnToPage('`+ params.data.Id +`')">` + params.value + `</a>`
            //}
        }


    ];

    function getBusinessHierarchyDetails(type, textValue) {
        /*debugger;*/
        document.getElementById("myGrid").innerHTML = "";

        ShowLoader($("#cms-content"));
        gridConfig(
            "myGrid",
            "/CHR/BusinessHierarchy/GetBHDataByReferenceType?type="+type+"&text="+textValue,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function searchEntry() {
        /*debugger;*/
        var ref = $("#categories").val();
        var textValue = $("#keyWord").val();

        //ShowLoader($("#cms-content"));
        getBusinessHierarchyDetails(ref, textValue);
        
        HideLoader($("#cms-content"));



    }
</script>

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <div style="display:flex; margin-left:10px;">
                <div style="margin: 0 10px; width:25%">
                    <label for="categories">Select Category</label>
                    <input id="categories" value="1" class="form-control" style="width:100%" />

                </div>
                <div style="margin: 0 10px; width: 40%">
                    <label for="keyWord">Search Keyword</label>
                    <input type="text" id="keyWord" value="" class="form-control" style="width:100%" />
                </div>

                <button type="button" class="btn btn-primary" onclick="searchEntry()" style="margin-top: 30px">Search</button>
            </div>
            <br /><br />
            @* --- Grid --- *@
            <div id="myGrid" style="width:100%;height:550px;" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>