
@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;
@using Kendo.Mvc.Extensions;
@model HybridHierarchyViewModel;
@{

    Layout = "/Views/Shared/_PopupLayout.cshtml";

}
<style>
    .kgrdPDMS {
        width: 100% !important;
        padding: 10px;
    }
</style>
<script type="text/javascript">
    $(function () {
    //$(document).ready(function () {
        debugger;

        getBusinessHierarchyDetails();

    });

 var columnDefs = [

        {
         headerName: "Item Type",
         field: "ReferenceType",
     },
     {
         headerName: "Item Name",
         field: "Name",
     }


    ];


    function getBusinessHierarchyDetails() {
        debugger;
        document.getElementById("kgrdGrid").innerHTML = "";

        gridConfig(
            "kgrdGrid",
            "/CHR/BusinessHierarchy/GetBusinessHierarchyDetails?businessHierarchyItemId=@ViewBag.BusinessHierarchyId",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

</script>



<div class="row" style="padding:10px;margin:20px;">
    <h4>Business Hierarchy Details</h4>

    <hr />
    <div id="kgrdGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
</div>

