@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;
@model BatchViewModel

@{
    ViewData["Title"] = "Upload Candidate";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
}

<div>
    @*@(Html.Kendo().Upload().Multiple(false)
                                            .Name("files1")
                                            .TemplateId("fileTemplate")
                                            .Async(a => a
                                            .Save("Save", "UploadCandidate")
                                            .AutoUpload(false)
                                            )
                                            .Events(events => events
                                            .Success("onFileUploadSuccess")
                                            .Error("OnFileUploadError")
                                            )
                                            .Validation(validation => validation.MaxFileSize(10000000000).AllowedExtensions(new string[] { ".csv", ".xlsx", ".xls" }))
                            )*@
    @(Html.Kendo().Upload().Multiple(false)
                        .Name("files")
                        .Async(a => a
                        .Save("Save", "UploadCandidate", new { @Area="Recruitment"})
                        //.Remove("")
                        .AutoUpload(true)
                        )
                        .Events(e => e.Success("onFileUploadSuccess")
                        )
                            .Validation(validation => validation.AllowedExtensions(new string[] { ".csv", ".xlsx", ".xls" })
                            //.MaxFileSize(2097152)
                            )
                            .HtmlAttributes(new { @class = "hr-large" })
                    )
</div>


<script>

    function onFileUploadSuccess(e) {
        if (e.response.success) {
            $(".hr-v-summary").removeClass("validation-summary-errors");
            $(".hr-v-summary").addClass("validation-summary-valid");
            $(".hr-v-summary ul").html("");
            var msg = "Candidate Uploaded Successfully";
            alert(msg);
        }
        else {
            var msg = "";
            for (var i = 0; i < e.response.errors.length; i++) {
                msg += e.response.errors[i] + "<br/>";
            }
            ShowError(msg);
        }
        return true;
    }
    function OnFileUploadError(e) {
        var msg = "";
        for (var i = 0; i < e.response.errors.length; i++) {
            msg += e.response.errors[i] + "<br/>";
        }
        ShowError(msg);
    }
</script>