@{
    ViewData["Title"] = "AboutUs";
    //Layout = null;
}

<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/about-us.jpg')" ;>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="hero-banner-title bottom-spacing">About Us</h1><br>
                <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-bottom alternate-stripe-light">
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/who-we-are.jpg')"></div><img class="img-fluid no-display topic-img" src="assets/img/images/"></div>
            <div class="col-md-6">
                <h1>Who we are?</h1>
                <p class="text-justify">We provide consultancy and management solutions with local content by localization of global solutions and implement it in line with local environment. </p>
                <p class="text-justify">Our diverse team of consultants cater to all sectors (Small, Medium & Large) and industries. We have several years of experience serving customers across the world.</p>
                <p class="text-justify">We are offering the best business practices, templates, toolkits and frameworks to improve the chances of success of your organization by leveraging on our knowledge and expertise.</p>
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom">
    <div class="container vertical-spacing">
        <h1 class="text-center">Our Global Presence</h1><br>
        <img class="block-images-100" src="~/Themes/SynergySolutions/img/global-presence.png">
    </div>
</section>

<section class="padding-top-bottom alternate-stripe-dark">
    <h1 class="white-text text-center top-spacing">Our Value Proposition</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Experienced Resource</h5>
                    <p class="text-justify">Support team that we are proposing are experienced and have expert level skills on the process and product knowledge. With deep understanding of product and we will be able to provide deep insight during support activities.</p>
                </div>
            </div>
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Advanced Technology</h5>
                    <p class="text-justify">A rich experience in automation technologies enables us to consistently deliver the project on time, and right in first pass. </p>
                </div>
            </div>
            <div class="col-md-4 top-padding-20">
                <div class="background-white border-left-modified box-padding div-shadow">
                    <h5 class="text-blue">Best Practice Based Approach</h5>
                    <p class="text-justify">Having supported such products for multiple customer, we come with best practices that has both process and system solution. We help customer in defining end to end process that can be leveraged for their system.</p>
                </div>
            </div>
        </div>
    </div><br>
</section>
<section class="padding-top-bottom alternate-stripe-light" hidden>
    <div class="container vertical-spacing">
        <div class="row">
            <div class="col-md-6"><h1 class="text-center">Technology Partners</h1><br><br><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/technologypartner.png"></div>
            <div class="col-md-6"><h1 class="text-center">Key Customer Sectors</h1><br><br><img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/technologypartner.png"></div>
        </div>
    </div><br>
</section>
<section class="alternate-stripe-dark">
    <br>
    <h1 class="text-center top-spacing white-text">Certifications</h1><br>
    <div class="container bottom-spacing">
        <img class="img-fluid topic-img" src="~/Themes/SynergySolutions/img/certifications.jpeg">
    </div><br><br>
</section>
<section class="Clients" hidden>
    <br>
    <h1 class="text-center top-spacing">Clients</h1><br>
    <div class="container bottom-spacing">
        <div class="text-center client-group bottom-spacing">
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/tcs.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/honeywel.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/vayamtech.png"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/db.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/nsb.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/hdfc.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/vodafone.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/lnt.jpg"></div>
            <div class="client-images"><img src="~/Themes/SynergySolutions/img/tcs.jpg"></div>
        </div>
    </div><br>
</section>

<script>
    let more = document.querySelectorAll('.more')
    for (let i = 0; i < more.length; i++) {
        more[i].addEventListener('click', function () {
            more[i].parentNode.classList.toggle('active')
        })
    }

</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Card-Carousel.js"></script>
