@{ ViewData["Title"] = "AnalyticsData";
    //Layout = null;
}
<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

    @*<section class="Top-header"></section>*@
   
    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/analytics data.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero-banner-title bottom-spacing">Analytics Data</h1><br>
                    <h6 class="hero-banner-subtitle no-display">Manage all your projects and team collaboration at one place</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-data-warehouse.jpg')"></div><img class="img-fluid no-display topic-img" src="assets/img/images/os-data-warehouse.jpg"></div>
                <div class="col-md-6">
                    <h1>Analytics, Data Warehouse</h1><br>
                    <p class="text-justify">Data from different system can be brought into Synergy system and can be analyzed from various perspectives.An employee might use many different business applications for day to day work but due to lack of centralized data warehouse, it becomes difficult to produce integrated reports that can be used to asses productivity of employees.Hence, it is recommended to send data from all enterprise systems (ERP, document management, intranet portals, CRM etc.) to send to centralized data warehouse to generate business analytics on timely basis to ensure accurate decision making.</p>
                </div>
            </div>
        </div><br>
    </section>



  
    <script>
    let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }</script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>


