@{ ViewData["Title"] = "ArtificialIntelligence";
    //Layout = null;
}
<link rel="stylesheet" href="~/Themes/SynergySolutions/synergysolutions.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<script src="assets/js/readmore.js"></script>

 @*<section class="Top-header"></section>*@
  
    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/artificial-intelligence.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero-banner-title bottom-spacing">Artificial Intelligence</h1><br>
                    <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/ai-automatic-prediction.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/ai-automatic-prediction.jpg"></div>
                <div class="col-md-6">
                   
                    <h1>Automatic Prediction Technology</h1><br>
                    <p class="text-justify">Artificial intelligence is concerned with the creation of computer programmes that can access data and utilise it to learn and improve with experiences.</p>
                    <p class="text-justify">The learning process starts with observations or data, such as examples, direct experience, or instruction, so that we can seek for patterns in data and make better decisions in the future based on the examples we provide. The fundamental goal is for computers to learn on their own, even without manual effort, and adjust actions accordingly.</p>
                </div>
              
            </div>
        </div>
        </div><br>
    </section>


    <section class="padding-top-bottom alternate-stripe-dark">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h1 class="white-text">Breakdown Prediction</h1><br>
                        <p class="text-justify white-text">Machine component reliability and availability have long been essential considerations in manufacturing. Machine components and systems will be more reliable if failures can be predicted accurately.</p>
                        <p class="text-justify white-text">The entire maintenance and overhaul costs of machine components are determined by the timing of maintenance operations. Maintenance costs account for a large share of the total operating costs for production systems.</p>
                        <p class="text-justify white-text">Artficial intelligence is used to forecast difficulties caused by component failures, such as answering the question "What is the probability that a machine will fail in the near future owing to a component failure?"</p>
                        <p class="text-justify white-text">The prediction model is created using a artificial intelligence method such as the gradient booting algorithm, which learns from past data collected from machine sensors.</p>
                    </div>
                    <br>@*<button class="btn btn-primary more" type="button"></button>*@
                </div>
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/ai-breakdown-prediction.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/ai-breakdown-prediction.jpg"></div>
                <!-- <div class="col-md-6"><img class="block-images-100" src="assets/img/images/artificial-intelligence/breakdown-prediction.jpg"></div>-->
            </div>
        </div><br>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/ai-machine-vision.jpg')"></div><img class="img-fluid no-display" src="assets/img/images/ai-machine-vision.jpg"></div>
                <div class="col-md-6">
                    <!-- <div class="content">-->
                    <h1>Machine vision</h1><br>
                    <p class="text-justify">Machine vision cameras helps to inspect and analyze objects automatically through image processing and provide you the detailed report.It is a technology that enables automatic inspection and analysis for applications including automatic inspection, process control and robotic guidance by using image processing.</p>
                    <h6 class="text-justify">Below are some benefits of Artificial Intelligence:</h6><br>
                    <div class="row">
                        <div class="col-md-6">
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Predict Customer Behavior</p>
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Enhances Security</p>
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Maintenance Predictions</p>
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Machine Breakdown</p>
                        </div>
                        <div class="col-md-6">
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Home/mall security system</p>
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Forensic science</p>
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Office Attendence System</p>
                            <p>&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Industry safety</p>
                        </div>
                    </div>
                </div>
         
            </div>
        </div>
        </div>
        </div><br>
    </section>

   
    <script>
    let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }</script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>
