@{ ViewData["Title"] = "Project Management";
    //Layout = null; 
}
<link href="~/Themes/SynergySolutions/synergysolutions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<script>
    function onWorksnaps() {
        LoadPartailView("/SynergySolutions/SynergySolutions/Worksnaps", $("#cms-content"));
    }
</script>

    @*<section class="Top-header"></section>*@
    
    <section class="hero-banner-innerpages" style="background-image: url('../../../../Themes/SynergySolutions/img/other-sol.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero-banner-title bottom-spacing">Other Solutions</h1><br>
                    <h6 class="hero-banner-subtitle no-display">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-data-warehouse.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-data-warehouse.jpg"></div>
                <div class="col-md-6">
                    <!--<div class="content">-->
                    <h1>Analytics, Data Warehouse</h1><br>
                    <p class="text-justify">Data from various systems can be brought into Synergy software and analysed from distinct viewpoints.</p>
                    <p class="text-justify">An employee may use a variety of business applications on a daily basis, but due to the lack of a central database, it is difficult to generate integrated reports that can be used to evaluate work efficiency.</p>
                    <p class="text-justify">As a result, it is recommended that data from all enterprise systems (ERP, document management, intranet portals, CRM, and so on) be sent to a central database in order to create data analytics on a timely basis to ensure accurate decision making.</p>
                    <!--</div>
                        <br><button class="btn btn-primary more" type="button"></button>-->
                </div>
            </div>
        </div><br>
    </section>


    <section class="padding-top-bottom alternate-stripe-dark">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h1 class="white-text">Worksnaps</h1><br>
                        <p class="text-justify white-text">Office computers/laptops that staff use can be monitored without affecting the privacy of employees. A productivity analysis software can be installed on an employee's laptop.</p>
                        <p class="text-justify white-text">The software can capture the screen content of the laptop user on a regular basis, say every 5 minutes, and store it locally on the laptop.</p>
                        <p class="text-justify white-text">The software can determine if the software is on the permitted list of software, and then it can determine if any changes occurred in the system between two consecutive screenshots, such as mouse movements, number of clicks, and so on. After analysing images, the software deletes them and only sends statistical data to the server for reporting purposes.</p>
                        <p class="text-justify white-text">As a result, cyberslacking (online time wasting) can be reduced to improve productivity. Frequent email/message checking is also discouraged because interruptions disrupt productivity.</p>
                    </div>
                    <br><button class="btn btn-primary more" type="button" onclick="onWorksnaps()"></button>
                </div>
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-worksnaps.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-worksnaps.jpg"></div>
            </div>
        </div><br>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-helpdesk.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-helpdesk.jpg"></div>
                <div class="col-md-6">
                    <div class="content">
                        <h1>Unified Helpdesk</h1><br>
                        <p class="text-justify">In organisations, separate helpdesk systems exist for each function, such as IT helpdesks, HR helpdesks, and so on, which could be unified into a single support system and services. Furthermore, many other internal departments may not have a helpdesk to provide employee support.</p>
                        <p class="text-justify">Employee productivity can be increased by providing a single service desk window because they don't have to learn multiple systems and don't have to manually follow up on support requests.</p>
                    </div>
                    <!--<br><button class="btn btn-primary more" type="button"></button>-->
                </div>
            </div>
        </div>
        </div><br>
    </section>
    <section class="padding-top-bottom alternate-stripe-dark">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <!-- <div class="content">-->
                    <h1 class="white-text">Internal Social Media</h1><br>
                    <p class="text-justify white-text">Most employees use social media messengers such as WhatsApp for work purposes, but they are also distracted by messages from friends and family.</p>
                    <p class="text-justify white-text">Employees must communicate with coworkers via official applications to avoid distractions and maintain data security.</p>
                    <p class="text-justify white-text">Furthermore, social media tools lack the ability to communicate in work contexts. Information on social media cannot be organised by projects or subjects, resulting in a large pile of information that is difficult to search and respond to.</p>
                    <!-- </div>-->
                    <!--<br><button class="btn btn-primary more" type="button"></button>-->
                </div>
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-internal-social-media.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-internal-social-media.jpg"></div>
            </div>
        </div><br>
    </section>
    <section class="padding-top-bottom alternate-stripe-light">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-mobile-apk.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-mobile-apk.jpg"></div>
                <div class="col-md-6">
                    <!--  <div class="content">-->
                    <h1>Mobile App</h1><br>
                    <p class="text-justify">Mobile app design software needs to be user-friendly to prevent any complications both from the designer and user side. If the user spends too much time learning how to use the software and also the implementation process, that would go to waste even if it is a fully-featured mobile app design software.</p>
                    <p class="text-justify">Deliver Great User Experience</p>
                    <p class="text-justify">Great User Flexibility</p>
                    <p class="text-justify">Integrating with Other Apps</p>
                    <p class="text-justify">No-coding Knowledge Required</p>
                    <!--  </div>-->
                    <!--<br><button class="btn btn-primary more" type="button"></button>-->
                </div>
            </div>
        </div>
        </div><br>
    </section>
    <section class="padding-top-bottom alternate-stripe-dark">
        <div class="container vertical-spacing">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="content">-->
                    <h1 class="white-text">Conferencing Tools</h1><br>
                    <p class="text-justify white-text">It goes without saying that web conferencing tools (video/audio) are an essential part of working remotely.</p>
                    <p class="text-justify white-text">Although face-to-face communication is difficult to replace, web conferencing tools are extremely effective in keeping employees motivated.</p>
                    <p class="text-justify white-text">Employees are guided on a daily basis to set their objectives and review progress through regular morning and evening update meetings.</p>
                    <!--</div>-->
                    <!--<br><button class="btn btn-primary more" type="button"></button>-->
                </div>
                <div class="col-md-6"><div class="div-image image-container" style="background-image: url('../../../../Themes/SynergySolutions/img/os-video-conferencing.jpg')"></div><img class="img-fluid no-display" src="~/Themes/SynergySolutions/img/os-video-conferencing.jpg"></div>
            </div>
        </div><br>
    </section>

    <script>let more = document.querySelectorAll('.more')
        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener('click', function () {
                more[i].parentNode.classList.toggle('active')
            })
        }
        
    </script>
  
<script src="~/Themes/SynergySolutions/synergysolutions.js"></script>
