@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    Layout = string.Concat("~/Areas/CMS/Views/Shared/_LayoutCMS.cshtml");
}




<style>
    .top-header {
        height: 40px;
    }

    .img {
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    } 

    .border-color {
        border-color: #8f8f8f !important;
    }

    k-editable-area {
        height: 200px;
    }

    .task-title {
        padding: 10px;
        background-color: #fafafa;
        /* font-weight: bold; */
        text-align: left;
        color: #0b0b0b;
        margin-left: 11px;
        margin-right: 50px;
        border-style: solid;
        border-width: 2px;
        border-color: #dbdbdb;
        font-size: 15px;
        border-radius: 6px;
    }

    .sub-div {
        /*overflow-y: scroll;*/
        height: 100%;
        /*overflow-x: hidden;*/
    }

    table.k-editor {
        width: 100% !important;
        display: table !important;
        vertical-align: top !important;
        table-layout: fixed !important;
        border-collapse: separate !important;
        border-spacing: 0 !important;
        height: 250px !important;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #eff4f8;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin: 10px;
        font-size: 13px;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .k-listview {
        border-color: #dee2e6;
        color: #212529;
        background-color: #dbecfe;
    }

    .detail-box {
        width: 100%;
        margin: 5px;
        font-size: 13px
    }

    .msg-box {
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #219db9;
        width: 100%;
        height: 40px;
        color: white;
        padding: 10px;
    }

    .border-color {
        border-color: #dddddd !important;
    }

    .no-data {
        text-align: center;
        margin-top: 5%;
        font-size: 16px;
        font-weight: 500;
        display: none;
    }

    .no-data-icon {
        color: #c8aa4d;
        font-size: 40px;
    }

    .treeview {
        margin: 0;
        padding: 0px 0 0 0x;
        font-size: .8125rem;
        list-style: none inside;
        display: block;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .b-title {
        font-weight:bold;
    }
</style>
<script>

    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Cms/Task/ReadTaskDataCompleted",                    
                    dataType: "json",
                }
            },            
        });

        $("#gridNTS").kendoListView({
            dataSource: dataSource,
            dataBound: OnDataBoundCompleted,
            scrollable: "endless",
            template: kendo.template($("#templateList").html())
        });
    });

    function OnSelect(/*e*/text) {
        if (text="Inbox") {
            document.getElementById("selectedHeading").innerText = "Inbox";
        } else if (text = "Draft") {
            document.getElementById("selectedHeading").innerText = "Draft";
        } else if (text = "Sent Items") {
            document.getElementById("selectedHeading").innerText = "Sent Items";
        } else if (text="Deleted Items") {
            document.getElementById("selectedHeading").innerText = "Deleted Items";
        } else if (text="Archive") {
            document.getElementById("selectedHeading").innerText = "Archive";
        } else if (text="Conversation History") {
            document.getElementById("selectedHeading").innerText = "Conversation History";
        } else if (text="Junk Mail") {
            document.getElementById("selectedHeading").innerText = "Junk Mail";
        } else if (text="Outbox") {
            document.getElementById("selectedHeading").innerText = "Outbox";
        } else if (text="RSS Feeds") {
            document.getElementById("selectedHeading").innerText = "RSS Feeds";
        } else if (text="Scheduled") {
            document.getElementById("selectedHeading").innerText = "Scheduled";
        }
        //if (e.node.innerText.includes("Inbox")) {
        //    document.getElementById("selectedHeading").innerText = "Inbox";
        //} else if (e.node.innerText.includes("Draft")) {
        //    document.getElementById("selectedHeading").innerText = "Draft";
        //} else if (e.node.innerText.includes("Sent Items")) {
        //    document.getElementById("selectedHeading").innerText = "Sent Items";
        //} else if (e.node.innerText.includes("Deleted Items")) {
        //    document.getElementById("selectedHeading").innerText = "Deleted Items";
        //} else if (e.node.innerText.includes("Archive")) {
        //    document.getElementById("selectedHeading").innerText = "Archive";
        //} else if (e.node.innerText.includes("Conversation History")) {
        //    document.getElementById("selectedHeading").innerText = "Conversation History";
        //} else if (e.node.innerText.includes("Junk Mail")) {
        //    document.getElementById("selectedHeading").innerText = "Junk Mail";
        //} else if (e.node.innerText.includes("Outbox")) {
        //    document.getElementById("selectedHeading").innerText = "Outbox";
        //} else if (e.node.innerText.includes("RSS Feeds")) {
        //    document.getElementById("selectedHeading").innerText = "RSS Feeds";
        //} else if (e.node.innerText.includes("Scheduled")) {
        //    document.getElementById("selectedHeading").innerText = "Scheduled";
        //}
    }

    function OnDataBoundCompleted(arg) {
        
        document.getElementById('gridNTS').style.border = 'none';
        var data = $("#gridNTS").data("kendoListView").dataSource.data();
        if (data.length == 0) {
            $('#no-data-complete').show();
        } else {
            $('#no-data-complete').hide();
        }
    }

    function OpenData(id) {
        //document.getElementById("DataBox").innerHTML = id;
    }

    $.ajax({

       type: "get",
       url: "@Url.Action("MessageBox", "Nts")",
       success: function(d) {
         /* d is the HTML of the returned response */
         $("#messageBox").html(d); //replaces previous HTML with action
       }
    });
</script>

<div class="row ">
    <div class="col-sm-2  border border-primary border-color" style="background-color: #8ec1ec;padding-left:5px;padding-right:5px">

        <script>
            $('#contentTreeView')
                .on('changed.jstree', function (e, data) {
                    var i, j, r = [];
                    for (i = 0, j = data.selected.length; i < j; i++) {
                        debugger;
                        nodetext = data.instance.get_node(data.selected[i]).text;
                        //  Type = data.instance.get_node(data.selected[i]).original.Type;
                        Id = data.instance.get_node(data.selected[i]).original.id;
                        // ParentId = data.instance.get_node(data.selected[i]).original.ParentId;
                        OnSelect(nodetext);
                    }

                })
                .jstree({
                    'core': {
                        'data': function (node, cb) {
                            debugger;
                            if (node.id === "#") {
                                $.ajax({
                                    async: true,
                                    type: "GET",
                                    url: "/Nts/GetNtsMenuList",
                                    dataType: "json",
                                    success: function (json) {
                                        cb(json);
                                    },

                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                });
                                //cb([{ "text": "Root", "id": "1", "children": true }]);
                            }
                            else {
                                $.ajax({
                                    async: true,
                                    type: "GET",
                                    url: "/Nts/GetNtsMenuList?id=" + node.id,
                                    dataType: "json",
                                    success: function (json) {
                                        cb(json);
                                    },

                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                });
                            }
                        }
                    }
                });
        </script>
        <div id="contentTreeView" class="demo treeview"></div>

        @*@(Html.Kendo().TreeView()
            .Name("contentTreeView").HtmlAttributes( new {@class="treeview"})
            .Events(e=>e.Select("OnSelect"))
            .DataTextField("Name")
            .TemplateId("ct-tv-template")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("GetNtsMenuList", "Nts")
                )
            )
        )*@
    </div>
    <div class="col-sm border border-primary border-color" style="background-color: #dbecfe !important;">
        <div class="row">
            <div class="col" style="font-size: 30px; text-align: left;margin-right: 10px;margin-top: 10px;margin-bottom: -18px;">
                <span id="selectedHeading" style="padding: 12px">Inbox</span>
            </div>
            <div class="col" style="text-align: right;text-align: right;margin-right: 10px; margin-top: 10px;margin-bottom: -18px;">
                <button class="btn btn-primary">New</button>
                <span style="  color: #7693cd">Filter</span>
                &nbsp;<i class="fa fa-sm fa-abacus"></i>
            </div>
        </div>
        <div id="itemList">
            <br />
            <div class="row task-title text-left">
                <div class="col-5">From</div>
                <div class="col-4">Subject</div>
                <div class="col-3">Recieved</div>
            </div>
            <div class="sub-div">
                @*@(Html.Kendo().ListView<RecTaskViewModel>()
                    .Name("gridNTS")
                    .TagName("div")
                    .Scrollable(ListViewScrollableMode.Endless)
                    .ClientTemplateId("templateList")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("ReadTaskDataCompleted", "Task", new { Area = "cms" }))
                    )
                    .Events(events => events.DataBound("OnDataBoundCompleted"))
                )*@
                <div id="gridNTS"></div>
                <div id="no-data-complete" class="no-data"><i class="fad fa-file-exclamation no-data-icon"></i><br /><br /><span>No Task</span></div>

            </div>
        </div>
    </div>
    <div class="col-sm border border-primary border-color" id="DataBox" style="background-color: #f4f7fc;">

       <div id="messageBox"></div>

    </div>
</div>

<script type="text/x-kendo-tmpl" id="templateList">
    <div class="card" onclick="OpenData('#:Id#');" style="cursor:pointer">
        <div class="row" style="padding: 12px;" id="step-template-#=Id#">
            @*<div class="col-xs-1 col-sm-1" style=" margin-top: 4px;
                margin-left: 40px;">
                   <h1>#=TaskOwnerFirstLetter#</h1>
            </div>*@
            <div class="col-5" style="margin: 10px 0px 10px 0px;">

 <span class="fromcolor" style="font-size: 1em; color:green; display: inline-block;" title="Assigned From"><img src="http://i.stack.imgur.com/Dj7eP.jpg" />&nbsp;#=OwnerUserName#</span>
            </div>

            <div class="col-4" style="margin: 10px 0px 10px 0px;cursor:pointer;"  title="click to open Task">
                <span style="font-size: 1em; color:Highlight">#if(Subject != null) {# #:Subject# #} else{# 'NA' #}#</span>
            </div>

            <div class="col-3" style="margin: 10px 0px 10px 0px;">
                <div style="font-size: 1em;color:chocolate">#=DisplayDueDate#</div>
            </div>
        </div>
    <div style='margin-left: 15px;'>@*#=Description#*@ Prepare Final Offer
</div>
        <div id="step-edit-div-#=Id#"></div>
    <br/>
    </div>
</script>


<br />

<br />

<script id="ct-tv-template" type="text/kendo-ui-template">
    <span style="width:100%;font-size:16px;" style="cursor:pointer">
    <i class="#:item.IconCss#" title="#:item.IconTitle#"></i> &nbsp; #: item.Name #
    </span>
    @*<span data-id="#:item.id#" data-type="#:item.Type#" data-portal-name="#:item.Name#" data-parent-id="#:item.ParentId#" data-portal-id="#:item.PortalId#" class="tree-menu" data-level="#:item.ItemLevel#"></span>*@
</script>