@using CMS.UI.ViewModel;
@using CMS.Common;
@{
    Layout = null;
}

<style>
    @@media screen and (max-width: 768px) {
  .ribbon-static {
    display: none !important;
  }
}

.page
{
	border: 1px solid #a5acb5;
	margin: 20px;
	padding: 15px;
	-webkit-box-shadow: #000000 0px 0px 10px;
	-moz-box-shadow: #000000 0px 0px 10px;
	box-shadow: #000000 0px 0px 10px;
	background: #FFF;
}

.ribbon-static {
    display:block;
    float: right;
    margin-right: 10px;
    margin-top: -70px;
    text-align: center;
    font-size: 12px;
}

    #ribbon {
        cursor: default;
        font-size: 8pt;
        padding-top: 0px;
        background-color: #eaedf1;
        border-bottom: 1px solid #8b9097;
        -webkit-box-shadow: #8b9097 0px 1px 3px;
        -moz-box-shadow: #8b9097 0px 1px 3px;
        box-shadow: #8b9097 0px 1px 3px;
        overflow: hidden;
        z-index: 25;
        top: 0;
        left: 0;
        right: 0;
        height: 142px;
}

#ribbon.backstage
{
	height: auto;
	bottom: 0;
}

#ribbon .ribbon-window-title
{

}

#ribbon #ribbon-tab-header-strip
{
	margin: 20px 0 0 10px;
	white-space: nowrap;
}

#ribbon .ribbon-tab-header
{
	display: inline;
	margin: 0 5px;
	padding: 5px 10px;
	font-size: 8pt;
	color: #444; /*border: 1px solid #eaedf1;*/
        border-bottom: 1px solid #b6babf;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
        position: relative;
        z-index: 40;
    }

#ribbon.backstage .ribbon-tab-header
{
	border-bottom: 1px solid #1f48a1;
}

#ribbon .ribbon-tab-header:hover
{
	background: #f1f3f4;
	border: 1px solid #b6babf;
	margin: -1px 4px;
	cursor: pointer;
}

#ribbon.backstage .ribbon-tab-header
{
	border-bottom: 1px solid #1f48a1;
}

#ribbon .ribbon-tab-header.sel, #ribbon .ribbon-tab-header.sel:hover
{
	background: #fff;
	margin: -1px 4px;
	border: 1px solid #b6babf;
	border-bottom: 1px solid #fff;
	cursor: default;
	z-index: 45;
}

#ribbon .ribbon-tab-header.file
{
	padding: 5px 20px;
	background: #2860b3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4488e5), to(#2860b3));
	background: -moz-linear-gradient(#4488e5, #2860b3);
	-pie-background: linear-gradient(#4488e5, #2860b3);
	border: 1px solid #1f48a1;
	margin: -1px 4px;
	border-bottom: 1px solid #4488e5;
	cursor: default;
	color: #fff;
}


#ribbon .ribbon-tab-header.file:hover
{
	background: #3870c3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5498f5), to(#3870c3));
	background: -moz-linear-gradient(#5498f5, #3870c3);
	-pie-background: linear-gradient(#5498f5, #3870c3);
	border: 1px solid #1f48a1;
	cursor: pointer;
	border-bottom: 1px solid #4488e5;
	z-index: 55;
	position: relative;
}
#ribbon .ribbon-tab-header.file.sel
{
	background: #4488e5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2860b3), to(#4488e5));
	background: -moz-linear-gradient(#2860b3, #4488e5);
	-pie-background: linear-gradient(#2860b3, #4488e5);
	border: 1px solid #1f48a1;
	cursor: pointer;
	border-bottom: 1px solid #4488e5;
	z-index: 55;
	position: relative;
}

#ribbon .ribbon-tab
{
	height: 80px;
	padding: 5px;
	margin-top: 5px;
	border-top: 1px solid #b6babf;
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1); /*-pie-background: linear-gradient(#ffffff, #eaedf1);*/
	overflow: hidden;
	min-width: 500px;
	behavior: url(/PIE.htc);
	z-index: 30;
	-pie-watch-ancestors: 2;
}

#ribbon .ribbon-tab.file
{
	padding: 0;
	margin-top: 5px;
	border-top: 1px solid #1f48a1;

	background-color:#4488e5;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#4488e5, endColorstr=#ffffff);
	background-image:-moz-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-webkit-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-ms-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-o-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(15%,#4488e5), color-stop(100%,#ffffff));


	overflow: hidden;
	min-width: 500px;
	z-index: 30;
}

#ribbon .ribbon-backstage
{
	display: none;
}


#ribbon.backstage .ribbon-backstage
{
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background-color: #FFF;
}

#ribbon .section-title
{
	color: #5B626C;
	text-align: center;
	clear: left;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}

#ribbon .ribbon-section
{
	float: left;
	position: relative;
	height: 82px;
}

#ribbon .ribbon-section-sep
{
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #fff;
	margin: 0 5px;
	height: 75px;
	position: relative;
	width: 0;
	float: left;
}

#ribbon .ribbon-button
{
	padding: 4px 6px;
	border: 1px solid transparent;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;

}

#ribbon .ribbon-button-large
{
	text-align: center;
	height: 58px;
	min-width: 44px;
	float: left;
}

#ribbon .ribbon-button-small
{
	height: 14px;
	padding: 3px 4px;
	text-align: left;

}

#ribbon .ribbon-button .button-help
{
	display: none;
}

#ribbon .ribbon-button .button-title
{
	color: #444;
}

#ribbon .ribbon-button-large .button-title
{
	clear: left;
	display: block;
}

#ribbon .ribbon-button-large .ribbon-icon
{
	margin: auto;
}

#ribbon .ribbon-button-small .ribbon-icon
{
	width: 16px;
	height: 16px;
	float: left;
	clear: left;
	margin: -1px 5px 0px 1px;
}
#ribbon .ribbon-button .ribbon-icon.ribbon-hot, #ribbon .ribbon-button .ribbon-icon.ribbon-disabled
{
	display: none;
}

#ribbon .ribbon-button-large .ribbon-icon.ribbon-normal
{
	display: block;
}

#ribbon .ribbon-button:hover .ribbon-icon.ribbon-normal
{
	display: none;
}

#ribbon .ribbon-button-large:hover .ribbon-icon.ribbon-hot
{
	display: block;
}
#ribbon .ribbon-button-small .ribbon-icon.ribbon-normal
{
	display: inline;
}

#ribbon .ribbon-button-small:hover .ribbon-icon.ribbon-hot
{
	display: inline;
}

#ribbon .ribbon-button:hover, #ribbon .ribbon-button.sel
{
	border: 1px solid #F1C43F;
	background: #fdeeb3;
	cursor: pointer;

}
#ribbon .ribbon-button:active
{
	border: 1px solid #F1C43F;
	background: #F1C43F;
	cursor: pointer;
}

#ribbon .ribbon-button.disabled .ribbon-icon, #ribbon .ribbon-button.disabled:hover .ribbon-icon
{
	display: none;
}
#ribbon .ribbon-button.disabled .ribbon-icon.ribbon-disabled
{
	display: block;
	opacity: 0.8;

}
#ribbon .ribbon-button.disabled .ribbon-icon.ribbon-implicit-disabled
{
	opacity: 0.4;
}

#ribbon .ribbon-button.disabled:hover
{
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}
#ribbon .ribbon-button.disabled:active
{
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}

#ribbon .ribbon-button.disabled .button-title
{
	color: #888;
}

.ribbon-tooltip
{
	font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	position: fixed;
	z-index: 5000;
	border: 1px solid #8b9097;
	background-color: #e5e5f0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e5e5f0));
	background: -moz-linear-gradient(#ffffff, #e5e5f0);
	-pie-background: linear-gradient(#ffffff, #e5e5f0);
	padding: 5px;
	-webkit-box-shadow: #c6c9cd 1px 1px 3px;
	-moz-box-shadow: #c6c9cd 1px 1px 3px;
	box-shadow: #c6c9cd 1px 1px 3px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	width: 200px;
	top: 150px !important;
}

</style>


<script>
    (function ($) {
        $.fn.ribbon = function (id) {
            if (!id) {
                if (this.attr('id')) {
                    id = this.attr('id');
                }
            }

            var that = function () {
                return thatRet;
            };

            var thatRet = that;

            that.selectedTabIndex = -1;

            var tabNames = [];

            that.goToBackstage = function () {
                ribObj.addClass('backstage');
            }

            that.returnFromBackstage = function () {
                ribObj.removeClass('backstage');
            }
            var ribObj = null;

            that.init = function (id) {
                if (!id) {
                    id = 'ribbon';
                }

                ribObj = $('#' + id);
                ribObj.find('.ribbon-window-title').after('<div id="ribbon-tab-header-strip"></div>');
                var header = ribObj.find('#ribbon-tab-header-strip');

                ribObj.find('.ribbon-tab').each(function (index) {
                    var id = $(this).attr('id');
                    if (id == undefined || id == null) {
                        $(this).attr('id', 'tab-' + index);
                        id = 'tab-' + index;
                    }
                    tabNames[index] = id;

                    var title = $(this).find('.ribbon-title');
                    var isBackstage = $(this).hasClass('file');
                    header.append('<div id="ribbon-tab-header-' + index + '" class="ribbon-tab-header"></div>');
                    var thisTabHeader = header.find('#ribbon-tab-header-' + index);
                    thisTabHeader.append(title);
                    if (isBackstage) {
                        thisTabHeader.addClass('file');

                        thisTabHeader.click(function () {
                            that.switchToTabByIndex(index);
                            that.goToBackstage();
                        });
                    } else {
                        if (that.selectedTabIndex == -1) {
                            that.selectedTabIndex = index;
                            thisTabHeader.addClass('sel');
                        }

                        thisTabHeader.click(function () {
                            that.returnFromBackstage();
                            that.switchToTabByIndex(index);
                        });
                    }
                    $(this).hide();
                });

                ribObj.find('.ribbon-button').each(function (index) {
                    var title = $(this).find('.button-title');
                    title.detach();
                    $(this).append(title);

                    var el = $(this);

                    this.enable = function () {
                        el.removeClass('disabled');
                    };

                    this.disable = function () {
                        el.addClass('disabled');
                    };

                    this.isEnabled = function () {
                        return !el.hasClass('disabled');
                    };

                    if ($(this).find('.ribbon-hot').length == 0) {
                        $(this).find('.ribbon-normal').addClass('ribbon-hot');
                    };

                    if ($(this).find('.ribbon-disabled').length == 0) {
                        $(this).find('.ribbon-normal').addClass('ribbon-disabled');
                        $(this).find('.ribbon-normal').addClass('ribbon-implicit-disabled');
                    };

                    $(this).tooltip({
                        bodyHandler: function () {
                            if (!$(this).isEnabled()) {
                                $('#tooltip').css('visibility', 'hidden');
                                return '';
                            }

                            var tor = '';

                            if (jQuery(this).children('.button-help').size() > 0)
                                tor = (jQuery(this).children('.button-help').html());
                            else
                                tor = '';

                            if (tor == '') {
                                $('#tooltip').css('visibility', 'hidden');
                                return '';
                            }

                            $('#tooltip').css('visibility', 'visible');

                            return tor;
                        },
                        left: 0,
                        extraClass: 'ribbon-tooltip'
                    });
                });

                ribObj.find('.ribbon-section').each(function (index) {
                    $(this).after('<div class="ribbon-section-sep"></div>');
                });

                ribObj.find('div').attr('unselectable', 'on');
                ribObj.find('span').attr('unselectable', 'on');
                ribObj.attr('unselectable', 'on');

                that.switchToTabByIndex(that.selectedTabIndex);
            }

            that.switchToTabByIndex = function (index) {
                var headerStrip = $('#ribbon #ribbon-tab-header-strip');
                headerStrip.find('.ribbon-tab-header').removeClass('sel');
                headerStrip.find('#ribbon-tab-header-' + index).addClass('sel');

                $('#ribbon .ribbon-tab').hide();
                $('#ribbon #' + tabNames[index]).show();
            }

            $.fn.enable = function () {
                if (this.hasClass('ribbon-button')) {
                    if (this[0] && this[0].enable) {
                        this[0].enable();
                    }
                }
                else {
                    this.find('.ribbon-button').each(function () {
                        $(this).enable();
                    });
                }
            }




            $.fn.disable = function () {
                if (this.hasClass('ribbon-button')) {
                    if (this[0] && this[0].disable) {
                        this[0].disable();
                    }
                }
                else {
                    this.find('.ribbon-button').each(function () {
                        $(this).disable();
                    });
                }
            }

            $.fn.isEnabled = function () {
                if (this[0] && this[0].isEnabled) {
                    return this[0].isEnabled();
                } else {
                    return true;
                }
            }


            that.init(id);

            $.fn.ribbon = that;
        };

    })(jQuery);

    $(document).ready(function () {
        $('.content').richText();
        $('#ribbon').ribbon();

        $('#enable-btn').click(function () {
            $('#del-table-btn').enable();
            $('#del-page-btn').enable();
            $('#save-btn').enable();
            $('#other-btn-2').enable();

            $('#enable-btn').hide();
            $('#disable-btn').show();
        });
        $('#disable-btn').click(function () {
            $('#del-table-btn').disable();
            $('#del-page-btn').disable();
            $('#save-btn').disable();
            $('#other-btn-2').disable();

            $('#disable-btn').hide();
            $('#enable-btn').show();
        });

        $('.ribbon-button').click(function () {
            if (this.isEnabled()) {
                alert($(this).attr('id') + ' clicked');
            }
        });

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Nts/ReadAttachedReplies",                    
                    dataType: "json",
                }
            },            
        });

        $("#gridNTSReplies").kendoListView({
            dataSource: dataSource,
            scrollable: "endless",
            template: kendo.template($("#templateListReplies").html())
        });
    });
</script>

<div id="ribbon">
    <div class="ribbon-window-title"></div>

    <div class="ribbon-tab" id="format-tab">
        <span class="ribbon-title">Actions</span>
        <div class="ribbon-section">
            @*<span class="section-title">Users</span>*@
            <div class="ribbon-button ribbon-button-large" id="add-table-btn">
                <span class="button-title">Submit</span>
                <span class="button-help">This button will save the details</span>
                <img class="ribbon-icon ribbon-normal fas fa-save" style="font-size:16px" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-large" id="open-table-btn">
                <span class="button-title">Internal<br />Contacts</span>
                <span class="button-help">This button will open a table and add it to your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>
        <div class="ribbon-section">
            @*<span class="section-title">Clients</span>*@
            <div class="ribbon-button ribbon-button-large" id="add-page-btn">
                <span class="button-title">Clients</span>
                <span class="button-help">This button will add a page to your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>
        <div class="ribbon-section">
            @*<span class="section-title">Evidence</span>*@
            <div class="ribbon-button ribbon-button-large" id="add-page-btn">
                <span class="button-title">Evidence</span>
                <span class="button-help">This button will add a page to your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>

        <div class="ribbon-section">
            @*<span class="section-title">Services & Fees</span>*@
            <div class="ribbon-button ribbon-button-small" id="run-btn">
                <span class="button-title">Configure Service Products</span>
                <span class="button-help">This button will run the program.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/15" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/15" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/15" />
            </div>
            <div class="ribbon-button ribbon-button-small" id="repeat-btn">
                <span class="button-title">Configure Service Pricing</span>
                <span class="button-help">This button will repeat something.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>

        <div class="ribbon-section">
            @*<span class="section-title">Tasks</span>*@
            <div class="ribbon-button ribbon-button-small" id="run-btn">
                <span class="button-title">Task Management</span>
                <span class="button-help">This button will run the program.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-small" id="repeat-btn">
                <span class="button-title">Manage Task Definitions</span>
                <span class="button-help">This button will repeat something.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-small disabled" id="save-btn">
                <span class="button-title">Manage Task Definition Templates</span>
                <span class="button-help">This button will save your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>

    </div>
    <div class="ribbon-tab" id="reports-tab">
        <span class="ribbon-title">Reports</span>
        <div class="ribbon-section">
            @*<span class="section-title">More Stuff</span>*@
            <div class="ribbon-button ribbon-button-large">
                <span class="button-title">Other<br />Feature</span>
                <span class="button-help">This button will do something else.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
                <span class="button-title">Remove<br />Table</span>
                <span class="button-help">This button will remove the selected table from your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
        </div>
    </div>
    <div class="ribbon-tab" id="admin-tab">
        <span class="ribbon-title">Admin</span>
        <div class="ribbon-section">
            @*<span class="section-title"></span>*@
            <div class="ribbon-button ribbon-button-large">
                <span class="button-title">Password<br />Rules</span>
                <span class="button-help">This button will do something else.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
                <span class="button-title">Session<br />Management</span>
                <span class="button-help">This button will remove the selected table from your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
                <span class="button-title">Role<br />Management</span>
                <span class="button-help">This button will remove the selected table from your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
                <span class="button-title">Company<br />Information</span>
                <span class="button-help">This button will remove the selected table from your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-large disabled" id="other-btn-2">
                <span class="button-title">Role<br />Management</span>
                <span class="button-help">This button will remove the selected table from your document.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
        </div>
    </div>

    <div class="ribbon-tab" id="client-tab">
        <span class="ribbon-title">Client</span>
        <div class="ribbon-section">
            @*<span class="section-title"></span>*@
            <div class="ribbon-button ribbon-button-large">
                <span class="button-title">Add<br />Client</span>
                <span class="button-help">This button will do something else.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
            </div>
        </div>
        <div class="ribbon-section">
            @*<span class="section-title">Clients</span>*@
            <div class="ribbon-button ribbon-button-small" id="run-btn">
                <span class="button-title">Import Clients</span>
                <span class="button-help">This button will run the program.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-small" id="repeat-btn">
                <span class="button-title">Export Clients</span>
                <span class="button-help">This button will repeat something.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>
        <div class="ribbon-section">
            @*<span class="section-title">Matters</span>*@
            <div class="ribbon-button ribbon-button-small" id="run-btn">
                <span class="button-title">Import Matters</span>
                <span class="button-help">This button will run the program.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-small" id="repeat-btn">
                <span class="button-title">Export Matters</span>
                <span class="button-help">This button will repeat something.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>
        <div class="ribbon-section">
            @*<span class="section-title">Contacts</span>*@
            <div class="ribbon-button ribbon-button-small" id="run-btn">
                <span class="button-title">Import Contacts</span>
                <span class="button-help">This button will run the program.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
            <div class="ribbon-button ribbon-button-small" id="repeat-btn">
                <span class="button-title">Export Contacts</span>
                <span class="button-help">This button will repeat something.</span>
                <img class="ribbon-icon ribbon-normal" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-hot" src="https://via.placeholder.com/30" />
                <img class="ribbon-icon ribbon-disabled" src="https://via.placeholder.com/30" />
            </div>
        </div>
    </div>



</div>


<div class="row" style="margin: 15px">
    <span class="heading"> Task: Oracle Corporations</span>
</div>

<div class="row border border-primary border-color" style="margin-left: 15px;margin-right: 15px;">
    <div class="row detail-box">
        <div class="col"><span class="b-title">From</span></div>
        <div class="col"><span>Oracle Corporation</span></div>
    </div>
    <div class="row detail-box">
        <div class="col"><span class="b-title">Assigned To</span></div>
        <div class="col"><span>Sumbul Afroz Ali</span></div>
    </div>
    <div class="row detail-box">
        <div class="col"><span class="b-title">Subject</span></div>
        <div class="col"><span>Removal Notice</span></div>
    </div>
    <div class="row detail-box">
        <div class="col"><span class="b-title">Due Date</span></div>
        <div class="col"><span>17 March 2021 8:56 PM</span></div>
    </div>
    <div class="row detail-box">
        <div class="col"><span class="b-title">Task No</span></div>
        <div class="col"><span>T-17-03-2021-100</span></div>
    </div>
    <div class="row detail-box">
        <div class="col"><span class="b-title">Status</span></div>
        <div class="col"><span>Draft</span></div>
    </div>

    <div class="row detail-box">
        <div class="row msg-box">
            <h6>Message</h6>
        </div>
        <div style=" margin-left: 15px; margin-right: 25px;">
            @*@(Html.Kendo().Editor()
                  .Name("editor")
                  .HtmlAttributes(new { style = "width: 100%; height:470px", aria_label = "editor" })
                  .StyleSheets(css => css
                    .Add(Url.Content("~/Content/web/Editor/editorStyles.css"))
                  )
                  .ImageBrowser(imageBrowser => imageBrowser
                      .Image("~/Content/UserFiles/Images/{0}")
                      .Read("Read", "ImageBrowser")
                      .Create("Create", "ImageBrowser")
                      .Destroy("Destroy", "ImageBrowser")
                      .Upload("Upload", "ImageBrowser")
                      .Thumbnail("Thumbnail", "ImageBrowser")
                  )
                )*@

             <div class="page-wrapper box-content">
                <textarea class="content" id="editor"></textarea>
            </div>
        </div>
    </div>

</div>

<div class="row" style=" margin: 15px;">
    @*@(Html.Kendo().ListView<NTSMessageViewModel>()
                    .Name("gridNTSReplies")
                    .TagName("div")
                    .Scrollable(ListViewScrollableMode.Endless)
                    .ClientTemplateId("templateListReplies")
                    .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                         .Read(read => read.Action("ReadAttachedReplies", "Nts"))
                        )
                //.Events(events => events.DataBound("OnDataBoundCompleted"))
                )*@

    <div id="gridNTSReplies"></div>
</div>



<script type="text/x-kendo-tmpl" id="templateListReplies">
    <div  style="cursor:pointer;padding-right:15px;padding-left:15px;font-size: 13px;">
        <div class="row" style="padding-right: 12px;padding-left: 12px;">
         From:  #=From#
             <br/>
          Sent: #=SentDate#
            <br/>
           To: #=To#
            <br/>
       Subject: #=Subject#
             <br/>
            <br/>
             #=Body#
        </div>
    <hr/>
    </div>
</script>
