@using CMS.UI.ViewModel;
@using Kendo.Mvc.UI;
@using CMS.Common;


@{
    ViewBag.Title = "";
    Layout = null;
}


<div class="row">
    <div class="col-xs-4" style=" width: 30%; height: 700px; overflow-x: auto; overflow-y: auto;">
        <div id="inboxTreeView" class="demo treeview"></div>
    </div>
    <div class="col-xs-8 right pad-l-t-15" id="inbox-content-div" style="width:70%;">
    </div>

</div>

<style>


    .tree-item-status {
        cursor: pointer;
    }

    .left {
        min-width: 100px;
        max-width: 100px;
    }

    .splitter-container {
        height: 90vh !important;
        width: 100%;
    }

    .treeview .k-in {
        width: 100% !important;
    }
    /*Portal Start*/
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        border-left: 1px solid silver;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }



        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            color: gray;
            border: none;
            text-decoration: none;
        }

            .sidenav .closebtn:hover {
                color: red;
            }

    .slidenav-flow {
        overflow-x: hidden;
        overflow-y: auto !important;
        height: 85%;
    }

    #portal-div {
        transition: margin-left .5s;
        padding: 20px;
    }

    #overlay {
        position: fixed;
        background: rgba(0,0,0,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        width: 100%;
        height: 100%;
        z-index: 99;
        right: 100%;
        top: 0;
        /*  transition: right .5s ease;*/
    }

    .overlay {
        right: 0 !important;
        /* transition: right .5s ease !important;*/
    }

    .cms-panel-header-name {
        font-size: 16px;
        font-weight: 700;
        padding: 0 10px;
        width: 80%;
    }

    .banner-container {
        position: relative;
        color: white;
    }

    .banner-text {
        position: absolute;
        top: 14px;
        left: 60px;
        font-size: 35px;
    }
    /*Portal End*/
</style>
<script>
      $('#inboxTreeView')
            .jstree({
                'core': {
                    'data': function (node, cb) {
                        if (node.id === "#") {
                            $.ajax({
                                async: true,
                                type: "GET",
                                url: "/cms/admin/GetInboxTreeviewList?templateCode=@ViewBag.TemplateCode",
                                dataType: "json",
                                success: function (json) {
                                    debugger;
                                    cb(json);
                                },

                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                        }
                        else {
                            type = node.original.Type;
                            $.ajax({
                                async: true,
                                type: "GET",
                                url: "/cms/admin/GetInboxTreeviewList?id=" + node.id + "&type=" + type + "&templateCode=@ViewBag.TemplateCode",
                                dataType: "json",
                                success: function (json) {
                                    cb(json);
                                },

                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                        }
                    }
                }
            });



    $('#inboxTreeView')
        // listen for event
        .on('changed.jstree', function (e, item) {
            debugger;
            data = item.node.original;

            var url = '/cms/admin/InboxData?templateCode=@ViewBag.TemplateCode&id=' + data.id + '&type=' + data.Type;
            LoadPartailView1(url, "inbox-content-div");
            //var content = document.getElementById("inbox-content-div");
            //content.style.width = "100%";
            //var width = content.offsetWidth;
            //var w = (width - 305) + 'px';
            //content.style.width = w;
            return false;

        })
        // create the instance
        .jstree();
</script>