@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    ViewData["Title"] = "Careers";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />

</head>

<body>
    <section style="background-image: url('../../../../Themes/VisionPioneer/img/careers.jpg');" class="banner-image">
        <div>
            <div class="container" style="padding-top: 25em; padding-bottom: 10em ;text-align:right">
                <h1 class="text-white" style="font-size: 70px;font-style:italic">الوظائف</h1>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom">
        <div class="container" dir="rtl">

            <div class="row">
                <div class="col-md-6">
                    @*<h1>Assessment – Scientific Selection and Development Tool</h1>*@
                    <div class="row horizontal-line"><div class="col-md-12"><hr></div></div>
                    <p style="text-align:right;">
                        <br>نحن نؤمن برعاية المواهب وتزويدهم بالبيئة للنمو والتطور للوصول إلى إمكاناتهم الكاملة.

                        <br><br />من خلال بيئة العمل الاحترافية لدينا والفريق الموهوب للغاية ، نحاول الابتكار وتحقيق نتائج رائعة لعملائنا.


                        <br><br />سننشر الوظائف الشاغرة المتاحة بانتظام على هذه الصفحة ، بحيث يمكنك التقدم والحصول على فرصة لتكون جزءًا من فريق عالي الأداء وإنشاء قصص نجاح.

                        <br><br />من خلال موقفنا المربح للجانبين ، فأنت دائمًا على يقين من المعاملة العادلة ومكان العمل الصحي للتعاون مع الزملاء والشركاء والمتعاملين.

                        لا توجد شواغر متاحة في هذا الوقت. يرجى مشاهدة هذه الصفحة بانتظام لفرص العمل المحتملة معنا.<br><br />
                    </p>
                </div>
                <div class="col"><img class="img-fluid" src="~/Themes/VisionPioneer/img/team-work.png"></div>
            </div>


        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>