@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI;*@

@{
    ViewData["Title"] = "About Us - معلومات عنا";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div dir="rtl" style="text-align:right;">
        <section style="background-image: url('../../../../Themes/VisionPioneer/img/about-us-1.jpg');" class="banner-image">
            <div>
                <div class="container" style="padding-top: 25em; padding-bottom: 10em ;">
                    <h1 class="text-white" style="font-size: 70px;font-style:italic">معلومات عنا</h1>
                </div>
            </div>
        </section>
        <section class="padding-top-bottom">
            <div class="container padding-top-bottom">
                <div class="row padding-top-50">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <img class="img-fluid w-100" src="~/Themes/VisionPioneer/img/asset-1wwr.png">
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12 floating-div">
                        @*<h1 class="text-white">Who we are?</h1>
        <p class="text-white">*@
                        <h1 style="color:black">من نحن؟</h1>
                        <p style="color:black">
                            شركة وطنية سعودية تقدم حلولاً استشارية وإدارية ذات محتوى محلي من خلال توطين الحلول العالمية وتنفيذها بما يتناسب مع بيئة العمل المحلية.


                            <br> <br>لدينا فريق متنوع من الاستشاريين يلبي احتياجات جميع القطاعات (الصغيرة والمتوسطة والكبيرة) والصناعات. لدينا عدة سنوات من الخبرة في خدمة العملاء في جميع أنحاء المملكة.


                            <br><br>نحن نقدم أفضل ممارسات الأعمال والقوالب ومجموعات الأدوات والأطر لتحسين فرص نجاح مؤسستك من خلال الاستفادة من معرفتنا وخبراتنا.
                        </p>
                        <br><br>
                    </div>

                </div>
            </div>
        </section>
        <section class="padding-top-bottom bg-image " style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../../Themes/VisionPioneer/img/shutterstock_315031985.jpg');">
            <h1 class="text-center padding-top-bottom text-white">لماذا روّاد الرؤية؟<br></h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <i class="fas fa-hands" style="font-size: 45px; color: #81b445;"></i>
                        <p class="text-white">خدمات وحلول استشارية إدارية شاملة.<br><br></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <i class="fas fa-users" style="font-size: 45px; color: #81b445;"></i>
                        <p class="text-white">
                            فريق ذو خبرة مهنية متنوعة في القطاعين العام والخاص في تقديم الخدمات الاستشارية الإدارية.
                            <br><br>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <i class="fas fa-chart-line" style="font-size: 45px; color: #81b445;"></i>
                        <p class="text-white">
                            شراكة استراتيجية مع المتعاملين لتقديم خدمات وحلول ذات قيمة مضافة مع تعظيم العوائد المستدامة على استثماراتهم وأعمالهم.
                            <br><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <i class="fas fa-user-check" style="font-size: 45px; color: #81b445;"></i>
                        <p class="text-white">خبرات وممارسات عالمية من خلال قاعدة واسعة من المشاريع المنفذة محليًا ودوليًا من قبل فريق العمل داخل المملكة وخارجها.<br><br></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <i class="fas fa-user-tie" style="font-size: 45px; color: #81b445;"></i>
                        <p class="text-white">نحن نقدم الخدمات والحلول التي تجمع بين الخبرة العالمية ومعرفتنا المحلية العميقة ، مما يساعد عملائنا على حل أصعب التحديات التي يواجهونها لتحقيق ميزة تنافسية مستدامة في الأعمال التجارية.<br><br></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <i class="fas fa-handshake" style="font-size: 45px; color: #81b445;"></i>
                        <p class="text-white">لدينا شراكات وتحالفات عالمية ومحلية لتقديم حلول وخدمات متكاملة.<br><br></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="padding-top-bottom">
            <div class="container">
                <h1 class="text-center">أهدافنا الإستراتيجية</h1>
                <p class="text-center"><br>تطمح روّاد الرؤية إلى تقديم الخدمات وفق المعايير الدولية بطريقة مهنية ، بكل ثقة وشفافية.</p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4  mb-10">
                        <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                            <p class="text-white text-center">وضع الخطط الاستراتيجية وخطط الأعمال التشغيلية للمتعاملين</p>
                        </div>
                    </div>
                    <div class="col-md-4  mb-10">
                        <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                            <p class="text-white text-center">تطوير حلول مبتكرة ومتكاملة للمتعاملين</p>
                        </div>
                    </div>
                    <div class="col-md-4  mb-10">
                        <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                            <p class="text-white text-center">تقديم خدمات وحلول عالية الجودة وذات قيمة مضافة للمتعاملين من أجل استدامة الأعمال</p>
                        </div>
                    </div>

                </div>
                <div class="row padding-top-bottom">
                    <div class="col-md-4  mb-10">
                        <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                            <p class="text-white text-center">تقديم محتوى محلي للخدمات والحلول المناسبة للسوق السعودي</p>
                        </div>
                    </div>
                    <div class="col-md-4  mb-10">
                        <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                            <p class="text-white text-center">توريد، تقييم واختيار المرشحين الأكثر ملاءمة لتجاوز توقعات المتعامل</p>
                        </div>
                    </div>
                    <div class="col-md-4  mb-10">
                        <div class="background-blue border-left-modified box-padding div-shadow box-radius">
                            <p class="text-white text-center">توجيه التطوير المؤسسي لتعزيز قوة المتعاملين والميزة التنافسية ومظهرهم في سوق العمل</p>
                        </div>
                    </div>

                </div>
            </div><br>
        </section>
        <section class="padding-top-bottom">
            <div class="container">
                <h1 class="text-center">فريق روّاد الرؤية</h1>
                <p class="text-center">
                    <br>لدينا فريق عالمي ومحلي من الاستشاريين يتمتعون بسجل حافل وخبرة واسعة في مجالات تخصصهم.<br />
                    فريقنا مجهز بالمعرفة والخبرة المحلية جنبًا إلى جنب مع الخبرة العالمية لتقديم خدمات ذات قيمة مضافة للمتعاملين.
                </p>
                <p class="text-center">يتم اختيار مستشارينا في كل مشروع على أساس المهارات والكفاءات المناسبة.</p>
            </div>
        </section>

    </div>
</body>
