@using Syncfusion.EJ2.Navigations
@using CMS.UI.ViewModel;

@using CMS.Common
@{
    ViewData["Title"] = "My Profile";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}
@model CMS.UI.ViewModel.UserViewModel
@{
    //var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = "https://ej2.syncfusion.com/services/api/uploadbox/Save", RemoveUrl = "https://ej2.syncfusion.com/services/api/uploadbox/Remove" };
    //var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/Document/Save"), RemoveUrl = @Url.Content("~/Document/Remove") };
}
<style>
    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
</style>
<form asp-controller="User" asp-action="MyProfile" method="post" class="form-horizontal"
      data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
      data-ajax="true" data-ajax-method="POST">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row" style="padding:40px;">
        <div class="col-12 row pad-b-10">
            @*<div class="col-4" style="padding-bottom:10px;">
                    @if (Model.PhotoId != null)
                    {
                        <img class="avatar-myProfile" src="/cms/Document/GetImageMongo?id=@Model.PhotoId" onerror='OnPhotoError(this);' />
                    }
                    else
                    {
                        <img class="avatar-myProfile" style="background-color:gray;" src="/images/profile.jpg" />
                    }

                </div>*@
            <div class="col-8 row" style="padding-top: 15px;">
                <div class="col-10">
                    @*@(Html.Kendo().Upload().Multiple(false)
                            .Name("files")
                            .Async(a => a
                            .Save("SaveFile", "Document", new { @area = "cms" })
                            .AutoUpload(true)
                            )
                            .Events(e => e.Success("onFileUploadSuccess")
                            )
                                .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }).MaxFileSize(2097152))
                                .HtmlAttributes(new { @class = "hr-xx-large" })
                        )*@

                    @{
                        await Html.RenderPartialAsync("~/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.PhotoId), Value = Model.PhotoId });
                    }
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-light" title="Delete Profile" onclick="onProfileDel();"><i class='fa fas fa-trash'></i></button>
                </div>
            </div>
        </div>
        <div class="col-12 pad-b-10">
            <div class="form-label-group">
                <input type="text" asp-for="Name" class="form-control" placeholder="Name" autocomplete="off" required="required" />
                <label for="name">Name</label>
            </div>
        </div>
        <div class="col-12 pad-b-10">
            <div class="form-label-group">
                <input type="text" asp-for="JobTitle" class="form-control" placeholder="Job Title" required="" autocomplete="off">
                <label for="jobtitle">Job Title</label>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PhotoId" />
        <input type="hidden" asp-for="Email" />

        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-light" onclick="closeNavMyProfile()">Close</button>
        </div>
    </div>
</form>

<script type="text/javascript">
     $(document).ready(function () {
        @*if ('@ViewBag.Success' == "True") {
          //
            closeNavMyProfile();

        }*@
    });
    //function onUploadSuccess(args) {
    //    var header = args.response.headers;
    //    var statusMessage = header.slice(header.indexOf('fileid'), header.indexOf('filename'));
    //    statusMessage = statusMessage.slice(statusMessage.indexOf(':') + 1);
    //    console.log(statusMessage);
    //}
    //function onUploadFailure(args) {
    //    alert('image upload failed');
    //    console.log(args);
    //}

    function closeNavMyProfile() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }

    function onFileUploadSuccess(e) {
       //
        if (e.response.success) {
           // alert(e.response.fileId);
            //console.log(e);
            // set file id to hdden fileid proprty
            $.ajax({
                url: "/user/ChangeUserProfilePhoto?photoId=" + e.response.fileId ,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {
                    $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
                    $("#PhotoId").val(e.response.fileId);
                   // window.parent.document.getElementById("profileImg").setAttribute("src", "/user/profilephoto?id=" + e.response.fileId);
                }
            });

        }
        else {
            //var msg = ExtractError(e.response.errors, true);
            //alert(msg);
        }
        return true;
    }

    function onProfileDel() {
        //
        //  $('#dlg_DeleteConfirmation').data("kendoDialog").open();


        if ($("#PhotoId").val() != '') {
           //
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                confirmDelete();
            }, function () {

            });
        }

    }

    function confirmDelete() {
        //
        //        alert("Banner Delete");
        $(".avatar-myProfile").attr("src", "/images/profile.jpg");
        $("#PhotoId").val('');
        var logoupload = $("#files").data("kendoUpload");
        //console.log(logoupload);
        logoupload.clearFile(function (file) { return true; });
    }
     var onAjaxSuccess = function (res) {
        if (res.success) {

            ShowNotification("Saved Successfully", "success");
            closeNavMyProfile();
            window.parent.location.reload();
        }
        else {
            showError(res.error);
        }
    };
    var showError = function (error) {
        //#validation-summary-manageform
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }
</script>