@inject CMS.Common.IUserContext _userContext
@using CMS.Data.Model
@using CMS.UI.ViewModel
@using Kendo.Mvc.UI
@using CMS.Common

@model ApplicationCompleteViewModel
@{
    ViewBag.Title = "Your application has been submitted successfully";
    Layout = null;

}


<div style="padding:30px">
    <h5 class="text-primary text-bold">
        Thank you for your application. We will get back to you as soon as possible. Your application reference number is&nbsp;@(Model.ApplicationNo).
    </h5>
    <h5 class="text-primary text-bold">We would like also to assure you that we will treat your resume with the strictest confidence.</h5>
    <div><h4 class="text-success text-bold">The Galfar Team</h4></div>

</div>
