@using CMS.UI.ViewModel
@using CMS.Common
@model ActivateUserViewModel
@{
    ViewData["Title"] = "Activate User";
    Layout = /*Model.Layout*/null;

}

<style>
    .round-text-box {
        border-radius: 30px;
        height: 42px;
    }
    .login-body {
        background-color: #1d4993;
    }
</style>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Activate User</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Rec/recruitment.css">
</head>

<body>
    <div class="container main-bg" style="width: 966px;">
        <div class="register-body">
            <div class="row">
                <div class="col">
                    <div class="register-body-form">
                            @if (Model.IsActivated)
                            {
                                <div class="row">
                                    <div class="col email-tgap">
                                        <h4 class="title-register" >User has been activated Successfully.</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="@Model.Url" class="btn btn-danger" style="color:white" target="_self">Go To Application</a> 
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col email-tgap">
                                        <h4 class="title-register" style="color:red">Invalid Activation Link ! Please Contact Administrator.</h4>
                                    </div>
                                </div>

                            }


                       
                    </div>
                    <div class="logo-sml"><img src="~/images/galfar-logo-sml.png"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Rec/jquery.min.js"></script>
    <script src="~/js/Rec/bootstrap.min.js"></script>
</body>

</html>


<script type="text/javascript">
   
</script>

