@model CMS.UI.Web.Areas.Identity.Pages.Account.LoginModel
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SYNERGY BRE</h4>
            </div>

            <div class="modal-body">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <i class="fa fa-user"></i>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" type="text" required="required" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i>
                        <input asp-for="Input.Password" placeholder="Password" class="form-control password" type="password" required="required" id="pwd" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <p class="fa fa-eye" onmousedown="ShowHidePassword()" onmouseup="ShowHidePassword();"></p>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block btn-lg btn-login" value="Login">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
            </div>
        </div>
    </div>
</div>

