@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Add Analytics Chart";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<div class="row" style="margin:15px;margin-bottom:60px;">
    <div class="row col-12 pad-10">
        <div class="col-3">
            Chart <span class="required">*</span>
        </div>
        <div class="col-9">
            <input id="ChartId"  style="width:100%"/>
        </div>
    </div>
    <div class="cms-slidebar-footer">
        <button type="button" class="btn btn-light" onclick="closeNavMemberGroup();">Close</button>
        <input type="button" class="btn btn-primary" value="Ok" onclick="MapBookPages()" />
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#ChartId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/cms/query/GetDashboardItemIdNameList" ,                        
                        dataType: "json"
                    }
                },
            },
            autoBind: false,
            optionLabel: "Select Chart...",


            filter: '@FilterType.Contains',
        }).data("kendoDropDownList");


    });
    function closeNavMemberGroup() {

        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }    
    function MapBookPages() {  
        
        var compid = '@ViewBag.CompId';
        var chartid = $("#ChartId").val(); 
        var chartname = "";
        if (chartid != null && chartid != undefined && chartid != "") {
            chartname = chartid.split('-')[0];            
            chartid = chartname.replaceAll(' ', '');
        }       
        var win = GetMainWindow();
        var parent = win.GetParentWindow();
        //parent.editor.getComponents().models.find(x => x.cid == compid).attributes.attributes.chartId = chartid;
        parent.editor.getComponents().models.find(x => x.cid == compid).addAttributes({ 'chartId': chartid });
        getBoilerplateCode(chartname);
        return false;
    }

    function getBoilerplateCode(chartId) {
        $.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/GetChartDataByItemNameWithParams?itemName=" + chartId,
            success: function (response) {
                if (response != "" && response != null) {                                   
                    var win = GetMainWindow();
                    //var parent = win.GetParentWindow();
                    //parent.eval(response);
                    win.CloseWindow({ MethodName: 'SetResponse', Prms: response });
                    //eval(response);
                }
            },
            error: function (response) {
                alert("error");
            },
        });
    }

</script>