@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
@using Synergy.App.Common;
@using Synergy.App.ViewModel
@using Synergy.App.Business
@{
    ViewData["Title"] = "Editor";
    Layout = "/Views/Shared/_RenderLayout.cshtml";
}

<div id="HtmlContent">

</div>

