@using Synergy.App.ViewModel
@using Synergy.App.Common

@{
    ViewData["Title"] = "Competence Matrix";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model RecApplicationViewModel

<style>
    @@media print {
        #printPageButton {
            display: none;
        }

        #downloadPageButton {
            display: none;
        }

        a[href]:after {
            content: none !important;
        }

        @@page {
            size: A4;
            margin: 1cm;
        }
    }

    .pdf-page {
        position: relative;
        margin: 0 auto;
        padding: .4in .3in;
        color: #333;
        background-color: #fff;
        /* box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
        box-sizing: border-box;*/
    }

    .size-a4 {
        width: 10.2in;
        /* height: 8.7in;*/
    }
</style>
<script>
    function getPDF(selector) {

        kendo.drawing.drawDOM($(selector)).then(function (group) {
            kendo.drawing.pdf.saveAs(group, "ConfidentialityAgreement.pdf");
        });
    }
</script>
<body>
    <input type="button" id="printPageButton" value="Print" class="btn btn-dark" onclick="window.print();return false;" />
    <button class="export-pdf k-button" onclick="getPDF('.pdf-page')" id="downloadPageButton">Download</button>
    <div class="pdf-page size-a4">
        <div class="container">
            <div class="row" style="padding:5px;">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title SYN-Main-Title">GALFAR ALMISNAD ENGINEERING &amp; CONTRACTING WLL<br></h4>
                            <p class="card-text SYN-Subtext">Document Title: End User – Confidentiality &amp; Non-Disclosure Agreement @*Doc. Id: GAL-IT-TP-01 V2.0*@<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center"><img class="SYN-Galfar-Logo" src="~/images/Galfar-logo.png"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="SYN-para">
                        <h6 style="text-align: center;"><span style="text-decoration: underline;font-weight:bold;">CONFIDENTIALITY &amp; NON-DISCLOSURE AGREEMENT</span></h6>
                        <p class="SYN-Body-content">In consideration of the employment or continued employment with <strong>M/s GALFAR AL MISNAD ENGINEERING &amp; CONTRACTING WLL, P.O. Box No. 22170, Doha, Qatar</strong> or any of its predecessors, successors or subsidiaries, partner companies, affiliates etc. (collectively, the <strong>“Company”</strong>), and for other valuable consideration, the receipt and sufficiency of which is hereby acknowledged, the Employee agrees the following:<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">1.0 CONFIDENTIALITY<br></span><br />
                        <span class="SYN-Body-sub-Title">1.1 Confidential Information<br></span>
                        <p class="SYN-Body-content">1.1.1 The Company continually obtains and develops valuable proprietary and confidential information concerning its business, business relationships and financial affairs (the <strong>“Confidential Information”</strong>).&nbsp;<br><br>1.1.2 By way of illustration, but not limitation, Confidential Information may include trade secrets, technical information, know-how, product and marketing plans, customer and supplier information, plans, calculations, concepts, design sheets, design data, system design, blueprints, computer programs, algorithms, software, firmware, hardware, manuals, drawings, photographs, devices, samples and information disclosed to the Company by third parties, of a proprietary or confidential nature or under an obligation of confidence. Confidential Information also includes any knowledge of developments, ways of business, etc., which may in themselves be generally known but whose use by the Company is not generally known.<br><br>1.1.3 All Confidential Information, whether or not in writing and whether or not labeled or identified as confidential or proprietary, is and shall remain the exclusive property of the Company or the third party providing such information to Company.&nbsp;<br><br>1.1.4 Confidential Information shall not include information which (a) is or becomes generally known within the Company; or (b) is required to be disclosed by a governmental authority or by order of a court of competent jurisdiction, provided that such disclosure is subject to all applicable governmental or judicial protection available for like material and reasonable advance notice is given to the Company.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">1.2 Employee undertaking<br></span>
                        <p class="SYN-Body-content">1.2.1 During the term of employment and thereafter, Employee shall use, publish and disclose Confidential Information only in the performance of his/her duties for the Company and in accordance with Company policy with respect to the protection of Confidential Information.&nbsp;<br><br>1.2.2 Employee shall access, use, and/or disclose the minimum Confidential Information necessary to perform the assigned duties, safeguard and maintain the confidentiality, integrity, and availability of all Confidential Information at all times.&nbsp;<br><br>1.2.3 Employee shall not access or use or disclose any such information to other individuals or organizations without prior approval and shall not access or use or disclose such Confidential Information for personal benefit or for the benefit of any other person or business entity.<br><br>1.2.4 Employee shall return to the Company any and all materials containing any Confidential Information then in possession or under control immediately upon the termination of employment, or at any time upon the Company's request.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.0 USAGE OF INFORMATION SYSTEMS<br></span>
                        <p class="SYN-Body-content">Subject to the IT Policy of the Company, the protection of Confidential Information requires the following minimum standards to be followed:&nbsp;<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.1 Download of Confidential Information&nbsp;<br></span>
                        <p class="SYN-Body-content">Employee shall not download or extract Confidential Information to any removable storage such as compact discs or USB flash drive, or transport or transmit such information to any other computer system or entity without explicit approval to do so.&nbsp;<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.2 Software and Protection<br></span>
                        <p class="SYN-Body-content">2.2.1 The Employee shall notify IT Department and subject to approval, remove any software no longer needed, and promptly install and update security patches and updates for all software installed on the said computer system.<br><br>2.2.2 Installation of software is only allowed, if it is to be used for safe and legal work related purposes, subject to the Licensing user limitations. No attempts shall be made to disable or over-ride any of the Company’s installed software, including anti-malware software, firewalls and automatic updating services.<br></p>
                    </div>
                    <p style="page-break-after:always;"></p>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title"></span>
                        <p class="SYN-Body-content">2.2.3 Employee shall not download from the Internet or copy from external removable media or install on any computer or other device, any software of any kind for which the Company does not have a valid license. The prohibition includes but is not limited to freeware, shareware, screensavers, toolbars and/or any other programs that might be available.<br><br>2.2.4 Employee shall not use software, tools, or techniques (human, technical, or otherwise) designed or intended to break or exploit or ‘test’ security measures without explicit approval.&nbsp;<br></p>
                    </div>

                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.3 Email Access<br></span>
                        <p class="SYN-Body-content">2.3.1 Subject to underlying copyright and other intellectual property rights under applicable laws and Company policies, the Company owns all company email accounts and the data transmitted or stored using such email accounts. The Employees shall not use their personal email accounts to conduct business.<br><br>2.3.2 All email messages are secure; privacy is not guaranteed and Employees should have no general expectation of privacy in email messages sent through company email accounts.&nbsp;<br><br>2.3.3 Email and the Internet should not be used for the creation or transmission of any offensive, obscene or indecent images, data or other material, or any data capable of being resolved into obscene or indecent images or material. The Employee should avoid sending anything that may be considered offensive, e.g. anything from racial, sexual or religious abuse.<br><br>2.3.4 The Employee should be careful not to open unexpected attachments from unknown or even known senders which seems suspicious, nor follow web links within an email message unless the Employee is certain that the link is legitimate. Following a link in an email message executes code, which can also install malicious programs on the Systems.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.4 Personal System<br></span>
                        <p class="SYN-Body-content">The laptops provided to the Employees by the Company shall be deemed the property of the Company and each Employee provided with a laptop shall be responsible for the security of that laptop, regardless of whether the laptop is used in the office, at the Employee’s place of residence, or in any other location such as a hotel, conference room, car or airport. The Employee shall return the laptop provided to him by the Company at the time of his leaving the Company.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.5 Removable media&nbsp;<br></span>
                        <p class="SYN-Body-content">Employee shall not connect personal computers / laptops / wireless network devices other than those provided by IT Department in the Company network, or bring own network devices and connect those to office network unless approved by IT Department. CD-ROMs, DVD, USB dongles etc. may contain personal information or confidential data. The Employee should always make sure to have them scanned for viruses before inserting them into a Company computer.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.6 Secure Password<br></span>
                        <p class="SYN-Body-content">2.6.1 The username(s) and passwords assigned are Confidential Information for the purposes of this Agreement, and that the Employee will be held accountable for their use. Employee shall not disclose the password(s) to anyone nor allow anyone to access any Information System using the assigned username and password for any reason.&nbsp;<br><br>2.6.2 Employee shall maintain the security of the Systems under his/her control including the use of passwords, password protected screensaver and other measures as may be required under IT policies or procedures.<br><br>2.6.3 Employees should take steps to avoid phishing scams and other attempts by hackers to steal passwords and other sensitive information. In the event the password is lost, stolen, or if there is reason to suspect it has been compromised, the employee will immediately notify the IT department.&nbsp;<br><br>2.6.4 Employees must choose unique passwords for all of their Company accounts, and may not use a password that they are already using for a personal account. Employees must refrain from writing passwords down and keeping them at their workstations.&nbsp;<br><br>2.6.5 All passwords should be reasonably complex and difficult for unauthorized people to guess. Employees should choose passwords as per the Password Policy which shall be published in Galfar Intranet Portal and accessible to all Employees. All passwords must be changed regularly, with the frequency as per Galfar Password Policy.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.7 Data Protection<br></span>
                        <p class="SYN-Body-content">2.7.1 No confidential or restricted information (in paper or removable storage media format) shall be left on desk, or left in or near reproduction equipment (photocopiers, fax machines, scanners) when not in attendance and the Employee should ensure that such information is secured in line with the Company’s security requirements.<br><br>2.7.2 Employee shall be responsible for ensuring that all information on his/her Systems and hard copies of information are correctly classified and indexed in line with the requirements.<br><br>2.7.3 Employee shall use the Company’s reproductive equipment (photocopiers, fax machines, scanners, modems) only for proper business purposes and shall ensure use of facilities that are appropriate for the classification level of the information.<br></p>
                    </div>
                    <p style="page-break-after:always;"></p>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.8 Privacy and Personal Information<br></span>
                        <p class="SYN-Body-content">Employee shall not store any personal information on the Company’s file servers. Employee shall abide by any legal requirements in respect of the computer use, including privacy, data protection and copyright regulations.&nbsp;<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">2.9 System Security and Violations<br></span>
                        <p class="SYN-Body-content">2.9.1 Employees shall take the measures necessary to protect the security of information, electronic or non-electronic, and shall comply with Company policies and procedures concerning data protection and records management.&nbsp;<br><br>2.9.2 Employee shall not use Company IT Resources for any purpose that makes the Company at risk of compromising Security. Authorized users shall comply with all protocols for reporting threats to security and shall cooperate with investigations of possible breaches.<br><br>2.9.3 Employee has been granted the access rights to Company Information Systems for business reasons and a breach of them and/or any attempt to access to System by the Employee who is not authorized to access may lead to disciplinary action and specific sanctions.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">3.0 OTHER AGREEMENTS<br></span>
                        <p class="SYN-Body-content">3.1 Employee shall not be bound by any agreement or any other previous or existing business relationship which conflicts with or prevents the full performance of duties and obligations to the Company, including but not limited to any business entity that would / can be defined as a competitor (including duties and obligations under this or any other agreement with the Company) during the employment.<br><br>3.2 During the employment and for a period of two years (as prescribed under the labour laws of Qatar) after the termination or cessation of employment for any reason, the Employee shall not directly or indirectly engage into employment or business relationship with any competitor of the Company, recruit, solicit or hire any Employee of the Company, or induce or attempt to induce any Employee of the Company to discontinue his or her employment relationship with the Company.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">4.0 NO RIGHT TO CONTINUED EMPLOYMENT<br></span>
                        <p class="SYN-Body-content">The Agreement does not constitute a contract of employment or create an obligation on the part of the Company to continue the employment with the Company. The employment is “at will” and that the obligations under this Agreement shall not be affected by any change in position, title or function with, or compensation, by the Company.<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">5.0 DUTY TO RENOUNCE ACCESS<br></span>
                        <p class="SYN-Body-content">In the event the duties and responsibilities or job assignment changes, or in the event the employment with the Company ceases for any reason, the Employee will maintain the confidentiality, integrity, and availability of all Confidential Information and will promptly notify the IT department so that the access to Confidential Information may be curtailed or removed.&nbsp;<br></p>
                    </div>
                    <div class="SYN-para">
                        <span class="SYN-Body-sub-Title">6.0 GENERAL<br></span>
                        <p class="SYN-Body-content">6.1 Employees are required to read and be aware of all IT Policies and Procedures published from time to time on Galfar Intranet Portal and compliance to those forms part of this Agreement. IT Policies that shall be updated from time to time supersedes any clauses mentioned in this Agreement.<br><br>6.2 In the event that any one or more of the provisions contained herein shall, for any reason, be held to be invalid, illegal, or unenforceable in any respect, such invalidity, illegality, or unenforceability shall not affect any other provisions of this Agreement, and all other provisions shall remain in full force and effect.<br><br>6.3 No delay or omission by the Company in exercising any right under this Agreement will operate as a waiver of that or any other right. No waiver or consent given by the Company on any occasion will be construed as a bar to or continuing waiver of any right on any other occasion.<br><br>6.4 The restrictions contained in this Agreement are necessary for the protection of the business and goodwill of the Company and are reasonable for such purpose.&nbsp;<br><br>6.5 The Employee should immediately report suspected policy violations, such as inappropriate access or disclosure of Confidential Information, to the IT department. Violations of this Agreement may result in disciplinary action as described in the applicable Employee handbook, including termination of employment, suspension and loss of privileges, termination of authorization to work with Confidential Information, as well as legal sanctions.<br><br>6.6 If a breach has been made to this Agreement, the Company shall be entitled, in addition to monetary damages and to any other remedies available to the Company under this Agreement and at law but not limited to Penal Code and Cybercrime Prevention Law, to equitable relief, including injunctive relief, and to payment of all costs<br>incurred by the Company in enforcing the provisions of this Agreement, including reasonable attorneys’ fees.<br><br>6.7 This Agreement shall be construed as a sealed instrument and shall in all events and for all purposes be governed by, and construed in accordance with, the laws of the<br>State of Qatar without regard to any choice of law principle that would dictate the application of the laws of another jurisdiction.<br></p>
                    </div>
                    <p style="page-break-after:always;"></p>
                    <div class="SYN-para">
                        <p class="SYN-Body-content">I HAVE READ ALL OF THE PROVISIONS OF THIS AGREEMENT AND I UNDERSTAND, AND AGREE TO EACH OF SUCH PROVISIONS.<br><br><br>Date:<br><br>(Signature) ______________<br><br><strong>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;</strong>@Html.DisplayFor(x => x.TitleName) @Html.DisplayFor(x => x.FullName)<br><strong>Passport No: &nbsp;</strong>@Html.DisplayFor(x => x.PassportNumber)<br><strong>Qatar ID No: &nbsp;</strong>@*@Html.DisplayFor(x => x.QatarId)*@<br></p>
                        @*<div class="SYN-foot-sign"><span class="SYN-emp-sign">Employee Sign</span><span>Galfar Internal Use</span></div>*@
                        <hr />
                        <div class="row">
                            <div class="col"><span style="font-size:14px;">Galfar Internal Use</span></div>
                            <div class="col"><span style="font-size:14px;">Employee Sign : </span></div>
                        </div>
                    </div>

                    <br />
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
