@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI*@

@{
    ViewBag.Title = "Application";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    Layout = null;
    //Layout = ViewBag.Layout;
}

<script type="text/javascript">
    $(document).ready(function () {
        GetApplicatonList();
    });

    var columnDefs = [
        { field: "ApplicationNo", headerName: "Application No" },
        { field: "FirstName", headerName: "First Name" },
        { field: "MiddleName", headerName: "Middle Name"},
        { field: "LastName", headerName: "Last Name"},
        { field: "Email", headerName: "Email" },
        { field: "Gender", headerName: "Gender" },
        { field: "Gender", headerName: "Gender" },
        {
            field: "ApplicationId",
            headerName: "Issue Admit Card",
            cellRenderer: params => {
                return "<a class='btn btn-info' style='cursor:pointer;' onclick='OnIssueAdmitCard(\"" + params.data.ApplicationId + "\");' />Issue Admit Card</a>"
            }
        },
    ];

    function GetApplicatonList() {
        document.getElementById("CRPFApplicationListGrid").innerHTML = "";
        gridConfig(
            "CRPFApplicationListGrid",
            "/Rec/RecruitmentTransaction/ReadTotalJobAdvertisementData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function OnIssueAdmitCard(appId) {
        alert(appId);
    }
</script>

<div class="row" style="margin:15px;">

    <div class="col bot-margin" style="margin-top:20px">
        <div class="fa-2x pad-b-15 head">@ViewBag.Title</div>
        <div style="padding: 5px 0px;">
            @*<input type="button" class="btn btn-primary" onclick="OnAdd();" value="Add" />*@
        </div>

        <div id="CRPFApplicationListGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>

</div>