@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@*@using Kendo.Mvc.UI*@

@{
    ViewBag.Title = "Prepare Vacancy List";
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms.cshtml";
    //Layout = null;
    Layout = ViewBag.Layout;
}



<script>

    $(document).ready(function () {

        GetSelectedVacancyList();
    });

    var columnDefs = [
        //{  field: "PositionName", headerName: "Position", minWidth: 200 },
        { field: "JobName", headerName: "Job",   },
        { field: "LocationName", headerName: "Job Location", },
        { field: "ManpowerTypeName", headerName: "Job Type", },
        { field: "NoOfPosition", headerName: "No Of Positions", },
        { field: "Experience", headerName: "Experience",  },
    ];

    function GetSelectedVacancyList() {
        document.getElementById("SelectedVacancyListGrid").innerHTML = "";

        gridConfig(
            "SelectedVacancyListGrid",
            "/Rec/RecruitmentTransaction/ReadSelectedJobadvtData?vacancyId=@ViewBag.ServiceId",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    $('.toggle-menu').bind("click", function (e) {

        var isexist = document.getElementsByClassName("sidebar-closed");
        var grid = document.getElementsByClassName("k-grid-content");
        var g = grid[0].style.width;
        g = g.split('px');
        if (isexist.length > 0) {
            var w = parseInt(g[0]) - 257;
            grid[0].style.width = w + "px";

        }
        else {
            var w = parseInt(g[0]) + 257;
            grid[0].style.width = w + "px";

        }
    });
         
    

    function OnViewJobDescription(jobdid, jobid) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("JobDescription", "RecruitmentTransaction", new { @area = "Rec" })?jobId=' + jobid;
        win.OpenWindow({ Title: 'View Job Description', Width: 1000, Height: 850 });
        return false;
    }

    function OnAdd() {
        var win = GetMainWindow();
        var url = '/rec/recruitmenttransaction/JobAdvertisementList?vacancyId=@ViewBag.ServiceId';
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'Job Advertisement List', Width: 1000, Height: 750 });
        return false;
    }

    function AfterAddJobAdvs() {
        GetSelectedVacancyList();
    }        

    function OnDelete(serId) {

        var flag = confirm('Do you really want to delete?');

        if (flag) {
            $.ajax({
                url: '@Url.Action("DeleteManpowerRequirement", "RecruitmentTransaction", new { @area= "Rec" })?serviceId=' + serId,
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {

                    if (result.success) {
                        GetManpowerRequirementList();
                        ShowNotification("Deleted Successfully","success");
                    } else {
                        GetManpowerRequirementList();
                        alert("Job advertisement are already posted for this organization please inactive job advertisement before delete");
                    }
                },
                error: function (ert) {
                    GetManpowerRequirementList();
                    alert("Can't delete this record");
                }
            });
            return false;
        }
    }
   
</script>



<div class="row" style="margin:15px;">
   
    <div class="col bot-margin" style="margin-top:20px">
        @*<div class="fa-2x pad-b-15 head">Prepare Vacancy List</div>*@
        @if (ViewBag.IsService) { 
            <div style="padding: 5px 0px;">
            
                <input type="button" class="btn btn-primary" onclick="OnAdd();" value="Add Vacancy List" />
                                   
            </div>
        }

        <div id="SelectedVacancyListGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
               
    </div>

</div>
