@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Create User";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model UserViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .avatar-mysign {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .bold {
        font: bold
    }
</style>


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <form asp-controller="SmartCity" asp-action="ManageJSCUser" class="form-horizontal" data-ajax-begin="onAjaxBegin" 
                  data-ajax-complete="onAjaxComplete" data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                  data-ajax="true" data-ajax-method="POST">

                @*<div class="text-danger" asp-validation-summary="All"></div>*@
                <div class="row-12" style="padding:10px;">

                    <div class="col-12 bold">Profile</div>
                    <div class="col-12 row no-gutters">
                        <div class="col-8" style="padding-top: 15px;">
                            @{
                                await Html.RenderPartialAsync("~/Areas/Core/Views/Shared/_FileUpload.cshtml", new FileUploadViewModel { Property = nameof(Model.PhotoId), Value = Model.PhotoId, CallbackMethod = "onFileUploadSuccess" });
                            }
                        </div>
                    </div>
                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required" autocomplete="off" style="width:100%" />
                            <label for="Name">Name <span class="required">*</span></label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input asp-for="UserId" type="text" class="form-control" placeholder="User Id" required="required" autocomplete="off" style="width:100%" />
                            <label for="UserId">User Id <span class="required">*</span></label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" required="required" autocomplete="off" style="width:100%" />
                            <label for="Email">Email <span class="required">*</span></label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input type="text" asp-for="Mobile" class="form-control" placeholder="Mobile" autocomplete="off" style="width:100%" />
                            <label for="Mobile">Mobile No</label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input type="text" asp-for="JobTitle" class="form-control" placeholder="Job Title" autocomplete="off" style="width:100%" />
                            <label for="JobTitle">Job Title</label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input asp-for="Address" type="text" class="form-control" placeholder="Address" autocomplete="off" style="width:100%" />
                            <label for="Address">Address</label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <label for="Users">User Status</label>
                        <br />
                        <input asp-for="Status" id="Status" class="form-control" style="width: 100%;" />
                    </div>

                    <div class="col-12 pad-10">
                        <input type="checkbox" asp-for="IsSystemAdmin" id="IsSystemAdmin" />
                        <label>Is System Admin</label>
                    </div>

                    <div class="col-12 pad-10">
                        <div class="form-label-group">
                            <input asp-for="SequenceOrder" type="number" class="form-control" placeholder="Enter Sequence Order" autocomplete="off" style="width:100%" />
                            <label for="SequenceOrder">Enter Sequence Order</label>
                        </div>
                    </div>

                    <div class="col-12 pad-10">
                        <label for="UserRoles">User Roles</label>
                        <br />
                        <select asp-for="UserRole" id="UserRole" style="width:100%"></select>
                    </div>

                    <div class="cms-slidebar-footer">
                        <input type="button" class="btn btn-light" style="margin-right:5px" value="Close" onclick="closeNavUser()" />
                        <input type="submit" class="btn btn-primary" style="margin-right:20px" value="Save" />
                    </div>

                </div>                
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
               
        $("#Status").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
			value: "@Model.Status",
            dataSource: {
                transport: {
                    read: {
                        url: "/Home/GetEnumIdNameList?enumType=StatusEnum",
                    }
                }
            }
        });
        
        $("#UserRole").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/PortalAdmin/userrole/GetUserRoleIdNameList",
                        dataType: "json"
                    }
                },
            }),
            autoClose: false,
            placeholder: "Select user role...",
            value: @Html.Raw(JsonConvert.SerializeObject(Model.UserRole)),
            valuePrimitive: true,
            serverFiltering: true,
            filter: '@FilterType.Contains',
        });

    });

    function onAjaxBegin() {
        ShowLoader($('#appWrapper'));
    }
        
    function onAjaxSuccess(res) {
        if (res.success) {
            HideLoader($('#appWrapper'));
            window.parent.ShowNotification("User Created Successfully", "success");   
            closeNavUser();
        }
        else {
            HideLoader($('#appWrapper'));
            ShowNotification(res.error, "error");
        }
    }

    function closeNavUser() {
        var win = GetMainWindow();
        win.CloseWindow({MethodName:"RefreshUserGrid"});
        return false;
    }


    function uploadFile() {
        $("#iconFile").dmUploader({ //
            url: '/Cms/Document/SaveFile',
            multiple: false,
            extFilter: ["jpg", "jpeg", "png", "gif"],
            maxFileSize: 3000000, // 3 Megs
            onDragEnter: function () {
                // Happens when dragging something over the DnD area
                this.addClass('active');
            },
            onDragLeave: function () {
                this.removeClass('active');
            },
            onInit: function () {
            },
            onComplete: function () {
            },
            onNewFile: function (id, file) {
                ui_multi_add_file(id, file);
            },
            onBeforeUpload: function (id) {
                ui_multi_update_file_status(id, 'uploading', 'Uploading...');
                ui_multi_update_file_progress(id, 0, '', true);
            },
            onUploadCanceled: function (id) {
                ui_multi_update_file_status(id, 'warning', 'Canceled by User');
                ui_multi_update_file_progress(id, 0, 'warning', false);
            },
            onUploadProgress: function (id, percent) {
                ui_multi_update_file_progress(id, percent);
            },
            onUploadSuccess: function (id, data) {
                //upload callback
                $.ajax({
                    url: "/user/ChangeUserProfilePhoto?photoId=" + data.fileId,
                    type: "GET",
                    contentType: "application/json",
                    dataType: "JSON",
                    success: function (response) {
                        //
                        $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + data.fileId);
                        $("#PhotoId").val(data.fileId);
                    }
                });

                ui_multi_update_file_status(id, 'success', 'Upload Complete');
                ui_multi_update_file_progress(id, 100, 'success', false);
            },
            onUploadError: function (id, xhr, status, message) {
                ui_multi_update_file_status(id, 'danger', message);
                ui_multi_update_file_progress(id, 0, 'danger', false);
            },
            onFallbackMode: function () {
            },
            onFileSizeError: function (file) {
            }
        });
    }    
    

    function onFileUploadSuccess(e) {
        
        if (e.success) {            
            $.ajax({
                url: "/user/ChangeUserProfilePhoto?photoId=" + e.fileId,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {                  
                    $(".avatar-myProfile").attr("src", "/cms/Document/GetImageMongo?id=" + e.fileId);
                    $("#PhotoId").val(e.fileId);
                }
            });
        }
        else {
        }
        return true;
    }

    function onFileUploadSuccess1(e) {
        if (e.response.success) {
            $.ajax({
                url: "/user/ChangeUserSignature?photoId=" + e.response.fileId,
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
                success: function (response) {
                    //
                    $(".avatar-mysign").attr("src", "/cms/Document/GetImageMongo?id=" + e.response.fileId);
                    $("#SignatureId").val(e.response.fileId);
                }
            });
        }
        else {
        }
        return true;
    }

    function onProfileDel() {

        if ( $("#PhotoId").val()!='') {
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                confirmDelete();
            }, function () {

            });
        }
    }

    function onSignatureDel() {

        if ($("#SignatureId").val() != '') {
            kendo.confirm("Are you sure that you want to proceed?").then(function () {
                $(".avatar-mysign").attr("src", "/images/200.png");
                $("#SignatureId").val('');
                var logoupload = $("#files2").data("kendoUpload");
                
                logoupload.clearFile(function (file) { return true; });
            }, function () {

            });
        }
    }
    
</script>

