@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Parcel Garbage Collection GIS View";
    Layout = null;
}

<style>
    .inputGroup {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
    }

        .inputGroup label {
            font-size: 13px;
            font-weight: 500;
            padding: 12px 30px;
            width: 100%;
            display: block;
            text-align: left;
            color: #3c454c;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;
        }

            .inputGroup label:before {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                content: '';
                background-color: #5562eb;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }

            .inputGroup label:after {
                width: 32px;
                height: 32px;
                content: '';
                border: 2px solid #d1d7dc;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all 200ms ease-in;
            }

        .inputGroup input:checked ~ label {
            color: #fff;
        }

            .inputGroup input:checked ~ label:before {
                transform: translate(-50%, -50%) scale3d(56, 56, 1);
                opacity: 1;
            }

            .inputGroup input:checked ~ label:after {
                background-color: #54e0c7;
                border-color: #54e0c7;
            }

        .inputGroup input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }

    .k-listview-content {
        height: unset !important;
        overflow-y: hidden !important;
        padding-top: 10px !important;
    }

    .k-listview {
        border-style: none !important;
        height: unset !important;
    }

    .vl {
        border-left: 6px solid green;
        height: 120px;
    }

    .wardc {
        font-weight: 600;
        padding-left: 1%;
        padding-top: 3%;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" type="text/css" rel="stylesheet" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />
<script src="/geojson/geojsonleafletconfig.js"></script>

<div style="padding:2%">
    <h6>Map/GIS Based Report</h6>
</div>
<div class="row">

    <div class="col-4" style="margin:1%">

@*        <span style="color:red">*</span><label id="lbl-curdate" class="mb-3">Select Date</label>
        <input id="CurrentDate" style="width: 100%;" />
        <br />
        <span style="color:red">*</span><label class="mb-3">Select Ward</label>
        <input id="WardId" style="width: 100%;" />
        <br />*@
        @* <label class="mb-3">Select Auto</label>

        <input required id="auto" class="form-control" />*@
        @*<label class="wardc" id="WardNo"></label>*@
        <div class="col">
            <label style="font-weight:bold;">From Date</label>
            <input id="FromDate" style="width: 100%;" />
        </div>
        <div class="col">
            <label style="font-weight:bold;">To Date</label>
            <input id="ToDate" style="width: 100%;" />
        </div>
        <button class="btn btn-primary mt-3" onclick="searchParcelDataByWardandLocality()">View Report</button>
        @*<button class="btn btn-primary mt-3" onclick="onmapExportKml()">Export</button>*@
        @*<br /> <br />*@
        @*<button class="btn btn-primary" onclick="collectGarbage()">Mark as Garbage Collected</button>*@
        @*<br />
        <br />*@

        @*<input id="selectAllProp" name="selectAllProp" type="checkbox" onclick="selectAll(this)" /> Select All Property*@
        <br />
        <div id="listViewSL" style="overflow: auto;max-height: 80vh;width:100%;"></div>
        <script type="text/x-kendo-template" id="assestTemplate">
            <div class="inputGroup">
                  <div class="row">
                      <div class="col-2">
                         <img class="card-img shadow bg-white rounded asset-img" src="../../images/EGOV/Jammu/Building.png" alt="Card image cap" onerror="OnAssetImageError(this);" style="margin-top:15px;width:50px;height:50px;">
                         <span title="View asset details" style="margin-left:15px;cursor:pointer" class="fas fa-eye" onclick="openAssetDetails(#:gid#)"></span>
                      </div>
                      <div class="col">
                         <input id="#:gid#" class="theprop" name="#:prop_id#" type="checkbox" onchange="onSelectAsset(this)" />
                  #if(own_name!=null)
                  {# <label for="#:gid#">#:gid# <br/>#:own_name# <br/>#:usg_cat_gf#<br/>Garbage Collected:#=isGarbageCollectedStr(IsGarbageCollected)# </label> #}
                  else{# <label for="#:gid#">#:gid# <br/>#:pcl_id# <br/>#:usg_cat_gf#<br/>Garbage Collected: #=isGarbageCollectedStr(IsGarbageCollected)#</label> #}#

                  </div>
                  </div>
            </div>
        </script>
    </div>
    <div class="col">
        <div id="map-view" class="tab-pane">
            <div class="card" style="padding:5px">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
<script>

    var assetFeature;
    var newMap;
    $(document).ready(function () {
        
        $("#FromDate").kendoDatePicker({
            value: new Date(new Date().setMonth(new Date().getMonth()-6)),
			format: "dd-MM-yyyy",
            dateInput: false
	    });
        $("#FromDate").attr("disabled", "disabled");

        $("#ToDate").kendoDatePicker({
            value: new Date(),
			format: "dd-MM-yyyy",
            dateInput: false
	    });
        $("#ToDate").attr("disabled", "disabled");

    searchParcelDataByWardandLocality();
    });

    function selectAll(e) {
        options = document.getElementsByClassName("theprop");
        for (i = 0; i < options.length; i++) {
            options[i].checked = e.checked;
        }
    }

    function isGarbageCollectedStr(val) {
        if (val == true) {
            return '<span style="color:green;font-weight: 900;"> Yes</span>';
        } else {
            return '<span style="color:red;font-weight: 900;"> No</span>';
        }
    }

    function collectGarbage() {
        var listOfProps = [];
        var res = $('.theprop:checkbox:checked');
        res.each(function () {
            var $this = $(this);
            listOfProps.push($this.attr("id"));
        });
        console.log(listOfProps);
        $.ajax({
            url: '/EGov/SmartCity/ManageGarbageCollection',
            type: 'post',
            data: { listOfProps: listOfProps },
            success: function (response) {
                alert("Garbage collected successfully");
                searchParcelDataByWardandLocality();
            }
        });
    }

    function searchParcelDataByWardandLocality() {
        debugger;
        document.getElementById("listViewSL").innerHTML = "";
        var fd = kendo.toString($("#FromDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');
        var td = kendo.toString($("#ToDate").data("kendoDatePicker").value(), 'yyyy-MM-dd');

        //var ward = $("#WardId").val(); //$("#WardId").data("kendoDropDownList").value();
        var loc = ""; //$("#LocalityId").data("kendoDropDownList").value();
        var subLoc = ""; //$("#SubLocalityId").data("kendoDropDownList").value();
        //var auto = $("#auto").val(); //$("#SubLocalityId").data("kendoDropDownList").value();

        //var dt = $("#CurrentDate").data("kendoDatePicker").value();

        //if (ward == "") {
        //    myalert("Please select ward ");
        //} else
        //    if (dt == null) {
        //        myalert("Please select date ");
        //    } else {
        //        var dt = new Date(dt).toLocaleString();
        //        var url = "/EGov/SmartCity/SearchParcelDataByWardandLocality?wardId=" + ward + "&auto=" + auto /*+ "&subLocality=" + subLoc*/ + "&date=" + dt;
        //        loadParcelList(url);
        //    }

        var url = "/EGov/SmartCity/SearchGrievanceReportGISBased?fromDate="+fd+"&toDate="+td;
        loadParcelList(url);
    }
    function myalert(content) {
        HideLoader($('#maindiv'));
        $("<div></div>").kendoAlert({
            title: "Missing Fields",
            content: content
        }).data("kendoAlert").open();
    }


    function loadParcelList(url) {
        debugger;
        ShowLoader($('#maindiv'));
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (result) {
                debugger;
                HideLoader($('#maindiv'));
                loadParcelMap(result);
            }
        });


        //var dataSourceAssests = new kendo.data.DataSource({
        //    transport: {
        //        read: {
        //            url: url,
        //            dataType: "json"
        //        }
        //    },
        //});

        //$("#listViewSL").kendoListView({
        //    dataSource: dataSourceAssests,
        //    scrollable: "endless",
        //    template: kendo.template($("#assestTemplate").html()),
        //    dataBound: function () {
        //        var res = $("#listViewSL").data("kendoListView").dataSource.data();
        //        if (res.length > 0) {
        //            loadParcelMap(res);
        //        } else {
        //            alert("No parcel found");
        //        }
        //    }
        //});
    }


    function onEachFeature(feature, layer) {

        feature.mmi_id = feature.mmi_id == null ? "" : feature.mmi_id;
        feature.usg_cat_gf = feature.usg_cat_gf == null ? "" : feature.usg_cat_gf;
        feature.prop_id = feature.prop_id == null ? "" : feature.prop_id;
        feature.res_stat = feature.res_stat == null ? "" : feature.res_stat;
        feature.own_dtls = feature.own_dtls == null ? "" : feature.own_dtls;
        feature.own_name = feature.own_name == null ? "" : feature.own_name;
        feature.tel_no = feature.tel_no == null ? "" : feature.tel_no;
        feature.aadhar = feature.aadhar == null ? "" : feature.aadhar;
        feature.wrd_name = feature.wrd_name == null ? "" : feature.wrd_name;
        var garbageCollected = isGarbageCollectedStr(feature.IsGarbageCollected);
        var complcount = "<span style='color:red;font-weight: 900;cursor: pointer;' onclick='onClickComplaint(\"" + feature.mmi_id + "\");'>" + feature.Count + "</span>";
        if (feature) {
            var text = "DDN - " + feature.mmi_id
                + " <br/>Property Id - " + feature.prop_id
                + " <br/>Residential Status - " + feature.res_stat
                + " <br/>Owner Details - " + feature.own_dtls
                + " <br/>Owner Name - " + feature.own_name
                + " <br/>Telephone No - " + feature.tel_no
                + " <br/> " + feature.wrd_name
                + " <br/>Complaint Count(s) - " + complcount
            layer.bindPopup(text);
        }
    }

    function onClickComplaint(ddn){
        //return false;
        //alert(ddn);
        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ViewJSCComplaintByDDN?ddn=' + ddn;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Complaint', Width: 1200, Height: 700 });
        return false;
    }


    var wardId = $("#WardId").kendoDropDownList({
        optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        dataTextField: "Name",
        dataValueField: "Id",
        change: onWardChange,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: "/EGov/SmartCity/GetWardList",
            }
        }
    }).data("kendoDropDownList");

    //$("#auto").kendoDropDownList({
    //    dataTextField: "Name",
    //    dataValueField: "Id",
    //    optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
    //    change: onAutoChange,
    //    dataSource: {
    //        severFiltering: true,
    //        transport: {
    //            read: {
    //                url: "/EGov/SmartCity/GetJSCAutoListByTransferStation?transferStationId=@ViewBag.TransferStationId",
    //            }
    //        }
    //    }
    //});



    $("#CurrentDate").kendoDatePicker({
        format: "dd-MM-yyyy",
        value: "dd-MM-yyyy",
    });

    function onAutoChange() {
        var auto = $("#auto").val();
        $.ajax({
            url: "/EGov/SmartCity/GetMSWAutoDetails?id=" + auto,
            type: "GET",
            dataType: "json",
            success: function (result) {
                document.getElementById("WardNo").innerHTML = "Ward No: " + result.WardNo;
            }
        });

    }

    function onWardChange(e) {
        //document.getElementById("lbl-loc").style.display = "";
        //document.getElementById("LocalityId").style.display = "";
        //$("#LocalityId").kendoDropDownList({
        //    autoBind: false,
        //    cascadeFrom: "WardId",
        //    dataTextField: "Name",
        //    dataValueField: "Id",
        //    change: onLocalityChange,
        //    optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        //    dataSource: {
        //        serverFiltering: true,
        //        transport: {
        //            read: "/EGov/SmartCity/GetJSCLocalityListByWard?wardNo=" + $("#WardId").data("kendoDropDownList").value(),
        //        }
        //    }
        //}).data("kendoDropDownList");
    }

    function onLocalityChange(e) {
        ////document.getElementById("lbl-subloc").style.display = "";
        ////document.getElementById("SubLocalityId").style.display = "";
        ////var ward = $("#WardId").data("kendoDropDownList").value();
        ////var loc = $("#LocalityId").data("kendoDropDownList").value();
        ////var subLocality = $("#SubLocalityId").kendoDropDownList({
        ////    autoBind: false,
        ////    cascadeFrom: "LocalityId",
        ////    optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",
        ////    dataTextField: "Name",
        ////    dataValueField: "Id",
        ////    dataSource: {
        ////        serverFiltering: true,
        ////        transport: {
        ////            read: "/EGov/SmartCity/GetJSCSubLocalityList?wardNo=" + ward + "&loc=" + loc,
        ////        }
        ////    }
        //}).data("kendoDropDownList");
    }

    var element = document.getElementById('map');
    element.style = 'height:650px;';


    function loadParcelMap(data) {
        debugger;
        var container = L.DomUtil.get('map');
        if (container['_leaflet_id'] != null) {
            container['_leaflet_id'] = null;
            document.getElementById("map").innerHTML = "";
        }

        var element = document.getElementById('map');
        element.style = 'height:650px;';

        newMap = L.map('map');
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href=”http://osm.org/copyright”>OpenStreetMap</a> contributors'
        }).addTo(newMap);

        var a = { "type": "FeatureCollection", "features": [{ "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.832645, 32.78116], [74.832341, 32.780993], [74.832314, 32.781067], [74.832301, 32.781105], [74.832287, 32.781143], [74.832273, 32.78118], [74.832258, 32.781217], [74.832243, 32.781255], [74.832227, 32.781291], [74.83221, 32.781328], [74.832193, 32.781365], [74.832177, 32.781401], [74.832167, 32.781418], [74.832157, 32.781436], [74.832135, 32.781464], [74.832112, 32.781493], [74.831972, 32.781411], [74.831849, 32.781339], [74.831682, 32.781263], [74.831589, 32.781387], [74.831616, 32.781445], [74.831264, 32.781918], [74.831228, 32.781957], [74.831184, 32.781986], [74.83099, 32.782064], [74.83099, 32.782064], [74.831028, 32.782088], [74.83119, 32.782367], [74.831245, 32.782539], [74.831266, 32.782614], [74.83128, 32.782651], [74.831296, 32.782684], [74.831342, 32.782757], [74.831388, 32.782824], [74.831438, 32.782879], [74.83149, 32.782927], [74.831581, 32.782974], [74.831656, 32.782992], [74.831735, 32.783003], [74.831798, 32.783018], [74.831868, 32.783043], [74.832029, 32.783113], [74.832317, 32.783227], [74.832627, 32.783364], [74.83295, 32.783512], [74.832994, 32.783597], [74.833118, 32.783412], [74.83322, 32.783446], [74.833412, 32.783502], [74.833601, 32.783563], [74.834017, 32.782943], [74.834028, 32.782959], [74.834028, 32.78296], [74.834211, 32.783308], [74.834232, 32.783329], [74.834417, 32.783126], [74.834427, 32.783117], [74.83444, 32.783112], [74.83446, 32.783109], [74.834472, 32.783109], [74.834488, 32.783113], [74.834538, 32.783148], [74.83455, 32.783154], [74.834563, 32.783157], [74.834575, 32.783158], [74.83459, 32.783156], [74.834602, 32.783148], [74.834623, 32.783126], [74.834848, 32.782846], [74.835114, 32.782992], [74.835369, 32.783126], [74.835557, 32.783225], [74.835899, 32.783425], [74.836232, 32.783614], [74.836253, 32.783626], [74.836484, 32.783748], [74.836494, 32.783694], [74.83652, 32.783585], [74.83656, 32.783473], [74.836589, 32.783401], [74.836703, 32.783184], [74.836772, 32.783015], [74.836802, 32.782908], [74.836816, 32.782861], [74.836821, 32.782849], [74.836846, 32.782781], [74.8369, 32.782654], [74.83693, 32.782555], [74.836974, 32.782292], [74.836985, 32.782226], [74.837008, 32.782132], [74.837033, 32.782048], [74.837053, 32.781979], [74.837099, 32.781828], [74.837131, 32.781727], [74.837187, 32.781567], [74.837214, 32.781474], [74.837243, 32.781394], [74.837271, 32.781338], [74.837338, 32.781235], [74.83737, 32.78119], [74.837485, 32.781023], [74.8376, 32.780839], [74.837628, 32.780783], [74.837647, 32.780701], [74.837614, 32.780582], [74.837584, 32.780443], [74.837553, 32.780447], [74.83734, 32.780396], [74.837236, 32.780323], [74.837065, 32.780202], [74.836888, 32.780077], [74.83687, 32.780064], [74.836852, 32.780052], [74.836705, 32.779947], [74.836407, 32.779741], [74.83622, 32.779672], [74.836086, 32.779676], [74.835457, 32.779562], [74.835459, 32.779555], [74.835466, 32.779524], [74.835441, 32.779513], [74.835314, 32.77949], [74.835315, 32.779484], [74.835317, 32.779468], [74.835104, 32.779427], [74.834885, 32.779385], [74.834822, 32.779373], [74.834755, 32.779359], [74.834582, 32.779322], [74.834425, 32.779285], [74.834409, 32.779281], [74.834332, 32.779264], [74.834164, 32.779219], [74.834123, 32.779208], [74.83387, 32.779141], [74.833743, 32.779107], [74.833572, 32.779055], [74.833522, 32.779041], [74.833518, 32.779039], [74.833418, 32.779297], [74.833325, 32.779532], [74.833389, 32.77955], [74.833323, 32.77972], [74.833268, 32.779836], [74.833135, 32.780101], [74.832997, 32.780364], [74.832842, 32.780678], [74.832735, 32.780919], [74.832652, 32.781132], [74.832645, 32.78116]]]] }, "properties": { "col_id": "C0001", "col_name": "Sector-B-2", "col_area": 0.1965 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.833747, 32.783836], [74.833837, 32.783883], [74.833972, 32.783964], [74.834171, 32.784071], [74.834368, 32.784184], [74.834576, 32.784303], [74.834872, 32.784472], [74.835213, 32.784663], [74.835632, 32.784906], [74.835873, 32.785041], [74.836082, 32.785145], [74.836218, 32.785216], [74.836329, 32.785252], [74.836412, 32.785274], [74.836438, 32.785279], [74.836459, 32.785221], [74.836514, 32.785107], [74.836665, 32.784823], [74.8369, 32.784381], [74.837122, 32.783962], [74.837095, 32.783953], [74.837068, 32.783952], [74.836924, 32.783951], [74.836827, 32.783941], [74.836712, 32.78392], [74.836627, 32.783897], [74.836577, 32.783878], [74.836539, 32.783859], [74.836507, 32.783827], [74.836492, 32.783798], [74.836484, 32.783748], [74.836253, 32.783626], [74.836232, 32.783614], [74.835899, 32.783425], [74.835557, 32.783225], [74.835369, 32.783126], [74.835114, 32.782992], [74.834848, 32.782846], [74.834623, 32.783126], [74.834602, 32.783148], [74.83459, 32.783156], [74.834575, 32.783158], [74.834563, 32.783157], [74.83455, 32.783154], [74.834538, 32.783148], [74.834488, 32.783113], [74.834472, 32.783109], [74.83446, 32.783109], [74.83444, 32.783112], [74.834427, 32.783117], [74.834417, 32.783126], [74.834232, 32.783329], [74.834211, 32.783308], [74.834028, 32.78296], [74.834028, 32.782959], [74.834017, 32.782943], [74.833601, 32.783563], [74.833412, 32.783502], [74.83322, 32.783446], [74.833118, 32.783412], [74.832994, 32.783597], [74.833049, 32.783618], [74.833179, 32.783659], [74.833274, 32.783687], [74.833375, 32.783717], [74.833556, 32.783766], [74.833658, 32.783799], [74.833747, 32.783836]]]] }, "properties": { "col_id": "C0002", "col_name": "Rajendra Nagar", "col_area": 0.0452 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.833503, 32.770311], [74.83357, 32.770364], [74.833978, 32.770731], [74.834142, 32.770799], [74.834454, 32.77108], [74.834721, 32.771338], [74.835142, 32.771727], [74.835282, 32.771855], [74.835321, 32.771884], [74.835345, 32.771903], [74.835386, 32.771924], [74.835463, 32.771957], [74.835644, 32.772028], [74.835994, 32.772179], [74.836016, 32.77219], [74.836085, 32.772105], [74.836118, 32.772065], [74.83632, 32.771864], [74.836363, 32.771909], [74.837283, 32.770903], [74.838671, 32.769384], [74.83788, 32.769304], [74.837889, 32.769259], [74.837825, 32.769247], [74.837948, 32.768918], [74.837959, 32.768872], [74.837736, 32.768825], [74.837516, 32.768764], [74.837389, 32.768719], [74.837243, 32.768657], [74.837133, 32.76861], [74.83702, 32.768573], [74.836802, 32.768516], [74.836733, 32.768494], [74.836581, 32.76843], [74.836489, 32.768395], [74.836223, 32.768276], [74.836144, 32.768234], [74.835877, 32.768064], [74.835562, 32.768361], [74.835383, 32.768529], [74.835281, 32.768561], [74.835265, 32.768576], [74.834776, 32.769031], [74.834316, 32.769455], [74.833944, 32.769812], [74.833853, 32.769947], [74.83363, 32.770171], [74.833503, 32.770311]]]] }, "properties": { "col_id": "C0003", "col_name": "Sector-1", "col_area": 0.1154 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.838989, 32.774701], [74.838952, 32.774662], [74.839294, 32.774243], [74.839472, 32.774032], [74.839512, 32.773981], [74.839532, 32.773954], [74.839541, 32.773935], [74.839556, 32.773904], [74.839565, 32.77388], [74.839583, 32.773834], [74.839683, 32.773541], [74.839698, 32.773481], [74.83971, 32.773401], [74.839713, 32.773303], [74.839722, 32.772991], [74.839762, 32.772633], [74.839782, 32.772458], [74.839794, 32.772379], [74.839805, 32.772329], [74.839824, 32.772262], [74.839878, 32.772088], [74.840017, 32.771781], [74.840191, 32.771355], [74.840299, 32.771087], [74.840452, 32.770778], [74.840983, 32.770179], [74.841443, 32.769706], [74.841281, 32.769645], [74.840296, 32.769542], [74.839726, 32.769494], [74.838732, 32.76939], [74.838671, 32.769384], [74.837283, 32.770903], [74.836363, 32.771909], [74.83632, 32.771864], [74.836118, 32.772065], [74.836085, 32.772105], [74.836016, 32.77219], [74.836041, 32.772202], [74.836053, 32.772188], [74.836109, 32.772225], [74.836163, 32.772261], [74.836219, 32.772317], [74.836284, 32.772432], [74.836713, 32.772677], [74.83675, 32.772705], [74.83681, 32.772796], [74.836917, 32.772953], [74.836956, 32.772999], [74.836997, 32.77304], [74.837118, 32.773107], [74.837216, 32.773146], [74.837257, 32.773175], [74.837364, 32.77328], [74.837547, 32.773575], [74.837573, 32.773657], [74.837577, 32.773748], [74.837563, 32.7738], [74.837519, 32.773967], [74.837528, 32.774039], [74.837631, 32.774322], [74.83769, 32.774387], [74.838089, 32.774851], [74.8382, 32.775017], [74.83828, 32.775101], [74.838493, 32.775235], [74.838501, 32.775241], [74.838735, 32.774988], [74.838749, 32.774987], [74.838951, 32.774729], [74.838965, 32.774719], [74.838989, 32.774701]]]] }, "properties": { "col_id": "C0004", "col_name": "Sector-2", "col_area": 0.1544 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.838989, 32.774701], [74.839076, 32.774778], [74.83935, 32.775001], [74.839383, 32.775025], [74.839415, 32.775049], [74.83972, 32.775265], [74.839755, 32.775292], [74.839809, 32.775334], [74.839939, 32.775436], [74.840187, 32.775628], [74.840523, 32.7759], [74.840822, 32.776131], [74.840833, 32.776139], [74.841125, 32.775806], [74.841265, 32.775661], [74.84151, 32.775401], [74.841736, 32.77516], [74.841956, 32.774942], [74.842003, 32.774896], [74.842079, 32.77482], [74.84216, 32.774797], [74.842196, 32.774792], [74.842617, 32.774739], [74.842769, 32.774726], [74.842835, 32.774722], [74.843015, 32.774724], [74.843209, 32.774726], [74.843234, 32.774721], [74.843247, 32.774717], [74.843264, 32.774707], [74.843282, 32.774691], [74.843294, 32.774678], [74.843308, 32.774662], [74.843322, 32.774641], [74.843329, 32.774624], [74.843334, 32.77461], [74.843335, 32.7746], [74.843336, 32.774586], [74.843336, 32.774575], [74.843333, 32.774556], [74.843327, 32.774539], [74.843314, 32.77451], [74.843294, 32.774466], [74.84319, 32.774286], [74.843165, 32.77423], [74.843145, 32.774166], [74.84313, 32.774107], [74.843113, 32.77402], [74.843082, 32.773816], [74.843089, 32.773769], [74.843098, 32.773743], [74.843254, 32.773439], [74.843278, 32.773405], [74.843297, 32.773387], [74.843318, 32.773373], [74.843375, 32.773351], [74.843405, 32.773342], [74.84345, 32.773333], [74.843553, 32.773315], [74.843718, 32.773299], [74.844015, 32.773279], [74.844041, 32.773276], [74.84406, 32.773273], [74.844074, 32.77327], [74.84409, 32.773265], [74.844114, 32.773256], [74.844128, 32.773249], [74.844148, 32.773234], [74.844167, 32.773216], [74.844182, 32.773197], [74.844193, 32.773176], [74.844202, 32.773156], [74.84421, 32.773132], [74.844215, 32.773104], [74.844215, 32.773078], [74.84421, 32.773054], [74.844198, 32.773033], [74.844186, 32.773018], [74.84385, 32.772769], [74.84383, 32.772748], [74.843817, 32.772728], [74.843803, 32.772701], [74.843792, 32.772674], [74.843883, 32.772532], [74.843936, 32.772459], [74.843975, 32.77241], [74.844083, 32.772279], [74.84428, 32.772041], [74.844456, 32.771802], [74.843785, 32.771524], [74.843711, 32.771491], [74.843626, 32.771453], [74.843226, 32.771255], [74.843077, 32.771183], [74.842902, 32.771094], [74.842847, 32.771064], [74.842793, 32.771032], [74.842722, 32.770988], [74.842696, 32.770971], [74.842665, 32.770947], [74.841958, 32.77018], [74.841814, 32.770028], [74.841506, 32.769773], [74.841443, 32.769706], [74.840983, 32.770179], [74.840452, 32.770778], [74.840299, 32.771087], [74.840191, 32.771355], [74.840017, 32.771781], [74.839878, 32.772088], [74.839824, 32.772262], [74.839805, 32.772329], [74.839794, 32.772379], [74.839782, 32.772458], [74.839762, 32.772633], [74.839722, 32.772991], [74.839713, 32.773303], [74.83971, 32.773401], [74.839698, 32.773481], [74.839683, 32.773541], [74.839583, 32.773834], [74.839565, 32.77388], [74.839556, 32.773904], [74.839541, 32.773935], [74.839532, 32.773954], [74.839512, 32.773981], [74.839472, 32.774032], [74.839294, 32.774243], [74.838952, 32.774662], [74.838989, 32.774701]]]] }, "properties": { "col_id": "C0005", "col_name": "Sector-3", "col_area": 0.1913 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.846531, 32.772383], [74.846677, 32.772388], [74.846726, 32.772394], [74.846802, 32.772425], [74.84699, 32.772514], [74.847172, 32.772619], [74.847375, 32.772736], [74.847821, 32.772984], [74.84788, 32.773009], [74.84792, 32.77302], [74.847952, 32.773022], [74.847971, 32.773023], [74.848027, 32.773007], [74.848081, 32.772978], [74.848128, 32.772939], [74.848152, 32.772902], [74.848158, 32.772882], [74.848158, 32.772868], [74.848146, 32.772835], [74.848092, 32.772719], [74.84805, 32.772639], [74.848027, 32.772583], [74.848015, 32.772532], [74.848028, 32.772501], [74.848068, 32.772478], [74.848114, 32.772472], [74.848152, 32.772479], [74.848247, 32.772536], [74.848325, 32.772604], [74.848404, 32.772705], [74.848425, 32.772692], [74.848613, 32.772561], [74.848679, 32.772627], [74.848648, 32.772648], [74.848736, 32.772738], [74.849166, 32.773178], [74.849262, 32.773112], [74.849343, 32.773195], [74.849418, 32.773142], [74.849657, 32.773387], [74.849679, 32.773374], [74.849793, 32.77331], [74.849894, 32.773253], [74.850072, 32.773431], [74.850091, 32.77345], [74.850185, 32.773403], [74.85017, 32.773381], [74.849984, 32.773293], [74.849958, 32.773274], [74.850109, 32.772961], [74.850303, 32.773018], [74.850408, 32.773099], [74.850503, 32.773205], [74.850793, 32.772991], [74.850837, 32.772949], [74.850979, 32.773093], [74.851297, 32.773408], [74.851926, 32.773202], [74.851923, 32.773184], [74.85185, 32.773128], [74.851758, 32.773038], [74.851752, 32.773031], [74.851726, 32.773012], [74.851644, 32.773], [74.851598, 32.772833], [74.851571, 32.772784], [74.851525, 32.772801], [74.85123, 32.772543], [74.851203, 32.772494], [74.851163, 32.772509], [74.85094, 32.77244], [74.850796, 32.772463], [74.850663, 32.772438], [74.85048, 32.772264], [74.850408, 32.772196], [74.850347, 32.772139], [74.850386, 32.77211], [74.850305, 32.772045], [74.850347, 32.772014], [74.850006, 32.771778], [74.84994, 32.771722], [74.849793, 32.771595], [74.849727, 32.771538], [74.849654, 32.771476], [74.849675, 32.771461], [74.849622, 32.771406], [74.849578, 32.771361], [74.849521, 32.771303], [74.849448, 32.771228], [74.849352, 32.77113], [74.849321, 32.771153], [74.849142, 32.771025], [74.849007, 32.770948], [74.8488, 32.77085], [74.848886, 32.770739], [74.848758, 32.770719], [74.848717, 32.770713], [74.848998, 32.770338], [74.848897, 32.770157], [74.848862, 32.770104], [74.848499, 32.770566], [74.848478, 32.770593], [74.848461, 32.770619], [74.848314, 32.770847], [74.848049, 32.770703], [74.847934, 32.770838], [74.8477, 32.771129], [74.847655, 32.771098], [74.847581, 32.771072], [74.847557, 32.771444], [74.847553, 32.771579], [74.847547, 32.771654], [74.847538, 32.771686], [74.847511, 32.771725], [74.847429, 32.771836], [74.847322, 32.771952], [74.847257, 32.771997], [74.847138, 32.772058], [74.847048, 32.772099], [74.846992, 32.772117], [74.846891, 32.772145], [74.846804, 32.772164], [74.846688, 32.77219], [74.846564, 32.772211], [74.846457, 32.772233], [74.846258, 32.772286], [74.84639, 32.772327], [74.846531, 32.772383]]]] }, "properties": { "col_id": "C0006", "col_name": "Sector-8", "col_area": 0.0703 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.850185, 32.773403], [74.850091, 32.77345], [74.850072, 32.773431], [74.849894, 32.773253], [74.849793, 32.77331], [74.849679, 32.773374], [74.849657, 32.773387], [74.849418, 32.773142], [74.849343, 32.773195], [74.849262, 32.773112], [74.849166, 32.773178], [74.848736, 32.772738], [74.848648, 32.772648], [74.848679, 32.772627], [74.848613, 32.772561], [74.848425, 32.772692], [74.848404, 32.772705], [74.848325, 32.772604], [74.848247, 32.772536], [74.848152, 32.772479], [74.848114, 32.772472], [74.848068, 32.772478], [74.848028, 32.772501], [74.848015, 32.772532], [74.848027, 32.772583], [74.84805, 32.772639], [74.848092, 32.772719], [74.848146, 32.772835], [74.848158, 32.772868], [74.848158, 32.772882], [74.848152, 32.772902], [74.848128, 32.772939], [74.848081, 32.772978], [74.848027, 32.773007], [74.847971, 32.773023], [74.847952, 32.773022], [74.84792, 32.77302], [74.84788, 32.773009], [74.847821, 32.772984], [74.847375, 32.772736], [74.847172, 32.772619], [74.84699, 32.772514], [74.846802, 32.772425], [74.846726, 32.772394], [74.846677, 32.772388], [74.846531, 32.772383], [74.846613, 32.772417], [74.846766, 32.772505], [74.846965, 32.77263], [74.847189, 32.772795], [74.847344, 32.77294], [74.847582, 32.773194], [74.84775, 32.773354], [74.847759, 32.773361], [74.848139, 32.773655], [74.848329, 32.773822], [74.848479, 32.773978], [74.848571, 32.774093], [74.848676, 32.774274], [74.848773, 32.774478], [74.84889, 32.774764], [74.848957, 32.774918], [74.849037, 32.775053], [74.849107, 32.775163], [74.849177, 32.775262], [74.849273, 32.775378], [74.849375, 32.775559], [74.849425, 32.775617], [74.849519, 32.775716], [74.849702, 32.775904], [74.849882, 32.776084], [74.850061, 32.776273], [74.850353, 32.776588], [74.850529, 32.77678], [74.850676, 32.776921], [74.850879, 32.777102], [74.851025, 32.777218], [74.851454, 32.777517], [74.851734, 32.777695], [74.851923, 32.777804], [74.852109, 32.777908], [74.852218, 32.777967], [74.852325, 32.778017], [74.85252, 32.778103], [74.852656, 32.778152], [74.852786, 32.778192], [74.852911, 32.778217], [74.853192, 32.778265], [74.853442, 32.778307], [74.854849, 32.778553], [74.854828, 32.778665], [74.854802, 32.778662], [74.85468, 32.778626], [74.854599, 32.778766], [74.854867, 32.778958], [74.855551, 32.779237], [74.855737, 32.778976], [74.855783, 32.778898], [74.855861, 32.778838], [74.855823, 32.778714], [74.85596, 32.778663], [74.856166, 32.778518], [74.856277, 32.778443], [74.856286, 32.77841], [74.85631, 32.7784], [74.856274, 32.77835], [74.856233, 32.778307], [74.856171, 32.778264], [74.856025, 32.77819], [74.855959, 32.778164], [74.855933, 32.778158], [74.855886, 32.778154], [74.855799, 32.778153], [74.855738, 32.778151], [74.855563, 32.778125], [74.855423, 32.778105], [74.855359, 32.778105], [74.85529, 32.778109], [74.855238, 32.778118], [74.855178, 32.778127], [74.855128, 32.778133], [74.855111, 32.778135], [74.855072, 32.778143], [74.855018, 32.778157], [74.854993, 32.778166], [74.854953, 32.778184], [74.85493, 32.778201], [74.854917, 32.778213], [74.854912, 32.778222], [74.854907, 32.778232], [74.85488, 32.778232], [74.854756, 32.778231], [74.854628, 32.778231], [74.854597, 32.778231], [74.854525, 32.778159], [74.854411, 32.778014], [74.854265, 32.777769], [74.854141, 32.777463], [74.854021, 32.77729], [74.853868, 32.777072], [74.853708, 32.776895], [74.853426, 32.776624], [74.853046, 32.776287], [74.852933, 32.776089], [74.852847, 32.775997], [74.852833, 32.775982], [74.85279, 32.77595], [74.852675, 32.775864], [74.852532, 32.775688], [74.852468, 32.775639], [74.852156, 32.775394], [74.852044, 32.775289], [74.851977, 32.775224], [74.851871, 32.775126], [74.851767, 32.775034], [74.851719, 32.774994], [74.85168, 32.774962], [74.85165, 32.774941], [74.851574, 32.774895], [74.85153, 32.774863], [74.851506, 32.774839], [74.851481, 32.774805], [74.851471, 32.774792], [74.851439, 32.77475], [74.851439, 32.774749], [74.851394, 32.774698], [74.851336, 32.774656], [74.851259, 32.774606], [74.851083, 32.77444], [74.850715, 32.774131], [74.850523, 32.77392], [74.850449, 32.773822], [74.850436, 32.773746], [74.850328, 32.773566], [74.850203, 32.773428], [74.850185, 32.773403]]]] }, "properties": { "col_id": "C0007", "col_name": "Sector-9", "col_area": 0.1601 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.844456, 32.771802], [74.844642, 32.771879], [74.844719, 32.771911], [74.84478, 32.771936], [74.844845, 32.771958], [74.845131, 32.772041], [74.845276, 32.772077], [74.845423, 32.772111], [74.845678, 32.772151], [74.846083, 32.772241], [74.846258, 32.772286], [74.846457, 32.772233], [74.846564, 32.772211], [74.846688, 32.77219], [74.846804, 32.772164], [74.846891, 32.772145], [74.846992, 32.772117], [74.847048, 32.772099], [74.847138, 32.772058], [74.847257, 32.771997], [74.847322, 32.771952], [74.847429, 32.771836], [74.847511, 32.771725], [74.847538, 32.771686], [74.847547, 32.771654], [74.847553, 32.771579], [74.847557, 32.771444], [74.847581, 32.771072], [74.847655, 32.771098], [74.8477, 32.771129], [74.847934, 32.770838], [74.848049, 32.770703], [74.848045, 32.770675], [74.848032, 32.770653], [74.847977, 32.770578], [74.847969, 32.770566], [74.847966, 32.770555], [74.847966, 32.770543], [74.847968, 32.770532], [74.847974, 32.770521], [74.847991, 32.770501], [74.847962, 32.770484], [74.847799, 32.770393], [74.847857, 32.770324], [74.847919, 32.77025], [74.847928, 32.770239], [74.847761, 32.770143], [74.847712, 32.770115], [74.847834, 32.769969], [74.847667, 32.769869], [74.847511, 32.769774], [74.847485, 32.769768], [74.847479, 32.769783], [74.847465, 32.769804], [74.847442, 32.769832], [74.84721, 32.77009], [74.846857, 32.770029], [74.846846, 32.770142], [74.846393, 32.77006], [74.846214, 32.770034], [74.845937, 32.77001], [74.845751, 32.769985], [74.845716, 32.769976], [74.845053, 32.769915], [74.844754, 32.769888], [74.844417, 32.769857], [74.843016, 32.769762], [74.84295, 32.769757], [74.842835, 32.769705], [74.842251, 32.769452], [74.841825, 32.769569], [74.84162, 32.769635], [74.841581, 32.769652], [74.841443, 32.769706], [74.841506, 32.769773], [74.841814, 32.770028], [74.841958, 32.77018], [74.842665, 32.770947], [74.842696, 32.770971], [74.842722, 32.770988], [74.842793, 32.771032], [74.842847, 32.771064], [74.842902, 32.771094], [74.843077, 32.771183], [74.843226, 32.771255], [74.843626, 32.771453], [74.843711, 32.771491], [74.843785, 32.771524], [74.844456, 32.771802]]]] }, "properties": { "col_id": "C0008", "col_name": "Sector-6", "col_area": 0.1113 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.842251, 32.769452], [74.842835, 32.769705], [74.84295, 32.769757], [74.843016, 32.769762], [74.844417, 32.769857], [74.844754, 32.769888], [74.845053, 32.769915], [74.845716, 32.769976], [74.845751, 32.769985], [74.845937, 32.77001], [74.846214, 32.770034], [74.846393, 32.77006], [74.846846, 32.770142], [74.846857, 32.770029], [74.84721, 32.77009], [74.847442, 32.769832], [74.847465, 32.769804], [74.847479, 32.769783], [74.847485, 32.769768], [74.847511, 32.769774], [74.847667, 32.769869], [74.847834, 32.769969], [74.847712, 32.770115], [74.847761, 32.770143], [74.847928, 32.770239], [74.847919, 32.77025], [74.847857, 32.770324], [74.847799, 32.770393], [74.847962, 32.770484], [74.847991, 32.770501], [74.847974, 32.770521], [74.847968, 32.770532], [74.847966, 32.770543], [74.847966, 32.770555], [74.847969, 32.770566], [74.847977, 32.770578], [74.848032, 32.770653], [74.848045, 32.770675], [74.848049, 32.770703], [74.848314, 32.770847], [74.848461, 32.770619], [74.848478, 32.770593], [74.848499, 32.770566], [74.848862, 32.770104], [74.848746, 32.769923], [74.848717, 32.769885], [74.848694, 32.769858], [74.848673, 32.769838], [74.848558, 32.769755], [74.848324, 32.7696], [74.848122, 32.769477], [74.84795, 32.769379], [74.847806, 32.769302], [74.847738, 32.769271], [74.847679, 32.769248], [74.847629, 32.769229], [74.847594, 32.769217], [74.847574, 32.769212], [74.847548, 32.769205], [74.847528, 32.769201], [74.847505, 32.769197], [74.846973, 32.769131], [74.846247, 32.769044], [74.845983, 32.769013], [74.845556, 32.768962], [74.845474, 32.768942], [74.8453, 32.768919], [74.844695, 32.768839], [74.844534, 32.768833], [74.843119, 32.769215], [74.842251, 32.769452]]]] }, "properties": { "col_id": "C0009", "col_name": "Sector-7", "col_area": 0.0565 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.84457, 32.777546], [74.844541, 32.777273], [74.844529, 32.777028], [74.844537, 32.776788], [74.844559, 32.776706], [74.844581, 32.776649], [74.844616, 32.776573], [74.844773, 32.776389], [74.845069, 32.776062], [74.845421, 32.77573], [74.845929, 32.775218], [74.846002, 32.775144], [74.847214, 32.773937], [74.847759, 32.773361], [74.84775, 32.773354], [74.847582, 32.773194], [74.847344, 32.77294], [74.847189, 32.772795], [74.846965, 32.77263], [74.846766, 32.772505], [74.846613, 32.772417], [74.846531, 32.772383], [74.84639, 32.772327], [74.846258, 32.772286], [74.846083, 32.772241], [74.845678, 32.772151], [74.845423, 32.772111], [74.845276, 32.772077], [74.845131, 32.772041], [74.844845, 32.771958], [74.84478, 32.771936], [74.844719, 32.771911], [74.844642, 32.771879], [74.844456, 32.771802], [74.84428, 32.772041], [74.844083, 32.772279], [74.843975, 32.77241], [74.843936, 32.772459], [74.843883, 32.772532], [74.843792, 32.772674], [74.843803, 32.772701], [74.843817, 32.772728], [74.84383, 32.772748], [74.84385, 32.772769], [74.844186, 32.773018], [74.844198, 32.773033], [74.84421, 32.773054], [74.844215, 32.773078], [74.844215, 32.773104], [74.84421, 32.773132], [74.844202, 32.773156], [74.844193, 32.773176], [74.844182, 32.773197], [74.844167, 32.773216], [74.844148, 32.773234], [74.844128, 32.773249], [74.844114, 32.773256], [74.84409, 32.773265], [74.844074, 32.77327], [74.84406, 32.773273], [74.844041, 32.773276], [74.844015, 32.773279], [74.843718, 32.773299], [74.843553, 32.773315], [74.84345, 32.773333], [74.843405, 32.773342], [74.843375, 32.773351], [74.843318, 32.773373], [74.843297, 32.773387], [74.843278, 32.773405], [74.843254, 32.773439], [74.843098, 32.773743], [74.843089, 32.773769], [74.843082, 32.773816], [74.843113, 32.77402], [74.84313, 32.774107], [74.843145, 32.774166], [74.843165, 32.77423], [74.84319, 32.774286], [74.843294, 32.774466], [74.843314, 32.77451], [74.843327, 32.774539], [74.843333, 32.774556], [74.843336, 32.774575], [74.843336, 32.774586], [74.843335, 32.7746], [74.843334, 32.77461], [74.843329, 32.774624], [74.843322, 32.774641], [74.843308, 32.774662], [74.843294, 32.774678], [74.843282, 32.774691], [74.843264, 32.774707], [74.843247, 32.774717], [74.843234, 32.774721], [74.843209, 32.774726], [74.843015, 32.774724], [74.842835, 32.774722], [74.842769, 32.774726], [74.842617, 32.774739], [74.842196, 32.774792], [74.84216, 32.774797], [74.842079, 32.77482], [74.842003, 32.774896], [74.841956, 32.774942], [74.841736, 32.77516], [74.84151, 32.775401], [74.841265, 32.775661], [74.841125, 32.775806], [74.840833, 32.776139], [74.840822, 32.776131], [74.840523, 32.7759], [74.840187, 32.775628], [74.839939, 32.775436], [74.839809, 32.775334], [74.839776, 32.775375], [74.8397, 32.775442], [74.839737, 32.775472], [74.839545, 32.775641], [74.839621, 32.775703], [74.839779, 32.77571], [74.83998, 32.775533], [74.839646, 32.776335], [74.839831, 32.776596], [74.840184, 32.776823], [74.84035, 32.776929], [74.841495, 32.777665], [74.841522, 32.777682], [74.841549, 32.777625], [74.841562, 32.777581], [74.841588, 32.777605], [74.841912, 32.777791], [74.842781, 32.777858], [74.84275, 32.777751], [74.842773, 32.777753], [74.84286, 32.77771], [74.843236, 32.7778], [74.843381, 32.777835], [74.843491, 32.777862], [74.84353, 32.77775], [74.843628, 32.77777], [74.843824, 32.77781], [74.843924, 32.777798], [74.843935, 32.777867], [74.843953, 32.777981], [74.844224, 32.777995], [74.844193, 32.77788], [74.844176, 32.777879], [74.844118, 32.777594], [74.844204, 32.77759], [74.844278, 32.777586], [74.844379, 32.777575], [74.84457, 32.777546]]]] }, "properties": { "col_id": "C0010", "col_name": "Sector-4", "col_area": 0.2330 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.84457, 32.777546], [74.844599, 32.777542], [74.844838, 32.777509], [74.844996, 32.777492], [74.845135, 32.777483], [74.845497, 32.777479], [74.84566, 32.777472], [74.845827, 32.777442], [74.845936, 32.777416], [74.846084, 32.777369], [74.846135, 32.777353], [74.846344, 32.77729], [74.846426, 32.777271], [74.846491, 32.777263], [74.846561, 32.777259], [74.846716, 32.777255], [74.846785, 32.777252], [74.846875, 32.777243], [74.8469, 32.777239], [74.846962, 32.77723], [74.84705, 32.777207], [74.847144, 32.777182], [74.847206, 32.77717], [74.84727, 32.777161], [74.847324, 32.777158], [74.847377, 32.777157], [74.847451, 32.777161], [74.847475, 32.777163], [74.847597, 32.777175], [74.847667, 32.777186], [74.847842, 32.777207], [74.848142, 32.777243], [74.848226, 32.777252], [74.848317, 32.777261], [74.84841, 32.777268], [74.848507, 32.777273], [74.848621, 32.777275], [74.848753, 32.777271], [74.848913, 32.777255], [74.848998, 32.777241], [74.849072, 32.777264], [74.849283, 32.777272], [74.849723, 32.777289], [74.850052, 32.777339], [74.850115, 32.777356], [74.850396, 32.77742], [74.850677, 32.777483], [74.85076, 32.777502], [74.850878, 32.777546], [74.851025, 32.7776], [74.851297, 32.777732], [74.851579, 32.777837], [74.851825, 32.777904], [74.851872, 32.777841], [74.85188, 32.777831], [74.851895, 32.777839], [74.851911, 32.777819], [74.851923, 32.777804], [74.851734, 32.777695], [74.851454, 32.777517], [74.851025, 32.777218], [74.850879, 32.777102], [74.850676, 32.776921], [74.850529, 32.77678], [74.850353, 32.776588], [74.850061, 32.776273], [74.849882, 32.776084], [74.849702, 32.775904], [74.849519, 32.775716], [74.849425, 32.775617], [74.849375, 32.775559], [74.849273, 32.775378], [74.849177, 32.775262], [74.849107, 32.775163], [74.849037, 32.775053], [74.848957, 32.774918], [74.84889, 32.774764], [74.848773, 32.774478], [74.848676, 32.774274], [74.848571, 32.774093], [74.848479, 32.773978], [74.848329, 32.773822], [74.848139, 32.773655], [74.847759, 32.773361], [74.847214, 32.773937], [74.846002, 32.775144], [74.845929, 32.775218], [74.845421, 32.77573], [74.845069, 32.776062], [74.844773, 32.776389], [74.844616, 32.776573], [74.844581, 32.776649], [74.844559, 32.776706], [74.844537, 32.776788], [74.844529, 32.777028], [74.844541, 32.777273], [74.84457, 32.777546]]]] }, "properties": { "col_id": "C0011", "col_name": "Sector-5", "col_area": 0.1477 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.83099, 32.782064], [74.831184, 32.781986], [74.831228, 32.781957], [74.831264, 32.781918], [74.831616, 32.781445], [74.831589, 32.781387], [74.831682, 32.781263], [74.831849, 32.781339], [74.831972, 32.781411], [74.832112, 32.781493], [74.832135, 32.781464], [74.832157, 32.781436], [74.832167, 32.781418], [74.832177, 32.781401], [74.832193, 32.781365], [74.83221, 32.781328], [74.832227, 32.781291], [74.832243, 32.781255], [74.832258, 32.781217], [74.832273, 32.78118], [74.832287, 32.781143], [74.832301, 32.781105], [74.832314, 32.781067], [74.832341, 32.780993], [74.832645, 32.78116], [74.832652, 32.781132], [74.832735, 32.780919], [74.832842, 32.780678], [74.832997, 32.780364], [74.833135, 32.780101], [74.833268, 32.779836], [74.833323, 32.77972], [74.833374, 32.779588], [74.833389, 32.77955], [74.833325, 32.779532], [74.83315, 32.779485], [74.832947, 32.779429], [74.832836, 32.7794], [74.832435, 32.77929], [74.832286, 32.779251], [74.832104, 32.779215], [74.831889, 32.779179], [74.831676, 32.779154], [74.831405, 32.779127], [74.831418, 32.779018], [74.83142, 32.778947], [74.831031, 32.778929], [74.830871, 32.778924], [74.830439, 32.778828], [74.830146, 32.778766], [74.830063, 32.77874], [74.829996, 32.778698], [74.830104, 32.778464], [74.829826, 32.778244], [74.829604, 32.778288], [74.829389, 32.778299], [74.829392, 32.77829], [74.829419, 32.778199], [74.82944, 32.778087], [74.829432, 32.778001], [74.829397, 32.777602], [74.829136, 32.777582], [74.829253, 32.777155], [74.829266, 32.777019], [74.829216, 32.777013], [74.829062, 32.777005], [74.828941, 32.777005], [74.828859, 32.777009], [74.828739, 32.777029], [74.828664, 32.777034], [74.828512, 32.777021], [74.828412, 32.777005], [74.828311, 32.776982], [74.828247, 32.776963], [74.828191, 32.776942], [74.828055, 32.777206], [74.828017, 32.777178], [74.827979, 32.777145], [74.827795, 32.776945], [74.827723, 32.776892], [74.827637, 32.77686], [74.827484, 32.776807], [74.827233, 32.776713], [74.827191, 32.776665], [74.827013, 32.776822], [74.826767, 32.777046], [74.826341, 32.777432], [74.826384, 32.777459], [74.826323, 32.777505], [74.826155, 32.777646], [74.826183, 32.777668], [74.826213, 32.77769], [74.826227, 32.7777], [74.82628, 32.777653], [74.827188, 32.77838], [74.828052, 32.779031], [74.828086, 32.779075], [74.828065, 32.779095], [74.828553, 32.779526], [74.828589, 32.779559], [74.828625, 32.779593], [74.828743, 32.779707], [74.829452, 32.780474], [74.830347, 32.781392], [74.830833, 32.781876], [74.830898, 32.781955], [74.830932, 32.782007], [74.830951, 32.782039], [74.83099, 32.782064]]]] }, "properties": { "col_id": "C0012", "col_name": "Chinore, Sector-B1", "col_area": 0.1522 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.827191, 32.776665], [74.827233, 32.776713], [74.827484, 32.776807], [74.827637, 32.77686], [74.827723, 32.776892], [74.827795, 32.776945], [74.827979, 32.777145], [74.828017, 32.777178], [74.828055, 32.777206], [74.828191, 32.776942], [74.828247, 32.776963], [74.828311, 32.776982], [74.828412, 32.777005], [74.828512, 32.777021], [74.828664, 32.777034], [74.828739, 32.777029], [74.828859, 32.777009], [74.828941, 32.777005], [74.829062, 32.777005], [74.829216, 32.777013], [74.829266, 32.777019], [74.829253, 32.777155], [74.829136, 32.777582], [74.829397, 32.777602], [74.829432, 32.778001], [74.82944, 32.778087], [74.829419, 32.778199], [74.829392, 32.77829], [74.829389, 32.778299], [74.829604, 32.778288], [74.829826, 32.778244], [74.830104, 32.778464], [74.829996, 32.778698], [74.830063, 32.77874], [74.830146, 32.778766], [74.830439, 32.778828], [74.830871, 32.778924], [74.831031, 32.778929], [74.83142, 32.778947], [74.831418, 32.779018], [74.831405, 32.779127], [74.831676, 32.779154], [74.831889, 32.779179], [74.832025, 32.779202], [74.832017, 32.779038], [74.832014, 32.779021], [74.832007, 32.778998], [74.831999, 32.77897], [74.831968, 32.778769], [74.831954, 32.778767], [74.831943, 32.778601], [74.831965, 32.778604], [74.832244, 32.778605], [74.83224, 32.778341], [74.832238, 32.778248], [74.832229, 32.778225], [74.832233, 32.778091], [74.832248, 32.778091], [74.832283, 32.777781], [74.832338, 32.777422], [74.832095, 32.777394], [74.831896, 32.777372], [74.831439, 32.777314], [74.831442, 32.777297], [74.831454, 32.77723], [74.831465, 32.777169], [74.831491, 32.777084], [74.831575, 32.7768], [74.831588, 32.776771], [74.831802, 32.776805], [74.831866, 32.776815], [74.831888, 32.776719], [74.831923, 32.776725], [74.831949, 32.776729], [74.832001, 32.776444], [74.832048, 32.776255], [74.832114, 32.776052], [74.832125, 32.776037], [74.832202, 32.775904], [74.832311, 32.775723], [74.832359, 32.775631], [74.832386, 32.775546], [74.832458, 32.775225], [74.832461, 32.775224], [74.832207, 32.77518], [74.831439, 32.775065], [74.830949, 32.774992], [74.830512, 32.774912], [74.830412, 32.774894], [74.830138, 32.77485], [74.830104, 32.774844], [74.829678, 32.774769], [74.829428, 32.774713], [74.829354, 32.774697], [74.829232, 32.774828], [74.829073, 32.77499], [74.828734, 32.775318], [74.828385, 32.775629], [74.828194, 32.775796], [74.827986, 32.775978], [74.827577, 32.776334], [74.827268, 32.776597], [74.827191, 32.776665]]]] }, "properties": { "col_id": "C0013", "col_name": "Chinore, Sector-A1", "col_area": 0.1378 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.832025, 32.779202], [74.832104, 32.779215], [74.832286, 32.779251], [74.832435, 32.77929], [74.832836, 32.7794], [74.832947, 32.779429], [74.83315, 32.779485], [74.833325, 32.779532], [74.833418, 32.779297], [74.833518, 32.779039], [74.833522, 32.779041], [74.833572, 32.779055], [74.8336, 32.779064], [74.833609, 32.779043], [74.833695, 32.77886], [74.833673, 32.778853], [74.834152, 32.777869], [74.834062, 32.777841], [74.83417, 32.777614], [74.834375, 32.777293], [74.834109, 32.777117], [74.834119, 32.7771], [74.834123, 32.777084], [74.834101, 32.776947], [74.833775, 32.776831], [74.83372, 32.776808], [74.833551, 32.776747], [74.833449, 32.776704], [74.833375, 32.776664], [74.833339, 32.776638], [74.83325, 32.776544], [74.833151, 32.776448], [74.833113, 32.776423], [74.833068, 32.776401], [74.833056, 32.776396], [74.833065, 32.776375], [74.833146, 32.77621], [74.833259, 32.775918], [74.833277, 32.775848], [74.833284, 32.775821], [74.833301, 32.775758], [74.833321, 32.775681], [74.833372, 32.775487], [74.833382, 32.775442], [74.833281, 32.775392], [74.833164, 32.775354], [74.833068, 32.775336], [74.83269, 32.775263], [74.832461, 32.775224], [74.832458, 32.775225], [74.832386, 32.775546], [74.832359, 32.775631], [74.832311, 32.775723], [74.832202, 32.775904], [74.832125, 32.776037], [74.832114, 32.776052], [74.832048, 32.776255], [74.832001, 32.776444], [74.831949, 32.776729], [74.831923, 32.776725], [74.831888, 32.776719], [74.831866, 32.776815], [74.831802, 32.776805], [74.831588, 32.776771], [74.831575, 32.7768], [74.831491, 32.777084], [74.831465, 32.777169], [74.831454, 32.77723], [74.831442, 32.777297], [74.831439, 32.777314], [74.831896, 32.777372], [74.832095, 32.777394], [74.832338, 32.777422], [74.832283, 32.777781], [74.832248, 32.778091], [74.832233, 32.778091], [74.832229, 32.778225], [74.832238, 32.778248], [74.83224, 32.778341], [74.832244, 32.778605], [74.831965, 32.778604], [74.831943, 32.778601], [74.831954, 32.778767], [74.831968, 32.778769], [74.831999, 32.77897], [74.832007, 32.778998], [74.832014, 32.779021], [74.832017, 32.779038], [74.832025, 32.779202]]]] }, "properties": { "col_id": "C0014", "col_name": "Chinore, Sector-A2", "col_area": 0.0685 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.8336, 32.779064], [74.833743, 32.779107], [74.83387, 32.779141], [74.834123, 32.779208], [74.834164, 32.779219], [74.834332, 32.779264], [74.834409, 32.779281], [74.834425, 32.779285], [74.834582, 32.779322], [74.834755, 32.779359], [74.834822, 32.779373], [74.834885, 32.779385], [74.835104, 32.779427], [74.835317, 32.779468], [74.835315, 32.779484], [74.835314, 32.77949], [74.835441, 32.779513], [74.835466, 32.779524], [74.835495, 32.779391], [74.835529, 32.779271], [74.835584, 32.7791], [74.835651, 32.778889], [74.835683, 32.77879], [74.835705, 32.778706], [74.835758, 32.778536], [74.835796, 32.77839], [74.835838, 32.778171], [74.83587, 32.778007], [74.835881, 32.777869], [74.835916, 32.777779], [74.83611, 32.777553], [74.836126, 32.777531], [74.836137, 32.77751], [74.836196, 32.777256], [74.836237, 32.777032], [74.836249, 32.777007], [74.83632, 32.776872], [74.836387, 32.776543], [74.836339, 32.776536], [74.836053, 32.776449], [74.835521, 32.776292], [74.835369, 32.776247], [74.835229, 32.776195], [74.835187, 32.776179], [74.834844, 32.77601], [74.834828, 32.776003], [74.834578, 32.775886], [74.834551, 32.775876], [74.834321, 32.775792], [74.834223, 32.775763], [74.833859, 32.775655], [74.833799, 32.775637], [74.833503, 32.7755], [74.833382, 32.775442], [74.833372, 32.775487], [74.833321, 32.775681], [74.833301, 32.775758], [74.833284, 32.775821], [74.833277, 32.775848], [74.833259, 32.775918], [74.833146, 32.77621], [74.833065, 32.776375], [74.833056, 32.776396], [74.833068, 32.776401], [74.833113, 32.776423], [74.833151, 32.776448], [74.83325, 32.776544], [74.833339, 32.776638], [74.833375, 32.776664], [74.833449, 32.776704], [74.833551, 32.776747], [74.83372, 32.776808], [74.833775, 32.776831], [74.834101, 32.776947], [74.834123, 32.777084], [74.834119, 32.7771], [74.834109, 32.777117], [74.834375, 32.777293], [74.83417, 32.777614], [74.834062, 32.777841], [74.834152, 32.777869], [74.833673, 32.778853], [74.833695, 32.77886], [74.833609, 32.779043], [74.8336, 32.779064]]]] }, "properties": { "col_id": "C0015", "col_name": "Chinore, Enclave-B", "col_area": 0.0763 } }, { "type": "Feature", "geometry": { "type": "MultiPolygon", "coordinates": [[[[74.836387, 32.776543], [74.83632, 32.776872], [74.836249, 32.777007], [74.836237, 32.777032], [74.836196, 32.777256], [74.836137, 32.77751], [74.836126, 32.777531], [74.83611, 32.777553], [74.835916, 32.777779], [74.835881, 32.777869], [74.83587, 32.778007], [74.835838, 32.778171], [74.835796, 32.77839], [74.835758, 32.778536], [74.835705, 32.778706], [74.835683, 32.77879], [74.835651, 32.778889], [74.835584, 32.7791], [74.835529, 32.779271], [74.835495, 32.779391], [74.835466, 32.779524], [74.835459, 32.779555], [74.835457, 32.779562], [74.836086, 32.779676], [74.83622, 32.779672], [74.836407, 32.779741], [74.836705, 32.779947], [74.836852, 32.780052], [74.83687, 32.780064], [74.836888, 32.780077], [74.837065, 32.780202], [74.837236, 32.780323], [74.83734, 32.780396], [74.837553, 32.780447], [74.837584, 32.780443], [74.837571, 32.780381], [74.83758, 32.780246], [74.837603, 32.780147], [74.837637, 32.780043], [74.837689, 32.779846], [74.837731, 32.779774], [74.83778, 32.779713], [74.837853, 32.779632], [74.837903, 32.77958], [74.837944, 32.779548], [74.837975, 32.779523], [74.838008, 32.779497], [74.838037, 32.779475], [74.838105, 32.779429], [74.838179, 32.779381], [74.838233, 32.779348], [74.838286, 32.779318], [74.838304, 32.779307], [74.838425, 32.779227], [74.838472, 32.779186], [74.838504, 32.779145], [74.838531, 32.779095], [74.838554, 32.779041], [74.838655, 32.778805], [74.838715, 32.77867], [74.838724, 32.778641], [74.838739, 32.778588], [74.838759, 32.778491], [74.838779, 32.778339], [74.83881, 32.778156], [74.838833, 32.778059], [74.838845, 32.777981], [74.838845, 32.777903], [74.838841, 32.777847], [74.838839, 32.777834], [74.838834, 32.777819], [74.838823, 32.777799], [74.838807, 32.777782], [74.838766, 32.777757], [74.838676, 32.777731], [74.838558, 32.777694], [74.838398, 32.777622], [74.838369, 32.777606], [74.838337, 32.77758], [74.838289, 32.777544], [74.838034, 32.77731], [74.837897, 32.777197], [74.837714, 32.777069], [74.837653, 32.777026], [74.837591, 32.776993], [74.837458, 32.776941], [74.837351, 32.776902], [74.837212, 32.776834], [74.837116, 32.776788], [74.836643, 32.77659], [74.83661, 32.776576], [74.836387, 32.776543]]]] }, "properties": { "col_id": "C0016", "col_name": "Chinore, Chib Mohalla", "col_area": 0.0823 } }] }

        var res = { "type": "FeatureCollection", "features": data };

        var feature = L.geoJSON(res, {
            onEachFeature: onEachFeature,
            style: parcelMapStyle
        }).addTo(newMap);
        newMap.fitBounds(feature.getBounds());
        assetFeature = feature;
    }

    function onmapExportKml(){
        debugger;
        //var data = featureGroup.toGeoJSON();
        //var kml = tokml(data);
        //var convertedData = 'application/xml;charset=utf-8,' + encodeURIComponent(kml);

        var collection = {
            "type": "FeatureCollection",
            "features": []
        };

        // Iterate the layers of the map
        newMap.eachLayer(function (layer) {
            // Check if layer is a marker
            if (layer instanceof L.Marker) {
                // Create GeoJSON object from marker
                var geojson = layer.toGeoJSON();
                // Push GeoJSON object to collection
                collection.features.push(geojson);
            }
        });

        // Log GeoJSON collection to console
        console.log(collection);
    }
    function parcelMapStyle(feature) {
        return {
            fillColor: getColor(feature.IsGarbageCollected),
            //weight: 2,
            //opacity: 1,
            color: getColor(feature.IsGarbageCollected),
            //fillOpacity: 0.7
        };
    }

    function getColor(prop) {
        return prop == true ? '#00FF00' : '#FF0000';
    }

    function openAssetDetails(propId) {
        var url = '/Egov/SmartCity/JSCPropertyDetails?propertyId=' + propId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Property Details", Width: 1200, Height: 600 });
        return false;
    }

    function onSelectAsset(e) {

        assetFeature.eachLayer(function (layer) {
            if (layer.feature.gid === parseInt(e.id)) {
                newMap.fitBounds(layer.getBounds(), { padding: [100, 100] });
                layer.openPopup();
                return e;
            }
        });
    }

</script>
