@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    $(function () {
                $.contextMenu({
                    selector: '#tree-menuBinTableData',
                    trigger: 'left',
                    build: function ($trigger, e) {
                        var id = $trigger.data('idvalue');
                        switch (0) {
                            case 0:
                                return {
                                    callback: function (key, options) {
                                        switch (key) {
                                            case 'edit':
                                                OnEdit(id);
                                                break;
                                            case 'delete':
                                                OnDelete(id);
                                                break;
                                            default:
                                        }
                                    },
                                    items: {
         
               "edit": { name: "Edit", icon: "fas fa-edit" },
            
               "delete": { name: "Delete", icon: "fas fa-trash" },
                                                        }
                    };


                }
                                            }
                                        });
                                    });
    var SubLoginMappingData = [
        {
            headerName: "Name",
            field: "Name"
        },
        {
            headerName: "Login Type",
            field: "SubLoginType",
        },
        {
            headerName: "Ward",
            field: "WardNo",
        },
                {
                    headerName: "Actions",
                    initialWidth: 90,
                    field: "Id",
                    cellRenderer: params => {
                        
                            return "<div class='btn-group grid-menu' id='tree-menuBinTableData' data-idvalue='" + params.value + "' data-status=\"0\" data-noteid=\"#:NoteId#\"><i class='fas fa-ellipsis-v'></i></div>"
                       
                       
                    }
                },
    ];

    document.getElementById("kGridView").innerHTML = "";
    var UrlforSubLoginGridMapping = "/EGov/SmartCity/GetEnforcementSubloginMappinglist";

        gridConfig(
            "kGridView",
            UrlforSubLoginGridMapping,
            SubLoginMappingData,
            false,
            true,
            true,
            true,
            1,
            true,
            10
    );
    function OnAdd()
    {
        debugger;
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&pageType=Form&source=Create&dataAction=Create&templateCodes=JSC_SUBLOGINS&portalId=' + portalId;
        LoadCmsPartialView(url, 'Form', true, 1200, 650, 'Add Sub Login Mapping');
        return false;
    }
    function OnEdit(id) {
        var portalId = $('#GlobalPortalId').val();
        // var prms = encodeURIComponent('parentServiceId=' + Id);
        var url = '/Cms/Page?lo=Popup&pageType=Form&source=Edit&dataAction=Edit&templateCodes=JSC_SUBLOGINS&portalId=' + portalId + '&recordId=' + id;

        LoadCmsPartialView(url, 'Form', true, 1200, 650, 'Edit Sub Login Mapping');
        return false;
    }
    function OnDelete(id) {
    }
</script>
<div>
    <h2>&nbsp;&nbsp;Map Sublogin UserType to Ward</h2>
    <button type="button" class="btn btn-primary" onclick="OnAdd();"><i class="fa fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Add</button>
    <div class="col-12 p-2">
        <div id="kGridView" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
    </div>
</div>
