@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model EGovDashboardViewModel
@inject Synergy.App.Common.IUserContext _userContext;

@{
    ViewData["Title"] = "Employee Landing Page";
    Layout = null;

}

<div style="text-align:center">
    <h4>Welcome </h4>
    <br />
    <h5>To Jammu Smart City Employee Portal</h5>
</div>