@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model JSCGrievanceWorkflow

@{
    ViewData["Title"] = "Manage User";
    Layout = null;
}

<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">

            <h4>Manage User</h4>
            <hr />
            
            <div class="row">                
                <div class="col-12">
                    <button type='button' class='btn btn-primary' onclick='OnCreateUser();'><i class='fa fas fa-plus'></i>&nbsp;Create New User</button>
                    <br /><br />
                    <div id="UserGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    var columnDefs = [
        {
            headerName: "Actions",
            field: "Id",
            maxWidth: 140,

            cellRenderer: params => {
                return "<div class='btn-group grid-menu' id='useractions' data-idvalue='" + params.value + "' ><i class='fas fa-ellipsis-v'></i></div>"
            }
        },
        {
            field: "Name",
            headerName: "Name",
        },
        {
            field: "Email",
            headerName: "Email",
        },
        {
            field: "Mobile",
            headerName: "Mobile Number",
        },      

    ];

    $(function () {

        getUserList();

        $.contextMenu({
            selector: '#useractions',
            trigger: 'left',
            build: function ($trigger, e) {

                var id = $trigger.data('idvalue');

                switch (0) {
                    case 0:
                        return {
                            callback: function (key, options) {
                                switch (key) {
                                    case 'edit':
                                        ChangeUser(id);
                                        break;

                                    case 'change':
                                        ChangePassword(id);
                                        break;

                                    default:
                                }
                            },
                            items: {
                                "edit": { name: "Change User", icon: "fas fa-edit" },
                                "change": { name: "Change Password", icon: "fa-regular fa-key" },

                            }
                        };
                }
            }
        });

    });

    function getUserList() {
        document.getElementById("UserGrid").innerHTML = "";
        gridConfig(
            "UserGrid",
            "/EGov/SmartCity/GetUserList",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }
</script>
<script>

    function OnCreateUser() {
        var win = GetMainWindow();
        win.iframeOpenUrl = "/EGov/SmartCity/CreateJSCUser";
        win.OpenWindow({ Title: 'Create User', Width: 450, Height: 700 });
        return false;
    }

    function ChangePassword(id) {
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("ChangeUserPassword", "Account", new { @area=""})?userId=' + id;
        win.OpenWindow({ Title: 'Change Password', Width: 450, Height: 550 });
    }

    function ChangeUser(id) {        
        var win = GetMainWindow();
        win.iframeOpenUrl = "/EGov/SmartCity/ManageUser?userId=" + id;
        win.OpenWindow({ Title: 'Manage User', Width: 450, Height: 500 });
        return false;
    }

    function RefreshUserGrid() {        
        getUserList();
    }

</script>


