@using Synergy.App.ViewModel
@using Synergy.App.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage User";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model UserViewModel

<style>
    .k-switch-label-on, .k-switch-label-off {
        display: flex
    }

    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .avatar-myProfile {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .avatar-mysign {
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .bold {
        font: bold
    }
</style>


<div class="row-12" style="margin-bottom:60px;" id="manageUser">

    <form asp-controller="SmartCity" asp-action="ManageUser" class="form-horizontal"
          data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST">

        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row-12" style="padding:10px;">
                        
            <div class="col-12 pad-10">                
                <div class="form-label-group">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name" required="required" autocomplete="off" style="width:100%" />
                    <label for="Name">Name <span class="required">*</span></label>
                </div>
            </div>

            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" required="required" autocomplete="off" style="width:100%" />
                    <label for="Email">Email <span class="required">*</span></label>
                </div>
            </div>
            
            <div class="col-12 pad-10">
                <div class="form-label-group">
                    <input type="text" asp-for="Mobile" class="form-control" placeholder="Mobile" autocomplete="off" style="width:100%" />
                    <label for="Mobile">Mobile No</label>
                </div>
            </div>

            @*<div class="col-12 pad-10">
                <div class="form-label-group">
                    <input type="text" asp-for="JobTitle" class="form-control" placeholder="Job Title" autocomplete="off" style="width:80%" />
                    <label for="JobTitle">Job Title</label>
                </div>
            </div>*@
                        
            @*<div class="col-12 pad-10">
                <div class="form-label-group">
                    <input asp-for="DepartmentName" type="text" class="form-control" placeholder="Department Name" autocomplete="off" style="width:80%" />
                    <label for="DepartmentName">Department Name</label>
                </div>
            </div>*@
            
            <div class="cms-slidebar-footer">
                <input type="button" class="btn btn-light" style="margin-right:5px" value="Close" onclick="closeNavUser()" />
                <input type="submit" class="btn btn-primary" style="margin-right:20px" value="Save" />
            </div>

        </div>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.DataAction)
    </form>
</div>

<script type="text/javascript">
    
    function closeNavUser() {
        var win = GetMainWindow();
        win.CloseWindow();
        return false;
    }   

    function onAjaxBegin() {
        ShowLoader($('#manageUser'));
    }

    function onAjaxSuccess(res) {
        if (res.success) {
            HideLoader($('#manageUser'));
            closeNavUser();
            window.parent.ShowNotification("User updated successfully", "success");
            window.parent.RefreshUserGrid();
            
        }
        else {
            HideLoader($('#manageUser'));
            ShowNotification(res.error, "error");
        }
    }
        
</script>

