@using Synergy.App.ViewModel;
@*@using Kendo.Mvc.UI;*@
@using Synergy.App.Common;
@*@using Kendo.Mvc.Extensions;*@
@model EGovDashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    //Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
    // Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = null;

}
<link type="text/css" rel="stylesheet" href="~/css/cms/DashBoard.css" asp-append-version="true" />
<style>
    .summary-card {
        width: 400px;
        margin-right: 100px;
    }

    .summary-card-body {
        width: 400px;
    }

    .border-right {
        border-right: 1px solid #006699 !important;
    }

    .summary-card-header {
        width: 400px;
    }
</style>

<script type="text/javascript">

    function RefreshComplaintGrid(msg) {
        getEmployeeDashboardData();
    }

    function onCreate() {

        var url = '/Egov/SmartCity/RegisterNewComplaint';

        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'New Complaint', Width: 950, Height: 700 });
        return false;
    }

    function OpenTask(id, tempCode) {

        //var id = taskId;
        //var source = '@RequestSourceEnum.Edit.ToString()';
        //var action = '@DataActionEnum.Edit.ToString()';

        //var portalId = $('#GlobalPortalId').val();

        // var url = '/Cms/Page?lo=Popup&pageType=Task&cbm=OnAfterService&source=' + source + '&dataAction=' + action + '&templateCodes=' + tempCode + '&portalId=' + portalId + '&recordId=' + id;
        //var win = GetMainWindow();
        //win.iframeOpenUrl = url;
        //win.OpenWindow({ Title:  "View Complaint", Width: 1200, Height: 600 });
        //return false;

        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ManageGrievanceForm?complaintId=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Complaint', Width: 1200, Height: 700 });
        return false;
    }



    var columnDefs = [
        {
            headerName: "Complaint No",
            field: "ServiceNo",
            cellRenderer: params => {
                var a ="";
                if (params.data.IsFlag) {
                    a = "<span style='color:red' class='fas fa-flag'></span>";
                } 
                if (params.data.ReopenCount > 0) {
                    a = a + " <span style='color:blue' class='fas fa-rotate-right'></span>";
                } else {
                }
                return a + "<input title='View Details' type='button' class='btn btn-link' onclick='OpenTask(\"" + params.data.Id + "\",\"" + params.data.TemplateCode + "\" )' value=\"" + params.value + "\" />";

            }
        },
        {
            headerName: "Department",
            field: "Department",
        },
        {
            headerName: "Complaint Type",
            field: "GrievanceType",

        },
        {
            headerName: "Name",
            field: "Name",
        },
        {
            headerName: "Complaint Status",
            field: "GrvStatus",
            cellRenderer: params => {
                debugger;
                if (params.value == null) { return "<div style='background-color:#f7f5bc;padding-left:10px'>  Pending</div>"; }
                if (params.value == "In Progress") { return "<div style='background-color:#DFE9F5;padding-left:10px'>  " + params.value + "</div>"; }
                if (params.value == "Not Pertaining") { return "<div style='background-color:#FFCD91;padding-left:10px'>   " + params.value + "</div>"; }
                if (params.value == "Disposed") { return "<div style='background-color:#90EE90;padding-left:10px'>   " + params.value + "</div>"; }
                else { return params.value; }
            }
        },
        {
            headerName: "Complaint Date",
            field: "CreatedDate",
            cellRenderer: params => {
                var date = new Date(params.value);
                return datefun(date);
            }
        },
    ];

    function datefun(d) {
        let h = addZero(d.getHours());
        let m = addZero(d.getMinutes());

        return d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear() + " " + h + ":" + m;
    }

    function addZero(i) {
        if (i < 10) { i = "0" + i }
        return i;
    }


    $(function () {
        getEmployeeDashboardData();
    });

    function getEmployeeDashboardData() {
        document.getElementById("kGridView").innerHTML = "";

        gridConfig(
            "kGridView",
            "/EGov/SmartCity/ReadComplaintData",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

    function RefreshComplaintGrid(msg) {
        getEmployeeDashboardData();
        myalert(msg);
    }


    function myalert(content) {
        debugger;
        $("<div></div>").kendoAlert({
            title: "Submission Confirmation",
            content: content.msg
        }).data("kendoAlert").open();
    }


</script>



<div class="container col-12" style="padding:10px;margin-top:20px;">
    <h3>Register Complaint</h3>
    <div class="col-12 p-2">
        <input type="button" class="btn btn-info" style="margin-right:5px" value="+ New Complaint" onclick="onCreate()" />
    </div>
    <div class="col-12 p-2">
        <div id="kGridView" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
    </div>
</div>



