@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Register New Asset";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model JSCAssetViewModel;

<script>

    function onAjaxBegin() {
        ShowLoader($('#appWrapper'));
    }

    function onAjaxSuccess(res) {
        if (res.success) {
            HideLoader($('#appWrapper'));
            ShowNotification("OTP sent successfully", "success");
            debugger;
            $('#ServiceId').val(res.data.ServiceId);
            $("#verifybtn").show();
            $("#formbtn").hide();
            $("#otpdiv").show();
            $("#DDNNO").prop("disabled", true);
        }
        else {
            HideLoader($('#appWrapper'));
            ShowNotification(res.error, "error");
        }
    }

    function onVerify() {
        ShowLoader($('#appWrapper'));
        var otp = $("#OTP").val();
        if (otp == "" && otp == null) {
            ShowNotification("Enter OTP","error");
        }else {
            $.ajax({
            type: "POST",
                url: "/egov/smartcity/verityregisterassetotp?otp=" + otp + "&ddnNo=" + $('#DDNNO').val() + "&serviceId=" + $('#ServiceId').val(),
            success: function (res) {
                if (res.success) {
                    
                    HideLoader($('#appWrapper'));
                    var win = GetMainWindow();
                    win.CloseWindow();
                    win.parent.Refresh();
                    win.parent.ShowNotification("Asset Registered Successfully", "success");;
                } else {
                    HideLoader($('#appWrapper'));
                    ShowNotification(res.error, "error");
                }
            },
            error: function (response) {
                alert("error");
            },
        });
        }
    }
</script>

<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="col-12" style="max-width:500px;margin:auto;">
                
                <form asp-controller="SmartCity" asp-action="RegisterNewAsset" class="form-horizontal"
                      id="assetForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                      data-ajax="true" data-ajax-method="POST">

                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group pt-3 pb-3">
                        <div>
                            <input asp-for="DDNNO" type="text" class="form-control" style="width:100%" placeholder="Property No" required autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group pt-3 pb-3" id="otpdiv" style="display:none;">
                        <div>
                            <input id="OTP" type="text" class="form-control" style="width:100%" placeholder="Enter OTP" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" id="formbtn">REGISTER</button>
                            <input type="button" class="btn btn-primary btn-block" onclick="onVerify(event)" id="verifybtn" style="display:none;" value="Verify OTP" />
                        </div>
                    </div>
                    @Html.HiddenFor(x=>x.ServiceId)
                </form>
            </div>
        </div>
    </div>
</div>
