@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model JSCParcelViewModel

@{
    ViewData["Title"] = "Asset Details";
    Layout = null;
}

<script>
    
    function onAjaxSuccessFindAsset(res) {
        if (res.success) {
            HideLoader($('#cms-content'));
            $("#prop_id").val("");
            OpenAssetDetails(res.id);
            //var customUrl = encodeURIComponent(res.id);
            ///*var url = "/EGov/SmartCity/AssetData?id=" + customUrl;*/
            ///*window.location.href = url;*/
            //LoadPartailView('/EGov/SmartCity/AssetData?id=' + customUrl, $('#cms-content'));
        }
        else {
            HideLoader($('#cms-content'));
            showError(res.error);
        }
    }

    
    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block");
    }

    function onFormSave(e) {
        var serviceNo = $("#prop_id").val();
        if (serviceNo == null || serviceNo == "") {
            $("#validation-summary").html("Enter Asset Number");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        ShowLoader($('#cms-content'));
    }

    function OpenAssetDetails(propId) {
        var url = '/Egov/SmartCity/JSCPropertyDetails?propertyId=' + propId;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: "Property Details", Width: 1200, Height: 600 });
        return false;
    }

</script>


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:500px;margin:auto;">
                <h5 class="text-center">Find Asset Details</h5>
                <hr />
                <form asp-controller="SmartCity" asp-action="SearchAsset" class="form-horizontal"
                      id="assetForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccessFindAsset"
                      data-ajax="true" data-ajax-method="POST">

                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group pt-3 pb-3">
                        <div>
                            <input asp-for="prop_id" type="text" class="form-control form-control-lg" style="width:100%" placeholder="Asset No" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="onFormSave(event)">Find Asset</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
