@using System.Text;
@using Synergy.App.ViewModel;
@using Synergy.App.Common;

@model JSCParcelViewModel

@{
    ViewData["Title"] = "Consumer Details";
    Layout = null;
}

<script>

    function onAjaxSuccessFindConsumer(res) {
        if (res.success) {
            HideLoader($('#cms-content'));
            var customUrl = "";
            if (res.mobile != null || res.mobile != "") {
                customUrl = encodeURIComponent(res.mobile);
            }
            else {
                customUrl = encodeURIComponent(res.aadhar);
            }
            //var url = "/EGov/SmartCity/ConsumerData?consumerNo=" + customUrl;
            //window.location.href = url;
            LoadPartailView('/EGov/SmartCity/ConsumerData?id=' + customUrl, $('#cms-content'));
        }
        else {
            HideLoader($('#cms-content'));
            showError(res.error);
        }
    }


    var showError = function (error) {
        $("#validation-summary").html(error);
        $("#validation-summary").css("display", "block")
    }

    function onFormSave(e) {
        var ConsumerNo = $("#tel_no").val();
        if (ConsumerNo == null || ConsumerNo == "") {
            $("#validation-summary").html("Enter Details");
            $("#validation-summary").css("display", "block");
            e.preventDefault();
            return false;
        }
        ShowLoader($('#cms-content'));
    }


</script>


<div id="appWrapper" class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="jumbotron" style="max-width:500px;margin:auto;">
                <h5 class="text-center">Find Consumer Details</h5>
                <hr />
                <form asp-controller="SmartCity" asp-action="SearchConsumer" class="form-horizontal"
                      id="readForm" data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                      data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccessFindConsumer"
                      data-ajax="true" data-ajax-method="POST">

                    <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group pt-3 pb-3">
                        <div>
                            <input asp-for="tel_no" type="text" class="form-control form-control-lg" style="width:100%" placeholder="Consumer Mobile / Aadhar Number" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="onFormSave(event)">Find Consumer</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
