@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext;

@{
    ViewData["Title"] = "Community Hall";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

@model JSCCommunityHallViewModel

<style>
    #maindiv {
        padding: 20px;
    }

    .divtext {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .img-hall {
        height: 250px;
        width: 350px;
        border-radius: 5px;
        padding:10px
        /*display: block;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    .divterms {
        border-style: solid;
        border-radius: 5px;
        padding: 10px;
        border-color: lightgrey;
        height: 80px;
        /* overflow: scroll; */
        overflow-y: scroll;
    }

    #map {
        height: 200px;
        border-radius: 5px;
    }
</style>

<div id="maindiv">
    <div class="row">
        <div class="col-12">
            @if(Model.CommunityHallPhotoId!=null){
                @if (Model.CommunityHallPhotoId.Count > 0)
                {
                    @foreach (var item in Model.CommunityHallPhotoId)
                    {
                        @if (item != null)
                        {
                            <img class="img-hall" src="/cms/Document/GetImageMongo?id=@item" onerror='OnImgError(this);' />
                        }

                    }
                }
            }
        </div>
    </div>
</div>