@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext;

@{
    ViewData["Title"] = "View Complaint";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<style>
    .k-grid-header .k-header {
        position: relative;
        vertical-align: bottom;
        cursor: default;
        font-weight: 600 !important;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important;
        white-space: normal !important;
    }

    td[role="gridcell"] {
        white-space: nowrap;
    }
</style>

<div class="contener" style="padding:20px;">
    <div class="row" style="padding-top:10px;">
        <div class="col-6">
            <span id="gridtitle" style="color:inherit;padding-left: 2px;font-weight:bold;font-size:16px;">DDN : @ViewBag.DDN</span>
        </div>
    </div>
    <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-12 p-2">
            <div id="kGridView" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>

<script>
    
    function htmlDecode(value) {
        return value.replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }
    var columnDefs = [
        {
            title: "ComplaintNo",
            field: "ServiceNo",
            hidden: true
        },
        {
            title: "Complaint No",
            field: "ComplaintNoText",
            template: "#= htmlDecode(ComplaintNoText)#"
        },
        {
            title: "Ward",
            field: "Ward",
            width: 120,
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Ward#<span/>#}else{##:Ward##}#"
        },
        {
            title: "Department",
            field: "Department",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Department#<span/>#}else{##:Department##}#"
        },
        {
            title: "Complaint Type",
            field: "GrievanceType",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:GrievanceType#<span/>#}else{##:GrievanceType##}#"
        },
        {
            title: "Name",
            field: "Name",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:Name#<span/>#}else{##:Name##}#"
        },
        {
            title: "Complaint Status",
            field: "GrvStatus",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<div style='font-weight:bold'> Pending</div>#}else{##:GrvStatus##}#"
        },
        {
            title: "Complaint Date",
            field: "CreatedDateText",
            template: "#if(GrvStatusCode == null || GrvStatusCode == 'GRV_PENDING'){#<span style='font-weight:bold'>#:CreatedDateText#<span/>#}else{##:CreatedDateText##}#"
        },
    ];

    function getComplaintData() {
        var url = "/EGov/SmartCity/GetJSCComplaintByDDN?ddn=@ViewBag.DDN";
        $("#kGridView").kendoGrid({
            toolbar: ["search", "excel"],
            excel: {
                fileName: "WardDepartment.xlsx",
                filterable: true
            },
            //excelExport: function (e) {
            //    e.workbook.fileName = "WardDepartment.xlsx";
            //    e.sender.showColumn(1);
            //    e.sender.hideColumn(2);
            //    //e.preventDefault();
            //    //exportFlag = true;
            //    setTimeout(function () {
            //    e.sender.saveAsExcel();
            //    });
            //},
            //pdf: {
            //    allPages: true,
            //    avoidLinks: true,
            //    paperSize: "A4",
            //    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
            //    landscape: true,
            //    repeatHeaders: true,
            //    template: $("#page-template").html(),
            //    scale: 0.8
            //},
            dataSource: {
                transport: {
                    read: url
                },
            },
            height: 550,
            groupable: false,
            sortable: true,
            resizable: true,
            reorderable: true,
            pageable: true,
            //columnMenu: true,
            columns: columnDefs
        });
    }
    
    getComplaintData();

    function OpenTask(id, tempCode) {

        var portalId = $('#GlobalPortalId').val();
        var url = '/EGov/SmartCity/ManageGrievanceForm?complaintId=' + id;
        var win = GetMainWindow();
        win.iframeOpenUrl = url;
        win.OpenWindow({ Title: 'View Complaint', Width: 1200, Height: 700 });
        return false;
    }
</script>