@{

    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
<div id="wrapper">
    @RenderBody()
    @RenderSection("scripts", required: false)
    <div id="global-overlay" class="global-overlay">
        <div class="global-overlay-loader">
        </div>
    </div>
</div>