@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Rent Services";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}


<style>
    .form-control {
        width: unset;
    }

    .required {
        color: red;
    }

    .pad {
        padding: 20px 20px 0px 20px;
    }

    .booknow {
        text-align: center;
    }

    .searchdiv {
        border: 1px solid grey;
        border-radius: 10px;
        margin: 15px 0px 15px 0px;
        padding-bottom: 20px;
        background: #fff;
    }

    tr:nth-child(even) {
        background-color: #fff !important;
    }

    .k-calendar .k-content .k-link {
        background-color: #87db87;
    }

    .k-calendar .k-content .k-state-disabled .k-link {
        background-color: #fb5454;
    }

    .k-textbox-container {
        width: 12.75rem;
    }
</style>

<script type="text/javascript">



</script>

<div class="row-12" style="margin-left:15px;" id="rentService">

        <div class="col-12">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">Start Date</div>
                <div class="col-3">End Date</div>
                <div class="col-3"></div>
            </div>

        </div>

 
</div>


