@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model AlertRemarkViewModel
@{
    ViewData["Title"] = "Alert Action";   
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}
<style>
 
</style>

<div class="row  pad-10 no-gutters">
    <div style="padding:10px;">
        <form asp-controller="BusinessAnalytics" asp-action="ManageAlertRemarks" class="form-horizontal"
                data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
                data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
                data-ajax="true" data-ajax-method="POST">
            <div id="validation-summary" class="text-danger" asp-validation-summary="All"></div>



            <div class="row" style="padding:10px;">
                @if(Model.remark_type.IsNotNullAndNotEmpty()){
                     <div class="row col-12 pad-10">
                        <div class="col-3">
                            <label for="isFalseEvent">Is False Event</label>
                        </div>
                        <div class="col-9">                       
                             <input asp-for="isFalseEvent" type="checkbox" />
                        </div>
                    </div> 
                }            
                <div class="row col-12 pad-10">
                    <div class="col-3">
                        <label for="remark">Remark<span class="required" style="color:red;">*</span></label>
                    </div>
                    <div class="col-9">
                        <textarea asp-for="remark" type="text" row="8" style="height:100px;" class="form-control" placeholder="Remark" autocomplete="off" ></textarea>
                    </div>
                </div>
                <div class="row col-12 pad-10">
                    <div class="col-3">
                        <label for="remarkBy">Remark By</label>
                    </div>
                    <div class="col-9">
                        <input asp-for="remarkBy" type="text" class="form-control" placeholder="Enter Your Name" autocomplete="off" />
                    </div>
                </div> 
            </div>
            <div class="cms-footer">                
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            @Html.HiddenFor(x => x.id) 
            @Html.HiddenFor(x => x.parentId) 
            @Html.HiddenFor(x => x.remark_type) 
        </form>
    </div>
</div>
<script>
    var win = GetMainWindow();

    $(document).ready(function () {



    });

    var onAjaxSuccess = function (res) {
        if (res.success) {
            
            ShowNotification("Saved Successfully", "success"); 
            closeNavMember();
            
        }
        else {
            ShowErrors(res.error);
        }
        HideLoader($('#template-content'));
    };  
    function ShowErrors(err) {
        $("#validation-summary").removeClass("validation-summary-valid");
        $("#validation-summary").addClass("validation-summary-errors");        
        $("#validation-summary ul").html(err);
    }
    function closeNavMember() {        
        //win.CloseWindow();  
        win.CloseWindow({ MethodName: "onClose", Prms: { id: '@Model.parentId' } });
        //win.CloseWindow({ MethodName: "OnAlertCloseSuccess" });
        return false;
    }    
</script>
 





