@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@inject IStringLocalizer<CMS.UI.Web.Areas.CMS.Controllers.BusinessAnalyticsController> Resource

@using Synergy.App.ViewModel;
@using Synergy.App.Common;

<style>
    .btn-primary {
        background-color: #006bb4;
        border-color: #006bb4;
        color: #fff;
        position: relative;
        top: 0;
        transition: top ease 0.3s;
    }

        .btn-primary:hover {
            background-color: #0060a2;
            top: -2px;
        }

            .btn-primary:hover .button-text {
                text-decoration: underline;
            }

    .button-text {
        margin-left: 5px;
        font-size: medium;
    }
</style>
<script>
	$(document).ready(function() {
		$("#fromDate").kendoDatePicker({
			format: "yyyy-MM-dd",
		});
        $("#toDate").kendoDatePicker({
			format: "yyyy-MM-dd",
        });
        $("#exportBtn").hide();

    });
    function onBtnExport() {
        debugger;
        gridOptions.api.exportDataAsCsv();
    }

    var columnDefs = [
        {
            field: "caller_name",
            headerName: "Caller Name",
            minWidth: 120
        },
        {
            field: "caller_number",
            headerName: "Caller Number",
            minWidth: 120
        },
        {
            field: "event_number",
            headerName: "Event Number",
            minWidth: 120
        },
        {
            field: "event_time",
            headerName: "Event Time",
            minWidth: 120
        },
        {
            field: "event_remark",
            headerName: "Event Remark",
            minWidth: 120
        },
        {
            field: "event_type",
            headerName: "Event Type",
            minWidth: 120
        },
        {
            field: "event_subType",
            headerName: "Event Sub Type",
            minWidth: 120
        },
        {
            field: "latitude",
            headerName: "Latitude",
            minWidth: 120
        },
        {
            field: "longitude",
            headerName: "Longitude",
            minWidth: 120
        },
        {
            field: "district_Code",
            headerName: "District Code",
            minWidth: 120
        },
        {
            field: "police_Station",
            headerName: "Police Station",
            minWidth: 120
        },
        {
            field: "Frv_Code",
            headerName: "Frv Code",
            minWidth: 120
        },
        {
            field: "dispatch_Time",
            headerName: "Dispatch Time",
            minWidth: 120
        },
        {
            field: "acknowledge_Time",
            headerName: "Acknowledge Time",
            minWidth: 120
        },
        {
            field: "enroute_Time",
            headerName: "Enroute Time",
            minWidth: 120
        },
        {
            field: "arrival_Time",
            headerName: "Arrival Time",
            minWidth: 120
        },
        {
            field: "closing_Time",
            headerName: "Closing Time",
            minWidth: 120
        },
        {
            field: "disposition_Code",
            headerName: "Disposition Code",
            minWidth: 120
        },
    ];

    function loadDial100Grid() {
        debugger;
		var str = $("#queryStr").val();
		var _fromdate = $("#fromDate").val();
        var _todate = $("#toDate").val();
        var url = "/cms/BusinessAnalytics/FetchDial100DataByFilters?queryString=" + str + "&fromDate=" + _fromdate + "&todate=" + _todate;

        document.getElementById("dial100GridDetails").innerHTML = "";
       
        gridConfig(
            "dial100GridDetails",
            url,
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            15);
	}
	function onSearch() {
        loadDial100Grid();
        $("#exportBtn").show();
    }

    var gridOptions;
    function gridConfig(selector,
        url,
        columns,
        editableC,
        sortableC,
        resizableC,
        filterC,
        flexC,
        paginationC,
        pageSizeC,
    ) {

        ShowLoader($('#' + selector));
        $.ajax({
            url: url,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
            success: function (response) {
                HideLoader($('#' + selector));
                document.getElementById(selector).innerHTML = "";
                if (response.length >= 0) {

                    var tabledata = response;

                    // specify the columns
                    const columnDefs = columns;

                    // specify the data
                    const rowData = tabledata

                    // let the grid know which columns and what data to use
                    gridOptions = {
                        defaultColDef: {
                            editable: editableC,
                            sortable: sortableC,
                            resizable: resizableC,
                            filter: filterC,
                            flex: flexC,
                        },
                        columnDefs: columnDefs,
                        rowData: rowData,
                        pagination: paginationC,
                        paginationPageSize: pageSizeC,

                    };

                    const eGridDiv = document.querySelector('#' + selector);
                    new agGrid.Grid(eGridDiv, gridOptions);
                    return gridOptions
                } else {
                }
            },
            error: function (ert) {
                HideLoader($('#' + selector));
            }
        });
    }

</script>
<div class="container-fluid hr-pad-top-10">
    <h4>Dial 100 Report</h4>
    <hr />
    <div class="row col-12 pad-10" style="align-items: center; padding-bottom: 15px;">
        <div class="col-1">
            <label for="queryStr">Search</label>
        </div>
        <div class="col-3">
            <input type="text" class="form-control" id="queryStr" style="width: 100%" />
        </div>
        <div class="col-1" style="padding:0px">
            <label>From Date <span style="color:red">*</span></label>
        </div>
        <div class="col-2">
            <input id="fromDate" required style="width: 100%" value="@DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-1">
            <label>To Date <span style="color:red">*</span></label>
        </div>
        <div class="col-2">
            <input id="toDate" required style="width: 100%" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col-2">
            <button type='button' class='btn btn-primary shadow-sm' style="float:right;" onclick='onSearch()'>
                <span class="button-body">
                    <span class="fa fa-search"></span>
                    <span class="button-text">Search</span>
                </span>
            </button>
        </div>
    </div>
    <hr />

    <div class="row col-12 pad-10">
        <button class="btn btn-sm btn-primary" id="exportBtn" onclick="onBtnExport()" style="font-weight: bold; margin-bottom: 10px; margin-left: 15px;">Export</button>
        <div class="col-12">
            <div id="dial100GridDetails" style="width: 100%;height:550px" class="ag-theme-balham"></div>
        </div>
    </div>
</div>










