
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Alert List";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div id="IIPAlertGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>
</div>

<script>
    var columnDefs = [

        {
            field: "View",
            headerName: "Action",
            minWidth: 100, 
            maxWidth: 200,
            cellRenderer: params => {
                return "<span class='fas fa-eye' title='View Alert' onclick='onAlertViewDetails(\"" + params.data.sourceIds + "\",\"" + params.data.colorCode + "\")'></span>&nbsp;&nbsp;<span class='fas fa-tasks' style='margin-left:20px;' title='View Alert Report' onclick='viewAlertReport(\"" + params.data.alertid + "\")'></span>";
            }
        },         
        {
            field: "alert_number",
            headerName: 'Alert Number',
            minWidth: 100,
            maxWidth: 150,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.alert_number + " </div>";
            }
        },
        {
            field: "summary",
            headerName: 'Alert Type',
            minWidth: 100, 
            maxWidth: 150,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.summary + " </div>";
            }

        },       
        {
            field: "NoteDescription",
            headerName: 'Alert Description',
            minWidth: 300, 
            maxWidth: 350,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.NoteDescription + " </div>";
            }

        },              

        {
            field: "alert_dateDisplay",
            headerName: 'Alert Date',
            minWidth: 250, 
            maxWidth: 250,
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.alert_dateDisplay + " </div>";
            }
        },
        {
            field: "isVisible",
            headerName: 'Status',
            minWidth: 250,
            maxWidth: 250,
            cellRenderer: params => {
                var status = params.data.isVisible ? "Open" : "Close";
                //var op="Open";
                //var cl="Close";
                return "<div class='text-justify' >" + status + " </div>";

            }
        },
        {
            field: "colorCode",
            headerName: 'Color Code',
            minWidth: 150, 
            maxWidth: 200,
            cellRenderer: params => {
                return "<div class='text-justify' ><input type='color' disabled  value='"+ params.data.colorCode +"'></div>";
            }
        },

    ];
    $(function () {
        document.getElementById("IIPAlertGrid").innerHTML = "";
        gridConfig(
            "IIPAlertGrid",
            "/cms/BusinessAnalytics/ReadIIPAlertGridData?colorCode=@ViewBag.Color",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);

    })

    function onAlertViewDetails(id,color) {       
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("CCTV", "BusinessAnalytics", new { @area="Cms"})?id=' + id + '&color=' + color;
        win.OpenWindow({ Title: 'Details', Width: 1200, Height: 800 });
        return false;
    }
    function viewAlertReport(id) {
        debugger;        
        var win = GetMainWindow();
        win.iframeOpenUrl = '@Url.Action("IipAlertActionReport", "BusinessAnalytics", new { @area="Cms"})?parentId=' + id;
        win.OpenWindow({ Title: 'Alert Action Report', Width: 1200, Height: 800 });
        return false;
    }

</script>