
@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@{
    ViewData["Title"] = "Alert Action Report";
    Layout = "~/Areas/Core/Views/Shared/_PopupLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div id="IIPAlertActionGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>

    </div>
</div>

<script>
    var columnDefs = [
                
        {
            field: "remark",
            headerName: 'Remark',
            minWidth: 300,            
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.remark + " </div>";
            }
        },
        {
            field: "remarkBy",
            headerName: 'Remark By',
            minWidth: 200,             
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.remarkBy + " </div>";
            }

        },       
        {
            field: "remark_type",
            headerName: 'Remark Type',
            minWidth: 150,            
            cellRenderer: params => {
                var type = params.data.remark_type=="Action" ? "Action Remark" : "Closing Remark";
                return "<div class='text-justify' >" + type + " </div>";
            }

        },              

        {
            field: "remark_datetimeDisplay",
            headerName: 'Alert Date',
            minWidth: 250,           
            cellRenderer: params => {
                return "<div class='text-justify' >" + params.data.remark_datetimeDisplay + " </div>";
            }
        },
        {
            field: "isFalseEvent",
            headerName: 'Status',
            minWidth: 250,
            cellRenderer: params => {
                var status = params.data.isFalseEvent ? "Fake Event" : "Varified Event";                
                return "<div class='text-justify' >" + status + " </div>";

            }
        }

    ];
    $(function () {
        document.getElementById("IIPAlertActionGrid").innerHTML = "";
        gridConfig(
            "IIPAlertActionGrid",
            "/cms/BusinessAnalytics/ReadIIPAlertActionReport?parentId=@ViewBag.ParentId",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);

    })

  

</script>