@model CustomTemplateViewModel;
@using Synergy.App.ViewModel;
@{
    ViewData["Title"] = "Iframe";
    Layout = null;
}

<div class="row col-12 pad-10">
    <iframe id="iframe_report" src="@ViewBag.SRC" frameborder="0" style="border:none;width:100%;height:800px;"></iframe>
</div>











