@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext

@{
    ViewData["Title"] = "Posts";
    //Layout = null;
    Layout = "~/Areas/Core/Views/Shared/Themes/HR/_Layout.cshtml";
}


<style>
    body {
        font-family: 'Inter', sans-serif;
    }

/*
    .ag-header-cell-text {
        color: black;
        font-weight: 200;
        font-size: medium;
    }

    .ag-row:hover {
        background-color: #fbfcfd;
    }

    .ag-header-cell {
        background-color: #DCDCDC;
        background-color: #fff;
        color: black;
    }

    

    .ag-root-wrapper-body.ag-layout-normal {
        min-height: 200px !important;
    }*/

    
</style>
<script>

    var columnDefs = [
        {
            field: "text",
            headerName: 'Post',

        },
        {
            field: "type",
            headerName: 'Type',
        },
        {
            headerName: "Engagement",
            field: "retweet_count",
            maxWidth: 140,
        },
        {
            headerName: "Sentiment",
            field: "possibly_sensitive",
            maxWidth: 140,
            cellRenderer: params => {
                debugger;
                if (params.value == "false") {
                    return "<span>&#128545</span>";
                }
                else {
                    return "<span>&#128512</span>";
                }
            }
        },
        {
            field: "created_at",
            headerName: 'Date',
            cellRenderer: params => {
                debugger;
                var date = new Date(params.value);
                return date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear() + "  " + date.toLocaleTimeString();
            }
        }
    ];

    $(function () {

        getPostsList();



    });

    function getPostsList() {
        document.getElementById("postsGrid").innerHTML = "";
        gridConfig(
            "postsGrid",
            "/cms/BusinessAnalytics/GetAllTwitterPosts",
            columnDefs,
            false,
            true,
            true,
            true,
            1,
            true,
            10);
    }

</script>


<div style="margin: 10px 30px;">
    <h2>Posts</h2>


    <div class="row">
        <div class="col-12">
            <div id="postsGrid" style="width: 100%;height:550px" class="ag-theme-alpine"></div>
        </div>
    </div>
</div>
