@model Synergy.App.ViewModel.DashboardMasterViewModel
@*@using Syncfusion.EJ2;*@
@{
    ViewData["Title"] = "Preview Dashboard";
    //Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
    Layout = ViewBag.Layout!=null ? ViewBag.Layout :null;
    //Layout = "~/Areas/CMS/Views/Shared/_LayoutCms1.cshtml";
}
<style>
    canvas {
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        border-radius: 4px;
    }

    h4 {
        font-size: larger;
        color: black;
        font-weight: bold;
        text-align: center;
    }
    .ag-root-wrapper-body.ag-layout-normal{
        min-height:500px !important;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div id="builder"></div>
<div id="temp">
    <script>

        //function toTitleCase(str) {
        //    str = str.replaceAll('_', ' ');
        //    return str.replace(/\w\S*/g, function (txt) {
        //        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        //    });
        //}
        function FillFormIo(json) {
            var formio = $('#builder').html();
            if (formio != undefined) {
                var formio = document.getElementById('builder');
                var obj = JSON.parse(json);
                Formio.createForm(formio, obj).then(function (form) {
                    frm = form;
                });
            }
        }
        $(document).ready(function () {


            var json = $('#Json').val();
            json = json.replaceAll("%27", "'");
            FillFormIo(json);

            @*$.ajax({
            type: "GET",
            url: "/Cms/BusinessAnalytics/GetDashboardJson?noteId=@Model.NoteId",
            success: function (response) {
                if (response != "" && response != null) {
                    response = response.replaceAll("%27", "'");
                    var obj = JSON.parse(response);
                    var formio = $('#builder').html();
                    if (formio != undefined) {

                        var formio = document.getElementById('builder');
                        Formio.createForm(formio, obj).then(function (form) {
                            frm = form;
                            //form.submission = { data: dataJ };
                        });
                    }
                }


            },
            error: function (response) {
                alert("error");
            },*@
        //});
    });

        @*@Html.Raw(Model.chartItems[0].chartMetadata);*@
         @Html.Raw(Model.ChartItems);
    </script>
</div>
@Html.HiddenFor(x => x.Json)

@*@Html.EJS().ScriptManager()*@




