@using Synergy.App.ViewModel;
@{
    ViewData["Title"] = "Logstash";
    //Layout = null;
    Layout = "~/Areas/Core/Views/Shared/_Reference.cshtml";
}
@*<h1>The audio element</h1>*@
<div style="padding: 40px;text-align: center;">
    <p>Click on the play button to play a sound:</p>

<audio controls runat=server>
    <source src="data:audio/wav;base64,@ViewBag.Base64" type="audio/wav">
</audio>

@if (ViewBag.Error != null)
{
    <h1>Error : @ViewBag.Error</h1>
}
</div>









