@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Schema";
    Layout = null;
}
<style>
</style>
<script>
    @*@{
            string CubeJSBaseUrl = Configuration.GetSection("CubeJSSettings")["CubeJSBaseUrl"];
        }*@
    //$('#myframe').load(function () {
    //    
    //    $('#myframe').contents().find("head")
    //        .append($("<style type='text/css'>  header{display:none;}  </style>"));
    //});
    //window.onload = function () {
    //    
    //    let myiFrame = document.getElementById("myframe");
    //    myiFrame.contents().find('header').css({
    //        display: none
    //    });
    //}
        ////let doc = myiFrame.contentDocument;
        //let doc = myiFrame.ownerDocument;
        //doc.Head.innerHTML = doc.Head.innerHTML + '<style>header{display:none}</style>';
    //}
    document.getElementById('myframe').onload = function () {

        $('#myframe').contents().find('#playground-root').hide();
        //$('#myframe').contents().find('.ant-layout-header').style({
        //    display: 'none'
        //});

    };
    
    //$('Iframe').contents().find('#playground-root').style({ display: 'none'})
    //var frame = $("#myframe"),
    //    contents = frame.contents(),
    //    haed = contents.find('head').append('<style type="text / css">  header{display:none;}  </style>').children('style')
</script>
    @{
        string CubeJSBaseUrl = Configuration.GetSection("CubeJSSettings")["CubeJSBaseUrl"];
        string Url = CubeJSBaseUrl + "#/schema";
    }
<div>
    <iframe src='@Url' id="myframe" height="900" width="100%"></iframe>
</div>



