@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@inject Synergy.App.Common.IUserContext _userContext

@{
    ViewData["Title"] = "Social Media Data";
    Layout = null;
    //Layout = "~/Areas/Core/Views/Shared/Themes/HR/_Layout.cshtml";
}

<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2965_RC03/embed_loader.js"></script>

<style>
    .parent {
        display: flex;
        width: 100%;
    }

    .child {
        flex: 1;
        /*border: 2px solid rgba(0,0,0,.125);*/
        margin: 30px;
        margin-top: 0px;
        /*border-radius: 25px;*/
        background: #FFF;
        padding: 20px;
        width: 40%;
        height: 350px;
        box-shadow: rgb(0 0 0 / 12%) 0px 0px 2px 0px, rgb(0 0 0 / 18%) 0px 2px 2px 0px;
    }

        .child:first-child {
            margin-right: 0px;
        }

    .viewAll {
        padding-top: 10px;
    }

        .viewAll:hover {
            text-decoration: underline;
        }

    .listBottom {
        border-bottom: 1px solid #dee2e6;
        padding: 5px 0px;
    }

    .TRedirect {
        color: dodgerblue;
    }

        .TRedirect:hover {
            text-decoration: underline;
        }

    .ng-scope {
        visibility: hidden;
        height: 0;
    }

    .listBottom:hover {
        background-color: #F8F8F8;
    }
    
</style>

<script>
    $(function () {

        $("#LocationId").kendoDropDownList({
            //dataTextField: "NoteSubject",
            //dataValueField: "Id",
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            filter: "contains",
            dataBound: function (e) {

                var locValue = $("#LocationId").data("kendoDropDownList").text();
                mycharts(locValue);
                readTwitterData(locValue);
                readYoutubeData(locValue);
            },
            change: function (e) {

                var locValue = $("#LocationId").data("kendoDropDownList").text();
                mycharts(locValue);
                readTwitterData(locValue);
                readYoutubeData(locValue);
            },
            /*value: "Id",*/
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/BusinessAnalytics/GetTrendingLocationList",
                    }
                }
            }
        });

        $("#YLocationId").kendoDropDownList({
            dataTextField: "NoteSubject",
            dataValueField: "Id",
            @*optionLabel: "@ApplicationConstant.PlaceHolder_SelectOption",*@
            filter: "contains",
            dataBound: function (e) {

                var locValue = $("#YLocationId").data("kendoDropDownList").text();
                readYoutubeData(locValue);
            },
            change: function (e) {

                var locValue = $("#YLocationId").data("kendoDropDownList").text();
                readYoutubeData(locValue);
            },
            /*value: "Id",*/
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Cms/BusinessAnalytics/GetTrendingLocationList",
                    }
                }
            }
        });

        /*mycharts();*/
    });

    function readTwitterData(location) {

        var size = 5;
        document.getElementById("listView").innerHTML = "";

           dataSource = new kendo.data.DataSource({
                transport: {
                      read: {
                        url: "/Cms/BusinessAnalytics/GetTwitterData?locationName=" + location + "&size=" + size,
                        dataType: "json"
                      }
                },
           });

        $("#listView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html()),
            @*selectable: '@ListViewSelectionMode.Single',*@
        });

    }

    function readYoutubeData(location) {
        var size = 5;

        document.getElementById("listView2").innerHTML = "";

           dataSource = new kendo.data.DataSource({
                transport: {
                      read: {
                        url: "/Cms/BusinessAnalytics/GetYoutubeData?locationName="+location+"&size="+size,
                        dataType: "json"
                      }
                },
           });

        $("#listView2").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template2").html()),
            @*selectable: '@ListViewSelectionMode.Single',*@
        });

    }


    function myTrimfn(str) {
        str = str.substring(0, 100) + " ...";
        return str;
    }

    function myTrimfn2(str) {
        str = str.substring(0, 50) + " ...";
        return str;
    }


    function mycharts(loc) {
        debugger;

        if (typeof(trends) == 'undefined') {
            window.location.reload();
        }

        document.getElementById("sampDiv").innerHTML = "";
        var divElem = document.getElementById('sampDiv');
        trends.embed.renderExploreWidgetTo(divElem, "TIMESERIES", { "comparisonItem": [{ "keyword": loc, "geo": "IN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "q=" + loc + "&geo=IN&date=today 12-m", "guestPath": "https://trends.google.com:443/trends/embed/" });

        document.getElementById("sampDiv2").innerHTML = "";
        var abc = document.getElementById('sampDiv2');
        trends.embed.renderExploreWidgetTo(abc, "RELATED_TOPICS", { "comparisonItem": [{ "keyword": loc, "geo": "IN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "q=" + loc +"&geo=IN&date=today 12-m", "guestPath": "https://trends.google.com:443/trends/embed/" });

        document.getElementById("sampDiv3").innerHTML = "";
        var efg = document.getElementById('sampDiv3');
        trends.embed.renderExploreWidgetTo(efg, "RELATED_QUERIES", { "comparisonItem": [{ "keyword": loc, "geo": "IN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "q=" + loc +"&geo=IN&date=today 12-m", "guestPath": "https://trends.google.com:443/trends/embed/" });

        document.getElementById("sampDiv4").innerHTML = "";
        var ijk = document.getElementById('sampDiv4');
        trends.embed.renderExploreWidgetTo(ijk, "GEO_MAP", { "comparisonItem": [{ "keyword": loc, "geo": "IN", "time": "today 12-m" }], "category": 0, "property": "" }, { "exploreQuery": "q=" + loc +"&geo=IN&date=today 12-m", "guestPath": "https://trends.google.com:443/trends/embed/" });


    }

    function TwitterViewAll() {
        var location=$("#LocationId").data("kendoDropDownList").text();
        LoadPartailView('/Cms/BusinessAnalytics/TrendingTwitterPage?locationName='+location, $('#cms-content'));
    }

    function YouTubeViewAll() {        
        var location=$("#LocationId").data("kendoDropDownList").text();
        LoadPartailView('/Cms/BusinessAnalytics/TrendingYoutubePage?locationName='+location, $('#cms-content'));
    }

</script>

<div style="margin: 10px 30px; height: 40px;">
    <input type="text" id="LocationId" class="form-control" style="float: right; width: 35%" />
</div><hr />

<div id="sampDiv" style="margin:30px;"></div>


<div class="parent">
    <div class="child">
        @*<label for="TLocationId">Location : </label>*@
        @*<input type="text" id="TLocationId" class="form-control" style="float: right; width: 35%" />*@
        <div class="row">
            <h3 style="font-size:2vw; margin-left: 10px;">Top Twitter Posts</h3>
        </div>
        <div id="listView" style="margin-top: 5px; width: 100%; height: 80% !important; overflow-y: auto; overflow-x: hidden; border-left: none; border-right: none;">
        </div>

        <a onclick="TwitterViewAll();" class="viewAll" style="color: dodgerblue; float: right;">View All</a>

    </div>
    <div class="child">
        @*<label for="YLocationId">Location : </label>*@
        @*<input type="text" id="YLocationId" class="form-control" style="float: right; width: 35%" />*@
        <div class="row">
            <h3 style="font-size: 2vw; margin-left: 10px;">Top Youtube Posts</h3>
        </div>
        <div id="listView2" style="margin-top: 5px; width: 100%; height: 80% !important; border-left: none; border-right: none; overflow-y: auto; overflow-x: hidden; ">
        </div>
        <a onclick="YouTubeViewAll();" class="viewAll" style="color: dodgerblue; float: right;">View All</a>

    </div>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div style="width:95%" class="listBottom">
        <div>
                <div class="row" style="padding-left:40px;">
                    <div class="col-12" style="padding-left:0px;">
                        <span style="font-size: 1vw; padding:5px;">
                            <b>Name</b> : &nbsp;&nbsp; #:data.name#
                        </span>
                    </div>
                    <div class="col-12" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                            <b>Link</b> : &nbsp;&nbsp; <a class="TRedirect" href="#:data.url#" target="_blank">#if(data.url.length > 60) {# <span data-toggle="tooltip" data-placement="bottom" title="#:data.url#">#= myTrimfn2(data.url)#</span> #} else {# #:data.url# #}# </a>

                        </span>
                    </div>
                    <div class="col" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                            @*<i class="fa-brands fa-twitter"></i> : &nbsp;&nbsp; #:data.tweet_volume#*@
                            <i class="fa-brands fa-twitter"></i> : &nbsp;&nbsp; #if(data.tweet_volume == null) {# 0 #} else {# #:data.tweet_volume# #}#
                        </span>
                    </div>
                </div>
        </div>
    </div>

</script>

<script type="text/x-kendo-tmpl" id="template2">
    <div style="width:95%" class="listBottom">
        <div>
                <div class="row" style="padding-left:15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <img width="100" height="80" style="margin-top:8px;" class="img-fluid" src="#:data.thumbnailUrl#" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="col-12" style="padding-left:0px;">
                        <span style="font-size: 1vw; padding:5px;">
                            <b>Title</b> : #:data.title# &nbsp;&nbsp; <span data-toggle="tooltip" data-placement="bottom" title="#:data.videoId#" ><a href="#:data.videoId#" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></span>
                        </span>
                    </div>
                    <div class="col-12" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                            @*<b>Description</b> : #:data.description#*@
                           <b>Description</b> : #if(data.description.length > 100) {# <span data-toggle="tooltip" data-placement="bottom" title="#:data.description#">#= myTrimfn(data.description)#</span> #} else {# #:data.description# #}#
                        </span>
                    </div>
                    <div class="col-12" style="padding-left:0px;">
                        <span  style="padding:5px;font-size:1vw;">
                            <b><i class="fa-solid fa-thumbs-up"></i></b> : #:data.likeCount#
                        </span>&nbsp;&nbsp;
                        <span  style="padding:5px;font-size:12px;">
                            <b><i class="fa-solid fa-comment"></i></b> : #:data.commentCount#
                        </span>&nbsp;&nbsp;
                        <span  style="padding:5px;font-size:12px;">
                            <b><i class="fa-solid fa-eye"></i></b> : #:data.viewCount#
                        </span>
                    </div>
                    </div>
                </div>
        </div>
    </div>

</script>

<div class="row" style=" margin: 10px 20px;">
    <div class="col-6" id="sampDiv2"></div>
    <div class="col-6" id="sampDiv3"></div>
</div>

<div id="sampDiv4" style="margin:30px;"></div>

