@using Syncfusion.EJ2.Navigations;
@using CMS.UI.ViewModel;
@using CMS.Common;
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "BRE Business Script";
    Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}
<style>
    #inboxTreeView {
        padding-left: 25px;
        padding-bottom: 65px;
    }

    .tree-item-status {
        cursor: pointer;
    }

    .left {
        min-width: 300px;
        max-width: 600px;
    }

    .splitter-container {
        height: 85vh !important;
        width: 100%;
        /*position:fixed;*/
    }

    .treeview .k-in {
        width: 100% !important;
    }

    .k-floating-label-container {
        width: 100%;
    }
</style>

<script>
    var expandedItem = null;
    var expandedDataItem = [];
    var expandedObjlist = [];
    function onExpand(e) {
        expandedItem = this.dataItem(e.node);
        if (expandedItem.Type != "BATCH") {
            expandedDataItem.push(expandedItem);
        }
    }
    function AddData() {
        var exp = JSON.stringify(expandedObjlist);
        //expandedObjlist = [];
        if (expandedItem == null) {
            return { directory: null, id: null, type: null, parentId: null };
        }
        else {
            return { type: expandedItem.Type, parentId: expandedItem.ParentId, directory: expandedItem.Directory, id: expandedItem.id };
        }
    }

    function OnSelect(e) {
    }

    function OnInputTreeViewBound(e) {
        //var rootNodes = $("#inboxTreeView").data("kendoTreeView").dataSource.data();
        traverse(rootNodes, function (node) {
            
            if (node.Type == "Class") {
                node.set("checked", true);
            }
        });
    }
    function traverse(nodes, callback) {
        for (var i = 0; i < nodes.length; i++) {
            var node = nodes[i];
            var children = node.hasChildren && node.children.data();
            callback(node);
            if (children) {
                traverse(children, callback);
            }
        }
    }

    function onMethodCheck(e) {
        var dataItem = this.dataItem(e.node);
        document.getElementById("inbox-content-div").innerText = dataItem.Name;
        var main = document.getElementById("inbox-content-div");
        main.appendChild(document.createElement("br"));
        var methodId = dataItem.id;
        var namespaceString = dataItem.Directory;

        $.ajax({
            url: "/bre/bre/GetMethodParameters?methodId=" + methodId + "&namespaceString=" + namespaceString,
            success: function (res) {
                console.log(res);
                var inputContainer = document.getElementById("inbox-content-div");
                for (var i = 0; i <= res.length - 1; i++) {
                    if (res[i].Id == "summary" || res[i].Id == "method" || res[i].Id == "xmlName") {
                        inputContainer.appendChild(document.createElement("br"));
                        var paraminfo = document.createElement("span");
                        paraminfo.innerText = res[i].Name;
                        paraminfo.style.fontSize = "10px";
                        inputContainer.appendChild(paraminfo);
                    }
                    else if (res[i].Id != "summary" && res[i].Id != "method" && res[i].Id != "xmlName") {
                        inputContainer.appendChild(document.createElement("br"));
                        var newForm = document.createElement("input");
                        newForm.setAttribute("type", "text");
                        newForm.setAttribute("style", "width: 100 %;");
                        newForm.setAttribute("id", res[i].Id);
                        inputContainer.appendChild(newForm);
                        inputContainer.appendChild(document.createElement("br"));
                        var paraminfo = document.createElement("span");
                        paraminfo.innerText = res[i].Name;
                        paraminfo.style.fontSize = "10px";
                        inputContainer.appendChild(paraminfo);
                        //inputContainer.appendChild(document.createElement("br"));
                        console.log(inputContainer);
                        $("#" + res[i].Id).kendoTextBox({
                            value: "",
                            placeholder: res[i].Id,
                            label: {
                                content: res[i].Id,
                                floating: true
                            }
                        });
                    } 
                }
            },
            error: function (xhr, httpStatusMessage, customErrorMessage) {
                alert(customErrorMessage);
            }
        });

    }
</script>
<div class="">
    <div class="row">
        <div class="col-sm">
            <div class="left">
                @*@(Html.Kendo().TreeView()
        .Name("inboxTreeView").HtmlAttributes( new {@class="treeview"})
      .Events(e=>e.Expand("onExpand").Select("OnSelect"))
               .Events(e => e.DataBound("OnInputTreeViewBound"))
        .DataTextField("Name")
        .TemplateId("ct-tv-template")
         .Checkboxes(checkboxes => checkboxes
                .Name("InputField")

                .CheckChildren(false).TemplateId("chk-treeview")
            ).Events(events => events
       .Check("onMethodCheck"))
       .DataSource(dataSource => dataSource
            .Read(read => read
                .Action("GetFolderStructure", "Bre",new { @area="Bre"}).Data("AddData")
            )
        )
    )*@

                <script id="chk-treeview" type="text/kendo-ui-template">
                    #if(item.hasChildren == false) {#
                    @*<input type='checkbox' name='checkedClass[#=item.id #]'>#}#*@
                    <input type='checkbox' name='checkedClass'  #= item.checked ? 'checked' : '' #>#}#

                </script>

                <script id="ct-tv-template" type="text/kendo-ui-template">
                    <span style="width:100%" id="#: item.id #" class="tree-item-#:item.Type.toLowerCase()#">#: item.Name #</span>

                </script>

            </div>
        </div>
        <div class="col-sm">
            <div class="right pad-l-t-15" id="inbox-content-div" style="width:100%;">
                Please select the method to get the parameters
            </div>
        </div>

    </div>
</div>
