@using Synergy.App.ViewModel;
@using Synergy.App.Common;
@model ApplicationErrorViewModel

@{
    ViewData["Title"] = "Exception Error";
    Layout = null;
}
<div>
    <h3>@ViewBag.Title</h3>
    <div class="row">
        <h4> @Model.Exception</h4>
    </div>
</div>