@using CMS.UI.ViewModel
@using CMS.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Manage Direct Sales";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

@model RequisitionViewModel

<script src="~/js/IMS/InventoryManagement/ManageRequisition.js"></script>

<div class="row" style="margin:10px;margin-bottom:60px;">

    <form asp-controller="InventoryManagement" asp-action="ManageRequisition" class="form-horizontal"  data-ajax-begin="onAjaxBegin" data-ajax-complete="onAjaxComplete"
          data-ajax-failure="onAjaxFailed" data-ajax-success="onAjaxSuccess"
          data-ajax="true" data-ajax-method="POST">
        <div class="text-danger" asp-validation-summary="All"></div>

        <fieldset>
            <legend style="margin-bottom:0px;">Requisition Information</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Requisition Date</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="RequisitionDate" id="RequisitionDate" class="form-control" required/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Item Head</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ItemHead" id="ItemHead" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Customer</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="Customer" id="Customer" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Proposal Code</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ProposalCode" class="form-control" readonly/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Requisition Particular</label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <input type="text" asp-for="RequisitionParticular" class="form-control" />
                    </div>
                   
                </div>
            </div>
        </fieldset>
        &nbsp;
        &nbsp;
        @*<fieldset>
            <legend style="margin-bottom:0px;">Project Information</legend>
            <div class="card pad-10" style="padding-top:0px;">

                <div class="row col-12" style="padding:10px;">

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Proposal Type<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ProposalType" id="ProposalType" class="form-control" required/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Proposal Source<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ProposalSource" id="ProposalSource" class="form-control" required/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Next Follow-up Date</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="NextFollowUpDate" id="NextFollowUpDate" class="form-control" />
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Competition With<span class="required">*</span></label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="CompetitionWith" class="form-control" required/>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Summary<span class="required">*</span></label>
                    </div>
                    <div class="col-9" style="padding-bottom:10px;">
                        <textarea asp-for="Summary" class="form-control" style="width:100%!important" required></textarea>
                    </div>

                    <div class="col-3" style="padding-bottom:10px;">
                        <label>Proposal Date</label>
                    </div>
                    <div class="col-3" style="padding-bottom:10px;">
                        <input type="text" asp-for="ProposalDate" id="ProposalDate" class="form-control" />
                    </div>

                </div>
            </div>
        </fieldset>*@
        <div class="row pad-10" style="float:right;">
            <input type="submit" class="btn btn-primary" value="Save" style="margin:5px;" onclick="OnSubmit()"/>
            <input type="button" class="btn btn-primary" value="Close" style="margin:5px;" onclick="closeNav()"/>
        </div>
        @Html.HiddenFor(x => x.DataAction)
        @Html.HiddenFor(x => x.ServiceId)
    </form>
</div>



