
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Request Call Back</title>
   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-Clean.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Newsletter-Subscription-Form.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/styles.css" rel="stylesheet" />
    <link href="~/Themes/VisionPioneer/Testimonials.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
</head>

<body>
    @*<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand nav-width" href="#">
                <div><img class="img-fluid" src="~/Themes/VisionPioneer/img/logo-vp.png"></div>
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">About Us</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Assessment</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ContactUs</a></li>
                </ul>
                <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">Languages</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: #81b445;">Request Call Back</a></span>
            </div>
        </div>
    </nav>*@
    <section class="banner-image" style="background-image: url('../../../../Themes/VisionPioneer/img/request-call-3.jpg');" >
        <div >
            <div class="container" style="padding-top: 30em; padding-bottom: 10em ;">
                <h1 class="text-white" style="font-size: 60px;font-style:italic">Reach Out to US</h1>
            </div>
        </div>
    </section>
    <section class="padding-top-bottom">
        <div class="container">
          
            <div class="row">
                <div class="col-md-6 vertical-center"><br>
                    <h1>Feel free to call us anytime</h1>
                    <p>Working Hours : Sunday To Thursday : 09am - 05pm</p>
                    <p style="font-size: 36px; color: #81b445;">+966-0114903855</p>
                </div>
                <div class="col-md-6">
                    <div class="form-container"><br>
                        <div class="row form-inputs top-spacing">
                            <div class="col"><input type="text" placeholder="Name" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Email" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div> 
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Phone" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col"><input type="text" placeholder="Subject" style="color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: solid;border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 1px solid white;width: 100%;"></div>
                        </div>
                        <div class="row form-inputs">
                            <div class="col" style="width: 100%;"><textarea style="width: 100%;color: rgb(255,255,255);background: rgba(255,255,255,0);border-style: none;border-bottom: 1px solid white;" placeholder="Message"></textarea></div>
                        </div>
                        <div class="row form-inputs ">
                            <div class="col"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">Send</button></div>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </section>
  
    @*<section class="footer padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Services</strong><br></h3>
                    <p class="text-white">Complete Talent Acquistion</p>
                    <p class="text-white">Organizational Transformation</p>
                    <p class="text-white">Human Resource Consultancy</p>
                    <p class="text-white">Developing Strategies</p>
                    <p class="text-white">Technology Services</p>
                    <p class="text-white">Corporate Alignment &amp; Branding</p>
                    <p class="text-white">Web and Content Designing</p>
                    <p class="text-white">Other Services</p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <h3 class="text-white"><strong>Company</strong><br></h3>
                    <p class="text-white">About Us&nbsp;</p>
                    <p class="text-white">Contact Us</p>
                    <p class="text-white">Company Profile</p>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 text-center"><button class="btn btn-primary" type="button" style="border-style: none;background: #81b445;">Request Call Back</button></div>
            </div>
            <div class="row"><div class="col-md-12 text-white"><hr></div>
                <div class="col">
                    <p class="text-white">©&nbsp;2022&nbsp;Vision Pioneers<br></p>
                    <p class="text-white">This website is designed &amp; commissioned by Vision Pioneers.<br></p>
                </div>
            </div>
        </div>
    </section>*@
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>