@inject Synergy.App.Common.IUserContext _userContext
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/Themes/SynergyFunding/_BaseLayout.cshtml";
}
@section bg
{
    <div class="context-dark">
        <!-- Modern Breadcrumbs-->
        <section>
            <div>
                @RenderSection("title", required: false)
            </div>
        </section>
    </div>
}
@RenderBody()
