@using CMS.UI.ViewModel;


@{
    ViewData["Title"] = "Manage View";
    //Layout = "/Views/Shared/_PopupLayout.cshtml";
    Layout = "/Areas/Cms/Views/Shared/_LayoutCms.cshtml";
}

<h3>@ViewBag.Title</h3>




