.circle {
    width: 130px;
    height: 130px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
    text-align: center;
    border: 10px solid gray;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}

.card {
    min-width: 300px;
    max-height: 100%;
    float: left;
    margin-left: 25px;
    border: none !important;
}

.card-header {
    background-color: #fff !important;
    border-bottom: none !important;
}

.card-body {
    border: 1px solid #006699; /*#c5c2c2;*/
    border-radius: 6px;
    padding: 0px !important;
   /* max-height: 180px;*/
}

.card-body-col {
    /*background-color: #178c92;*/
    color: #fff;
    border-radius: 0px 6px 6px 0px;
}

.k-listview {
    border-style: none !important;
}

.k-listview-content {
    overflow: hidden;
    display: flex;
}

.scrollbtn {
    background-color: #4E4D4D;
    color: white;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    border-radius: 2px;
}

.quickaccess {
    height: 150px;
    width: 300px;
    cursor: pointer;
}

.caticon {
    width: 130px;
    height: 130px;
    border-radius: 6px;
}

.statuscount {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 6px;
    border-left: 1px solid #006699; /*#c5c2c2;*/
}

.statuscountcom {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #006699; /*#c5c2c2;*/
    border-top: 1px solid #006699; /*#c5c2c2;*/
}

.statuscountrej {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-left: 1px solid #006699; /*#c5c2c2;*/
    border-top: 1px solid #006699; /*#c5c2c2;*/
}

.taskcount {
    padding-bottom: 20px;
}
