.hero-banner {
    /*background-image: url("hero-banner.png");*/
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    /*clear: both;*/
    margin: 15px 0 26px 0;

}

.title-aboutus {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  color: #B45248;
  padding: 20px 0;
}

.gen-text {
  font-family: poppins;
  font-size: 16px;
  color: #353535;
  text-align: justify;
  line-height: 32px;
  padding: 0 20px 0 0;
}

.about-text {
  width: 50%;
  /*float: left;*/
}

.but-bg {
  background-color: #E8E5DE;
  height: 32px;
  border-radius: 20px;
}

.read-more {
  float: right;
  padding: 4px 20px;
  margin: 0;
}

.about-img {
  width: 50%;
  float: left;
}

.mid-body {
  width: 90%;
  margin: 0 auto;
  padding: 2px;
  clear: both;
}

.services {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  clear: both;
}

.service-block {
  padding: 10px;
  height: auto;
  float: left;
}

.service-caption {
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  text-align: center;
}

.Title-PG {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 6px 0;
  display: block;
  clear: both;
  font-family: poppins;
  font-size: 18px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  color: #B45248;
  padding: 20px 0;
}

.gal-img-block {
  width: 100%;
  height: auto;
  padding: 14px;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  box-shadow: 1px 4px #bababa;
  margin: 0 0 12px 0;
}

.gal-img-caption {
  margin: 0 auto;
  text-align: center;
  padding: 4px;
  width: 100%;
  display: block;
  font-family: poppins;
  font-size: 14px;
}

.gallery-img {
  clear: both;
  padding: 0;
  margin: 10px 0 2px 0;
  text-align: center;
}

.PG-block {
  width: 90%;
  display: block;
  clear: both;
  margin: 60px auto;
}

.map {
  border-radius: 20px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.footer-container {
  padding: 0;
  margin: 0 auto;
  background-color: #643126;
  width: 100%;
  color: #fff;
}

.footer-body {
  margin: 0 auto;
  background-color: #643126;
  font-size: 16px;
  color: #ffffff;
  width: 90%;
}

.copyright {
  text-align: center;
  background-color: #350E05;
  color: #ffffff;
  clear: both;
  margin: 0;
}

.footer-block-1 {
  width: 100%;
  padding: 10px 0 0 10px;
  margin: 10px auto;
  float: left;
}

.footer-block-2 {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.footer-menu-1 {
  width: 50%;
  float: left;
  padding: 10px;
  margin: 10px auto 0;
  line-height: 30px;
}

.footer-menu-2 {
  width: 50%;
  float: left;
  padding: 10px;
  margin: 10px auto 0;
  line-height: 30px;
}

.social-icon {
  padding: 0;
  margin: 0 0 10px;
  float: left;
  height: 40px;
  width: 50px;
}

.copyright-text {
  padding: 16px 0 0 0;
  margin: 0;
  text-align: center;
  line-height: 16px;
}

.divider-line {
  border-top: 1px solid #ffffff;
}

.aboutus-body {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  height: auto;
}

.footer {
  width: 90%;
  margin: 0 auto;
}

.hero-banner {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

.no-horz-bar {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.third-level-menu-bg {
  background-color: #ffffff;
  height: 175px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #dadada;
}

.sec-level-menu-bg {
  background-color: #F5EBBC!important;
  height: 155px;
 /* width: 95%;*/
  border-radius: 20px;
}

.L-block {
  width: 40%;
  padding: 0;
  float: left;
  margin: 0;
}

.R-block {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}

.service-name {
  clear: both;
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
}

.menu-block {
  width: 325px;
  height: 140px;
  float: left;
  margin: 8px 0;
}

.service-title-2 {
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    margin: 18px 0;
    text-align: right;
    float: right;
    color: black !important;
}

.service-title {
  font-size: 14px;
  font-family: poppins;
  font-weight: 500;
  white-space: nowrap;
  margin: 18px 0;
  text-align: right;
  float: right;
  color:black !important;
}


.vert-divider {
  border-right: 1px solid #bababa;
  height: 108px;
  padding: 0;
  margin: 0 0 0 8px;
  width: 1px;
  float: right;
}

